[2020-02-18 19:51] ykuijs commented on #1121
Implemented in v4.0-dev branch via PR #1156

[2020-02-18 19:51] #1121 closed

[2020-02-18 20:01] ruandersMSFT commented on #1161
@ykuijs Correct.  I will test accordingly.  I need a way to either call each Zone independently, or the parameters need to support null (which means ignore).  I am pursuing that null/ignore path.

[2020-02-18 20:51] ykuijs opened #1173 "[Util module] Improve Convert-SPDscHashtableToString function to support complex types in arrays and ciminstance type"
#### Details of the scenario you tried and the problem that is occurring
The current functions outputs the type names of objects in arrays, for example
[code]

It also does not support the CIMInstance type.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Add support of complex types in an array and CIMInstance type in general

#### The DSC configuration that is use

[2020-02-18 21:35] ykuijs commented on #1157
@ruandersMSFT Did you submit a PR with this change already? I cannot find it anywhere

[2020-02-18 21:37] ruandersMSFT commented on #1157
@ykuijs Not yet.  Code change done, was going to look to add a test or two.  When are you planning to release v3.8?

[2020-02-18 21:38] ykuijs commented on #1157
As soon as possible. I would like to merge all current PRs and implement one more update to the new CI system. Hopefully later this week/early next week.

[2020-02-18 21:57] ruandersMSFT commented on #1164
@ykuijs I have the changes in progress and will have in a PR today.

[2020-02-19 01:31] ruandersMSFT commented on #1164
Testing demonstrates _IsReplicable_ not found via _CoreProperty_ or _TypeProperty_ :
![image](https://user-images.githubusercontent.com/16927960/74792955-221d7680-527c-11ea-8efe-6cbc84b9621c.png)

Also need to review consideration of Replicable setting only available when _Default Privacy Setting_ is changed from _Only Me_ to _Everyone_:

![image](https://user-images.githubusercontent.com/16927960

[2020-02-19 08:19] ThomasLie commented on #1164
Hi guys,

as per Microsoft  the property can be set:

public bool IsReplicable { get; set; }

https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.server.userprofiles.profiletypeproperty.isreplicable?view=sharepoint-server

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Büroservices GbR
Ilse-Pohl-Strasse 67
63303 Dreieich - Germany

Fon: +49 171.262

[2020-02-19 21:02] ykuijs commented on #1165
Closed via PR #1170

[2020-02-19 21:02] #1165 closed

[2020-02-20 16:04] considerITman commented on #1034
Hi Thomas,

It appears that you were able to resolve the issue within the day.
Could you kindly point me towards the solution?

Thanks!
Alex

[2020-02-21 09:00] ThomasLie commented on #1034
Hi Alex,

It's been almost a year since I opened the issue...honestly, I can't remember...sorry...

Regards,
Thomas

[2020-02-21 09:06] ThomasLie commented on #1079
Hi Yorick,

a bit late...

My client disabled CredSSP completely...this caused some other issues as well...

Computer Configuration | Administrative Templates | System | Credentials Delegation

I good guide, how to configure CredSSP via GPO can be found here:
https://www.jfe.cloud/how-to-enable-credssp-for-powershell-remoting-through-gpo/

Regards,
Thomas

[2020-02-21 09:15] ThomasLie commented on #1096
Well, you should consider that some companies will use GPOs to configure Firewall settings, In this case you won't be able to activate or deactivate any firewall rules...PS will not return any errors, however the setting will not be effective.

Why not simply stopping IIS, this should cause any LB to switch to any other WFE...

Regards,
Thomas

[2020-02-21 09:16] considerITman commented on #1034
Hi Thomas,

no worries, thanks for taking the time to get back to me!

Take care,
Alex

[2020-02-21 10:00] andikrueger commented on #1096
Good feedback on Firewall Settings beeing controlled by GPO.

@ykuijs and I discussed "stopping IIS" before. By stopping IIS we will not be able to do some manual testing during the update process.

[2020-02-21 13:21] #1157 closed

[2020-02-21 13:21] #1164 closed

[2020-02-21 13:26] considerITman commented on #1034
For anyone with the same issue:
**Check your ProductKey Parameter!**

Learn from my mistakes - SP2019 will expect a valid SP2019 license key 😅

[2020-02-21 23:03] #1173 closed

[2020-02-21 23:03] #1160 closed

[2020-02-24 16:34] ThomasLie opened #1176 "New resource for creating search query rules"
Hey guys,

do you think this is possible?

### Description
New resource for creating Search query rules

### Proposed properties / features
The resource should include these properties:
- Query condition
- MatchingOptions
- SubjectTermsOrigin
- Add result block
- Sorting
- Ordering

Regards,
Thomas

[2020-02-26 06:35] ruandersMSFT opened #1177 "SPWorkflowService: SPSiteUrl Parameters Not Used"
## Details of the scenario you tried and the problem that is occurring

The SPSiteUrl parameter of SPWorkflowService is defined, but never utilized / is not implemented anywhere within the code.  Parameter should be either deprecated or implemented, whichever is appropriate.

#### Verbose logs showing the problem

Code review.

#### Suggested solution to the issue

Deprecate or implement, whicheve

[2020-02-26 06:36] #1177 closed

[2020-02-26 06:39] ruandersMSFT commented on #1177
Disregard, it's late ;)

[2020-02-26 09:02] EtsHere commented on #1075
SPFarm CreateSPFarm{
            # Kontod peavad olema SP Masinas Local Adminnid + SQL serveris SYSADMIN'id
            IsSingleInstance         = "Yes"
            Ensure                   = "Present"
            ServerRole               = "Custom"
            DatabaseServer           = $Node.SQLAlias
            FarmConfigDatabaseName   = $Node.FarmConfigDatabaseName
            AdminContentData

[2020-02-26 10:17] EtsHere commented on #1075
Installed all SP and Win updates. Still same.

[2020-03-02 23:52] ruandersMSFT opened #1179 "SPFarmSolution: 'Cannot find error' thrown when 'Absent'"
#### Details of the scenario you tried and the problem that is occurring

Running SPFarmSolution with Ensure = 'Absent' against a solution that does in fact not exist throws an exception that the solution could not be found.  It should not throw this exception when it does not exist, and the resource is set to Absent, as a Solution that does not exist and configured to be Absent is correct state.

[2020-03-03 00:44] ruandersMSFT commented on #1179
Further testing has identified two bugs in near proximity towards the end of Set-TargetResource:

Bug 1)  The call to Wait-SPDscSolutionJob fails because the solution does not exist.  We should only be waiting for a Solution Job for an Ensure = 'Present' solution.

Bug 2)  The code for Remove-SPSolution is executed for a solution that is already known to be absent, thus throwing an error that the

[2020-03-03 15:35] ruandersMSFT commented on #1179
Successful run with Farm Solution 'Absent' verified by code changes:

![image](https://user-images.githubusercontent.com/16927960/75791490-deba1200-5d29-11ea-9932-5879aeb2a665.png)

[2020-03-03 15:35] #1179 closed

[2020-03-04 08:49] considerITman commented on #1075
I'm getting the same error on a Windows Server 2016 with SharePoint 2019.
Updates are installed, Permissions to the DB are correct.
I'm configuring a different role (ApplicationWithSearch) but other than that, it's the same configuration as @EtsHere is using.

[2020-03-05 13:11] ykuijs commented on #1075
Any events in the event log??

This article (about SP2010) is describing an issue with SQL aliases not being created, which result in event 5586 in application log: http://www.adventuresinsharepoint.co.uk/2013/10/10/failed-to-connect-to-the-configuration-database-when-adding-a-server-to-a-farm/

Is your SQL server behind a firewall or has the Windows Firewall enabled? Are you using a named instanc

[2020-03-05 15:15] ykuijs commented on #1179
In the future: Please leave the issue open when submitting the PR. Merging the PR will automatically close the issue ;-)

[2020-03-05 15:22] ykuijs commented on #1176
Of course this is possible. Marked this as help wanted.

[2020-03-05 15:25] ykuijs commented on #1034
Thanks for updating the issue with your solution, even though the problem was between the keyboard and the chair 😆

[2020-03-05 15:36] ThomasLie commented on #1034
Well, my client provided a SP2016 Key for a SP2019 installation 😉

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Büroservices GbR
Ilse-Pohl-Strasse 67
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: thomas@lieftuechter.de<mailto:thomas@lieftuechter.de>
Web:  http://www.lieftüchter.de/TL

Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte

[2020-03-05 21:25] bminisi commented on #1159
Hi @ykuijs we upgraded to 3.7 and seems to be working now.  Thanks for the suggestion.

[2020-03-05 21:25] considerITman commented on #1034
Maybe I can save someone a bunch of hair 😉
Layer 8 errors happen 😂

[2020-03-06 07:25] considerITman commented on #1075
I've read through the article and those are all things I tried already. It's indeed a named instance and there is an alias. I recreated the Alias (manually as well as per DSC) to make sure it's correct.
Connectivity to the SQL server _should_ not be the issue - the config database is created in the right place with the right permissions and the PSRunasCredentials are the same for the initial DB-cr

[2020-03-10 09:11] EtsHere commented on #1075
nothing in Event Viewer

[2020-03-11 13:14] EtsHere commented on #1075
There are loads of these similar warnings, different DLL's:
Removal of an assembly from the global assembly cache failed:  C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\16\policy\Policy.15.0.Microsoft.SharePoint.Translation.dll Policy.15.0.Microsoft.SharePoint.Translation,Version=16.0.0.0

[2020-03-12 08:29] PowershellNinja opened #1181 "Module: Commands are not exported with Version 3.8.0"
#### Details of the scenario you tried and the problem that is occurring
I am having the issue that for me no cmdlet/function is actually exported from the module:
![SharepointDSC](https://user-images.githubusercontent.com/12686296/76500394-c55b4900-6440-11ea-9ebf-7da4ef3d4c0f.PNG)

#### Verbose logs showing the problem
The Import is happening but the Export is missing:
[code]

#### Suggested solu

[2020-03-13 07:17] EtsHere commented on #1075
Running:
New-SPConfigurationDatabase -DatabaseServer $DBServer -DatabaseName $DBConfig - $DBCAdmin -Passphrase $Passphrase -FarmCredentials $PSFarm -LocalServerRole Custom

New-SPCentralAdministration -Port "5000" -WindowsAuthProvider "NTLM" -Verbose

Works fine.

[2020-03-13 20:00] ykuijs commented on #1075
Is this happening on all servers you are trying to join to the farm? Do you see anything in the ULS log?

@EtsHere The New-SPConfigurationDatabase will create a new ConfigDB. What happens if you try Connect-SPConfigurationDatabase?

[2020-03-17 20:22] ykuijs commented on #1181
Hi @PowershellNinja, thanks for reporting this!

I noticed this changed behaviour during the conversion to the new CD/CI pipeline, but couldn't find why this happened. So I implemented some workarounds (manual import) in the module itself to fix the issue.

May I ask what you are using these methods for? They are intended to be internal to the module.

[2020-03-18 08:47] considerITman commented on #1075
I had to move to a manual installation for now, so sadly I won't be able to help with further narrowing that down.

[2020-03-19 11:03] ThomasLie commented on #1176
Hi guys,

had a little tim today and like to propose a solution...just a quick and dirty one...

What do you think?

[MSFT_SPSearchQueryRule.zip](https://github.com/dsccommunity/SharePointDsc/files/4354078/MSFT_SPSearchQueryRule.zip)

Regards,
Thomas

[2020-03-20 07:45] ykuijs commented on #1176
Hi @ThomasLie, this looks like a great first draft. Can you submit this work via a PR, so I can review it properly and provide feedback?

[2020-03-27 02:44] ruandersMSFT commented on #1161
Current testing / findings identify that Test-ZoneConfiguration (because of the Mandatory = $true parameter condition) does not accept a present but empty collection (with error 'cannot bind argument to parameter DesiredConfig because it is an empty array').  Finding indicates that calls made to Test-ZoneConfiguration will be to be prevalidated to ensure they have a valid (non empty) value.  If nu

[2020-03-27 03:53] ruandersMSFT commented on #1161
Finding is that the use of $PSBoundParameters.ContainsKey() was not facilitating test for null parameter value.  Code has been updated to directly test the parameter itself, as it is passed in as a parameter in the functions and can be directly evaluated (which then validates if present but null).

[2020-03-27 18:45] #1134 closed

[2020-03-27 18:45] #1161 closed

[2020-03-30 23:22] ruandersMSFT commented on #1167
Bug Identified in SPSearchAuthoritativePage, call to Get-TargetResource for a Demoted Action still contains a PowerShell pipe which is also passed as a Parameter.

![image](https://user-images.githubusercontent.com/16927960/77971049-f8a82f80-72aa-11ea-9e2e-ec08f7ed3391.png)

[2020-03-31 07:11] EtsHere commented on #1075
Tested only on one server. Had to continue with manual steps to get further.

[2020-03-31 11:32] #1167 closed

[2020-03-31 12:27] ykuijs commented on #1181
Hi @PowershellNinja Any update?

[2020-03-31 13:20] ykuijs commented on #1167
Fix will be included in the v4.0 release.

[2020-03-31 19:58] ruandersMSFT commented on #1031
First identified bug on line 401 contains two $ signs and does not map to the correct value.

![image](https://user-images.githubusercontent.com/16927960/78069526-7e81b480-7357-11ea-8e29-6860b44f250c.png)

[2020-04-01 16:20] ruandersMSFT commented on #1031
With the code change in place for fixing SearchServiceInstance, the null reference exception was fixed and a new error is presented:

![image](https://user-images.githubusercontent.com/16927960/78161234-6155f000-7402-11ea-8a1d-9c96627ee443.png)

[2020-04-02 08:54] considerITman opened #1187 "Service: Username mismatch (Domain replaced with '.')"
**This is a cross post of [the one I made on the Service Resource.](https://github.com/PowerShell/PSDscResources/issues/181)
I tried commenting out the Service Block and I get the same error.
Maybe this is more suitable here.**

#### Details of the scenario you tried and the problem that is occurring
I'm trying to ensure the tracing service to be in running state with the right identity. I'm passi

[2020-04-09 12:18] considerITman commented on #1187
I switched over to the community module and used xService - this resolved the issue.

[2020-04-09 12:18] #1187 closed

[2020-04-14 08:37] ykuijs commented on #1181
@PowershellNinja Any update? And which function are you trying to use here?

[2020-04-14 08:38] ykuijs commented on #1159
Closing issue

[2020-04-14 08:38] #1159 closed

[2020-04-27 14:09] considerITman opened #1190 "SPConfigWizard: fails with "Upgrade not possible, not all servers have the same binaries installed" after CU"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to install CUs by using SPProductUpdate and running SPConfigWizard afterwards.
The updates install perfectly (according to DSC) but the ConfigWizard fails with "Upgrade not possible, not all servers have the same binaries installed"

I can see that the updates are installed by observing the log at:
[code]
The lowes

[2020-04-28 09:20] #1190 closed

[2020-04-28 09:21] considerITman commented on #1190
timer service had been misconfigured and was unable to start timer jobs.

[2020-04-28 10:44] nikhillotia opened #1191 "DSC SPFarm module error"
Your feedback and support is greatly appreciated, thanks for contributing!

    ISSUE TITLE:
    Getting an error when running DSC Sharepoint farm
    'SharePoint DSC: Credential prompt not accepting credentials and passpharise prompting to enter user name and password.

    ISSUE DESCRIPTION (this template):
    Please provide information regarding your issue under each header below.
    Write N/

[2020-04-28 11:30] ykuijs commented on #1191
Hi @nikhillotia

When you are using resources that require credentials, you need to do one of two things:

1. Secure the MOF file by creating a encryption certificate, as described [here](https://docs.microsoft.com/en-us/powershell/scripting/dsc/pull-server/securemof?view=powershell-7)
   - **Recommended** method
   - Will **encrypt** the used passwords in the MOF file.
   - Requires a little work

[2020-04-28 11:32] ykuijs commented on #1181
Closing issue due to inactivity by creator. Please reopen the issue if you have any additional comments.

[2020-04-28 11:57] nikhillotia commented on #1191
thank you for the response Yorick.  I added below two lines in configuration but now getting error.

PSDscAllowPlainTextPassword = $true
PSDscAllowDomainUser 	= $true

At E:\Scripts\spfarm.ps1:30 char:3
+         PSDscAllowPlainTextPassword = $true
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~
The member 'PSDscAllowPlainTextPassword' is not valid. Valid members are
'AdminContentDatabaseName', 'Application

[2020-04-28 13:31] ykuijs commented on #1191
You should be using a ConfigurationData variable for this. For example:

[code]

[2020-04-28 14:41] nikhillotia commented on #1191
this worked! Appreciate all your help.

[2020-04-28 14:41] #1191 closed

[2020-04-28 15:27] ykuijs commented on #1191
You are welcome!

[2020-04-28 18:28] ykuijs commented on #1143
I had some more time troubleshooting this issue. As it turns out there has been a change between the SP2016 and SP2019 language packs: In SP2019, the language packs were called
Language Pack for SharePoint and Project Server 2016  - Chinese (PRC)/中文(简体)
Language Pack for SharePoint and Project Server 2016  - Chinese (Taiwan)/中文 (繁體)

Apparently in SP2019, they are named:
Language Pack for SharePoi

[2020-04-29 10:25] philippe-entringer opened #1193 "SPConfigWizard | The term 'Get-SPFarm' is not recognized as the name of a cmdlet"
#1180 ## Details of the scenario you tried and the problem that is occurring
The SPConfigWizard calls the Get-SPDscServerPatchStatus Util method which cause the error.

#### Verbose logs showing the problem
`
VERBOSE: [CONTENTFARM]:                            [[SPConfigWizard]APPLICATION_PSConfig_Master]
Setting status of Configuration Wizard
The term "Get-SPFarm" is not recognized as the name of

[2020-04-29 10:39] ykuijs commented on #1193
Hi @philippe-entringer, thanks for reporting this issue. I just reviewed the code and see what is going on here. I will fix the issue and submit a new Bugfix PR.

[2020-04-29 15:00] philippe-entringer opened #1195 "SPConfigWizard | launch Get-SPProduct -local to refresh the Config Database"
#
![patch status](https://user-images.githubusercontent.com/12797998/80611577-0f24e080-8a3b-11ea-9880-004f74b7dfa6.png)
## Details of the scenario you tried and the problem that is occurring
When Patchin the farm with SPConfigWizard, one of my server is giving "Missing Required" int the Manage Patch Status. I had to manually launch the command "Get-SPProduct -local" to refresh the configuration ca

[2020-05-03 09:16] jensotto commented on #1139
In SharePoint 2019 and SharePoint Online you are not supposed to be able change the text in the Suite Nav. As far as I can tell this is now meant to indicate what application in Office 365 the user is currently using, and changing this to a custom value can be confusing. This is probably why it's no longer supported to change SuiteNavBrandingText as you could for previous versions of SharePoint.
T

[2020-05-04 18:00] pessimism opened #1198 "SPAppCatalog resource should not depend on CredSSP"
## Details of the scenario you tried and the problem that is occurring
-Use SPAppCatalog resource to set App Catalog site in an environment without CredSSP, using the farm administrator account as PsDscRunAsCredential

-Resource fails as it is coded to force the user to use a non-farm admin account which then retrieves the farm account but requires CredSSP.  This behaviour is contrary to every oth

[2020-05-05 08:05] Bjorn80 opened #1199 "SPWebAppAuthentication: Add management of "Require Use Remote Interfaces", "Custom Sign in page" and AllowAnonymousAuth"
#### ISSUE TITLE:
    'SPWebAppAuthentication : NTLM, anonymous and FBA on default zone'

####ISSUE DESCRIPTION
How would i go by and set all these settings on the default Zone?

-Enable anonymous access
-Require Use Remote Interfaces permissions
-Enable Windows Authentication and Integraded Windows authentication NTLM
-Enable Forms Based Authentication (FBA)
-Custom sign in page

In the example o

[2020-05-05 12:09] pessimism opened #1200 "SPServiceInstance does not wait for service to fully start"
#### Details of the scenario you tried and the problem that is occurring
-Set a new or slow-loading service instance to Ensure="Present"
-Perform an operation dependent on the service
-The dependent operation can fail causing the DSC run to fail due to the service being in "Provisioning" state and not fully started

#### Verbose logs showing the problem
...
App Management Service           **Provi

[2020-05-07 21:46] ykuijs commented on #1199
Enabling anonymous access can be done via the SPWebApplication resource, but only for the Default zone (which is your requirement). Most probably it would be best to move this setting to the SPWebAppAuthentication resource.

The "Require Use Remote Interfaces" and "Custom sign in page" currently cannot be configured using any resource. But this can be added.

The other three requirements can be ad

[2020-05-07 21:49] ykuijs opened #1201 "General: Removing InstallAccount from being returned in the Get-TargetResource methods"
#### Details of the scenario you tried and the problem that is occurring
Many resources are returning the InstallAccount parameter in their Get-TargetResource method. This is not required and only adds noise to the results. This can be removed.

#### Verbose logs showing the problem
VERBOSE: [SPBE19]:                            [[SPDiagnosticLoggingSettings]ApplyDiagnosticLogSettings] Current Valu

[2020-05-07 21:51] ykuijs opened #1202 "SPAppCatalog: Adding more logging in Get method"
#### Details of the scenario you tried and the problem that is occurring
The Get method in SPAppCatalog currently doesn't return much logging why it is returning a certain result. This makes troubleshooting more difficult.

#### Suggested solution to the issue
Add more logging

#### Version of the DSC module that was used
dev

[2020-05-07 21:54] ykuijs opened #1203 "SPSite: Test returns failed because of the CreateDefaultGroups parameter, even when it is not specified in the config"
#### Details of the scenario you tried and the problem that is occurring
The Test method of the SPSite resource fails because of the fact that the CreateDefaultGroups is False, even though the parameter is not specified in the config and therefore should not be evaluated.

#### Suggested solution to the issue
Improve the check for presence of the CreateDefaultGroups parameter

#### Version of the

[2020-05-07 22:03] ykuijs opened #1204 "SPSite: Get method throws an error when the OwnerLogin isn't in claims format when the web app is set to claims"
#### Details of the scenario you tried and the problem that is occurring
The Get method of SPSite throws an error when the OwnerLogin isn't in claims format when the web app is set to claims
[code]
This is caused by the fact that the New-SPClaimsPrincipal is used to convert the claim into classic format.

This issue can be caused by a migrated site collection where the owner is still in classic fo

[2020-05-07 22:09] ykuijs commented on #1198
In the past that was the way the resource operated, but this meant that the Farm account required local administrative permissions in order to run successfully. Without these permissions the farm account would get Access Denied errors. And since granting the Farm account is against various security best practices, we decided to change this behavior.

Right now we retrieve the farm account, tempora

[2020-05-08 06:08] Bjorn80 commented on #1199
@ykuijs ykuijs , thank you very much!!:-)

[2020-05-08 06:58] Bjorn80 commented on #1199
Minus the comma between the MSFT_SPWEBAuthenticationMode:

                    Default              = @(
                MSFT_SPWebAppAuthenticationMode {
                    #AuthenticationMethod = "WindowsAuthentication"
                    AuthenticationMethod = "NTLM"
                }
                MSFT_SPWebAppAuthenticationMode {
                    AuthenticationMethod = "FBA"

[2020-05-08 07:00] ykuijs commented on #1199
@Bjorn80 You are welcome. Reopening this issue to track the potential enhancements to SPWebAppAuthentication:

- Allow configuration of "Require Use Remote Interfaces" and "Custom sign in page"
- Move the AllowAnonymous from SPWebApplication to SPWebAppAuthentication (breaking change on SPWebApplication)

[2020-05-08 18:51] ykuijs opened #1205 "SPWebAppPermissions: Throws an exception in Get method when the web app is not found"
#### Details of the scenario you tried and the problem that is occurring
The Get method of SPWebAppPermissions throws an exception when the specified web app is not found. This is causing a Test-DscConfiguration run to error out.

#### Suggested solution to the issue
Change the logic to display an error message instead and just have the Set method throw the exception.

#### Version of the DSC modu

[2020-05-08 19:00] ykuijs opened #1206 "Generic: Event logging is not working"
#### Details of the scenario you tried and the problem that is occurring
The newly added event log functionality is not working properly. The event log isn't created and therefore no events are logged.

#### Suggested solution to the issue
Fix issue

#### Version of the DSC module that was used
dev 4.0

[2020-05-08 21:58] ykuijs commented on #1139
Checked with a colleague and it is indeed no longer working in SP2019. This means we have to extend the version checks to show warnings when SP2019 is used.

[2020-05-11 13:03] ykuijs opened #1207 "Question: Dropping PowerShell v4 support?"
Currently SharePointDsc includes support for PowerShell v4, which means each resource contains an InstallAccount parameter and some code to elevate the System session to this account. The downside of this method is the requirement of CredSSP for all resources.

PowerShell v5 introduced the PsDscRunAsCredential which natively configures the LCM to use a different account. This method doesn't requir

[2020-05-11 13:50] PowershellNinja commented on #1181
Hi @ykuijs, please excuse my delayed answer.
I am using these commands in the context of the SharePointDSC.Reverse (https://github.com/microsoft/SharePointDSC.Reverse) and ReverseDSC (https://github.com/microsoft/ReverseDSC), although I am not maintaining these modules, merely trying to get them to run and it seems they rely on "Invoke-SPDscCommand".

[2020-05-11 14:32] ykuijs commented on #1181
Great, thanks for your feedback.

@NikCharlebois: As the creator of the ReverseDsc modules, does the SharePointDsc.Reverse use the Invoke-SPDscCommand cmdlet??

[2020-05-11 14:33] #1193 closed

[2020-05-11 14:33] #1201 closed

[2020-05-11 14:33] #1202 closed

[2020-05-11 14:33] #1203 closed

[2020-05-11 14:33] #1205 closed

[2020-05-11 14:33] #1206 closed

[2020-05-11 19:23] andikrueger commented on #1093
This is an issue that is common across several DSC resources. IMHO Test should only test required and bound parameters.

Is there any option available to make this test more generic and get rid of the problem of implementing a workaround for each resource?

Pseudo-Code for a helper function to get some information:

[code]

[2020-05-12 16:28] philippe-entringer commented on #1195
After multiple test to install CU in Pull mode, after the binaries installation, one of my server

I fixed this issue with the following code in **MSFT_SPConfigWizard.psm1**
`        if ($statusType -ne "UpgradeRequired" -and $statusType -ne "UpgradeAvailable")
        {
            Write-Verbose -Message ("WARNING: Upgrade not possible, not all servers have the " + `
                    "same bin

[2020-05-13 06:34] PowershellNinja commented on #1181
@ykuijs @NikCharlebois Sorry I remembered the cmdlet incorrectly, it was "Get-SPDSCInstalledProductVersion" that is used by SharePointDSC.Reverse, not "Invoke-SPDscCommand" :)

[2020-05-13 10:46] NikCharlebois commented on #1181
Adding @colinhj and @robegoja

[2020-05-14 11:18] andikrueger commented on #1207
I tend to remove the support for PowerShell v4. All combinations of Windows Server and SharePoint Server can be updated to PowerShell 5.1 or do come with PowerShell 5.1 installed.

This change could impact SharePoint 2013 and 2016 customers with old OS. For SharePoint 2019 it will not be of any impact.

SharePoint Version | Windows OS | PowerShell | WMF 5.1
----|----|----|----
2013|2008 R2 SP1|4|x

[2020-05-14 12:03] ykuijs commented on #1093
I believe we need to implement something in each resource. Unfortunately the $PSBoundParameters variable only contains the explicitly specified parameters, not any default value for unspecified parameters. There is [a way](https://www.briantist.com/how-to/splatting-psboundparameters-default-values-optional-parameters/) to create a new variable with both the specified and default parameters, but th

[2020-05-14 12:57] andikrueger commented on #1093
@ykuijs good find!

Do I understand it correctly: We would need to do the following steps to fix this issue:
- Go through all resources
- Check for any implementation that's not using $PSBoundParamters for `Test-SPDscParameterState`
- add every "default value parameter" to `$PSBoundParameters` object

[2020-05-14 15:03] ykuijs commented on #1093
I believe all resource already have this implemented, else the unit tests couldn't have been created successfully :-)

@Yvand I was just reviewing the SPTrustedSecurityTokenIssuer resource you were referring to. I noticed that the IsTrustBroker parameter has a default value of $true, but the code in the Test method that populates this parameter in PSBoundParameters the value was set to $false. Whi

[2020-05-14 16:19] Yvand commented on #1093
[IsTrustBroker ](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-sptrustedsecuritytokenissuer?view=sharepoint-ps) parameter is an optionnal SwitchParameter: you specify it or not, and it does not take any value.
So the answer to your question is arbitrary. My opinion: by default it should be present (so have default value $true in the DSC resource)

[2020-05-15 11:25] ykuijs commented on #1093
Ok great, but then the code does not work correctly. You also specified the following
[code]
So if the IsTrustBroker isn't specified, PS sets it to True as default value. However because default values are not included into the PSBoundParameters variable, you set it to false here. Same is true in the Set method.

I will submit a PR correct the issue

[2020-05-15 14:53] ykuijs opened #1208 "SPProductUpdate: Get method throws an error when the setup file is not found"
#### Details of the scenario you tried and the problem that is occurring
The Get method of SPProductUpdate throws an error when the setup file is not found. This breaks Test-DscConfiguration runs. Nicer is that it displays a message and only the Set method throws an error.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Change to a Verbose message in the Get method

[2020-05-15 15:18] ykuijs commented on #1195
This fix unfortunately won't be possible because this will only work on the local server.

When this resource runs on any other server1, but server2 is reporting the missing upgrade the upgrade won't be possible as well. But but running this command on server1 won't fix the issue either because server2 needs it.

The result of this cmdlet should also be accomplished by the "Product Version Job" ti

[2020-05-18 08:32] VerdonTrigance opened #1209 "Disabling feature returns error if feature already disabled"
ISSUE TITLE:
    MSFT_SPFeature.psm1: Disabling feature returns error if feature already disabled

    ISSUE DESCRIPTION (this template):

    PLEASE KEEP THE HEADERS.

MSFT_SPFeature.psm1: Disabling feature returns error if feature already disabled.

Guys, you again broke main DSC rule - idempotent! If you deactivate feature that already has been deactivated you getting the error. This is nonsens

[2020-05-19 22:49] ykuijs commented on #1207
@andikrueger It being a breaking change is the reason I bring it up early. We just released v4.0, which included a few breaking changes. I think 2023 is a little too far in the future, but it will be months before v5.0 will be released. So we are well in time to have this discussion ;-)

I agree with you. Most issues that are filed here are mentioning the use of PS5.1 anyways, but potentially some

[2020-05-19 22:53] ykuijs commented on #1209
Hi @VerdonTrigance Can you provide a little more logging? Preferable the logging of the Test just before the LCM tries to apply the desired state.

If the feature is already disabled, the Set method shouldn't be called unless the version parameter isn't in the desired state. Those are the two parameters we check on.

[2020-05-27 19:48] ykuijs commented on #1200
Great point, recently assisted a customer with troubleshooting an issue that was caused by this exact same problem. Will add some code to wait for the service to start.

[2020-05-27 21:00] brianlala commented on #1207
It's easy to simply make v5.1 a requirement since any machine currently running 4 can easily be upgraded, hence I see no reason not to drop support for v4 ASAP.

[2020-05-27 21:06] ykuijs commented on #1207
Totally agree, but there can be specific reasons companies cannot upgrade to PowerShell v5 we might be overlooking. Technical or otherwise 😉

[2020-05-28 09:57] VerdonTrigance commented on #1209
Khm. I forgot about it, because calling it explicitly. Sorry for that, I will check Test method later.

[2020-05-28 09:57] #1209 closed

[2020-06-02 13:17] #1093 closed

[2020-06-02 13:17] #1139 closed

[2020-06-02 13:17] #1181 closed

[2020-06-02 13:17] #1200 closed

[2020-06-02 13:17] #1204 closed

[2020-06-02 13:17] #1208 closed

[2020-06-02 19:58] ykuijs commented on #1095
Did some research on this issue and I believe that this code was added due to the fact there was an issue in SP2013. See [here](https://support.office.com/en-us/article/sharepoint-server-2013-known-issues-780242a6-236e-4d7a-8379-118a1aaa2a51) and search for RootDirectory.

It looks like this issue is resolved in SP2016 and later.

I suggest to change the code for SP2013 to the code mentioned in th

[2020-06-09 17:30] #1095 closed

[2020-06-11 14:09] ChristophHannappel opened #1214 "[SPOutgoingEmailSettings] Only the first eight characters of a custom log name are significant, and there is already another log on the system using the first eight characters of the name given. Name given: 'SharePointDsc', name of existing log: 'SharePoint Event Log'."
#### Details of the scenario you tried and the problem that is occurring
Trying to configure the Outgoing Email Settings in SharePoint Server 2013. When applying the configuration DSC is not happy about another Eventlog which also Starts with "SharePoint".
According to the error messages the uniqueness of a Eventlog Name is just checked on the first eight characters.

#### Verbose logs showing the

[2020-06-12 14:52] ykuijs commented on #1214
Hi @ChristophHannappel, thanks for reporting this. Apparently I did not have any logs named "SharePoint *", because I didn't encounter this issue during testing this functionality.

I will update the log name to SPDsc and push out a new version, v4.1.1

[2020-06-12 20:39] #1214 closed

[2020-06-12 20:43] ykuijs commented on #1214
CD/CI is working on the preview release. Once that is done, I will push the formal v4.1.1 release which contains this fix. Will be sometime tomorrow (June 13th).

[2020-06-15 13:28] ChristophHannappel commented on #1214
Thanks the new versions works great.

[2020-06-16 06:47] ykuijs commented on #1198
Another comment: You suggestion to add a FarmAdministratorCredential parameter will also require CredSSP to be configured.

The only way to prevent the use of CredSSP is to use the Farm account as PsDscRunAsCredential, but that method requires that the farm account has local admin privileges at all times. That is also an issue in most corporate environments.

So in short: I would love to remove th

[2020-06-16 06:47] #1198 closed

[2020-06-18 14:29] VerdonTrigance opened #1216 "MSFT_SPStateServiceApp: The specified database already exists."
ISSUE TITLE:
MSFT_SPStateServiceApp: The specified database already exists.

    ISSUE DESCRIPTION (this template):
Trying to install new sp farm 2019 from scratch in new clear VM brings some errors after which on second run I am getting such error. Previous run successfully creates database for StateService, but not the services itself.
Manual delete database and rerun doesn't help - it creates d

[2020-06-26 13:04] IlleNilsson opened #1217 "SPFarmAdministrators: SPFarmAdministrators fails with "An item with the same key has already been added""
Error Message: PowerShell DSC resource MSFT_SPFarmAdministrators  failed to execute Set-TargetResource
                  functionality with error message: An item with the same key has already been added

#### Details of the scenario you tried and the problem that is occurring
Just added one AD-group to Members in resource SPFarmAdministrators

#### Verbose logs showing the problem

#### Suggested

[2020-07-05 14:39] shurick81 opened #1218 "SPManagedMetadataServiceAppDefault: Documentation is not up to date"
#### Details of the scenario you tried and the problem that is occurring

Trying to provision Metadata Service Application connection

#### Verbose logs showing the problem

#### Suggested solution to the issue

Documentation https://github.com/dsccommunity/SharePointDsc/wiki/SPManagedMetaDataServiceAppDefault should be updated with current parameter set:

[code]
https://github.com/dsccommunity/Sh

[2020-07-07 14:29] DennisGaida opened #1219 "SPSecureStoreServiceApp: Missing option to set master key"
### Details of the scenario you tried and the problem that is occurring
I'm trying to set the master key for a fresh secure store service application. The SPSecureStoreServiceApp resource does not contain an option to set the master key / passphrase.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Add the option to set the master key / passphrase leveraging [`Update-SP

[2020-07-10 07:47] IlleNilsson commented on #1217
Found an entry in the new Event Log SPDsc. Farm Administrators group does not match the specified MembersActual: BUILTIN\administrators, <DOMAIN>\dscsetup, <DOMAIN>\spintfarm. Desired: <DOMAIN>\SpIntAdmins

[2020-07-10 08:58] IlleNilsson commented on #1217
Added all these accounts to SPFarmAdministrators.Members and get a failure that BUILTIN\Administrators can't be resolved, of course.

[2020-07-10 09:02] IlleNilsson commented on #1217
Changed from Members property to MembersToInclude and get this: <DOMAIN>\SpIntAdmins is not a Farm Administrator, but is included in MembersToInclude: <DOMAIN>\DscSetup, <DOMAIN>\SpIntFarm, <DOMAIN>\SpIntAdmins. Well yes, but isn't SPFarmAdministrators suposed to add the <DOMAIN>\SpIntAdmins group as SharePoint Administrators? It did in version 3.8.0 and earlier.

[2020-07-10 12:24] ykuijs commented on #1218
Ah yes, my apologies. Totally forgot to update the Wiki, thanks for letting me know!

FYI: We are working on an automated process to release documentation to the wiki, so this won't happen again ;-)

[2020-07-10 12:24] #1218 closed

[2020-07-10 12:26] ykuijs commented on #1217
You are absolutely right that using the Members parameter should configure just the accounts specified in there. Will have to do some investigation into what is going on here.

[2020-07-10 12:35] IlleNilsson commented on #1217
Thanks, I’ve tried for a PR but I’m not too good at debugging DSC.

If you have any good resources of how to debug DSC, please send them to me and I’ll work on my DSC debugging skils.

BR // Ilian

From: Yorick Kuijs <notifications@github.com>
Sent: den 10 juli 2020 14:27
To: dsccommunity/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Author <author@n

[2020-07-10 12:38] ykuijs commented on #1217
The easiest is to enable debugging and use the ISE to step through the code:
https://docs.microsoft.com/en-us/powershell/scripting/dsc/troubleshooting/debugresource

Just create a config with just this resource and push that to the server. As soon as the deployment is started it will wait for a breakpoint and display the information you can use in another ISE instance to connect to the process. Af

[2020-07-10 12:43] ykuijs commented on #1217
@IlleNilsson Can you share the DSC verbose logging of the SPFarmAdministrators resource for this issue and the issue when adding BUILTIN\Administrators?

[2020-07-10 12:44] ykuijs commented on #1217
FYI: You can use the script you find [here](https://raw.githubusercontent.com/ykuijs/Powershell/master/Dsc/DSCLogParser.ps1) to check find the logs of all previous DSC runs.

[2020-07-10 12:51] IlleNilsson commented on #1217
Thanks

From: Yorick Kuijs <notifications@github.com>
Sent: den 10 juli 2020 14:39
To: dsccommunity/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Author <author@noreply.github.com>
Subject: Re: [dsccommunity/SharePointDsc] SPFarmAdministrators: SPFarmAdministrators fails with "An item with the same key has already been added" (#1217)

The easiest is

[2020-07-10 12:51] IlleNilsson commented on #1217
Thanks

From: Yorick Kuijs <notifications@github.com>
Sent: den 10 juli 2020 14:45
To: dsccommunity/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [dsccommunity/SharePointDsc] SPFarmAdministrators: SPFarmAdministrators fails with "An item with the same key has already been added" (#1217)

FYI: You can

[2020-07-10 12:55] IlleNilsson commented on #1217
I only added BUILTIN\Adminstrators since it was in the original error log entry as to what should be there as SP Farm Administrators.

I’ve never wanted BUILTIN\Adminstrators to be an SP Farm Administrator.

I’ll try to get the logs out for you. I’m going on holiday for three week, sailing, so I’ll try on a rainy day in a port.

Thanks a bunch for all the work you and others do for the OS communit

[2020-07-10 12:59] ykuijs commented on #1217
I agree with that, usually the Domain Admins are also part of the BUILTIN\Administrators and you don't want them to also be SharePoint Admin. But since you said that you got an error when adding that group, I was wondering what that could have been.

Since the group was already in there, it doesn't make sense it reported that it could not be resolved. I also just tried to add the group on my test

[2020-07-10 20:51] ykuijs opened #1220 "SPContentDatabase: Resource does nothing if Ensure isn't specified."
#### Details of the scenario you tried and the problem that is occurring
The resource has a default value for the Ensure parameter, but in the Set method this isn't passed into Invoke-SPDscCommand. Default values aren't in the PSBoundParameters and the code isn't adding that to that variable, like it does in the Test method.

#### Verbose logs showing the problem
N/A

#### Suggested solution to th

[2020-07-10 21:50] ykuijs commented on #1216
Hi @VerdonTrigance Do you have a little more info (like the Verbose logging) of the reason why the SPFarm resource fails? And are you 100% sure no database with the name "dev02_State" exists on the database server?

[2020-07-11 13:03] VerdonTrigance commented on #1216
Yes, I'm definitely sure there is no such database in SQL Server. I reproduced it twice more before posting this. I placed verbose log above, so I'm not sure what do you mean by 'verbose logging'. Is there any other log exists?
I gave up with DSC and installed Sharepoint manually. But may be in this month I will do installation for another VM and reproduce this again to collect more logs.

[2020-07-14 10:51] ykuijs commented on #1216
With Verbose logging I mean the logging that DSC outputs to the screen if you use the -Verbose parameter with the Start-DscConfiguration cmdlet. You can also find this logging by opening an **elevated** PowerShell window and running:
[code]
Then check for the json file of the timestamp on which you ran the Start-DscConfiguration cmdlet. Use "notepad [filename]" from the same PowerShell window to o

[2020-07-14 15:12] ykuijs commented on #1143
@xenophobentx Quick question: I just got a report of another customer that experienced an issue after this fix, the exact reverse of what you were having.

As it turns out their Chinese SP2019 Language Pack on their environment was still called "Chinese (PRC)" as opposed to your situation. So I downloaded the Chinese language pack myself and installed it on my test environment. There it was also c

[2020-07-14 15:18] ykuijs opened #1221 "SPFarmSolution: Web application compare fails when the URLs don't end with slashes"
#### Details of the scenario you tried and the problem that is occurring
When the specified URLs do not end with slashes, the web app compare fails, resulting in False from the Test method.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Strip all slashes from both the Current and Desired values.

#### The DSC configuration that is used to reproduce the issue (as detai

[2020-07-17 11:57] Yvand opened #1222 "Invoke-SPDscCommand cannot be used in a Script resource since v3.8"
#### Details of the scenario you tried and the problem that is occurring

Since SharePointDsc 3.8, I can no longer use Invoke-SPDscCommand in a Script resource.

#### Verbose logs showing the problem

It fails with this error:
`PowerShell DSC resource MSFT_ScriptResource  failed to execute Set-TargetResource functionality with error message: The
term 'Invoke-SPDscCommand' is not recognized as the

[2020-07-21 11:43] ykuijs commented on #1222
Hi @Yvand This is correct. With the conversion to the new CD/CI pipeline using the internal SPDsc cmdlets no longer worked. Initially I had no clue why this happened, but recently someone pointed me to the right direction. I will add this cmdlets in a next version of SPDsc.

[2020-07-21 14:41] Yvand opened #1223 "First run of DSC fails at SPTrustedIdentityTokenIssuer, if property ClaimProviderName is omitted/null/empty"
#### Details of the scenario you tried and the problem that is occurring

First run of DSC fails at SPTrustedIdentityTokenIssuer if property ClaimProviderName is omitted, or null/empty
I always repro, with all SharePoint versions 2019/2016/2013, but only the 1st time DSC runs.

#### Verbose logs showing the problem

Sorry, I didn't keep them, but it failed in cmdlet Get-SPClaimProvider

#### Sugge

[2020-07-28 20:38] mdimartino10450 opened #1225 "Configuration comparison feature"
#### Details of the scenario you tried and the problem that is occurring

We have two SharePoint farms and would like to be able to view configuration differences the same as Microsoft365Dsc resource.

[2020-07-28 21:44] #1223 closed

[2020-07-29 06:56] ykuijs commented on #1216
Fix implemented in next Bugfix PR

[2020-07-30 11:53] #1143 closed

[2020-07-30 11:53] #1219 closed

[2020-07-30 11:53] #1220 closed

[2020-07-30 11:53] #1221 closed

[2020-07-30 11:53] #1222 closed

[2020-07-30 11:54] ykuijs commented on #1216
Fixed via PR #1226

[2020-07-30 11:54] #1216 closed

[2020-07-30 20:13] ykuijs commented on #1217
Just tried to reproduce. It works on SP2019, but on SP2016 I am getting the same error! Now working on finding the root cause!

[2020-07-30 20:48] ykuijs commented on #1217
Found the root cause. Now figuring out how to solve it :-)

[2020-07-30 21:14] ykuijs commented on #1217
Issue resolved, will be included in my next bugfix PR

[2020-07-30 21:42] ykuijs commented on #1195
@philippe-entringer Do you have an update?

[2020-07-31 02:44] IlleNilsson commented on #1217
Thanks a lot, you Rock!

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Thursday, July 30, 2020 11:14:26 PM
To: dsccommunity/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [dsccommunity/SharePointDsc] SPFarmAdministrators: SPFarmAdministrators fails with "An item w

[2020-07-31 06:58] ykuijs commented on #1195
You can start the timer job on all servers by using the following command:
[code]

[2020-07-31 13:41] philippe-entringer commented on #1195
It worked with the command
Thanks Yorick.

[2020-07-31 15:15] ykuijs commented on #663
Have been able to create a reproduction!

Environment: Single server with SQL 2012 SP4 and SharePoint 2013 SP1, SQLServerDsc v14.2.0, SharePointDsc (Dev version), SQLPS installed via https://sqlpadawan.com/2018/08/01/how-to-install-sql-server-sqlps-powershell-module/

- Scenario 1: Using SQLPS, one SQL and one SP resource, using same PSDscCredential account: Error is thrown.
- Scenario 2: Using SQ

[2020-07-31 15:16] ykuijs commented on #912
Managed to reproduce the issue. More info [here](https://github.com/dsccommunity/SharePointDsc/issues/663#issuecomment-667173870).

[2020-08-10 15:05] ykuijs commented on #663
Did some more troubleshooting:
When loading the SQLPS module, the PSModulePath variable is changed to this value:
[code]

It looks however that this is placed back to the original value with time. When I debug the resource and step through the code, after a couple of seconds, the PSModulePath value is correct again. Since the SQLPS module is a binary module, I have to use reflector to look into th

[2020-08-10 15:34] ykuijs commented on #663
Just to make sure:
Because the PSModulePath is updated, the SharePointDsc module cannot be found and therefore all the functions inside the Utils module are also not found.

For now the best solution is to update to the SQLServer module, since the SQLPS is [no longer updated](https://docs.microsoft.com/en-us/sql/powershell/sql-server-powershell?view=sql-server-ver15):

Can anyone that encountered

[2020-08-10 15:38] ykuijs commented on #912
@bminisi I need some confirmation for a possible solution/root cause.

Were you using SQLPS to manage the SQL installation? It looks like that is the cause. For now the best solution is to update to the SQLServer module, since the SQLPS is no longer updated:

Can you this issue test if it also occurs when using SQLServer instead of SQLPS??

[2020-08-10 18:54] johlju commented on #663
I have never encountered that the path is changed when importing SQLPS module. `$PSModulePath` should always contain the path to the SQLPS module (as far as I know it is set during install of SQL Server). I have never seen it changing `$PSModulePath` during import.

[2020-08-11 07:19] Yvand opened #1227 "Property ClaimProviderName is no longer actually set in resource SPTrustedIdentityTokenIssuer"
#### Details of the scenario you tried and the problem that is occurring

Commit 5d914d766663dd7b507fbcf4f7edf5aac016a472 introduced a regression in resource SPTrustedIdentityTokenIssuer:
Property ClaimProviderName is no longer actually set by Set-TargetResource, due to a bad test.
I already fixed it, I'll submit a PR soon.

#### Verbose logs showing the problem

#### Suggested solution to the iss

[2020-08-19 11:46] shurick81 commented on #1030
I think it was also related to this behavior: #1221

[2020-08-20 17:28] shurick81 opened #1229 "SPWeb absent always tested with False outcome"
#### Details of the scenario you tried and the problem that is occurring

Trying to make sure that a subweb is missing.

#### Verbose logs showing the problem

Start:

[code]

Web site is properly removed. However the test is showing False:

[code]

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

[code]

#### The opera

[2020-08-21 06:49] mschaaks opened #1230 "SPUserProfileServiceApp throws error interactive mode"
This occurs using version 3.7.0.0 of SharePoint DS when deploying a SharePoint 2016 farm on Windows Server 2019 standard:

VERBOSE: [NLRTBSRV6SPWBD1]: [[SPUserProfileServiceApp]UserProfileServiceApplication] Executing using a provided credential and local PSSession as user **[user name]** PowerShell Desired State Configuration does not support execution of commands in an interactive mode. Please e

[2020-08-21 06:56] mschaaks opened #1231 "SPSubscriptionSettingsServiceApp: SPSubscriptionSettingsServiceApplicationProxy already exists"
#### Details of the scenario you tried and the problem that is occurring

SP2016 deployment in push mode on windows server 2019

#### Verbose logs showing the problem

VERBOSE: [NLRTBSRV6SPWBD1]: [[SPSubscriptionSettingsServiceApp]SubscriptionServiceApplication] Leaving BeginProcessing Method of New-SPSubscriptionSettingsServiceApplicationProxy.
A SPSubscriptionSettingsServiceApplicationProxy with

[2020-08-24 11:44] shurick81 commented on #962
Hi, it's been a while. i wonder if it is something done already or is it something that community can help with?

[2020-08-24 12:40] shurick81 opened #1232 "IsPaused Property of the SPSearchServiceApp"
### Description

Would not it be great to have a separate resource or a property of the SPSearchServiceApp resource that allows controlling the IsPaused property of the search service application?

### Proposed properties

IsPaused, boolean property.

### Special considerations or limitations

[2020-08-24 12:49] shurick81 opened #1233 "SPSearchServiceApp is Creating a New SA Even with Existing DB"
#### Details of the scenario you tried and the problem that is occurring

Trying to restore the search service application from existing database. For example, in DR recovery scenario or blue-green deployments or stage infrastructure or for v2v upgrade scenarios.

#### Verbose logs showing the problem

Current version of the SharePointDsc module is using `New-SPEnterpriseSearchServiceApplication`,

[2020-08-24 20:25] shurick81 opened #1234 "Broken Example on SPServiceAppSecurity Wiki Page"
On the https://github.com/dsccommunity/SharePointDsc/wiki/SPServiceAppSecurity page in Example 1, `@("Manage Profiles", "Manage Social Data")` does not go well together with `SecurityType         = "SharingPermissions"`. One of them should be changed.

[2020-08-25 16:28] shurick81 opened #1235 "[New Resource] SPService"
### Description

In SharePoint 2016/2019 there is a new feature, service auto provisioning. A few corresponding PowerShell commands also were introduced:

- Get-SPService
- Start-SPService
- Stop-SPService

It would be nice to be able to use DSC to control auto provisioning of one or another service on the farm.

### Proposed properties

Pretty much the same as for
https://github.com/dsccommunity/

[2020-09-05 20:16] ykuijs commented on #1234
Good spot. Will be corrected in my next bugfix PR.

[2020-09-05 20:26] ykuijs commented on #1233
Good point. SPFarm is using some code to check if the ConfigDB exists. We can reused that code here.

[2020-09-05 21:06] ykuijs commented on #1232
There are many reasons why a search service application would be paused:
https://docs.microsoft.com/en-us/sharepoint/search/manage-a-paused-search-service-application
Only when the SSA has been paused manually is it a good idea to resume manually. In all other cases, SharePoint has a reason to pause the SSA.

I am a bit in doubt is DSC is a good place to manage the state of this setting. Usually t

[2020-09-05 21:11] ykuijs commented on #1229
I found the reason for this issue. Will be included in my next Bugfix PR.

[2020-09-05 21:16] #1227 closed

[2020-09-08 12:37] ykuijs commented on #1233
Documenting info:
[New-SPEnterpriseSearchServiceApplication](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spenterprisesearchserviceapplication)
[Restore-SPEnterpriseSearchServiceApplication](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/restore-spenterprisesearchserviceapplication)

[2020-09-08 14:57] ykuijs commented on #1233
Hi @shurick81, I have been investigating this change some more. What is the exact scenario you are trying to accomplish?

The documentation for the Restore cmdlet, I see this:

Which scenario are you looking for?

[2020-09-09 16:13] NikCharlebois commented on #1232
As @ykuijs mentioned, I wouldn't recommend managing 'stateful' config using DSC. In an ideal situation, you would have something like this:

SPSearchServiceApp Before
{
      IsPaused = $true
}
SP[Whatever to do the upgrade]
{
   ...
}
SPSearchServiceApp After
{
    IsPaused = $false
}

The problem with this is that if your consistency check is done while you are not trying to do an update, the Te

[2020-09-09 17:54] shurick81 commented on #1233
Let me put it like this. I have a Disaster Recovery farm precreated. Then when necessary, I want to restore the copy of the administration database from production to the SQL instance of the DR farm and then run a DSC configuration that will attach it.

According to my test, using `New-SPEnterpriseSearchServiceApplication` results in missing all my custom content sources in the service application

[2020-09-09 18:07] shurick81 commented on #1232
I did not know that SA can be paused automatically for some reasons so what we want to handle is probably manual "start". However, I don't really see the contradition to the fact that DSC config defines an end state picture. In my definition of end state this service application should be up and running fully, so it should be "unpaused". That is the desired state. I totally get the example regardi

[2020-09-14 10:51] ykuijs opened #1237 "[SharePointDsc HQRM] Update Pester tests to support Pester v5"
Right now most Pester tests are using the v3 syntax, which is no longer working in Pester v5. The release process hasn't switched over to Pester v5 yet, but will in the future. This means we need to update the Pester tests to the most recent syntax.

[2020-09-14 11:18] gaelcolas commented on #1237
Bear in mind that PS5 does not yet support code coverage, so it's relatively low in the priority list (for Johan/Daniel and I at least).
That said, it's God to be prepared.

[2020-09-15 07:33] #1217 closed

[2020-09-15 07:33] #1229 closed

[2020-09-15 07:33] #1234 closed

[2020-09-15 07:34] ykuijs commented on #1237
Fair point! My goal was to prepare SPDsc for PSv5 but not yet move over ;-)

[2020-09-21 16:15] adruet29 commented on #1207
I agree too, in all our farms it is not an issue to upgrade to 5.1 (most of them already are), so I do not see any reason not to drop v4 support for my environment.

[2020-09-22 12:22] jensotto commented on #1139
I disagree with this being an issue and that this has been changed. It's not invalid or an error to modify the Suite Bar properties on the web application object for SharePoint 2019. It works perfectly fine if you are using a master page that supports it (for eksample a SharePoint 2013 master page) as I've mentioned before regarding the same functionality. It is not up to SharePointDSC to decide i

[2020-09-25 09:25] ykuijs opened #1241 "[SPFarm] Resource cannot handle precreated databases"
### Details of the scenario you tried and the problem that is occurring
If you precreate the Config and AdminContent databases in SharePoint, the logic in this resource does not detect that this is an empty database but assumes it is a fully provisioned database and tries to join the farm. This fails with the error message that is shown below.

#### Verbose logs showing the problem
[code]

#### Su

[2020-09-25 09:26] ykuijs commented on #1241
Am working on the fix, and will submit a PR soon

[2020-09-28 09:57] Fiander commented on #1241
Hi kyuijs,
If people are precreating databases, wouldn't that be because they don't want to give DBCreator rights?
If so, than the *_Lock database is a big pain that would prevent this.

Could the *_Lock database be changed in a *_Lock table in the TempDB?
This would allow to work without DBCreator,
Automatic backup procedures won't make a backup of the lock database.
when a installation fails, th

[2020-09-28 19:23] #1237 closed

[2020-09-29 07:52] ykuijs commented on #1241
Hi @Fiander, this is a very good point! In the case where I encountered this issue, not having DBCreator permissions isn't the reason why they were using precreated databases. They wanted to create databases with a specific configuration (number of data files, data file locations, etc.).

I will discuss your idea with some colleagues to see if we might overlook some issues when we implement this i

[2020-09-29 19:55] ykuijs commented on #1241
First fix has been pushed to master. Still looking into changing the Lock database to a Lock table.

[2020-10-02 06:57] ykuijs commented on #1232
Not necessarily. Why would the end state always be that the service application would be fully running? I can imagine there are specific situations that the desired end state would be: "A Search SA that is in a Paused state". For example when you are performing a migration and don't want to delete the SSA just yet, but don't want it running as well.

And what if the SA has been paused for a techni

[2020-10-02 06:57] #1232 closed

[2020-10-02 07:02] ykuijs commented on #1235
We have the SPMinRole resource that checks if all servers are compliant with the MinRole configuration. Isn't this new resource overlapping (partly) with that resource?

Can you give an example in which scenario you would use this new resource?

[2020-10-02 08:11] shurick81 commented on #1235
Hi, SPService should work together with SPMinRole, but not replacing one another.
The scenario is, for example, running "Microsoft SharePoint Foundation Sandboxed Code Service" service in the farm.

Here's how Microsoft offers to achieve that:
`Start-SPService -Identity "Microsoft SharePoint Foundation Sandboxed Code Service"`
https://docs.microsoft.com/th-th/powershell/module/sharepoint-server/st

[2020-10-06 01:54] ralish opened #1244 "SPWordAutomationServiceApp: Multiple DSC runs required to apply configuration"
#### Details of the scenario you tried and the problem that is occurring

When configuring the Word Automation Services application multiple DSC runs are required to obtain the expected configuration, even though the earlier run is shown as completing successfully. While the WAS application is deployed on the first run, certain configuration settings are not applied.

#### Verbose logs showing the

[2020-10-15 09:45] adruet29 opened #1245 "MSFT_SPSearchTopology: "Waiting for search service instance to start" because search service instance is disabled"
#### Details of the scenario you tried and the problem that is occurring
One thing important, this is a two node deployment using custom role where both servers share all roles.
The SearchTopology is configured on the first node without issue, but never succeeds to start the search service instance on the second node because its status is not "offline" it is "disabled".

#### Verbose logs showing

[2020-10-23 19:53] ykuijs commented on #1244
I have checked the code and I see the cause. When creating a new service application, not all properties are set. Will update the resource to correct this.

[2020-10-23 21:06] ykuijs commented on #1245
Included in my next Bugfix PR

[2020-10-23 21:06] ykuijs commented on #1244
Included in my next Bugfix PR

[2020-10-23 21:25] ykuijs commented on #1231
Hi @mschaaks Is your environment new or did it already contain service applications?

[2020-10-23 21:28] ykuijs commented on #1231
And can you post the results of the Get-SPServiceApplication and Get-SPServiceApplicationProxy cmdlets?

[2020-10-23 21:48] ykuijs commented on #1230
Hi @mschaaks How did you config CredSSP? Are you using the [xCredSSP resource](https://github.com/dsccommunity/SharePointDsc/wiki/Remote-sessions-and-the-InstallAccount-variable#option-2-configure-credssp-through-a-dsc-resource)? Can you share the commands used or the used config? And did you configure the client and server side of CredSSP?

[2020-10-24 00:29] ralish commented on #1244
That's awesome, thanks @ykuijs.

[2020-10-26 14:51] shurick81 opened #1248 "SPUserProfileProperty: multiple AD property mapping"
#### Details of the scenario you tried and the problem that is occurring

Trying to map `FirstName` profile property to two AD attributes. As the result, I only get one attribute mapped:
![image](https://user-images.githubusercontent.com/11289124/97186813-0ae73f00-17a2-11eb-84c1-d3e10707e711.png)

#### Verbose logs showing the problem

Start:
[code]

Test:

[code]

#### Suggested solution to the i

[2020-10-27 14:43] ykuijs opened #1249 "[SPSecureStoreServiceApp] Custom database name, server and other settings not used anymore"
#### Details of the scenario you tried and the problem that is occurring
The Secure Store service app update made in v4.3 created a regression where custom the database name, server and other settings were not used anymore.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Add custom parameters back to the New-SPSecureStoreServiceApplication cmdlet

#### The DSC conf

[2020-10-27 15:09] ykuijs commented on #1195
Will be included in my next Bugfix PR

[2020-10-27 15:39] ykuijs commented on #1002
Closing this issue since it is caused by SharePoint itself. If there is a way to resolve this issue using PowerShell, please add as a comment so we can implement it.

[2020-10-27 15:39] #1002 closed

[2020-10-27 15:47] ykuijs commented on #912
This issue is most probably caused by the fact that SQLPS is used and both the SQL and SP resources are using the same PsDscRunAsCredential. More details are described [here](https://github.com/dsccommunity/SharePointDsc/issues/663#issuecomment-667173870).

Closing the issue since the solution is to use the SQLServer module instead and SQLPS is no longer updated.

[2020-10-27 15:47] #912 closed

[2020-10-27 15:48] ykuijs commented on #663
This issue is most probably caused by the fact that SQLPS is used and both the SQL and SP resources are using the same PsDscRunAsCredential. More details are described [here](https://github.com/dsccommunity/SharePointDsc/issues/663#issuecomment-667173870).

Closing the issue since the solution is to use the SQLServer module instead and SQLPS is no longer updated.

Please add comments if these solu

[2020-10-27 15:48] #663 closed

[2020-10-27 16:17] ykuijs commented on #790
Since this issue was last updated 2.5 years ago, I am going to close this issue. If the issue still occurs, please add a comment to this issue and include as much details as possible, so we can continue troubleshooting.

[2020-10-27 16:17] #790 closed

[2020-10-28 10:23] ykuijs commented on #870
The resource is already using the suggested code. Just tested the Get method on an environment where I deleted the global search center and it looks like the issue works as expected.

@NikCharlebois If you are able to reproduce the issue with v4.3, please let me know so we can troubleshoot the issue. Closing issue.

[2020-10-28 10:23] #870 closed

[2020-10-28 10:28] ykuijs commented on #1075
We need more information to reproduce/troubleshoot this issue, which unfortunately cannot be provided anymore. Closing this issue for now.

Please provide further details if you experience this issue as well. Make sure you use the most recent version of SharePointDsc and provide as much information as possible.

[2020-10-28 10:30] ykuijs commented on #1039
Closing this issue due to lack of activity. Please provide more information if this issue still exists and try if the issue also occurs with the most recent version of SharePointDsc.

[2020-10-28 10:30] #1039 closed

[2020-11-04 19:38] ykuijs commented on #1231
@mschaaks Any update?

[2020-11-06 06:37] shurick81 opened #1252 "SPInstallPrereqs Fails with Exit Code 1620"
#### Details of the scenario you tried and the problem that is occurring

Due to the file http://go.microsoft.com/fwlink/?LinkId=622997 (SQL 2012 native client) is no longer available, SharePoint 2016 prerequisite installer cannot properly run and returns error.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

For example, one can use SQL 2012 SP4 native client

[2020-11-07 08:37] shurick81 commented on #1252
This page also, [Microsoft® SQL Server® 2012 Native Client - QFE](https://www.microsoft.com/en-us/download/details.aspx?id=50402) directs to https://download.microsoft.com/download/B/E/D/BED73AAC-3C8A-43F5-AF4F-EB4FEA6C8F3A/ENU/x64/sqlncli.msi, which is the same SQL 2012 SP4 as I wrote in the former comment. So this code also works:

[code]

[2020-11-10 08:49] shurick81 commented on #1252
Brian promised to ask around also: https://github.com/brianlala/AutoSPSourceBuilder/issues/76

[2020-11-10 20:00] #1245 closed

[2020-11-10 20:00] #1249 closed

[2020-11-10 20:00] #1195 closed

[2020-11-10 20:00] #1241 closed

[2020-11-10 20:00] #1244 closed

[2020-11-11 09:22] VerdonTrigance commented on #1075
@ykuijs  Same problem here. Dunno what kind of information you may need more.

My config:

[code]

And here is log:

[code]

Database created, permissions are fine.
@EtsHere Hi, did you find the reason?

[2020-11-11 10:22] ykuijs commented on #1075
Hi @VerdonTrigance, thanks for getting back to me. A few questions:

1. Does this happen every time/deployment?
1. What does your farm look like? Does this occur on every server in the farm?
1. Are you using precreated databases?
1. Can you share the ULS log?
1. I see you are using the Custom minrole. Does this also happen when you use a different minrole?
1. What patchlevel of SharePoint 2019 are

[2020-11-11 10:23] ykuijs commented on #1075
And what version of SharePointDsc are you using?

[2020-11-11 10:56] VerdonTrigance commented on #1075
@ykuijs
1. Every time
2. One server for everything except SQL + separate Sql Server
3. These databases was created by DSC previously, I just run config again.
4.
[issues_1075.zip](https://github.com/dsccommunity/SharePointDsc/files/5523550/issues_1075.zip)

5. I didn't try different roles, because I don't want to change it later.
6. I'm not sure. That from license volume center without any CU.
7.

[2020-11-11 11:15] ykuijs commented on #1075
Ok, here some findings:
The server is trying to join the farm, because it detects that the specified database already exists. But since this the only server in the farm it makes more sense to create a new config database. Can you try to delete the database and try again?

Reason I ask: I have seen an issue with SP2019 before where the initial creation of the farm failed inside of SharePoint itself

[2020-11-11 12:04] VerdonTrigance commented on #1075
@ykuijs
After deleting databases:
[issue_1075_ps.txt](https://github.com/dsccommunity/SharePointDsc/files/5523830/issue_1075_ps.txt)
First Error means "User does not exist or not unique"

[2020-11-11 14:14] ykuijs commented on #1252
Hi @shurick81, thanks for reporting this! You are absolutely right that the package no longer is available for download. You have to use the package supplied with the SQL Server 2016 Feature Pack. That one is fully supported:
https://www.microsoft.com/en-us/download/details.aspx?id=56833

I will make sure the resource is updated, both documentation and the code handling the error message.

[2020-11-11 17:52] shurick81 commented on #1252
Yes, so the prerequisite installer (and corresponding DSC resource) fails unless this component is preinstalled somehow before, from SQL Server 2016 Feature Pack SP2 or later version. I'm not sure, but maybe worth mentioning this in the DSC resource documentation?

[2020-11-11 21:21] centuryx476 commented on #1252
Hello,
Can I download manually the sqlncli.msi and drop it into the "PrerequisiteInstallerFiles" folder ?
This Link: https://www.microsoft.com/en-us/download/details.aspx?id=56833

[2020-11-12 07:25] shurick81 commented on #1252
I can try out. Do I have to specify the path in the SPInstallPrereqs resource?

[2020-11-12 07:43] ykuijs commented on #1252
@shurick81 I am updating both the documentation and the resource to refer to the Wiki when exit code 1620 is thrown.

@centuryx476 The resource does not process any of the specified prereq component parameters if you set OnlineMode to True. It will then always try to download any missing prereqs from the Internet.

[2020-11-12 11:10] VerdonTrigance commented on #659
@mattcowen I faced with same problem. But I didn't understand what did you mean.
I run command manually and it works, but not from DSC.
@ykuijs it related to issue #1075  I use PsDscRunAsCredential, not InstallAccount. I guess
[code]
from SPFarm resource may be connected to what happened.

[2020-11-12 16:31] ykuijs commented on #1075
Ok, so this issue is probably cause by the fact that the database isn't provisioned correctly during the first try. This leaves investigating why the error isn't very clear and why the database creation failed in the first place.

Can you share your full config?

[2020-11-12 22:19] shurick81 commented on #1252
Prerequisite installer was failing because the permalink http://go.microsoft.com/fwlink/?LinkId=622997 was pointing to https://download.microsoft.com/download/4/B/1/4B1E9B0E-A4F3-4715-B417-31C82302A70A/ENU/x64/sqlncli.msi, that is not available anymore. Now thanks to @brianlala, Microsoft has fixed the permalink and it points to SQL 2012 SP4 Native Client, https://download.microsoft.com/download/F

[2020-11-13 07:26] ykuijs commented on #1252
Since this issue is resolved (thanks @brianlala) I am going to close this issue.

[2020-11-13 07:26] #1252 closed

[2020-11-13 15:10] ykuijs commented on #1075
@VerdonTrigance Are you 100% sure all of the used accounts are in the domain\account format? The example you shared above unfortunately doesn't show this.

[2020-11-13 15:33] ykuijs opened #1258 "Verbose logging outputs credentials incorrectly"
#### Details of the scenario you tried and the problem that is occurring
The verbose logging outputs credential objects incorrectly. Instead of outputting the username, the object typename is written to the screen. This is done in the function Convert-SPDscHashtableToString and the SPFarm resource.

#### Verbose logs showing the problem
VERBOSE: [srv]:                            [[SPFarm]CreateSPF

[2020-11-13 16:32] ykuijs commented on #962
Am investigating this topic and checking with some colleagues. There is no formal statement that this method is supported, so possibly it isn't a good idea (from a supportability perspective) to implement this issue.

[2020-11-13 16:41] shurick81 commented on #962
So you think this method is not really fully supported by Microsoft?

[2020-11-13 20:55] #1258 closed

[2020-11-13 21:03] ykuijs commented on #962
If the method isn't officially documented, it is a risk to use the method.

I would recommend to raise an advisory case to get a formal supportability statement and ask what the supported method is to change the crawler temp directory.

[2020-11-16 10:27] VerdonTrigance commented on #1075
Khm, some of them are not. I'll check it again.

[2020-11-17 09:06] VerdonTrigance commented on #1075
I changed some properties of LCM to stop configuration after reboot and now I can't check what happening after installing Sharepoint:

[code]
How to show execution log as it was before?

[2020-11-18 08:00] jensotto opened #1262 "SPWebAppPolicy parameter type mismatch for Identity"
#### Details of the scenario you tried and the problem that is occurring

Any use of the SPWebAppPolicy resource.

#### Verbose logs showing the problem

PowerShell DSC resource MSFT_SPWebAppPolicy failed to execute Test-TargetResource functionality with error message:
Cannot convert 'System.Object[]' to the type 'Microsoft.SharePoint.PowerShell.SPWebApplicationPipeBind' required by
parameter 'Ide

[2020-11-18 08:05] ykuijs commented on #1262
Thanks for creating this issue!

Fixed in PR #1261, merged into Dev

[2020-11-18 08:05] #1262 closed

[2020-11-18 09:49] VerdonTrigance opened #1263 "SPSecureStoreServiceApp ignores DatabaseName property"
### Description

[code]
Results to creating database with name 'Secure_Store_Service_DB_5abb799c-fff4-4cad-9b6d-c5033280e51b'

Log:

[code]

PowerShell DSC 4.3.0
SharePoint Server 2019

### Proposed properties

### Special considerations or limitations

[2020-11-18 09:54] ykuijs commented on #1263
Hi @VerdonTrigance, thanks for reporting! This issue was reported earlier as well (#1249) and is fixed in v4.4. Please try that version to see if the issue is resolved on your environment.

[2020-11-18 11:08] ykuijs commented on #1075
Do you mean the Central Administration application pool, which is created a timestamp in the name? That is a left over from leaving and rejoining a farm. During the leave process, the CA application pool isn't deleted. When you then rejoin the farm and SharePoint tries to create the application pool, it detects it already exist and adds the timestamp. To prevent this issue, recreate the farm (incl

[2020-11-18 11:09] VerdonTrigance commented on #1263
4.4.0 works well. Thank you.

[2020-11-18 11:09] #1263 closed

[2020-11-18 11:48] VerdonTrigance opened #1264 "SPSearchServiceApp stuck for hours"
### Description

[code]

Result log is:

[code]

This is stuck for more than half day.

All accounts is "domain\user" format. Web application is created, ManagedPath too.
In ULS:

EventId - dji8 - The search service is not able to connect to the machine that hosts the administration component. Verify that the administration component ' ' in search application ' '...

Manual invoke of New-SPEnterpr

[2020-11-18 12:49] VerdonTrigance opened #1265 "SPWebApplication ignores database property (in some cases)"
[code]

I have few SPWebApplication resources. And they behaves strange. One of them ignores database name property and creates this:
WSS_Content_9b5537eb-a0c8-404b-bd04-169da401eaef
All others creates dev02_WSS_MySites and dev02_WSS_AppCatalog accordingly. Which looks strange for me. All difference is HostHeader property. I tried to remove them, restart owstimer and start again - the same.

Log i

[2020-11-18 12:58] VerdonTrigance commented on #1075
Issue with app pool's account I resolved with cleaning everything out and deleting pools, dbs and others. restarting everything and beginning from the start.
Issue with names of databases I open as another topic.

Now lets return to 'The type initializer for 'Microsoft.Office.Access.Services.BrandStrings' threw an exception.' error. It was years ago and still here. I faced with it when used AutoSP

[2020-11-18 14:24] ykuijs commented on #1075
To my recollection, it is the first time I hear about this issue. Few questions:

- The last time you encountered the issue, was that with SP2019 as well?
- Do I it correctly understand that the issue also occurs when you run Install-SPService from a regular PowerShell console? In that case, it sounds like an issue in SharePoint itself and isn't related to SharePointDsc. Creating a regular support

[2020-11-18 14:45] VerdonTrigance commented on #1075
I'm not sure, but it may be related to 2013 farms too. (it was really years ago...)
Answer to second question is 'yes' it happens with regular powershell, not DSC.

[2020-11-18 14:57] ykuijs commented on #1075
Ok, in that case creating a support case with Microsoft Support would be your best option. They have access to the SharePoint source code and therefore can troubleshoot and fix this issue much better than we can.

[2020-11-20 20:46] ykuijs commented on #659
Update from the other issue:
Make sure you always specify all accounts in Domain\User format. This issue can be caused by the fact that you don't.

[2020-11-20 20:48] ykuijs commented on #962
Got some more replies from support engineers. They all say doing this is not recommended. The way to do this is to reinstall SharePoint and make sure it is installed on the correct drive.

This implementing this can result in supportability issues, I am going to close this issue.

[2020-11-20 20:48] #962 closed

[2020-11-25 12:48] ykuijs commented on #1265
Is this the log you shared of the actual deployment run? The reason I ask is that the MySite and AppCatalog web applications already exist and just the Portal one is created.

[2020-11-25 14:54] ykuijs commented on #1265
Just tested a web application deployment on SP2019, which worked as expected. So we need more information to troubleshoot this issue. What does the ULS log say about the deployment of the web app?

[2020-11-25 15:06] ykuijs commented on #1231
Closing issue due to inactivity. Please reopen the ticket if it still occurs and or if you have more information.

[2020-11-25 15:06] #1231 closed

[2020-11-25 15:10] ykuijs commented on #1075
Back to the original issue: This was caused by not using credentials in domain\user format. Closing this issue now.

@VerdonTrigance For the other issue: If you are able to reproduce the issue, please contact Microsoft support to have it investigated and possibly fixed.

[2020-11-25 15:10] #1075 closed

[2020-11-25 15:22] ykuijs commented on #1230
@mschaaks Any update?

[2020-11-25 15:24] ykuijs commented on #1230
And can you share the output of Get-WSManCredSSP?

[2020-11-25 17:16] VerdonTrigance commented on #1265
@ykuijs
Yes. This is a real log. I gave up with DSC few days ago. While it should be faster than manual deployment actually it’s not. Every time I faced with powershell DSC I struggle with it.

[2020-11-25 17:16] #1265 closed

[2020-11-25 17:16] VerdonTrigance commented on #1265
@ykuijs
Yes. This is a real log. I gave up with DSC few days ago. While it should be faster than manual deployment actually it’s not. Every time I faced with powershell DSC I struggle with it.

[2020-11-26 07:22] ykuijs commented on #1265
Hi @VerdonTrigance, that is too bad to hear. I know the learning curve for DSC can be quite steep. It is something we are working on making sure training material and troubleshooting tools is created.

Did you have issues with DSC in general or SharePointDsc specific? Do you have any suggestions on how we could have made your experience better?

[2020-11-26 10:08] VerdonTrigance commented on #1265
Most problems was related to:
1. Proxy
2. Fact that it executes from system account and disability to run under account without "AllowLogonLocally" permission (all service accounts usually doesn't have such permission in enterprise).
3. Huge problems with Package Management such as complicated logic (I have to check a lot of stuff before upgrade or install package), distributing package sources, p

[2020-12-02 11:25] petepuu opened #1267 "SPUserProfileServiceApp: MySiteHostLocation paramater should not be mandatory"
ISSUE TITLE: MSFT_SPUserProfileServiceApp: MySiteHostLocation paramater of should not be mandatory

ISSUE DESCRIPTION:
MySiteHostLocation parameter should not be mandatory as in some cases there is no need to create mysites even that User Profile Service Application deployed. New-SPProfileServiceApplication cmdlet has parameter set available which does not have MySiteHostLocation required

https:/

[2020-12-02 13:27] rurikon opened #1268 "SPSearchResultSource doesn't allow an empty ScopeUrl"
#### Details of the scenario you tried and the problem that is occurring

https://github.com/dsccommunity/SharePointDsc/wiki/SPSearchResultSource instructs that if you want to set a global result source, you should leave ScopeUrl empty. However, setting an empty string will result in an error saying it's not allowed, and leaving the parameter out will say it's required. But it looks like setting S

[2020-12-03 08:02] ykuijs opened #1269 "[SPWordAutomationServiceApp] Creating the service application doesn't add it to the default proxy group"
#### Details of the scenario you tried and the problem that is occurring
Most service applications are automatically added to the default proxy group. This isn't true for the Word Automation service app. The New-SPWordConversionServiceApplication cmdlet has a "-Default" parameter that allows you to specify that it needs to get added. Unfortunately the SPWordAutomationServiceApp doesn't use this pa

[2020-12-03 12:54] ykuijs opened #1271 "[SPUserProfileSyncConnection] Resource does not update the sync connection if the UseSSL setting isn't in the desired state"
#### Details of the scenario you tried and the problem that is occurring
The UseSSL setting is only used during creation of the connection. If the setting changes once the connection is already created, these settings aren't updated.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Update the resource so it updates the UseSSL setting is updated.

#### The DSC configurat

[2020-12-03 13:01] ykuijs commented on #1271
There is no way of updating the UseSSL or UseDisabledFilter settings. We are retrieving these settings using reflectoring. The only way is to delete the connection and recreating it again.

[2020-12-03 16:34] ykuijs commented on #1268
Hi @rurikon Thanks for reporting the issue. I have been able to reproduce the issue and now looking for a solution.

[2020-12-03 16:45] ykuijs commented on #1268
@rurikon I just looked at the code and if I am not mistaking, if you specify ScopeName = "SSA" it doesn't matter what you enter as value for the ScopeUrl parameter. Are you able to confirm?

[2020-12-03 18:15] IlleNilsson opened #1272 "Adding AD groups as members in various places"
In some places in SharePoint you can't add groups, only users.

This is an administrative pain in the ***.

Best case would be to have SharePoint to allow groups and not only users for different administrative rights and permissions.

In the mean time one could implement a pattern for SharePoint DSC resources.

Every resources that handles administrative rights and permissions could have a flag, l

[2020-12-04 15:08] ykuijs commented on #1272
Hi @IlleNilsson I like your idea. Just wondering in what circumstance this would be useful. Do you have an example of a place where you can't use groups?

[2020-12-04 15:13] ykuijs opened #1273 "[SPQuotaTemplate] Updating Sandbox Code limits can throw an error"
#### Details of the scenario you tried and the problem that is occurring
When you try to update an existing quota and have to lower the warning and max limits, it is possible that an error is thrown. For example:
Max limit=100
Warning limit=75

And the new values are:
Max limit=50
Warning limit=25

In this case the following error is thrown:
[code]

#### Verbose logs showing the problem

#### Sugg

[2020-12-11 12:31] rurikon commented on #1268
I put some random strings as ScopeUrl and none of them gave errors. So it looks like it's working.

[2020-12-17 11:53] rurikon commented on #565
I'm not sure if this is related, but I noticed problems with database rights when creating the search service in SharePoint 2019. I have deleted Search Service Application many times and let DSC recreate it, but every time I get "Sorry, something went wrong" and "Exception from HRESULT: 0x80131904" in Central Administrator when accessing some of the pages, like content sources or crawl log.

Yeste

[2020-12-18 22:06] #1267 closed

[2021-01-05 09:39] JvanderMeer-GitHub opened #1276 "Support for adding custom file type icons"
It would be great to have a resource to add custom file type icons to SharePointDSC.

[2021-01-05 15:33] ThomasLie opened #1277 "SPConfigWizard fails"
#### Details of the scenario you tried and the problem that is occurring
When installing a CU using SPProductUpdate and executing SPConfigWizard it fails on all SharePoint servers except those with MinRole Search.

When executing PSConfig manually on these servers, it completes successfully.

Any help is aprreciated....

#### Verbose logs showing the problem
12/17/2020 12:42:31.91 PSCONFIG (0x07A8

[2021-01-07 21:53] #1269 closed

[2021-01-07 21:53] #1271 closed

[2021-01-07 21:53] #1273 closed

[2021-01-12 08:52] ThomasLie commented on #1277
Hey guys,

as it is quite urgent...does anyone have a clue?

Regards
Thomas

[2021-01-13 17:00] JvanderMeer-GitHub commented on #1096
Hi All,

I have create an example for patching the Smallest HA MinRole farm topology (4 servers).

The idea is that you would add you own logic for any preparations needed, such as removing a server from the load balancer.
After PSCONFIG I randomly encountered situations where PSCONFIG just stopped, I could trace back the cause of this. Just to ensure that the upgrade was completed I run PSCONFIG

[2021-01-14 13:57] ykuijs commented on #1277
Hi @ThomasLie Can you share your DSC config? Did you specify the PSDscRunAsCredential parameter for SPConfigWizard?

[2021-01-14 15:17] ThomasLie commented on #1277
Hi Yorick,

I specified the PSDscRunAsCredential parameter.

Btw, when executing PSConfig locally on a SharePoint server it completes successfully. Then running PSConfig with DSC again it will complete successfully until I install another CU.

I can reproduce this behaviour on each CU installation at different customer environments.

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lief

[2021-01-18 11:43] vshupak opened #1278 "PSDSCRunasCredentials implementation"
Hi everyone,

I am trying to get DSC to work in an environment, where only the HTTPS endpoint is available. I am using the **SPFarm** resource for the testing. With **PSDSCRunasCredentials**, I am getting _access denied_. (SharePoint 2019, Windows Server 2019)
I am creating a _CIMSession_, for the **start-dscconfiguration** cmdlet, if you were wondering.
I tried with all kinds of authentication fo

[2021-01-19 12:03] ThomasLie commented on #1277
Hi Yorick,

hre ist he current configuration…

@{
    AllNodes = @(
        @{
            ### Einstellungen für alle Server ###
                                               NodeName                                                                       = "*"
            AzureDeployment                                            = $true
                                               PSDscAllowPla

[2021-01-20 12:37] ykuijs commented on #1278
Hi @vshupak, not sure why there is a difference between using InstallAccount and PSDscRunAsCredential.

The InstallAccount parameter we had to implement for PowerShell v4 because that ran the LCM as the System account by default and there was no way to change that. With the InstallAccount parameter DSC is using the System account to run the LCM on the target server under and then SharePointDsc use

[2021-01-20 12:46] ykuijs commented on #1277
Thanks for this information @ThomasLie. So far I haven't any clue what might be causing this. It is the first time I see this error and I have recently deployed several environments with the same versions of Windows and SharePoint.

Can you share the verbose output of the deployment as well?

[2021-01-20 12:47] ykuijs commented on #1277
Please share as much as possible, not just the lines with the errors. I am trying to track down where this goes wrong.

[2021-01-20 15:56] ThomasLie commented on #1277
Hi Yorick,

please find attached a part of the Upgrade log…

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: thomas@lieftuechter.de<mailto:thomas@lieftuechter.de>
Web:  https://www.lieftuechter.com/TL

Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informat

[2021-01-22 13:55] ThomasLie opened #1280 "New resource 'SPFixRoleCompliance' for fixing MinRole compliance"
### Description
Sometimes when joining servers with MinRole 'DistributedCache' or 'WebFrontEndWith DistributedCache' the servers are not compliant with configured MinRole.
The new resource 'SPFixRoleCompliance' will fix this.

[MSFT_SPFixRoleCompliance.zip](https://github.com/dsccommunity/SharePointDsc/files/5856243/MSFT_SPFixRoleCompliance.zip)

It's already been tested in a couple of environment

[2021-01-25 09:49] ThomasLie commented on #1280
Hi guys,

attached is a little fix in the resource...

[MSFT_SPFixRoleCompliance.zip](https://github.com/dsccommunity/SharePointDsc/files/5865635/MSFT_SPFixRoleCompliance.zip)

[2021-01-26 19:28] ykuijs commented on #1280
Hi @ThomasLie, I haven't looked at the code yet, but have you checked/tested the SPMinRole resource? Sounds like this resource is very similar.

[2021-01-26 19:29] ykuijs commented on #1277
Hi @ThomasLie there is no log attached. And do you also have the verbose logging output?

[2021-01-26 20:50] ykuijs opened #1281 "[ReverseDsc] Cleanup the ReverseDsc code"
#### Details of the scenario you tried and the problem that is occurring

The ReverseDsc SharePoint orchestration script included some code to cater for older SharePointDsc versions. Now that this is integrated into the module itself, this code is no longer required and can be removed.

[2021-01-28 07:31] vshupak commented on #1278
Hi @ykuijs !
From what I can see, due to some special security hardening, it is not working. Even if it is a PowerShell DSC generic parameter, do you know how it is running? is it a start-process or how does it actually work?
For example the simple installation process for the sample config (shortened) fails with access denied:
`        File SharePointBinaries
        {
            Ensure = "Prese

[2021-01-28 11:04] ykuijs commented on #1276
PR submitted

[2021-01-28 20:32] ykuijs commented on #1278
With PsDscRunAsCredential, DSC starts the remote process as the specified account. This is all done under the hood.

Few questions:
- I see that you specified $node.InstallAccount as PSDscRunAsCredential. Is this variable a PSCredential object?
- Why aren't you using the -ComputerName parameter? Is there a special reason for using a CIM session?
- How are you creating the CIM session? Do you have

[2021-01-28 21:31] vshupak commented on #1264
This would mean the search components cannot start. Can be for various reasons, like permissions, but the thread is quite old...I guess you solved it. Definitely not something within DSC.

[2021-01-28 22:00] ykuijs commented on #1278
Perfect, just checking ;-)

I will see if I can reproduce the issue on my environment.

[2021-01-29 07:25] #1276 closed

[2021-01-29 10:50] ThomasLie commented on #1280
Hi Yorick,

I had a look at the code of the SPMinRole resource. Mine has a different approach, maybe it makes sense to merge the two resources?

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: thomas@lieftuechter.de<mailto:thomas@lieftuechter.de>
Web:  https://www.lieftuech

[2021-01-30 06:59] VerdonTrigance commented on #1264
Actually not, I just throw away DSC and installed it manually.

[2021-01-30 06:59] #1264 closed

[2021-02-01 13:00] jensotto opened #1284 "Test-TargetResource: All resources fails"
#### Details of the scenario you tried and the problem that is occurring

After upgrading from 4.4.0 to 4.5.0 and installing ReverseDSC **all** SharePointDSC resources fails on the Test-TargetResource with the following error:

**An item with the same key has already been added.**

#### Verbose logs showing the problem

VERBOSE: [--server--]: LCM:  [ Start  Resource ]  [[SPFarm]SharePointFarm]
VER

[2021-02-01 14:39] jensotto commented on #1284
Commenting out the following line seems to remove the error message (but of course is not a viable option). I don't understand why that line is problematic, and there has been no changes to that in ages. It runs just fine if executed directly in a PowerShell session on the same server. I've tried to restart the server too. https://github.com/dsccommunity/SharePointDsc/blob/68297c97fc2ea10e12a5536c

[2021-02-01 14:42] jensotto commented on #1284
Just to be clear, I also tried to remove $ScriptBlock.ToString() so that there are no side effects of removing line 621
https://github.com/dsccommunity/SharePointDsc/blob/68297c97fc2ea10e12a5536c390ebcb2a0be2d20/SharePointDsc/Modules/SharePointDsc.Util/SharePointDsc.Util.psm1#L627

[2021-02-01 14:48] jensotto commented on #1284
Also, it's this line that generates the exception: https://github.com/dsccommunity/SharePointDsc/blob/68297c97fc2ea10e12a5536c390ebcb2a0be2d20/SharePointDsc/Modules/SharePointDsc.Util/SharePointDsc.Util.psm1#L650

[2021-02-02 09:08] jensotto commented on #1284
I managed to get this stack trace:
   at System.ThrowHelper.ThrowArgumentException(ExceptionResource resource)
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at Microsoft.PowerShell.Commands.AddPSSnapinCommand.AddPSSnapIns(Collection`1 snapInList)
   at Microsoft.PowerShell.Commands.AddPSSnapinCommand.ProcessRecord()
   at System.Management.Automation.

[2021-02-02 09:39] jensotto commented on #1284
I have tried to use both sharepointdsc.4.5.0-preview0001 and sharepointdsc.4.5.0-preview0002. Both works just fine. There must have been something introduced after sharepointdsc.4.5.0-preview0002.

[2021-02-02 10:13] jensotto commented on #1284
I've found that removing this fixes the issue
https://github.com/dsccommunity/SharePointDsc/blob/68297c97fc2ea10e12a5536c390ebcb2a0be2d20/SharePointDsc/Modules/SharePointDsc.Reverse/Import-SPPowerShellSnapIn.ps1#L3

It will probably break some functionality of SharePointDSC. Do you have any solution @ykuijs ?

[2021-02-02 13:47] ykuijs commented on #1284
Hi @jensotto,

Hmm, I did several tests before releasing v4.5, but didn't run into this issue 😢 Thanks for reporting it!

This issue is caused by the fact that SharePoint is still using snap-ins instead of modules. Snapins can only be loaded once, but can't be dectected properly across scopes. If you try to load the snapin twice you get the error you encountered here: "An item with the same key ha

[2021-02-02 16:17] bartvermeersch opened #1285 "MSFT_SPFarm: throws error for ApplicationCredentialKey when ReverseDSC SPFarm on SP2013"
#### Details of the scenario you tried and the problem that is occurring
Run SharePointDSC.Reverse.ps1 on a SP2013 farm for DSC farm-configuration:

[code]
throws exception "Specifying ApplicationCredentialKey is only supported on SharePoint 2019"

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detaile

[2021-02-02 16:37] bartvermeersch commented on #1285
I'm mixing versions which could explain my issue (SharePointDSC.Reverse v3.7.0.1 with SharePointDSC v4.5.0)

[2021-02-02 16:37] #1285 closed

[2021-02-02 20:08] ykuijs commented on #1285
Hi @bartvermeersch, that could indeed be the issue. With the release of SharePointDsc v4.5, SharePointDsc.Reverse is no longer required 😉 Please remove that module and try again. Let me know if the issue still occurs afterwards!

[2021-02-02 20:19] ykuijs commented on #1284
Just tested a resource and am able to reproduce the issue. Am 100% this worked during testing, so not sure what has happened here. Now checking where this is coming from and looking for a solution!

[2021-02-03 13:40] bartvermeersch commented on #1285
It did solved the issue!

[2021-02-03 15:10] ykuijs commented on #1284
@jensotto Could you please test the following solution:

Add the following two lines to the SPFarm resource at the top of the file (just before the Get-TargetResource method) and let me know if this works or not?

[code]

[2021-02-03 15:14] ykuijs commented on #1284
If this works for the SPFarm resource, it should also work for other resources.

[2021-02-03 17:27] jensotto commented on #1284
No, sorry I still get the same error.

[2021-02-03 17:32] ykuijs commented on #1284
Did you by any chance run the test shortly after a regular run? The LCM caches the code files so changes are only picked up after a while. Either reboot the machine or change the ForceModuleImport parameter of the LCM.

[2021-02-03 17:34] jensotto commented on #1284
I'm not sure if it has anything to do with this directly, but at the same time when this error started we also saw that we got a lot of access denied errors in the event log and database server logs about a machine account for the server that ran the DSC script that tried to log into the SharePoint databases. I guess this is due to the ScriptsToProcess is run under the machine account.

Also this

[2021-02-03 17:36] jensotto commented on #1284
I added a Write-Warning statement just before the lines I added, and I saw that the text was written during DSC configureation. Should that be sufficient?

[2021-02-03 17:40] jensotto commented on #1284
I tried a reboot too, and it still failed

[2021-02-03 19:44] jensotto commented on #1284
After thinking more about the issue regarding access denied when the computer account tries to log on to the database server, I realise that it will not be possible to have the ScriptsToProcess as it currently is implemented. It will then litter the logs with access denied errors. Maybe it's possible to detect if the script is run by the local configuration manager and skip loading the SP SnapIn.

[2021-02-03 20:09] ykuijs commented on #1284
Can you try the lines with another resource, for example SPFarmAdministrators? On my end, this works perfectly with that resource. Will test with the SPFarm on my end as well.

Can you explain the other issues a little more? Not sure what you mean there.

[2021-02-03 20:18] jensotto commented on #1284
When the ScripsToProcess is executed during a configuration it's my understanding that this runs under the machine account. Because ScriptsToProcess includes a script that loads the SP SnapIn it will try to contact the SP database (configuration database) using the machine account. If this is true it will create unnecessary errors in logs as the machine account does not have access to do so. This

[2021-02-03 20:28] bartvermeersch commented on #1284
Adding those lines to the SPFarm resource seem to work for me. CreateSPFarm now works and it stops at the next in line (SPManagedAccount).

[2021-02-03 20:28] jensotto commented on #1284
The Pull Server can be configured to host modules required by the DSC configurations. These can automatically be downloaded when LCM pulls a new configuration from the Pull Server. This only covers DSC resources used in a configuration. Since ReversedDSC is not a DSC resource and thus not used/referenced in the configuration it will never be downloaded automatically by the LCM. This means that Rev

[2021-02-03 20:41] jensotto commented on #1284
I've tested it in two different farms now, and I get the same error in both farms on multiple servers. I can't understand why it would work in some cases and not in others.

[2021-02-03 21:08] ykuijs commented on #1284
Exactly what are you doing? Have you added the lines at the top (on line 1) of the following file:
C:\Program Files\WindowsPowerShell\Modules\SharePointDSC\4.5.0\DSCResources\MSFT_SPFarm\MSFT_SPFarm.psm1

[2021-02-03 21:09] ykuijs commented on #1284
I get what you mean with the Pull Server issue. That is an interesting scenario. Will look for a solution!

[2021-02-04 07:04] jensotto commented on #1284
I've modified the first few lines of MSFT_SPFarm.psm1:

[code]

The rest is unmodified from the released version of SharePointDSC v4.5.0

[2021-02-04 08:03] ykuijs commented on #1284
Just to be sure: You updated the file on the SharePoint server where you push the MOF file to, not on the server you generate the MOF file on (if this is a different server). Is this correct?

[2021-02-04 08:06] jensotto commented on #1284
Yes, I edit the module file on the SharePoint server that runs the configuration (MOF file). MOF files are generated using Azure Pipelines using an isolated build server. I have not made any modification to the module on that build server.

[2021-02-04 14:30] ykuijs commented on #1284
@jensotto and I found a solution and I am now creating a PR to resolve this solution.

[2021-02-04 16:11] ykuijs commented on #1278
@vshupak I was able to reproduce the issue. Now investigating the root cause

[2021-02-04 19:27] #1284 closed

[2021-02-04 19:29] ykuijs commented on #1277
Discussed offline with Thomas. Looks like an issue with SharePoint itself, issue also occurs with PowerShell Remoting only (no DSC). They have raised a support case for this issue. Waiting for the results of that.

[2021-02-04 19:31] ykuijs commented on #1272
Hi @IlleNilsson, could you please share a little more information for this issue/idea? Right now I don't know what you mean exactly, which makes resolving this issue quite hard :wink:

[2021-02-04 19:37] ykuijs commented on #1278
Looks like this isn't specific to SharePointDsc. Found this issue in dsccommunity/ActiveDirectoryDsc#128 which is describing the same issue.

[2021-02-04 19:43] ykuijs commented on #1284
PR merged, release process is running. v4.5.1 will be released tonight or tomorrow

[2021-02-05 06:56] vshupak commented on #1278
@ykuijs, well that is bad news for me I guess... :/ since it was not fixed since 2016, when it appeared in the backlog.
Does this mean that all datacenters, including Microsoft's are just using the HTTP listener? Maybe there is a solution out there...

[2021-02-05 07:49] ykuijs commented on #1278
Even though PowerShell is using an HTTP listener, this does not mean the traffic send across that connection is unencrypted. PowerShell itself encrypts all the commands before sending it to the remote server via HTTP. If you configure HTTPS, you basically add an extra encryption layer on top of the default PowerShell encryption.

Quote:

It is helpful to consider the security of a PowerShell Remot

[2021-02-05 08:01] vshupak commented on #1278
Yes, that is correct and indeed valid, however it is a mandatory security hardening guideline for my client to only have the HTTPS listener. I still think it could be resolved by granting some permissions somewhere. Maybe local system needs some privileges? I checked with procmon, but strangely find no access denied entries....

[2021-02-05 08:56] ykuijs commented on #1278
Hi @vshupak I have discussed this issue with some others in the DSC Community and it looks like nobody has a solution at the moment. One suggested to allow HTTP listeners and block traffic to that port from the outside via the firewall. That way the HTTP listener is only available for the server itself. This does mean you need to use a pull scenario.

Another option would be to create a support ca

[2021-02-05 09:39] ykuijs commented on #1278
Did some further testing:
You mentioned that the built-in File resource worked as expected and I was able to confirm this. The File resource is a binary resource.

The built-in Archive resource has the same Access Denied issue. That resource is a PowerShell resource like the SharePointDsc resources.

So it looks like the issue occurs with all PowerShell resources.

[2021-02-05 10:15] ykuijs commented on #1280
@ThomasLie Have been reviewing your code and comparing it against the MinRoleCompliance resource.

The MinRoleCompliance checks if all services in the farm are compliant with the MinRole definition and performs corrective actions if required. It does this for all servers in the farm.

You code checks if a specific server is compliant and if it is not, runs the following cmdlets:
[code]

It is a bi

[2021-02-05 11:52] ykuijs commented on #1268
Since the ScopeUrl is a Key parameter, it cannot be empty or not specified. I have updated the Readme so that the documentation explains the use of the SSA ScopeName in a better way.

[2021-02-05 11:56] ykuijs commented on #1268
Changes will be included in my next PR

[2021-02-10 10:04] rurikon opened #1288 "SPSearchManagedProperty: Can't define Searchable"
#### Details of the scenario you tried and the problem that is occurring

I tried to add a search managed property. I wanted it to be searchable. This is the configuration I tried:

[code]

Running this goes smoothly, but trying Test-DscConfiguration will give an error (see below).

Without Searchable = $true there is no error in Test-DcsConfiguration, but still reports as "not in desired state".

[2021-02-10 11:06] rurikon opened #1289 "SPSearchManagedProperty: crawled property does not exist (even though it does)"
#### Details of the scenario you tried and the problem that is occurring

I'm trying to add managed properties, but SPSearchManagedProperty doesn't seem to accept anything into CrawledProperties. I've checked from Central Administration that the crawled property exists, but DSC says it's missing. I've tried different ways to write the property name, but nothing seems to work.

Here is the configur

[2021-02-10 11:20] rurikon commented on #1289
Afternote: These managed properties don't appear in the Central Administration at all, not even "half done" so that the mapping is missing. They are just not created at all.

[2021-02-10 12:33] rurikon commented on #1288
I later noticed that I was missing TokenNormalization = $true from the configuration, which is required for a property to be searchable. However, adding that didn't change the issue.

[2021-02-16 14:18] ThomasLie commented on #1277
Hi Yorick,

short update on this:

Currently working with Vlad on this issue, it seems the changes in applicationHost.config (implemented with March 2020 CU) causes the issue. In Windows Eventlog 2 errors came up related to ntdll.dll and clr.dll.
Looks like a permission issue, however the account running psconfig remotely is local admin on each of the SharePoint servers....

We're still investigat

[2021-02-16 15:01] wmaniek123 opened #1290 "Naming not matching module name:"
SharePoint**Dsc** module is created inside SharePoint**DSC** folders. This is not problem for Windows at all but when integrating with Puppet Ansible etc the case sensitivity is important. It happens when I use install-module and save-module cmdlet's. Thanks

[2021-02-20 20:14] ykuijs commented on #1290
I believe this is caused by the fact that the psd1 file has the name SharePointDsc, but the module is called SharePointDSC in the PowerShell Gallery. Have to see if it is possible to update the latter.

[2021-02-20 21:09] ykuijs commented on #1289
Hi @rurikon, I have been reviewing the code and it makes sense that the property isn't created. The code checks if all specified crawled properties exist and throw an exception (which stops running the rest of the code) if that is not the case.

What happens if you log onto the environment and run the following command:
[code]

[2021-02-20 21:24] ykuijs commented on #1288
Hi @rurikon, just checked this issue and noticed that you specified "IncludeAllCrawledProperties = $false" in your config, but did not specify the CrawledProperties parameter. That is probably why the Test resource always returns false.

Can you please share the full verbose logging for this resource? That will give me more information on what goes wrong at which point.

[2021-02-22 08:10] rurikon commented on #1289
That command gives nothing. Also this gives nothing, even though there are some built-in properties with the string "Keywords" in them (like ows_q_TEXT_SeoKeywords and SharePoint:BestBetKeywords):

[code]
If I try the same command with string 'Title', I get two results:

[code]

As said, when I look at the crawled properties in Central Administration, I can see ows_taxId_Business_Keywords among th

[2021-02-22 08:51] rurikon commented on #1288
I have left the CrawledProperties parameter out because of this issue: https://github.com/dsccommunity/SharePointDsc/issues/1289 But I have also tried defining CrawledProperties and having IncludeAllCrawledProperties = $true, neither of those affect the error.

If Searchable is defined, the Test-DscConfiguration doesn't even execute, it just dies with the error "Item has already been added. Key in

[2021-02-22 09:32] rurikon commented on #1288
Here is a screenshot for further clarification. Do you want me to look at the Event Viewer for details?

Now that I tested this again, I did notice that all properties don't give this error. The configurations are the same, though, except some are set as refinable or sortable and some are not, and it doesn't look like those settings play a role in this.

[2021-02-23 13:41] Yvand opened #1291 "SPUserProfileServiceApp: Get error "The 'Rename-SPDscParamValue' command was found in the module 'SharePointDSC', but the module could not be loaded""
#### Details of the scenario you tried and the problem that is occurring

After updating SharePointDsc from 4.3 to 4.5.1, resource SPUserProfileServiceApp systematically fails

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

Could it be related to https://github.com/dsccommunity/SharePointDsc/pull/1286 ?

#### The DSC configuration that is used to reproduce the

[2021-02-23 14:05] rurikon commented on #1288
The "all properties don't give this error" in the last comment bothered me, so I investigated more. I went through every property we have in the configuration and changed the Searchable value individually for each. It looks like every time I try to set Searchable = $true, it gives that error, and Searchable = $false goes through just fine without error.

[2021-02-23 14:29] ykuijs commented on #1288
Can you do another Test-DscConfiguration, but this time with the -Verbose parameter and share the outcome?

Based on the verbose logging, I can see where the issue is thrown, which makes troubleshooting much easier ;-)

[2021-02-23 14:56] rurikon commented on #1288
Oh sorry, stupid me :) It doesn't give much more info, but here it is:

[code]

We had to work on the actual property to get our project forward, so I went to Central Administration and manually checked the "Searchable" checkbox for the TargetAudience I created before. It might be relevant that after I manually checked it, the error disappeared for that property, even though it still has Searchabl

[2021-02-24 10:18] vshupak commented on #1278
We opened a case with Microsoft to investigate this issue.

[2021-03-02 08:26] rurikon commented on #1289
Another interesting find: I added the mappings manually (again because we have to move forward with the project), and now DSC doesn't complain and Get-SPEnterpriseSearchMetadataCrawledProperty finds the properties. We have another environment, so I'll try to recreate this there and find the reason why this happened. I'm still leaning towards a bug in SharePoint itself or some of the updates.

[2021-03-04 13:21] ykuijs commented on #1290
@wmaniek123 Can you tell me a little more about the scenario you are implementing and when the error message you are getting (screenshot if possible)?

[2021-03-04 13:31] ykuijs opened #1292 "[SPFarmAdministrators, SPManagedMetaDataServiceApp, SPSite] Resources throw errors when the RunAs account doesn't have permissions to the database"
#### Details of the scenario you tried and the problem that is occurring
When the RunAs account doesn't have the correct permissions to the SharePoint databases, the following three resources throw exceptions: SPFarmAdministrators, SPManagedMetaDataServiceApp, SPSite

#### Verbose logs showing the problem

#### Suggested solution to the issue
Implement proper error handling

#### The DSC configura

[2021-03-04 13:36] ykuijs opened #1293 "[SPWordAutomation] Resource never reaches desired state when using AddToDefault parameter"
#### Details of the scenario you tried and the problem that is occurring
When using the AddToDefault parameter of SPWordAutomation, the resource will never reach the desired state.

#### Verbose logs showing the problem
[code]
The current values doesn't have AddToDefault, where the TargetValues do. This results in a False.

#### Suggested solution to the issue
Since AddToDefault is only used durin

[2021-03-04 14:22] ykuijs opened #1294 "[SPUserProfileServiceApp] Current value of MySiteHostLocation has the port number attached"
#### Details of the scenario you tried and the problem that is occurring
The returned value of MySiteHostLocation from the Get method has the port number attached to the parameter. Usually the Desired value isn't using this format, resulting in a failed test.

#### Verbose logs showing the problem
[code]
Current value:  **MySiteHostLocation=https://mysite.contoso.local:443/**
Target value: **MySit

[2021-03-05 07:26] ykuijs commented on #1291
@Yvand and I discovered that the required ReverseDsc module was missing, so SharePointDsc was unable to load properly. After installing the ReverseDsc module, the issue was fixed.

Closing issue

[2021-03-05 07:26] #1291 closed

[2021-03-10 19:36] IlleNilsson opened #1295 "The specified RequiredModules entry 'ReverseDSC' in the module manifest"
ISSUE TITLE:
 I'm downloading the 4.5.1 SharePointDsc module, to a local detonation repo, then to a local repo available for internal nodes (computers)
    ISSUE DESCRIPTION (this template):
Then i get this: The specified RequiredModules entry 'ReverseDSC' in the module manifest

#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### S

[2021-03-11 09:20] andrstor opened #1296 "MSFT_SPInstallLanguagePack: Get-TargetResource does not detect already installed Norwegian Language Pack"
#### Details of the scenario you tried and the problem that is occurring
It looks like issue is back #1026 when trying to install the norwegian language pack on sharepoint 2019 using SharepointDsc 4.5.1.

The first installation works fine, but all subsequent runs with the DSC-configurations tries to reinstall the language-pack.
#### Verbose logs showing the problem
[code]
#### Suggested solution t

[2021-03-17 09:41] ykuijs commented on #1296
Hi @andrstor, can you provide a little more of your Verbose logging? And which version of SharePoint are you using?

[2021-03-17 09:44] ykuijs commented on #1295
Hi @IlleNilsson, you are correct: With the release of v4.5/v4.5.1, the ReverseDsc module is required, since we have added native ReverseDsc support to SharePointDsc.

However, since this is only required when actually doing an export, I have changed this requirement to specifically check for the existence of the module when running an export. So with the release of v4.6, ReverseDsc is no longer re

[2021-03-17 09:45] ykuijs commented on #1290
@wmaniek123 Any update?

[2021-03-17 09:51] IlleNilsson commented on #1295
Thanks

________________________________
From: Yorick Kuijs ***@***.***>
Sent: Wednesday, March 17, 2021 10:45:07 AM
To: dsccommunity/SharePointDsc ***@***.***>
Cc: Ilian Nilsson ***@***.***>; Mention ***@***.***>
Subject: Re: [dsccommunity/SharePointDsc] The specified RequiredModules entry 'ReverseDSC' in the module manifest (#1295)

Hi @IlleNilsson<https://github.com/IlleNilsson>, you are correc

[2021-03-17 09:53] ykuijs commented on #1289
Hi @rurikon, in that case it makes sense. If that command can't find the crawled property, the SharePointDsc code also can't find it and therefore is unable to create the managed property.

The -contains operator is used for checking if an array contains a value. In this case you have to use -like:
[code]
Can you try that command and let me know the outcome?

In the initial message you also mentio

[2021-03-17 10:57] ykuijs commented on #1288
Hi @rurikon, I found the cause of this issue. Apparently it helps if you only check a property once 😜:
https://github.com/dsccommunity/SharePointDsc/blob/90f23bc730cd8d651cc4d195429d7ee659598f13/SharePointDsc/DSCResources/MSFT_SPSearchManagedProperty/MSFT_SPSearchManagedProperty.psm1#L472-L474

Will fix this issue in my next Bugfix PR, which will be included in v4.6.

[2021-03-17 11:59] ykuijs commented on #1296
And could you run the Get-SPDscRegProductsInfo cmdlet and provide the output?

[2021-03-17 13:48] ykuijs commented on #1296
And can you also share the outcome of the following code (basically the code of the Get method). Just change the path on the first line to the path where your language packs is located:

[code]

[2021-03-17 14:03] ykuijs commented on #1230
Unfortunately no response, which makes troubleshooting this issue impossible. Closing this issue.

[2021-03-17 14:03] #1230 closed

[2021-03-17 14:09] andrstor commented on #1296
This is sharepoint 2019 with January 2021 CU. I worked around the problem by using ApplyOnly in my dsc-setting, so I dont have a verbose log of the problem right now.

[code]

[code]

I guess this worked so well that I have to recreate my problem with ApplyAndAutoCorrect setting as I was using earlier?

I have my workaround now that I'm happy with, and it may seem like this is actually working and

[2021-03-17 16:31] andrstor commented on #1296
[Excluding all non-sharepointDSC log and](https://gist.github.com/andrstor/f8e7529e138d5a7f571e5122284082c2). Have also removed some domain-specific logs.

This actually shows that the langagepack resource fails the test.

[2021-03-17 20:20] ykuijs commented on #1296
I see that the log outputs the following:

`Update is for the Norwegian Bokmål language` where the earlier tested script outputted `Update is for the Norwegian language`

So somewhere the code does not process the language correctly.

Just to check: Are you 100% sure the server does not have any other (older) version of SharePointDsc?

[2021-03-18 07:06] andrstor commented on #1296
[code]

No other versions installed.

My setup is using Azure Automation as a DSC pull server. The VM registers on the pull server using azure dsc-extension script when the vm is created. Azure Automation is responsible for putting the required DSC-modules on the VM.

[2021-03-18 09:14] rurikon commented on #1289
I noticed my mistake and checked with -like later, but I thought I'd debug a bit further before commenting more :) I did install a later CU, but our two farms behave differently even though they have the exact same CU. I'm trying to figure it out and will update when I know what's going on.

In any case, I tried installing August 2020 CU earlier and it was clearly broken, because it just plainly d

[2021-03-19 09:44] ThomasLie commented on #1277
HI Yorick,

working with Rainer A. on the isue and we're very close to a solution upgrading a farm remotly.

First we're upgrading the content databases, then running these CMDLets on each server:

`Install-SPHelpCollection -All
Initialize-SPResourceSecurity
Install-SPService
Install-SPFeature -AllExistingFeatures
Install-SPApplicationContent
Upgrade-SPFarm -ServerOnly -SkipDatabaseUpgrade -SkipSi

[2021-03-23 08:34] ThomasLie opened #1298 "DSC fails when using a script resource with Invoke-SPDscCommand"
Hi guys,

I'm using a script resource for setting SPSecurityTokenServiceConfig:

[code]

This resource worked fine with older versions of SharePointDSC, it fails with SharePointDSC 4.5.1:

#### Verbose logs showing the problem
VERBOSE: [V00PEEE50SPP201]: LCM:  [ Start  Resource ]  [[Script]SetSPSecurityTokenServiceConfig]
VERBOSE: [V00PEEE50SPP201]: LCM:  [ Start  Test     ]  [[Script]SetSPSecurit

[2021-03-23 10:55] rurikon commented on #1289
Ok, so an update on this. In short: SharePoint continues to behave very weirdly and inconsistently.

First of all, I installed the March 2021 CU. It looks like this one doesn't have the same problems as January, or the problems are coming from something other than the CU.

On Farm 1:
- When looking at crawled properties in CA, search "keywords" gives 5 results. Two of these are properties from our

[2021-03-23 12:48] ykuijs commented on #1296
Ok, I found the root cause:

The added code contains a special character, which is not handled properly by PowerShell. Instead of
[code]
when running the code through the debugger, it is displayed as
[code]
which of course does not match.

Am now looking for a solution!

[2021-03-24 06:33] rurikon commented on #1289
The problems in Farm 2 turned out to be a broken solution. I exorcised it and now it works the same way as Farm 1. So apparently Get-SPEnterpriseSearchMetadataCrawledProperty doesn't work quite like it should. The behaviour appears to be the same, whether I use DSC to configure or do it manually.

One thing I did notice while doing this is that setting search administrators with SPServiceAppSecuri

[2021-03-24 06:55] rurikon commented on #1289
If I can make a suggestion, maybe this configuration might work better if it created the managed property anyway, even when it can't find the crawled property to map to it. Of course it should return "not in desired state" after that, but that way I could add the managed properties right away and didn't have to wait for a full crawl to finish. It would also work as a workaround for a situation lik

[2021-03-24 20:50] #1268 closed

[2021-03-24 20:50] #1288 closed

[2021-03-24 20:50] #1292 closed

[2021-03-24 20:50] #1293 closed

[2021-03-24 20:50] #1294 closed

[2021-03-24 20:50] #1295 closed

[2021-03-24 20:50] #1296 closed

[2021-03-30 07:55] ykuijs opened #1299 "[SPManagedMetadataServiceApp] Resources fails when name of the service app has different casing"
#### Details of the scenario you tried and the problem that is occurring
When the MMS Service App is created using a certain casing and then DSC is checking the state of that service app using a different casing, the Get method says the service app is absent. The Set method then tries to create it, which fails because the service app with that name already exists.

#### Verbose logs showing the pr

[2021-03-30 11:15] ykuijs opened #1300 "[SPWebAppAuthentication] Resource does not correctly detect absence of zone"
#### Details of the scenario you tried and the problem that is occurring
When a specified zone does not exist, the resource should throw a message that clearly tell the user what is going on. Unfortunately the resource does not handle this correctly. It tries to pass an empty collection to the Test-ZoneConfiguration method.

The Get method always returns an empty array, even when the zone doesn't

[2021-03-31 10:22] ThomasLie opened #1302 "Extend MSFT_SPSecurityTokenServiceConfig"
### Description
Extend the resource to set the properties 'FormsTokenLifetime', 'WindowsTokenLifetime' and 'LogonTokenCacheExpirationWindow'
[MSFT_SPSecurityTokenServiceConfig.zip](https://github.com/dsccommunity/SharePointDsc/files/6235836/MSFT_SPSecurityTokenServiceConfig.zip)

### Proposed properties
FormsTokenLifetime
WindowsTokenLifetime
LogonTokenCacheExpirationWindow

[2021-03-31 10:49] ykuijs commented on #1302
@ThomasLie is working on implementing this enhancement.

[2021-04-01 06:30] ykuijs commented on #1302
Reopening because this hasn't been implemented yet.

[2021-04-01 11:42] #1299 closed

[2021-04-01 11:42] #1300 closed

[2021-04-06 10:53] ykuijs opened #1304 "[SPUsageDefinition] Add new resource to manage usage data collection definitions"
### Description
In Usage and Health Data Collection you can enable/disable and configure definitions of certain type of data to be collected. These can be managed via Get/Set-SPUsageDefinition. This new resource uses those cmdlets to configure these usage definitions.

### Proposed properties
[code]

### Special considerations or limitations

[2021-04-06 12:06] wmaniek123 commented on #1290
I guess it is not a problem for windows implementation. The module folder is displaying with capital 'DSC' at the end. We corrected our custom puppet code and this is not an issue for us anymore
![image](https://user-images.githubusercontent.com/44258277/113708129-23f50400-96e1-11eb-820e-8d6baa4e00cf.png)

[2021-04-06 13:27] wmaniek123 opened #1306 "SPUserProfileServiceApp: Error with Test or Get after successfull Set with no MySiteHostLocation"
#### Details of the scenario you tried and the problem that is occurring

When creating user profile service app without Mysitehostlocation and with enabled CredSSP it is working
but after trying to validate the config the TEST and GET functions are not working anymore

#### Verbose logs showing the problem

No verbose logging just this:

![image](https://user-images.githubusercontent.com/44258277

[2021-04-08 13:58] #1304 closed

[2021-04-08 14:14] ykuijs commented on #1306
Checking if I can reproduce this issue

[2021-04-08 14:20] ykuijs commented on #1272
Closing this issue due to inactivity. We need more information to investigate this issue.

Please reopen the issue if this is still relevant and provide the requested information.

[2021-04-08 14:20] #1272 closed

[2021-04-08 15:18] ykuijs commented on #1248
@shurick81 I have been investigating this issue and I believe it is no possible to map two properties from the same AD. In your example code, both property mappings are using the same Connection name:
**ConnectionName  = (Get-WmiObject win32_computersystem).Domain.Replace( ".", "-" )**

This means the second item will overwrite the first item. This will only work if you use two different domains.

[2021-04-08 15:35] ykuijs commented on #1235
Properties:
[code]

[2021-04-08 21:33] ykuijs commented on #1290
The Windows file system isn't case sensitive indeed, so this isn't a problem there. The issue is that inside of the code, we named everything SharePointDsc, but the module is called SharePointDSC in the PowerShell Gallery. That is why during installation, the folder is named SharePointDSC and you run into the issue.

Good to know this is no longer an issue. Closing this issue now

[2021-04-08 21:33] #1290 closed

[2021-04-09 18:49] #1302 closed

[2021-04-09 21:16] ykuijs commented on #1306
@wmaniek123 I am unable to reproduce the issue on my environment. Few questions:

- If you add the -Verbose parameter to the Invoke-DscResource line (`Invoke-DscResource @invokeParams -Verbose`), the cmdlet should output a lot of Verbose output. Could you please share this?
- What build/Cumulative Update of SharePoint are you using?

[2021-04-11 19:41] #1235 closed

[2021-04-13 08:21] PwrKjll opened #1310 "SPFarmAdministrators: Resource fails with error message: An item with the same key has already been added"
Error Message: PowerShell DSC resource MSFT_SPFarmAdministrators failed to execute Set-TargetResource
functionality with error message: An item with the same key has already been added

Details of the scenario you tried and the problem that is occurring
Just added one AD-group to Members in resource SPFarmAdministrators

Verbose logs showing the problem
Suggested solution to the issue
Case insensi

[2021-04-13 08:39] ykuijs commented on #1310
Hi @PwrKjll, few questions:

1. Could you please share the Verbose logging? Run Start-DscConfiguration with the -Wait -Verbose options.
2. The MOF info you shared lists the "\SpIntAdmins" as the item to be configured. Could you please change this to a full domain\user format and try again?

[2021-04-14 13:26] ykuijs commented on #1289
I like your idea to create the managed property even when the crawled property cannot be added. If the resource then reports not being in the desired state, it is always a possibility to run Start-DscConfiguration -UseExisting to reapply the config and correct the issue (hoping they can be added by then).

I will also have a look into the permissions issue you described in the other post.

[2021-04-15 06:48] ykuijs opened #1311 "[SPSearchServiceApp] Farm account to have db_owner permissions on all Search DBs"
#### Details of the scenario you tried and the problem that is occurring
In issue #1289 @rurikon mentioned an issue that occurs when provisioning the Search Service App via PowerShell:

One thing I did notice while doing this is that setting search administrators with SPServiceAppSecurity doesn't work properly either. I have and administrator AD group and while it looks like it's added in the UI,

[2021-04-15 06:48] ykuijs commented on #1289
Created issue #1311 to track the permissions issue

[2021-04-15 09:15] ykuijs commented on #1311
Add logic to check if the farm account is db_owner on all Search DBs and if not, correct this.

[2021-04-19 20:17] IlleNilsson commented on #1310
I have this issue as well. I've tried using accounts and groups. All prefixed with domain as <domain>\<Account> with SharePoint 2016 on Windows Server 2012 R2 and SharePoint 2019 on Windows Server 2019. Here is my MOF.

instance of MSFT_SPFarmAdministrators as $MSFT_SPFarmAdministrators1ref
{
ResourceID = "[SPFarmAdministrators]FarmAdministrators";
 PsDscRunAsCredential = $MSFT_Credential45ref;
 M

[2021-04-23 08:30] ykuijs commented on #1306
@wmaniek123 Any chance that you share the requested info?

[2021-04-23 08:33] ykuijs commented on #1310
@IlleNilsson Can you share your verbose output as well? This makes searching for the line where it goes wrong (and therefore a potential reproduction on my end) much easier.

[2021-04-23 09:31] IlleNilsson commented on #1310
Shure, hang on, it will take an hour

From: Yorick Kuijs ***@***.***>
Sent: Friday, 23 April 2021 10:34
To: dsccommunity/SharePointDsc ***@***.***>
Cc: Ilian Nilsson ***@***.***>; Mention ***@***.***>
Subject: Re: [dsccommunity/SharePointDsc] SPFarmAdministrators: Resource fails with error message: An item with the same key has already been added (#1310)

@IlleNilsson<https://github.com/IlleNilsso

[2021-04-24 05:47] IlleNilsson commented on #1310
It took more than an hour :)

VERBOSE: [SERVER]:                            [[SPFarm]Farm] Target Values: AdminContentDatabaseName=__FarmContent;
CentralAdministrationPort=5600; DatabaseServer=SHPCNT; Ensure=Present; FarmAccount=DOM\FarmAccount;
FarmConfigDatabaseName=__FarmConfig; IsSingleInstance=Yes; Passphrase=DOM\FarmAccount; RunCentralAdmin=True;
ServerRole=ApplicationWithSearch; Verbose=Tru

[2021-04-27 08:09] ThomasLie commented on #1277
Hi there,

we resolved the issue with upgrading search. Root cause was an AD group with specific permissions on the database.

Furthermore we do hab a workaround for the PSConfig issue:

We're able to ugrade the complete farm by running `Upgade-SPFarm -ServerOnly` on each server before executing psconfig.

We've tested this several times on different farms and it works like a charm...

I suggest t

[2021-04-29 13:18] #1280 closed

[2021-04-29 13:19] ThomasLie commented on #1280
Isuue can be closed.

[2021-04-29 19:43] ykuijs commented on #1277
This is great news. Just one question so understand the procedure correctly. Do we

1. Have to run this command on all servers in the farm before we can run the psconfig command on the first server in the farm. So Upgrade-SPFarm on server1 and server2 and then psconfig on server1 and server 2

or

2. Run this command on each server before we run the psconfig command on that same server. So Upgrade

[2021-04-29 19:47] ThomasLie commented on #1277
Hi Yorick,

it is option 2, we have have to run it just before Psconfig on each server...

So it is just one line of code to add...

Btw, what do you think about a resource for upgrading content databases?

Mit freundlichen Grüßen

Thomas Lieftüchter

Lieftüchter IT-Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany
Fon: +49 171.2625166
Email: ***@***.***
Web: http://www.lieftue

[2021-04-29 20:13] ykuijs commented on #1277
That is great, then it indeed would be simply adding one line 😄

What exactly is your idea behind upgrading a content database? Attaching a database from a previous SharePoint version (migration)? Or upgrading a database that is running in backwards compatibility mode?

In either case, it would make sense to extend the SPContentDatabase to allow this. Haven't tested this yet, but I think the resou

[2021-04-29 20:18] ThomasLie commented on #1277
I like the idea to add a new parameter...
However, this should run before psconfig and should allow to perform a parallel upgrade...
Actually, I do have some code for this 😉

Mit freundlichen Grüßen

Thomas Lieftüchter

Lieftüchter IT-Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany
Fon: +49 171.2625166
Email: ***@***.***
Web: http://www.lieftuechter.com/TL

Diese E-Mail enthä

[2021-05-15 13:16] #1277 closed

[2021-06-03 10:02] bartvermeersch opened #1317 "SPContentDatabase: trailing / in Webappurl is not removed"
#### Details of the scenario you tried and the problem that is occurring
Testing for an exsiting SPContentDatabase fails when
- it contains a trailing /
- it contains upper case characters

#### Verbose logs showing the problem
    <ConfigurationDrift Source="MSFT_SPContentDatabase">
        <ParametersNotInDesiredState>
            <Param Name="WebAppUrl"><CurrentValue>https://test.domain.com</Cu

[2021-06-03 10:56] ykuijs commented on #1199
Have implemented this enhancement. Will be included in my next PR.

[2021-06-03 19:05] ykuijs opened #1318 "[SPFarm] Creating Lock database does not work because the user doesn't have permissions to create the lock table in the TempDB"
#### Details of the scenario you tried and the problem that is occurring
When the user doesn't have sysadmin permissions or is has permissions to create tables in the TempDB, the SPFarm resource fails with error “CREATE TABLE permission denied in database 'tempdb'”

@Fiander has created a PR which changes the lock table to a global temporary table #1314. We need to incorporate this into SPDsc.

##

[2021-06-03 19:06] ykuijs commented on #1318
Will include the solution in my next PR

[2021-06-04 10:46] ykuijs commented on #1278
The support case revealed that DSC tries to connect to the localhost over HTTP. Since the HTTP listener was removed, this did not work.

A workaround is **not** delete the HTTP listener, but add a firewall rule to block external traffic to port 5985. That way DSC is still able to use the HTTP listener without allowing others to use the HTTP protocol.

**NOTE:** As mentioned earlier: PowerShell Rem

[2021-06-04 10:46] #1278 closed

[2021-06-04 12:55] bartvermeersch commented on #1317
You can ignore the case sensitivity, that seems to be ok. It is only the trailing "/" which results in an undesired state.

[2021-06-10 06:30] #1199 closed

[2021-06-10 06:30] #1248 closed

[2021-06-10 06:30] #1311 closed

[2021-06-10 06:30] #1318 closed

[2021-06-10 12:07] ykuijs commented on #1317
Hi @bartvermeersch I will check if I can reproduce and fix the issue

[2021-06-11 08:19] ykuijs commented on #1317
Hi @bartvermeersch, I was able to reproduce the issue and now am going to implement a fix. This will be included in my next Bugfix PR.

[2021-06-12 07:47] bartvermeersch commented on #1317
Perfect, thank you @ykuijs !

[2021-06-14 07:48] Yvand opened #1321 "Why is parameter SkipRegisterAsDistributedCacheHost of Connect-SPConfigurationDatabase hardcoded to true?"
In [MSFT_SPFarm.psm1#L831](https://github.com/dsccommunity/SharePointDsc/blob/852a3779db1166cb5412451a3463992b4efa59f1/SharePointDsc/DSCResources/MSFT_SPFarm/MSFT_SPFarm.psm1#L831), parameter SkipRegisterAsDistributedCacheHost of Connect-SPConfigurationDatabase is hardcoded to true:

[code]

It seems to me that it should be a parameter settable in the DSC script, as its [default behavior](https://

[2021-06-15 09:39] ThomasLie opened #1322 "MSFT_SPSearchTopology - Fails if not executed on server with index role"
#### Details of the scenario you tried and the problem that is occurring
Creating a search topology fails when trying to create an index partition on a server which does not have the index role.

#### Verbose logs showing the problem
DSC resource MSFT_SPSearchTopology failed to execute Set-TargetResource functionality with error message:
Cannot bind parametet 'RootDirectory' to the target. Excepti

[2021-06-15 11:02] jensotto opened #1323 "SPInstallLanguagePack: already installed Norwegian Language Pack not detected"
#### Details of the scenario you tried and the problem that is occurring

Seems to be similar to issue #1296 on SP2019

#### Verbose logs showing the problem

VERBOSE: [STU-SPW-10]:                            [[SPInstallLanguagePack]InstallLanguagePack-$($languagePack)]
Installed Language Pack:
VERBOSE: [STU-SPW-10]:                            [[SPInstallLanguagePack]InstallLanguagePack-$($languag

[2021-06-16 09:04] ykuijs commented on #1321
This is in the resource for years, so not sure why that decision was made. My guess is that it was so that you don't have to unprovision the DC later on.

It makes sense to add a parameter to the resource and have the default value of that resource be $false. That way you can specify true if there is a need in your config.

[2021-06-16 09:47] Yvand commented on #1321
Thank you for your input. Yes I strongly believe this should be done because:

- It's the default behavior of SharePoint configuration wizard.
- Resource SPDistributedCacheService takes a very significant time to run (between 5 to 6 mins) and this will allow people to get rid of it for most scenarios
- The only reason left to run resource SPDistributedCacheService is to enable firewall rules, but

[2021-06-16 13:03] Yvand commented on #1321
@ykuijs what should be the default value of parameter SkipRegisterAsDistributedCacheHost in resource SPFarm?

- If $true: current value of SharePointDsc for years (maybe forever)
- If $false: Default value of [cmdlet Connect-SPConfigurationDatabase](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/connect-spconfigurationdatabase?view=sharepoint-ps)

I think it should be $false,

[2021-06-17 13:42] ykuijs opened #1326 "[SPManagedMetaDataServiceApp] When a ProxyName is not specified and the proxy is not created, the resource does not detect it correctly"
#### Details of the scenario you tried and the problem that is occurring
If the proxy hasn't been created (for whatever reason), the Get method returns ProxyName = "".
https://github.com/dsccommunity/SharePointDsc/blob/852a3779db1166cb5412451a3463992b4efa59f1/SharePointDsc/DSCResources/MSFT_SPManagedMetadataServiceApp/MSFT_SPManagedMetaDataServiceApp.psm1#L108-L115

The Set method checks if the Pr

[2021-06-17 13:43] ykuijs commented on #1326
Will be included in my next Bugfix PR

[2021-06-18 11:24] ykuijs commented on #1310
The root cause of this issue is the SharePoint snap-in. Unlike modules, snap-ins cannot be loaded multiple times but also can't be used across scopes. So if you are in a different scope and check if the snap-in is loaded, the answer is no. If you then try to load the snap-in, the "An item with the same key has already been added." error is thrown :-(

The best was to resolve this is to convert the

[2021-06-18 15:36] IlleNilsson commented on #1310
Hi, I have left my SharePoint assignment. So @Kjell ***@***.***>, you will have to pick this up. I can be of assistance, but not leading.
________________________________
From: Yorick Kuijs ***@***.***>
Sent: Friday, June 18, 2021 1:25:10 PM
To: dsccommunity/SharePointDsc ***@***.***>
Cc: Ilian Nilsson ***@***.***>; Mention ***@***.***>
Subject: Re: [dsccommunity/SharePointDsc] SPFarmAdministrator

[2021-06-22 10:54] ykuijs commented on #1306
@wmaniek123 I am trying to reproduce this issue, but am unable to. Few questions:
- What do you mean exactly with "with enabled CredSSP it is working"?
- Can you provide the requested verbose output?

[2021-06-22 12:32] #1323 closed

[2021-06-22 13:36] ykuijs commented on #1322
This was a [known issue in SP2013](https://support.microsoft.com/en-us/office/sharepoint-server-2013-known-issues-780242a6-236e-4d7a-8379-118a1aaa2a51) (look for 'New-SPEnterpriseSearchIndexComponent checks the existence of RootDirectory in the wrong server').

This resource already resolved this for SP2013, but uses the regular cmdlet for SP2016+. Just tested this in SP2019 and the issue occurs t

[2021-06-22 13:47] ykuijs commented on #1298
FYI: In SPDsc v4.7 these three settings have been added to the [SPSecurityTokenServiceConfig](https://github.com/dsccommunity/SharePointDsc/wiki/SPSecurityTokenServiceConfig) resource.

[2021-06-22 13:51] ykuijs commented on #1298
What is the value when you run the following command:
[code]

This should be something like:
[code]

[2021-06-22 13:56] ThomasLie commented on #1298
Hi Yorick,

it returns exactly the same value…

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: ***@***.******@***.***>
Web:  https://www.lieftuechter.com/TL

Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat

[2021-06-22 14:54] ykuijs opened #1327 "Resource to upgrade content databases"
### Description
@ThomasLie shared some code to upgrade content databases in parallel across all servers in the farm. Right now I am wondering what would be the best way to implement this functionality.

Requirements:
- Just like the ProductUpdate and ConfigWizard resources, you should be able to specify a window in which the resource can run.
- The current code runs the upgrade in parallel across

[2021-06-22 15:20] ThomasLie commented on #1298
Going to check this tomorrow…

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: ***@***.******@***.***>
Web:  https://www.lieftuechter.com/TL

Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese

[2021-06-23 09:32] bartvermeersch opened #1328 "Identifierclaim in SPTrustedIdentityTokenIssuer"
I'm trying to configure an SPTrustedIdentityTokenIssuer but I always get the error:

**IdentifierClaim does not match any claim type specified in ClaimsMappings.**

What am I missing?

[code]

[2021-06-23 09:36] IlleNilsson commented on #1310
Hi, I've just tried it with version 4.7.0 and the problem remains.

[2021-06-23 12:17] ykuijs commented on #1031
Finally got around to investigate this issue. The issue is located on multiple places:
- The Get method always returns NetBIOS names, but the Test methods compares the desired and current state 1-on-1, which will always result in false being returned from the Test method when using FQDNs in the desired config.
- As specified by @wfeaser: During population of the ComponentsToAdd and ComponentsToRem

[2021-06-25 16:34] bartvermeersch commented on #1328
Manually installing using this powershell did work and made it DCS compliant:

[code]

[2021-06-25 20:02] ykuijs commented on #1328
Hi @bartvermeersch,

Since you manual actions corrected this, this must be in the Set method. To check where exactly this goes wrong, do you have more of the Verbose output for me?

[2021-06-25 20:27] ykuijs opened #1329 "[SPWebAppHttpThrottlingMonitor] New resource to configure health score settings"
### Description
Create a new SPWebAppHttpThrottlingMonitor resource to configure health score settings.

More information: https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/set-spwebapplicationhttpthrottlingmonitor?view=sharepoint-ps

### Proposed properties
WebAppUrl - URL of web app
Category - Category of counter
Counter] - Name of counter
HealthScoreBuckets - Bucket ranges fo

[2021-06-26 20:18] #1321 closed

[2021-06-30 20:46] ykuijs commented on #1329
| Parameter | Description | Type | Required |
|----|-----|----|----|
| WebAppUrl | URL of web app | String | Key |
| Category | Category of counter | String | Yes |
| Counter | Name of counter | String | Yes |
| HealthScoreBuckets | Bucket ranges for the various health scores | Int[] | No |
| Instance | Instance of performance counter | String | No |
| IsDESC | Is counter in descending order? | Bo

[2021-07-01 16:54] luigilink commented on #1310
Hi, I have also the same problem with the 4.5.0 so I stay in 4.4.0 :(

[2021-07-02 06:31] ykuijs commented on #1310
Hi @luigilink, that is correct. With the addition of native ReverseDsc support we made an update to load the snapin a certain way. We needed that to prevent the exact same error to be thrown during a config export.

It now looks like that because of this we are hitting the same issue in these situations. Before I was unable to replicate, but yesterday I have been working on a new resource which I

[2021-07-02 06:59] ykuijs commented on #1310
Of course: If anyone has an idea on how to fix this issue, I am always open to suggestions 😉

[2021-07-02 10:23] ykuijs commented on #1329
Resource created and tested, now working on creating the unit tests

[2021-07-08 20:15] #1031 closed

[2021-07-08 20:15] #1317 closed

[2021-07-08 20:15] #1322 closed

[2021-07-08 20:15] #1326 closed

[2021-07-13 11:34] ThomasLie commented on #1327
Hey guys,

in addition, we should consider the size of the content databases when upgrading. We have to make sure, large content databases will not be upgraded on the same server.

[2021-07-13 19:15] ykuijs commented on #1327
The issue with database size is that you cannot check the database size via SharePoint. The SPContentDatabase object has a size property, but that is the sum of both the data and transaction log files. So if that property says 50GB, it can be a 49GB data file with a 1 GB transaction log or a 25GB data file with a 25GB transaction log. So it isn't very useful to determine the database size.

[2021-07-21 10:39] kilasuit opened #1336 "SP_ContentType - New Resource Proposal"
### Description
Way to provision Content Types in Content Type Hub or Sites
### Proposed properties

Site Columns
Name
Parent Group

### Special considerations or limitations
Would also require Site Column Resource to be created.

[2021-07-21 11:02] kilasuit opened #1337 "SP_Field - New Resource Proposal"
### Description
Way to provision Site Columns in sites or webs
### Proposed properties

Name
SchemaXml

### Special considerations or limitations

[2021-07-21 11:06] kilasuit opened #1338 "SP_List - New Resource Proposal"
### Description

Way to provision Content Types in Content Type Hub or Sites

### Proposed properties

Name
SchemaXML

### Special considerations or limitations

Would also require Site Column Resource to be created - see #1337
Would also require Content Type Resource to be created - see #1336

[2021-07-21 11:07] kilasuit commented on #1338
Note: Use of SchemaXml and not all other properties that List objects could take is to reduce the overhead in development and is often used cross on-premises & online with CSOM

[2021-07-21 11:08] kilasuit commented on #1337
Note: Use of SchemaXml and not all other properties that Field objects could take is to reduce the overhead in development and is often used cross on-premises & online with CSOM so should allow developers (or admins) to easily use this where they deem it fit to do so

[2021-07-21 11:08] kilasuit commented on #1336
Note: Use of SchemaXml and not all other properties that Content Type objects could take is to reduce the overhead in development and is often used cross on-premises & online with CSOM so should allow developers (or admins) to easily use this where they deem it fit to do so

[2021-07-24 11:31] ykuijs commented on #1336
Usually SharePointDsc focusses on infrastructure components, not content. This because editing content can result in a conflict with user edits (e.g. a user edits the title of a site and your desired state is no longer compliant). This resource is a grey area. I like your idea to also allow managing the Content Type Hub, which is something end users are unable to edit. That is why I think this res

[2021-07-24 11:32] ykuijs commented on #1337
Usually SharePointDsc focusses on infrastructure components, not content. This because editing content can result in a conflict with user edits (e.g. a user edits the title of a site and your desired state is no longer compliant). This resource is a grey area. I like your idea to also allow managing the Content Type Hub, which is something end users are unable to edit. That is why I think this res

[2021-07-24 11:34] ykuijs commented on #1338
SharePointDsc focusses on infrastructure components, not content. This because editing content can result in a conflict with user edits (e.g. a user edits the title of a site and your desired state is no longer compliant). This resource is an area where conflicts can happen very easily. That is why I think this resource isn't very suitable for SharePointDsc.

[2021-07-26 00:25] kilasuit commented on #1338
Whilst I do see your point @ykuijs there are times where like within the Content Type Hub or other sites used by administrators that there is a need to ensure that a list/library gets created as part of a baseline configuration

[2021-07-26 00:32] kilasuit commented on #1336
Example of the SchemaXML for the built-in Item ContentType (taken from my SharePoint Online tenant)

[code]

[2021-07-30 08:07] rurikon commented on #1311
Sorry to return to a closed issue, but I have a few questions. I recently tried to update to version 4.7.0 of SharePointDSC in our test farm and noticed that it now gives an error on the database owner check, failing with "Error while running SQL query: The login already has an account under a different user name."

I went through the changes in the pull request (https://github.com/dsccommunity/Sh

[2021-08-03 21:11] shurick81 opened #1339 "Support for SharePoint Server Subscription Edition"
Any plans of implementing support for the newest SharePoint version? I would like to contribute if needed!

[2021-08-03 21:12] shurick81 commented on #1339
Download page: https://www.microsoft.com/en-us/download/details.aspx?id=103322
English version file link: https://download.microsoft.com/download/9/0/4/90400fcd-2d16-4865-afd3-f301aa88fdf5/OfficeServer_en-us.iso

[2021-08-04 09:18] shurick81 commented on #1338
A useful analogy might be the line between what Microsoft is providing you within SharePoint Online and what you can customize. Content Type Hub is a site collection that you can configure via DSC, but does SharePoint Online creates any custom lists that are not in site collection template?

[2021-08-04 12:08] andikrueger commented on #1339
You can use the current version of SharePointDSC with SharePoint Server Subscription Edition already. It works fairly good so far.

If you like to test the preview of SharePointDSC V5 you can download it here: https://techcommunity.microsoft.com/t5/sharepointdsc/preview-release-with-support-for-sharepoint-server-subscription/ba-p/2579947

[2021-08-04 12:49] andikrueger commented on #1338
I would recommend to use PnP PowerShell to apply these settings. Preferably you would limit administrative access to those site collections, afterwards, so that the configuration will not change.

I don't see added value to have these content related settings within the configuration.

[2021-08-05 12:01] kilasuit commented on #1338
To address comments - I totally get that in the majority of cases this seems like a counter intuitive resource to have that *could* perhaps be better served using other tooling - however there are use cases that I have seen used where this functionality would be incredibly useful and would negate needing to have additional tooling in place, as such I intend to in future raise a PR that implements

[2021-08-05 12:01] kilasuit commented on #1337
To address comments - I totally get that in the majority of cases this seems like a counter intuitive resource to have that *could* perhaps be better served using other tooling - however there are use cases that I have seen used where this functionality would be incredibly useful and would negate needing to have additional tooling in place, as such I intend to in future raise a PR that implements

[2021-08-05 12:03] kilasuit commented on #1336
@ykuijs  - If you can assign this to me I will work on implementing this next week.

[2021-08-05 12:36] andikrueger commented on #1338
Could you give some examples? I'd like to understand the scenarios that cause the need.

[2021-08-09 12:59] ThomasLie commented on #1327
Shouldn't it be possible to get the database size directly from the SQL server?

[2021-08-17 10:19] julmsy commented on #1306
Hello,
I think I'm facing the same issue.

Initial SP configuration : no User Profile SA.
Start-DscConfiguration with the following code (no MySiteHostLocation parameter):

[code]

[code]

Creation of User Profile SA is OK, without error. However, if I run a Test-DscConfiguration, I got this:
[code]

If I re-run the Start-DscConfiguration again, I'm getting systematically the following error messa

[2021-08-20 15:13] shurick81 opened #1340 "SPSearchServiceApp: test returns False, "FixFarmAccountPermissions is set to True...""
#### Details of the scenario you tried and the problem that is occurring

Trying to install a SharePoint Subscription Edition farm with search service app.
`Set` works well, but `Test` returns False, with error "FixFarmAccountPermissions is set to True, but the Search databases do not have the correct permissions"

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

[2021-08-24 14:48] ykuijs commented on #1340
A PR that fixes this issue is submitted here: https://github.com/dsccommunity/SharePointDsc/pull/1331

This will not trigger a new release of the SPSE package. In the meantime, you can implement that update on your end:
https://github.com/dsccommunity/SharePointDsc/pull/1331/files -> Specifically the changes on the file SharePointDsc/Modules/SharePointDsc.Search/SPSearchServiceApp.psm1

[2021-08-24 14:49] ykuijs commented on #1340
Sorry, I meant to say the changes to SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1

[2021-08-24 23:01] #1329 closed

[2021-08-25 10:56] ykuijs commented on #1340
@shurick81

Can you try to run the following SQL query against all of your Search databases and share the results:
[code]

Change `<DATABASE>` and `<DOMAIN\FARMACCOUNT>` to the correct values in your environment.

[2021-08-25 14:52] ykuijs commented on #1339
As Andi mentioned, we have a preview version available for SPSE. More information can be found in the mentioned blog post. Please report back any issues by creating an issue here.

Closing the issue now.

[2021-08-25 14:52] #1339 closed

[2021-08-31 11:05] #990 closed

[2021-08-31 11:20] ykuijs commented on #990
Issue will be fixed in v4.8, which will be released later today.

[2021-08-31 11:32] ykuijs commented on #1338
Agree with Andi, really interested in the examples.

In general: I understand that there are use cases where having this resource will be usable, but at the same time the resource will then also be used by other admins to create lists who will end up in conflicts with users: The admin configures a list and a user updates that same list. Implementing these use cases with solutions like PnP PowerShe

[2021-08-31 11:36] ykuijs commented on #1328
@bartvermeersch Could you provide the Verbose output, so I can check the code where this goes wrong?

[2021-08-31 13:25] ykuijs commented on #1328
Found the root cause for this issue:

In the Set method, this code creates an array with Claims Mappings: https://github.com/dsccommunity/SharePointDsc/blob/8214236e27d0a67c1fd5acea64d889dd38373c0e/SharePointDsc/DSCResources/MSFT_SPTrustedIdentityTokenIssuer/MSFT_SPTrustedIdentityTokenIssuer.psm1#L283-L299

The next block of code then checks if the specified IdentifierClaim matches a MappedClaimTy

[2021-08-31 15:10] ykuijs commented on #1306
Hi @julmsy, thanks for providing such a detailed report. One question though: Can you please share the full Verbose output for this resource? I would like to see where exactly this goes wrong.

[2021-08-31 17:27] #1328 closed

[2021-09-01 10:36] bartvermeersch commented on #1328
Sorry I didin't follow up, I had to switch project. Thank you @ykuijs for the fix! (I also missed the issue in the code)

[2021-09-06 13:28] luigilink commented on #1310
Any updates of this issue ?

[2021-09-06 13:33] luigilink commented on #1310
I saw that the PSSnapin can be called three times and not exactly with the same code:

- SharePointDsc.Util.psm1:

        if (`$null -eq (Get-PSSnapin -Name Microsoft.SharePoint.PowerShell -ErrorAction SilentlyContinue))
        {
            Add-PSSnapin Microsoft.SharePoint.PowerShell
        }

- Import-SPPowerShellSnapIn.ps1

if (-not (Get-PSSnapin Microsoft.SharePoint.Powershell -ErrorAction

[2021-09-07 14:37] ykuijs commented on #1310
Hi @luigilink, the issue here is that SharePoint is still using snapins (to be changed in SharePoint Server Subscription Edition!!!).

So far I do not have a solution yet, but might have an idea how to resolve this issue. Have to find some time to test if this will work.

The workaround you are describing will work

[2021-09-07 20:43] ykuijs commented on #1310
Hi @luigilink, do you have the possibility to test the following update:
Replace the content in Import-SPPowerShellSnapIn.ps1 file with the following code and reproduce the issue
[code]

[2021-09-14 08:09] julmsy opened #1345 "SPSearchServiceSettings: change Windows Service Account cause issue on the Search Host Controller service"
#### Details of the scenario you tried and the problem that is occurring
When you call the SPSearchServiceSettings resource and WindowsServiceAccount parameter to change the service account, the following occurs:
- Service is shutting down
- The new service account is set on the service
- Service is starting... and get stuck in starting position (in Central Admin). On the Windows services.msc pane

[2021-09-14 14:59] julmsy commented on #1306
Hi @ykuijs, please find complete verbose logs regarding this resource (SPUserProfileServiceApp  without MySiteHostLocation  parameter).
This log is the second run, meaning that User Profile SA was creating on the first run.

[code]

This error above occurs systematically on further run, and also cause an error when you are trying to run a Test-DscConfiguration command:
[code]

Let me know if you n

[2021-09-15 13:48] davidlaughlin80 opened #1346 "SPSearchServiceApp: Doesn't work when specifying database credentials"
#### Details of the scenario you tried and the problem that is occurring
If the DatabaseCredentials parameter is supplied to the resource, it does not include those credentials when it calls `Confirm-UserIsDbOwner` and `Set-UserAsDbOwner`, so those functions will attempt to connect to the database using windows authentication

#### Verbose logs showing the problem
[code]
#### Suggested solution to

[2021-09-22 11:02] ykuijs opened #1347 "[SPDocIcon] Resource throws errors with SP2013"
#### Details of the scenario you tried and the problem that is occurring
The resource throws errors about the 16 hive on SharePoint 2013. It uses a hardcoded path to the 16 hive, instead of checking the version.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Check version and use that hive

#### The DSC configuration that is used to reproduce the issue (as detailed as

[2021-09-23 19:12] ykuijs commented on #1346
Working on it. Will be fixed in my next Bugfix PR

[2021-09-23 19:13] ykuijs commented on #1346
I might ask you to test the solution, since I do not have an environment available that is using SQL auth 😉

[2021-09-28 09:33] ykuijs opened #1348 "[SPWebApplication] Resource does not update the web application once it is created"
#### Details of the scenario you tried and the problem that is occurring
Once the web application is created, the resource never checks any of the parameters anymore. At least the DatabaseName (what if the specified database doesn't exist anymore) and ApplicationPool should be checked and corrected.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Add logic to check the

[2021-09-28 09:33] ykuijs commented on #1348
Included in my next PR

[2021-09-28 09:36] ykuijs opened #1349 "[ReverseDsc] When ran multiple times, the generated output contains duplicates"
#### Details of the scenario you tried and the problem that is occurring
When you run multiple exports in the same PowerShell session, the generated output contains duplicates. This is because the used variables are not reset properly

#### Verbose logs showing the problem

#### Suggested solution to the issue
Make sure all variables are reset correctly.

#### The DSC configuration that is used to

[2021-09-28 09:36] ykuijs commented on #1349
Included in my next PR

[2021-09-28 14:14] ykuijs commented on #1345
Hi @julmsy, I am trying to reproduce this issue but unfortunately I am unable to.  Can you share a little more about your topology? Do you have dedicated Search servers? Is this occurring on all servers? Can you reproduce the issue consistently?

[2021-09-28 14:34] julmsy commented on #1345
Hi @ykuijs,

For now the topology is simple: Single-server farm, as I'm working to provision DEVs environments.
And yes, I can reproduce the issue consistently when I run DSC scripts to install/build/configure the new environment.

[2021-09-28 14:35] ykuijs commented on #1340
@shurick81 Any update?

[2021-09-28 14:42] ykuijs commented on #1345
I have just tested to update the search account three times (twice on SP2016 and once on SP2019) and all work without issues.

Are these farms part of an Active Directory? If so, since you are using a single server farm: Does this server also host the AD (100% stand alone environment)?

Have you also tried the most recent patch levels (16.0.5134 is March 2021)?

[2021-09-28 14:48] ykuijs commented on #1345
And is your environment hardened in any way? Like with group policies?

[2021-09-28 15:03] julmsy commented on #1345
Yes, these farm are part of an Active Directory, but AD (as well as SQL) are on separate servers. The SharePoint Server only have SharePoint, no other service.
No GPO or other security stuff, as I'm developing & testing on my own VMs for now.

Here is what I done in my script in sequence:

1. Add Install service account in local Administrator group
2. Install Windows features
3. SPInstallPrereqs
4

[2021-09-28 15:07] ykuijs commented on #1345
Currently my test SP2016 environment is running the Dec 2020 CU. Am updating to the most recent CU as well.

[2021-09-29 09:13] ykuijs commented on #1345
FYI: I have just updated my environment to the same patch level you were using (March 2021). Changing the service account keeps working fine with that CU. Curious to see what effect updating to the most recent CU has on your environment.

[2021-09-29 10:55] ykuijs commented on #1310
Hi @luigilink, could you please test the above change in combination with the following change:
Remove (or comment out) the first two lines from the file DSCResources\MSFT_SPFarmAdministrators\MSFT_SPFarmAdministrators.psm1 and then try running your configuration again?

[2021-10-01 08:15] shurick81 commented on #1340
Hi, it took some time for me to find proper VM resources again but here we go now.

[code]

This returned 0 rows.

[code]

This returned 0 rows.

[code]

This returned 0 rows.

[code]

This returned 0 rows.

I have separate accounts for these:
* farm service
* administrator
* service app pools
* search service

This is how the roles look:

[code]

![image](https://user-images.githubusercontent.com

[2021-10-01 13:16] ykuijs commented on #1340
What is the result of this query:

[code]

[2021-10-01 13:23] shurick81 commented on #1340
[code]

[2021-10-02 21:11] #1347 closed

[2021-10-02 21:11] #1348 closed

[2021-10-02 21:11] #1349 closed

[2021-10-02 21:16] ykuijs commented on #1298
Hi @ThomasLie, any update on this issue? I am working on another update that might also impact using Invoke-SPDscCommand in the Script resource positively. Plan to add it to v4.9.

[2021-10-04 11:11] ThomasLie commented on #1298
Hi Yorick,

haven’t had any time in the last weeks…

I hope to find some time next week, will keep you updated….

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Hausverwaltung GbR
Römerweg 10a
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: ***@***.******@***.***>
Web:  https://www.lieftuechter.com/TL

Diese E-Mail enthält vertrauliche und/oder rechtl

[2021-10-05 10:33] ykuijs commented on #1340
And the result of the previous query:
[code]

[2021-10-05 11:25] shurick81 commented on #1340
[code]

![image](https://user-images.githubusercontent.com/11289124/136013964-b154eb9a-37d2-4a4c-9691-0c179d4bb74e.png)

[2021-10-05 12:34] luigilink commented on #1310
Hi @ykuijs for this long silence; I will check today and share my result with the $stack variable in Import-SPPowerShellSnapIn.ps1

[2021-10-05 14:58] luigilink commented on #1310
So two things, firtsly this $stack variable in Import-SPPowerShellSnapIn.ps1 doesn't change anything on the issue, I have still "An item with the same key has already been added".

Secondly I tried something tell me if you can implement this:
It seems that these two lines are responsible of the error:
$script:SPDscUtilModulePath = Join-Path -Path $PSScriptRoot -ChildPath '..\..\Modules\SharePointD

[2021-10-05 20:31] ykuijs commented on #1096
**Warning:** Long update 😉

I have thought about this scenario a little more. We have several challenges:
1. How to determine the order in which servers are going to be patched and upgraded (config wizard)?
2. How to take servers out of load balancing (only applicable for WFEs)?
3. How to handle reboots?
4. How to handle farm configurations like the SideBySideToken parameter?
5. How to orchestrate

[2021-10-06 12:07] julmsy commented on #1298
Hi @ykuijs,

Just to inform that I'm facing the same issue. Even with a simple SetScript, I'm getting the error message.
[code]

[code]

Let me know if you need more info.

[2021-10-06 13:09] ThomasLie commented on #1096
Hi Yorick,

I like the approach, but I do have a couple of considerations…

Determine server order
I’d prefer a PatchSet parameter paired with MinRole filtering on WebfrontEnd* (because we have to path the WFEs first).

Controlling load balancing with Windows Firewall
It could be an issue if Firewall is controlled by group policies…
What about simply stopping / disabling IIS service or stopping th

[2021-10-07 19:36] ykuijs commented on #1310
It is a combination of both changes that does the trick. The Import-SPPoweShellSnapIn.ps1 is required for the ReverseDsc integration, but in some cases that also threw the same error. That is why we added the two lines at the top of each resource.

As it turns out, here there are also scenarios where the error is thrown as you encountered.

By implemented both changes, we make sure the snap-in is

[2021-11-04 13:18] ykuijs commented on #1346
Checking this now

[2021-11-04 15:30] ykuijs commented on #1346
Disabled the DBOwner check when using SQL Authentication. Like @davidlaughlin80 said, that is redundant since the SQL account is already dbowner when using SQL auth.

[2021-11-04 19:53] #1310 closed

[2021-11-04 19:53] #1346 closed

[2021-11-05 07:48] ykuijs commented on #1346
I realized that I didn't add this check to the Test method. Just created another PR to fix that, after which I will release v4.9 later today.

[2021-11-05 12:52] jasonwbaxter commented on #1225
Hey Mark , I'm busy with something similar at one of my customers , do you have any more insights as to what you are trying to use/do. I'll check out to see if i can find some info of the M365DSC comparison...

[2021-11-12 08:42] ykuijs opened #1357 "Office Online Server Supression settings"
### Description
For OOS you can configure extensions that should not be handled by OOS. SharePointDsc currently does not have the possibility to manage these settings.

*-WOPISupressionSettings cmdlets exist: https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spwopisuppressionsetting

Would it be possible to create a resource for this?

### Proposed properties
Extension: For

[2021-11-12 21:20] ykuijs commented on #1207
Closed via PR #1354

[2021-11-12 21:20] #1207 closed

[2021-11-14 20:47] ykuijs commented on #1357
Closed via #1358

[2021-11-14 20:47] #1357 closed

[2021-11-24 20:47] ykuijs commented on #562
Closed via #1359

[2021-11-24 20:47] #562 closed

[2021-11-24 20:57] ykuijs commented on #1298
@julmsy Have you tested with v4.9? This version contains updates that should fix issues with running Invoke-SPDscCommand in a Script resource. Am curious if this also fixes the issue you are having.

[2021-11-30 08:07] breivald opened #1360 "SharePointDSC 5.0 - DSC gets stuck in endless reboot loop (version 5.0)"
ISSUE DESCRIPTION (this template):
    Hi, we are trying out the ver 5.0 DSC to install a SharePoint SE Farm. However we get stuck during this step

[code]
    After SharePoint is installed the LCM on every server gets stuck in an endless reboot loop causing the following step (installing
    language packs) to never execute. I noticed that the downloadable module found in
    https://github.com/d

[2021-11-30 15:42] ykuijs commented on #1360
Hi @breivald, are you using the version that was published a few months back with the release of the Public Preview? If so, that will not work with the RTM release of SPSE, because the code was specifically checking for the "Subscription Edition Preview" name. This has been changed in the version in the v5.0 branch. Please download that branch and run `.\build.ps1 -Tasks Build`. That will download

[2021-12-01 11:53] breivald commented on #1360
You're a lifesaver :) Now it worked like a charm !

A tip is to update the wiki with a new link or the information above.

You can set this issue as solved.

Br
Mattias

Den tis 30 nov. 2021 kl 16:42 skrev Yorick Kuijs ***@***.***>:

[2021-12-01 13:54] ykuijs commented on #1360
Great point, will update the wiki!

Closing this issue now!

[2021-12-01 13:54] #1360 closed

[2021-12-02 15:50] ykuijs commented on #494
Closed via #1361

[2021-12-02 15:50] #494 closed

[2021-12-08 14:36] ykuijs opened #1363 "[SPCertificate] New resource to manage certificates in SPSE Certificate Management"
### Description
In SPSE a new Certificate Management feature is implemented. This resource should be able to import certificates to this new store.

### Proposed properties

| Type | Data type | Name | Values |
| --- | --- | --- | --- |
| Key | String | CertificateFilePath | |
| Write | PSCredential | CertificatePassword | |
| Write | String | Store | EndEntity,Intermediate,Pending,Root | |
| Writ

[2021-12-08 14:41] ykuijs opened #1364 "[SPWebApplication] Add ability to manage assigned certificate to the web app"
#### Details of the scenario you tried and the problem that is occurring
SPSE adds the ability to manage SSL certificates from SharePoint. Issue #1363 is for managing certificates in the store. But SPWebApplication should also be updated to allow applying a certificate to a web application.

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as de

[2021-12-09 15:18] breivald opened #1365 "Problem with version 5.0 of resource MSFT_SPWebApplication.psm1"
<!--
    Your feedback and support is greatly appreciated, thanks for contributing!

    ISSUE TITLE: MSFT_SPWebApplication.psm1: hardcoded url for WA

    ISSUE DESCRIPTION (this template):
    I get an error when configurring a farm that it can't find web application on url https://root.portal.politie.local
    I searched the code and found this on line 110 in MSFT_SPWebApplication.psm1
    $wa

[2021-12-10 07:53] ykuijs commented on #1365
@breivald This is correct, my apologies!

I am working on a PR that is correcting this. Thanks for reporting!

[2021-12-15 12:30] ykuijs commented on #1365
Closed via #1362

[2021-12-15 12:30] #1365 closed

[2021-12-15 12:30] ykuijs commented on #1364
Closed via #1362

[2021-12-15 12:30] #1364 closed

[2021-12-15 12:30] #1363 closed

[2022-01-04 16:14] ykuijs commented on #1340
Hi @shurick81 Can you please test this issue again with v5.0 and the RTM release of SPSE?

[2022-01-05 13:02] julmsy opened #1371 "SPTrustedRootAuthority: not looking certificate in all store"
Hello SharePointDsc team,

#### Details of the scenario you tried and the problem that is occurring
I'm using the SPTrustedRootAuthority resource to create trusted root authority, and intend to add the following certificates (complete chain):

- ADFS Token Signing: located in the My/Personal store
- IssuingCA: located in the Intermediate Certification Authorities/CA store
- RootCA: location in the

[2022-01-07 09:16] julmsy commented on #1298
Hi @ykuijs (and happy new year!),

Implemented yesterday in my DSC script with v5.0.0: work like a charm! Thanks.

There is however one thing that I remarked: if you are calling '$($using:ConfigurationData.xxx)' to get a variable from the Configuration Data file into Invoke-SPDscCommand's scriptblock, this is not working.
Example:
[code]

I need to hardcode the variable value into the scriptblock.

[2022-01-07 09:30] shurick81 commented on #1339
Just a minor thing probably: updating wiki so that it says about Subscription Edition https://github.com/dsccommunity/SharePointDsc/wiki

[2022-01-07 09:47] ThomasLie commented on #1298
Hi @***@***.***>

What about this:

$scriptParams = @{ "Param1" = $ConfigurationData.NonNodeData.SharePoint.XYZ , "Param2" = $ConfigurationData.NonNodeData.SharePoint.ABC}

Invoke-SPDscCommand -ScriptBlock {
                $params = $args[0]
                $x = $params.Param1
$y = $params.Param2

# Your code here…

}

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Con

[2022-01-07 21:25] ykuijs commented on #1371
You are absolutely correct, the code specifically checks the Personal store:
https://github.com/dsccommunity/SharePointDsc/blob/db71484cdd93cd7228a5618d4fe6038e1caf45e5/SharePointDsc/DSCResources/MSFT_SPTrustedRootAuthority/MSFT_SPTrustedRootAuthority.psm1#L185

and

https://github.com/dsccommunity/SharePointDsc/blob/db71484cdd93cd7228a5618d4fe6038e1caf45e5/SharePointDsc/DSCResources/MSFT_SPTruste

[2022-01-12 09:43] shurick81 commented on #1340
Hi, here's the output of Test function:

[code]

[2022-01-15 22:11] shurick81 opened #1373 "Modern Dev Infrastructure"
Since https://github.com/dsccommunity/SharePointDsc/wiki/Creating-an-Azure-development-environment is a bit outdated and was not improved for some time, I thought we could rework the infra. Here are ideas for the requirements.

As a SharePointDsc contributor, I want to have a clear routine for creating different environments that I could then use for debugging SharePointDsc commits.

For the begin

[2022-01-15 22:13] shurick81 commented on #1373
Since OOS and Workfklow Manager are only needed for very specific resources, we don't need these machines that badly from the beginning, right?

[2022-01-15 22:17] shurick81 commented on #1373
If we need to allow users to access SharePoint sites from a browser running on the same SharePoint machine, we need also DisableLoopbackCheck, right?

[2022-01-15 22:21] shurick81 commented on #1373
It might be reasonable to use just one machine for both `AD` and `dev tools`, since AD does not require much resources. I personally never tried such topology, but we could try. The drawback could be some policies of the domain controller, such as allowing only AD administrators to login on such machine. Users that are not AD administrators will not be allowed to login.

[2022-01-17 20:18] ykuijs commented on #1373
I love this idea! Would be great if we offer a method to quickly provision predefined configurations!

Agree, that would be future a nice to have

Absolutely! Either that or the BackConnectionHostNames, which allows for a more granular configration. DisableLoopbackCheck basically disables the entire check. More info here: https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/acce

[2022-01-17 20:41] shurick81 commented on #1373
Yes, provisioning in an existing might be needed. Do you think it will be often case from the contributor role perspective? As a contributor, do I often need to provision new dev environment in an existing AD? Won't it be tricky to provision Azure VMs in existing domain? Will this require administrative privileges in the domain?

[2022-01-18 14:19] bartvermeersch opened #1375 "SPWebAppPolicy: arry of Members delimited with "," or not?"
Tested on PS5.1 with SharePointDSC v5.0.0

The list of Members in an SPWebAppPolicy throws an error when it is delimited with an "," while ReverseDSC does put an "," delimiter between the Members. Either reverseDSC or DSC contains a bug.

Output from ReverseDSC:

        SPWebAppPolicy 053f1e72-e106-0000-0000-5783a3759000
        {
            Members                = @(
                MSFT_SPWeb

[2022-01-18 14:34] bartvermeersch opened #1376 "MSFT_SPSearchIndexPartition: ReverseDSC returns list of strings for RootDirectory"
Tested on SP5.1 and SharePointDSC v5.0.0

ReverseDSC returned a list of strings for RootDirectory in SPSearchIndexPartition

ReverseDSC returned this config:
        SPSearchIndexPartition 5531c30e-28a4-404a-9f56-d5b3af242c8f
        {
            Index                = 0;
            PsDscRunAsCredential = $xx;
            RootDirectory        = @("E:\SearchIndex\0","E:\SearchIndex\0","E:\SearchI

[2022-01-18 15:23] nyanhp commented on #1373
One of the developers of https://github.com/automatedlab/automatedlab here 👋 the inventor being @raandree

Many items on the list @shurick81 provided can be accomplished using AutomatedLab. At the moment targeting Hyper-V or Azure. If Azure is used, the host system can be Linux and Windows, for Hyper-V it is obviously Windows. Internet-connectivity is strongly recommended for the host, since Autom

[2022-01-18 20:19] #1371 closed

[2022-01-19 06:21] shurick81 commented on #1373
Do we need these machines available from the Internet via HTTP(S) or all web requests will be probably done internally? If it's only internal requests, then I think it will be easier with DNS and certificates: hosts files and self-signed certificates.

[2022-01-19 11:21] ykuijs commented on #1373
@shurick81 Initially I would say internal only. If there are needs later on, we can always expand this to external access as well later on.

@nyanhp Thanks for this info, it is a great start to see how we can use AutomatedLab to deploy SharePoint environments!

[2022-01-20 21:01] shurick81 commented on #1373
@nyanhp do you know of any kind of comparison of AutomatedLab and similar provisioning tools like Vagrant/Terraform/Bicep/ARM templates etc.?

[2022-01-21 09:25] andikrueger commented on #1373
Just to add something to this discussion: Lately I started to use this ARM template to generate test-environments and I was happy with the outcome: https://github.com/Azure/azure-quickstart-templates/tree/master/application-workloads/sharepoint/sharepoint-adfs

Maybe I would be beneficial to include @Yvand in this discussion.

[2022-01-21 09:32] andikrueger commented on #1373
From an operations perspective, it would be great to include these recommendations about service accounts into the template: https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016#service-account-recommendations

Over the years I have seen way to many SharePoint DEV environments that were using a single account. Obviously everything

[2022-01-21 10:20] shurick81 commented on #1373
@nyanhp thanks a lot for a detailed overview! Yes, this was pretty much my impression as well. I'm used to provision using Terraform and Vagrant, but they both lack orchestration. For example, you can define 8 VMs to be created, the order/parralelism they should be created with, but then you can only set up the sequence of the scripts running on these VMs. For example, for provisioning you often n

[2022-01-22 23:45] shurick81 commented on #1373
One more idea to the requirements list might be disabling defender or applying the antivirus policies that are required for SharePoint: https://support.microsoft.com/en-us/office/certain-folders-may-have-to-be-excluded-from-antivirus-scanning-when-you-use-file-level-antivirus-software-in-sharepoint-01cbc532-a24e-4bba-8d67-0b1ed733a3d9

[2022-01-24 08:18] ykuijs commented on #1373
I like the idea to add the exclusions. We can use this script as a starting point: https://github.com/ykuijs/Powershell/blob/dev/SharePoint/SP_AV_Exclusions.ps1

I rather not add a feature to disable a security feature like Defender......if that is what the user wants he/she should do it manually.

[2022-01-24 08:33] ykuijs commented on #1339
Wiki updated! Thanks for noticing this!

[2022-01-24 08:39] ykuijs commented on #1298
The problem here is that you are mixing variables that are evaluated at compilation time ($ConfigurationData) and code that is evaluated at runtime (the script block code).

I would use the methodology that @ThomasLie shared in the first post of this thread (and in a little different format in the above post):

[code]

[2022-01-24 08:39] ykuijs commented on #1298
Closing this issue

[2022-01-24 08:39] #1298 closed

[2022-01-24 08:57] shurick81 commented on #1373
@nyanhp thanks a lot for your suggestions and guidance and of course for contributing to AL, now I deployed a few machines with AL and so far there seems no any showstoppers for us to use it for SharePointDsc!

Here's the code I used:

[code]

[2022-01-24 16:38] shurick81 commented on #1373
By the way, I also looked into Azure Lab Services but this functionality mostly focuses on scheduling and usage quotes for VMs. I could not notice any features regarding provisioning software on the lab VMs.

[2022-02-02 00:14] shurick81 commented on #1373
@nyanhp, could you suggest the roles to use for the set of 4 machines in the lab:

- AD
- SQL
- 1 empty server
- dev tools

SQL instance with necessary parallelism configured (MAXDOP)
Active Directory with recommended SharePoint service accounts https://docs.microsoft.com/en-us/sharepoint/install/account-permissions-and-security-settings-in-sharepoint-server-2016#service-account-recommendations
an

[2022-02-04 07:57] shurick81 commented on #1373
@ykuijs from your experience of contributing to this project, what do you think would be the most important topology. The topology that you would benefit the most from:

1. One machine

- AD, SQL, dev tools and empty space for installing SP - everything on one machine

2. Separate AD machine

- AD
- SQL, dev tools and empty space for installing SP

3. Separate SQL machine

- AD
- SQL
- dev tools a

[2022-02-04 08:11] IlleNilsson commented on #1373
Option 3

From: Aleksandr SaPozhkov ***@***.***>
Sent: Friday, 4 February 2022 08:57
To: dsccommunity/SharePointDsc ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [dsccommunity/SharePointDsc] Modern Dev Infrastructure (Issue #1373)

@ykuijs<https://github.com/ykuijs> from your experience of contributing to this project, what do you think would be the most important topology. The topology th

[2022-02-04 08:18] shurick81 commented on #1373
@ykuijs what do you think about the following parametrization for starters:
- Azure environment (credentials, resource group, etc.)
- Topology
- Windows version for installing SP (Selection from [AutomatedLab](https://github.com/nyanhp/AutomatedLab/blob/6d460b1db6a2015a3cef743cd5dddea063150e8c/LabXml/Machines/OperatingSystem.cs#L26-L32))
- SQL version
- Account passwords

This seems like the minim

[2022-02-04 08:37] Yvand commented on #1373
Hi everyone, I follow this discussion with some curiosity since @andikrueger added me, and also because I didn't know about AutomatedLab.
The tool itself is interesting and looks great, but it seems to me that you are merely rewriting [this ARM template](https://github.com/Azure/azure-quickstart-templates/tree/master/application-workloads/sharepoint/sharepoint-adfs) in AutomatedLab, and I can't he

[2022-02-04 08:56] ykuijs commented on #1373
I have been testing with AutomatedLab to deploy a new environment in Azure. What I am deploying at the moment is:
- AD (DC role)
- SQL (SQL role)
- SP Front-End (SharePoint role)
- SP Back-End (SharePoint role)
The dev server @shurick81 has mentioned can be simply added by adding another VM without any role specified.

I have also been looking at configuring SQL with SharePoint specific settings l

[2022-02-04 09:49] shurick81 commented on #1373
When it comes to the levels of SharePoint provisioning, I think we need a few options also:
1. Just empty machines for installing SharePoint. With such option we could debug/test `SPInstallPrereqs`, `SPInstall` and `SPInstallLanguagePack` resources.
2. Machines with SP binaries installed. On this environment it will be convenient to play with `SPFarm`.
3. Machines that joined to the farm but nothi

[2022-02-04 19:34] egor-yudkin opened #1377 "SPWebAppPeoplePickerSettings: Cannot set PeopleEditorOnlyResolveWithinSiteCollection property"
#### Details of the scenario you tried and the problem that is occurring
I'm configuring People Picker settings for a web application, and I need to set both OnlySearchWithinSiteCollection and PeopleEditorOnlyResolveWithinSiteCollection to $true. The first property is available in SPWebAppPeoplePickerSettings, but the second is not.
#### Verbose logs showing the problem
n/a
#### Suggested solution

[2022-02-07 10:52] Mettcon opened #1378 "SPTimerJobState: Can't find Resource with Invoke"
#### Details of the scenario you tried and the problem that is occurring
[code]
throws

    Invoke-DscResource : Resource SPTimerJobState was not found.
#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
N/A

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
N/A

#### The operating system the target node is running
OsName

[2022-02-09 15:30] ykuijs commented on #1378
Or use this command instead:
[code]

[2022-02-09 15:56] ykuijs commented on #1377
This is a quick addition. Will be added in my next PR.

[2022-02-09 20:32] Mettcon commented on #1378
Specify the ModuleVersion helped.
thx a lot

[2022-02-09 20:32] #1378 closed

[2022-02-09 20:59] ykuijs commented on #1378
Good to hear! Let us know when you have any other questions or ideas for improvements to SharePointDsc!

[2022-02-09 21:03] ykuijs commented on #1375
Have tracked this issue back to an issue in ReverseDsc. Am working on fixing that, before I can update the required version in SPDsc.

[2022-02-10 11:51] ykuijs commented on #1375
Fixed in [ReverseDsc v2.0.0.10](https://www.powershellgallery.com/packages/ReverseDSC/2.0.0.10) via PR [microsoft/ReverseDSC#25].

Working on the PR for SPDsc to use this version now.

[2022-02-10 12:39] bartvermeersch commented on #1376
Thanks Yorick, (I've changed the if statement to have some output):
![image](https://user-images.githubusercontent.com/1407940/153409449-78a430d9-0854-40a3-be5f-155f4e022be0.png)

[2022-02-11 09:59] ykuijs commented on #1376
Interesting output, that explains why there is an array in the output. Can you share the output of the $searchComponent variable?

[2022-02-11 11:45] #1375 closed

[2022-02-11 11:45] #1377 closed

[2022-02-15 13:54] bartvermeersch commented on #1376
![image](https://user-images.githubusercontent.com/1407940/154075905-9c2e93b7-cf6c-437b-8c5f-a702e284679f.png)

[2022-02-16 11:40] ykuijs commented on #1376
Got it! The Index Partition has three index components, which the code does not handle properly. So it returns the RootDirectory of all three components instead of just one.

I will implement a fix for this issue.

[2022-02-16 15:49] JenTonUg opened #1381 "SPSearchTopology: Export places the $ConfigurationData between quotes"
I'm looking for some help, because I'm having a hard time getting SPSearchTopology configured. I keep getting the following events in the DSC Log, currently with exactly one minute in between:

And

My config for the main server (APPSERVER01) performing the install:

[code]

The other two servers (02 and 03) are at that moment in an installed state, and joined to the farm. Further configuration is

[2022-02-17 12:10] ykuijs commented on #1381
Hi @JenTonUg, I have a few questions:

- Do you have some verbose logging you can share?
- Is "System" really the value that is being returned or did you update this to prevent sharing server names?
- Which version of SharePointDsc are you using?

[2022-02-17 13:15] JenTonUg commented on #1381
Hi @ykuijs,
Thank you for getting back to me. so quickly!

- I do, you can find it on [pastebin](https://pastebin.com/eYgTUDEM). I've switched out usernames, domain and servernames with a replace all, so it should be consistent across the board with my initial post.
- When I mention "system.mydomain.com" only the "mydomain.com" part is switched to hide server names. System is there in the log.
- I

[2022-02-17 14:01] ykuijs commented on #1381
Hi @JenTonUg,

I think something is going wrong with your config. When reviewing your logging I noticed this:

This is where the System is coming from. This must be caused by the way the MOF file is compiled. Can you share your exact configuration of the SPSearchTopology resource?

[2022-02-17 14:08] JenTonUg commented on #1381
Certainly, could I contact you directly?

[2022-02-17 14:20] IlleNilsson commented on #1381
I’m an idot to.

For a long time i tought that NonNodeData was required, it is not. You can name the NonNodeData whatever you want. And you can have multiple ‘NonNodeData’

From: JenTonUg ***@***.***>
Sent: Thursday, 17 February 2022 15:17
To: dsccommunity/SharePointDsc ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [dsccommunity/SharePointDsc] SPSearchTopology: "SearchServiceInstance is no

[2022-02-17 14:26] IlleNilsson commented on #1381
To clarify my new knowledge, being less of an idot.

@{
    AllNodes = @(
        @{
            NodeName = 'localhost'
            NodeType = 'Client' # VALUES: Client | Server
            NodeRole = @('BizTalk', 'ServiceFabric', 'SqlServer') # VALUES: BizTalk & ServiceFabric & SqlServer
            BizTalkReplica = 'Primary' # VALUES: Primary | Secondary
            ServiceFabricReplica = 'Prima

[2022-02-17 14:28] ykuijs commented on #1381
@JenTonUg, those damn quotes.....been there, done that 😛 Sometimes having a fresh pair of eye will do magic. Let me know if this fixes the issue!

@IlleNilsson, absolutely! I thought that as well in the beginning. But just AllNodes is a fixed name, NoneNodeData indeed isn't......you can name it whatever you want!

[2022-02-17 14:29] IlleNilsson commented on #1381
And if you are wondering about the Module sections, here is how we distribute them on nodes

#Requires -PSEdition Desktop
#Requires -Version 5.1
#Requires -RunAsAdministrator

#Requires -Modules @{ ModuleName = 'Microsoft.PowerShell.SecretManagement'; ModuleVersion = '1.1.2' }
#Requires -Modules @{ ModuleName = 'Microsoft.PowerShell.SecretStore'; ModuleVersion = '1.0.6' }

function Enable-Dsc {

[2022-02-17 15:37] JenTonUg commented on #1381
Good news, it worked, and I have more information to report. I started off with a reverseDSC config at first. I noticed that the quotes are in there too. I've tried it again, to make certain that the quotes over there are generated by reverseDSC and the result is consistent!
![image](https://user-images.githubusercontent.com/94599813/154507202-b418fe99-7784-4c6a-917b-555747965cfe.png)

I now get a

[2022-02-17 15:42] ykuijs commented on #1381
Thanks for letting me know! I will check and correct the export function to make sure this is exported correctly!

[2022-02-17 15:48] ykuijs commented on #1381
You are absolutely correct, the quotes are indeed added by mistake. Have implemented a fix, which will be included in my bugfix PR!

[2022-02-17 19:02] ChristophHannappel opened #1384 "[SPSearchIndexPartition] RootDirectory needs to exist on the server that is executing this resource"
Hi,

the Ressource `SPSearchIndexPartition` requires to have the driveletter available on the host where it is executed even if it does not host the Index Partition.
The creation of the first Index Partition via `SPSearchTopology` doesn't require the drive letter to be available.
Is there a technical reason why `SPSearchIndexPartition` checks the Path and `SPSearchTopology` does not?

Would it be

[2022-02-17 20:24] ykuijs commented on #1384
This is due to an issue with the `New-SPEnterpriseSearchIndexComponent` cmdlet. If the specified path doesn't exist locally, the cmdlet will fail. This was a known issue in SP2013, which was not resolved in later versions.

This was discussed in and implemented as a result of issue #1322.

So therefore it is unfortunately not possible to add the parameter.

[2022-02-18 09:22] JenTonUg commented on #1381
Looks like I closed this early before you had the chance to commit your fix.

[2022-02-18 09:26] ChristophHannappel opened #1385 "SPDatabasePermissions: New resource proposal"
### Resource proposal

# Use Case
SharePoint does not set all the required database permissions on its databases. A example would be the SPDataAccess Role for the Service Application Pool Account which is missing on the Content Databases.
Also the SCOM Management Pack needs db_owner Permissions on every SPDatabase or third Party Tools like SPDocKit

# Details
The resource would work similar to `SP

[2022-02-21 05:50] soundd2 opened #1386 "SharePoint marketing site collection not able to set as home site"
I believe below script is intended to set site collection as home site in the SharePoint online. If I am wrong please correct.
I am trying to do using SharePoint DSC PowerShell , however it is failing due to credentials issue although provided correctly. please help.
Account I am giving is part of global admin

I can do it by trinational method, but at this point I am trying to test with `DSC.```

[2022-02-21 05:54] soundd2 opened #1387 "Not recognizing admin and SPOsite:"
Not recognizing admin and SPOsite:

I used below code:
![image](https://user-images.githubusercontent.com/94822959/154897231-bcd5f544-3967-48dd-80af-dff5ffbf21a5.png)
Please help

[2022-02-21 11:58] ykuijs commented on #1387
Hi @soundd2,

You are using Microsoft365DSC, this repository is for SharePointDsc which is a different module.

Please create issues for Microsoft365DSC at: https://github.com/microsoft/Microsoft365DSC

But I do know the cause of this issue: You are using the GlobalAdminAccount parameter. This parameter was recently renamed to Credential. You can find the documentation for this resource here: http

[2022-02-21 12:00] ykuijs commented on #1386
Hi @soundd2,

You are using Microsoft365DSC, this repository is for SharePointDsc which is a different module.

Please create issues for Microsoft365DSC at: https://github.com/microsoft/Microsoft365DSC and provide any error messages you are getting.

You can find the documentation for this SPOHomeSite resource here: https://microsoft365dsc.com/resources/sharepoint/SPOHomeSite/

[2022-02-21 13:08] soundd2 commented on #1387
Hi Yorick Kujjis,

I am glad that you responded, thank you. But after changing to credentials
also it is not recognizing. Please help
[image: image.png]

Regards
Shyam

On Mon, Feb 21, 2022 at 5:28 PM Yorick Kuijs ***@***.***>
wrote: