[2018-11-09 16:20] SvenLauterbach commented on #663
Ok, I tried adding back the resources and it only required one resource to trigger the error:

[code]

Right after adding the SQLSetup resource the error occured. Hope this helps.

[2018-11-09 19:49] ykuijs opened #971 "SPManagedMetadataServiceApp: Get-TargetResource method throws error when proxy does not exist"
#### Details of the scenario you tried and the problem that is occurring
When the service app proxy does not exists, the Get-TargetResource method throws an error. This is caused by the fact that the ErrorAction parameter is missing:
https://github.com/PowerShell/SharePointDsc/blob/c6940e463f3c75292fb0f9cada586eadbb9e1e3a/Modules/SharePointDsc/DSCResources/MSFT_SPManagedMetadataServiceApp/MSFT_SPM

[2018-11-09 19:59] ykuijs opened #972 "SPSearchServiceApp: Get-TargetResource method throws error when service application pool does not exist"
#### Details of the scenario you tried and the problem that is occurring
When the service application pool does not exists, the Get-TargetResource method throws an error. This is caused by the fact that the ErrorAction parameter is missing:

https://github.com/PowerShell/SharePointDsc/blob/c6940e463f3c75292fb0f9cada586eadbb9e1e3a/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSe

[2018-11-09 20:02] ykuijs opened #973 "SPInstallPrereqs: Update links in Readme.md file"
The links in the SPInstallPrereqs Readme.md file still refer to technet.microsoft.com instead of the new docs.microsoft.com. Also the SharePoint 2019 link is missing.

All links need to get updated.

[2018-11-09 20:15] ykuijs opened #974 "SPSearchServiceApp: (Discussion) Do we need to move the WindowsServiceAccount parameter to a new resource"
The SPSearchServiceApp resource has a parameter to configure the WindowsServiceAccount. This property however is an environment wide setting, not service app specific:
https://github.com/PowerShell/SharePointDsc/blob/c6940e463f3c75292fb0f9cada586eadbb9e1e3a/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1#L293

With the current implementation it is possible t

[2018-11-09 20:24] ykuijs opened #975 "SPSearchServiceApp: Code will always try to update application pool"
#### Details of the scenario you tried and the problem that is occurring
In the current implementation, when the service app exists the Set-TargetResource method will always try to update the application pool, even when it is always configured properly:
https://github.com/PowerShell/SharePointDsc/blob/c6940e463f3c75292fb0f9cada586eadbb9e1e3a/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceA

[2018-11-10 14:37] ykuijs commented on #974
@andikrueger, @jensotto: Also interested in your thoughts on this.

[2018-11-10 18:08] andikrueger commented on #974
Good point! We already do have a resource that sets one Setting across all instances of a Service app: SPManagedMetaDataServiceAppDefault resource

I think we should add a new resource for the search service app, that Handel’s these settings. Naming would preferably alike the existing resource.

[2018-11-11 12:09] shurick81 opened #977 "SPUserProfileSyncConnection: fails to select specific OU"
#### Details of the scenario you tried and the problem that is occurring
I am trying to configure connection with only specific OUs. For example, I am trying to sync only "Production Users" OU. However, as result, I have all domain OUs added to connection:
![image](https://user-images.githubusercontent.com/11289124/48312605-b006ae00-e5b1-11e8-89bc-296d0c41c9ca.png)

#### Verbose logs showing the p

[2018-11-11 12:35] shurick81 commented on #977
Seems like even though it shows all OUs marked, it only exports desired OUs:
![image](https://user-images.githubusercontent.com/11289124/48312979-9b78e480-e5b6-11e8-886f-85dd29a6bc42.png)

[2018-11-11 14:35] ykuijs commented on #974
I suggest the name SPSearchServiceSettings, since these settings aren't directly service app settings, including "ServiceApp" in the name doesn't make sense. The resource updates the settings for the generic search service.

[2018-11-11 15:52] NikCharlebois commented on #974
I agree with the recommendation. We will have to take this out of there in order to prevent circular conflicts from happening. I think SPSearchServiceSettings would be the right name to use.

[2018-11-11 19:06] ykuijs commented on #974
That is exactly what I had at a customer last week. Two resources were conflicting and caused other issues because SharePoint was applying the settings and performing restarts of various services.

Already working on implementing this change!

[2018-11-11 19:45] #969 closed

[2018-11-11 20:51] #972 closed

[2018-11-11 20:51] #973 closed

[2018-11-11 20:51] #975 closed

[2018-11-11 21:13] ykuijs commented on #960
If there are reboots pending, the installation of SharePoint can be impacted. But I agree that SPInstallPrereqs isn't the best place for that. Would make more sense to use [xPendingReboot](https://github.com/PowerShell/xPendingReboot).

But at the same time, it looks like you are running into a different issue. Why isn't the registry key cleared? Shouldn't a reboot clear this key? And what is caus

[2018-11-12 18:35] ykuijs commented on #963
Hi @shurick81, what is returned if you run the following command:
[code]

[2018-11-12 19:31] ykuijs commented on #929
@NikCharlebois Can you give a little more info on the issue you are addressing here?

[2018-11-12 21:12] shurick81 commented on #963
Hi, thanks for your help. First, I got this:
[code]

After I added PsDscRunAsCredential, I got this:
[code]

[2018-11-13 07:36] jensotto commented on #974
I agree with your suggestion @ykuijs
Sorry I wasn't able to reply any sooner.

[2018-11-13 07:46] jensotto commented on #960
Is that registry key really an indicator for a required reboot? I've seen several environments which does not have an empty PendingFileRenameOperation key. Even brand new instances of Windows Server 2016 on Azure goes into endless reboots when running prerequirsite installer DSC resource.

[2018-11-15 11:11] ykuijs commented on #960
Looks like these registry keys are pretty common to detect a pending reboot. The xPendingReboot is using these:
https://github.com/PowerShell/xPendingReboot/blob/154f13e534e4fbcf07d914d75ed9c26d0908cf27/DSCResources/MSFT_xPendingReboot/MSFT_xPendingReboot.psm1#L16-L39

But also other sources on the Internet list the same keys: https://scriptingetc.wordpress.com/2017/06/16/detect-pending-reboots/

[2018-11-15 13:01] ykuijs commented on #963
Ok, can you please do the following:
- On your servers, open the file C:\Program Files\WindowsPowerShell\Modules\SharePointDSC\2.6.0.0\DSCResources\MSFT_SPUserProfileSyncConnection\MSFT_SPUserProfileSyncConnection.psm1
- Remove the following lines:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileSyncConnection/MSFT_SPUserProfileSyncConnecti

[2018-11-15 13:13] jensotto commented on #901
I managed to get the StrictMode set by adding Set-StrictMode -Version 2.0 as the first line in initScript in UnitTestHelper.ps1. This way all tests will run the resources with strict mode set. It should probably also be added to other supporting script files too. In addition all unit tests should also have this set in each file. I don't see how that could be added elsewhere for local test runs.
I

[2018-11-15 13:14] ykuijs opened #979 "SPUserProfileSyncConnection: Resource returns Ensure parameter in Get method, which is not in the schema."
#### Details of the scenario you tried and the problem that is occurring
The resource SPUserProfileSyncConnection returns Ensure in the Get method, but that parameter is not specified in the schema. This breaks the Invoke-DscResource cmdlet.

Due to this issue, the current resource doesn't support removing connections. This should be added.

Issue discovered while troubleshooting issue #963

####

[2018-11-16 11:14] paololec opened #980 "SPServiceAppSecurity: conflict AccessLevels"
#### Details of the scenario you tried and the problem that is occurring
SPServiceAppSecurity not complice, conflict AccessLevels see example
#### Verbose logs showing the problem
Test-ConflictingResources : A conflict was detected between resources ' ()' and ' ()' in node 'SRVSP01'. Resources have identical key
properties but there are differences in the following non-key properties: 'AccessLevel

[2018-11-16 13:24] MartinHallin opened #981 "SPConfigWizard may result in inccorect psconfig command is used on SP2016"
ISSUE TITLE:
SPConfigWizard may result in inccorect psconfig command is used on SP2016

    ISSUE DESCRIPTION (this template):
I updated an SP2016 RTM with the JULY2016 CU
When using the command SPConfigWizard on a SP2016 RTM installation run psconfig this resulted in that an correct command line switch was used.
the command line that was used was
psconfig.exe -cmd upgrade -inplace b2b -wait -forc

[2018-11-19 00:54] shurick81 opened #982 "SPFarm throws errors with SP 2019"
#### Details of the scenario you tried and the problem that is occurring
Trying to set up SP 2019 farm. I think it somehow worked with SharePointDsc 2.4 but what I get in 3.0 is the following:
[code]

#### Verbose logs showing the problem
https://gist.github.com/shurick81/1db4d784a054b60ba5b3375bde0af067

#### Suggested solution to the issue
none

#### The DSC configuration that is used to reprodu

[2018-11-19 11:11] paololec opened #984 "SPServiceAppSecurity: ExpandAccessLevel not recognized"
#### Details of the scenario you tried and the problem that is occurring
Bug on SPServiceAppSecurity
#### Verbose logs showing the problem
PowerShell DSC resource MSFT_SPServiceAppSecurity  failed to execute Test-TargetResource functionality with error message: The term
'ExpandAccessLevel' is not recognized as the name of a cmdlet, function, script file, or operable program.

#### Suggested soluti

[2018-11-19 12:04] scoreman commented on #984
Can only confirm that I'm experiencing the same issue as @paololec on SP2019 with DSC 3.0

[2018-11-19 12:22] scoreman opened #985 "SPSearchContentSource: calls New-SPEnterpriseSearchCrawlContentSource multiple times"
#### Details of the scenario you tried and the problem that is occurring
New-SPEnterpriseSearchCrawlContentSource is called on line 422 and then it's called again on line 430 in MSFT_SPSearchContentSource. This causes an exception and configuration of content source will not finish.

#### Verbose logs showing the problem
VERBOSE: [JSSP-DSC-SINGLE]:                            [[SPSearchContentSourc

[2018-11-20 15:30] ykuijs commented on #984
Just merged PR #983 which fixed this issue. This will be included in v3.1 or you can grab the current bits from the Dev branch.

[2018-11-20 15:30] #984 closed

[2018-11-20 15:30] ykuijs commented on #984
Thanks for reporting!

[2018-11-20 15:42] ykuijs commented on #980
Found the issue, will be included in my next PR

[2018-11-20 15:46] ykuijs commented on #985
Corrected the issue, will be included in my next PR

[2018-11-21 08:15] ykuijs commented on #947
Discovered a solution for this issue. Have shared it with Philippe for testing. If it works, I will add it to my next PR.

[2018-11-27 10:00] BBokdam opened #986 "MSFT_SPInstallPrereqs: MSVCRT11 missing"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem
When installing SharePoint 2019 the prereq MSVCRT11 is not required
#### Suggested solution to the issue
Add the MSVCRT11 to the requirements of SharePoint 2019
#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

[2018-11-27 10:02] ykuijs commented on #986
Have potentially identified the cause of this issue and am working with @BBokdam on testing a solution. Will include the fix in my next Bugfix PR.

[2018-11-27 12:52] ykuijs commented on #986
Solution works. Will be included in my next Bugfix PR

[2018-11-27 14:12] ykuijs commented on #891
@JoeAlanis Do you have an answer to my previous question?

[2018-11-27 15:53] #923 closed

[2018-11-27 15:53] #966 closed

[2018-11-27 15:53] #974 closed

[2018-11-27 15:53] #986 closed

[2018-11-27 21:35] #947 closed

[2018-11-27 21:35] #979 closed

[2018-11-27 21:35] #980 closed

[2018-11-27 21:35] #985 closed

[2018-11-28 09:31] ykuijs commented on #583
@andikrueger, @ronx Any more updates/comments? If not, I suggest to close this issue.

[2018-11-28 09:34] ykuijs commented on #585
This has been implemented via PR #954 (based on issue #825) and available in v3.0. Closing this issue

[2018-11-28 09:34] #585 closed

[2018-11-28 09:38] ykuijs commented on #896
HI @MikeLacher448 Any update?

[2018-11-28 10:30] andikrueger commented on #583
You wrote a fantastic article on how to get started with SharePointDsc. I think we can close this issue and wait for further suggestions for improvement.

[2018-11-28 14:45] philippe-entringer commented on #947
Thanks Yurick
The fix is working great on french OS.

[2018-11-28 14:49] NikCharlebois commented on #947
Bonne nouvelle! Thanks folks, my client in Quebec City will be pleased!

[2018-11-29 07:35] Bjorn80 commented on #877
Sorry to get back to this so late, seems that adding the search account to the local admin group fixes all issues. Account can be removed from local admins after search has been configured. Hence I can use normal spsetup to setup search.

[2018-11-29 07:35] #877 closed

[2018-11-29 09:14] shurick81 commented on #982
Here is the full output: https://gist.github.com/shurick81/e191f540f68017cf2bf935322048f74f

I also added some debug output so we can see what commands throw what errors:
[code]

[2018-11-29 14:42] pstork opened #990 "Can't create Site Collection in SharePoint 2019"
#### Details of the scenario you tried and the problem that is occurring
   When using SharePointDSC to create a Custom minrole server using the Azure SharePoint 2019 image it throws an error for every Site Collection I try to create. New-SPSite works normally outside of DSC. Site Collections with the same settings can be built using New-SPSite in PowerShell or Central Admin

#### Verbose logs sho

[2018-12-04 11:21] Roness opened #991 "SharePoint 2019 - SPInstallPrereqs : The prerequisite installer ran with the following unknown exit code 1620"
#### Details of the scenario you tried and the problem that is occurring

#### "PowerShell DSC resource MSFT_SPInstallPrereqs  failed to execute Set-TargetResource functionality with error message: The prerequisite installer ran with the following unknown exit code 1620
    + CategoryInfo          : InvalidOperation: (:) [], CimException
    + FullyQualifiedErrorId : ProviderOperationExecutionFail

[2018-12-04 13:01] ykuijs commented on #991
Error code 1620 means there is an issue with the MSI: http://www.msierrors.com/tag/msiexec-exit-code-1620/

What happens it you start the installer manually? Does it also give an error message?

[2018-12-04 13:09] Roness commented on #991
If I try to install this file manually it work as well
i'm Still investigating this..

[2018-12-04 13:09] ykuijs commented on #990
Hi @pstork, the mentioned Id (cbb92da4-fd46-4c7d-af6c-3128c2a5576e) has something to do with the Document Sets feature.

A couple of questions:

- Does the ULS log give a little more information? Maybe you have to increase the logging level.
- Did you try to run the New-SPSite cmdlet using the same credentials as specified in the config ($SharePointSetupUserAccountcreds)?
- What are the exact para

[2018-12-04 13:12] ykuijs commented on #991
Can you share the verbose logging of DSC?

[2018-12-04 13:21] Roness commented on #991
Message The prerequisite installer ran with the following unknown exit code 1620
HResult -2146233087
StackTrack    at System.Management.Automation.Runspaces.AsyncResult.EndInvoke()
   at System.Management.Automation.PowerShell.CoreInvokeRemoteHelper[TInput,TOutput](PSDataCollection`1 input, PSDataCollection`1 output, PSInvocationSettings settings)
   at System.Management.Automation.PowerShell.Core

[2018-12-04 15:34] ykuijs commented on #991
Troubleshooted offline. The Software Requirements referred to the SP4 download for the SQL Native Client, with is a 1GB package (https://docs.microsoft.com/en-us/sharepoint/install/hardware-and-software-requirements-2019#software-requirements-for-sharepoint-server-2019). Unfortunately the PrerequisitesInstaller did not support this package and you need just the native client package: https://www.m

[2018-12-04 17:14] shurick81 commented on #982
Thanks, the issue was caused by installing client SDK on the server: https://github.com/shurick81/sp-devops-starter/blob/f1662056fb26a990baa88ea39553ee8e79bfec9d/infrastructure/images/devbin-spclient.ps1. When I removed this part from the provisioning, everything started working as it should. It has nothing to do with SharePoint developer so I close the issue.

[2018-12-04 17:14] #982 closed

[2018-12-04 21:45] ykuijs commented on #963
@shurick81 v3.1 fixes the issue you ran into while running Invoke-DscResource (with the Ensure parameter missing). Can you please update to v3.1 and try the Invoke-DscResource command again?

[2018-12-04 21:47] ykuijs commented on #977
So this looks like a UI issue. We will have to check if there is some additional step required to update the UI correctly.

[2018-12-07 20:52] ykuijs commented on #920
Currently we are using the ValidateSet to determine if the user inputted a correct value. With localizations, these potential values can be pretty much anything. This means we have to remove the ValidateSet.

This change however means that users can input values that do not exist on the environment. I have found a way to retrieve all possible localized values:
[code]
Using this set of possible val

[2018-12-07 20:58] ykuijs commented on #955
For issue #920 I have found a way to retrieve the possible localized values. Do we have other examples, so I can check on my localized environment (Dutch) if I can find a way to retrieve those possible values?

[2018-12-07 21:06] ykuijs commented on #955
@jensotto Your solution with changing the culture doesn't work in case of the SPResultSource. This code still outputs the localized names:
[code]

[2018-12-08 10:05] jensotto commented on #955
@ykuijs I digged a bit into the code involved with getting this data, and it seems that there are no language transformation of the provider data. Everything is pulled directly from the database. I can't get the data in any other language than the original language that SharePoint was installed with (US English in my case). I don't understand why you get the localized names unless it ties directly

[2018-12-08 16:05] ykuijs commented on #955
@jensotto I am using a Dutch version of Windows with a Dutch version of SharePoint, so I know for sure that everything that can be in Dutch will actually be in Dutch.

I just tested some more and created a new Managed Metadata service application. When running the following code, I got some worrying results:
[code]

When I don't first set the culture, everything is in Dutch. But when I do set the

[2018-12-09 12:35] jensotto commented on #955
This is what I get:

If I don't set the CurrentUICulture I get this:

[2018-12-11 08:56] ykuijs commented on #955
Ok, so it looks like that the non "Full Control" levels are created in one specific language and aren't translated anymore. So we probably need to do the same as with the SPSearchResultSource for the permissions levels as well.

Out of curiosity: What is the language of the OS you are using?

[2018-12-11 08:57] ykuijs commented on #955
And are you using a Norwegian version of the SharePoint install, or have you installed the English version with the Norwegian language pack?

[2018-12-11 11:22] jensotto commented on #955
I used a US English installation media for both SharePoint and the OS. I've installed a Norwegian language pack for both, and changed the display language to Norwegian for my user account.

[2018-12-11 12:07] ykuijs commented on #932
@IlleNilsson Can you explain your issue a little more? What are you trying to accomplish? Do you have any steps to reproduce?

[2018-12-11 13:20] pstork commented on #990
I've checked the ULS logs after trying another install.  The section of the log dealing with creation of the Site Collection is attached.
[errors.log](https://github.com/PowerShell/SharePointDsc/files/2667693/errors.log)

About all I can see is the following exception trying to apply the web template
12/11/2018 12:32:47.02	wsmprovhost.exe (0x0E3C)	0x1294	SharePoint Foundation	Topology	c977	Unexpec

[2018-12-12 18:18] IlleNilsson commented on #932
I’m really doing what i describe, but I’m quite shure the issue is resolved with the latest updates to SharePoint itself.

Just don’t close the issue right now.

We are doing a complete rebuild of MinRole farms from Lab, Dev, Test to Prod just now. We will complete before new years.

If I still experience the problem I will leave a comment. If I don’t I will also leave a comment.

BR // Ilian

Fro

[2018-12-13 00:13] bminisi opened #992 "Invoke-SPDscCommand -ScriptBlock in a script resource unable to pass variables"
I have a configuration with a few script resources that are adding SharePoint Powershell:

Add-PSSnapin Microsoft.SharePoint.PowerShell

I need to use the PsDscRunAsCredential in a couple of the script resources.  However, when I do this, I get the error "An item with the same key has already been added".

To get around this problem, I tried using Invoke-SPDscCommand -ScriptBlock {} in SetScript.

[2018-12-13 10:08] ikarstein commented on #990
Same for me, but without SharePointDSC :

new-spsite -Url "https://intranet19.farm/msh" -Template "SPSMSITEHOST#0" -Language 1031 -Name "MySites" -OwnerAlias "ingo" -Verbose

new-spsite -Url "https://intranet19.farm/cthub" -Template "STS#0" -Language 1031 -Name "Content Type Hub" -OwnerAlias "ingo" -Verbose

Both fail with the same error:
new-spsite : Invalid field name. {cbb92da4-fd46-4c7d-af6c-3

[2018-12-13 10:55] ykuijs commented on #955
I have updated SPServiceAppSecurity to validate the specified permission levels against the possible values from SharePoint. Will submit a PR shortly.

[2018-12-13 12:55] ykuijs commented on #920
I have updated SPSearchResultSource to validate the specified ProviderType against the possible values from SharePoint. Will submit a PR shortly.

[2018-12-13 14:33] ykuijs commented on #992
You can use the Arguments parameter of Invoke-SPDscCommand to pass arguments.

But to get back at your first issue: Can you share your config?
And have you checked the Credential parameter, as specified in the documentation: https://docs.microsoft.com/en-us/powershell/dsc/scriptresource

[2018-12-13 20:11] bminisi commented on #992
Here is an example of my script resource.  Using PsDscRunAsCredential works by having the SetScript run under the credential passed in.  I will look into passing arguments as mentioned above.  However, I have not seen any examples of this other than using $PSBoundParameters.  I want to use variables that have been set in the configuration and not parameters.  Such as,

[code]

[2018-12-14 10:32] paololec opened #994 "SPProductUpdate: wrong detect version / patch not installed"
#### Details of the scenario you tried and the problem that is occurring
Try to use SPProductUpdate with "sts2019-kb4461513-fullfile-x64-glb.exe" , two server SP, one CU apply on first server already, when try SPProductUpdate on second server it NOT EXECUTED because wrong evalution of right version using "Get-SPDscFarmVersionInfo"

#### Verbose logs showing the problem
Update has version 16.0.1033

[2018-12-14 13:57] Yvand commented on #990
I also reproduce this issue with my [ARM template](https://github.com/Yvand/AzureRM-Templates/tree/dev/Templates/SharePoint-ADFS-DevTestLabs), and issue always reproduces if sharePointVersion is "2019".
I saved the full log for the correlation ID. The relevant errors are the following:
[code]

I don't know the root cause, but interestingly it does not seem to reproduce in my [other template](https

[2018-12-14 14:45] paololec commented on #906
Please allow to set IncrementalSchedule also with ContinuosCrawl and not check it/throw it.

[2018-12-14 16:39] paololec commented on #981
Example of better code:
`
if ((Get-SPDSCInstalledProductVersion).FileMajorPart -eq 15)
    {
        $binaryDir = Join-Path $env:CommonProgramFiles "Microsoft Shared\Web Server Extensions\15\BIN"
    }
    else
    {
        $binaryDir = Join-Path $env:CommonProgramFiles "Microsoft Shared\Web Server Extensions\16\BIN"
    }
    $psconfigExe = Join-Path -Path $binaryDir -ChildPath "psconfig.exe"

[2018-12-14 20:41] ykuijs commented on #994
@paololec Thanks for reporting. We will have to investigate this issue.

FYI: We are working on a revised method for detecting patch levels, so we might have to skip fixing this issue because the new method will be released.

[2018-12-14 20:46] ykuijs commented on #992
That is correct, we have an example which adds more parameters in:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPServiceAppSecurity/MSFT_SPServiceAppSecurity.psm1#L173

You don't have to add the using clause, just pass @($Var1, Var2). In the scriptblock, you can use $args[0] for Var1, $args[1] for Var2, etc.

[2018-12-14 21:55] ykuijs commented on #929
@NikCharlebois Any update?

[2018-12-14 22:16] bminisi commented on #992
Great!  Thanks.

[2018-12-14 22:51] andikrueger commented on #994
This issue should be resolved by the new method. The updated SPProductUpdate resource and additional functions to check the install status of an update can be found here: https://github.com/PowerShell/SharePointDsc/pull/938

You can find more information about the chances made in this PR in #679 .

[2018-12-14 22:55] andikrueger commented on #679
Today Pester got updated with the ability to add a TestRegistry: https://github.com/pester/Pester/pull/1112 This should make unit testing of this resource easier.

I'm looking forward to update my recent PR.

[2018-12-18 09:37] Yvand opened #995 "SPDistributedCacheService: throws error "Host is not running in cluster" in SharePoint 2019"
SPDistributedCacheService: throws error "Host is not running in cluster" in SharePoint 2019

#### Details of the scenario you tried and the problem that is occurring

Resource SPDistributedCacheService throws an error when it configures the service for the 1st time. If I run the DSC configuration again on the server there is no error.
This issue always reproduces on SharePoint 2019, while the exac

[2018-12-18 11:11] paololec opened #996 "SPDistributedCacheClientSettings: missing some SP2016 settings"
#### Details of the scenario you tried and the problem that is occurring
Missing for SP2016 this options:
[code]
#### Verbose logs showing the problem
Missing options..
#### Suggested solution to the issue
Implement it

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### Version of SharePoint that is used (e.g. SharePoint 2016)
SharePoint 2016

###

[2018-12-18 11:12] #920 closed

[2018-12-18 11:12] #955 closed

[2018-12-18 11:15] ykuijs commented on #992
Hi @bminisi, is your issue been resolved? If yes, can I go ahead and close this issue?

[2018-12-18 12:20] Yvand commented on #995
I investigated it and it fail when resource runs Stop-SPServiceInstance:

https://github.com/PowerShell/SharePointDsc/blob/3844111e1e98c1aa4483f4251845425264af8434/Modules/SharePointDsc/DSCResources/MSFT_SPDistributedCacheService/MSFT_SPDistributedCacheService.psm1#L249-L251

So I surrounded Stop-SPServiceInstance with try/catch like below and it fixed the issue:

[code]

Is it a good fix?
If so,

[2018-12-19 16:06] Yvand commented on #995
Solution I proposed above is not working, I continue to get the error after this, I need to continue the investigations...

[2018-12-19 21:09] #992 closed

[2018-12-21 21:13] bminisi commented on #912
I just experience the same problem on another machine.  Most do not have this problem, but all of these machines are built off of the same template.

[2018-12-27 14:52] Yvand commented on #945
@shurick81 I wanted to test and comment your solution much earlier but I didn't find the time until now.
I cannot use your solution because it assumes that "contosoclubbwebb.pfx" already exists at compilation time.
In my scenario, I populate a completely new environment and the certificate doesn't exist yet, so DSC function fails to generate the MOF with this error:
[code]

[2018-12-28 16:02] ChristophHannappel opened #998 "SPTrustedIdentityTokenIssuer: UseWReply Property"
#### Details of the scenario you tried and the problem that is occurring
I'm deploying a Trusted Identity Token Issuer and want to use the UseWReply Parameter, so i can use SAML Authentication and SharePoint Hosted Apps.
The usage of the WReply simplifies the Active Directory Federation Services Configuration, because i'll just need one Relying Party Trust for each SharePoint Farm and a single Tru

[2019-01-02 09:32] jensotto commented on #901
I've implemented strict mode version 1 in #999 The use of strict mode uncovered a few bugs in some of the resources. At first I think we should just implement strict mode version 1 as using version 2 generated a lot more issues, and it will take time to fix all of them. Version 1 will still uncover many potential code issues.

[2019-01-02 15:39] ChristophHannappel commented on #998
Has been fixed in a newer release. Sorry :)

[2019-01-02 15:39] #998 closed

[2019-01-02 18:01] llowevad opened #1000 "SPUserProfileServiceApp - MySiteHostLocation Should be required"
https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spprofileserviceapplication?view=sharepoint-ps

According to the above powershell command that is used in the SPUserProfileServiceApp, the MySiteHostLocation is a required parameter. The parameter on the DSC resource should be required as well. When I don't provide the parameter it fails on running the associated powershell c

[2019-01-03 21:59] ykuijs commented on #963
@shurick81 Any update?

[2019-01-03 22:00] ykuijs commented on #891
@JoeAlanis Any update?

[2019-01-03 22:01] ykuijs commented on #891
And can you test with v3.1?

[2019-01-06 04:46] MyProjectExpert commented on #990
Yes, I have been getting this as error well using PowerShell.  What is weird is somedays, it works.

New-SPSite : Invalid field name. {acd16fdf-052f-40f7-bb7e-564c269c9fbc} http://demosp.wcc2dev.local
At line:1 char:5
+     New-SPSite $WebAppURL -Name $SiteRootName -Template STS#0 `
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidData: (Micros

[2019-01-07 10:46] Domivo opened #1001 "SPInstallLanguagePack"
SharePoint 2019 German Language Pack couldn't be installed.

Error:

PowerShell DSC resource MSFT_SPInstallLanguagePack  failed to execute Test-TargetResource functionality with error message: Unknown folder structure
    + CategoryInfo          : InvalidOperation: (:) [], CimException
    + FullyQualifiedErrorId : ProviderOperationExecutionFailure
    + PSComputerName        : SP2019.splab.local

[2019-01-07 15:17] regularroutine opened #1002 "New MinRole farm is created but not in compliance"
Hello,
I have been playing around with Lability and SharePointDsc. Everything is working great except that my servers are deployed with MinRoles showing as not in compliance. If I compare the service applications and services before and after clicking "Fix" I see no differences.
Does anyone know how I can find the root cause for these compliance issues?

Also, a separate question is there currentl

[2019-01-07 15:21] regularroutine commented on #1001
Hey Domivo,

are you sure the path exist on the machine? Can you try to navigate there?

Thanks,
David

[2019-01-08 13:01] andikrueger commented on #1002
I did see this behaviour before. I was able to fix this issue by running the config wizard after the installation.

[2019-01-08 13:04] andikrueger commented on #1000
This is a bug.

For now we should add a warning, that the `MySiteHostLocation` is a required parameter. Making this parameter required would be a breaking change.

https://github.com/PowerShell/SharePointDsc/blob/4b3133ec1e7e369277afd61720eb4b34991d1e5e/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileServiceApp/MSFT_SPUserProfileServiceApp.schema.mof#L7

[2019-01-08 13:08] andikrueger commented on #995
A while back I created an issue on the same topic and it seems to be related: #786

[2019-01-08 13:11] Domivo commented on #1001
Hey David,

yes the path exists on the machine and i can navigate there.

There exists a subfolder "German" with the german language pack inside. I also tried the following in the ConfigData:
LanguagePackPath = "C:\DSC SP 2019\SP2019\LanguagePack\German"
LanguagePackPath = "C:\DSC SP 2019\SP2019\LanguagePack\German\serverlanguagepack.exe"

The result is the same error message.

Greetings!

[2019-01-08 13:22] regularroutine commented on #1001
Hey Domivo,
I believe you need to reference the root of the folder where the files reside.
Cheers

[2019-01-08 13:47] Domivo commented on #1001
Thank you andikrueger!

That was the solution for my problem.

Greetings!

[2019-01-08 13:47] #1001 closed

[2019-01-08 15:02] paololec opened #1003 "SPManagedMetaDataServiceApp: No termstore matching to the proxy name 'Managed Metadata Service' was found"
#### Details of the scenario you tried and the problem that is occurring
Problem on line:
$session = Get-SPTaxonomySession -Site $centralAdminSite.Url

if invoked in shp server with role "application with search" return only "OfflineTermStoreNames" and null for "TermStores".
If I try it manual in powershell simple session the first execution do same things, if I repeat the command it works, but on

[2019-01-08 15:46] paololec commented on #1003
I reboot the server and the problem seems solved. Maybe it's a problem related to unload correctly the profile or similar.
In the ULS log before reboot I found "Illegal operation attempted on a registry key that has been marked for deletion"

[2019-01-08 20:15] ykuijs commented on #1002
I haven't seen this behavior before.

Currently we do not have a possibility to configure the developer dashboard. This would be a good addition for the SPFarm resource, since this is a farm wide setting. Will create a new issue, so we can track implementation.

[2019-01-08 20:21] ykuijs opened #1006 "SPFarm: Implement the possibility to configure the Developer Dashboard"
#### Details of the scenario you tried and the problem that is occurring
Enhance the SPFarm resource with the ability to configure the Developer Dashboard

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Extend the resource

2013: https://social.technet.microsoft.com/wiki/contents/articles/51236.enabledisable-developer-dashboard-in-sharepoint-2013.aspx
2016: https:/

[2019-01-08 20:22] ykuijs commented on #1002
Just created #1006 for tracking the ability to configure the dev dashboard

[2019-01-08 20:23] ykuijs commented on #1002
For troubleshooting the issue: Do you see any information in the ULS log?

[2019-01-09 08:36] andikrueger commented on #1002
I've already spent quite a bit of time on the problem. As far as I know there is no information in the ULS or in eventviewer that points to a problem.

As far as I know, the problem occurs when SharePoint (SPInstall) is installed, followed by a Language Pack (SPInstallLanguagePack) and then the creation of the farm (SPFarm). Checking the compliance status of the min role at this particular time wi

[2019-01-09 16:11] ykuijs commented on #1003
Hi @paololec So the issue seems resolved? You are no longer able to reproduce?

Is so, can we close the issue? If it re-occurs, you can always reopen the issue

[2019-01-09 16:14] ykuijs commented on #1002
Which will be resolved by running the Config Wizard?

Did you try to use the SPConfigWizard resource, in other words: Are the registry keys which specify the requirement for running the Config Wizard set?

[2019-01-09 16:30] ykuijs commented on #990
@Yvand You log shows the following error just before the other message is thrown:
[code]
0x80070002 means "The system cannot find the file specified". Can you use make a trace of your environment using Process Monitor and share it with me?

[2019-01-09 16:31] ykuijs commented on #990
@ikarstein @MyProjectExpert @Yvand
Can you guys share the patch level of SharePoint which you are using?

[2019-01-09 16:34] ykuijs commented on #929
@NikCharlebois Any updates?

[2019-01-09 16:36] ykuijs commented on #583
Closing issue

[2019-01-09 16:36] #583 closed

[2019-01-09 20:03] ykuijs commented on #663
Hi @SvenLauterbach Sorry for not replying earlier.....hectic end of the year and then the holiday season ;-)

Does the issue still exist? Did you try to add another resource than SQLSetup resource (so we can eliminate if this is related to SQLSetup or not)?

[2019-01-09 23:48] MikeLacher448 commented on #896
in the UI, when using the Directory Service integration mode (UseDirectoryManagementService = $true), you set an OU that the farm account has access to create email objects... does anyone know the PowerShell equivalent? I'm not seeing it exposed as a property of the service instance.

[2019-01-10 09:54] ikarstein commented on #990
@ykuijs

I have this patch installed:
https://support.microsoft.com/en-us/help/4461548/descriptionofthesecurityupdateforsharepointserver2019december112018

[2019-01-10 13:51] andikrueger commented on #896
`UseDirectoryManagementService` is a public property of the `SPIncomingEmailService` class. This means you should be able to access this property by running the following code:

[code]

For more details about the service object see: https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.administration.spincomingemailservice?view=sharepoint-server

[2019-01-10 14:10] MyProjectExpert commented on #990
Hello All

Issue can be duplicated by using the SharePoint 2019 Trial VM image on azure portal.

I found out if I update my windows server and then run the SharePoint Configuration Wizard, that my issue goes away and not an issue with me any more.

Sincerely

Michael Wharton, Project MVP
cell: 336-972-5741

From: Ingo Karstein <notifications@github.com>
Sent: Thursday, January 10, 2019 4:55 AM
To:

[2019-01-10 14:12] NikCharlebois commented on #990
Folks, I am responsible for the Azure Trial Images. Can you folks confirm that the problem goes away when applying the December 2018 CU? I normally update the images every 6 months, but could update it sooner if we can confirm 100% that this fixes the issue. Thanks

[2019-01-10 15:02] Domivo opened #1007 "SPProductUpdate: Update does not contain the language code in the correct format."
Hello,

I installed the SharePoint 2019 CU January 2019 (LanguagePack independent) with SharePointDSC.
I also want to install SharePoint 2019 CU January 2019 (LanguagePack dependent) with SharePointDSC, but i get the following error message:

PowerShell DSC resource MSFT_SPProductUpdate failed to execute Test-TargetResource functionality with error message: Update does not contain the language cod

[2019-01-10 15:30] andikrueger commented on #1007
Could you share your file names and screenshots of the file properties > details. The resource  checks the file name and this check results in this error.
https://github.com/PowerShell/SharePointDsc/blob/9ddfa8dbff12af52bc7eb3aa202dabdd00574a4b/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/MSFT_SPProductUpdate.psm1#L76-L83

[2019-01-10 15:40] Domivo commented on #1007
![sp2010-cu-lp](https://user-images.githubusercontent.com/46443767/50979278-72150000-14f6-11e9-8b6d-289ae05d629a.PNG)

[2019-01-10 19:15] ykuijs commented on #990
@MyProjectExpert Do you mean install all available Windows Updates? If so, does that also include any SharePoint security updates (and which)? Or did you install a specific CU?

[2019-01-10 20:34] MyProjectExpert commented on #990
Yes, I basically ran the Windows Update and installed all the patches.    Didn’t have time to isolate which particular patch.

One other point and I am investigating it.   When I build SharePoint from the image, I don’t use the SharePoint Configuration wizard. Its build using PowerShell script.  Done it this way for years.  There is a possibility that something need is required when using PowerShe

[2019-01-10 23:08] MikeLacher448 commented on #896
yep, that's exactly where I'm looking. I can set that property to True to use the directory management service, but I see no property or method exposed to set the OU in AD to use for creating mail contacts and groups

[2019-01-11 07:43] ykuijs commented on #995
Closed via #997

[2019-01-11 07:43] #995 closed

[2019-01-11 07:44] ykuijs commented on #786
@andikrueger With the merge of #997, can you please test if this issue is also resolved with the version of Dev

[2019-01-11 07:52] ykuijs commented on #1007
We are also looking for a screenshots of the file properties of the files: Right click the file > Select Properties > Click on the Details tab

[2019-01-11 07:58] Domivo commented on #1007
![properties1](https://user-images.githubusercontent.com/46443767/51020516-104ca880-157f-11e9-8421-fa93d80d1000.PNG)
![properties2](https://user-images.githubusercontent.com/46443767/51020517-104ca880-157f-11e9-9e04-e04b6d1b857c.PNG)

[2019-01-11 12:36] ykuijs commented on #901
#999 is merged, so strict mode is now enabled for all tests in version 1 mode. Next step is to move to version 2.

[2019-01-11 12:51] andikrueger commented on #679
Yesterday a new version of Pester got released, that allows the usage of TestRegistry:\ https://github.com/pester/Pester/releases/tag/4.5.0

[2019-01-12 12:02] ykuijs commented on #932
Hi @IlleNilsson Any update? Has the issue been resolved?

[2019-01-12 12:08] ykuijs commented on #912
This issue looks similar to #663

@bminisi Can you please check:
- What happens if you just use the SPFarm resource in a config?
- What happens if you then add the SQLSetup resource to the config with just the SPFarm resource?
- What happens if you add the SPInstall resource to the config with just the SPFarm resource?

[2019-01-12 12:09] IlleNilsson commented on #932
Not yet, our sql clusters disks gave up just before new year. I’ll get back to you

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Saturday, January 12, 2019 1:02 PM
To: PowerShell/SharePointDsc
Cc: Ilian Nilsson; Mention
Subject: Re: [PowerShell/SharePointDsc] SPSite: Primary, Secondary & additional Site Collection Administrators problem (#932)

Hi @IlleNilss

[2019-01-12 12:10] ykuijs commented on #932
Ok that is back luck.....good way to start the new years ;-) No worries, I'll wait for an update. Thanks!

[2019-01-14 08:05] ykuijs commented on #1007
I see what the problem is. In SP2019, the localized patches have the words "Language Pack" in it, where in previous versions this was only used for actual Language Packs. That is why the code now thinks this is a language pack and is looking for a language code, which it does not have (CU are multi-lingual).

@andikrueger How far are you with the revised version of this module? Just wondering if i

[2019-01-14 09:41] andikrueger commented on #1007
@ykuijs The current implementation would have the very same problem.

https://github.com/andikrueger/SharePointDsc/blob/5651df5cfc8e4d84b8fef1c47a9c70799b378947/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/MSFT_SPProductUpdate.psm1#L91-L98

Wouldn't it be sufficient to check for the SharePoint Version in this if statements condition:

https://github.com/andikrueger/SharePointDsc/blob/56

[2019-01-14 09:56] Yvand commented on #990
@NikCharlebois I provisioned the current Azure SharePoint 2019 Trial VM image and updated SharePoint to January 2019 PU 16.0.10340.12101.
Unfortunately I continue to reproduce the issue

[2019-01-14 13:31] MyProjectExpert commented on #990
After applying patch, did you run the SharePoint Configuration Wizard?

Sincerely

Michael Wharton, Project MVP
cell: 336-972-5741

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, January 14, 2019 4:56 AM
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Michael Wharton <mwharton@whartoncomputer.com>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/Share

[2019-01-14 15:10] Yvand commented on #990
yes

[2019-01-15 08:06] scoreman opened #1008 "SPInstallPrereqs: incorrect os-version on Windows Server 2019"
When installing SharePoint 2019 on Windows Server 2019 the code assumes major OS-version=11 but Windows Server 2019 has major version 10 (my testing shows 10.0.17763.0 when running [System.Environment]::OSVersion).

This is no big issue today since the same features are activated for server 2016 and 2019 but it could introduce bugs in the future.

[2019-01-18 12:44] ykuijs commented on #1007
I think this won't work, since this means the installation of Service Packs for Language Packs for SP2019 won't be able. Even though these probably won't be released for SP2019, I do not want to take that chance.

I rather check if we can use the File Description as well.

[2019-01-18 12:51] andikrueger commented on #1007
good point!
Is the file name "wssloc..." unique to CUs for language dependent updates or wasit used for service packs for language packs too?

[2019-01-18 13:08] ykuijs commented on #1008
Investigate this issue and you are absolutely right. Windows Server 2019 is build 10.0.17763 (https://docs.microsoft.com/en-us/windows/desktop/sysinfo/operating-system-version, https://en.wikipedia.org/wiki/List_of_Microsoft_Windows_versions#Server_versions).

I also noticed that SharePoint 2016 is also supported on Windows Server 2019 (https://docs.microsoft.com/nl-nl/windows-server/get-started-1

[2019-01-18 13:19] ykuijs commented on #1002
Have you tried to manually reproduce these steps, so installing SP, LP and then creating the farm?

And is this SP2016 or SP2019 or both?

[2019-01-18 13:38] andikrueger commented on #1002
I first saw this issue with SP 2016 and very recently with SP 2019 - I will try to recreate these steps manually to be sure it is not something related to DSC.

[2019-01-21 19:17] egor-yudkin opened #1010 "SPWebAppAuthentication: Basic authentication"
#### Details of the scenario you tried and the problem that is occurring
I'd like to configure Basic authentication along with NTLM for web application using SPWebAppAuthentication DSC resource. But it seems MSFT_SPWebAppAuthenticationMode class doesn't have "Basic" in AuthenticationMethod parameter, so I assume it's not a supported authentication method in SharePointDSC/MSFT_SPWebAppAuthenticatio

[2019-01-22 08:56] SvenLauterbach commented on #663
Hi @ykuijs , I was on vacation, i will investigate the issue later today and provide some feedback.

[2019-01-22 15:34] Yvand commented on #990
This issue is giving me a hard time.
One thing I noticed, I always reproduce it the 1st time I run the DSC config (which creates the SharePoint farm).
If I run the same script again, it creates site collections successfully.
So to reproduce the issue, I have to destroy the farm and run the DSC config again.
Has anybody any idea why it repro only during farm creation?

[2019-01-23 11:52] andikrueger commented on #990
Are you using a single server or multi server farm?

[2019-01-23 13:05] Yvand commented on #990
@andikrueger it's a single server farm. To reproduce I disconnect server from the farm and delete every database before I run the DSC config again

[2019-01-23 15:37] philippe-entringer opened #1012 "PSConfigWizard : Wizard fails but not error with PSConfigUI"
When SPConfigWizard run , the following command is performed
**upgrade -inplace b2b -wait -force -cmd installcheck -noinstallcheck**
But the wizard fails.
No ERROR are displayed on the upgrade log.

On the Stefan Gossner blog,  https://blogs.technet.microsoft.com/stefan_gossner/2015/08/20/why-i-prefer-psconfigui-exe-over-psconfig-exe, the following command is recommended:

**PSConfig.exe -cmd upgr

[2019-01-24 18:21] IlleNilsson opened #1014 "AppCatalog - Access denied with DSC"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version of SharePoint that is used (e.g. SharePoint 2016)

#### Version and build of PowerShe

[2019-01-24 18:32] IlleNilsson commented on #1014
Details of the scenario you tried and the problem that is occurring
App Catalog will not finnish due to access permission, running as setup or farm admin account during DSC run/setup.
Verbose logs showing the problem
SIA            c619ddf8-4092-44a3-a974-1894d073a027 ERROR     2019-01-24 19:10:43 This event indicates that a non-termi

[2019-01-25 09:16] ykuijs commented on #1014
Hi @IlleNilsson Looks like you didn't configure CredSSP properly. As you can see in the Wiki article for this resource (https://github.com/PowerShell/SharePointDsc/wiki/SPAppCatalog), does this resource require CredSSP to work properly.

[2019-01-25 09:52] IlleNilsson commented on #1014
Thanks, I’ll look into CredSSP

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Friday, January 25, 2019 10:16 AM
To: PowerShell/SharePointDsc
Cc: Ilian Nilsson; Mention
Subject: Re: [PowerShell/SharePointDsc] AppCatalog - Access denied with DSC (#1014)

Hi @IlleNilsson<https://github.com/IlleNilsson> Looks like you didn't configure CredSSP properly. As you can

[2019-01-25 10:36] ykuijs commented on #1007
Ok, did some investigation. Here are the results:

**SP2013 LP SP:**
File Description: Service Pack 1 for Microsoft SharePoint Server 2013 Language Pack (KBxxxxxx) 64-Bit Edition
Product Name: Microsoft SharePoint Server 2013 Language Pack

**SP2013 CU**
File Description: Update for Microsoft SharePoint Enterprise Server 2013 (KBxxxxxx) 64-Bit Edition
Product Name: Microsoft SharePoint Enterprise

[2019-01-25 12:21] ykuijs commented on #990
This looks like a timing issue in SP2019 and not related to SharePointDsc

[2019-01-25 13:44] ykuijs opened #1015 "SPSearchServiceApp: Remove WindowsServiceAccount parameter from resource"
#### Details of the scenario you tried and the problem that is occurring
Since we moved the WindowsServiceAccount parameter to the new SPSearchServiceSettings resource, the parameter in this resource is useless. Removing it however, means a breaking change.

#### Suggested solution to the issue
Remove for v4.0

[2019-01-25 13:51] ykuijs commented on #1010
Hi @egor-yudkin You are correct, SharePointDsc does not yet support Basic authentication. I have just been investigating the implications of adding support for Basic auth: Right now we have the possibility to specify either NTLM or Kerberos. However Basic auth is a property that can be specified seperately. In the current setup this is not possible, you would only be able to specify NTLM/Kerberos

[2019-01-25 14:06] ykuijs commented on #1000
Added a warning in the code and a note in the Readme for the resource. We will have to implement the breaking change in the v4 release.

Warning message will be in my next Bugfix PR.

[2019-01-26 10:34] ykuijs commented on #963
I am closing this issue because of lack of response from the creator. Without more info or reproduction steps, we are unable to fix the issue.

@shurick81 If you still encounter this issue, please provide me some more details and troubleshooting information so we can find the cause of the issue.

[2019-01-26 10:34] #963 closed

[2019-01-26 14:41] ykuijs commented on #910
@ronx Any update on this issue? Are there any updates required? Do you have time to pick this up? Do you have the content for the Wiki ready?

[2019-01-26 19:35] IlleNilsson commented on #1014
Shure

From: Yorick Kuijs <notifications@github.com>
Sent: den 26 januari 2019 20:25
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/SharePointDsc] AppCatalog - Access denied with DSC (#1014)

Great, can we close this issue for now? You can always reopen if you still run into

[2019-01-26 19:59] ykuijs commented on #1012
Good point. I will update the resource accordingly. Will be included in my next Bugfix PR.

[2019-01-26 22:45] andikrueger commented on #1007
Great insight on the structure of these files!

[2019-01-28 16:08] egor-yudkin commented on #1010
@ykuijs for now I'm just using a workaround with a regular PowerShell script to set up authentication, so in my case there is no rush. I can definitely wait for release 4.0 to see this feature implemented.

[2019-01-28 16:39] ronx commented on #910
Yeah, this is still the case with SP2019. If central admin is created without -SecureSocketsLayer and later updated to HTTPS, there are still some gotchas. One workaround is to Remove-SPWebApplication with -DeleteIISSite and then recreate CA with New-SPWebApplicationExtension -Identity https://admin.sharepoint.contoso.com -Name "SharePoint Central Administration v4" -Zone Default -HostHeader admin

[2019-01-29 21:42] ronx commented on #910
Just a quick update. Using -SecureSocketsLayer with New-SPCentralAdministration doesn't allow specifying the hostname, so it still creates CA as https://servername:443. The SPDSC code worked to recognize that since I specified 443 and was on SP2016 or higher, it included that param. Then, in my config, I have an xWebsite resource to handle the binding with the certificate I have created, and also

[2019-01-30 14:46] jensotto opened #1019 "SPWebAppPeoplePickerSettings: Unable to set AccessAccount"
#### Details of the scenario you tried and the problem that is occurring
When specifying AccessAccount the resource fails to set the password.

#### Verbose logs showing the problem
PowerShell DSC resource MSFT_SPWebAppPeoplePickerSettings  failed to execute Set-TargetResource functionality with erro
r message: Cannot convert argument "password", with value: "xxxx", for "SetPassword" to type "Syst

[2019-01-30 14:46] jensotto commented on #1019
Fix implemented in #1018

[2019-01-30 15:12] ykuijs commented on #1014
Closing issue

[2019-01-30 15:12] #1014 closed

[2019-01-30 15:51] okeol opened #1020 "SPInstallLanguagePack: error installing german language pack in SP2019"
#### Details of the scenario you tried and the problem that is occurring

When installing german language pack on a new farm I receive the error message
_"... failed to execute Test-TargetResource functionality with error message: Unknown folder structure"_
See also [#443](https://github.com/PowerShell/SharePointDsc/issues/443)
I cannot confirm the "Issue fixed in PR #454" mentioned in that issue.

[2019-01-30 17:50] ronx commented on #910
I made a first stab at a [wiki](https://github.com/ronx/SharePointDsc/wiki/Setting-up-Central-Administration-on-HTTPS) and example for CA SSL support. Could you guys check it out and let me know what you think? @andikrueger @ykuijs

I also committed the SPFarm change to support the SecureSocketsLayer argument when creating CA. I haven't used it successfully yet, since in my testing it conflicts wi

[2019-01-30 19:12] pstork commented on #990
I agree it looks like a timing issue, but that still makes it an issue for SharePointDSC. Unless we can find some kind of workaround it makes using DSC to build and provision SharePoint much less useful. I'm going to try using xpendingReboot and force a reboot after creation of the Web App and then see if after the reboot the site collections create normally.

[2019-01-31 09:22] andikrueger commented on #910
@ronx Thank you for providing such detailed information on this issue.

Today I read through the list of challenges and the possible solutions (commit + wiki page). Currently everything is very complex to setup the SSL binding.
I really like the thought of deleting the default CA web application and recreate a SSL webapp to support SSL in a persisted way. Any other way looks overly error prone. Wh

[2019-01-31 12:15] andikrueger commented on #1020
Please find attached a list of the files and folders contained in the german language pack. Are there any differences to your extracted language pack?

I did download the latest file from: https://www.microsoft.com/en-us/download/confirmation.aspx?id=57463

[code]

[2019-01-31 16:04] ykuijs commented on #1020
That is what I see on my machine as well. Are you sure you have downloaded and extracted the language pack and not the CU? What is the URL you downloaded the package from?

[2019-01-31 16:11] #1006 closed

[2019-01-31 16:11] #1007 closed

[2019-01-31 16:11] #1008 closed

[2019-01-31 16:11] #1012 closed

[2019-01-31 19:21] okeol commented on #1020
Oooops. You are right.
I "extracted" by **unzipping** and then you get a flat hierarchy. Damned. I should have checked that with the "extract" option.
Sorry for that!!!

To make the best of it, this post can be found by all admins that made the same mistakes  ;-)

[2019-01-31 19:21] #1020 closed

[2019-01-31 19:42] andikrueger commented on #1020
Glad it helped.

[2019-01-31 20:52] NikCharlebois commented on #990
This may or may not be related, but calling the SPServiceInstance blocks before SPWebApplication throws an error complaining that there's a concurrent job in running in OWSTimer. If I move the SPServiceInstance blocks after SPWebApplication, but before SPSite, then I get the invalid field name error. Definitively looks like a timing issue

[2019-02-01 00:17] NikCharlebois commented on #990
@pstork I managed to get repro steps for the initial issue. As mentioned, it seems to be a timing issue. Can one of you folks reproduce the following:

The farm has to be a single server farm, on which we simply installed the SP19 Binaries, and ran PSConfig with MinRole = Custom, nothing else.

The run the following script (replace the server names by yours):
add-pssnapin Microsoft.SharePoint.Powe

[2019-02-01 00:20] NikCharlebois commented on #990
The logic in the PowerShell script above is the logic flow that gets executed in the background on a new environment by running the following DSC script:
[code]

[2019-02-01 00:21] NikCharlebois commented on #990
I understand you folks are getting the Invalid Field Name issue on the SPSite creation, but I believe the error above is the true error being thrown, and that the SPSite one is just its collateral.

[2019-02-01 03:45] pstork commented on #990
Thanks,

I’ve got a full set of PowerShell and DSC that build out the same things.  I just need to pull some of the stuff out of the SharePoint DSC so I can run the script you requested instead.

As I mentioned in the notes on the issue, I’ve gotten around the timing problem by having the system do a Reboot after building out the Web Applications and before building the site collections.  After th

[2019-02-01 07:31] Yvand commented on #990
@pstork look at PR https://github.com/PowerShell/SharePointDsc/pull/997 for the Distributed Cache issue: since I updated resource SPDistributedCacheService I don't face it anymore.

[2019-02-01 12:16] pstork commented on #990
I ran a test yesterday with the current DEV branch that includes that fix.  I still get the errors when trying to configure the distributed cache.  PR #997 didn't fix the issue for me.

[2019-02-01 14:07] NikCharlebois commented on #990
I am still trying to narrow down the issue as much as possible. I don't get the issue whenever I assign the **SingleServer** MinRole to the server. It kind of make sense since doing so will automatically enable various services, and that by the time I run my PowerShell script to create the Web App and SPSite, all the jobs have been executed.

[2019-02-01 14:51] pstork commented on #990
@NikCharlebois - I just finished running the test you provided and I also get the same error message that you get.

New-SPWebApplication : An update conflict has occurred, and you must re-try this action. The object SPWebApplication Name=SharePoint - 90 was updated by
acmeman\SP_Farm, in the OWSTIMER (4988) process, on machine SPT01.  View the tracing log for more information about the conflict.
A

[2019-02-01 17:12] ronx commented on #910
I suppose that would work. I've only tried this approach with a vanity hostname, but it would probably work with the default servername if the user did not pass a hostname. Speaking of which, I guess this would be a breaking change since we'd probably want to add CentralAdminUrl (or CentralAdminHostName) to the params to allow for vanity CA hostname. Actually, I guess it wouldn't be a breaking cha

[2019-02-01 17:56] andikrueger commented on #910
Adding new OPTIONAL parameters (and not changing the existing ones) wouldn't be breaking change, if the outcome of the SPFarm resource doesn't change.

[2019-02-01 21:35] NikCharlebois commented on #990
In my case, the script I was using came from a SP2013 environment I extracted using ReverseDSC and which I was trying to use to replicate the farm as a SP2019 environment. When you extract from 2013, it doesn't pickup any MinRole and leaves the SPFarm block without the ServerRole parameter. The SPFarm resource threats SPFarm block missing that parameter as defaulting to Custom MinRole. My issue wi

[2019-02-04 12:16] jensotto opened #1021 "SPUserProfileSyncConnection: Multiple issues"
#### Details of the scenario you tried and the problem that is occurring
1: Modifying Included OUs and Excluded OUs fails updating the configured OUs because the returned list is a copy of the internal list of OUs. DirectoryServiceNamingContext.ContainersExcluded and DirectoryServiceNamingContext.ContainersIncluded returns a new list for each call, so [any modifications  of these](https://github.c

[2019-02-05 10:50] ykuijs commented on #1021
PR only partially fixes this issue, reopening issue

[2019-02-05 10:52] jensotto commented on #1021
Issue number 1 has not been fixed.

[2019-02-05 10:52] ykuijs commented on #1021
We only use reflection to get variables from SharePoint. If the Object Model doesn't publish public methods to update values, we unfortunately cannot implement that functionality.

Reason behind this, is that when using internal methods the PG can update methods without publishing these updates or we call the methods the incorrect way/order/etc resulting in an unsupported environment.

[2019-02-05 10:53] jensotto commented on #1021
I agree. An alternate approach is to delete the naming context on each update and recreate it from supplied values.

[2019-02-06 10:29] Gnocchii commented on #891
I had the same issue. I confirm it works when using the FQDN instead of the short name.

[2019-02-06 15:18] tonyhxh opened #1022 "WaitForFarmToExist no need in example?"
I have a simple question to ask. I used the older versions before, the example SharePoint.ps1 in the module usually contains resource "WaitForAll WaitForFarmToExist" to wait for the farm creation before joining other nodes.

Now I noticed in the example, "JoinFarm" on the second node simply just depends on "InstallSharePoint"?

Thanks
Tony Huang

[2019-02-07 08:00] andikrueger commented on #1022
The SPFarm resource has been updated in SharePointDsc V 3.0 to replace the obsolete SPCreateFarm and SPJoinFarm resources.

The resource to join a farm has been replaced and any server in your configuration can create the farm. Any other server that tries to create or join a farm is waiting for the first server to create the farm.

https://github.com/PowerShell/SharePointDsc/blob/2f4dbba4e1fc1ec12

[2019-02-07 08:18] ykuijs commented on #1022
@andikrueger is absolutely right. With the new SPFarm resource the WaitFor is no longer required.

If this answers your question, please close the issue. If not, please let us know what more information you are looking for.

[2019-02-08 21:11] JoeAlanis commented on #891
Confirmed.... FQDN did the trick. Thank you @ykuijs !

[2019-02-09 21:58] ykuijs commented on #910
That sounds like a great plan! And Andi is correct that adding optional parameters won't be a breaking change and can be implemented at any time.

@ronx Two questions:
1. Are you implementing this change?
1. Is Wiki page ready for publishing? If so, I will add it to the wiki.

[2019-02-11 22:11] tonyhxh commented on #1022
Thanks a lot!

[2019-02-11 22:11] #1022 closed

[2019-02-12 04:09] ykuijs commented on #1021
If we use the Get method in the Set method to retrieve the current values, we can determine if the values have changed. If this is the case, we can indeed delete the naming context and recreate it.

[2019-02-12 04:20] ykuijs commented on #932
(Message to get the Stale label removed)

@IlleNilsson Any update?

[2019-02-12 04:36] ykuijs commented on #929
@NikCharlebois Any updates?

[2019-02-12 04:38] NikCharlebois commented on #929
No, I need to take the time to test this with SP19. Mark it as closed for the moment. Will re-open if still an issue. Thanks mate

[2019-02-12 04:39] ykuijs commented on #929
Closing issue for now

[2019-02-12 04:39] #929 closed

[2019-02-12 08:30] paololec commented on #1007
There are problems with CU gen SP2019 and actual dev fix.
When esecuted "wss" two times report: Update has version 16.0.10340.20015 (ok)
but then NOT detect is already installed and report "Update is a Cumulative Update" and then "The lowest version of any SharePoint component is
16.0.10340.12101" <- (the sts package..)

So it's do a wrong a general "Get-SPDscFarmVersionInfo" (it's seems that NOT

[2019-02-12 08:37] andikrueger commented on #1007
This is a known issue. The current resource requires a SPConfigWizard directly after the update execution. This will Update the Configuration Database and then we are able to get the versions right.

For more details and insight on how we plan to solve this issue see #679.

[2019-02-12 09:53] paololec commented on #1007
None, the problem si the wrong detect of "Get-SPDscFarmVersionInfo" !!
It's NOT detect:
Update for Microsoft SharePoint Server 2019 Language pack (KB4461514)" (that is 16.0.10340.20015).

So 16.0.10340.20015 is MORE high than 16.0.10340.12101 (that is the only detect referenced to "Security Update for Microsoft SharePoint Server 2019 core (KB4461634)" and so always try to reinstall the update of L

[2019-02-12 10:41] andikrueger commented on #1007
`Get-SPDscFarmVersionInfo` returns information obtained from the configuration database. The configuration database gets updated by executing the ConfigWizard on every server in the farm.

Did you run the Config Wizard or did you structure your DSC configuration similar to this:
[code]

[2019-02-12 11:03] paololec commented on #1007
Yes.
The wss (kb4461514) is: 16.0.10340.20015 (high!)
the sts (kb4461634) is: 16.0.10340.12101
![image](https://user-images.githubusercontent.com/21666251/52630195-e3601e00-2ebb-11e9-8660-caab5b6461a6.png)

Managed Patch Status report wss and sts installed correctly:
![image](https://user-images.githubusercontent.com/21666251/52630290-1f937e80-2ebc-11e9-9423-0d9ebff7b488.png)

Get-SPDscFarmVersion

[2019-02-12 11:32] andikrueger commented on #1007
Thank you for this valuable information.

https://github.com/PowerShell/SharePointDsc/blob/6fb1710ccbe03c1e86fbc4a8be77f3929d789e00/Modules/SharePointDsc/Modules/SharePointDsc.Util/SharePointDsc.Util.psm1#L231

The code above was last changed 7 months ago and before that 2 years ago.

@ykuijs can you confirm the proposed change?

[2019-02-12 14:56] ronx commented on #910
@ykuijs If you guys think the wiki page looks good, it should be ready to go. Also, I can take a look at the SPFarm resource today and will reach out if I hit any snags navigating.

[2019-02-12 15:55] ykuijs commented on #910
Perfect, I will copy the wiki page to this repo!

Just to make sure:
Please only recreate the CA site if it uses SSL and hasn't been configured properly.

[2019-02-14 16:34] kilasuit opened #1024 "Please add Readme files in with the Examples"
Readme files that sit with the examples can add a decent overview of how these are expected to be used and would make it easier in understanding the differences in Examples and specifics around order of execution (inc prereqs to being able to run them)

[2019-02-15 00:07] ykuijs commented on #1024
Hi @kilasuit The examples are used to generate the wiki pages, for example [SPFarm](https://github.com/PowerShell/SharePointDsc/wiki/SPFarm). The current examples also contain info about the example, which is used on the wiki page.

Is this similar to what you are suggesting? If not, can you explain a little more?

[2019-02-15 12:25] #891 closed

[2019-02-18 11:25] #1019 closed

[2019-02-19 08:23] andrstor opened #1026 "MSFT_SPInstallLanguagePack: Get-TargetResource does not detect already installed Norwegian Language Pack"
#### Details of the scenario you tried and the problem that is occurring
I am using SharepointDSC 3.1.0.0 to install the norwegian language pack. The installation works fine, but will fail on the next run because it can't detect that the specific norwegian language pack is already installed.

#### Verbose logs showing the problem

VERBOSE: [astorfarm2]: LCM:  [ Start  Resource ]  [[SPInstallLangua

[2019-02-20 11:51] Francois-Rousseau opened #1029 "SPUserProfileServiceApp should not need CredSSP anymore"
#### Details of the scenario you tried and the problem that is occurring
Trying to use SPUserProfileServiceApp and get an error message related to CredSSP. However, this is not supposed to be required since release v2.0, as resolved in issue #389.
There is also some comments about CredSSP that is required is the resource description, but it is not supposed to. Those comments should be removed.

##

[2019-02-20 15:23] ykuijs commented on #1029
You are partly right, we removed the CredSSP dependency in v2.0, but had to put it back in v2.2 because of a technical issue we hadn't thought about. This has been discussed in #709.

So unfortunately we still require CredSSP for this (and some other) resource.

[2019-02-20 17:43] shurick81 opened #1030 "SPFarmSolution deploys on all web applications"
#### Details of the scenario you tried and the problem that is occurring
We are running a resource for deploying a wsp package to only one SP web application. However, it deploys the WSP to all the applications in the farm.

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#

[2019-02-20 17:49] shurick81 commented on #1030
Ok, there seems to be something relevant in upcoming 3.2.0.0 version, according to change log. However, I could not find any details what stays behind "Fixed issue where uninstalling a solution would not work as expected if it contained web application resources". I could not find anything relevant in GitHub issues.
Any plan when approximately 3.2.0.0 is going to be available via gallery?

[2019-02-21 06:43] ykuijs commented on #1030
Should be available now

[2019-02-21 10:11] ykuijs commented on #1030
The update in v3.2 isn't that big. Was just to fix an issue because we implemented Strict-Mode v1 for all Pester tests.

Did you already do some troubleshooting yourself/review the code where it goes wrong?

[2019-02-24 15:04] Francois-Rousseau commented on #1029
Thanks @ykuijs for the answer.
I close this issue.

[2019-02-24 15:04] #1029 closed

[2019-02-26 09:32] ChristophHannappel opened #1031 "MSFT_SPSearchTopology: Cannot bind argument to parameter 'SearchServiceInstance' because it is null. (FQDN Server Name)"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to set the search topology with FQDN Servernames, so i can use my AllNode Data to configure the topology without having a different Configuration for Stage and Produktion.
While troubleshooting I decleared the servernames directly in the configuration.
As a sanity check i ran with hostnames and the ressource create

[2019-02-28 19:26] ronx opened #1032 "SPFarm: dev branch exception with Dev Dashboard"
Using dev branch (and not adding DeveloperDashboard param to SPFarm) to create new farm, hit the following exception:

PowerShell DSC resource MSFT_SPFarm  failed to execute Set-TargetResource functionality with error message: Exception setting "DisplayLevel": "Cannot convert null to type
"Microsoft.SharePoint.Administration.SPDeveloperDashboardLevel" due to enumeration values that are not valid.

[2019-02-28 20:58] ykuijs commented on #1032
Also encountered this issue and already implemented a fix in my dev branch. Will be included in my next Bugfix PR

[2019-03-05 10:46] ykuijs commented on #1026
Have been able to reproduce this issue. Will correct this in my next bugfix PR

[2019-03-05 10:46] ykuijs commented on #1024
@kilasuit Do you have an update?

[2019-03-05 10:53] ykuijs commented on #981
The updates to the PSConfig parameters have been corrected according to the article of Stefan Gossner via #1012 and PR #1016

I like the suggestion by @paololec. Will update the resource in my next Bugfix PR

[2019-03-05 11:39] ykuijs commented on #981
Did some further thinking about adding the logging suggested by @paololec. PSConfig already creates a log file. By storing the logging and outputting that to screen, it increases the logging tremendously, but doesn't add any additional troubleshooting info. So I don't think we should add this.

[2019-03-05 11:39] ykuijs commented on #981
@NikCharlebois What is your opinion?

[2019-03-05 11:41] ykuijs commented on #1030
@shurick81 Did you already do some troubleshooting yourself?

[2019-03-05 11:50] ykuijs commented on #1026
BTW: Thanks for the extensive explanation of the issue. Makes reproducing the issue much easier 👍

[2019-03-05 15:04] NikCharlebois commented on #981
I don't see any issues displaying it whenever the -Verbose switch is used. I think there might be some useful info in there. At a minimum prompt the user about the location of the log file and let them access the file on the server if need be.

[2019-03-05 16:45] shurick81 commented on #1030
not really @ykuijs. I tried with 3.2 and the behavior seems the same. We want to deploy the wsp on only one web application, but after running the config, I can see in CA that the solution is deployed to each web application.

[2019-03-06 10:54] ykuijs opened #1033 "[SPInstall and SPInstallLanguagePack] Add blocked file check to resources"
#### Details of the scenario you tried and the problem that is occurring
In issue #464 a check was added to SPProductUpdate to make sure the setup file is unblocked before it is executed. This check should also be added to SPInstall and SPInstallLanguagePack

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Copy the logic from SPProductUpdate to both resources

####

[2019-03-06 10:55] ykuijs commented on #1033
Issue created to make sure it is tracked. Already implemented a fix, which will be included in my next BugFix PR

[2019-03-06 11:37] ykuijs commented on #981
The amount of output it generates is quite large. If you deploy a multiserver farm, this will be added to the screen output multiple times. And since PSConfig already generates a log file.....

But I like the idea of displaying the log file location. Will implement that for sure!

[2019-03-06 16:37] paololec commented on #981
Yes, I use -verbose and I like to see it on screen , but also with link to log files location can be good.

[2019-03-08 15:26] MikeLacher448 commented on #1031
We are seeing this as well, (using version 2.5 of the resource) we need to use FQDN in our environment configs because the user accounts we use to compile the config are on a different domain than the servers.

[2019-03-12 11:16] wfeaser commented on #1031
In version 2.5 of the resource, the issue is caused by the presence of the FQDN in the $ComponentsToAdd and the $ComponentsToRemove arrays.  These arrays are populated directly from the function input parameter.  The issue can be resolved by adding the following to the Set-TargetResource method.

1. Create the $domain variable somewhere around line 229 (inside the Invoke-SPDSCCommand script block)

[2019-03-12 13:12] ThomasLie opened #1034 "MSFT_SPInstall failed with exit code 30030"
Hey there,

I'm currently facing issues with SP DSC, getting errors as below:

Event ID 4252
PowerShell DSC resource MSFT_SPInstall failed to execute Set-TargetResource functionality with error messsage: SharePoint install failed, exit code was 30030.

Event ID 4097:
The SendConfigurationApply did not succeed.

The handle is invalid

OS: Windows Server 2016
SharePoint version to install 2019
Share

[2019-03-12 15:45] #1034 closed

[2019-03-13 11:57] wfeaser commented on #1031
The code in my previous comment will fix the issue with the Set method, but the next issue that occurs when using FQDN is with the Test method.  In the resource's current implementation, the Test method will always fail when using the FQDN because the Get method returns the NetBIOS name.  For my current customer, I went back to the original version of this resource and addressed the FQDN vs NetBIO

[2019-03-13 16:03] ykuijs opened #1035 "[SPProductUpdate, SPInstall, SPInstallLanguagePack] Installation hangs when installing from an UNC path"
#### Details of the scenario you tried and the problem that is occurring
When specifying an UNC path to install SharePoint, a Language Pack or CU, the installation hangs endlessly.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
I have investigated this issue and discovered that Start-Process gives a security warning when a UNC path is used. This can be resolved by

[2019-03-13 16:04] ykuijs commented on #1035
Also update Readme files. Some of them specify that UAC has to be disabled, which is not the case.

Fix will be included in my next bugfix PR

[2019-03-13 21:54] andikrueger commented on #1030
Just out of curiosity: Is the solution configured to be deploy-able to only one web-application? I ran in a similar issue before and the package xml of the wsp was missing a SafeControl entry. See e.g.: http://sharedpointers.blogspot.com/2011/03/deploying-solutions-to-specific-web.html

[2019-03-15 10:14] kilasuit commented on #1024
I wouldn't have thought to look at the Wiki as lots of projects don't properly use them

Perhaps add a readme that points to the wiki for completeness

[2019-03-15 18:57] #981 closed

[2019-03-15 18:57] #1026 closed

[2019-03-15 18:57] #1032 closed

[2019-03-15 18:57] #1033 closed

[2019-03-15 18:58] ykuijs commented on #981
Fixed in PR #1036

[2019-03-15 18:58] ykuijs commented on #1026
Fixed in PR #1036

[2019-03-15 18:58] ykuijs commented on #1032
Fixed in PR #1036

[2019-03-15 18:58] ykuijs commented on #1033
Fixed in PR #1036

[2019-03-15 18:58] ykuijs commented on #1035
Fixed in PR #1036

[2019-03-22 10:53] adruet29 opened #1037 "Invoke-SPDSCCommand in SharePointDsc.Util.psm1 memory leak"
#### Details of the scenario you tried and the problem that is occurring
I was using 2.3.0.0 version before upgrading my test environnment to 3.2.0.0
After upgrading to 3.2.0.0 I noticed an issue where my sharepoint servers would run out of memory after a couple of hours (arround 10 hours).
This happened even if the SharepointDsc module had no modification to the existing environment.
We have a ve

[2019-03-22 19:22] ykuijs commented on #1024
Where would you think this readme would make most sense? In the root of the module, right next to the psd1 file?

[2019-03-22 19:23] ykuijs commented on #896
Closed via PR #1013

[2019-03-22 19:23] #896 closed

[2019-03-22 19:25] ykuijs commented on #960
I recently deployed several Windows Server 2016 environments with SP2019 in Azure and never encountered these endless reboots. Have you ran into this issue even since you submitted the issue? What have you tried to troubleshoot?

[2019-03-22 19:43] jensotto commented on #960
I have not encountered this issue anymore. It seems that the fix for the .NET Framework prerequisite installation fixed the issues that I had. I think it's safe to close this issue now.

[2019-03-22 20:43] ykuijs commented on #962
The new SPSearchSettings resource sounds like the perfect place for these settings.

Unfortunately the blog post is no longer available. Does one of you have a copy of what was in there?

[2019-03-22 21:00] ykuijs commented on #895
Will be included in my next Rollup PR

[2019-03-22 21:09] ykuijs commented on #910
Small update: @ronx is still working on this. Planning to do some final testing next week.

[2019-03-23 23:41] shurick81 opened #1039 "SPSite: "User cannot be found" when using"
#### Details of the scenario you tried and the problem that is occurring

When I try the resource with "normal" environment, it works fine:
[code]

However, when I configure the web application to use not only Windows but also trusted identity,

[code]

I get an exception when applying the configuration:
[code]
I also trying to reformat owner string to claim-style:
[code]

and it actually did not

[2019-03-24 02:57] kilasuit commented on #1024
In the root of each of the examples

[2019-03-24 13:26] ykuijs commented on #960
Great. Closing issue

[2019-03-24 13:26] #960 closed

[2019-03-24 13:28] ykuijs commented on #1030
@shurick81 @andikrueger is right. Some solutions have to be deployed globally. Is your solution able to be deployed to one web application?

[2019-03-25 07:55] cvollmann opened #1040 "SPInfoPathFormsServiceConfig: Allow setting the property for Performance Optimization"
#### Details of the scenario you tried and the problem that is occurring
As mentioned in this support article by Microsoft (https://support.microsoft.com/en-us/help/2984138/forms-timeout-or-take-a-long-time-to-open-in-infopath-2010-or-infopath) we had problems after migrating a InfoPath Form from a SP 2013 to a SP 2016 environment. We used DSC to build the new enviroment and tried to replicate all

[2019-03-26 13:58] sguilbault-sherweb commented on #1037
I added a quick fir with pull request 1042

[2019-03-26 19:48] pstork opened #1043 "SPSelfServiceSiteCreation: New SP 2019 SelfService Site Settings Web Application Properties need to be added"
### ISSUE TITLE:
SPSelfServiceSiteCreation: New SP 2019 SelfService Site Settings Web Application Properties need to be added

### ISSUE DESCRIPTION:
In SharePoint 2019 the SharePoint Home is always displayed on the web application used for OneDrive. Team and Communication sites that are created using the "Create Site" link on that page are therefore created on the OneDrive web application also. T

[2019-03-27 07:22] ykuijs commented on #1037
Closed via PR #1042

[2019-03-27 07:22] #1037 closed

[2019-03-27 11:32] ykuijs opened #1044 "[SPAppManagementServiceApp] Resource does not create proxy afterwards"
#### Details of the scenario you tried and the problem that is occurring
When the Service App Proxy isn't created during deployment, this isn't created anymore at a later stage

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Update resource to check for the presence of the proxy and create it when not present.

#### The DSC configuration that is used to reproduce t

[2019-03-27 11:32] ykuijs commented on #1044
Will be included in my next bugfix PR

[2019-03-27 15:03] IlleNilsson commented on #932
Problem is real, I have set up four environments. When I change Primary or Secondary owner of a site manually. They get changed back to what SharePointDSC dictates. But permissions are lost for the dictaded user by DCS.

[2019-03-27 15:07] IlleNilsson commented on #932
Don't get me wrong, the user should be reverted, set by DCS. But the privileges should also follow.

[2019-03-27 19:28] ykuijs commented on #1043
Will be included in my next Bugfix PR

[2019-03-27 19:49] ykuijs commented on #1024
Added a readme.md file to the root of the Examples folder. Will be included in my next Bugfix PR

[2019-03-27 20:07] pstork commented on #1043
Thanks, then I will just drop the pull I did and let you handle it.  Much appreciated.

[2019-03-29 13:37] okeol opened #1047 "Typo in SPSearchContentSource.psm1"
In the file
Modules/SharePointDsc/DSCResources/MSFT_SPSearchContentSource/MSFT_SPSearchContentSource.psm1
there is a typo in line 880.
The parameter "ContinousCrawl" doesnt exist anywhere, it has to be "ContinuousCrawl" (with "nUou").
With this typo the parameter "ContinuousCrawl" will never be checked correctly and a change of it never be detected.   (If I undestood the whole mechanisms correctly

[2019-04-01 10:53] ykuijs commented on #1047
Is included in my Bugfix PR

[2019-04-01 12:53] #895 closed

[2019-04-01 12:53] #1024 closed

[2019-04-01 12:53] #1043 closed

[2019-04-01 12:53] #1044 closed

[2019-04-01 12:53] #1047 closed

[2019-04-01 12:57] ykuijs commented on #994
Will be fixed by PR #1046

[2019-04-01 12:58] ykuijs commented on #839
Major overhaul of the ProductUpdate resource will be merged via PR #1046

[2019-04-01 12:59] ykuijs commented on #679
Will be fixed by PR #1046

[2019-04-01 15:37] #679 closed

[2019-04-01 15:38] ykuijs commented on #994
Closed via PR #1046

[2019-04-01 15:38] #994 closed

[2019-04-01 15:38] ykuijs commented on #839
Closed via PR #1046

[2019-04-01 15:38] #839 closed

[2019-04-01 15:39] ykuijs commented on #679
Closed via PR #1046

A huge thanks to @andikrueger for his work on investigating and implementing this issue!!!

[2019-04-04 08:17] IlleNilsson opened #1052 "SPSite: Updating owners does not grant those owners site collection admin permissions"
ISSUE TITLE:
SPContentDatabase.FileStorage

    ISSUE DESCRIPTION (this template):
Configure a ContentDatabase to store its document libraries documents on file.

[2019-04-05 15:20] shurick81 opened #1053 "SPTrustedIdentityTokenIssuer: Impossible to use "MetadataEndPoint" parameter"
#### Details of the scenario you tried and the problem that is occurring
I am trying to use MetadataEndPoint because I want SharePoint to extract certificate so I don't have to obtain it manually and specify in "SigningCertificateFilePath" in the DSC resource.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Implement parameter set with "MetadataEndPoint"

#### The

[2019-04-07 02:59] mariusv-msft opened #1054 "SPSubscriptionSettingsServiceApp Proxy doesn't get verified during Get-TargetResource"
#### Details of the scenario you tried and the problem that is occurring
The Get-TargetResource of the resource does not return the proxy state.
The Test-TargetResource thus passes the test and the proxy doesn't get recreated.

The SPAppDomain resource is dependent on the subscription settings service application and then subsequently fails because there is no proxy present.
Because this resource

[2019-04-07 03:12] mariusv-msft commented on #971
@ykuijs I'm still getting this issue if the Proxy has been deleted or something else happened to it.
I'm getting the following:

PowerShell DSC resource MSFT_SPManagedMetaDataServiceApp  failed to execute Test-TargetResource functionality with error message:
Cannot bind argument to parameter 'Identity' because it is null.
    + CategoryInfo          : InvalidOperation: (:) [], CimException
    + F

[2019-04-09 19:26] ykuijs commented on #1035
This check also needs to get added to SPInstallPrereqs. Will be included in my next Bugfix PR

[2019-04-09 19:39] ykuijs commented on #1040
Will be added in my next Bugfix PR

[2019-04-09 20:01] ykuijs commented on #1039
Hi @shurick81 Can you please test two things:
1.) Change the web application authentication manually and then rerun just the SPSite resource (check if this is caused by SPWebAppAuthentication)
2.) Try to run the New-SPSite cmdlet manually (check if this is caused by SPSite):
[code]

[2019-04-09 20:03] ykuijs commented on #1030
Would it be possible to share your WSP so I can test on my environment?

[2019-04-09 20:11] ykuijs commented on #1021
Hi @jensotto Do you have an update on this issue?

[2019-04-09 21:25] ykuijs commented on #996
Will be added in my next BugFix PR

[2019-04-09 21:30] ykuijs commented on #1002
@andikrueger Have you been able to test this issue yet?

[2019-04-09 22:21] andikrueger commented on #1002
Have not been able to test it yet. Recently I stumbled on this issue with slipstreamed installations: https://support.microsoft.com/en-us/help/4019532/sharepoint-foundation-administration-tool-has-stopped-working-error

My environments are mostly installed by using slipstreaming. During my latest test I could resolve the error by running psconfig wizard several times.

[2019-04-09 22:34] mariusv-msft commented on #1002
@ykuijs I've managed to reproduce this issue with each of my farm builds for SP 2019 on Win 2016 and Win 2019 and not slipstreaming.
I had the issue with and without language packs installed, whether I use sp dsc or manual install and config. I don't think its a sp dsc resource issue.

I've also tried to use the SPConfigWizard resource, but because there is no updates outstanding the Set-TargetRes

[2019-04-09 22:57] andikrueger commented on #1002
At what point of your configuration did you check the farm compliance status and did the farm ever get compliant?

[2019-04-10 13:53] ykuijs commented on #906
Issue will be fixed in my next Bugfix PR

[2019-04-10 15:35] mariusv-msft commented on #1002
I checked after farm creation, checked when other servers joined and then after the whole config completed with errors, Search Provisioning failed and Site Collections creation failed, similar to #990.
The ApplicationWithSearch server, also hosting Central Admin, indicates not compliant with every check.

I restarted all the servers, no luck.
Ran Config wizard once and that resolved the server com

[2019-04-10 18:32] ykuijs commented on #1002
Earlier this week I deployed a new four server farm (FE, BE, Search FE and Search BE) using SPDsc: SharePoint 2019 on Windows Server 2016.

I used SPInstall, SPInstallLanguagePack and the updated SPProductUpdate to deploy the March CU before creating the farm. And indeed I experienced the same issue. Several service instances could not be started. During checking what was going on, I noticed that

[2019-04-10 19:05] IlleNilsson commented on #1052
When you let SharePoint DSC set up a site collection, primary and secondary owner, all works well.

If a farm admin manually changes primary or secondary owner of created site collection it seams fine.

Until the next run of DSC, checking for consistency, DSC realizes it should change primary and secondary owner of the site collection according to MOF files.

When DSC changes primary or secondary

[2019-04-10 19:17] ykuijs commented on #1002
More info: Before last weeks deployment I did two more deployments, but using the old version of SPProductUpdate. So first installing SP, SP Language Pack, Create Farm, install CU. Using that config, I did not encounter this issue during both deployments

[2019-04-10 19:35] #971 closed

[2019-04-10 19:35] #996 closed

[2019-04-10 19:35] #1035 closed

[2019-04-10 19:35] #1040 closed

[2019-04-10 19:35] #1054 closed

[2019-04-10 20:55] mariusv-msft commented on #1002
Was using the latest image from MSDN and then applying KB 4462199 - SharePoint Server 2019 and KB 4462170 - SharePoint Server 2019 MUI/language patch.

Haven't reported it anywhere else.

I gather by doing the product updates after the farm creation you in effect running config wizard?

[2019-04-11 17:54] jensotto commented on #1021
No, I've not been able to look further into this. I will try to see if I can get something done within a couple of weeks.

[2019-04-16 07:14] BrianFarnhill opened #1056 "SPInstallPrereqs incorrectly tests false on Server 2019 with SharePoint 2019"
#### Details of the scenario you tried and the problem that is occurring

When deploying prereqs on Server 2019 the current prerequisite install does not install the feature "Web-Digest-Auth" isn't install by the prerequisite installer, but the test method looks for it, meaning that when the resource is actually in a compliant state the test method returns false anyway.

I'll open a PR for this on

[2019-04-18 09:36] JeanNetryValere opened #1058 "SPinstall : The parameter is incorrect"
#### Details of the scenario you tried and the problem that is occurring
Hello,
I had an issue installing SharePoint 2019 binairies with no observable reason.
My configuration was working fine on same environement build with 3.2.0.0. Doing the switch to 3.3.0.0 raise the following exception.
Forcing the same back to 3.2.0.0 avoid the exception and continue the installation succesfully.
Didn't foun

[2019-04-19 16:02] paololec commented on #906
In dev code missing delete second check of "You can not specify an incremental crawl schedule on a content source" in test section ..

[2019-04-23 07:03] #1056 closed

[2019-04-23 11:44] ykuijs commented on #906
Good point, missed that one! Will update this as well.

[2019-04-23 12:11] ykuijs commented on #1058
v3.3 added a check that validates that the setup file is not blocked and causing the resource to hang in an endless loop, waiting for confirmation of a security message. Somehow this check fails in your case. Can you please run the following command:
[code]

Also a question: Is the V-drive a mapped network drive? If so, have you tried to use the UNC notation (\\server\share) instead of the mapped

[2019-04-23 13:07] ykuijs commented on #1052
Do you mean:
- User1 and User2 are site collection owner during site creation
- User3 and User4 are made site collection owner via Central Admin
- DSC restores User1 and User2 as site collection owner
- After the change User3 and User4 no longer have site collection admin permissions to the sitecol

If this is the case, this is as design behavior of SharePoint. As Site Collection Owner, you are au

[2019-04-23 13:08] ykuijs commented on #1039
Hi @shurick81, do you have an update on this issue?

[2019-04-23 13:09] ykuijs commented on #1030
Hi @shurick81, any update on this issue?

[2019-04-23 13:39] ykuijs commented on #932
Hi @IlleNilsson, is this the same issue as #1052??

[2019-04-23 13:40] IlleNilsson commented on #1052
Not quite,

  *   User1 and User2 are site collection owner during site creation by DSC (Primary and Secondary Owner)
  *   User3 and User4 are made site collection owner via Central Admin by Farm Admin User (Primary and Secondary Owner)
  *   DSC restores User1 and User2 as site collection owner (Primary and Secondary Owner)
  *   User1 and User2 are site collection owners but does not have site

[2019-04-23 13:41] IlleNilsson commented on #932
Yes, I don’t know why SPContentDatabase.FileStorage got in there

From: Yorick Kuijs <notifications@github.com>
Sent: den 23 april 2019 15:40
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/SharePointDsc] SPSite: Primary, Secondary & additional Site Collection Administrators p

[2019-04-23 13:43] ykuijs commented on #1052
Ok, that is strange. Couple of questions:

- Which version of SharePoint are you using?
- What patch level is SharePoint running on?
- Does the ULS log show any errors?
- What are the results of the following command:
[code]

[2019-04-23 13:45] ykuijs commented on #932
Ok, I'll close this one as duplicate since that contains a little more info about the exact issue you are experiencing.

[2019-04-23 13:45] #932 closed

[2019-04-23 13:46] shurick81 commented on #1030
@markkusoft, have you got any spare file to share?

[2019-04-23 13:50] ykuijs commented on #1052
Just tested this on SP2016 with the August 2018 CU (build 16.0.4732) and it worked as expected there.

[2019-04-23 17:24] shurick81 commented on #885
Hi, two questions:
1. Does SPSite in SharePoint even have property bag?
2. Is this change documented in SharePointDsc Wiki?

[2019-04-23 19:40] ykuijs commented on #885
Good point, the SPSite object doesn't have a property bag, but the RootWeb has. Although technically this would make it a SPWeb property bag :-p

Not sure how this slipped my testing. Will update the resource!

[2019-04-23 19:42] ykuijs commented on #885
The Wiki doc can be found [here](https://github.com/PowerShell/SharePointDsc/wiki/SPSitePropertyBag)

[2019-04-24 06:51] JeanNetryValere commented on #1058
Hello,
Same error raised by the DSC Ressource (see below)
The "V" Drive is an iso previously mounted by a MountImage ressource (available and accessible for the install account).

PS C:\Users\a_jnetryvalere> Get-Item "V:\setup.exe" -Stream "Zone.Identifier"
Get-Item : The parameter is incorrect
At line:1 char:1
+ Get-Item "V:\setup.exe" -Stream "Zone.Identifier"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-04-24 07:53] markkusoft commented on #1030
Unfortunately I don't have anything cleared for sharing at this time

[2019-04-24 07:59] ykuijs commented on #1058
Just tested this and can confirm this is caused by the fact that this occurs on a mounted disk image. Not sure why this is happening though. We will have to investigate the cause.

[2019-04-24 13:10] ykuijs commented on #1058
@JeanNetryValere can you please run the following script to test if this works in your case:
[code]

[2019-04-24 13:23] ykuijs commented on #1030
Is it an option to share the manifest.xml of the solution? This can be done via email so this isn't shared publically. I have send @shurick81 an email on April 9th from which you can retrieve my email address :-)

[2019-04-24 14:34] JeanNetryValere commented on #1058
No mistakes, the output is:
"CD-ROM: Skip test"

[2019-04-24 18:41] ykuijs commented on #1058
Great! Implementing a fix for this issue, which will be included in my next Bugfix PR

[2019-04-24 20:13] ykuijs commented on #962
Post is available again. Capturing solution here:

[2019-04-24 20:15] ykuijs commented on #962
Original blogpost

[2019-04-25 10:14] Yvand commented on #1053
@shurick81 can you please explain how you use this?
I tried to use it with this ADFS metadata endpoint:
<https://ADFS.contoso.local/FederationMetadata/2007-06/FederationMetadata.xml>
But it failed with error "Invalid JSON primitive: ."
So I understand that SharePoint expects a JSON reply, while ADFS sends a XML document.

[2019-04-25 10:19] Yvand commented on #1039
@shurick81 this probably doesn't work because you set the OwnerAlias in format "domain\username"
The test proposed by @ykuijs will very probably work, because the OwnerAlias is in full claims format "i:0#.w|domain\username"
If you use this same format in your DSC script, it should work as well

[2019-04-25 13:36] shurick81 commented on #1053
It did not work with ADFS that I tried either, so I came up with something like this:

[code]

[2019-04-25 13:39] shurick81 commented on #1039
@Yvand , yes, you can find it in initial message, I use this notation

[2019-04-25 13:56] Yvand commented on #1039
@shurick81 indeed, I missed the 2nd part.
Looking at it again, I think the problem is that you set the URL of the SPSite with HTTPS scheme, while the URL of the web app uses HTTP. I'm pretty sure this mismatch in the protocol causes the error.

[2019-04-25 13:58] Yvand commented on #1053
@shurick81 this is a nice solution, thanks for sharing!
Then, do you agree that implementing support for parameter MetadataEndPoint is useless, or do you see some benefit to implement it?

[2019-04-25 15:06] shurick81 commented on #1053
well the only benefit might be that if you implement it in resources, then the same compiled mof files can be reused even though the certificate is updated on the ADFS side. But I would not say it is a big one.

[2019-04-25 15:53] Yvand commented on #1053
Wouldn't this throw the same JSON error?

[2019-04-25 18:45] IlleNilsson commented on #1052
I’ll get back to you on Monday when I’m at the clients site, but I’m running Windows Server 2016, SharePoint 2016 – latest bits by Windows Update and I’m experiencing the problem.

Thanks a bunch for caring and time.

BR // Ilian

From: Yorick Kuijs <notifications@github.com>
Sent: den 23 april 2019 15:44
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nils

[2019-04-25 20:38] ykuijs commented on #910
Close via PR #1049

[2019-04-25 20:38] #910 closed

[2019-04-25 20:43] ykuijs commented on #1052
Windows Update doesn't deploy SharePoint Cumulative Updates, just SharePoint security updates. Please check the build number in Central Admin: "Check product and patch installation status"
https://blog.stefan-gossner.com/2014/08/18/sharepoint-patching-demystified/

[2019-05-06 13:17] #885 closed

[2019-05-06 13:17] #906 closed

[2019-05-06 13:17] #1058 closed

[2019-05-06 17:41] ykuijs commented on #945
Will be added in my next PR

[2019-05-07 09:06] ykuijs commented on #1052
@IlleNilsson Any update?

[2019-05-08 19:51] shurick81 commented on #1039
@Yvand, to me this does not look like a mismatch. We always use http web application URL because it is just a system URL that users never use. The only site collections that users use are host named and we have them SSL-enabled. There might be correlation though, I did not really test what you brought up.

However, the correlation I noticed is that if web application only has one authentication (n

[2019-05-10 15:18] iosgitr commented on #1003
I just ran into the same error.  In my case, I had two AD principals in the TermStoreAdministrators array and I noticed that after receiving the "No termstore matching..." error, I could navigate to managed metadata in CA, it seemed to load fine, but only the first AD principal was shown in the UI.  I tried deleting the service app and re-running once for each of these config changes:

- Remove th

[2019-05-13 12:39] #945 closed

[2019-05-13 13:41] HeKr09 opened #1062 "SPInstallPrereqs potentially problem checking version"
#### Details of the scenario you tried and the problem that is occurring
Trying to install SharePoint 2019 and wondered about an error while installing Prereqs. The version was not correct.
I wondered about the code within the ressource.

#### Verbose logs showing the problem
Prerequisite [PLaceholder] was found but had unexpected version. Expected minimum version [WAS EMPTY] but found version 14.

[2019-05-13 14:52] ykuijs commented on #1062
Hi @HeKr09 This error message is given when one of the required components is installed, but not the correct version (too low version). Based on the version number you gave (14.12) I guess this is the C++ library, but without the exact error this is hard to say.

The check you are referring to checks if the minimum version is greater than the actual installed version. If this is true, the required

[2019-05-13 14:55] harbars commented on #990
Hi folks,

It's worth noting this isn't a specific issue with DSC or any other approach. It impacts every use of New-SPSite within a PoSh automation approach, and was a bug during pre-release and RTM builds. on any farm type. in some cases, reloading the snapin will allow the site creation. other times the entire process needs to be reloaded

[2019-05-14 05:58] BrianFarnhill opened #1065 "SPFarm fails test method when HTTP used for central admin"
#### Details of the scenario you tried and the problem that is occurring

Looking over the recent changes to the SPFarm resource, I can see @ronx added some stuff around managing if central admin runs to the resource (which is cool, love the way it works if your using HTTPS), but if you are running central admin on HTTP there appears to be some issues in its logic. The code I'm looking at is [here

[2019-05-14 08:37] HeKr09 commented on #1062
Yeah but I wondered about the check method.
If I do have the minimum version 15.1.0.3 and the installed version is 16.0.1.2 I'd expect a true within the variabel $isRequiredVersionInstalled. But the implemented code will return false I guess. Am I wrong?

If you run thorugh the code:
First loop
`if(15 -gt 16) -> $isRequiredVersionInstalled = $true`
Second loop
`if(1 -gt 0) -> $isRequiredVersionIns

[2019-05-14 14:02] ronx commented on #1065
Hey @BrianFarnhill , thanks for the detailed test scenarios and explanation. Very helpful! I'll take a look at this later this afternoon and try to get some fixes in quickly. Cheers!

[2019-05-14 14:24] ronx commented on #1065
BTW - CentralAdministrationUrl was added specifically to support HTTPS implementation, but I was thinking that it could also be used for HTTP in the future. When I implemented it, I was thinking it would be ignored unless it was an HTTPS URL. Glad you jumped on it and identified the errors to keep it on the radar while it's all still fresh ;) ...

Quick question for you @BrianFarnhill . When you u

[2019-05-14 14:33] ykuijs commented on #1062
No I get what you mean! :-)

Will dig into this and get back to you asap!

[2019-05-14 23:54] BrianFarnhill commented on #1065
@ronx I don't think I've run the UI config tool in about the last 5 years, so I actually don't know! It's a good point. If I'm running DSC regularly and it blows away the admin AAM then DSC will put it back, but it's worth kicking the tyres on a little to validate that scenario as well. I'll have a look over the next day or two and let you know how it behaves.

[2019-05-15 01:14] ronx commented on #1065
Yeah, SP2016 improved psconfig_ui tremendously, throwing in an automatic Get-SPProduct -Local across the board to avoid the common erroneous version mismatch error among other improvements. IMHO, 2016 made the UI config relevant to professionals again ;). But it also still reconfigures CA on every run when it shouldn't. Usually doesn't matter, but since binding information seems to be persisted in

[2019-05-15 02:02] BrianFarnhill commented on #1065
@Ronx Yeah I agree - if the psconfig UI does change the URLs though there might not be any other options that to let DSC either fix it (or at worst tell you about it if you're in ApplyAndMonitor). Other than us documenting it as a known thing in our docs on the wiki maybe - I think there's not a whole lot of other options in there for us. So if we just fix the output of the get method so our tests

[2019-05-15 12:19] ykuijs commented on #990
@harbars Do you know if this is (or will be) fixed in a CU?

[2019-05-15 12:26] harbars commented on #990
i'm not aware of any work to fix it - it may have already been done - it's not something I've looked at in a while, but was pointed to this page when it came up related to something else. the bottom line - the problem is/was SharePoint, not anyone else's tool/automation choice or implementation

[2019-05-15 14:30] ronx commented on #1065
I think that at a minimum, we document that CentralAdministrationUrl should only be used for HTTPS and the Get method would throw an error if someone passed in an HTTP URL. In other words, if using HTTP, you would still have to accept the default http://<servername>:<port> for CA. Does the documentation/wiki already have an example of how to use SPAlternateUrl to update the CA binding with a vanit

[2019-05-16 03:27] BrianFarnhill commented on #1065
@ronx thats fair for an initial solution. I'll finish my config up that does the alternate URL config and post it here so that one of you guys can get it updated on the wiki seeing as I don't have permissions to this repo any more :P

[2019-05-17 00:25] BrianFarnhill commented on #1065
@ronx OK so I just ran the config wizard, here is a run down of what I did in the setup:

1. Add an "intranet" zone AAM to the central admin site (if you try to update the default one it makes a couple of other resources a little trickier, so I keep it seperate)
2. Add xWebsite with BindingInfo on the servers that run central admin so that I listen on both :9999 and spadmin.domain.com:80 for the c

[2019-05-17 20:11] ronx commented on #1065
@BrianFarnhill I just submitted the PR. I talked to @ykuijs earlier and the 3.4 cutoff was Wednesday. When the PR is merged, would you mind pulling dev and testing it out on your lab to see if it works as expected? I'll look into the possibility of hitting the stretch goal of supporting custom hostnames with http in the meantime for the 3.5 release, but I don't know how much demand there is for th

[2019-05-17 23:34] BrianFarnhill commented on #1065
@ronx I agree, don't sweat the HTTP support at all. I'm only looking at it so I can use a load balancer, which I think is a common enough scenario - but given HTTPS is a preferred practice I wouldn't go out of your way to support HTTP, especially given that it can work with the config I've got there. I would say that feature would be a nice to have, definitely not mandatory though. I'll run the de

[2019-05-20 19:21] ykuijs opened #1067 "SPUserProfileSyncConnection: Test fails when specifying the Server parameter"
#### Details of the scenario you tried and the problem that is occurring
When specifying the Server parameter in SPUserProfileSyncConnection, the Test method always fails because the Get method always returns Server=null.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Do not check the Server parameter in SP2016

#### The DSC configuration that is used to reproduce the

[2019-05-20 19:21] ykuijs commented on #1067
Fixed in my next bugfix PR

[2019-05-20 19:26] ykuijs opened #1068 "SPConfigWizard: Should not try to run wizard if other servers do not have the binaries installed yet"
#### Details of the scenario you tried and the problem that is occurring
When other servers in the farm do not have the binaries installed yet, SPConfigWizard should not try to run the config wizard. This because the wizard first stops the IIS W3 processes and then fails because it cannot upgrade servers. Unfortunately it does not restart IIS and therefore causing downtime.

#### Verbose logs show

[2019-05-20 19:26] ykuijs commented on #1068
Will be fixed in my next bugfix PR

[2019-05-22 14:01] ykuijs commented on #1062
@jensotto Since you added this piece of code:
https://github.com/PowerShell/SharePointDsc/blob/736c08612a73f7f11502af9e9685f144fca81365/Modules/SharePointDsc/DSCResources/MSFT_SPInstallPrereqs/MSFT_SPInstallPrereqs.psm1#L1117-L1135

What was the reason you used this code instead of something like the following:
[code]

[2019-05-22 14:22] ykuijs commented on #1065
PR #1066 is merged. Reopening this issue, since it isn't 100% fixed yet.

[2019-05-22 14:31] ronx commented on #1065
@ykuijs The "bug" is fixed, right? The meta has been updated to provide info about how CentralAdministrationUrl is only for HTTPS, and an exception is now being thrown when an HTTP URL is passed. So we're now purposefully handling those scenarios instead of letting them happen and then failing as an unexpected error.

By it being not 100% fixed, are you referring to it being able to support HTTP a

[2019-05-22 17:53] jensotto commented on #1062
That looks a lot cleaner. Not sure why I didn't think of something like that. I created a test for that scenario, so as long as that does not fail I don't see why your code could replace my convoluted code :)

[2019-05-22 17:55] jensotto commented on #1062
I see the problem in my code. Stupid mistake. Using the System.Version makes a lot more sense.

[2019-05-22 19:41] ColinHJ opened #1069 "NewResourceName: SPProductSlipstream"
### Description
When doing a slipstream install of SharePoint 2016 and using a feature pack 1 mini role. The install hangs silently with a debugger in the background. I have seen this in multiple farms. I'm currently using the below script resource to install the patch post SharePoint install. I'm not sure if a new resource should be created or the SPProductUpdate should be updated. The below logi

[2019-05-22 21:24] ykuijs commented on #1069
Hi @ColinHJ, it is possible to install a slipstreamed version of SharePoint using the SPInstall resource. You can then use SPFarm to create the new farm, which checks the version of the installed binaries and allows the two new Minroles introduced in Feature Pack 1 to be used.

With the updated version of SPProductUpdate , introduced in v3.3, you should also be install to install the RTM version o

[2019-05-22 21:25] ykuijs commented on #1062
Ok, no problem mate! Will update the resource with alternative check. Will be included in my next bugfix PR!

[2019-05-23 08:05] Bjorn80 opened #1070 "SPSecureStoreServiceApp is set to absent but test finds it and set does not."
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

VERBOSE: [VM0013]: LCM:  [ Start  Test     ]  [[SPSecureStoreServiceApp]SecureStoreServiceApp]
VERBOSE: [VM0013]:                            [[SPSecureStoreServiceApp]SecureStoreServiceApp] Testing secure store service application Secure Store Service Application
VERBOSE: [VM0013]:

[2019-05-23 08:57] ykuijs commented on #1070
Hi @Bjorn80 thanks for reporting this issue. I just investigated and see what is happening here:
If I am not mistaking, you environment doesn't have the SecureStore ServiceApp deployed, right?

The Test method calls the Get method. You log shows that just the Get-SPServiceApplication cmdlet is called, indicating that it didn't return anything, so the Get method returns a NullReturn variable.

Sinc

[2019-05-23 09:04] andikrueger commented on #1069
As @ykuijs said, with the latest update of the SPProductUpdate resource you are able to install SharePoint updates before creating a farm.

There is a known (but not blocking) issue with slipstreaming of SP 2016: https://docs.microsoft.com/en-us/sharepoint/support/server-install/administration-tool-stopped-working-during-a-slipstream-installation

[2019-05-23 11:51] Bjorn80 commented on #1070
Hi @ykuijs
That is right the service application should be absent but a default database name is hardcoded in the dscressource.
Thanks for the quick reply and information.
brgs

Bjørn

[2019-05-23 11:51] #1070 closed

[2019-05-23 11:52] ykuijs opened #1071 "Improve logging of resources to compare values in Test method"
#### Details of the scenario you tried and the problem that is occurring
When the Test method performs its test, it would be nice to display the current and desired output in the Verbose output.

#### Suggested solution to the issue
Implement solution to output the current and desired values in the Verbose log

[2019-05-23 11:53] ykuijs commented on #1071
Create issue to track the enhancement. Already working on it, will be included in my next PR

[2019-05-23 11:56] ykuijs opened #1072 "Update resources that return Null from the Get method when an unexpected issue occurs"
#### Details of the scenario you tried and the problem that is occurring
Initially we returned Null when anything happened in the Get method. This practice however changed and we are now returning a Hashtable, which contains Null values. Unfortunately not all resources were (fully) updated to match this new practice:

SPDesignerSettings, SPDiagnosticLoggingSettings, SPFarmAdministrators, SPHealthA

[2019-05-23 11:57] ykuijs commented on #1072
Created the issue to track progress. Already working on this. Is included in my next PR

[2019-05-23 15:43] ColinHJ commented on #1069
I checked the SPProducts Wiki when I was updating my script. It still reflects the Farm requirement. I see in the change log the update to SPProducts in v3.3. I will try that.

[2019-05-23 15:43] #1069 closed

[2019-05-27 09:59] ykuijs commented on #1069
Hi Collin, good point! With the release of v3.3, we didn't update the Readme file. I have just updated that, which will be included in the v3.5 (we auto generate the Wiki content), but is already available in the [Dev branch](https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/readme.md)

Thanks for pointing that out!

[2019-05-29 12:37] ykuijs opened #1074 "SPDistributedCacheService: Test method does not check for ServiceAccount"
#### Details of the scenario you tried and the problem that is occurring
In PR #997 a Try/Catch block was placed around the Deploy method when updating the ProcessIdentity. However when the code ends up in the catch, the ServiceAccount is then never updated because the test method doesn't check for the ServiceAccount parameter.

#### Suggested solution to the issue
Add a verbose message to the Cat

[2019-06-08 00:31] xenophobentx commented on #716
Use the resource below as workaround before applying prereq in a config otherwise it will fail.
Kind of funny the prereq installer cannot run withouth a package that supposed to be installed by the prereq installer.

Package InstallVisualC2017Plus
        {
            #need to install due to prerequisiteinstaller bug
            Ensure = "Present"
            Name = "vc_redist.x64.exe"

[2019-06-11 06:37] Harish9211 opened #1075 "Getting error Invoke-CimMethod : Value cannot be null. Parameter name: service for SPFarm resource"
ISSUE TITLE:
   SPFARM - Getting error Invoke-CimMethod : Value cannot be null. Parameter name: service for SPFarm resource

    ISSUE DESCRIPTION (this template):
  Getting error Invoke-CimMethod : Value cannot be null. Parameter name: service for SPFarm resource

#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

VERBOSE: [ComputerNam

[2019-06-12 13:48] brussell41 opened #1076 "SPWebAppAuthentication: Specified Web Application is using Classic Authentication and Claims Authentication is specified."
#### Details of the scenario you tried and the problem that is occurring

When creating a SPWebApplication that has UseClassic set to $true, the SPWebAppAuthentication module throws an error stating: Specified Web Application is using Classic Authentication and Claims Authentication is specified.  For the Default Zone, I have attempted to use Kerberos as the authentication method, and even changed

[2019-06-12 18:28] ykuijs commented on #1075
This error is thrown inside of the Connect-SPConfigurationDatabase cmdlet. Do you use the PsDscRunAsCredential parameter in your config (Can you share your config) and does that user have the correct permissions in SQL? Does the server has proper access to the SQL server?

[2019-06-12 18:35] ykuijs commented on #1076
Hi @brussell41, when using SPWebAppAuthentication and classic, you have to specify Classic as the AuthenticationMethod in this resource. When specifying NTLM and Kerberos, the use of Claims is implied.

Can you please share your config to validate this?

[2019-06-12 18:44] brussell41 commented on #1076
Ok, that would make sense since I stated Kerberos as my desired authentication method.   I do not see this notated anywhere in the documentation, so could we update?

My config is as follows:

       SPWebAppAuthentication MIMWAAuthentication {
            WebAppUrl = "http://mim.contoso.com"
            Default = @(MSFT_SPWebAppAuthenticationMode {
                    AuthenticationMethod = "Kerb

[2019-06-14 12:32] backrowbloke opened #1077 "Issue with MSFT_SPSearchIndexPartition"
#### Details of the scenario you tried and the problem that is occurring
**EDIT:**
_**Using Farm Account as the PsDscRusAsCredential rather than the setup account corrected the issue**_

Using Start-DSCConfiguration with SharePoint 2013 multi-server farm.
Have tried using short and fully qualified server names in the configuration
always get error
[code]

#### Verbose logs showing the problem
VERB

[2019-06-14 13:20] #1077 closed

[2019-06-16 06:42] xenophobentx opened #1078 "SPProduct Update"
https://github.com/PowerShell/SharePointDsc/wiki/SPProductUpdate

Is the following sections still valid?

"IMPORTANT: This resource retrieves build information from the Configuration Database. Therefore it requires SharePoint to be installed and a farm created. If you like to deploy a new farm and install updates automatically, you need to implement the following order:

Install the SharePoint Bin

[2019-06-16 20:48] andikrueger commented on #1078
This information is no longer correct. With the latest update, it’s possible to install an update directly after the initial setup.
Keep in mind to install language packs prior to a CU.
@ykuijs could you update the wiki?

[2019-06-17 16:46] ThomasLie opened #1079 "SearchServiceInstance not found"
Hi there,

having an issue with creating new search topology: DSC returns error 'SearchServiceInstance is not found on server SP001.

Checked the instance on the server and it is online.

I'm usind SharePoint 2019 with German langiuage pack on Windows Server 2016.
SharePointDSC version is 3.3.0.0

Any help is aprreciated...

Thanks in advance...

[2019-06-18 08:10] #1062 closed

[2019-06-18 08:10] #1067 closed

[2019-06-18 08:11] #1068 closed

[2019-06-18 08:11] #1071 closed

[2019-06-18 08:11] #1072 closed

[2019-06-18 08:12] ykuijs commented on #1078
The Wiki pages are generated by the build process, based on the [Readme file](https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/readme.md). I will update the readme file, so the Wiki will be updated with the next release.

[2019-06-18 09:00] ykuijs commented on #1076
You need to use AuthenticationMethod = "Classic" in order to configure classic.

I will check out the documentation and update where required. Thanks for reporting!

[2019-06-18 13:37] ykuijs commented on #1079
Hi @ThomasLie Can you please share your config and the Verbose output of the deployment?

[2019-06-20 10:31] luigilink opened #1081 "SPExcelServiceApp: Get Method throws error"
#### Details of the scenario you tried and the problem that is occurring
The Get-DscConfiguration Cmdlet throws an error when SPExcelServiceApp is called.

#### Verbose logs showing the problem
COMMENTAIRES : [SPS15DEV01]:                            [[SPExcelServiceApp]APPLICATION_Exc
elService] Importing the module MSFT_SPExcelServiceApp in force mode.
COMMENTAIRES : [SPS15DEV01]:

[2019-06-20 11:17] ykuijs commented on #1081
Although changing the type to String will work, the issue is caused by the fact that the type is set to an unsigned Integer instead of a signed integer.

As you can see in Example 2 of [Set-SPExcelServiceApplication](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/set-spexcelserviceapplication?view=sharepoint-ps#examples), a value of -1 means that Excel will use half of the av

[2019-06-20 11:35] luigilink commented on #1081
So I need to change parameter to SInt32, I already changed to string. I'll do it ASAP.

[2019-06-20 12:03] ykuijs commented on #1081
See my comment in the PR for details. There is a slight difference in change between the schema and the psm1 file.

[2019-06-21 10:53] #1081 closed

[2019-06-21 15:45] #1074 closed

[2019-06-21 15:45] #1076 closed

[2019-06-21 15:45] #1078 closed

[2019-06-24 12:48] andikrueger opened #1085 "Apply vscode auto-formatting to all files"
Currently there are many files, that are not formatted properly.
Running the vscode auto-formatting should fix this issue.

@ykuijs There is one general question with auto-formatting:

Currently we format the following code block like this:

[code]

After runing auto-format, this block will look like this:

[code]

Is this something you care about?

[2019-06-25 06:38] ThomasLie commented on #1079
Hi,

meanwhile we solved the issue, was due to a couple of group policies.

Regards
Thomas

[2019-06-27 09:19] ykuijs commented on #1085
Personally, I find the first one better readable. Do you know if there is way to have VSCode use that formatting? If not, let's stick to the second one.

[2019-06-27 09:21] ykuijs commented on #1079
Hi @ThomasLie, could you please share which policies caused this and what setting of those policies was the solution? This might be beneficial to others or we could include this in our documentation.

[2019-06-27 09:34] andikrueger commented on #1085
I did not find a setting  for option 1. Maybe @johlju knows a way?

[2019-06-27 09:42] johlju commented on #1085
Don’t think it is possible to align the dashes when continue the row on the next row.
Maybe @bergmeister can give a definitive answer is PSScriptAnalyzer supports that.

[2019-06-27 14:57] paololec opened #1087 "SPProductUpdate: ShutdownServices set to True not skipped it SPFarm not exists"
#### Details of the scenario you tried and the problem that is occurring
Executed SPProductUpdate before SPFarm with ShutdownServices  = $true produce errors.

#### Verbose logs showing the problem
[[SPProductUpdate]InstallCU] Check if BinaryInstallDays is specified
[[SPProductUpdate]InstallCU] No BinaryInstallDays specified, Update can be ran on any day.
[[SPProductUpdate]InstallCU] Check if Bina

[2019-06-27 16:26] bergmeister commented on #1085
I am not aware of such a feature but PSSA has options for hashtable alignments IIRC, therefore I suggest to use splatting

[2019-06-27 17:38] andikrueger commented on #1085
Thank you for your feedback. We do have several functions already, that use splatting.

[2019-06-27 17:40] andikrueger commented on #1085
Reopening. Closed it by mistake

[2019-06-27 17:43] andikrueger commented on #1087
Thanks for pointing this out. Will fix this issue.

[2019-07-03 17:25] #1085 closed

[2019-07-03 18:03] ykuijs opened #1090 "SPInstall: Resource does not handle exit code 3010 (ERROR_SUCCESS_REBOOT_REQUIRED) properly"
#### Details of the scenario you tried and the problem that is occurring
The setup can exit with exit code 3010 (ERROR_SUCCESS_REBOOT_REQUIRED). The SPInstall resource does not handle this exit code properly: It throws an error instead of initiating a reboot.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Add exit code 3010 to the list of exit codes and initiate the r

[2019-07-03 18:04] ykuijs commented on #1090
Working on a fix

[2019-07-03 18:06] ykuijs commented on #1079
@ThomasLie Do you have the opportunity to share the policies that caused this issue?

[2019-07-03 18:07] ykuijs commented on #1075
@Harish9211 Any update?

[2019-07-03 18:08] ThomasLie commented on #1079
Hi Yorik,

I‘m currently on vacation...going to share the GPO when I‘m back...

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT-Consulting & Büroservices GbR
Ilse-Pohl-Str. 67
63303 Dreieich - Germany
Fon: +49 171.2625166
Email: thomas@lieftuechter.de
Web: http://www.lieftüchter.de/TL
Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie

[2019-07-05 13:30] andikrueger commented on #1087
Working on it.

[2019-07-05 16:54] andikrueger opened #1092 "VSCode: There should be a launch setting to generate code coverage reports"
Currently there are several launch settings in vscode available, that can be used to trigger a test run for the current unit test. When creating new tests, it is quiet hard, to get see all the hits and misses.

There should be a new setting, that allows the user to generate code coverage reports.

These settings are introduced in #1091

[2019-07-08 12:14] goorallab commented on #912
Hello,

Similar issue blocked me for couple of days, but on the upside, I did managed troubleshoot it.
In my DSC config I was trying installing SQL (using SQLServerDSC) and then SharePoint.
**Turns out that if you try to use same account for configuring SQL using SQLPS PowerShell Module and Installing SharePoint this issue occurs.**

In SQLServerDSC if you do an **SqlServerMaxDop** without **SqlSe

[2019-07-08 12:24] ykuijs commented on #912
@goorallab This is great work, thanks a lot for investigating and sharing your results!!

We will see if we need to update documentation or if we can implement a code fix.

Again, thanks a million!!

[2019-07-08 12:32] ykuijs commented on #663
In issue https://github.com/PowerShell/SharePointDsc/issues/912#issuecomment-509200770  @goorallab reported that this was caused by using the same PSRunAsCredential for both the SQLServerDsc and SharePointDsc resources.

@SvenLauterbach I see in your config that you were using the same account as well. Can you please test with different accounts and validate that this solves the issue?

[2019-07-09 08:24] Yvand opened #1093 "Behavior of Test-SPDscParameterState is flawed: it should return false if a key in CurrentValues is missing in DesiredValues"
#### Details of the scenario you tried and the problem that is occurring

I discovered this while writing SPTrustedSecurityTokenIssuer:
Test-SPDscParameterState returns true in the scenario below, while IMO it should return false:

[code]

Use case: IsTrustBroker is an optional parameter in DSC resource SPTrustedSecurityTokenIssuer.
If it is not in DSC configuration, but it is returned by the Get-

[2019-07-12 07:44] xenophobentx opened #1094 "CreateSharePointFarm Object reference not set to an instance of an object."
ISSUE TITLE:
     CreateSharePointFarm  Object reference not set to an instance of an object.

    ISSUE DESCRIPTION (this template):
     Scenario: Prerequisites + binaries + Language packs installed + but farm creation object fails with  Object reference not set to an instance of an object.

    PLEASE KEEP THE HEADERS.

    You may remove this comment block, and the other comment blocks,
    bu

[2019-07-14 21:13] ykuijs commented on #1094
My customer got this exact same issue last week as well (SP2019 on Win 2016)! We could not find the root cause of this issue, so I suggested to create a support case since this looks like an issue in the Config Wizard while creating the farm. With the vacation period coming up, I am not sure if they will do that right away or after they come back from vacation.

The thing they found was that the C

[2019-07-18 13:52] NikCharlebois opened #1095 "SPSearchTopology FirstIndexPartition Issue for Default folder"
#### Details of the scenario you tried and the problem that is occurring
Assume we have a Search Farm with 3 servers: ServerA, ServerB and ServerC. ServerB is the one that will be hosting the index. If we run the configuration from ServerA, and in there we have a block similar to the following:
[code]

It will throw an error because folder c:\index needs to exist locally, in occurance on ServerA,

[2019-07-18 18:27] ykuijs opened #1096 "SPProductUpdate: Add possibility to use Zero-Downtime Patching with SPDsc"
@andikrueger and I have been discussing the possibility to patch SharePoint using Zero-Downtime Patching with SharePointDsc. Since this requires directing traffic to other servers in the SharePoint farm, this will require implementing a solution to make sure the server is not serving traffic.

We both see that a lot of companies don't configure their load balancing the proper way. Their appliances

[2019-07-18 18:35] andikrueger commented on #1096
Assuming, we do have a proper LB solution in place, there would still be the need to create a new `SPZeroDownTimePatching` resource. This resource would be needed two times per WFE per configuration to enable side-by-side and disable side-by-side properly.

[2019-07-18 18:44] andikrueger opened #1097 "SPZeroDownTimePatching: New resource for enabling ZDP with DSC in SP 2016 and 2019"
Following up on #1096 about ZDP there would be the need to create a new resource to handle Side-by-Side in this scenario. The new resource could look like this:

Enabling SideBySide could look like this:

[code]

Enabling SideBySide could look like this:

[code]

All information needed to set the web application property `WebSerivce.SideBySide` can be obtained within this resource, by querying the

[2019-07-18 18:56] SvenLauterbach commented on #663
I will try it

[2019-07-18 21:02] ykuijs commented on #1096
I do not agree with creating a new resource. The reason for this is that one resource would have the enabled state and the other the disabled state, so these will always be in conflict with each other and the server will never be in a compliant state. Each time a configuration is applied, the first resource would enabled SbS and the second would disable it again. If "Apply and Autocorrect" is conf

[2019-07-18 21:05] ykuijs commented on #1097
See my comment in the other issue. I don't think this resource is needed, since the two examples will be in constant conflict and the server will never be in a compliant state.

[2019-07-18 21:16] andikrueger commented on #1096
Wouldn’t extending the Set-Method lead to one WFE being  more up-to-date than another (not yet patched) WFE and in this way impact the user experience?

[2019-07-18 21:36] andikrueger commented on #1097
I think, there is a chance to  resolve this potential conflict.

Both examples need to return true (test-method) for the following case:

Local Version obtained from the SPProductUpdate Method equals the Farm Version and SideBySide is enabled and the SideBySideToken equals the Farm Version

False for
- first example:
— SideBySide is not enabled
— Version mismatch

- second example:
— SideBySide is

[2019-07-19 08:56] andikrueger commented on #1096
I did some drawing this morning. The following picture shows the several steps needed to patch a 2 WFE with several App Servers Farm with DSC and ZDP.

![Zero Downtime Patching](https://user-images.githubusercontent.com/15608729/61523003-ce139080-aa13-11e9-86af-ecad5535d725.jpg)

Following color codes for the drawing:
- red - could be problematic in one configuration as these resources would confl

[2019-07-19 11:17] ChristophHannappel opened #1098 "SPInstall: Does not detect a paused Installation"
#### Details of the scenario you tried and the problem that is occurring
When Installing SharePoint 2019 the Ressource finished very quickly but the Product was not installed completly. I also couldn't see anything inside the Programs and Feature Control Panel.
Some files where allready copied onto the destination folders.
When i ran the setup manually the Setup told me that a current installation

[2019-07-25 10:10] jensotto opened #1099 "SPInstall: Incorrectly detects that SharePoint is already installed"
#### Details of the scenario you tried and the problem that is occurring
Uninstall SharePoint (2019) from a server and use DSC to reconfigure the same server.
SPInstall resource incorrectly detects that SharePoint is already installed and skips installation.

#### Verbose logs showing the problem
Did not keep the log for this, but is identical to the output when SharePoint is installed.

#### Sugg

[2019-07-25 10:18] jensotto commented on #1099
I'm not sure if "Microsoft SharePoint Server <version of SharePoint>" is possible to be used for an exact match for all different version and editions of SharePoint. It seems to work for SharePoint 2019, but we need to check if it can be used for all other editions too (Foundation/Enterprise/any other different editions that might exists).

[2019-07-25 13:06] ykuijs commented on #912
I tried to reproduce this issue, so I could troubleshoot it. Unfortunately I was unable to. Could you please check my reproduction steps to see if anything is different on your end:

- OS: Windows Server 2012 R2, which is also a DC for a custom domain
- SQL: SQL Server 2012 with SP4
- SharePoint: SP2013 Enterprise with SP1

$cred is my admin account, which has local admin permissions

[code]

[2019-07-26 09:47] goorallab commented on #912
@ykuijs
Can you make sure that you don't have module **SqlServer** installed on server nor install account scope?
Can you share Verbose output form DSC run?

I will check my dev server specs and paste dsc config later.

[2019-07-31 14:48] DennisL68 commented on #1052
SharePoint security updates states that they add feature packs.

Anyhow, if just using the cmdlet
Set-SPSite -Identity 'http://www.example.local' -OwnerAlias 'domain\user'
it looks like the owner has been changed but it hasn't taken effect.

I need to open the CentralAdmin site and click OK to have the ownership be applied.

[2019-07-31 15:12] DennisL68 commented on #1052
This article states that properties Owner and SecondaryContact is considering to be content.
The account I'm running Set-SPSite has no content permissions (it is a farm admin however) and those two properties shows up empty when querying using Get-SPSite.

Should I perhaps reserve one of the owners to a dedicated site collection account and only run scripts affecting the collection using that dedi

[2019-08-06 19:30] #1092 closed

[2019-08-06 20:54] #1090 closed

[2019-08-06 21:01] ykuijs commented on #1065
@ronx That is correct. Could you please create the new issue?

[2019-08-06 21:01] #1065 closed

[2019-08-07 00:54] ronx opened #1102 "SPFarm: CentralAdministrationUrl should support setting vanity host on HTTP"
#### Details of the scenario you tried and the problem that is occurring

As a continuation of #1065 , we should be able to use the CentralAdministrationUrl param to set a vanity host with HTTP and not just HTTPS.

#### Suggested solution to the issue

Scenario 1:
CentralAdministrationUrl = "http://machine-name"
CentralAdministrationPort = "9999"
Expected result: CentralAdministrationUrl is ignore

[2019-08-08 13:36] SvenLauterbach commented on #663
My configuration has also the same account in both resources in PSRunAsCredential. It takes some time to get a second account setup

[2019-08-14 07:50] HeKr09 opened #1104 "SPFarm: SingleServer maybe obsolet"
#### Details of the scenario you tried and the problem that is occurring
I want to install a SingleServerFarm and wondered about the DSC resource SPFarm where you can choose a server role between "SingleServer" and "SingleServerFarm". In later installations I've choosen "SingleServerFarm" and it worked fine.
Now I found a thread about this [topic](https://github.com/PowerShell/SharePointDsc/issues

[2019-08-14 15:27] luigilink opened #1105 "SPWebAppAuthentication: Test method returns always false on non english OS"
#### Details of the scenario you tried and the problem that is occurring
The Test-DscConfiguration Cmdlet always false on non english OS when SPWebAppAuthentication is called.

#### Verbose logs showing the problem
PS C:\Windows\system32> Test-TargetResource @TestArgs -Verbose
COMMENTAIRES : Testing web application authentication for 'http://contoso.com'
COMMENTAIRES : Getting web application auth

[2019-08-18 12:48] iosgitr opened #1107 "SPConfigWizard: Psconfig won't run when upgraded needed starting with 3.5.0.0"
#### Details of the scenario you tried and the problem that is occurring

SPConfigWizard works in 3.4.0.0 but starting with 3.5.0.0, the check that was added below prevents pconfig wizard from running when it needs to be run.

https://github.com/PowerShell/SharePointDsc/blob/d714e5b2929939a5164113ba2d720aabdd8e7d47/Modules/SharePointDsc/DSCResources/MSFT_SPConfigWizard/MSFT_SPConfigWizard.psm1#L10

[2019-08-22 06:02] DennisL68 commented on #1052
@SteveL-MSFT Any updates in this matter?

[2019-09-07 11:23] #1105 closed

[2019-09-07 14:31] ykuijs commented on #1030
This issue should be fixed by PR #1108, which is just merged to Dev.

[2019-09-07 14:32] #1030 closed

[2019-09-09 17:00] DennisGaida opened #1109 "SPInstallPrereqs: Doesn't work from network path"
#### Details of the scenario you tried and the problem that is occurring
Trying to run DSC with the sources on a network path which is supposed to be supported (and used to work) doesn't work anymore.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
The problem stems from [**MSFT_SPInstallPrereqs.psm1**:234](https://github.com/PowerShell/SharePointDsc/blob/dev/Mo

[2019-09-09 23:28] Jocorteslopez opened #1110 "SPSite: Issue with encoding when using custom ADFS claims provider"
**Details of the scenario you tried and the problem that is occurring**
Trying to create a site collection in which the Owner Alias is under a custom ADFS claims provider, the resulting MOF file changes the encoding and the characters that SharePoint understands. Making imposible to create a site collection under this scenario.

**Verbose logs showing the problem**
VERBOSE: [Machinename]:

[2019-09-10 15:09] Jocorteslopez commented on #1110
Hello Yorick,

It is not something I can customize, the claim is coming from SharePoint. Please review the section of Custom ADFS Claims here: https://social.technet.microsoft.com/wiki/contents/articles/13921.sharepoint-20102013-claims-encoding.aspx

I know it is a pain...

[2019-09-10 15:11] ykuijs commented on #1110
But in the example config you specified:
[code]
In there, the g has an accent above it. That is something you can change ;-)

[2019-09-10 17:08] Jocorteslopez commented on #1110
Hello Yorick,

I think I'm not explaining myself correctly. Yes the value I'm typing it is a g with an accent but I cannot use only the g because SharePoint is not going to understand the claim. What I'm trying to say, is when you configure SharePoint to use a custom ADFS claims identifier, the token SharePoint uses to identify is the g with the accent, so there is no point from my side to change

[2019-09-10 19:05] ykuijs commented on #1110
Aaaah, now I understand what you mean....sorry for that :-)

The only challenge is to find out how to resolve this. Can you please check if your configuration file is in UTF8? And if the generated MOF file is in UTF8 and has the correct character (just search for SPSite in the MOF file)?

And can you share the ULS log?

[2019-09-10 19:32] Jocorteslopez commented on #1110
The ps1 file we are generating is in UTF-8 but also we tried to use ANSI encryption. Result is the same, when the generated MOF file the encryption is: UCS-2 LE BOM from what I can see.

The ULS is showing this account: i:0Çµ.t|ADFS DEV|accountname that is what is written into the MOF file.

Basically the ǵ character is translated into Çµ for the encryption.

I think somehow the MOF file should be

[2019-09-10 19:32] jonathaneckman commented on #1087
This breaks SP 2013 builds. For some reason, the `ErrorAction` is ignored which means [this line](https://github.com/PowerShell/SharePointDsc/blob/release-3.6/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/MSFT_SPProductUpdate.psm1#L398):

[code]
fails every time. We had to fall back to 3.5 and set ShutdownServices to false. A try catch would work:

[code]

[2019-09-10 19:36] ykuijs commented on #1110
So it looks like the issue is Generic DSC (conversion from ps1 to MOF), not SharePointDsc specific. Do you agree?

I will try to create a simple reproduction and then check with the PowerShell Product Group on how we can resolve this issue.

[2019-09-10 19:39] Jocorteslopez commented on #1110
Yes it could be. Great, thank you for your help!

[2019-09-10 20:13] ykuijs commented on #1110
I just create a test config on my Windows 10 (build 1903) with just the SPSite resource in it, which has your exact config. When I compile the MOF file, it compiles just fine. The file is showing the ǵ character as expected.

[code]

Not sure what is different on your end. Maybe the OS has something to do with it. Which patch level are you on?

Will test later on Windows 2016.

[2019-09-10 20:21] Jocorteslopez commented on #1110
oh interesting, can you email me the ps1 file you are using? I would like to try on my end.
I'll give you the info soon, sorry I can't at this time

[2019-09-10 20:30] ykuijs commented on #1110
Done! Please check your email.

[2019-09-11 04:45] andikrueger commented on #1087
Could you share your verbose log of a SPProductUpdate run?

`ErrorAction SilentlyContinue` should not break not throw an exception. @ykuijs is this a known error?

[2019-09-11 07:19] ykuijs commented on #1087
Some cmdlets do not handle the error action parameter correctly. In other resources we indeed use the try/catch method for Get-SPFarm:
https://github.com/PowerShell/SharePointDsc/blob/0c0ef48b972b3ab83cedbd5b2595270e33bd8a9a/Modules/SharePointDsc/DSCResources/MSFT_SPAntivirusSettings/MSFT_SPAntivirusSettings.psm1#L133-L141

[2019-09-11 10:46] ykuijs commented on #1110
Just tested on Windows Server 2016. There the MOF file also contains the correct character. Really interested in the results of your test of the test config:

[code]

[2019-09-11 11:00] ykuijs commented on #1109
It is possible to use Get-Item on a UNC path, just tested it successfully on multiple machines.

What might be the cause:
Since you didn't specify the PSDscRunAsCredential, PowerShell runs the resource under the Local System account. This account does not have permissions to connect to other machines. Can you please check what happens if you add that parameter?

If this resolves the issue, we will

[2019-09-11 11:10] ykuijs commented on #1107
Hi @iosgitr, I am checking this issue however I cannot figure it out just yet. Can you please share your config for SPConfigWizard?

[2019-09-11 11:21] ykuijs commented on #1107
Did some more digging. You are right, we should not check for NoActionRequired, but for UpgradeRequired and UpgradeAvailable. Will update this in a next bugfix PR

[2019-09-11 11:21] DennisGaida commented on #1109
In my resource config I am actually using PSDscRunAsCredential - just not in this test. I get the same error with and without PSDscRunAsCredential.

I investigated further and you're right, I get use Get-Item on an UNC path, what doesn't work is `-Stream "Zone.Identifier"` (as referenced in line 642) - this throws the error "The parameter is incorrect". Maybe this is due to VMWare not making strea

[2019-09-11 11:23] ykuijs commented on #1104
Not sure where the SingleServer value came from, but it indeed should be SingleServerFarm for a single server.

[2019-09-11 11:32] ykuijs commented on #1104
The SingleServer was already present in the old SPCreateFarm resource and was copied across to the current SPFarm resource.

Since SingleServer isn't an accepted value, I will remove it in a next bugfix PR

[2019-09-11 12:17] ykuijs commented on #1099
@jensotto Did you have a language pack installed on this machine??

Looks like the naming of the language pack has changed in SP2019, now including "Microsoft SharePoint Server 2019" in the name where in SP2016 this was "Language Pack for SharePoint and Project Server 2016".

[2019-09-11 12:28] ykuijs commented on #1099
Possible solution would be to update the check to:

Current:
https://github.com/PowerShell/SharePointDsc/blob/47ef4acf75bbb06965b9a102b1b2ca793cbb79be/Modules/SharePointDsc/DSCResources/MSFT_SPInstall/MSFT_SPInstall.psm1#L94-L96

New:
[code]
This will select only the products that match the string exactly, no language packs or anything else.

[2019-09-11 12:54] ykuijs commented on #1098
Hi @ChristophHannappel, this is a good one. I haven't seen a paused installation before.

SPInstall uses the registery to determine if SharePoint is installed or not. With the release of SP2019, several components were renamed. For example the Foundation Core component now also includes "Microsoft SharePoint Server" in the name. If the installation completes installing this component and then fail

[2019-09-11 13:27] ykuijs commented on #1109
What kind of share are you using exactly? When I tested it, the Stream parameter worked fine on an UNC path, but I am using a Windows file share to another server in the environment.

[2019-09-11 13:33] ykuijs commented on #1109
FYI: The reason we implemented these checks is that else DSC will start the installation and if the file is blocked Windows will display a security message. But since DSC is not running interactively, you do not see this message and the installation seems to be stuck indefinitely. These checks will prevent that from happening.

[2019-09-11 13:37] DennisGaida commented on #1109
I'm running within VMWare Workstation and leveraging shared folders. I suppose VMWare isn't using the same protocol you are using for your network shares. Apparently it doesn't support alternate data streams which is where this problem stems from. I wouldn't be surprised that we have this problem with multiple network share implementations that don't support alternate datastreams (maybe some linux

[2019-09-11 13:41] ykuijs commented on #1109
Unfortunately we do: I have seen situations at customers where for example they downloaded the setup file from a network share, which added the Zone.Identifier stream. When they then tried to install SharePoint, the installation would hang on the invisible security message.

[2019-09-11 13:42] ykuijs commented on #1109
I think the solution would be to check for the type of file share (if this is possible, not sure though) and if this isn't supporting file stream, ignore the check since the file won't be blocked anyway.

[2019-09-11 14:02] ykuijs commented on #1109
@DennisGaida can you try the following:
[code]

[2019-09-11 14:07] DennisGaida commented on #1109
That does work (see above, same command). The problem really is `Streams`. I also tried out Sysinternals streams.exe and get the same error message:
[code]
I can catch the error like so:
[code]

[2019-09-11 14:11] ykuijs commented on #1109
Sorry, my mistake....forgot the Stream parameter :-)

Wanted to test the try/catch you also just tried. Good to know that would be a solution.

[2019-09-11 14:56] Jocorteslopez commented on #1110
Thank you Yorick,

Checked out form my side and it turned out to be an issue not with DSC but with VSCode Editor. For some reason we are still investigating even though the encoding is setup to UTF-8 in the editor, the character is not saved correctly and powershell doesn’t understand it in the internal treatment.

I replied to your mail with a couple of videos demoing that.

Regards

Jose Manuel

[2019-09-11 15:03] jensotto commented on #1099
No, I did not have any language packs installed.
Your solution should work, but would there be issues with for example SharePoint Foundation, or SharePoint installation media in other languages than English?

[2019-09-11 18:37] ykuijs commented on #1109
Just learned from a colleague that alternate data streams are a NTFS feature. So now I am wondering how VMware processes shared files.

Quick question: Where are the files you shared located? Could this be an FAT32 formatted (USB) drive?

[2019-09-11 18:43] ykuijs commented on #1110
You are right. Just created a new file in VSCode and pasted the test config in there. When I run it, the MOF file now contains the other characters. When opening the script file in Notepad, the correct character is displayed, but when opening the file in PS ISE the incorrect characters reappear.

I think this is an issue in VSCode, so I suggest to create a bug in the [VS Code repo](https://github.

[2019-09-11 18:59] ykuijs commented on #1099
As far as I know, if you install a non-English version of SharePoint you actually install the English version with the localized language pack.

[2019-09-11 20:31] ykuijs commented on #1109
Know that feeling, I am pretty curious as well :-) Also did some searching on the Internet, without any luck unfortunately.

No ESX expert, but I don't think ESX has the same issue. As far as I know ESX doesn't have the Shared Folders functionality, but is assigning virtual disks or direct link to physical disks to VM's.

For now, I suggest we implement the try/catch solution to resolve this issue

[2019-09-11 20:39] ykuijs commented on #1095
@NikCharlebois I see what you mean here and I agree with your suggestion. Just wondering: Why does this throw an error that the drive doesn't exist in this example?

[2019-09-11 20:40] ykuijs commented on #1095
And do you have a suggestion on how we can make sure the folder exists on all servers that host the index partition? Or should this be achieved by using the File resource in a config?

[2019-09-11 21:05] DennisGaida commented on #1109
Made some test runs with a Linux box. Tried SMB versions 1,2 and 3 up to 3.11 all provide alternate data streams - or at least don't break. File hosted on Linux box (EX4 formatted disk).
[code]
So right now it seems like it's a VMWare Workstation Shared Folders only problem 😞 A try-catch is good nonetheless and it did work before (during TAP). If you don't have the time I could also dig in and cre

[2019-09-11 21:29] DennisGaida opened #1111 "Invoke-SPDscCommand documentation improvement"
Just ran into previously described issue (because I was loading the SP PSSnapin in an external script) and found this great wiki entry:
https://github.com/PowerShell/SharePointDsc/wiki/Using-the-Script-resource-in-configurations-that-use-SharePointDsc

It should be improved though as `Arguments` & `Credential` are not documented and I had to dig through source code to figure out how they work. I p

[2019-09-12 07:05] ykuijs commented on #1109
If you have the opportunity to implement and test this fix, that would be great! Just submit a PR when you are ready and I will review!

[2019-09-16 11:25] SvenLauterbach commented on #663
Small Update. I removed the `PSRunAsCredential` from the SQLServerDSC commands (so that they should run under the SYSTEM account?) and used the `PSRunAsCredential` only on the SharePoint DSC resources.

However, still the same issue. I will try to create a minimal example and post the Verbose output later.

[2019-09-16 18:40] mrpullen commented on #1097
wouldn't this work?

[code]

1. Enabled would control your sideBySide being enabled or disabled.
2. MinimumVersion would handle version matching by the following rule

The idea would be if the Test-Resource would return true if local version on a specific node was equal to or greater than the version specified. Could also just include a "Version" tag to force set to a specific version (perhaps as

[2019-09-17 08:12] andikrueger commented on #1087
I think we should add the try catch block to prevent this error.

[2019-09-17 15:01] jimbrayDel commented on #1096
I have thought about this and the best thought I had was a script wrapper around the DSC resources to achieve the goal.  I thought the enabling of SideBySide was best handled with a Function as well as setting the proper version. Then for dealing with the farm to do true ZDP, you can only execute on half the farm resources. I worked with Nik and this seems feasible within my DSC script to identify

[2019-09-17 15:16] jimbrayDel opened #1113 "New Proposal for the SPFeature resource"
ISSUE TITLE:
Allowing the SPFeature Resource to handle multiple Web Applications on execution.

    ISSUE DESCRIPTION
In executing a complex Build the current module activates features on a web application.
SPFeature 6a06509d-2172-49f5-b6df-51ccc2b71bd1
        {
            Version              = "15.0.4.0";
            Name                 = "PublishingTimerJobs";
            FeatureScope

[2019-09-19 07:53] zsolt-illes opened #1115 "SPFarm does not change central admin auth mode"
Hi,
I've created a new farm with Central Admin being on NTLM. Later I decided I wanted to change to Kerberos. I've changed the CentralAdministrationAuth parameter to Kerberos and pushed the configuration again. It went through without error, but the authentication for the Central Admin has not changed.
Thanks,
Zsolt

[2019-09-19 08:28] #1109 closed

[2019-09-19 09:22] ykuijs commented on #1115
@ronx Since you are already working on updating SPFarm: Do you have the opportunity to check/fix this issue?

[2019-09-19 09:29] ykuijs commented on #1113
In SPFeature the Url parameter is specified as Key parameter for this resource and DSC does not allow Key parameters to be collections.

Changing Url not being Key is also not possible, since need that to be key so we can specify multiple web applications for the same feature without DSC complaining about duplicates.

So unfortunately, implementing this suggestion is not possible. Implementing one

[2019-09-19 09:29] #1113 closed

[2019-09-19 09:36] ykuijs commented on #1111
Can you share your script/config?

Have you used the same PsDscRunAsCredential for both resources?

[2019-09-19 09:40] ykuijs commented on #1096
Hi @jimbrayDel Not entirely sure what you mean here. Can you elaborate a little more?

[2019-09-19 09:43] ykuijs commented on #1087
Will implement this in the bugfix PR I am working on

[2019-09-19 10:19] DennisGaida commented on #1111
Sure. The script is nothing out of the ordinary: https://gist.github.com/DennisGaida/8eaefc875367e02524cdc265989b0a6f

The way I used to call the script (with said error):
[code]

[code]

I also removed the whole PSSnapin part from the external script:
[code]

[2019-09-19 10:27] ykuijs commented on #1097
The suggestion for the SPZeroDownTimePatching resource would work indeed. The MinimumVersion needs to be Key parameter in this case. And out of interest, what would the Enabled parameter do in this case?

[2019-09-19 10:28] ykuijs commented on #663
Can you use a different service account for SQLServerDsc, not the System account?

[2019-09-19 10:37] ykuijs commented on #1111
When using PsDscRunAsCredential, Invoke-SPDscCommand basically does nothing more than adding the loading of the snap-in to the specified scriptblock and then running the scriptblock using an Invoke-Command.

Can you try changing Invoke-SPDscCommand with Invoke-Command, add the loading of the snap-in to your script and see what happens then?

[2019-09-19 10:40] ykuijs commented on #1095
What I did for a customer is just adding the File resource to the config for all servers that are going to run the Index partition. This way you prevent the above issue all together. We can simply add this as best practice to the documentation.

[2019-09-19 10:41] ykuijs commented on #1110
Since this is a VSCode issue, I suggest we close this issue. Do you agree @Jocorteslopez?

[2019-09-19 11:18] andikrueger commented on #1097
Using the parameter `MinimumVersion` to handle the potential conflict of my suggestions is a very good idea.

@ykuijs For my understanding the parameter `Enabled` will control the SideBySide Setting of the web application: https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-server/dn778174(v=office.15)?redirectedfrom=MSDN

[2019-09-19 11:20] ykuijs commented on #1052
I see what the issue is. Will implement a solution in my next Bugfix PR

[2019-09-19 11:25] andikrueger commented on #1096
As I see it @jimbrayDel would introduce a new key-value pair `Role="WebSet1"` or `Role="WebSet2" for every node. With having this information in the configuration file, we would be able to handle the patch process more efficiently, as we would be able to identify the farm servers more easily, that needs to be patched simultaneously.

Using `Role` is ambiguous, as it it conflicts with the MinRoles.

[2019-09-19 12:21] ykuijs commented on #1021
Hi @jensotto Any update on this issue?

[2019-09-19 12:26] ykuijs commented on #990
Since this is a SharePoint related issue, I suggest to close this issue here. We can't do anything to fix the issue in SharePointDsc anyways.

Agree?

[2019-09-19 12:30] ikarstein commented on #990
Yes, I aggree. At that time it was not clear to me whether it was SharePointDsc or the server.

[2019-09-19 12:30] ykuijs commented on #870
@NikCharlebois Does this issue still exists? And what about the question I asked in the previous comment?

[2019-09-19 12:52] ykuijs commented on #562
@NikCharlebois Do you have this work still available somewhere? So I use your work to fix this issue.

[2019-09-19 12:54] NikCharlebois commented on #562
@ykuijs I am afraid I never got to it.

[2019-09-19 14:06] jimbrayDel commented on #1113
Thank You Yorick,
I understand now,  I get it, the URL was key because you must have a specific app to apply the feature to and while reading your email, I got the other point that with multiple URL’s how would DSC report non compliance and be specific with where the problem was.

In my best Yoda,
More ideas I have, Share them I will…. 😊

JB
--
James Bray
D:  615-882-6691 | M: 615-516-1987
--
www.

[2019-09-19 14:09] ykuijs commented on #1113
You are welcome @jimbrayDel Keep the ideas coming!!

[2019-09-19 14:15] jimbrayDel commented on #1096
@andikrueger  Exactly what I was trying to say, I agree with your thought that Role could be confusing, and ServerGroup would work just fine. The Goal I am working on is to have the ZDP be completely automated without any manual intervention required.

[2019-09-19 14:42] Jocorteslopez commented on #1110
Hello Yorick,

Yes absolutely this can be close.

Thanks so much

Jose Manuel Cortes Lopez
Sr Manager Application Development | Tax & Legal, ERS Delivery | Global DAS
Deloitte Touche Tohmatsu
Tel/Direct: +1 312 486 0740  Mobile: +1 312 339 1061
www.deloitte.com

From: Yorick Kuijs <notifications@github.com>
Sent: Thursday, September 19, 2019 5:41 AM
To: PowerShell/SharePointDsc <SharePointDsc@nore

[2019-09-21 17:59] DennisGaida commented on #1111
Same error:

[code]

And I used `Invoke-Command` now instead of `Invoke-SPDscCommand`:
[code]

[2019-09-23 15:31] ronx commented on #1115
@ykuijs I'll try to take a look this week.

[2019-09-24 09:19] #1110 closed

[2019-09-24 14:28] #1052 closed

[2019-09-24 14:28] #1087 closed

[2019-09-24 14:28] #1098 closed

[2019-09-24 14:28] #1099 closed

[2019-09-24 14:28] #1104 closed

[2019-09-24 14:28] #1107 closed

[2019-09-24 14:28] ykuijs commented on #1052
This issue is now fixed in dev and will be released with v3.7

[2019-09-24 14:28] ykuijs commented on #1087
This issue is now fixed in dev and will be released with v3.7

[2019-09-24 14:28] ykuijs commented on #1098
This issue is now fixed in dev and will be released with v3.7

[2019-09-24 14:29] ykuijs commented on #1099
This issue is now fixed in dev and will be released with v3.7

[2019-09-24 14:29] ykuijs commented on #1104
This issue is now fixed in dev and will be released with v3.7

[2019-09-24 14:29] ykuijs commented on #1107
This issue is now fixed in dev and will be released with v3.7

[2019-09-27 13:00] zsolt-illes opened #1117 "SPFarm gives error message when farm is not ready yet"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version of SharePoint that is used (e.g. SharePoint 2016)

#### Version and build of PowerShe

[2019-09-27 13:08] #1117 closed

[2019-09-27 13:08] zsolt-illes commented on #1117
Sorry. Please ignore.

[2019-10-01 14:31] #1102 closed

[2019-10-01 19:31] luigilink commented on #439
The problem still exists on SharePoint 2013:

`COMMENTAIRES : [SPS15DEV01]: LCM:  [ Start  Resource ]  [[SPUserProfileServiceApp]APPLICATI
ON_SpsSvcAppUserProfileServiceApp]
COMMENTAIRES : [SPS15DEV01]: LCM:  [ Start  Test     ]  [[SPUserProfileServiceApp]APPLICATI
ON_SpsSvcAppUserProfileServiceApp]
COMMENTAIRES : [SPS15DEV01]:                            [[SPUserProfileServiceApp]APPLICATI
ON_SpsS

[2019-10-01 19:33] luigilink commented on #1021
The issue still present in SharePoint 2013 for this closed issue:
https://github.com/PowerShell/SharePointDsc/issues/439

See my last comment
Do I add a new issue?

[2019-10-02 15:33] Jocorteslopez opened #1119 "MSFT_SPSearchFileType fail to modify Built-In FileTypes"
The line 230 of this module is trying to remove the file type to push later the new values that the configuration is defining.

This is not possible if the File Type is a Built-In.

**SCENARIO**: We try to rename the Existing File Type "GIF" and this is the code we pretend to execute:
             SPSearchFileType "gif"
             {
                 FileType = "gif"
                 ServiceAppNa

[2019-10-03 15:09] #1115 closed

[2019-10-08 19:37] brianlala opened #1121 "Add support for SQL Authentication (e.g. for Azure SQL Managed Instance as a back-end)"
Currently SharePointDSC only supports Windows Integrated authentication (which has worked fine in the overwhelming majority of cases). However, some customers have expressed an interest in leveraging Azure SQL Managed Instance as a back-end database for SharePoint in Azure IaaS. While SQL Managed Instances are supported by the product, they don't currently support Windows Integrated auth as they a

[2019-10-09 15:13] jimbrayDel opened #1122 "DSC Farm Join does not complete PSConfig wizard tasks"
#### Details of the scenario you tried and the problem that is occurring
          Executing SPFarm Join from the configuration data file
          SPFarm Application
		{
			Passphrase = New-Object System.Management.Automation.PSCredential ('Passphrase', (ConvertTo-SecureString -String $ConfigurationData.NonNodeData.PassPhrase -AsPlainText -Force));
			AdminContentDatabaseName = $ConfigurationData

[2019-10-10 14:24] NikCharlebois commented on #1119
@Jocorteslopez To update the MimeType and description of existing properties, we need to call back into the New-SPEnterpriseSearchFileFormat cmdlet. However, this only works with Non Built-In properties. For built-in properties this will results in the error:

_The processing of files of type 'gif' is already supported by the parsing system._

For example, if you run the following:

`New-SPEnterpr

[2019-10-10 15:39] Jocorteslopez commented on #1119
ok let's close this issue :)

[2019-10-10 15:39] #1119 closed

[2019-10-11 21:07] davidtappan opened #1124 "SPSearchContentSource: Missing CrawlSetting for SharePoint site collections"
#### Details of the scenario you tried and the problem that is occurring

I used SharePointDSC.Reverse to extract the Search content sources from one farm. When I tried to apply these settings to another farm, some of content sources were not created, with the error:  "Only web applications can be specified when a Microsoft SharePoint Server content source is set to crawl web applications".  This

[2019-10-15 14:02] ykuijs commented on #1122
Hi @jimbrayDel It isn't required to use the Config Wizard to join a server to a farm. The SPFarm resource should do this correctly by itself.

This being said, running the Config Wizard after joining the farm should completed successfully, even though it should not do anything. What exactly are you experiencing? Do you have any logging that shows your issue?

[2019-10-15 14:06] ykuijs commented on #1124
We need to extend the schema here to add the CrawlBehavior. Marking this as an Enhancement

[2019-10-15 14:14] jimbrayDel commented on #1122
Hi Yorick,
Yes the farm resource joins the server to the farm, that works. The part that I am confused by is that “after” the server is joined to the farm, if you go run Config Wizard, it starts on step 4 of 8, which seems to me that something is not being completed.   So I attempted to resolve that by calling the config wizard itself after the SPFarm resource, and it seems to just exit without ru

[2019-10-16 12:03] zsolt-illes opened #1125 "MSFT_SPDistributedCacheService: The server <ServerName> was not found in the array for distributed cache servers"
#### Details of the scenario you tried and the problem that is occurring
Provisioning multi-server farm with DSC. Getting the error in the Verbose log section. The server has ApplicationWithSearch role. The .mof file on the affected server(s) do not contain the reference to have the Distributed Cache service provisioned:
instance of MSFT_SPDistributedCacheService as $MSFT_SPDistributedCacheService

[2019-10-23 06:03] ruandersMSFT commented on #1125
Distributed Cache is not part of the services available with the [_ApplicationWithSearch_ MinRole](https://docs.microsoft.com/en-us/sharepoint/administration/description-of-minrole-and-associated-services-in-sharepoint-server-2016).  Ensure the _Distributed Cache_, Front-end with Distributed Cache, _Single-server farm_ or _Custom_ MinRole is utilized for servers where you are looking to run Distri

[2019-10-23 09:26] zsolt-illes commented on #1125
Hi,

I'm not sure I get it. I've been using the ApplicationWithSearch MinRole on a server where the error is thrown. I know it is not supposed to be there. I do not want it to be there, yet the error comes.

Thanks
Zsolt

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: ruandersMSFT <notifications@github.com>
Sent: Wednesday, October 23, 2019 9:03:31 AM
To: Po

[2019-10-26 20:03] ykuijs commented on #1125
Closed via #1128

[2019-10-26 20:03] #1125 closed

[2019-10-26 20:03] ykuijs commented on #1125
Fix will be included in v3.7, to be released next Wednesday (October 30th 2019)

[2019-10-29 14:23] ykuijs commented on #1079
Hi @ThomasLie, are you able to share the GPO so we have the resolution of this issue properly documented>

[2019-10-29 14:54] ThomasLie commented on #1079
Hi Yorick,

I discussed this with my client and I’m not allowed to share any information.

I’m sorry…

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Büroservices GbR
Ilse-Pohl-Strasse 67
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: thomas@lieftuechter.de<mailto:thomas@lieftuechter.de>
Web:  http://www.lieftüchter.de/TL

Diese E-Mail enthält vertra

[2019-10-30 08:16] ykuijs commented on #1124
@ruandersMSFT has just submitted a PR for this issue

[2019-10-30 14:21] ruandersMSFT opened #1134 "SPSearchContentSource: Restrict CrawlSetting / Review All Content Sources"
#### Details of the scenario you tried and the problem that is occurring
Follow up v4.0 **Breaking Change** issues to #1124 / #1131.  Need to deprecate use of Null, CrawlEverything and CrawlFirstOnly as allowable CrawlSetting values for SharePoint Content Sources.  Additionally, consider review across all Content Source Types (which would also lead to breaking changes), as Content Sources as a who

[2019-10-31 09:40] #1124 closed

[2019-10-31 13:02] ykuijs commented on #1015
Implemented via PR #1133 in the v4.0-development branch. Will be included in v4.0.

[2019-10-31 13:02] #1015 closed

[2019-10-31 13:02] ykuijs commented on #1010
Implemented via PR #1133 in the v4.0-development branch. Will be included in v4.0.

[2019-10-31 13:02] #1010 closed

[2019-10-31 13:02] ykuijs commented on #1000
Implemented via PR #1133 in the v4.0-development branch. Will be included in v4.0.

[2019-10-31 13:02] #1000 closed

[2019-10-31 13:09] ykuijs commented on #1079
That is too bad, would really help others in the future. Isn't only sharing the name of the policy and the value with which is breaks an option? Just so someone else in the future is able to check out that policy when running into the same issue.

[2019-10-31 13:13] ThomasLie commented on #1079
Hi Yorick,

going to ask the client on Monday…one of the keywords is CredSSP ;-)

Mit freundlichen Grüßen / Kind regards

Thomas Lieftüchter

Lieftüchter IT Consulting & Büroservices GbR
Ilse-Pohl-Strasse 67
63303 Dreieich - Germany

Fon: +49 171.2625166
Email: thomas@lieftuechter.de<mailto:thomas@lieftuechter.de>
Web:  http://www.lieftüchter.de/TL

Diese E-Mail enthält vertrauliche und/oder recht

[2019-10-31 13:16] ykuijs commented on #990
Closing this issue

[2019-10-31 14:55] ykuijs commented on #1111
I did some testing and it looks like this has something to do with the Script resource and the fact that snap-ins are loaded in a module scope. In this case inside of the module of the Script resource.

I tried to skip the Invoke-Command (when using PsDscRunAsCredential, this is not required since the resource already runs in a user context) cmdlet, but that also doesn't work:
[code]

When doing a

[2019-10-31 14:55] ykuijs commented on #1111
Since the documentation is already updated, I am closing this issue.

[2019-10-31 14:55] #1111 closed

[2019-11-01 07:18] ykuijs commented on #493
The cmdlets needed for this resource would be:

- [New-SPEnterpriseCrawlDatabase](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spenterprisesearchcrawldatabase)
- [Get-SPEnterpriseCrawlDatabase](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/get-spenterprisesearchcrawldatabase)
- [Set-SPEnterpriseCrawlDatabase](https://docs.microsoft.com/en-us/power

[2019-11-05 19:22] ykuijs opened #1135 "SPFarm: Issue with recreation of Central Admin for HTTPS support"
#### Details of the scenario you tried and the problem that is occurring
In issue #1102 / #1114 code was added to recreate the Central Admin web app to support HTTPS:
https://github.com/PowerShell/SharePointDsc/blob/3cca89623ad4fc6de752028c7b0b799d6dfac99f/Modules/SharePointDsc/DSCResources/MSFT_SPFarm/MSFT_SPFarm.psm1#L572-L581

Today I encountered a situation where this resulted in an issue:
The

[2019-11-05 19:38] ykuijs commented on #1096
Hi @kayodebristol

Thanks for sharing your idea. I see one major issue with this idea:
DSC isn't meant for deploying separate configurations for each change. You basically update a configuration with the change you want to implement and DSC goes out and does that change for you. So you specify the state you want the environment to be in.

In your example, you specified two script resource per serv

[2019-11-06 11:02] kayodebristol commented on #1096
@ykuijs
Great explanation, thank you. Totally get it. There might be another way, if one could detect when SPProductUpdate was running... maybe with a mutex?
Nix the UnBlockLoadBalancer script resources and change the BlockLoadBalancer Script resource to something like this:

`Script BlockLoadBalancerWhilePatching{
    SetScript
    {
            Try
            {
                $mutex = [Theadin

[2019-11-06 11:06] andikrueger commented on #1096
Did you have a look at this idea: #1097?

[2019-11-06 11:54] kayodebristol commented on #1096
@andikrueger Yes. #1097 Deals with EnableSideBySide & SideBySideToken.
I handle that with EnableSideBySideFarmWide and SetSideBySideTokenFarmWide Script resources in [SPFarmUpdateZDT Configruation](https://github.com/PowerShell/SharePointDsc/issues/1096#issuecomment-549906844), above.

@ykuijs pointed out that my handling of the loadbalancer (UnBlockLoadBalancer & BlockLoadBalancer script resource

[2019-11-06 12:27] andikrueger commented on #1096
@kayodebristol your input is highly appreciated!

Yes, the networking part is challenging. As @ykuijs pointed out we can’t have to resources within one configuration that do say “do it” and “don’t do it” at the same time.
The same applies to the SideBySidePart.

The easiest solution I can think of (and @ykuijs mentioned above) is to extend the SPProductUpdate Resource with a switch parameter `ZDP`

[2019-11-06 13:21] kayodebristol commented on #1096
@andikrueger

Looks like I missed something. Node should be pulled out of loadbalancer during SPProductUpdate and SPConfigWizard steps. It doesn't matter that SPConfigWizard shuts down services. Dumb loadbalancer will still direct traffic to node until TCP response is blocked.

Think I'm in favor of a separate resource instead of extending existing... I would ideally like the node removed from the

[2019-11-06 14:01] andikrueger commented on #1096
I think, there is a challenge with your approach of a seperate resource. Within the resource that removes the node from load-balancing we would need to know, if this node would need to install any updates. Otherwise this node would block traffic and would need to allow traffic seconds later during a configuration run.

This block and do not block is my main concern. This is similar to https://gith

[2019-11-06 14:44] kayodebristol commented on #1096
@andikrueger I disagree. User gets 404 if server doesn't reply. That's not zero down time.
The blocking firewall rule is used because even the most basic load balancer does a ping (except perhaps DNS load balancing, but you can't help everyone). If the node doesn't ping, it is removed.

SideBySide settings have the specific goal of having users get the same code. It doesn't facilitate zero down ti

[2019-11-06 14:57] andikrueger commented on #1096
You are right about the 404 status code. I'm totally with you in case of ZDP, the user should not be confronted with any 404 or any other error messages. From a users perspektiv: SharePoint should be up an running.

@ykuijs and I had a discussion about this technical debt before and we came to the conclusion, that we would need a basic LB-guidance:

see: https://github.com/PowerShell/SharePointDsc

[2019-11-06 15:35] jimbrayDel commented on #1122
This can be closed, I kept digging into the issue where I always encountered a PSConfig run that still needed steps 5 thru 8 to be completed.  Finally after discussing with Nik C. I realized that the CU updates that had been applied are the issue, These were applied on an image but PSConfig had not been executed to seal them since I was using an vhdx image to provision VM's from.

[2019-11-06 15:35] #1122 closed

[2019-11-06 15:41] jimbrayDel commented on #1096
@kayodebristol  I think what @andikrueger  is referring to for the Load balancer is most intelligent devices today especially BigIP can be configured to check for a static page on IIS and based on the text can remove or add a server to the working pool. In our case we have a html page with a simple up/down that the BigIp reads if the text is "Down" then it removes the server from the pool, and vic

[2019-11-06 15:42] jimbrayDel commented on #1096
Interesting the pasting action removed some text from the function. here it is with the characters escaped
Function F5Status ($status,$WebServ) # used to set Status.HTML for servers to remove from loadbalancing and to add back to load balancing
{
	$line1 = "'<HTML>'"
	$line3 = "'</HTML>'"
	$nwline = "`r`n"
	$content = $line1 + $nwline + $status + $nwline + $line3
	$uncPath = "E$\inetpub\wwwroot"

[2019-11-06 15:45] jimbrayDel commented on #1096
$line1 =  "\ H.T.M.L"
	$line3 = "\</H.T.M.L>'"

anyway if this doesn't work, line 1 and line 3 are the open and closed anchors for H-T-M-L

[2019-11-06 16:04] andikrueger commented on #1096
@jimbrayDel thank you for the example. This is what I was referring to. There are so many appliances that offer these options  to check for status pages or static content.

[2019-11-06 16:35] kayodebristol commented on #1096
@jimbrayDel  In theory, Yes. In practice, not so much.
ADFS authentication sends back a redirect, which even the most advanced load balancers have issues with. A static, anonymous auth site, sure. But now I've got my security guys yelling at me. Maybe Windows auth on the site with a service account on my load balancer. Now one service account can take down my whole farm (deleted, password changed,

[2019-11-06 16:57] jimbrayDel commented on #1096
@kayodebristol  I am not sure I understand about the ADFS, what I was refeering to is removing the server from the load balancer pool. This would eliminate any traffic to the server which would be before any ADFS authentication would even take place. Also on pre-existing users that are already on a server the load balancer should relocate them once you take the server out of the pool.
 That is unl

[2019-11-06 18:14] kayodebristol commented on #1096
@jimbrayDel I get it. Some security Nazis in certain environments will call that unauthenticated content. Crazy, I agree. But some folks even block icmp between servers. Even using authenticated content can be problematic. Blocking all inbound traffic with a firewall rules doesn't work in every case, but it works in most cases, and requires less effort than altering a status.html file, is all.

[2019-11-07 07:24] kayodebristol commented on #1096
Was reminded that Windows Firewall is also disabled in some environments in favor of other 3rd party tools like McAfee. Perhaps we leave load balancing out for the time being and just focus on EnableSideBySide & SideBySideToken? Folks with intelligent load balancers will benefit and folks without will at least have one less manual step.

[2019-11-07 07:37] andikrueger commented on #1096
Good point with 3rd Party tools. That’s why we would need to focus on one scenario. I would still go with Windows Firewall for the time being and make this option optional.

Side by side: YES!

Let me try to provide an experimental PR for ZDP. I have something in mind.

[2019-11-07 11:47] kayodebristol commented on #1096
@andikrueger Awesome! I revised my example configuration ([SPZDPDSCConfig](https://github.com/kayodebristol/SPZDPDSCConfig/blob/master/SPZDPDSCConfig.ps1)). Removed load balancing stuff, and cleaned up a bit to only do the SideBySide stuff on localhost. Maybe it will be useful in some way.

[2019-11-13 10:30] ykuijs opened #1136 "SPManagedMetadataServiceAppDefault: Update resource to allow the configuration of the defaults per Service App Proxy Group"
#### Details of the scenario you tried and the problem that is occurring
A support case for a customer revealed that the default MMS service app setting actually can be configured for one default per Service Application Proxy Group. The current version of the SPManagedMetadataServiceAppDefault resource only allows one default per farm. This resources needs updating to allow the configuration of on

[2019-11-13 15:22] andikrueger commented on #1136
Good catch. Totally missed this scenario in the initial implementation of the resource.

[2019-11-13 16:22] VerdonTrigance opened #1138 "SPFarmSolution install under service account without localLogonAllowed permission"
Hi guys.
Many time passed since MSFT_SPFarmSolution.psm1 has been released, but I didn't see possibility to install wsp under service account without localLogonAllowed permission. If I skip PsDscRunAsCredential or InstallAccount it fail with

  `You need to specify a value for either InstallAccount or PsDscRunAsCredential`

If I pass PsDscRunAsCredential it fail with something like

In that way I

[2019-11-13 17:58] ykuijs commented on #1138
Hi @VerdonTrigance Unfortunately we cannot implement your suggestion because SharePoint doesn't allow PowerShell commands to be run under the system account. The system account of a SharePoint server doesn't have any permissions to connect to a database on a SQL server.

However, both the InstallAccount and PsDscRunAsCredential parameters should work. What permissions does the account you are usin

[2019-11-13 20:19] VerdonTrigance commented on #1138
As I told previously my account can not login into system because of "Allow log on locally" equals false. And this leads to fail during execution.

[2019-11-14 14:34] ykuijs commented on #1136
Closed via PR #1137

[2019-11-14 14:34] #1136 closed

[2019-11-14 14:43] ykuijs commented on #1138
Have you tried the InstallAccount option instead of PsDscRunAsCredential? So:
[code]
**NOTE:** The InstallAccount method is a little slower than the PsDscRunAsCredential, but might work in your case.
**NOTE2:** This solution requires [CredSSP to be configured](https://github.com/PowerShell/SharePointDsc/wiki/Remote-sessions-and-the-InstallAccount-variable), but is using a remote session to itself

[2019-11-15 07:47] ykuijs commented on #1079
Issue has been resolved, closing this issue. @ThomasLie if you are able to share the name of the policy and the value you had to configure to get it to work, please add this to the issue.

[2019-11-15 07:47] #1079 closed

[2019-11-15 08:55] VerdonTrigance commented on #1138
I have tried it and it works. I was confused with description:

`[Write, Description("POWERSHELL 4 ONLY: The account to run this resource as, use PsDscRunAsCredential if using PowerShell 5"), EmbeddedInstance("MSFT_Credential")] String InstallAccount;`

As solution for this may be you add some words about this case in https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCRe

[2019-11-15 12:45] ykuijs commented on #1093
Hi @Yvand I prefer implementing the workaround option you describe, the reason being the fact that we would like to only when the values that have been specified in the DSC config. If a user doesn't specify a parameter, they must have a reason for that: Most probably because they do not care about the value of that parameter, they allow it to be configured outside of DSC. By updating this method,

[2019-11-15 12:47] ykuijs commented on #1075
Closing this issue due to inactivity. Please reopen when still relevant and provide more information.

[2019-11-15 13:24] ykuijs commented on #1039
Hi @shurick81 Is this issue still present/relevant?

[2019-11-15 13:28] ykuijs commented on #1138
This parameter is required if you use PSv4, but of course still works in PSv5. However since PsDscRunAsCredential was introduced in PSv5, which is much more performant and doesn't require the use of CredSSP, we recommend to use that instead of the InstallAccount.

This is however not specific to SPFarmSolution, but applies to all resources. So adding it to the Readme for SPFarmSolution doesn't mak

[2019-11-15 16:04] VerdonTrigance commented on #1138
Ok. Thank you. You may link this issue as a reason for changing documentation.

[2019-11-15 16:04] #1138 closed

[2019-11-17 12:27] shurick81 commented on #1039
Hi, well, because of that issue we don't run tests of configuration, so it's a bit inconvenient still

[2019-11-19 03:38] aniket25 opened #1139 "SPWebAppSuiteBar: Resource not working with SP2019, add notifications to the resource"
ISSUE TITLE:
    SPWebAppSuiteBar is not working with 2019.

ISSUE DESCRIPTION (this template):
    When I ran this module for SP 201 it is working as expectd but when run on 2019 it is not able to make changes as required.
I look in few forums and it has been confirmed this is not supported in 2019 version as "SharePoint" text is hard coded and even CSS is only able to work on classic pages and n

[2019-11-19 15:44] ykuijs commented on #1039
@shurick81 Ok, can you then please check the following:
1.) Change the web application authentication manually and then rerun just the SPSite resource (check if this is caused by SPWebAppAuthentication)
2.) Try to run the New-SPSite cmdlet manually (check if this is caused by SPSite):
[code]

[2019-11-19 15:45] ykuijs commented on #1039
And have you checked the SharePoint ULS log? Does that give any more information about this issue?

[2019-11-19 15:48] ykuijs commented on #1139
Hi @aniket25 Do you have the links to the forum posts you are referring to? And do you get any error messages or does the resource work correctly but the change doesn't have any effect on SharePoint?

[2019-11-19 16:05] ykuijs opened #1140 "SPUserProfileServiceApp: Add ability to correct issue with incorrectly linked proxy groups"
#### Details of the scenario you tried and the problem that is occurring
A support case for a customer revealed that the UP service verifies an obsolete property which is not updated correctly. This can result in issues with the User Profile page:

"We’ve investigated it and found that when the User Profile service is looking up the proxy groups to find the correct MMS, it doesn’t follow what you

[2019-11-27 09:34] shurick81 commented on #1053
after usage of the workaround above for some time, I encountered an issue, exception when endpoint contains more than one signing certificate. The only way to fix it was using Script resource:
[code]

[2019-12-11 10:14] SvenLauterbach commented on #663
I ran the SQLServerDSC under a different account than the SharePointDSC resource, still getting the same error.

[2019-12-16 13:22] xenophobentx opened #1143 "Chinese Simplified / Traditional always return absent for get-targetresource at SPInstallLanguagePack"
In the switch statement we might have incorrect strings, where we are matching the registry parsed products with the binary that the resource tries to check.

The reg product info returning the following strings:

$englishProducts:
Arabic
German
Spanish
French
Japanese
Korean
Portuguese (Brasil)
Russian
Thai
**Chinese (Simplified)
Chinese (Traditional**

For SharePoint 2019 the LP binaries on serv

[2020-01-16 10:33] ykuijs opened #1152 "SPConfigWizard: Resource won't run if just a language pack has been installed."
#### Details of the scenario you tried and the problem that is occurring
Since v3.7 the Config Wizard resource won't run anymore if just a language pack has been installed. This was caused by the updated server patch status check. This logic only checks for the patch status and does not take an LP installation into account.

#### Verbose logs showing the problem
"verbose", "message": "[SERVER]:  [

[2020-01-16 10:34] ykuijs commented on #1152
Already implemented a fix.

[2020-01-16 14:13] ykuijs commented on #1143
Hi @xenophobentx, just tested both language packs and the code runs just fine. Which version of SharePointDsc are you using?

What is the output of the following script:
[code]

[2020-01-16 14:14] ykuijs commented on #1139
@aniket25 Do you have an update for me?

[2020-01-17 10:36] #1135 closed

[2020-01-17 10:36] #1140 closed

[2020-01-17 10:36] #1152 closed

[2020-01-20 17:21] ruandersMSFT commented on #1139
Yorick,

Here's what I'm seeing on [StackExchange - Edit Suite Bar Links in SharePoint 2019](https://sharepoint.stackexchange.com/questions/255157/edit-suite-bar-links-in-sharepoint-2019):

Possibly related to SuiteNavBrandingText changing from "SharePoint" to another value:  "I have the PowerShell solution and I have been able to change everything except the Name."

Russell

[2020-01-27 11:37] xenophobentx commented on #1143
Hello @ykuijs  we can reproduce with booth 3.4, 3.5, 3,7

Please find the output below:

Language Pack for SharePoint and Project Server 2019 - Arabic العربية
Language Pack for SharePoint and Project Server 2019 - German/Deutsch
Language Pack for SharePoint and Project Server 2019 - Spanish/Español
Language Pack for SharePoint and Project Server 2019 - French/Français
Language Pack for SharePoint

[2020-01-29 15:44] VerdonTrigance opened #1157 "MSFT_SPContentDatabase: Checking existing database always throw exception"
#### Details of the scenario you tried and the problem that is occurring

Repo step:
1. Create new content database passing only name and webapplication
2. Ensure database is created
3. Run same script again
4. Get exception:
`Specified database server does not match the actual database server. This resource cannot move the database to a different SQL instance.`

#### Verbose logs showing the prob

[2020-01-29 19:21] ruandersMSFT commented on #1157
@VerdonTrigance The code is comparing the existing Database Server value against an empty value since you are not passing that value; thus, it determines that the database server does not match.  You should ensure you are using the _DatabaseServer_ parameter as part of _SPContentDatabase_ so that comparison of desired state vs current state can be determined as matching.

[2020-01-29 19:48] VerdonTrigance commented on #1157
@ruandersMSFT This behavior is illogical. As I mentioned before same script should be idempotent, but we have opposite situation!
Script should check state of database with given name in current server if parameter has not been passed explicitly.
Current situation can not be called idempotent what ruins core DSC principles.

[2020-01-30 08:38] ruandersMSFT commented on #1157
Perhaps @ykuijs can weight in.  Based on the design intent of the SPContentDatabase Module, the DatabaseServer parameter is required given the value comparison to check for condition in which attempt to move a database is occurring (raising error that this operation is not supported by the module).  Given this previous design intent of the module, the parameter must be supplied for validation.

[2020-02-03 21:56] bminisi opened #1159 "SPProductUpdate: Not installing SharePoint 2013 SP1"
Adding SPProductUpdate after install binaries, CU and creating the farm, SPProductUpdate is being used to install SP1.  It shows in the DSC log that it succeeded, but it never actually gets installed.  SPConfigWizard is run after the SP1 resource.  SP1 is the normal .exe install file.  The Upgrade Status page does not even show that it was attempted.

The below resource runs in 2 minutes.  Running

[2020-02-04 15:23] ykuijs commented on #1157
We should not make the database server parameter mandatory, because of the fact that if you don't specify a database parameter in New-SPContentDatabase, the database is automatically created on the default database server.

On the other side, we also should not check against the default database server, because it is possible that the default database server is changed after creating the database.

[2020-02-04 15:30] xenophobentx opened #1160 "SPSearchIndexPartition Rootfolder documentation"
I think the documentation should emphasize for that resource that you should create a different index folder for each index partition even if they are not hosted on the same servers otherwise the provisioning is failing with message that the directory is not empty.

[2020-02-04 22:53] ruandersMSFT opened #1161 "SPWebAppAuthentication: Cannot pass $null or @() to Zone Parameter(s) not used in Web App"
![SharePointDSCWebAppAuthentication](https://user-images.githubusercontent.com/16927960/73794833-7dbd0f80-4766-11ea-8b6f-96474bbccf60.png)
#### Details of the scenario you tried and the problem that is occurring

Cannot pass $null or @() Empty Array to the various zone parameters as part of SPWebAppAuthentication, which in turn requires the DSC Code to be expanded and potentially called up to 5 ti

[2020-02-04 23:53] ruandersMSFT commented on #1161
I had closed the issue thinking I would just call multiple times (once per zone needed); however, that identified "A conflict was detected between resources / Resource have identical key properties".  Thus, I will need to pursue a fix to allow passing for Zones not utilizes since calling the module multiple times is not supported per identical key constrains.

<img width="1282" alt="2" src="https:

[2020-02-10 02:53] ruandersMSFT opened #1162 "SPExcelServiceApp - Add Deprecation details to Documentation"
The documentation for SPExcelServiceApp should be updated to include the following notation, as implemented in the SharePointDsc and output from the DSC execution:

Only SharePoint 2013 is
supported to deploy Excel Services service applications via DSC, as SharePoint 2016 and SharePoint 2019 are deprecated this service. See
https://technet.microsoft.com/en-us/library/mt346112(v=office.16).aspx for

[2020-02-11 01:21] #1162 closed

[2020-02-11 10:36] ThomasLie opened #1164 "MSFT_SPUserProfileProperty - Added property, fixed bug"
Hi there,

found a bug in MSFT_SPUserProfileProperty.psm1 (module version 3.7.0.0), line 891:

`return Test-SPDscParameterState -CurrentValues $CurrentValues `
            -DesiredValues $PSBoundParameters `
            -ValuesToCheck @("Name",
            "DisplayName",
            "Type",
            "Description",
            "PolicySetting",
            "PrivacySetting",
            "PropertyM

[2020-02-12 01:11] ruandersMSFT opened #1165 "SPUserProfileSyncService - FarmAccount"
The FarmAccount parameter of [SPUserProfileSyncService ](https://github.com/dsccommunity/SharePointDsc/wiki/SPUserProfileSyncService)is documented as "PARAMETER IS NOT USED ANYMORE, WILL BE REMOVED IN V3.0"; however, the parameter still exists.  Recommend completing parameter removal for v4.0 release.

[2020-02-15 16:22] ruandersMSFT opened #1167 "SPSearchAuthoritativePage - Demoted Site Already Exists"
#### Details of the scenario you tried and the problem that is occurring

Running SPSearchAuthoritativePage with Action = 'Authoratative' works fine.  Running with Action = 'Demoted' works fine the first time, but subsequent runs fail with message that the Demoted Site already exists.

#### Verbose logs showing the problem

![image](https://user-images.githubusercontent.com/16927960/74591303-1445c

[2020-02-17 15:53] vshupak opened #1168 "Unable to select Category of Search Property"
#### Details of the scenario you tried and the problem that is occurring
SPSearchManagedProperty: Unable to select category
#### Verbose logs showing the problem

#### Suggested solution to the issue
Update DSC resource with a property with available Search Property Categories.
Documentation:
https://docs.microsoft.com/en-us/sharepoint/search/search-schema-overview

#### The DSC configuration that

[2020-02-17 20:01] ruandersMSFT opened #1169 "SPInstallPrereqs: SQLNCli Required in 2019"
Installation of the SP Pre Requisites in offline mode for SharePoint 2019 throws error indicating that SQLNCli is required:

![image](https://user-images.githubusercontent.com/16927960/74683098-14d19080-5185-11ea-9101-b3008115a547.png)

The current [SPInstallPrereqs Documentation](https://github.com/dsccommunity/SharePointDsc/wiki/SPInstallPrereqs) states that this parameter is for 2013 and 2016 o

[2020-02-17 20:11] ruandersMSFT commented on #1169
Based on code review of mode SPInstallPrereqs, the following Offline Install parameters are required for SharePoint 2019 but are not reflected in the documentation as needed for 2019:

SQLNCli, Sync, AppFabric, IDFX11, MSIPCClient, WCFDataServices56, MSVCRT11, KB3092423

Current SPInstallPrereqs Code:

![image](https://user-images.githubusercontent.com/16927960/74683690-f9678500-5186-11ea-9143-d54

[2020-02-17 20:19] #1169 closed

[2020-02-17 20:37] ruandersMSFT commented on #1165
![image](https://user-images.githubusercontent.com/16927960/74685027-911aa280-518a-11ea-9410-205666157121.png)

[2020-02-17 20:37] ruandersMSFT commented on #1165
![image](https://user-images.githubusercontent.com/16927960/74685048-a099eb80-518a-11ea-8927-476035b92038.png)

[2020-02-18 03:02] ruandersMSFT commented on #1157
Tested and verified with both creating on new SPContentDatabase and re-run against an existing SPContentDatabase.

[2020-02-18 08:06] EtsHere opened #1171 "Unable to edit SPSite Description"
After creating SPSite with or without Description. Works and Description is set.
Edit description. Rerun script.
Description remains the same.

[2020-02-18 19:10] ykuijs commented on #1171
This is by design. The Description is the description of the root web, which is a property that is editable by site collection owners. This means that if a SC owner changes the description, the SPSite resource becomes in-compliant.

When the LCM has been configured as "ApplyAndAutocorrect", this can result in a battle between the SC owner and DSC, changing the description back and forth.

That is

[2020-02-18 19:10] #1171 closed

[2020-02-18 19:18] ykuijs commented on #1164
Good spot and great addition. Would it be possible to submit a PR with these changes?

[2020-02-18 19:43] ykuijs commented on #1161
Hi @ruandersMSFT, if I understand you correctly you suggest that when Null is specified that specific zone is ignore. Correct?

[2020-02-18 19:44] ykuijs commented on #1160
Good point. Will update the documentation

[2020-02-18 19:47] ykuijs commented on #1159
Hi @bminisi, there has been a major refactor of this resource in v3.x. Could you please update to v3.7 (the most recent version) and try again? My guess is that this will work much better.

[2020-02-18 19:48] ykuijs commented on #1159
This update was in v3.3: https://techcommunity.microsoft.com/t5/sharepointdsc/new-release-a-new-month-time-for-sharepointdsc-v3-3/ba-p/393586