[2015-04-28 23:59] BrianFarnhill opened #10 "Timeout error reported to LCM logs in xSPDistributedCache resource"
When running the xSPDistributedCache resource in a farm that has more than 1 server running the xSPDistributedCache resource, the following timeout error is seen in the logs from the DSC LCM

    Error occurred while performing the operation on host [HostName1]:22233 : ErrorCode<ERRCAdmin003>:SubStatus<ES0001>:Time-out occurred on net.tcp://[HostName1]:22233.

Note: The name of the server in the a

[2015-05-06 01:57] BrianFarnhill opened #18 "Extracting functions to enable unit testing"
Currently we are unable to perform automated unit testing of the xSharePoint modules as the machine that will run the tests needs to have the SharePoint binaries installed on it (so the Microsoft.SharePoint.PowerShell snapin is available locally). Since we can't install the binaries on each machine that will run the tests (such as the AppVeyor CI servers for example) we can't write tests using Pes

[2015-05-06 14:07] whozDougie commented on #18
Such a simple concept! Would love to see this in action say a video demo!

[2015-05-06 23:11] anlynes commented on #18
Seems like a fair idea to me. Mocking has been a "thing" for ages and is not an onerous activity when compared to the benefits.

[2015-05-07 05:11] BrianFarnhill opened #19 "xSPDiagnosticLoggingSettings sets DaysToKeepLogs to 1"
In v 0.2.0.76 the xSPDiagnosticLoggingSettings resource treats the DaysToKeepLogs property as a boolean, meaning the number will always return as 1 (when it converts the number to a boolean and back this is the result). This means if you include the property the value will always be set to 1, and will then subsequently fail the next time it gets tested (unless you set the value to 1 on purpose), c

[2015-05-08 06:47] BrianFarnhill commented on #19
This issue was fixed in the dev branch by pull request #20 and will be released in the next version.

[2015-05-08 06:47] #19 closed

[2015-05-14 07:05] prajeeshprathap commented on #18
@BrianFarnhill  I've used FluentShellUnit to create a stub for SPWebApplication in my scripts. http://blogsprajeesh.blogspot.nl/2015/02/fluentshellunit-create-stub-from-script.html

If you want to write the unit tests using MSTest and want to test the scripts, then you can use the FluentShellUnit project from GitHub or from the nuget server

[2015-05-14 09:38] BrianFarnhill commented on #18
@prajeeshprathap - love the idea, is there any way we could achieve this in something purely PowerShell based that we could work in to Pester? We need to line up with all of the other DSC Resources that execute tests in PowerShell with Pester, do you think we could adapt that C# in to script?

[2015-05-18 04:40] prajeeshprathap commented on #18
@BrianFarnhill You can do the same with PowerShell as well. The idea is to create a proxy function for the SharePoint cmdlets after the context is loaded and then whenever you make a call to the actual cmdlets, the proxies will be executed.

http://blogs.technet.com/b/heyscriptingguy/archive/2011/03/01/proxy-functions-spice-up-your-powershell-core-cmdlets.aspx

[2015-06-22 09:40] BrianFarnhill opened #22 "Add xSPWebAppPolicy resource"
The xSPWebAppPolicy defines a specific policy to create against a web application. It should be structured as follows:

xSPWebAppPolicy AdminFullControlPolicy
{
    Zones = "*"
    User = "CONTOSO\SharePoint Administrators"
    Permissions = "Full Control"
    OperateAsSystem = $false
}

The Zones option here should use * to indicate that this is for all zones, otherwise an enum style value for th

[2015-06-22 09:42] BrianFarnhill opened #23 "Add xSPDesignerSettings resource"
The xSPDesignerSettings resource will configure SharePoint Designer Settings for the farm or a specific site collection. It should be structured as follows:

xSPDesignerSettings MainWebAppSPDSettings
{
    Url = "https://intranet.sharepoint.contoso.com"
    Scope = "WebApplication"
    EnableSPD = $false
    AllowDetachPages = $false
    EnableMasterPageCustomise = $false
    EnableHiddenFolderStr

[2015-06-22 09:43] BrianFarnhill opened #24 "Add xSPSubscriptionSettingsServiceApp resource"
The xSPSubscriptionSettingsService resource is used to create a new subscription settings service application and proxy. It will be structured as follows:

xSPSubscriptionSettingsServiceApp SubscriptionSettingsServiceApp
{
    Name = "Subscription Settings Service Application"
    AppPool = "SharePoint web services"
    DatabaseServer = "SQL01.contoso.com"
    DatabaseName = "SP_ManagedMetadata"
}

[2015-06-22 09:45] BrianFarnhill opened #25 "Add xSPWorkManagementServiceApp resource"
The xSPWorkManagementServiceApp resource will provision the work management service application. It should be structured as per below:

xSPWorkManagementServiceApp WorkManagementServiceApp
{
    Name = "Work Management Service Application"
    Ensure = "Present"
    AppPool = "SharePoint Web Services"
}

This cmdlet should also create/remove a proxy object as well as the main service app.

[2015-06-22 09:45] BrianFarnhill opened #26 "Add xSPWordAutomationServiceApp resource"
The xSPWordAutomationServiceApp resource is used to provision an instance of the word automation services service app. It should be structured as follows:

xSPWordAutomationServiceApp WordAutomationService
{
    Name = "Word Automation Services Service App"
    Ensure = "Present"
    AppPool = "SharePoint Web Services"
}

[2015-06-22 09:46] BrianFarnhill opened #27 "Add xSPVisioServiceApp resource"
The xSPVisioServiceApp resource will be sued to provision a new Visio services service application. It should be structured as per below.

xSPVisioServiceApp VisioServices
{
    Name = "Visio Services Service Application"
    Ensure = "Present"
    AppPool = "SharePoint Web Services"
}

[2015-06-22 09:47] BrianFarnhill opened #28 "Add xSPSearchContentSource resource"
The xSPSearchContentSource resource is used to define a content source for a specific enterprise search application. It should be structured as follows:

xSPSearchContentSource LocalIntranet
{
    Name = "Local Intranet"
    Ensure = "Present"
    ServiceAppName = "Enterprise Search Service Application"
    StartAddresses = "https://intranet.sharepoint.contoso.com"
    CrawlEverythingAtAddress = $

[2015-06-22 09:47] BrianFarnhill opened #29 "Add xSPSearchCrawlRule resource"
The xSPSearchCrawlRule resource is used to set a crawl rule against the specified search service app. It should be structured as follows:

xSPSearchCrawlRule IntranetCrawlAccount
{
    Path = "https://intranet.sharepoint.contoso.com"
    ServiceAppName = "Enterprise Search Service Application"
    Ensure = "Present"
    CrawlConfiguration = "Include"
    CrawlConfigurationRules = "FollowLinksNoPag

[2015-06-22 09:48] BrianFarnhill opened #30 "Add xSPSearchFileType resource"
The xSPSearchFileType resource will register a new file type with the search service app (or remove it). It should be structured as follows:

 xSPSearchFileType PdfSearchCrawl
{
    ServiceAppName = "Enterprise Search Service Application"
    Name = "PDF"
    Ensure = "Present"
}

[2015-06-22 09:49] BrianFarnhill opened #31 "Add xSPSearchCrawlerImpactRule resource"
The xSPSearchCrawlerImpactRule resource will add a crawler impact rule to the specified service application.

xSPSearchCrawlerImpactRule ThrottleIntranetCrawl
{
    ServiceAppName = "Enterprise Search Service Application"
    Site = "https://intranet.sharepoint.contoso.com"
    RequestLimit = "8"
}

This rule also needs to accommodate the wait time between requests option for an impact rule as wel

[2015-06-22 09:50] BrianFarnhill opened #32 "Add xSPSearchAuthoratativePages resource"
The xSPSearchAuthoratativePages resource is used to define the authoritative sites in the search service app. It should be structured as per the below example:

xSPSearchAuthoratativePages SetAuthoratativePages
{
    ServiceAppName = "Enterprise Search Service Application"
    FirstLevel = "https://intranet.sharepoint.contoso.coim"
    SecondLevel = ""
    ThirdLevel = ""
    DemoteSites = ""
}

[2015-06-22 09:51] BrianFarnhill opened #33 "Add xSPSearchManagedProperty resource"
The xSPSearchManagedProperty resource is used to define managed properties in the search service application. This should be structured as per the below:

xSPSearchManagedProperty MyCustomSearchProperty
{
    ServiceAppName = "Enterprise Search Service Application"
    Ensure = "Present"
    Name = "MyProperty"
    PropertyType = "Text"
    Searchable = $true
    Queryable = $true
    Retrievable

[2015-06-22 09:52] BrianFarnhill opened #34 "Add xSPAppManagementServiceApp resource"
The xSPAppManagementServiceApp resource is used to create a new app management service application and proxy. It will be structured as follows:

xSPAppManagementServiceApp AppManagementServiceApp
{
    Name = "App Management Service Application"
    AppPool = "SharePoint web services"
    DatabaseServer = "SQL01.contoso.com"
    DatabaseName = "SP_ManagedMetadata"
}

[2015-06-22 09:53] BrianFarnhill opened #35 "Add xSPSecureStoreApplication resource"
The xSPSecureStoreApplication resource is used to create entries in the secure store service application. It should be structured as follows:

xSPSecureStoreApplication MySecureAccount
{
    SecureStoreServiceApp = "Secure Store Service Application"
    Ensure = "Present"
    Name = "MySecureCredential"
    DisplayName = "My secure credential"
    ContactEmail = "someone@contoso.com"
    TartgetAp

[2015-06-22 09:54] BrianFarnhill opened #36 "Add xSPMachineTranslationServiceApp resource"
The xSPMachineTranslationServiceApp resource is used to provision the machine translation service app. It should be structured as follows:

xSPMachineTranslationServiceApp MachineTranslation
{
    Name = "Machine Translation Service Application"
    Ensure = "Present"
    DatabaseName = "SP_MachineTranslation"
    DatabaseServer = "SQL01.contoso.com"
    AppPool = "SharePoint Web Services"
    Par

[2015-06-22 09:55] BrianFarnhill opened #37 "Add xSPBCSModel resource"
The xSPBCSModel resource will be used to import a specific BCS model to the farm and ensure it is always present. It should be structured as follows:

xSPBCSModel HRAppModel
{
    Name = "HR Application"
    Ensure = "Present"
    ModelFile = "C:\bcsmodels\hr.bcdm"
    FileType = "Model"
}

[2015-06-22 09:55] BrianFarnhill opened #38 "Add xSPUserProfileSyncConnection resource"
The xSPUserProfileSyncConnection resource defines a specific connection that should be defined in the user profile service application specified on the farm. This maps to the Add-SPProfileSyncConnection cmdlet and should surface all of its options. It should be structured as follows:

xSPUserProfileSyncConnection MainDomain
{
    UserProfileService = "User Profile Service Application"
    Connecti

[2015-06-22 09:56] BrianFarnhill opened #39 "Add xSPUserProfileProperty resource"
The xSPUserProfileProperty resource is used to create/update user profile properties, specifying what is editable as well as sync details. It should be structured as per the below example:

xSPUserProfileProperty WorkEmailProperty
{
    Name = "WorkEmail"
    DisplayName = "Work Email"
    Type = "Email"
    Description = ""
    PolicySetting = "Required"
    PrivacySetting = "Everyone"
    AllowU

[2015-06-22 09:56] BrianFarnhill opened #40 "Add xSPWebAppExtension resource"
The xSPWebAppExtension resource is used to create an extension of a SharePoint web application. It should be structured as follows:

xSPWebAppExtension PublicSiteExtension
{
    WebAppUrl = "https://www.sharepoint.contoso.com"
    ApplicationPool = "SharePoint Sites"
    ApplicationPoolAccount = "CONTOSO\svcSPWebAppPool"
    AllowAnonymous = $false
    AuthenticationMethod = "NTLM"
    HostHeader

[2015-06-22 09:58] BrianFarnhill opened #41 "Extend xSPWebApplication resource to include "general settings""
Extend the xSPWebAppliation resource top include the follow settings (seen in central admin under the "general settings" dialog)

 - TimeZone
 - Default Quota Template
 - Alerts (on/off and limit)
 - RSS
 - Blog API
 - Browser File Handling
 - Security Validation
 - Recycle bin settings
 - Maximum upload size
 - Customer experience program
 - Usage cookie

[2015-06-22 09:59] BrianFarnhill opened #42 "Extend xSPWebApplication resource to include "resource throttling""
Extend the cSPWebAppliation resource top include the follow settings (seen in central admin under the "resource throttling" dialog)

 - List view threshold
 - Allow object model override
 - Admin threshold
 - List view lookup threshold
 - Daily time window for large queries
 - Unique permission threshold
 - HTTP request throttling
 - Change log details

[2015-06-22 10:00] BrianFarnhill opened #43 "Extend xSPWebApplication resource to include "workflow settings""
Extend the xSPWebAppliation resource top include the follow settings (seen in central admin under the "workflow settings" dialog)

 - Enable user defined workflows
 - Allow internal users with no site access to get tasks
 - Allow external users to get tasks with a copy of the document

[2015-06-22 10:00] BrianFarnhill opened #44 "Add xSPAlternateAccessMappings resource"
The xSPAlternateAccessMappings resource will allow the management of the alternate access mappings that are applied to a specific web application. The structure should be as per below:

xSPAlternateAccessMappings MainWebAppAAMs
{
    WebApplicationUrl = "https://sharepoint.contoso.com"
    DefaultUrl = "https://sharepoint.contoso.com"
    IntranetUrl = ""
    InternetUrl = ""
    CustomUrl = ""

[2015-06-22 10:01] BrianFarnhill opened #45 "Add xSPBlobCacheSettings resource"
The xSPBlobCacheSettings resource will allow for configuration of the blob cache on the current server (through manipulating the web.config file). It should be structured as follows:

    xSPBlobCacheSettings BlobCacheSettings
    {
        WebApplication = "SharePoint Sites"
        Zone = "Default"
        EnableCache = $true
        Location = "F:\BlobCache"
        MaxSize = 10
        FileTyp

[2015-06-22 10:02] BrianFarnhill opened #46 "Add xSPAppCatalog resource"
The xSPAppCatalog resource will allow setting of the app catalog site collection for a given web application. It should be structured as follows:

xSPAppCatalog MainAppCatalog
{
    WebApp = "https://content.sharepoint.contoso.com"
    AppCatalogUrl = "https://appstore.sharepoint.contoso.com"
}

[2015-06-22 10:02] BrianFarnhill opened #47 "Add xSPAppUrls resource"
The xSPAppUrls resource will be used to set the app urls that will be used for the farm. It should be structured as follows:

xSPAppUrls AppUrls
{
    AppDomain = "contosointranetapps.com"
    AppPrefix = "app"
}

[2015-06-22 10:03] BrianFarnhill opened #48 "Add xSPOutgoingEmailSettings resource"
The xSPOutgoingEmailSettings  is responsible for setting outgoing email settings to either the whole form, or a specific web application. It should be structured as below:

xSPOutgoingEmailSettings MainWebAppOutgoingEmailSettings
{
    WebAppUrl = "https://sharepoint.contoso.com"
    SMTPServer = "mail.contoso.com"
    FromAddress = "noreply@sharepoint.contoso.com""
    ReplyToAddress = "noreply@s

[2015-06-22 10:05] BrianFarnhill opened #49 "Add xSPHealthAnalyzerRuleState resource"
The xSPHealthAnalyzerRuleState resource will be used to set the status of a specific health analyser rule for the farm in the central administration site (to ensure that a specific rule is either enabled/disabled and if it is set to fix automaticaly or not). It will be represented as below:

xSPHealthAnalyzerRuleState DisableDiskSpaceRule
{
    Name = "Drives are at risk of running out of free spa

[2015-07-06 14:37] NikCharlebois opened #50 "PowerShell prerequisite"
Hi guys,

What about making the /PowerShell param optional for the offline prerequisites installer. Most installations nowadays will be done on Windows Server 2012 or R2, so it seems overkill to have it mandatory.

[2015-07-06 22:57] BrianFarnhill commented on #50
Hi Nik - as part of the DSC resources we just have to follow what the prerequisite installer does, and since it needs to support 2008 R2 then it has to have that option in there. In future versions of the product that don't need to support those operating systems we are likely to see that drop off and change, but for now there isn't much we can do with it.

[2015-07-06 22:57] #50 closed

[2015-07-09 18:19] NikCharlebois opened #51 "Session is Broken"
Hi guys, the problem is most likely on my end, but using the singlefarm example you provided, I keep getting the following error:

This event indicates that a non-terminating error was thrown when DSCEngine was executing Set-TargetResource on MSFT_xSPCreateFarm DSC resource. FullyQualifiedErrorId is InvalidSessionState,localhost. Error Message is Cannot invoke the pipeline because the runspace is

[2015-07-09 22:26] BrianFarnhill commented on #51
The clear remote sessions object is just used to ensure no existing remote sessions are interfering with the script. The error you are getting is insite of your xSPCreateFarm object, so it is nothing to do with the remote sessions one. Can you post your config file in full for me to look at?

[2015-07-09 22:32] NikCharlebois commented on #51
Thanks Brian, here it is

Configuration SharePointServer
{
    param (
        [Parameter(Mandatory=$true)] [ValidateNotNullorEmpty()]
        [PSCredential] $FarmAccount,

        [Parameter(Mandatory=$true)]
        [String[]] $NodeGUID
    )

    Import-DscResource -ModuleName xSharePoint
    Import-DscResource -ModuleName xWebAdministration
    Import-DscResource -ModuleName xCredSSP
    Impor

[2015-07-09 22:33] NikCharlebois commented on #51
Thanks Brian, here it is :
Configuration SharePointServer
{
    param (
        [Parameter(Mandatory=$true)] [ValidateNotNullorEmpty()]
        [PSCredential] $FarmAccount,

        [Parameter(Mandatory=$true)]
        [String[]] $NodeGUID
    )

    Import-DscResource -ModuleName xSharePoint
    Import-DscResource -ModuleName xWebAdministration
    Import-DscResource -ModuleName xCredSSP
    Impo

[2015-07-09 23:52] NikCharlebois commented on #51
I should have mentioned that I am using a DSC Pull Server to do the installation. Also, what is the rational fro having all set-target methods use Invoke-Command starting in xSPCreateFarm? Why not make the calls local? Because of the impersonnification?

[2015-07-09 23:57] BrianFarnhill commented on #51
Yea its because we need to run the calls as a specific domain account that will have access to the databases. In regards to your setup, I think the issue is with your CredSSP configuration. You need to use FQDNs there and each machine needs to have itself listed as a delegate (as that is what we do, we open a 'remote' session to the local host as another user). So where you specify

    DelegateCo

[2015-07-10 00:49] NikCharlebois commented on #51
Unfortunately, even if I use the FQDN is complains about my session being broken

[2015-07-10 18:14] NikCharlebois commented on #51
So to add to the confusion, the Error is thrown on the first "Invoke-Command" Line of the xSPCreateFarm resource:

Invoke-Command -Session $session -ArgumentList $PSBoundParameters -ScriptBlock {
        $params = $args[0]
        New-SPConfigurationDatabase -DatabaseName $params.FarmConfigDatabaseName `
                                    -DatabaseServer $params.DatabaseServer `

[2015-07-11 05:50] BrianFarnhill commented on #51
OK I now have an environment that is replicating your issue. Leave it with me to troubleshoot on my end as well. I'll let you know how it goes

[2015-07-11 15:05] BrianFarnhill commented on #51
Nik are you able to let me know a couple of things here?

 - Are you running this with PowerShell 4 or 5?
 - Are you running this one Azure virtual machines (specifically with the DSC VM extension)?

[2015-07-13 12:54] NikCharlebois commented on #51
Hi Brian,

Thanks for following up. I am using PowerShell 5, April 2015 preview. My VMs are on premises, no DSC VM extension. Thanks

[2015-07-14 16:47] NikCharlebois opened #52 "Endless Reboot Loop using Windows Server Technical Preview 2"
I know Win Server 2016 is not supporting SP 2013 just yet, however, trying to troubleshoot my other issue with the DSC resource (https://github.com/PowerShell/xSharePoint/issues/51), I wanted to make sure I tested with WMF 5 and decided to use Server 2016. My current configuration is that I have a DSC pull server running on Windows Server Technical Preview 2, as well as my server node, running the

[2015-07-14 20:31] BrianFarnhill commented on #52
Hey Nik. This is by design I suspect. The prereq installer does things differently based on operating system and at the moment we have only tested things on Server 2012 R2. So our scripts for the prereq installer only look for the prereqs that are applied to that OS. What needs to be done here (and I was planning on looking at if/when we add support for that) is putting better detection of what pr

[2015-07-15 17:02] mrpullen opened #53 "Nested Modules isn't loading (for some reason"
Attempting to run xManagedPath Resource, receiving the error

The term 'Get-xSharePointAuthenticatedPSSession' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try
again.
    + CategoryInfo          : ObjectNotFound: (Get-xSharePointAuthenticatedPSSession:) [], CimEx

[2015-07-15 17:05] mrpullen commented on #53
Configuration SPFarm {
   param([PSCredential]$InstallAccount)
   Import-DSCResource -ModuleName xSharePoint
   Node localhost {

        xSPManagedPath team {
              WebAppUrl = "http://sp2013"
              InstallAccount = $InstallAccount
              RelativeUrl = "team"
              Explicit = $false
              HostHeader = $false
        }
   }
}

[2015-07-15 17:07] mrpullen commented on #53
xsharePoint.psd1 contains

NestedModules = @("modules\xSharePoint.DistributedCache\xSharePoint.DistributedCache.psm1",
                  "modules\xSharePoint.Util\xSharePoint.Util.psm1")

which looks right to me..

[2015-07-15 17:27] NikCharlebois commented on #53
Shouldn't it be:

NestedModules = @("DSCResources\xSharePoint.DistributedCache\xSharePoint.DistributedCache.psm1",
 "modules\xSharePoint.Util\xSharePoint.Util.psm1")

Note the DSCResources folder for Distributed cache instead of the modules folder.

[2015-07-15 17:34] NikCharlebois commented on #53
Can you try the following:

1 - Open xSharePoint.psd1;;
2 - Replace the line:
                                 CmdletsToExport = '*'
by
                                 CmdletssToExport = 'Get-xSharePointAuthenticatedPSSession'

and try again?

[2015-07-16 14:37] mrpullen commented on #53
that worked, but now I am getting Remove-xSharePointNullParamValues is not recognized. I will just list all the commandlets in those modules..

Tx.

[2015-07-16 14:51] #53 closed

[2015-07-16 15:08] NikCharlebois commented on #53
This seems to be a recurring problem in many DSC resources. I will try following up with the PowerShell team to get their input on this. In the meantime I might try to submit a pull request to ensure it works, listing all Cmdlets individually

Sent from my BlackBerry 10 smartphone on the Rogers network.
From: Michael Rees Pullen
Sent: Thursday, July 16, 2015 10:37 AM
To: PowerShell/xSharePoint
Rep

[2015-07-21 18:00] mrpullen opened #56 "Get-DSCConfiguration or Test-DSCConfiguration fail due to Get-TargetResource Hashtable return values."
so setting a managed path using the xSharePoint module. When I run Test-DSCConfiguration or Get-DSCConfiguration the command fails ... error output below

C:\windows\system32\WindowsPowerShell\v1.0\Modules\xSharePoint\DscResources\MSFT_xSPManagedPath returned results that
are not valid from Get-TargetResource. The PathType key is not a valid property in the corresponding provider schema
file. The

[2015-07-30 23:11] #52 closed

[2015-07-30 23:12] BrianFarnhill commented on #51
This has been fixed by #60 and been pushed to the dev branch. I have a couple of other changes and fixes I want to roll in before I push it to the master branch and form a release though, so use the dev branch for the time being to resolve this issue.

[2015-07-30 23:12] #51 closed

[2015-07-30 23:14] BrianFarnhill commented on #56
Thanks for the report - we'll look in to resolving this, I suspect there are a couple of resources that don't conform to this approach so will look to bring them all in line at the same time.

[2015-08-13 03:50] yeahnahyeah opened #66 "Random 'S' below class MSFT_xSPCreateFarm - ModuleVersion = '0.3.1.0'"
Random 'S' below class MSFT_xSPCreateFarm in module MSFT_xSPCreateFarm causes the class to not work.

ModuleVersion = '0.3.1.0'

[2015-08-13 04:39] BrianFarnhill commented on #66
Looking at the current scripts for version 0.4.0.0 I don't see the S you're talking about, so I believe this has already been checked in and sorted. Can you have a look at the current version from the PS gallery or from the releases here on GitHub and let me know if you believe it has been resolved as well?

[2015-08-13 04:54] yeahnahyeah commented on #66
Sorry Brian, I think I downloaded from the wrong place. When downloading the ZIp from here https://github.com/PowerShell/xSharePoint just now (ModuleVersion = '0.4.0.0') the 'S' is there (xSharePoint-dev.zip).

When I downloaded from the releases page: https://github.com/PowerShell/xSharePoint/releases the 'S' is not there (xSharePoint.zip).

[2015-08-13 05:30] BrianFarnhill commented on #66
All good, I see it in the dev branch now - I'll make sure its caught before we push a new release out to the main branch. Thanks for reporting the issue!

[2015-08-13 08:21] BrianFarnhill commented on #66
This has been corrected in the dev branch now by pull request #67 - closing this issue off

[2015-08-13 08:21] #66 closed

[2015-08-17 05:01] yeahnahyeah commented on #56
I get similar Hashtable format errors using other classes also.

e.g.

ErrorMessage is The PowerShell provider C:\Program Files\WindowsPowerShell\Modules\xSharePoint\DscResources\MSFT_xSPCreateFarm returned results that are not valid from Get-TargetResource. The FarmName key is not a valid property in the corresponding provider schema file. The results from Get-TargetResource must be in a Hashtabl

[2015-08-17 05:02] BrianFarnhill commented on #56
Yea it's a known problem that is near the top of my todo list to rectify. I'll post here as soon as I have a fix published.

[2015-08-17 05:04] yeahnahyeah commented on #56
Thanks Brian. Appreciate your efforts.

[2015-09-02 02:58] heidi2 opened #75 "xSPInstallPrereqs calls Get-xSharePointAssemblyVerion"
Since the prerequisites need to be installed before the assembly, this will never actually install the prereqs.

[2015-09-02 05:42] BrianFarnhill commented on #75
Hi Heidi,

The xSPInstallPrereqs uses Get-xSharePointAssemblyVersion to get the version number from prerequisiteinstaller.exe (from the InstallerPath property). This gives us the version number of the prerequisite installer, which lines up with the version number of SharePoint we are dealing with as well, meaning we can use that to determine which prerequisite installations to check for. From our

[2015-09-02 23:32] heidi2 commented on #75
Ah, OK, I think the actual problem may be that I'm running powershell version 4.The *version* property that's used in Get-xSharePointAssemblyVersion appears to have been [introduced in v5](https://msdn.microsoft.com/en-us/library/system.management.automation.applicationinfo_members%28v=vs.85%29.aspx). Are you still intending to support v4 at this stage, or do I just need to upgrade?

[2015-09-02 23:34] BrianFarnhill commented on #75
We are absolutely looking to support PowerShell 4 as well - let me spin up an environment where I can validate that and I'll let you know how I go. What we do though should have been working fine though but I'll confirm. Do you have a specific error message or logs or anything you can share with me about your error that you can share with me?

[2015-09-02 23:46] BrianFarnhill commented on #75
OK it would appear you are correct Heidi - I can see how we address this as well, I'll work on getting a fix pushed in for this one and post here when it is resolved.

[2015-09-03 00:33] BrianFarnhill commented on #75
Hey Heidi,

I have a fix that appears to be working in my repo - I'll do some integration and functional tests with it to make sure it behaves correctly in a few scenarios and then I'll post the fix. Expect it within a few days to a week, and I'll post here and close this issue when it's done.

Thanks for reporting the bug!

[2015-09-03 02:38] heidi2 commented on #75
Excellent! Thanks for the quick response, and all the work you've put into this project.I'm just getting started with DSC, and it's great being able to do so much.

[2015-09-09 22:39] BrianFarnhill commented on #18
I have an approach to enable better unit testing without needing to stub all of the methods out in our script. I wrote a blog post on the topic and am almost finished incorporating this in to a pull request with the fixes and expanded test base. I'll close this issue once I push the script in to a pull request, but in the mean time here is the blog post on how it is done:

http://blogs.msdn.com/b/

[2015-09-14 01:13] BrianFarnhill commented on #75
Hi @heidi2 - the fix for this issue is included in pull request #78 - I'm just waiting on a code review before I move this in to the dev branch though. In the mean time if you want to apply the fix to your own scripts the change is in xSharePoint.Util.psm1, in the Get-xSharePointAssemblyVersion function, the one line it uses should be:

    return (Get-Command $PathToAssembly).FileVersionInfo.File

[2015-09-14 05:03] BrianFarnhill commented on #56
Tagging as in progress as I'm now working on this one

[2015-09-14 05:04] BrianFarnhill commented on #18
This approach is now fixed to PR #78 and should be merged to dev shortly. I will close when the code review is complete

[2015-09-14 11:26] BrianFarnhill commented on #75
This fix is now merged in to the dev branch and will be in the next release - closing this issue

[2015-09-14 11:26] #75 closed

[2015-09-14 11:26] BrianFarnhill commented on #18
This is now merged in to the dev branch and will be in the next release - closing this issue

[2015-09-14 11:26] #18 closed

[2015-09-16 03:42] BrianFarnhill commented on #56
Hey guys, I have fixes for this in pull request #80 which is now pending code review. I've run Test-DSCConfiguration against a server with the configuration applied and I can now see a True value come out of it too. I'll advise here and close the issue when this hits the dev branch

[2015-09-17 00:18] craig-martin opened #81 "xSPInstall requires PID"
I was hoping to use xSPInstall to install SharePoint Foundation 2013, but will have to mark the PID property as not mandatory.  Workaround is to use the Package resource, like this:
[code]

[2015-09-17 00:23] BrianFarnhill commented on #81
Hey @craig-martin - thanks for the workaround. We hadn't tested with SharePoint Foundation, we might add this workaround to the wiki page for the time being until we can make a change to support the install of SP foundation. Thanks for the feedback

[2015-09-17 00:26] BrianFarnhill commented on #81
The [wiki documentation](https://github.com/PowerShell/xSharePoint/wiki/xSPInstall) has now been updated to include this work around, we'll leave this on the bug list to be addressed later though. Thanks Craig.

[2015-09-26 14:25] BrianFarnhill commented on #56
The fixes for this are now included in the dev branch, I'm closing off this issue. Thanks for reporting it guys

[2015-09-26 14:25] #56 closed

[2015-09-28 13:02] BrianFarnhill commented on #10
I have identified the cause of this - it is occurring when the service account you run distributed cache as is not in the local administrator group during the provisioning. I'll add some code here that is similar to that used in the user profile service provisioning which will add the user to the local admin group and take it back out once the provisioning is done.

In the mean time the work aroun

[2015-10-03 11:30] BrianFarnhill commented on #10
Further update - the actual issue here is that the Distributed cache services were not being stopped when the size was being updated. This has been corrected and once I complete testing I'll put the pull request in to the main xSharePoint repo. I will update here when this progresses and finalisies.

[2015-10-06 02:57] BrianFarnhill commented on #10
Fix for this is in pull request #84 - will close this item off once this is merged in

[2015-10-06 10:24] BrianFarnhill commented on #10
This has been merged in and will be released in v0.7

[2015-10-06 10:24] #10 closed

[2015-10-21 20:49] KarolKaczmarek opened #86 "xSPUsageApplication should use PSCredential instead of username and password parameters"
This bug is a result of PSScriptAnalyzer scan:
[code]

We should have single parameter credential of type PSCredential instead of using both username and password parameters.

[2015-10-21 20:50] KarolKaczmarek opened #87 "xSPSecureStoreServiceApp should use PSCredential instead of username and password parameters"
This bug is a result of PSScriptAnalyzer scan:
[code]

We should have single parameter credential of type PSCredential instead of using both username and password parameters.

[2015-10-21 23:32] heidi2 opened #88 "xSPInstallPrereqs argument formatting issue"
xSPInstallPrereqs doesn't put a colon between argument names and values, e.g.

Point\prerequisiteinstallerfiles\setup_msipc_x64.msi" /WCFDataServices "c:\DSC-Resources\SharePoint\prerequisiteinstallerfiles\WcfDataServices.exe" /KB2671763 "c:\DSC-Resources\SharePoint\prerequisiteinstallerfiles\AppFabric1.1-RTM-KB2671763-x64-ENU.exe" /WCFDataServices56 "c:\DSC-Resources\SharePoint\prerequisiteinstal

[2015-10-21 23:41] BrianFarnhill commented on #88
Hey Heidi,

Are you experiencing an actual issue with this though? From our testing the prereqs still all installed fine, and the documentation on [TechNet](https://technet.microsoft.com/en-us/library/ff686793.aspx#Installcmd) states the following:

Based on that I'm not sure this is an actual issue. Is there an error you are seeing or anything like that? Happy to investigate if there is something

[2015-10-21 23:42] BrianFarnhill commented on #88
Hey Heidi,

Are you experiencing an actual issue with this though? From our own testing the prereqs all still executed correctly. Just want to understand the impact of this so I can prioritise the fix.

 - B

[2015-10-22 02:32] heidi2 commented on #88
Hi Brian,

Yes - the verbose logging didn't report any error, but nothing was installed (and, because the LCM was set to RebootNodeIfNeeded, the machine got stuck in a reboot loop - for extra fun!). If I copy the args list from the Verbose log and run the command manually, without the unnattended switch, the log show 'Unrecognized command line option' error. Adding in colons fixes it, e.g.

instea

[2015-10-22 02:35] heidi2 commented on #88
Installing the prerequisites for SP2013, if that makes any difference.

[2015-10-22 02:59] BrianFarnhill commented on #88
No worries, I'll get it tested and in for our v0.8 release. What is the operating system you're installing on just out of curiosity?

[2015-10-22 03:33] heidi2 commented on #88
Server 2012 R2 standard.

[2015-10-22 03:52] BrianFarnhill commented on #88
Is the installer for Service pack 1? Can you confirm the build number of prerequisiteinstaller.exe? I just wanna figure out how this one slipped through the cracks on me :)

[2015-10-22 04:35] heidi2 commented on #88
The file version on prerequisiteinstaller.exe is 15.0.4567.1000. Is that what you need?

[2015-10-29 16:41] XdrXdr77 commented on #88
Hello, i´ve the same issue. I´m testing the Installation for the SharePoint 2016 Preview and got the same output. Calling the PreReq from the cmd it works. But in the DSC configuration it doesn´t start. The same problem like "heidi2"

Do you have any Updates to this problem?

Kind Regard

A.S.

[2015-10-29 17:11] XdrXdr77 commented on #88
Hello,

i´v modified the MSFT_xSPInstallPrereqs Module to build the Verbose Output like Heidi2 mentioned.
I got the described verbose Output, but the Installion of the Prereq didn´t start.
I modified the line 131 from:
 $prereqArgs += " /$_ `"$($PSBoundParameters.$_)`""
to
$prereqArgs += " /$_`:`"$($PSBoundParameters.$_)`""

I added the double colon.

[2015-10-30 01:26] BrianFarnhill commented on #88
Hi XdrXdr77,

Can you please share the parameters you passed to the xSPInstallPrereqs as well as the verbose output from it so we can see where it got to?

[2015-10-30 05:28] XdrXdr77 commented on #88
Hi Brian,

here is my Output:

[code]

This is my Configuration. I´m first testing the PreReq Installation. May it be possible that there exist dependencies to other Modules ?

[code]
I checked the Taskmanager and noticed the the PreReq Installer didn't launch. It only starts if i modify the PreReq Module. But nothing happens.

Greetz

A.S.

[2015-10-30 14:17] mrpullen commented on #35
What properties should the UrlType accept?

Also what's the plan to capture fields in the Secure Store Application. We can store all sorts of things in Secure Store Target Application, there are like 6 different field types (Key, Generic, Username, Password, WindowsUsername, WindowsPassword).

For the Fields how about an array of objects like the following
@{
Name : STRING
Type (ValidateSet "Key",

[2015-11-01 06:42] BrianFarnhill commented on #88
Hi A.S,

So it looks like the formatting of the arguments isn't coming through right as there are no spaces between the values and the next flag - for example, the fragment below from your args:

        ...chronization.msi"/AppFabric ...

should be coming out as

        ...chronization.msi" /AppFabric...

The line of script you say you inserted earlier looks like it should be putting the spaces

[2015-11-01 10:04] BrianFarnhill commented on #35
Hey MrPullen,

That sounds like a sound approach as a starting point. One thing that I got pinged on in regards to secure values is that we need to be mindful of making sure they get encrypted in the MOF files, so an example of where we didn't do that was in the xSPSecureStoreServiceApplication, where we had database username and password as string values (because that's how SharePoint accepts the

[2015-11-02 07:07] XdrXdr77 commented on #88
Hio Brian,

thanks for your reply. I´m testing a little bit with the follwoing results. I hope it would help to fix some "issues" of the PreReq Module. The PreReq won´t be installed during all my tests. Only if i start the PreReq Installer from the command line.

1. When i modified the Arguments List how i described, the PreReq wouln´t be installed.
2. If i remove the "/Unattended" from the argume

[2015-11-02 07:13] BrianFarnhill commented on #88
Hi Andre,

Thanks for that - yes the problem is that we do not have support for Windows Server 2016 yet while it is still in preview. We will add support to this later but right now we know it doesn't work because the prereqs it checks for will be different. If you want to look in to things a little deeper and look at preparing a fix I'm happy to help guide that, otherwise I'll post an update with

[2015-11-02 07:26] XdrXdr77 commented on #88
Hi Brian,

i will check this on Server 2016. For the future i think it would be nice if it is working ;)

WHen i´ve an update i will let you know. I´m not so deep in building custom ressources for DSC, but i will do my best.

Kind Regards

Andre

[2015-11-03 22:02] BrianFarnhill opened #89 "Add xSPWebAppBlockedFileTypes resource"
We are looking to add a resource to manage the blocked file types that are used on a web application. The syntax would look like this:

    xSPWebAppBlockedFileTypes BlockFileTypes
    {
        WebAppName = "SharePoint sites"
        BlockedFileTypes = "exe,dll"
        AllowedFileTypes = "config,json"
    }

The concept here is that an administrator can specify a list of file types to ensure are

[2015-11-04 14:42] XdrXdr77 commented on #88
Hi Brian,

i´ve fixed the problem with the Installation of the PreReq for SP2016 on Server 2016 TP3.
Actual it´s a quick and dirty solution.

1.
 I removed from the Schema.mof of the PreReqModule the "WCFDataService". If you run the PreReqinstaller.exe with the help Parameter "/?" it is not listed
2.
I added the ODBC Driver to the schema.mof
Schema.mof:
[code]

2.1
I also added it to the parameter

[2015-11-04 22:26] BrianFarnhill commented on #88
Hi Andre,

Some responses

1. Do not remove WCFDataService from the MOF file - this parameter is needed for SharePoint 2013 which we will continue to support
2. Thats fine, happy to add an extra parameter needed by 2016
3. We need to take that path out and make it a property so it can be passed in to the configuration rather than being hard coded, can we add an attribute for that?
4. This is fine,

[2015-11-05 07:31] XdrXdr77 commented on #88
Hello Brian,

thanks for reply.
1.
 Removing the WCFDataService from the .mof file was only a test. (quick and dirty) I will test this by adding the check for the parameters.
3.
I think it should be possible to add an attribut for that, but by default the "/sxs" folder does not exist in the parentfolder /prerequisitesinstallerfiles. I think this must be done by creating the destinationpath of the

[2015-11-05 15:58] ryanspletzer opened #90 "Get-WindowsFeature Cmdlet Not Supported on 2008 R2"
Brian Farnhill mentioned in issue https://github.com/PowerShell/xSharePoint/issues/50 that 2008 R2 needs to be supported.

However, the MSFT_xSPInstallPrereqs.psm1 uses the Get-WindowsFeature cmdlet, which as far as I know and have tried is not a supported cmdlet on 2008 R2...

https://technet.microsoft.com/en-us/library/jj205469%28v=wps.630%29.aspx

So, would either have to switch to dism command

[2015-11-05 18:58] ryanspletzer commented on #90
Disregard, I'm an idiot -- did not realize these cmdlets needed to be enabled through dism *first* on '08 R2 server core...

[2015-11-05 18:58] #90 closed

[2015-11-10 10:13] ykuijs opened #91 "Add xSPQuotaTemplate resource"
The xSPQuotaTemplate resource will be used to add or remove a quota template. It will be represented as below:

xSPQuotaTemplate NewQuotaTemplate
{
Name= "1GB"
StorageMaxInMB=1024
StorageWarningInMB=512
MaximumUsagePointsSolutions=300
WarningUsagePointsSolutions=200
Ensure=”Present”
}

[2015-11-10 10:21] ykuijs opened #92 "Add xSPTimerJobState resource"
The xSPTimerJobState resource will be used to configure a timer job and make sure it is in a specific state. It will be represented as below:

xSPTimerJobState DisableTimerJob
{
Name = "Dead Site Delete"
WebApplication = "SharePoint - www.domain.com80"
Enabled = $true
Schedule="weekly at sat 5:00"
}

[2015-11-10 10:23] ykuijs opened #93 "Add xSPAntivirusSettings resource"
The xSPAntivirusSettings resource will be used to configure the anti virus farm settings. It will be represented as below:

xSPAntivirusSettings ConfigureAV
{
ScanDocumentsOnUpload=$false
ScanDocumentsOnDownload=$false
AllowUsersToDownloadInfectedDocuments=$true
AttemptToCleanInfectedDocuments=$false
TimeoutDuration=300
NumberOfThreads=5
}

[2015-11-10 10:24] ykuijs opened #94 "Add xSPPasswordChangeSettings resource"
The xSPPasswordChangeSettingsresource will be used to configure the farm wide Pasword Change settings. It will be represented as below:

xSPPasswordChangeSettings ConfigurePasswordChange
{
MailAddress=”test@domain.com”
DaysBeforeExpiry=10
PasswordChangeWaitTimeSeconds=45
NumberOfRetries=5
}

[2015-11-11 02:53] BrianFarnhill commented on #88
OK I have made the changes in my fork to fix the original formatting issue raised in this issue as well as the missing prereq checks for SP2016. You can see this at https://github.com/BrianFarnhill/xSharePoint/tree/dev/Modules/xSharePoint/DSCResources/MSFT_xSPInstallPrereqs or you can wait for the next merge in to the main xSharePoint branches, they will be released as version 0.8

[2015-11-11 14:43] ykuijs commented on #93
Working on it!

[2015-11-12 04:17] camiloborges commented on #94
I am on it :)

[2015-11-12 04:18] BrianFarnhill commented on #94
Let me know if you need any help buddy

[2015-11-12 08:04] camiloborges commented on #48
can I take this one too?

[2015-11-12 10:31] BrianFarnhill commented on #48
All yours amigo

[2015-11-13 13:23] camiloborges commented on #89
Hello. Just trying to keep things consistent... xSPOutgoingEmailSettings takes WebAppUrl as parameter. This one asks for WebAppName.
Should we have only one way of referring to the web app?

[2015-11-13 13:25] BrianFarnhill commented on #89
Nice catch, it should use the URL not the name

[2015-11-13 13:25] BrianFarnhill commented on #89
Also I'm considering moving this one to be a property on the existing xSPWebApplication object rather than an individual resource, let me know if you are going to work on this one first.

[2015-11-13 13:34] kilasuit commented on #89
I would suggest that this should be as part of the xSPWebApplication resource rather than an individual resource

[2015-11-13 13:37] kilasuit commented on #89
To expand on that setting that are able to be applied at the WebApplication level I would be more inclined to group them under the xSPWebApplication resource

[2015-11-13 13:37] camiloborges commented on #89
I was half way through it already :P but happy to change.
it makes sense to be just an enhancement for the xSPWebApplication indeed. I just shut the VMs down, will look into it tomorrow

[2015-11-13 13:42] BrianFarnhill commented on #89
Agreed - Camilio ping me and we can have a chat about how to move it to the webapp object. I'll also mark this as in progress with you as well :)

[2015-11-16 21:26] BrianFarnhill commented on #88
My fixes related to this discussion are included in #97 - I'll close this item off once it has been merged in to the dev branch

[2015-11-17 05:55] camiloborges commented on #43
hello. which ones?
I think you are referring to the following properties.

Allow internal users with no site access to get tasks
     EmailToNoPermissionWorkflowParticipantsEnabled

Allow external users to get tasks with a copy of the document
     ExternalWorkflowParticipantsEnabled

Enable user defined workflows:
    UserDefinedWorkflowsEnabled

What about these ones?
     AllowDesigner
     All

[2015-11-17 08:48] camiloborges commented on #41
Hey. Check what I came up with.  This should allow addressing all the Web Application related items.

[ClassVersion("1.0.0")]
Class MSFT_xSPFilesTypes
{
    [write]String EnsureBlocked[];
    [write]String EnsureAllowed[];
};

[ClassVersion("1.0.0")]
Class MSFT_xSPOutgoingEmailSettings
{
    [Write] string SMTPServer;
    [Write] string FromAddress;
    [Write] string ReplyToAddress;
    [Write] s

[2015-11-17 09:59] camiloborges commented on #41
(please don't be too concerned with the data types as I didn't really  paid attention to them. idea was to show the concept

[2015-11-17 23:27] BrianFarnhill commented on #43
The initial ask was to mimic the settings on the workflow settings screen in central admin (when you select a web app then choose workflow settings from that drop down item in the ribbon), but happy to discuss others that aren't on there if you think they are relevant.

[2015-11-20 10:20] ykuijs opened #99 "Add xSPFarmAdministrators resource"
The xSPFarmAdministrators resource will be used to manage the members of the Farm Administrators group. It will be represented as below:

xSPFarmAdministrators FarmAdmins
{
 Members=”DOMAIN\UserX”, "BUILTIN\Administrators", "DOMAIN\sp_farm"
 MembersToInclude=""DOMAIN\User1"
 MembersToExclude="DOMAIN\User2"
}

The Members property is used to enforce a specific list of users which have to be a membe

[2015-11-20 10:21] ykuijs commented on #99
I have created this resource already, which is included in PR 98

[2015-11-20 20:50] ykuijs commented on #91
I am on it!

[2015-11-22 14:17] HiltonGiesenow commented on #52
Hey Brian,

I'm experiencing this today with a Server 2012 R2 machine, with WMF5 PP installed. Will keep you posted if I find anything though. Any thoughts/suggestions?

[2015-11-24 10:48] camiloborges commented on #38
hello.

should we use Add-SPProfileSyncConnection? Is It Supported?

[2015-11-24 10:50] camiloborges commented on #39
I am on it

[2015-11-24 11:44] BrianFarnhill commented on #38
Not supported outside of SharePoint Online as far as I'm aware, so I wanna try to find a way to get around it, we might need to use the server side object model in script to fill this functionality out right. Happy to hear your ideas.

[2015-11-24 19:45] NikCharlebois commented on #52
As an update, this is also still happening with Windows Server 2016 TP4 in Azure

[2015-11-24 20:52] camiloborges commented on #38
Last I heard there was no supported way of creating sync connections.
I scripted it earlier on this year but I am under the impression we didn't use the script because of that.

So, question to MS: is there a supported way of creating sync connections? :)

[2015-11-24 21:17] camiloborges commented on #38
I can't find the script I've written for that, but I am pretty sure I used this method here (Uses cnnMgr.AddActiveDirectoryConnection)

http://community.obilogic.co.uk/blogs/teamblog/archive/2015/04/20/sharepoint-2013-migrate-replicate-user-profile-service-application-configuration-between-farms-using-powershell-part-1.aspx

[2015-11-24 21:22] BrianFarnhill commented on #38
@camiloborges you are correct, the blog post you have there looks like the way to do it. At a quick glance all of the API calls there are public methods, so we are fine from a support perspective on this one. I'll confirm this to be sure and let you know if there are any issues but to the best of my knowledge we'll be fine.

[2015-11-24 21:23] BrianFarnhill commented on #52
@NikCharlebois - thanks for the update. We still haven't gone near server 2016 yet because we aren't sure when support will be added to SharePoint for this. Once it is, we'll get it built in but at the moment I can definitely say that the prereq installer will get stuck because the windows features on that OS will be different to what we expect on 2012R2

[2015-11-24 22:58] BrianFarnhill commented on #87
The fix for this is in #97 and I will close this issue off once it has passed review and is merged in to the dev branch

[2015-11-24 22:59] BrianFarnhill commented on #86
The fix for this is in #97 and I will close this issue off once it has passed review and is merged in to the dev branch

[2015-11-25 14:38] HiltonGiesenow opened #100 "Prerequisite Installer Does Not Validate File Paths"
If you set the Prere installer to use Offline mode, and supply it with paths to the prereqs, it doesn't validate that they are actually available at the path supplied, and the installer gets stuck in an endless reboot loop.

[2015-11-25 14:40] NikCharlebois commented on #100
Thanks Hilton, actually, on Windows Server 2012 R2, even if the Prereq mode is set to online, I get stuck in an infinite loop. I will take a closer look at the event logs to see if I can figure out what the issue is.

[2015-11-25 21:43] BrianFarnhill commented on #100
So there was one issue we found with the parameters not being formatted correctly, the fix for which is in my current PR #97 along with a couple of other things, so that might be the cause of what you are looking for (the discussion on this is in issue number #88).

There is a larger issue here about the way things get caught in reboots here and us essentially relying on the prerequisite installer

[2015-11-26 02:14] BrianFarnhill commented on #88
Ok so the fix for the formatting of the command line args is now in the dev branch and will be in the v0.8 release (hopefully within the next two weeks). I've tested a few offline installs and it appears to be working fine. Closing this one off for now, but let me know if anyone else sees issues with the formatting of the arguments.

[2015-11-26 02:14] #88 closed

[2015-11-26 02:14] BrianFarnhill commented on #87
PR #97 is now merged in to dev and this issue has been resolved.

[2015-11-26 02:14] #87 closed

[2015-11-26 02:14] BrianFarnhill commented on #86
PR #97 is now merged in to dev and this issue has been resolved.

[2015-11-26 02:14] #86 closed

[2015-11-26 04:45] HiltonGiesenow commented on #100
hmm, I'm a bit in two minds. On the one hand it would be much better to
have more control, but on the other we're reinventing the wheel. Perhaps
there's just a better way to get output from the prereq.exe. For instance,
when it failed for me, the gui showed up and gave me a link to the error
log - perhaps there's a way to check for an error log more explicitly? On
the other hand, that also would b

[2015-11-27 10:36] BrianFarnhill commented on #93
Merged in to dev, closing this issue

[2015-11-27 10:36] #93 closed

[2015-11-27 11:00] BrianFarnhill opened #102 "Preferred approach for xSPInstallPrereqs"
This is a follow on discussion that was started in relation to issue #100 - the issue to be discussed is whether or not the prerequisite installer that ships with SharePoint is the desired approach to install the prereqs, and whether or not the approaches to detecting if they are installed in the test method is enough.

This stems back to some issues being reported around the prereq installer gett

[2015-11-27 11:00] BrianFarnhill commented on #100
I'm closing this one now as the original issue about the prereq installer not validating the file paths was merged in through PR #101 - but I've also opened a new issue to discuss the approach of the prereq installer separately at #102

[2015-11-27 11:00] #100 closed

[2015-11-27 11:06] HiltonGiesenow commented on #102
I'm a bit in two minds about this. I'm worried there's more happening in the prereq.exe than might immediately be obvious, but that's probably the only real concern. Aside from that, going this new route gives a chance to approach it differently. For instance, it -might- be useful to pass separate exe paths (as it works now), but in practice we're likely to have all of these pre-reqs in the same f

[2015-11-27 11:08] HiltonGiesenow commented on #102
By the way, @BrianFarnhill  sent me some code to help with this - posting here in case it's useful (thanks @BrianFarnhill !)

$WindowsFeatures = Get-WindowsFeature -Name Net-Framework-Features,Web-Server,Web-WebServer,Web-Common-Http,Web-Static-Content,Web-Default-Doc,Web-Dir-Browsing,Web-Http-Errors,Web-App-Dev,Web-Asp-Net,Web-Net-Ext,Web-ISAPI-Ext,Web-ISAPI-Filter,Web-Health,Web-Http-Logging,Web

[2015-11-27 11:09] BrianFarnhill commented on #102
@HiltonGiesenow Well we know where the prereq installer logs end up (in the temp folder) ... there shouldn't be anything to stop us from interrogating the log matching the time that the installer was started and use that to determine if there is an actual error even when the return code is a 0, which means we can at least throw a meaningful error in that case. Is this worth pursuing do we think?

[2015-11-27 11:10] BrianFarnhill commented on #102
@HiltonGiesenow Just noting that the script I gave you there is specifically for SharePoint 2013 - if anyone sees the issue for SharePoint 2016 and wants to test that you'll need to modify the list. But seeing as people are seeing this with 2013 on Server 2012 R2 I would like to resolve it there first.

[2015-11-27 11:20] HiltonGiesenow commented on #102
Yup, exactly what I had in mind, we just need to make sure we're getting exactly the right file, parsing the log properly, etc. Nothing rocket-science-y, just a bit of work to get it all right.

[2015-11-27 14:23] NikCharlebois commented on #102
The problem seems to be coming from the C++ installs. The Get-TargetResource is the culprit. Here is the result of my Hashtable

key = Web-WebServer , value = True
key = Web-WMI , value = True
key = Microsoft Visual C++ 2013 x64 Additional Runtime - 12.0.21005 , value = False
key = WAS-Process-Model , value = True
key = Web-Health , value = True
key = Web-Client-Auth , value = True
key = Microsoft

[2015-11-27 14:33] NikCharlebois commented on #102
Ok, so I've found the error. We are looking for
Microsoft Visual C++ 2013 x64 Minimum Runtime - 12.0.21005
Microsoft Visual C++ 2013 x64 Additional Runtime - 12.0.21005

Whereas my Windows Server 2012 R2 server has the following installed:
Microsoft Visual C++ 2015 x64 Minimum Runtime - 14.0.23026
Microsoft Visual C++ 2015 x64 Additional Runtime - 14.0.23026

In the Get-TargetResource method, we n

[2015-11-27 14:36] HiltonGiesenow commented on #102
Hey Nik,

Thanks for tracking this down, let's definitely fix.

What do you think about the broader discussion about this though - rewriting to exclude prerequinstaller.exe altogether?

[2015-11-27 14:40] NikCharlebois commented on #102
@HiltonGiesenow I'm not a big fan of reinventing the wheel. What would be the pros of doing this? I am afraid things will slip through the cracks as Microsoft releases CUs.

[2015-11-27 14:43] HiltonGiesenow commented on #102
I've also got concerns, but I think the advantage is we don't have to rely on this installer as much - from the looks of what it does (black box) everything's pretty easy to do with DSC natively, and we don't need to fiddle with logs / interpret return codes / etc. What would you see as pros versus cons to this? I'm worried we'll keep getting issues like the ones you just fixed.

[2015-11-28 03:53] BrianFarnhill commented on #102
@NikCharlebois That prereq is on our 2016 list, so that might not be related to the looping people are seeing on 2013 as well but this might explain the looping on 2016 so I'll make a quick patch to get that one sorted (just wanna confirm my lab is seeing it as well - I think my lab was running the IT Pro preview and not beta 2 so I'll fix that)

[2015-11-29 23:47] BrianFarnhill commented on #99
#98 Has been merged in to dev, closing this issue

[2015-11-29 23:47] #99 closed

[2015-11-29 23:48] BrianFarnhill commented on #94
This is part of PR #96 and will be closed off once this is merged to dev

[2015-11-29 23:49] BrianFarnhill commented on #43
This is part of PR #96 and will be closed when this is merged to dev

[2015-11-29 23:49] BrianFarnhill commented on #42
This is part of PR #96 and will be closed when this is merged to dev

[2015-11-29 23:50] BrianFarnhill commented on #41
This is part of PR #96 and will be closed when this is merged to dev

[2015-11-30 02:30] BrianFarnhill opened #103 "Create xSPSearchTopology resource"
Create a resource that is able to take in the names of servers that should be running each search topology component for a specific search service application. An example of this could be as below:

    xSPSeachTopology FarmTopology
    {
        SearchServiceApp = "Search Service Application"
        AdminComponents = @("SharePoint1", "SharePoint2")
        CrawlComponents = @("SharePoint1", "Sha

[2015-11-30 02:34] BrianFarnhill opened #104 "Create xSPSearchIndex resource"
The xSPSearchIndex resource will be used to create additional search index partitions for a specific search application. It should be structured as follows:

    xSPSearchIndex ExtraIndex1
    {
        IndexPartition = 0
        IndexComponents = @("SharePoint3", "SharePoint4")
        IndexDirectory = "I:\SearchPartitions\1"
        Ensure = "Present"
    }

The resource should ensure the direct

[2015-11-30 02:35] BrianFarnhill commented on #104
My work in progress for this issue can be found in my [feature-searchtopology](https://github.com/BrianFarnhill/xSharePoint/tree/feature-searchtopology) branch in my fork of the repo.

[2015-11-30 02:36] BrianFarnhill commented on #103
My work in progress for this issue can be found in my [feature-searchtopology](https://github.com/BrianFarnhill/xSharePoint/tree/feature-searchtopology) branch in my fork of the repo.

[2015-12-01 01:15] BrianFarnhill commented on #94
This has been merged to dev in PR #96 and will be released in v0.8 - closing this issue

[2015-12-01 01:15] #94 closed

[2015-12-01 01:16] BrianFarnhill commented on #43
This has been merged to dev in PR #96 and will be released in v0.8 - closing this issue

[2015-12-01 01:16] #43 closed

[2015-12-01 01:16] BrianFarnhill commented on #42
This has been merged to dev in PR #96 and will be released in v0.8 - closing this issue

[2015-12-01 01:16] #42 closed

[2015-12-01 01:16] BrianFarnhill commented on #41
This has been merged to dev in PR #96 and will be released in v0.8 - closing this issue

[2015-12-01 01:16] #41 closed

[2015-12-01 01:17] BrianFarnhill commented on #89
This has been merged to dev in PR #96 and will be released in v0.8 - closing this issue

[2015-12-01 01:17] #89 closed

[2015-12-01 02:08] camiloborges commented on #34
Question: Should we allow more than 1 app management app per farm?

[2015-12-01 07:34] BrianFarnhill commented on #34
1) in terms of this resource, does it matter? We'll just be creating instances of the service app - I don't see a lot of reasons to need more than one, but I also don't see the harm. Thoughts?
2) No, use xSPServiceInstance for this
3) Yes we still need this - can you include it here?
4) No we dont and I don't have it in my pipeline - how are you imagining this would work?

[2015-12-01 07:35] BrianFarnhill commented on #47
@camiloborges Did you say you were doing the app URLs with the app management service app?

[2015-12-01 07:38] BrianFarnhill commented on #46
@camiloborges Tagging you here to see this one with your other app work mate, you think this fits with the other bits you are touching?

[2015-12-01 07:45] BrianFarnhill commented on #24
@camiloborges here is the reference to the subscription settings app that you asked about

[2015-12-01 07:51] BrianFarnhill commented on #48
This was merged in to dev in PR #96

[2015-12-01 07:51] #48 closed

[2015-12-01 08:24] camiloborges commented on #47
Yes

[2015-12-01 08:25] BrianFarnhill commented on #47
Cool, ill take the help wanting off this one then

[2015-12-01 08:25] camiloborges commented on #24
Cool.

Assign me to this one too.

[2015-12-01 08:57] camiloborges commented on #34
1) No harm, but, does SP work with multiple app mgmt services? If the answer is no we can just ignore the name and always ensure there is only one service.
2) tick. closed.
3) deal.
4) I have scripts to set it up. The only  issue is that it needs a path to a SSL certificate, and it is currently using an 'invalid valid' cert using makecert. Only relevant if xSharePoint supports high-trust apps

[2015-12-01 21:34] BrianFarnhill commented on #34
@camiloborges I definitely want to make sure we can deploy high trust apps, but there are a few things we'll need to look at with this one, like how we make sure the cert is on all of the servers and then how we register it. It could be a separate resource though to do that kind of work though - if we need to pass the certificates password to install it from a PFX (need to check if we can use a CE

[2015-12-02 04:37] NikCharlebois commented on #27
FYI - I will be taking this one over tomorrow

[2015-12-02 07:51] ykuijs commented on #23
I am working on it!

[2015-12-02 08:24] camiloborges commented on #39
hey. what about order and grouping(can't remember how it is called in CA)?

[2015-12-02 08:32] BrianFarnhill commented on #39
Good point - now sure how we include this. You got suggestions or ideas? Im pretty sure group is just another string property so that should be fine, but I forget about the ordering stuff.

[2015-12-02 08:32] ykuijs commented on #23
The object model has some additional configuration options, which are not available via the GUI. Shall I add these as well?

AllowCreateDeclarativeWorkflow
AllowSavePublishDeclarativeWorkflow
AllowSaveDeclarativeWorkflowAsTemplate

[2015-12-02 08:38] BrianFarnhill commented on #27
All yours @NikCharlebois - thanks bud

[2015-12-02 08:40] BrianFarnhill commented on #23
Yes i think so - are these same options available when applying to a web app as well as within a site collection? If not we just need to make sure we throw a meaningful error about the misuse of the parameters

[2015-12-02 08:44] ykuijs commented on #23
Yes, they are. Will add these as well.

[2015-12-02 08:49] ykuijs commented on #23
Updated structure:
xSPDesignerSettings MainWebAppSPDSettings
 {
 Url = "https://intranet.sharepoint.contoso.com"
 Scope = "WebApplication"
 AllowSharePointDesigner = $false
 AllowDetachPagesFromDefinition = $false
 AllowCustomiseMasterPage = $false
 AllowManageSiteURLStructure = $false
 AllowCreateDeclarativeWorkflow = $false
 AllowSavePublishDeclarativeWorkflow = $false
 AllowSaveDeclarativeWorkf

[2015-12-02 08:55] BrianFarnhill commented on #23
Sounds good dude, make it so :)

[2015-12-02 08:57] camiloborges commented on #39
Pretty sure I've got a script that adds the property, saves it, then retrieves all properties and reorder them. I am just a little worried that DSC might not like that as I think we could end up with another loop as property index might be changed by another property.
ie: there is a default property p26(A)  I add another one to p26(B).
B is now p26, A is p27.
if I add C as p26 we have
C - p26
B -

[2015-12-02 08:59] BrianFarnhill commented on #39
Yea I'm inclined to park the ordering to another day (maybe we do a separate resource to define the order of all properties so we avoid a loop like that)

[2015-12-02 08:59] camiloborges commented on #39
could / should property order be another resource?

[2015-12-02 08:59] camiloborges commented on #39
:)

[2015-12-02 08:59] camiloborges commented on #39
check this out

param( $siteUrl)
Add-PSSnapin microsoft.sharepoint.powershell -ErrorAction SilentlyContinue
Add-Type -Path "C:\program files\common files\microsoft shared\web server extensions\15\isapi\Microsoft.Office.Server.dll"

 #$configFile =[xml] (Get-Content "./upsProperties.xml")
#function UPPReorder($configFile,$siteUrl){
 $config = [xml] (Get-Content "./upsProperties.xml")
 $mys = Get-SP

[2015-12-02 09:00] BrianFarnhill commented on #39
Lets call it now - yes, sort order of properties should be a separate resource - leave it out of this :)

[2015-12-02 10:00] camiloborges commented on #38
hey @BrianFarnhill  please mark this as in progress

[2015-12-02 12:45] BrianFarnhill commented on #38
All yours @camiloborges

[2015-12-02 16:55] NikCharlebois commented on #27
Pull Request submitted

[2015-12-02 20:49] BrianFarnhill commented on #27
Its PR #109 for those playing along at home :)

[2015-12-03 13:21] BrianFarnhill commented on #22
I'm on this one.

[2015-12-04 09:38] ykuijs opened #112 "Extend xSPWebApplication resource to include "Site Use Confirmation and Deletion" settings"
Extend the xSPWebAppliation resource top include the follow settings (seen in central admin under the "Application Management > Site Collections > Confirm site use and deletion" menu, http://<central_admin_url>/_admin/DeleteSiteConfig.aspx)
* Configure SharePoint to send out site usage confirmation e-mails to owners
* Configure SharePoint to delete sites when not confirmed after x notices

[2015-12-05 04:40] BrianFarnhill commented on #112
@ykuijs You wanna work on this one, or just adding to the list of enhancements? Happy for either, just wanted to know if I need to leave it as help wanted or not

[2015-12-07 11:18] camiloborges commented on #38
Hello.
Updated schema:
 [ClassVersion("1.0.0.0"), FriendlyName("xSPUserProfileSyncConnection")]
class MSFT_xSPUserProfileSyncConnection : OMI_BaseResource
{
    [Key] string Name;
    [Required] string Forest;
    [Required] string UserProfileService;
    [Required, EmbeddedInstance("MSFT_Credential")] String Credentials;
    [Write, EmbeddedInstance("MSFT_Credential")] String InstallAccount;

[2015-12-07 11:20] BrianFarnhill commented on #38
@camiloborges Can we be more specific on the Credentials property to be something like "ConnectionCredential" - that way its clear what its there for

[2015-12-07 11:25] camiloborges commented on #38
I can certainly do that. I tried to shorten parameters name but some do need to be a bit more specific

[2015-12-07 11:26] BrianFarnhill commented on #38
Lets go for longer names over ambiguous any time it comes up - thanks bud

[2015-12-07 11:30] camiloborges commented on #38
any request on the other attributes?

[2015-12-07 11:35] BrianFarnhill commented on #38
Should connection type be a fixed list of options there? The others seem obvious enough I think.

[2015-12-07 11:39] camiloborges commented on #38
good point @BrianFarnhill . it should then be

[ClassVersion("1.0.0.0"), FriendlyName("xSPUserProfileSyncConnection")]
class MSFT_xSPUserProfileSyncConnection : OMI_BaseResource
{
    [Key] string Name;
    [Required] string Forest;
    [Required] string UserProfileService;
    [Required, EmbeddedInstance("MSFT_Credential")] String ConnectionCredentials;
    [Write, EmbeddedInstance("MSFT_Credenti

[2015-12-07 11:53] BrianFarnhill commented on #38
Put the BCS option in and have it throw an exception to say its not implemented yet. Add an issue here to state that it doesn't work and I'll tag it as technical debt for us to come back to later.

[2015-12-10 23:29] BrianFarnhill commented on #104
This is included in PR #118 and is in testing. Will close this issue when it is merged to dev.

[2015-12-10 23:30] BrianFarnhill commented on #103
This is included in PR #118 and is in testing. Will close this issue when it is merged to dev.

[2015-12-12 18:47] ykuijs commented on #112
@BrianFarnhill - I am on it!

[2015-12-12 18:49] ykuijs commented on #92
@BrianFarnhill - I am on it!

[2015-12-13 05:37] BrianFarnhill commented on #22
This is part of PR #120 and when that is closed and merged to dev this issue will be closed off

[2015-12-13 05:48] BrianFarnhill commented on #92
All yours @ykuijs

[2015-12-13 05:49] BrianFarnhill commented on #112
All yours @ykuijs

[2015-12-13 09:57] BrianFarnhill commented on #34
This is part of PR #108 and is now merged, closing this issue

[2015-12-13 09:57] #34 closed

[2015-12-13 09:57] BrianFarnhill commented on #24
This is part of PR #108 and is now merged, closing this issue

[2015-12-13 09:57] #24 closed

[2015-12-17 11:21] ykuijs commented on #49
I am on it!

[2015-12-19 13:28] ykuijs commented on #23
@BrianFarnhill - I think this issue can be closed, since the resource was already created.

[2015-12-19 13:29] ykuijs commented on #112
@BrianFarnhill - I think this issue can be close, since the resource was created already

[2015-12-19 21:08] #112 closed

[2015-12-19 21:08] #23 closed

[2015-12-19 21:57] BrianFarnhill commented on #104
This has been merged in to dev, closing this off

[2015-12-19 21:57] #104 closed

[2015-12-19 21:57] BrianFarnhill commented on #103
This has been merged in to dev, closing this off

[2015-12-19 21:57] #103 closed

[2015-12-20 04:21] camiloborges commented on #47
updating mof schema . updating from AppUrls to AppDomain
class MSFT_xSPAppDomain : OMI_BaseResource
{
    [Key] string AppDomain;
    [Required] string Prefix;
    [Write, EmbeddedInstance("MSFT_Credential")] String InstallAccount;

};

[2015-12-20 04:21] camiloborges commented on #47
@BrianFarnhill , please confirm you are ok with new name

[2015-12-20 04:37] camiloborges opened #127 "Idea: Everything as a module"
hey, just putting it out there...
what if all resources were available as modules, similarly to the xSPWebApplication ones?

Then everyone could use xSharePoint in the 'classic' way

[2015-12-20 05:10] BrianFarnhill commented on #127
To be fair the only reason I left the web app ones that way was because I can see us merging them back in to the complex types approach we went for at first (post the issues being resolved). I don't think there is much of a need to call them directly (outside of a configuration per se), the goal of the project was to facilitate the use of DSC for SharePoint. What are you hoping to gain out of that

[2015-12-20 07:03] camiloborges commented on #127
few reasons, but mainly #1
1) It is a lot easier to do integration test as a module
2) allow 'classic' admin to use IP as an ad-hoc call
3) adoption. many people have no clue what DSC is, and might not try
xSharePoint because of that.

It all started with the time it took me to troublesthoot the issues I was
having with the UPS Sync Connection. I don't know If I just don't know
something, but I ju

[2015-12-20 07:10] BrianFarnhill commented on #127
ok, so some follow up questions:

1 - how is it easier to integration test? My process normally involves me doing this:

    Import-Module C:\Program Files\WindowsPowerShell\modules\xSharePoint\DSCREsources\RESOURCENAME\RESOURCENAME.psm1
    Get-TargetResource {params}

this way i can call a test and see it run - or you can even load that up in ISE and ddebug your way through things if you need to

[2015-12-20 07:17] BrianFarnhill commented on #47
Fine with it dude

[2015-12-20 08:10] camiloborges commented on #127
all points taken :)
And thank you. This will make my life a lot easier :D

[2015-12-20 08:10] #127 closed

[2015-12-22 02:28] BrianFarnhill commented on #22
This has been merged in to dev, closing this issue

[2015-12-22 02:28] #22 closed

[2015-12-22 02:29] BrianFarnhill commented on #91
Closing this one as it has been merged

[2015-12-22 02:29] #91 closed

[2015-12-22 04:48] BrianFarnhill commented on #27
This was merged in PR #111 - closing this as complete

[2015-12-22 04:48] #27 closed

[2015-12-22 14:06] camiloborges commented on #25
Didn't Microsoft ditch this service app ? If so we might be better off closing this one

[2015-12-22 20:52] BrianFarnhill commented on #25
Still supported in SharePoint 2013 (but it's not in 2016) so I still think it needs to be done.

[2015-12-23 04:01] BrianFarnhill commented on #47
This was merged to dev in PR #133 - closing this issue

[2015-12-23 04:01] #47 closed

[2015-12-23 04:01] BrianFarnhill commented on #46
This was merged to dev in PR #133 - closing this issue

[2015-12-23 04:01] #46 closed

[2015-12-23 08:11] XdrXdr77 opened #135 "Server 2016 TP 3 and SP 2016 Beta install Binaries"
Hi @ all,

i´ve got a problem during the install of the binaries of SP 2016 Beta 2.
The PreReq Check fails during the Binary Install. From the log file a get an returncode 30066. Ich see in the log file that the "SQL Server 2012 Native Client" is missing. But it´s installed correctly. Has anyone an Idea what´s happening in this step ?

Greetz
A.S.

[2015-12-23 08:22] BrianFarnhill commented on #135
Hey A.S.

At this point we haven't tested xSharePoint on Server 2016 TP3 - yes SP2016 Beta 2 supports it, but we haven't tested it yet. Are you able to share your log files so we can see the output and have a look at that so I can compare that to the scripts and how we test the prereqs.

if you are seeing the 30066 error code then the prereq installer isn't doing everything it's meant to do which

[2015-12-23 08:28] BrianFarnhill commented on #92
This is now merged to dev, closing this issue

[2015-12-23 08:28] #92 closed

[2015-12-23 08:39] XdrXdr77 commented on #135
Hi Brian,

here is my LogFile from the PreReq Installer:

2015-12-23 00:27:13 - Operating System: Windows 10
2015-12-23 00:27:13 - Processor architecture is (9)
2015-12-23 00:27:13 - Reading the following string value/name...
2015-12-23 00:27:13 - Common Startup
2015-12-23 00:27:13 - from the following registry location...
2015-12-23 00:27:13 - SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Sh

[2015-12-23 13:44] ykuijs commented on #26
I am on it.

Will extend this resource with the configuration of the Service App. See https://technet.microsoft.com/EN-US/library/ff608107.aspx for more info. Will post a proposal for the extended structure later.

[2015-12-23 14:17] camiloborges commented on #26
hello. I had just started this one too, will check it in anyway as I am almost done with it

[2015-12-23 14:18] camiloborges commented on #25
ok, I am on it. https://github.com/camiloborges/xSharePoint/commit/680cc21eed988226aebe2db1cf8d290c98f49be3

[2015-12-23 14:29] camiloborges commented on #26
hey @ykuijs I take you are talking about the Set-WordConversionServiceApp parameters, so I will leave this with you :)

[2015-12-23 14:32] ykuijs commented on #26
@camiloborges Correct, I was talking about that cmdlet. Since you are already done with the initial resource, go ahead and check it in. Then I can use that as a starting point :-)

[2015-12-23 14:35] camiloborges commented on #26
cool, give me 10 minutes to finish unit tests

[2015-12-23 14:45] camiloborges commented on #26
https://github.com/camiloborges/xSharePoint/tree/xSPWordAutomationServiceApp

[2015-12-23 14:55] ykuijs commented on #26
Did you sync your local copy?? I do not see any resource there?

[2015-12-23 15:29] camiloborges commented on #26
hmmm, I had, but I screwed up my  brnches

[CmdletBinding()]
param(
    [string] $SharePointCmdletModule = (Join-Path $PSScriptRoot "..\Stubs\SharePoint\15.0.4693.1000\Microsoft.SharePoint.PowerShell.psm1" -Resolve)
)

$ErrorActionPreference = 'stop'
Set-StrictMode -Version latest

$RepoRoot = (Resolve-Path $PSScriptRoot\..\..).Path
$Global:CurrentSharePointStubModule = $SharePointCmdletModule

$M

[2015-12-23 15:29] camiloborges commented on #26
function Get-TargetResource
{
    [CmdletBinding()]
    [OutputType([System.Collections.Hashtable])]
    param
    (
        [parameter(Mandatory = $true)]  [System.String] $Name,
        [parameter(Mandatory = $true)]  [System.String] $ApplicationPool,
        [parameter(Mandatory = $true)]  [System.String] $DatabaseName,
        [parameter(Mandatory = $false)] [System.String] $DatabaseServer,

[2015-12-23 15:36] ykuijs commented on #26
Been there, done that :-)

[2015-12-23 16:58] camiloborges commented on #26
here we go again, https://github.com/camiloborges/xSharePoint/tree/xSPWordAutomationApp

[2015-12-24 15:17] ykuijs opened #144 "Resource description in MOF file xSPWebAppPolicy is incorrect"
The MOF file of the xSPWebAppPolicy resource (xSPWebAppPolicy.schema.mof) is incorrect. It is probably copied from the xSPCacheAccounts resource and never changed.

[2015-12-24 23:39] BrianFarnhill commented on #144
Ahhh the documentation is in correct - leave it with me, will patch it up.

[2015-12-25 12:41] camiloborges commented on #25
it needs to take the Set-WorkMa.. cmLet parameters.
Reference
https://technet.microsoft.com/EN-US/library/fp161253.aspx

[2015-12-25 12:42] camiloborges commented on #36
needs to take the 'Set' Cmdlet parameters as per
https://technet.microsoft.com/en-us/library/jj219583.aspx

[2015-12-27 03:11] camiloborges commented on #39
hello.
please mark this as in progress :)

[2015-12-27 19:49] ykuijs opened #147 "Extend xSPWebAppPolicy resource"
The current version of the xSPWebAppPolicy resource is only able to add new users. It is not able to remove users (Ensure=Absent) or enforce a specific list of users. See xSPFarmAdministrator group as an example.

Also: I haven't been able to test this yet, but reviewing the code I think the code does not handle claims users and classic users the correct way. The resource needs to be able to make

[2015-12-28 07:39] camiloborges opened #148 "$Ensure Parameter"
Hey.
I noticed some of the resources have the 'Ensure' parameter. Shouldn't all of them have it?

[2015-12-28 07:41] BrianFarnhill commented on #148
Pretty much yes - feel free to call it out in the comments on any outstanding issues that don't have it, and we can raise issues for ones that are missing it.

[2015-12-28 07:43] camiloborges commented on #148
Cool. deal

[2015-12-30 20:54] ykuijs commented on #148
I would suggest only to include them when it makes sense. For example
- The xSPFarmAdministrators resource doesn't need to have the ensure parameter, since the currently specified parameters are (imho) sufficient.
- A Service Application resource requires one, since you need to be able to specify it the SA needs to be present or not.

[2016-01-05 12:32] ykuijs opened #149 "Add xSPShellAdmins resource"
The xSPShellAdmins resource will be used to manage the accounts that have Shell Admin permissions. It will be represented as below:

xSPShellAdmins ShellAdmins
{
 Members=”DOMAIN\UserX”, "BUILTIN\Administrators", "DOMAIN\sp_farm"
 MembersToInclude=""DOMAIN\User1"
 MembersToExclude="DOMAIN\User2"
 AllContentDatabases=$true
}

The Members property is used to enforce a specific list of users which ha

[2016-01-07 01:07] camiloborges commented on #26
note to myself.
will separate 'new' and 'set' parameters with a query
$newPArams = $params.GetEnumerator() | ?{ @("DatabaseName","DatabaseServer","Name", "ApplicationPool" ).Contains($_.Key)}

$setPArams = $params.GetEnumerator() | ?{ @("DatabaseName","DatabaseServer").Contains($_.Key)-eq $false}

[2016-01-07 08:57] XdrXdr77 opened #150 "Error by Creating Farm from Example Script "SingleServer""
Hello @ all

After testing the Installation of SharePoint 2016 with DSC and some hard days, i went back to test the Installation of SharePoint 2013 with DSC ;)

I´ve installed the PReReq and Binaries successfullly, but now it stuck by creating the Configuration File.

I get the following error:

[code]

I use the example script for a "Single Server"

I need a tip how to fix this problem. Has anyon

[2016-01-07 09:16] XdrXdr77 commented on #150
Hello,

i´ve checked the schema.mof and find the following in Line 29.

[code]

The semicolon is missing after the SSL

I think it must be set. Is this correct ?

I´ve got another question.

How is the correct call to build the .mof file for the configuration. I modified the SharePoint.psd1 with my settings but when i call the SharePoint.ps1 example script, i won´t build the .mof file.

Kind Regar

[2016-01-07 10:02] camiloborges commented on #150
Hello. @BrianFarnhill  I've fixed the issue and created a PR for that. I don't know the answer to why the ps1 isn't producing the mof

[2016-01-07 10:11] BrianFarnhill commented on #150
Yea I don't have a good reason off the top of my head about why the MOF isnt being generated - normally it'll spit out a partial MOF and then an error.mof file with more details.

There was a test that was checking the MOF files better which @camiloborges and I broke when we set the MOF scanner up to handle multiple objects in a file that I have fixed in a branch I'm working on (see https://github

[2016-01-07 10:18] camiloborges commented on #148
agree with @ykuijs , not all need it, but many do. I went through the list we have in the latest release and documented them.

resources with missing Ensure
MSFT_xSPWebAppPolicy: Ensure would remove given user from web app policies
MSFT_xSPWebApplication
MSFT_xSPVisioServiceApp
MSFT_xSPUsageApplication
MSFT_xSPSubscriptionSettingsServiceApp
MSFT_xSPStateServiceApp
MSFT_xSPSite
MSFT_xSPSessionState

[2016-01-08 06:43] XdrXdr77 commented on #150
Hi @ all

i can create the MOF FIle. IT wa smy fault. I didn´t called the .psd1.

I found an other error in your example Script. I created a Webapplication, but the Databasename was "WSS_Content", but i named it SP_Content_01. So i check the script.

In this section:

[code]

is a "s" missing for the DatabaseName

Greetz

A.S.

[2016-01-08 06:57] XdrXdr77 commented on #102
Hi @ all,

i´m spending a lot of time by testing the Installation of SP2013 and SP2016 with DSC. I think it is a very good alternative against the AutoSPInstaller, but ......

..... the reboot handling didn´t work in my case. I´ve tested the xPendingReboot Module. No way to get an reboot. Only if i modify the LCM, but this ends in a reboot loop.

.... the resume of the configuration starts in the

[2016-01-08 07:40] BrianFarnhill commented on #150
I'll get that typo fixed up in the sample file

[2016-01-08 07:43] BrianFarnhill commented on #147
@ykuijs We did test the claims stuff in that it assumes if it can't find a match for the user through the basic string name then it tries to interpret it as a claims identity. So the theory is that if you specify it through the DSC you only user user the non-claims version of it and it'll get matched either way. If you test it and see that it does something different let me know though. Happy to a

[2016-01-08 07:46] BrianFarnhill commented on #102
Hey A.S. @XdrXdr77

So the LCM is the way to get the reboots to work, you should have to specify AllowReboot = true in your configuration and that will generate the .meta.mof file which can configure the LCM for you to do this. Then the DSC resources we have will tell the LCM when it needs the reboot.

In regards to the looping, this should all be resolved for both 2013 and 2016 on Server 2012 R2.

[2016-01-08 07:47] BrianFarnhill commented on #39
All yours @camiloborges

[2016-01-13 05:24] XdrXdr77 commented on #150
Thx a lot ;)

I´ve on question. I´ve tested the the WMF 4.0 first, but there is a problem with the "PSDSCRunAsCredential" setting. After i´ve installed WMF 5.0 it´s working.
In your requirement is only WMF 4.0 listed. Is this correct or maybe changed to WMF 5.0 ?

Greetz

A.S.

[2016-01-13 05:26] BrianFarnhill commented on #150
Thats a PowerShell 5 thing, we do support PowerSehll 4 but it's done differently. Have a read of [this wiki page](https://github.com/PowerShell/xSharePoint/wiki/Remote%20sessions%20and%20the%20InstallAccount%20variable) for the details on what you are seeing.

[2016-01-14 01:22] kilasuit opened #153 "When published to the Gallery the Tags property doesnt include that this has DSC Resources"
Please on the next Update add the DSCResource to the Tags along with other required updates.

[2016-01-14 01:26] BrianFarnhill commented on #153
@KarolKaczmarek Can you comment on this one please?

[2016-01-14 02:32] kilasuit commented on #153
Also as a further FYI the LicenseURI & ProjectURI doesn't push through to the gallery - when not put in the PSD1 file see this UserVoice Issue regarding this http://windowsserver.uservoice.com/forums/301869-powershell/suggestions/11439807-gallery-issue-licenseuri-projecturi-aren-t-add

[2016-01-15 22:13] KarolKaczmarek commented on #153
Thanks for headsup @kilasuit

Previously published version had license, project and tags populated correctly (http://www.powershellgallery.com/packages/xSharePoint/0.7.0.0 ), so it looks like there's some regression with Publish-Module cmdlet we use in our automation to publish modules.

I've already followed up with the PowerShell Gallery team about it.
Will keep you updated.

Thanks,
Karol

[2016-01-15 22:27] kilasuit commented on #153
@KarolKaczmarek Could you please point them to this blog post http://bit.ly/PSGalleryAutoBot1 on the issues that I've seen with the PowerShell Gallery (I run an Autobot on Twitter - @ThePSGalllery) and if needs be they can reach out directly to me on this via email ryan.yates@kilasuit.org

[2016-01-15 22:31] kilasuit commented on #153
It seems that currently the psd1 file needs to contain the LicenseURI & ProjectURI for it to be discoverable in the PowerShell Gallery and I would recommend that this is updated in this & other Repo's as this info should be in there anyway - though thats just my opinion ;-p

[2016-01-17 21:33] ykuijs commented on #147
Am going to test this one and implement the changes suggested earlier.

[2016-01-20 20:03] ykuijs commented on #147
@BrianFarnhill : Ok, have tested it. Here are the results:
As you specified, when the policy contains the claim value for the user and the resource specifies the domain\user format user, the resource returns true. This means that there is no way anymore (using DSC) you can add the domain\user format. However as specified in my first post, in some cases this is required to have SharePoint work prop

[2016-01-20 20:42] KarolKaczmarek commented on #153
@kilasuit Thanks, forwarded to the team.

[2016-01-21 20:24] ykuijs commented on #149
Working on it!

[2016-01-23 02:17] BrianFarnhill commented on #150
The typo that was causing the issue here has been resolved in #157, marking this issue as closed

[2016-01-23 02:17] #150 closed

[2016-01-23 02:18] BrianFarnhill commented on #153
Seeing that his is bring tracked in the main DscResources repo, any objection to closing this issue off @kilasuit @KarolKaczmarek ?

[2016-01-23 02:19] BrianFarnhill commented on #148
Pretty happy with this list - I'll put this in to the enhancement category and we can capture this in a future udpate.

[2016-01-24 10:31] #49 closed

[2016-01-24 10:32] #26 closed

[2016-01-27 20:28] BrianFarnhill opened #161 "Add descriptions to MOF file schemas"
As raised in #159 by @TravisEz13 the MOF schemas in xSharePoint do not have descriptions on each property. These would provide a better experience when editing in the ISE, so should be added to all xSharePoint resources.

[2016-01-27 20:31] kilasuit commented on #153
Closed as per @BrianFarnhill suggestion above

Found that this isn't localised to the xSharePoint Module and is being tracked via main DSC Resource Repo

[2016-01-27 20:31] #153 closed

[2016-01-29 01:06] NaomiReeves opened #163 "xSPSubscriptionSettingsServiceApp Proxy"
I'm working on configuring my app domain with DSC and Chef and had been receiving errors indicating that I need to configure my Subscription Settings. I discovered that even though I was using the Subscription Service resource, the Subscription Service Proxy hadn't been configured. Upon investigation of the module code it looks like it doesn't create the proxy. Is the intent to create a separate r

[2016-01-29 02:06] camiloborges commented on #163
Hello.
You can get around it by replacing line 66 on the resource code

            $serviceApp = New-SPSubscriptionSettingsServiceApplication @newParams
            $proxy = New-SPSubscriptionSettingsServiceApplicationProxy -ServiceApplication $serviceApp

I am testing the fix to it right now. hopefully we can include it in the next release

[2016-01-29 02:12] NaomiReeves commented on #163
Fantastic, I was just testing a similar fix in my code. Thanks for the help and quick response.

[2016-01-29 02:21] camiloborges commented on #163
you might also want to add -DefaultProxyGroup too

[2016-01-29 02:44] BrianFarnhill commented on #163
I love it when you guys figure stuff out for me. @camiloborges I can put the fix in with a couple of other bugs I'll be patching tonight ahead of the v0.10 release branch, so I'll pick this one up.

[2016-01-29 02:48] camiloborges commented on #163
Hello.
Change is already done. I just ended up screwing up and pushing it to the
wrong branch....

On Fri, Jan 29, 2016 at 1:44 PM, Brian Farnhill <notifications@github.com>
wrote:

[2016-01-29 04:02] BrianFarnhill commented on #163
This fix is now in the dev branch and will go out in v0.10 next week. Closing this issue off

[2016-01-29 04:02] #163 closed

[2016-01-30 09:59] BrianFarnhill commented on #149
Added to v0.10 - closing this issue

[2016-01-30 09:59] #149 closed

[2016-01-30 10:01] BrianFarnhill commented on #39
Released in v0.10 - closing this issue

[2016-01-30 10:01] #39 closed

[2016-01-30 10:01] BrianFarnhill commented on #38
Released in v0.10 - closing this issue

[2016-01-30 10:01] #38 closed

[2016-01-30 10:06] BrianFarnhill commented on #25
This was released in v0.10 - closing now

[2016-01-30 10:06] #25 closed

[2016-02-01 01:29] camiloborges commented on #35
Hello
I might work on this one.
Notes:
Needs to support:
1) update key: https://technet.microsoft.com/en-us/library/ff607850.aspx
2) Applications, and Fields: covered on Update-SPSS https://technet.microsoft.com/en-us/library/ff607985.aspx

it sounds like this will become another complex module.

[2016-02-03 23:21] BrianFarnhill opened #170 "Add support for cloud search service application"
xSPSearchServiceApp needs to add an option to enable to cloud search service application. This can be configured in a search service app by adding the CloudIndex option:

    New-SPEnterpriseSearchServiceApplication -Name $SearchServiceAppName -ApplicationPool $appPool -DatabaseServer $DatabaseServerName -CloudIndex $true

The change should check for the August 2015 Public Update (PU) for SharePoi

[2016-02-04 19:26] magnustomte opened #171 "MSFT_xSPWorkManagementServiceApp breaking xSharePoint configurations"
When executing a configuration with xSharePoint 0.10.0.0 or later the following error occurs:

At C:\Windows\system32\WindowsPowerShell\v1.0\Modules\PSDesiredStateConfiguration\PSDesiredStateConfiguration.psm1:1972 char:50
+ ... dResource = ImportCimAndScriptKeywordsFromModule -Module $mod -Resour ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2016-02-04 21:27] camiloborges commented on #171
Hello @magnustomte
I am looking into it right now, I should be able to share a fix in a couple of hours.
Cheers

[2016-02-04 21:32] BrianFarnhill commented on #171
@camiloborges Ping me with the fix - we've been caught out on this a couple of times so I want to write some unit tests that compile the MOF schemas to make sure we catch this sort of thing before a release next time.

[2016-02-04 21:46] camiloborges commented on #171
Sure thing. Will do :)

[2016-02-05 02:15] camiloborges commented on #171
Hello. fix implemented.
https://github.com/camiloborges/xSharePoint/tree/xSPWorkManagementApp

There was few inconsistencies with the mof schema as well as a rookie mistake whereby DSC Configuration would do the job, but an exception would be thrown when service is absent.

[2016-02-05 03:07] BrianFarnhill opened #172 "Removing Visual Studio Project files and switch to Visual Studio code"
Hey guys,

I'm contemplating removing the Visual Studio Project files (*.sln, *.psproj) as they are only there to facilitate us all using Visual Studio as the editor when working on xSharePoint, and adding some files that will enable support for [Visual Studio Code](https://code.visualstudio.com/) instead (making use of the new [PowerShell support](https://blogs.msdn.microsoft.com/powershell/2015/

[2016-02-05 03:17] camiloborges commented on #172
Hey. I quite like the idea, however, many people are not yet using Visual Studio Code, wouldn't that become a road blocker ? I just don't want to lose the traction and have even fewer people contributing to this project.

[2016-02-05 03:19] BrianFarnhill commented on #172
Well in theory you don't need to use VS code - you could use whatever you wanted. The VS Code inclusion makes a folder called .vscode which we put a file launch.json in there, this tells VS code how to run the project (which at this point I think would just call the unit tests). So if you aren't using VS code then this doesn't hurt anyone. But outside of that you could just use PowerShell ISE or a

[2016-02-05 03:21] camiloborges commented on #172
I kinda like project files, but yes, using visual studio actually causes me more problems than solutions. I always end up using ISE to finish and test files, and have lost changes because of a not to "do you want to reload your files"?
Go for it. if anyone wants they can have their own Visual studio project files

[2016-02-05 03:23] BrianFarnhill commented on #172
Actually that's a good point - I might add the project files to the ignore file for the project to make sure they don't sneak their way back in so people can still use them themselves if they like while not committing them.

[2016-02-05 03:52] BrianFarnhill commented on #172
The changes for this are in #173 - I'll leave this open for a bit in case anyone else has feedback before I force it in to dev

[2016-02-05 05:22] kilasuit commented on #172
I'm undecided on this and (I think) for good reasons

- I mainly use ISE
- I'm starting to use VS for other projects
- I'm undecided on how useful VSCode is in PS world
- Does removal (or non-removal) make much difference in getting started with this?

Regards the last point the OfficeDevPnP PowerShell repo still has them included (I only use this as a reference as I'm about to start some work on

[2016-02-05 05:48] BrianFarnhill commented on #172
So i dont think removing it makes a problem - most scripters are used to using the ISE anyway. I've had more feedback about the fact that people have to install Visual Studio and the PowerShell extensions for it and that doing so is a pain in the butt, so if anything taking it out removes that ramp up requirement here.

I've also just had a bit of a play around with the ISE and I may even up using

[2016-02-06 23:15] kilasuit commented on #172
@BrianFarnhill - Ok now that makes things clearer to me and it looks like @KarolKaczmarek has merged #173 so this issue could now be closed

[2016-02-09 04:02] #172 closed

[2016-02-09 04:03] BrianFarnhill commented on #171
@camiloborges Can you flick me a PR with that file in it so I can merge it to dev?

[2016-02-09 04:06] BrianFarnhill opened #174 "Detect issue with installing SP2013 with .NET 4.6"
There is a [known issue](https://support.microsoft.com/en-us/kb/3087184) when you install SharePoint 2013 on a server with .NET 4.6 installed, which causes the below error to show up:

This is something that the xSPInstall resource could detect and throw a meaningful error with, as opposed to letting a user believe the prereqs haven't installed correctly. Below is a script that can detect installe

[2016-02-09 05:08] camiloborges commented on #171
Sure. Will do tonight. Will need a manual merge

[2016-02-09 22:33] ykuijs commented on #147
Working on this one

[2016-02-10 03:31] BrianFarnhill opened #176 "Add support for AlwaysOn Availability Group enrollment for databases"
A DSC resource could be used to facilitate putting SharePoint databases in to specific AlwaysOn Availability groups in SQL server through the use of the Add-DatabaseToAvailabilityGroup cmdlet (which is part of the Microsoft.SharePoint.PowerShell snapin, thus why we'll look to add this here and not in xSql). An example structure for this resource:

    xSPAAGConfiguration ConfigDBAAG {
        Data

[2016-02-11 01:16] NaomiReeves opened #179 "Add support for Secure Sockets Layer to xSPWebApplication"
I'm currently trying to configure a new web application to run on 443 and need to be able to set the Secure Sockets Layer to true. It looks like this is an option in the [xSPWebApplicationAppDomain](https://github.com/PowerShell/xSharePoint/blob/dev/Modules/xSharePoint/DSCResources/MSFT_xSPWebApplicationAppDomain/MSFT_xSPWebApplicationAppDomain.psm1). I think this would be a pretty helpful optiona

[2016-02-11 01:22] BrianFarnhill commented on #179
Hey @NaomiReeves

I was actually pretty sure we put this in, but from the looks of it we didn't! I'm working on a customer gig that is going to need this as well so expect me to get that built in very shortly for the next release.

[2016-02-11 01:30] NaomiReeves commented on #179
Great, thanks @BrianFarnhill

As an FYI, I'm working on getting my system set up so I can contribute beyond just submitting issues.

[2016-02-11 01:42] camiloborges commented on #179
@BrianFArnhill
I am also under the impression we had it. Perhaps we lost it when we split up he designer, workflow and app domain resources?
It should be pretty straight forward to implement anyway.
Need to highlight in the doco that admin needs to have certificate configured afterwards.

Camilo Borges
Sent via iPhone while out and about

[2016-02-11 01:44] BrianFarnhill commented on #179
@camiloborges Thats what I was thinking - its just one flag on the cmdlet though so it'll be quicker to just add than for me to dig through the history to find it. Like I said I'll literally need this for a customer this week or next so I'll get it back in.

[2016-02-11 09:43] BrianFarnhill commented on #44
In progress - Pull request to be tagged shortly

[2016-02-12 11:15] BrianFarnhill commented on #179
Told you I was gonna come across this one this week :P The fix is in #183 and will be in dev shortly!

[2016-02-12 16:41] NaomiReeves commented on #179
Yea! Thanks so much, looks good.

[2016-02-13 23:30] ryanspletzer opened #184 "Public Updates (PU's)"
This is more of a general question: What would be the preferred approach for handling public updates (PU's) for SharePoint as they come out?

Or should these DSC Resources just be focused on setup / config of SharePoint and such PU's should be handled through separate configuration?

[2016-02-13 23:37] BrianFarnhill commented on #184
Hey @ryanspletzer

So the question of patching has been thrown around by my team internally since the very first versions of xSharePoint. Unfortunately at the moment there isn't anything we can do with xSharePoint to handle installation of a specific update but it is absolutely on the radar. We had decided to hold off on making decisions on how we handle this until we have some public documentatio

[2016-02-14 10:13] camiloborges commented on #184
That is a good question.
Short answer: I think we should have support for it.

Applying a PU is an common and required activity that is part of BAU just as much as creating an user profile property, and since DSC provides an abstraction layer we really need to have that.
The thing is that there has to be a way to recreated the environment with exactly the same process, which brings the need for ve

[2016-02-15 00:46] BrianFarnhill commented on #184
I'm actually gonna have to disagree with you here @camiloborges

One of the primary concepts of desired state configuration is that you only need to define the state you want the servers/services to be in, not how you get there. So in theory, I should be able to roll out straight to v1.1.3 of your example there without going through the other stages, because thats the version that is my "desired s

[2016-02-15 06:33] camiloborges commented on #184
The philosophy can wait, so let me answer it with DSC as it is designed  ;)

Having the patch can and should be a separate resource, it has an reason even even from a brand new implementation.

I hardly ever streamlined patches, probably because I was never really an infra guy :), so I could have a need to install it anyway, just like we install SP and PreReqs. So, it could be that I need to have

[2016-02-15 10:39] BrianFarnhill commented on #184
OK so a few points to respond to there - first, I agree that slipstreaming is not the answer. For doing a brand new installation I think it is, but thats a one off and doesn't really address how we look at patching (because in the real world people don't build new farms at the higher patch level to do database attaching as an upgrade mechanism).

To your point about replaying a configuration - you

[2016-02-15 11:03] caadam commented on #184
DSC enables us to quickly and efficiently deploy boxes and entire farms. This kind of 'Infrastructure as Code' concept enables us to treat server like cattle and now pets. We shouldn't be encouraging or enabling people to keep servers & farms for long durations. If a server or farm needs is faulting or needs patching, use DSC to build a new farm, migrate the DBs etc, TEST TEST TEST and do a DNS cu

[2016-02-15 21:21] camiloborges commented on #184
Let's ignore the principle and the devops and dsc principles. I don't argue with purists :)

Going back to the focus of the conversation, which is how to push product patches to an environment.

Brian, your whole thinking is completely cool, but is it really achievable(or worthwhile) to have really zero downtime? The priority list is a nice idea, and I think you handled a similar situation with se

[2016-02-16 12:51] ykuijs commented on #184
I am a bit torn between two thoughts:
- I really like the idea to add this functionality to xSharePoint. It would make the automation process so much better. Especially when installing a new farm and making sure it has the most recent patches installed. In this case the install order and unavailability of the farm is much less of an issue.
- However I am not sure how much customers would like to u

[2016-02-17 02:58] BrianFarnhill commented on #184
@camiloborges I agree that the priority list is a nice idea, but I do think we are stretching ourselves here, at least for a first cut of something. So perhaps we say "here is how the patch thing works, expect downtime in the window you specificy on the resource" or something like that?

@ykuijs If customers are doing it manually I think the question we need to ask why - what would it take for the

[2016-02-17 03:40] camiloborges commented on #184
@BrianFarnhill - That is it. Better simple and dependent on correct usage and guidance than perfect and never finished :) Go with the fact there will be downtime. I am yet to see a client that doesn't expect it anyway. :D

I have ideas around the question you asked @ykuijs  but I will give him time to reply :P

[2016-02-17 07:55] ykuijs commented on #184
Since updating is a tricky process, customers would like to have full control over the process. Where you can change less impactful settings (like Farm Admins or Outgoing email settings) outside of a maintenance window, DSC is very useful. Patching is much more difficult. Doing this manually or via a custom script, you have control over the exact process and the sequence of patching.

Is it possib

[2016-02-17 11:02] camiloborges commented on #184
Hey @BrianFarnhill , so, what about the PU resource have a slightly different behavior in 1 named server?
xSPVtcBFProductUpdate {
Version="Jan2015"
Binaries="Path"
PSConfigServer="namedserver.contoso.com"
}

then the process only executes PSConfig on the named server.

Can't get simpler, I think

[2016-02-17 11:16] ykuijs commented on #184
Two questions:
1. How to determine the version on the server? Where/how can you check Version=Jan2015??
2. Why specify a PSConfigServer? PSConfig needs to run on each server in the farm. Just the first server on which PSConfig runs will upgrade all content databases, etc.

Just thought about the answer to my own question: Since SP2010 PSConfig automatically checks if a upgrade process is running o

[2016-02-17 11:31] camiloborges commented on #184
1. a.SharePoint.Core.dll on the server GAC? Get the latest version?
1.b. no where, it should really be tche build version. Could also be optionally grabbed from the package itself, but that would be a little harder :)
2. I am a retarded :) I simply forgot about this detail. Txs for calling out.

We can't have PSConfig running in more than 1 server before the first one is finished, can we?
- If not

[2016-02-17 11:49] ykuijs commented on #171
Issue should be resolved with PR #177, correct? If so, this issue can be closed.

[2016-02-17 11:51] ykuijs commented on #144
Working on implementing the changed resource. Have included this update as well. Will create a PR when done.

[2016-02-17 11:52] ykuijs commented on #147
Also including #144

[2016-02-17 14:43] ykuijs commented on #184
Exactly, SharePoint only registers the build numbers. But keep in mind that build numbers can be very deceptive:
https://blogs.technet.microsoft.com/stefan_gossner/2014/08/18/sharepoint-patching-demystified/
https://blogs.technet.microsoft.com/stefan_gossner/2014/10/23/common-question-why-does-the-version-number-on-the-servers-in-farm-page-not-change-after-installing-october-cu/

It totally depend

[2016-02-17 15:33] ykuijs commented on #184
You can run PSConfig on multiple servers at the same time, however the actual upgrade process can only run on one server at a time. Therefore PSConfig places a lock on the configdb when it starts upgrading and beforehand checks if another server already has such a lock. If so, it will wait with the upgrade until the lock is released.

[2016-02-17 20:40] tonyhxh opened #185 "No install bits in the examples?"
There is no install bits in the examples?

Thanks
Tony H

[2016-02-17 20:44] BrianFarnhill commented on #185
Thanks for letting us know Tony. I'll get them added in for the next release. In the mean time you can check out the wiki documentation on those components as a starting point:

- [xSPInstallPrereqs](https://github.com/PowerShell/xSharePoint/wiki/xSPInstallPreReqs)
- [xSPInstall](https://github.com/PowerShell/xSharePoint/wiki/xSPInstallPreReqs)

[2016-02-19 02:50] #171 closed

[2016-02-19 02:52] BrianFarnhill commented on #147
@ykuijs Ping me to talk about this one again - I can't remember the spcifics of how we were approaching this and want to be sure we don't lose functionality. Thanks dude

[2016-02-19 02:53] #44 closed

[2016-02-20 03:18] BrianFarnhill commented on #161
This is attached to PR #190

[2016-02-20 04:04] BrianFarnhill commented on #185
This is now in PR #191 and will be merged in to dev once it is reviewed

[2016-02-20 04:04] BrianFarnhill commented on #176
This was merged in #178 - closing this issue

[2016-02-20 04:04] #176 closed

[2016-02-20 06:26] BrianFarnhill commented on #174
Open in PR #192 - will close this off when it merges to dev

[2016-02-20 20:07] ykuijs commented on #147
Check your mail

[2016-02-21 03:43] BrianFarnhill commented on #179
This just got merged to dev - closing this issue

[2016-02-21 03:43] #179 closed

[2016-02-21 04:00] BrianFarnhill commented on #185
This just got merged in to dev, closing this issue

[2016-02-21 04:00] #185 closed

[2016-02-21 04:13] BrianFarnhill commented on #174
This is now merged to dev, closing this issue

[2016-02-21 04:13] #174 closed

[2016-02-21 04:47] BrianFarnhill commented on #161
Merged in to dev, closing this issue

[2016-02-21 04:47] #161 closed

[2016-02-22 02:10] BrianFarnhill commented on #135
I'm working on the Server 2016 support at the moment, we'll see if that helps clear this up.

[2016-02-24 06:16] BrianFarnhill commented on #135
For anyone still following this, I've been making some changes in [one of my branches](https://github.com/BrianFarnhill/xSharePoint/blob/feature-server2016support/Modules/xSharePoint/DSCResources/MSFT_xSPInstallPrereqs/MSFT_xSPInstallPrereqs.psm1) to support Server 2016 (I know the support is listed in the SharePoint 2016 RC for TP3, but I've been doing my testing against TP4). If anyone wants to

[2016-02-26 22:04] BrianFarnhill commented on #135
This fix was merged in to dev in #196 - closing this issue. If anyone has further issues installing the RC of 2016 on Server 2016 please raise new issues related to what you are seeing. Thanks guys

[2016-02-26 22:04] #135 closed

[2016-02-28 04:20] BrianFarnhill commented on #102
So after catching up on this one, it appears the issues that were raised re:looping on the prereq check have been sorted. After discussions here and within my core team as well, the choice around "should we use the prerequisiteinstaller.exe to install things or do it by hand" is going to be that we'll keep using the prerequisite installer. That way if/when it gets changed in a service pack release

[2016-02-28 04:20] #102 closed

[2016-02-29 04:37] BrianFarnhill commented on #28
I'm on this one guys

[2016-03-01 10:33] andy-cox opened #200 "Cim deserializing error for MSFT_xSPWorkManagementServiceApp."
I'm receiving an error while trying to compile my configurations using the latest version of xSharePoint (0.11.0.0).

Here's the error message:

[code]

It seems to have something to do with the type definition ```System.UInt32``` in the schema.mof. I'm using a clean install of Windows Server 2012 and the latest WMF 5.0 (24th Feb 2016).

I'm fairly new to Dsc but have had no problems if I downgrad

[2016-03-01 11:59] BrianFarnhill commented on #200
Hey @andy-cox - this is a duplicate of issue #171 and it has been resolved in version 0.12, which should be released to the PowerShell gallery this week. If you want the fix in the mean time, you can grab the [updated MOF file from the release branch](https://github.com/PowerShell/xSharePoint/blob/release-v0.12/Modules/xSharePoint/DSCResources/MSFT_xSPWorkManagementServiceApp/MSFT_xSPWorkManagemen

[2016-03-01 11:59] #200 closed

[2016-03-01 12:03] ykuijs opened #201 "Create new xSPContentDatabase resource"
Currently we have no way to manage the settings of content databases or to add/remove databases to web applications. We need a resource to be able to manage these.

When the content database is not yet added to the web application and Ensure=Present, the resource adds the database to the web application.
When the content database is already added, the resource makes sure the settings are configure

[2016-03-01 12:05] BrianFarnhill commented on #201
Happy to see this one go in as long as we make sure that in the event of saying "Ensure = Absent" that we only dismount the content database - under no circumstances do I want to see us automatically delete data as part of a configuration. You wanna take this one now or just leave it in the back log?

[2016-03-01 12:16] ykuijs commented on #201
1000% agree! Never automatically delete data!

Sure, put it on my name. Am working on completing the WebAppPolicy first, after that I will start this one.

[2016-03-01 12:27] andy-cox commented on #200
@BrianFarnhill - apologies! I did search but must have missed that issue. Thanks for the info.

[2016-03-01 12:27] BrianFarnhill commented on #200
No sweat - I would rather people report duplicates than not report things at all :)

[2016-03-07 15:54] jmcanally opened #203 "Question about the example files"
I'm lost as to how to use the example files.  Shouldn't there be a PSM1 file to accompany the PSD1?

[2016-03-07 20:52] BrianFarnhill commented on #203
No, the example files will run and generate your MOF file for you based on the parameters in the PSD1 file. Are you seeing a specific error or anything like that?

[2016-03-07 22:57] jmcanally commented on #203
That's the odd part, no error.  I just get an empty folder named SharePointServer with no MOF.  Nothing in the event logs either.  I'm certain there's a step I'm missing, here's my steps so far...

 - Download latest dev version of xSharePoint
 - Change file properties on ZIP as to Unblock
 - Extract contents of Modules folder to Powershell modules folder (ex: c:\prog files\powershell\modules)
 -

[2016-03-08 03:54] BrianFarnhill commented on #203
When you call SharePointServer you need to add the ConfigurationData property to tell it where the PSD1 file is, it won't know where it is by default and without it you get no output.

    SharePointServer -ConfigurationData '.\Single Server\SharePoint.psd1'

Keep in mind that by default you'll see errors here about encrypting credentials unless you add certificate details to the example, or tell

[2016-03-08 16:39] jmcanally commented on #203
So the switch for ConfigurationData is exactly what I was missing.  After adding that I was able to generate the MOF as expected.  Thanks for the help and the quick response.

[2016-03-08 21:39] mariusv-msft opened #205 "xSPCacheAccounts not adding claims identity"
The current xSPCacheAccounts resource doesn't add the correct user identity to the web application policy when utilizing claims for a specific web application.

[2016-03-08 22:47] BrianFarnhill commented on #28
#202 contains the code for this, I'll close when that PR closes

[2016-03-09 03:04] BrianFarnhill opened #207 "Tests fail in xSPUserProfileSyncConnection under latest versions of Pester"
Under Pester 3.4 or higher we are seeing failures in tests for xSPUserProfileSyncConnection. And example of the test output is below.

    Describing xSPUserProfileSyncConnection
       Context When connection doesn't exist
        [+] returns null from the Get method 302ms
        [+] returns false when the Test method is called 47ms
        [-] creates a new service application in the set method

[2016-03-09 03:08] BrianFarnhill opened #208 "xSPVisioServiceApp does not work on PowerShell 4"
xSPVisioServiceApp will not work on machines that have PowerShell 4 (only PowerShell 5, using the PsDscRunAsCredential attribute) as it does not have an InstallAccount property in its schema. This should be added to allow the backwards compatibility to work correctly.

[2016-03-09 03:22] caadam commented on #208
I'll look a this tonight

[2016-03-09 03:30] camiloborges commented on #207
Good timing. Took the afternoon off to be on my own in a pub. Now I have something else to do while having a sip or 20

Camilo Borges
Sent via iPhone while out and about

[2016-03-09 04:41] camiloborges commented on #207
hey
Module: xSPUPSConn.
line 157:        $list = New-Object System.Collections.Generic.List[[Microsoft.Office.Server.UserProfiles.DirectoryServiceNamingContext]]

this should be returning the object defined on  test script, line 107-109. It is returning null, so $list doesn't have the 'Add' method

I am running out of time here, but got to it.

[2016-03-09 04:45] camiloborges commented on #208
Hey. Can you also add the $Ensure please?

   [Required, Description("Present ensures the URL is set for this zone on this web app, Absent ensures it is removed"), ValueMap{"Present","Absent"}, Values{"Present","Absent"}] string Ensure;
    [Write, Description("POWERSHELL 4 ONLY: The account to run this resource as, use PsDscRunAsAccount if using PowerShell 5"), EmbeddedInstance("MSFT_Credential")

[2016-03-09 04:46] camiloborges commented on #148
Hey, I think we need to address this for V1.0. It believe we'll also benefit from having it when we get the reverse module sorted out

[2016-03-09 08:32] BrianFarnhill commented on #208
@caadam @camiloborges Leave the ensure parameter, I'm doing that in a big run through for issue #148 - just get the install account in as its own change for this one thanks

[2016-03-09 08:32] BrianFarnhill commented on #148
I'm taking this one to get it in for 1.0

[2016-03-09 08:39] BrianFarnhill commented on #170
The code for this is in #209 but we need to separate it out from the other changes in that PR, so it will likely be closed there and opened as a new PR

[2016-03-09 08:44] BrianFarnhill commented on #28
This was merged to dev in #202 - closing this issue

[2016-03-09 08:44] #28 closed

[2016-03-09 08:46] caadam commented on #208
Changes made @BrianFarnhill , time for a good'ol fashion code review.

[2016-03-09 14:58] andy-cox opened #210 "Add support for NetBIOS domain names in xSPUserProfileServiceApp"
Allow the xSPUserProfileServiceApp resource to [enable NetBIOS domain names](https://technet.microsoft.com/en-gb/library/ee721049.aspx#NetBIOSProc).

[2016-03-09 20:49] BrianFarnhill opened #211 "Add "SetCacheAccountPolicy" attribute to xSPCacheAccounts"
The SetCacheAccountPolicy property should be added and defaulted to true as a flag on xSPCacheAccounts in order to make the cache account configuration optional. This needs to be done in case someone is using xSPWebAppPolicy to set the cache accounts and we end up with the two resources fighting each other to set accounts in to the policy settings.

[2016-03-09 22:12] ykuijs commented on #147
New addition after a discussion with Brian:
Add SetCacheAccountsPolicy (boolean) property to make sure the Cache Accounts are also added (in claims format) to the policy.

[2016-03-09 23:18] BrianFarnhill opened #212 "Add xSPOfficeWebAppsBinding resource"
We need to add a resource that will allow for setting the bindings to Office web apps server. The resource will initially just be focused around setting a single binding for all types and will add support to narrow a binding to an application type later. The first cut of the resource should look something like this:

xSPOfficeWebAppsBinding OWABinding
{
    ServerName = "webapps.contoso.com"
    A

[2016-03-10 11:13] andy-cox commented on #207
I've found I'm getting errors when using this resource if the SharePoint admin account is not a User Profile Service Application admin and if it does not have full control permissions to the Service App.

Is [this](http://sharepoint.stackexchange.com/questions/22161/powershell-error-when-trying-to-hook-into-userprofileconfigmanager) related to this problem?

The errors i'm getting:

SPAdmin not go

[2016-03-10 11:58] camiloborges commented on #207
Hello.
Yes, you do have problems if the permissions aren't there.

I am not sure we kept it, but there was an exception being thrown when the upsmanager is null and the message actually say it is is possibly due to permissions.

@Brianfarnhill recently found an issue in multi server farms whereby it would only work if running with the farm account, which was, I think, included in the latest releas

[2016-03-10 21:11] BrianFarnhill commented on #207
@andy-cox @camiloborges Yea I did two farms for a customer this week that both started the UPS fine using this as the resource:

            xSPUserProfileSyncService UserProfileSyncService
            {
                UserProfileServiceAppName = "User Profile Service Application"
                Ensure                    = "Present"
                FarmAccount               = $FarmAccount

[2016-03-11 09:13] andy-cox commented on #207
@BrianFarnhill, I have configured CredSSP using xCredSSP and was also lazy using a wildcard domain in the delegated computers. The SP_UserProfiles DB's owner is also the farm account, SPFarm.

My config:
[code]

All the parameters are pretty standard.

[2016-03-11 21:52] BrianFarnhill commented on #207
@andy-cox Open this as a new issue, its not related to the failing tests that opened this one so lets look at it as a separate issue. Thanks dude

[2016-03-14 08:07] andy-cox opened #214 "xSPUserProfileSyncConnection fails due to incorrect permissions"
The account used to access the UserProfileConfigManager does not have the correct permissions causing the creation of the sync connection to fail. Adding the the admin/install account manually, to the UPSA admins and permissions with full control, in Central Admin seems to resolve this problem and the connection can be created successfully.

The errors i'm getting:

Admin/install account not got F

[2016-03-16 18:59] tonyhxh opened #217 "Language Packs"
Hello, Brian:

Is there a plan to install language pack, and create a Resource Module called, say "xInstallLanguagePack"?

Thanks
Tony Huang from GM

[2016-03-16 19:08] dwilkes opened #218 "Out-File Logging inside each module"
Please look to add  a utility that will write to a log file from within each "function" in a module. Looking to get Verbose logging out to a file. High Importance!

Derek Wilkes - General Motors

[2016-03-16 19:11] tonyhxh opened #219 "web.config modification"
Is there a plan to create a resource module to update web.config of web apps?

Thanks
Tony Huang

[2016-03-16 21:09] BrianFarnhill commented on #218
Hi Derek,

This idea was thrown around when we were in the early planning stages but it was decided that we would park it, as realistically we would need something more generic that would work across all DSC resources and not just xSharePoint. That said though, there are ways that you can look to capture the output yourself. If you ever go and have a look at how we use the DSC extension in Azure f

[2016-03-16 21:11] BrianFarnhill commented on #214
Hey @andy-cox - I'm working on xSPServiceAppSecurity as we speak which will allow us to script adding to the service app permissions like that, so when that is ready we can use that to resolve this issue in a better way. I'll look in to whether or not we need a check for this inside the user profile sync resource though to through a more meaningful error.

[2016-03-16 21:14] BrianFarnhill commented on #217
Hi @tonyhxh

I'll put this in to our backlog to look at. I've not scripted the install of a language pack before but it may even be possible to use the [Package resource](https://msdn.microsoft.com/en-us/powershell/dsc/packageResource) to do this instead of a custom one in xSharePoint. I'll have a look in to this and let you know how we get on.

 \- B

[2016-03-16 21:16] BrianFarnhill commented on #219
For settings that go to the "AppSettings" part of the config file, you can use [xWebConfigKeyValue](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebConfigKeyValue/MSFT_xWebConfigKeyValue.psm1) from [xWebAdministration](https://github.com/PowerShell/xWebAdministration) to do this. For more complex modifications, we have thrown some ideas around about how to tackle th

[2016-03-17 00:17] BrianFarnhill commented on #214
@andy-cox If you want to take a look at my first cut of this one, its [in my repo](https://github.com/BrianFarnhill/xSharePoint/tree/feature-serviceappsecurity/Modules/xSharePoint/DSCResources/MSFT_xSPServiceAppSecurity)

I still need to write my unit tests to make sure my logic all makes sense, but I've used it to add some accounts to my test environment through the MembersToInclude property succ

[2016-03-17 01:07] camiloborges commented on #214
We used to have a test under user profile property for that very same permissions issue. We might ened to included that in the user profile connection too.
https://github.com/PowerShell/xSharePoint/blob/2b497fcef4465634b1af4a3a1a4630902cda8700/Modules/xSharePoint/DSCResources/MSFT_xSPUserProfileProperty/MSFT_xSPUserProfileProperty.psm1#L179

[2016-03-17 02:50] BrianFarnhill commented on #214
@camiloborges Agreed, lets get that same test in to the user profile sync resource as well

@andy-cox The resource to set the permissions is now sitting in PR #220 and will be merged in to dev as soon as one of my guys code reviews it.

[2016-03-17 15:59] tonyhxh commented on #219
I was mainly talking about SPWebConfigModification which can apply changes to every node at one time.

I guess xWebAdministration probably can do the job. thanks a lot.

[2016-03-17 15:59] tonyhxh commented on #217
Package probably can do the job. We will give a try. Thanks

[2016-03-17 20:36] BrianFarnhill commented on #217
I'll leave this one open until we can investigate and confirm. Thanks @tonyhxh

[2016-03-17 20:38] BrianFarnhill commented on #219
The problem with SPWebConfigModification is that you will find that it won't enforce a desired state as well as DSC would when someone makes manual changes to a web.config file after the SPWebConfigModification class applies its changes. So if you are going to be changing web.config files, I would look in to what xWebAdministration can do and whether or not that needs extending. I'm closing this o

[2016-03-17 20:38] #219 closed

[2016-03-18 00:19] BrianFarnhill opened #223 "Add xSPReportingServicesServiceApp resource"
We need a resource that will allow the integration with reporting services deployments that are in SharePoint mode. This resource should not do the installation of reporting servers, just the SharePoint integration.

[2016-03-18 02:32] BrianFarnhill opened #224 "Add ContentTypeHub property to xSPManagedMetadataServiceApp resource"
We need to add a property to xSPManagedMetadataServiceApp that allows setting where the content type hub will be for that service application.

[2016-03-18 04:05] BrianFarnhill opened #225 "Extend xSPExcelServiceApp resource"
The Excel service app is currently open in #204 but will need some additional options added to it beyond the first version we cut there. These include

 * HTTPS Trusted Site locations
 * Maximum file size
 * ApplicationID (for secure store credential)
 * ConnectionTimeout

[2016-03-18 04:10] BrianFarnhill opened #226 "Create xSPPowerPivotServiceApp resource"
A new resource needs to be created to allow for the creation of the "SQL Server Power Pivot Service Application" needed to enable PowerPivot in a farm.

The whole process is [documented on TechNet](https://technet.microsoft.com/en-us/library/dn456880.aspx) but this doesn't include the PowerShell cmdlets. It's also worth calling out that this resource should just do the service application, not the

[2016-03-18 10:27] magnustomte commented on #217
Hi
You can install the binaries using Package, but you still need to configure SharePoint. Otherwise you will get "Upgrade Required" (although running stsadm -o localupgradestatus shows 0 pending upgrades).

The reason for this is that when installing the language packs, the installer sets HKLM:\SOFTWARE\Microsoft\Shared Tools\Web Server Extensions\*\WSS\LanguagePackInstalled to 1. This is discuse

[2016-03-18 10:33] magnustomte commented on #200
@BrianFarnhill - any news when v0.12 will hit PSGallery? It is unfortunate that the available version (v0.11) is a non-functional version. :)

[2016-03-18 16:22] tonyhxh commented on #218
Brian:

I am not sure it's a good idea to change the default behavior of the pull method. Could you let me know why in the DSC resource modules, you didn't use OOTB log module to dump the verbose log to analytic/debug event log?

Thanks
Tony Huang from GM

[2016-03-19 02:46] BrianFarnhill commented on #218
Hi @tonyhxh - typically we don't see customers wanting to log every single action DSC attempts, only when things don't work and you're in a troubleshooting scenario, so the out of the box logging to the windows event log that shows when a configuration started and completed, as well as the compliance server reporting from using a pull server is generally enough.

What I've proposed there isn't cha

[2016-03-19 02:52] BrianFarnhill commented on #200
@magnustomte Yea I'm not sure what the hold up on this one is - it's on my list to chase though. I'll advise as soon as I have something on this. In the mean time you can download from the release branch here if you need to fix sooner rather than later. My apologies for the delay on this though!

[2016-03-19 02:54] BrianFarnhill commented on #217
@magnustomte That's great. I might try to add a "ScheduleWindow" option to this as an optional parameter for people that don't want that running just whenever as it will cause a brief outage - but other than that thats a great start that we can use. I'll make sure this gets picked up and put in.

Do you have an example of how you used the Package resource to install the language pack? We can work

[2016-03-19 19:35] ykuijs commented on #217
Installation of a language pack is the same process as installing a service pack or CU. Install binaries and then run the config wizard. We might consider creating a generic resource to install these types of components, but we already discussed installing updates in the past :-)

Language packs also have their own service packs, however CU's are multi-lingual. Just like with the SharePoint instal

[2016-03-19 22:16] ykuijs commented on #219
The issue with the xWebAdministration module is that it uses the IIS to change the web.config. However SharePoint settings are changed by SharePoint itself and are therefore not known to IIS. So you cannot change all settings in the web.config via IIS.

I tested this earlier via appcmd:
When running “appcmd list config acme /section:system.web/customErrors”, appcmd returns the following output:
<s

[2016-03-20 20:41] BrianFarnhill commented on #219
@ykuijs I would be leaning towards doing it directly in the XML, as it would then maintain desired state more accurately afterwards by watching the actual file, as opposed to ensure that an spwebconfigmodification exists because that won't track that a change has been manually made to the file (it will reapply when other automated changes that SharePoint is aware of are made, but it won't stop man

[2016-03-20 23:51] BrianFarnhill commented on #217
@ykuijs Yea I'm imagining that this would be a generic "run upgrade" resource kinda thing, so not something specific to the CU but it would help with the installation. Which does loop us back around to that upgrade discussion about how we do it. I think a resource like this would be a good step in the right direction in terms of addressing both patching and language packs

[2016-03-21 04:51] BrianFarnhill commented on #208
This one is in #227 just pending review

[2016-03-21 19:40] tonyhxh commented on #218
It seems to me that under C:\windows\System32\Configuration\ConfigurationStatus on each node, the *.details.json files contains the verbose log already.

Thanks
Tony Huang

[2016-03-21 20:24] tonyhxh opened #229 "xInstallPrerequisite"
Just a little feedback regarding to prerequisite install. I only made this far on my test environment today. :)

The latest RTM bits seems to have something new with prerequisites.

I had to replace "DotNet452" with "DotNetFx" in MSFT_xSPInstallPrereqs.psm1 and MSFT_xSPInstallPrereqs.schema.mof. Also had to delete "$KB2898850" from $requireParams.

if ($majorVersion -eq 16) {
        Write-Verbose

[2016-03-21 21:20] MikeLacher448 opened #230 "Farm Passphrase as secure string"
Use a PSCredential object to hold the farm passphrase. The secure string portion of the credential would be referenced as:
 Passphrase = ($params.Passphrase).Password

[2016-03-21 21:22] MikeLacher448 commented on #230
Brain, please assign this one to me as we discussed.

[2016-03-21 23:54] BrianFarnhill commented on #230
@MikeLacher448 All your Mike

Quick question though, wouldn't you refer to it as:

    Passphrase = ($params.Passphrase).GetNetworkCredential().Password

[2016-03-22 00:07] BrianFarnhill commented on #229
@tonyhxh Looks like the prereq installer changed in the RTM build. I'll flag this to be fixed ASAP. Thanks for reporting it

[2016-03-22 00:10] BrianFarnhill commented on #218
@tonyhxh This is true for PowerShell 5, and it will recycle some of these logs as well - so if you need to retain them for any period of time make sure you copy them elsewhere.

Based on the discussion and alternative logging options, I'm going to close this issue off. Thanks guys.

[2016-03-22 00:10] #218 closed

[2016-03-22 02:29] BrianFarnhill opened #232 "Extend Content Type Hub control in xSPManagedMetadataServiceApp"
In PR #231 the content type hub URL was set for the service app when it is provisioned, but due to it not being easily retrieved after the service app is created it was just set during provisioning. We need to revisit this resource to add the functionality in to update this URL when a configuration changes it.

[2016-03-22 03:23] camiloborges commented on #229
@BrianFarnhill - wouldn't it be easier for us to have the pre-reqs as a
list based on the version and build? It isn't the first time we need to
change this in the past couple of months :)

That said, Achieving so would mean an complete re-write of the module so
I'd be tempted to just update it for now but have a commitment from all of
us to address this limitation/concern at a later stage.

On Tue

[2016-03-22 03:26] BrianFarnhill commented on #229
@camiloborges Yes and no - we essentially have that now in the list of prereqs that it checks for based on major build version (15/16). We don't really need to go to the build version below that because the prereq installer doesn't normally change in builds, the only potential change point is for service packs (a CU doesn't patch the files you use to install, just the installation itself) so I thi

[2016-03-22 11:17] jpalo commented on #52
Well, I get this issue on 2 out of 9 WS2012R2 servers when trying to set up SHarePoint HA farm. The ones in boot loop are not even SharePoint boxes, but one is AD2 and other is SQL2, so I'm guessing this is some bit more generic issue.

[2016-03-22 20:44] BrianFarnhill commented on #52
@jpalo DSC resources are able to flag within them that a server needs a reboot, so if you are seeing this reboot, there will be a specific resource you are using on those servers which is indicating that it needs a reboot. If it is doing that in a loop, then we need to raise this as a bug with the appropriate resource to be fixed like we did for the prereq installer resource we have in xSharePoint

[2016-03-23 01:38] MikeLacher448 commented on #230
For the plaintext version, but the SharePoint candler takes that as a secure string if I'm recalling correctly. I'll double check.

[2016-03-23 01:48] BrianFarnhill commented on #230
@MikeLacher448 It does, we shift it across to a secure string before we pass it in, but from memory I saw that password value coming back as null a bunch of times. If it works, then absolutely do it your way - I just wanted to check :)

[2016-03-23 02:01] BrianFarnhill opened #235 "Allow xSPDistributedCacheService to change the service account"
Currently xSPDistributedCacheService will set the service account on the cache when it is provisioned, however it will not update the account if the configuration is updated.

@harbars has [a great post](http://www.harbar.net/archive/2016/03/21/The-Playbook-Imperative-and-Changing-the-Distributed-Cache-Service-Identity.aspx) that has some great scripts and process on this which should be considere

[2016-03-23 02:03] BrianFarnhill opened #236 "Allow xSPDistributedCacheService to change the cache size"
Currently xSPDistributedCacheService will set the size of the cache on a node when it is provisioned but then it will not be validated again. The resource should be able to identify nodes that do not have the correct cache size and update them like it does at provisioning time.

[2016-03-23 03:07] harbars commented on #235
The second bullet: Yup, I think from (hazy) memory the provision order thing you have could help – it’s a pragmatic sensible way to deal with it.
I have a pattern (ahem) in my build solution that loops thru a hash table of servers/roles and when it hits a machine of role Distributed Cache it does this:

if ($role -eq "DistributedCache") {

                Invoke-Command -ComputerName $server -File

[2016-03-23 03:28] harbars commented on #205
if ($wa.UseClaimsAuthentication) {
            $SuperReaderAlias = "i:0#.w|$params.SuperReaderAlias"
            $SuperUserAlias = "i:0#.w|$params.SuperUserAlias"
        } else {
            $SuperReaderAlias = $params.SuperReaderAlias
            $SuperUserAlias = $params.SuperUserAlias
        }

        if ($wa.Properties.ContainsKey("portalsuperuseraccount")) {
            $wa.Properties["por

[2016-03-23 03:32] BrianFarnhill commented on #205
I forgot to mark this as in progress - I have a fix in #234

@harbars Thanks for the pointers, ill work that in to the branch i have open there and test in my lab this afternoon

[2016-03-23 03:37] harbars commented on #205
cool. at some point i'll get my noggin round all this github shenanigans....

[2016-03-23 07:52] ykuijs commented on #219
@BrianFarnhill Agree, this does however mean we:
- Create a resource that changes it on the local server and the user of the resource has to create a config for all servers with the web application role. This might not be real user friendly.
or
- Create a resource that changes it on all servers, but that means we have to: Request the server list from the ConfigDB, connect to all servers via SMB or

[2016-03-23 16:49] tonyhxh opened #237 "InstallAccount as Mandatory Parameter"
It looks like InstallAccount should be a Mandatory Parameter on resource module xSPJoinFarm, xSPCreateFarm, and xSPManagementAccount, otherwise test-dscconfiguration would fail.

Thanks
Tony Huang

[2016-03-23 20:01] BrianFarnhill commented on #237
Hi @tonyhxh

This is not the case - have a read of our [documentation on the InstallAccount parameter](https://github.com/PowerShell/xSharePoint/wiki/Remote%20sessions%20and%20the%20InstallAccount%20variable).

If you try to run any resource at all (with the exception of xSPInstall and xSPInstallBinaries) and do not provide InstallAccount or PsDscRunAsCredential (the second one there only being av

[2016-03-23 20:01] #237 closed

[2016-03-23 20:50] MikeLacher448 commented on #230
since it's in the same resource, I'm also going to add support for installing Central Admin with Kerberos authentication

[2016-03-24 05:18] NaomiReeves opened #239 "Share service applications between farms"
In my environment, I have shared services farms that publish BDC, search, user profile, and managed metadata service applications for other farms. I've been looking at the currently published resources but not seeing DSC resources that would help me configure this. Wondering if there any plans to add support for this type of functionality.

Thanks,
Naomi

[2016-03-24 12:43] tonyhxh commented on #237
We gave PsDscRunAsCredential, but not InstallAccount, so the push seems fine, however when we tried to do test-dscconfiguration from the push server, it always fail because installAccount is optional but it seems to be hard-coded in the get methods of xSPJoinFarm, xSPCreateFarm, and xSPManagementAccount.

Thanks
Tony

[2016-03-24 20:55] ykuijs opened #240 "Latest merge of xSPJoinFarm has introduced an issue"
In MSFT_xSPJoinFarm.schema.mof on line 23, the parameter declaration contains two closing brackets:

[Required, Description("The passphrase that should be used to join the farm") , EmbeddedInstance("MSFT_Credential")**]]** string Passphrase;

[2016-03-24 22:07] BrianFarnhill commented on #240
Good catch, just merged your fix in. Closing this issue.

[2016-03-24 22:07] #240 closed

[2016-03-24 22:51] BrianFarnhill commented on #237
@tonyhxh We don't check InstallAccount in our test methods, we check specific properties in each of those test methods:

xSPCreateFarm and xSPJoinFarm:

     return Test-xSharePointSpecificParameters -CurrentValues $CurrentValues -DesiredValues $PSBoundParameters -ValuesToCheck @("FarmConfigDatabaseName")

xSPManagedAccount:

     return Test-xSharePointSpecificParameters -CurrentValues $CurrentVa

[2016-03-24 23:11] BrianFarnhill commented on #239
@NaomiReeves Not on our radar at the moment, but no reason we can't include it. We are adding something to control the permissions that would help with this scenario, but we should look at adding and testing anything else needed to make it sharable.

[2016-03-25 21:36] BrianFarnhill commented on #208
Merged in to dev, closing this issue

[2016-03-25 21:36] #208 closed

[2016-03-25 21:37] BrianFarnhill commented on #214
Merged in to dev, closing this issue

[2016-03-25 21:37] #214 closed

[2016-03-25 21:37] BrianFarnhill commented on #148
Merged in to dev, closing this issue

[2016-03-25 21:37] #148 closed

[2016-03-25 21:39] BrianFarnhill commented on #211
This is in PR #234 and will be merged in shortly. Will close this off when its done.

[2016-03-25 21:51] BrianFarnhill commented on #230
This was merged in #238 - closing this issue

[2016-03-25 21:51] #230 closed

[2016-03-25 21:52] BrianFarnhill commented on #224
This was merged in #231 and #232 was added in regards to its technical debt. Closing this issue

[2016-03-25 21:52] #224 closed

[2016-03-25 21:56] BrianFarnhill commented on #211
This has been merged in to dev, closing issue

[2016-03-25 21:56] #211 closed

[2016-03-25 21:56] BrianFarnhill commented on #205
This has been merged in to dev, closing this issue

[2016-03-25 21:56] #205 closed

[2016-03-25 22:17] MikeLacher448 commented on #45
I can take this one, I have a module that's 80% done already.

[2016-03-25 22:20] BrianFarnhill commented on #45
Thanks Mike, it's yours

[2016-03-25 22:39] MikeLacher448 opened #243 "option to install features from SXS files on xSPInstallPrereqs"
On a completely closed network, PreReq installer is not able to install all required features in offline mode. The bits for some features are not installed on the OS, and are downloaded from Windows Update as needed. Add-WindowsFeature supports a Source parameter for environments that have no connectivity to Windows Update.

Will add an optional SXSsource parameter to xSPInstallPrereqs. If specifi

[2016-03-28 17:52] BrunoReboul opened #244 "xSPInstallPrereqs error 4252 The Verbose key is not a valid property in the corresponding DSC resource schema file"
The results from Get-TargetResource must be in a Hashtable format.
$Results contains $PSBoundParamters that is a dictionary not a hashtable.
It contains an additionnal key "Verbose", not specified in the MOF file
Proposed fix in replacement of lines 88 to 95:

    if (($returnValue.Values | Where-Object { $_ -eq $false }).Count -gt 0) {
        $Ensure = "Absent"
    } else {
        $Ensure = "Pr

[2016-03-28 19:09] BrunoReboul opened #245 "xSPInstallPrereqs does not trigger a reboot each time it is needed"
xSPInstallPrereqs does not trigger a reboot each time it is needed

In complement to existing code in Set-TargetResource why not to add at the end of the procedure:

return (((Get-Item 'HKLM:\Software\Microsoft\Windows\CurrentVersion\Component Based Servicing\RebootPending' -ErrorAction SilentlyContinue) -ne $null) -or ((Get-Item 'HKLM:\Software\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto

[2016-03-28 22:10] BrianFarnhill commented on #245
@BrunoReboul Great idea, will get something like that implemented in it shortly.

[2016-03-28 22:28] BrianFarnhill commented on #243
@MikeLacher448 Sounds good - the previous work around was to just use the "WindowsFeature" resource before the prereq installer as that could use a source parameter, but I agree that we should wrap it up in here as well.

[2016-03-29 03:06] BrianFarnhill commented on #245
This is in pull request #246 - ill close this issue off once it is merged in to dev

[2016-03-29 03:14] BrianFarnhill commented on #244
I have a fix for this in #246 - Ill close this off once it's been put in to dev.

[2016-03-29 08:58] magnustomte commented on #217
@BrianFarnhill The process of installing the language pack is (as @ykuijs points out) the same as SPs or CUs. The technical procedure would be the same as for xSPInstall; mount the img file, generate a config.xml file, and call setup.exe /config config.xml. To do this with the Package resource would require you to have everything set up, i.e. the img mounted and the config.xml already in place. I

[2016-03-29 15:40] luigilink opened #247 "xSPUsageApplication not manage provision issue with service application proxy"
It's a known issue with the provision of Usage Service Application, to fix this issue add the following code in the DSCRessource MSFT_xSPUsageApplication :

$spUsageApplicationProxy= Get-SPServiceApplicationProxy | Where-Object -Property TypeName -eq "**Usage and Health Data Collection Proxy**"

if($spUsageApplicationProxy.Status -eq "**Disabled**")
{$spUsageApplicationProxy.**Provision**()}

Than

[2016-03-29 17:30] BrunoReboul opened #248 "xSPUsageApplication Get-TargetResource hash table not aligned with mof definition"
Error 4252 on Get-TargetResource due to 2 field in the returned hash table 'DatabasePassword' and 'DatabaseUsername' that are missing in the mof definition of xSPUsageApplication.

Proposed solution : remove the 2 fields from the hashtable, (IMO sending back the password iin a string not desirable). Solution tested / works well

Alternate solution, update the mof definition to be aligned.

[2016-03-30 02:05] BrianFarnhill commented on #248
Thanks for reporting this - there was a change a while back that swapped those two fields for the PSCredential object $DatabaseCredentials that is there now, and it looks like we missed that hashtable. We'll drop those from the results and replace with the DatabaseCredentials property that will just pass through the PSCredential it's passed in (if any)

[2016-03-30 02:08] BrianFarnhill commented on #247
@luigilink Thanks for reporting this - can you give me a little more info? What's the specific error you are seeing when this runs? I'm just after a little more detail because the get method where that script comes from shouldn't make changes to the system, and the Provision method would do this. I'm happy to look at how we put this in to the set method and trigger it from there, but I just want t

[2016-03-30 07:31] andy-cox commented on #247
I think this may be related to [this issue](https://tristanwatkins.com/fixing-the-usage-and-health-data-collection-sa/) where the Usage and Health Collection Proxy does not start? I've experienced this a few times.

[2016-03-30 07:48] luigilink commented on #247
Yes @andy-cox this is the right issue. When the Usage Service Application is provisioned, the associated proxy always stays in **stopped** status in "Manage Service Application".

[2016-03-30 21:26] KarolKaczmarek opened #249 "Development build nuget packages aren't properly formed"
Repro:
[code]

I confirmed development builds for other modules (xWebAdministration, xExchange) can be installed properly, so the problem must be with the way nupkg is generated for xSharePoint

[2016-03-30 22:44] BrianFarnhill commented on #249
Thanks for reporting @KarolKaczmarek - I'm on it

[2016-03-31 21:24] RonTatro opened #251 "xSPExcelServiceApp allows for only one run - subsequent runs fail"
We're invoking the DscResource from within a Chef run and the first run creates the Excel Services App just fine but subsequent runs end in failure stating that the object already exists under the parent named ""

Specific Error Message:
[code]

[2016-04-01 02:01] BrianFarnhill commented on #251
@RonTatro I'm not totally familiar with how chef works but we can have a crack at this. Does chef still generate a MOF file with the instructions here? If so can you share the section of the MOF file you are using so I can try to replicate it in one of my test labs?

[2016-04-01 02:49] RonTatro commented on #251
Thanks @BrianFarnhill Chef "DSC_Resource" resource just calls the DSC Resource directly on the server.  If it's helpful I'm pasting the .Mof on the server below.  LMK if you have any ideas on what could be wrong.

[code]

[2016-04-01 02:56] BrianFarnhill commented on #251
@RonTatro thats the schema MOF from the resource. Normally there will be a MOF file that has the actual instructions that are handed to the DSC engine - so I'm thinking maybe chef does that under the hood or something. Leave it with me either way, I'll try to repro it and let you know how I go.

[2016-04-01 04:09] BrianFarnhill commented on #248
The fix for this is in #253 - I'll close this when the change hits dev

[2016-04-01 04:44] BrianFarnhill commented on #247
Hey guys, I have a fix for this in #254 - it will also detect where the proxy isn't running in an existing deployment and turn it on, so it should self heal any environment impacted by this issue already. I'll close this issue off when it gets merged to dev

[2016-04-01 13:32] RonTatro commented on #251
@BrianFarnhill Looks like the TypeName may be incorrect for the Excel Service App:

This is what's in the code now: `{ $_.TypeName -eq "Excel Services Application" }`
In our environment, the TypeName appears to be:  `{$_.TypeName -eq "Excel Services Application Web Service Application" }`

This is resulting in the first run to succeed but then not find a match on subsequent runs and try to create

[2016-04-01 17:53] NaomiReeves opened #255 "xSPSearchServiceApp SDDL string error in standalone install"
In my standalone SharePoint 2013 environments, I'm receiving this error when creating the Search Service Application:

[code]

According to [this article](http://social.technet.microsoft.com/wiki/contents/articles/17933.sharepoint-2013-the-sddl-string-contains-an-invalid-sid-or-a-sid-that-cannot-be-translated.aspx) it looks like this is a known issue in standalone installations. However; after I f

[2016-04-01 21:11] MikeLacher448 commented on #45
my  resource does not edit the web.config directly (I've always tried to avoid that at all costs), but rather uses the WebConfigModifications method of the Web Application object.

Thoughts?

[2016-04-04 14:07] surinderv opened #257 "Add timestamp to output log"
Adding timestamp will help in case script is stuck or blocked and also knowing how long particular operation is running. Useful when running from a remote server since it took much longer to finish.

[2016-04-04 21:51] BrianFarnhill commented on #248
Just merged this in, closing this bug

[2016-04-04 21:51] #248 closed

[2016-04-04 22:05] BrianFarnhill commented on #249
@KarolKaczmarek This looks ok from my end now, can you confirm before I close this off?

[2016-04-04 22:55] BrianFarnhill commented on #245
Merged this in to dev, closing this issue

[2016-04-04 22:55] #245 closed

[2016-04-04 22:55] BrianFarnhill commented on #244
Merged this in to dev, closing this issue

[2016-04-04 22:55] #244 closed

[2016-04-04 23:01] BrianFarnhill commented on #247
This fix has now been merged in to dev - if you grab the latest dev build and run it on an existing environment with the issue it should resolve itself. Closing this one off

[2016-04-04 23:01] #247 closed

[2016-04-04 23:04] BrianFarnhill commented on #257
Thanks @surinderv - will work this in.

[2016-04-04 23:05] BrianFarnhill commented on #251
Confirmed - will get the fix in. Thanks @RonTatro

[2016-04-04 23:22] BrianFarnhill commented on #255
@NaomiReeves Can you share your config/config data with me? (either here or via email). I'm not sure we are doing the same things as the config wizard here so it might be the same error but I'm not convinced it's releated, but I want to try to repro what you are doing to see if I can come up with it.

[2016-04-04 23:29] BrianFarnhill commented on #219
@ykuijs Looping back on this one - in regards to your options, the first one actually does make sense because we should already have a config for all servers that have the web app role anyway for things like SSL bindings through xWebSite, for service instances that run on them through xSPServiceInstance and other things that are specific to an individual server - so I don't think we are introducin

[2016-04-04 23:30] BrianFarnhill commented on #45
@MikeLacher448 We've had a lot of discussion (in #219) about how to manage web.config changes - my opinion is that I want to avoid SPWebConfigModifications at all costs, and my reasoning is in that issue. So have a read through there as a starting point and we can discuss it from there. If you can convince me that it's the best way forward then we can go for it, but at this point I would rather se

[2016-04-05 11:53] ykuijs commented on #201
This issue can be closed, since it is merged into Dev

[2016-04-05 11:53] #201 closed

[2016-04-05 12:39] ykuijs commented on #239
This is an interesting one, but also a challenging one:
It requires configurations on the two farms and output of each configuration as input for the remaining configuration on the other farm:

1. Exchange trust certificates between the farms. https://technet.microsoft.com/en-us/library/ee704545.aspx (Exchange trust certificates between the two farms)
2. On the publishing farm, publish the service

[2016-04-05 21:56] BrianFarnhill commented on #239
Well I think in the context of publishing stuff (and I'm open to suggestion on this) we really should be focusing on a single farm at a time from a DSC perspective (the thought of a single config that crosses to another farm to make changes doesn't sit well with me at all - realistically the config going too far beyond a single server bothers me, back to that whole web.config discussion) so in my

[2016-04-06 00:13] MikeLacher448 commented on #219
While I can see the concern of using the SharePoint webconfigmodification methods not truly enforcing the state of the web.config file if it is manually edited, or changed through another method, I've always followed the practice of "thou shall not edit web.config files" and used the webconfigmodification method of the web application for SharePoint to push those changes out. I'm kinda torn on thi

[2016-04-06 02:17] NaomiReeves commented on #239
I agree with @BrianFarnhill in that I'd like to keep the config focused on a single farm. I assumed that the farms would remain independent of each other and would not automatically configure the trust between themselves, but would rather use the configuration that I provide via DSC resource(s) to ensure that it remained in place.

As an aside, do you think that any cross-farm trust resources coul

[2016-04-06 02:33] NaomiReeves commented on #255
@BrianFarnhill Sure! I'm using Chef with DSC, so below is the specific resource as outlined in my code (using the Chef DSL) and how it would look if I was using traditional DSC. Let me know if you have questions or want to see it in my environment (which might be helpful).

##### Chef DSL
[code]

##### Traditional DSC
[code]

[2016-04-06 08:39] ykuijs commented on #239
@BrianFarnhill, I get where you are coming from and totally agree, a resource should only focus on one server/farm.

The reason I brought this up was that I was thinking about a fully automated install of a farm, including this publishing/consuming of services. The steps you are describing cannot do this. Better yet: Before being able to create the config for the consuming farm, you need to have t

[2016-04-06 08:54] ykuijs commented on #219
Agree with your comment @MikeLacher448, over the past years I have pushed many developers towards using the WebConfigModifications class. The reasons behind this was first consistency, I have seen many environments where server1 would have different settings then server2, etc. Second, preventing manual changes (which may lead to the first issue). Many installation instructions contained manual ste

[2016-04-06 13:55] MikeLacher448 commented on #219
any concerns with SharePoint pushing a config, that the DSC config is not aware of, and getting stuck in a loop of SharePoint updating web.config, DSC reverting it, etc.. ?

[2016-04-06 22:22] BrianFarnhill commented on #255
@NaomiReeves Perfect, I'll investigate and see what I can come up with. If I can't see it in my environment I'll reach back out to you to see it in yours and we can go from there.

[2016-04-06 22:32] BrianFarnhill commented on #239
@ykuijs I think it's OK that we work under that model of "build the publishing farm first then configure and build the consumer", it's something that from a deployment sense is not ideal if you want to hit one button and "deploy everything" but realistically I don't think it's that big of an cost to have to do it that way and then we get to keep our sorceresses focused within single servers/farms.

[2016-04-06 22:55] camiloborges commented on #239
That is comprehensive.

Isn't there a need for the publisher farm to also have the consumer farm certificates?
If so, we need to ensure certificates are created beforehand.

[2016-04-06 23:27] BrianFarnhill commented on #239
@camiloborges Yep - so lets add xSPCertificateTrustImport to that list as well - or maybe make it one resource with a property set to export/import?

[2016-04-07 01:31] BrianFarnhill commented on #219
Just had a chat about this with my core architecture/planning guys for this, and they both tend to agree that we should avoid SPWebConfigModification because it wont enforce the desired state in the config file themselves and it has a history of being unreliable.

As @ykuijs stated above the DSC resource will ensure the XML files always match the desired state and automates the changes for consist

[2016-04-07 02:09] BrianFarnhill commented on #243
This was merged in #259 - closing this issue

[2016-04-07 02:09] #243 closed

[2016-04-07 07:53] BrianFarnhill commented on #81
Reviewing the backlog and coming back to this one - since we have a work around that is in our documentation for SharePoint 2013 and there will be [no SharePoint Foundation in 2016](https://technet.microsoft.com/en-us/library/mt346112%28v=office.16%29.aspx) I'm inclined to close this one off and use the Package resource as the mechanism of installing SharePoint Foundation.

[2016-04-07 07:53] #81 closed

[2016-04-07 09:27] ykuijs commented on #219
The way the WebConfigModifications class works is it only pushes changes to the web.config file once. Either when a new WebConfigModification is added or when the WFE role is added to a (new) server, essentially creating a fresh web.config file. It won't monitor the web.config file after that.

So even when you change something using the WebConfigModifications method which conflicts with the DSC s

[2016-04-07 11:21] MikeLacher448 commented on #219
I've seen the changes registered in the WebConfigModifications get pushed out when you make other changes to the SharePoint web application settings, and sometimes after patching.
I guess the main thing is having the resource that is editing the web.config work so that it only cares about the change it made. For example, with the blob cache, the resource would need to only test that the changes re

[2016-04-08 19:38] MikeLacher448 opened #262 "new resource xSPIrmSettings for RMS integration"
New resource to integrate SharePoint with AD RMS, same settings that are on IrmAdmin.aspx in Central Admin.

xSPIrmSettings
{
 Ensure = "Present"                                enables / disables IRM
 UseADRMS = $true / $false                  uses the RMS published in AD
 RMSserver = "https://ADRMS.fqdn"      specify RMS server
}

[2016-04-10 00:26] PlagueHO opened #263 "Add Default PR and Issue template documents to Repository"
This repo is going to be used as a test for implementing default PR/Issue templates.

See [this issue](https://github.com/PowerShell/DscResources/issues/112) for more detail.

I will submit a PR with some suggested templates. Please make comments on the PR.

[2016-04-10 22:31] #263 closed

[2016-04-10 23:31] BrianFarnhill commented on #262
@MikeLacher448 Consider it on the backlog - are you working on this now or did you just want to raise this for us to keep in the backlog to look at later?

[2016-04-10 23:52] BrianFarnhill commented on #251
The fix is in #265 - I'll close this after it's reviewed and merged to dev.

[2016-04-11 01:18] MikeLacher448 commented on #262
One I'm working on now for my customer. I should have a pull request with this by mid week.

[2016-04-11 01:19] BrianFarnhill commented on #262
Too easy - tagging as in progress, it's all yours. Thanks @MikeLacher448

[2016-04-11 01:27] BrianFarnhill commented on #147
This has been merged to dev, closing this issue

[2016-04-11 01:27] #147 closed

[2016-04-11 01:28] BrianFarnhill commented on #144
This has been merged to dev, closing this issue

[2016-04-11 01:28] #144 closed

[2016-04-11 01:40] camiloborges commented on #262
btw: that is a nice addition :)

On Mon, Apr 11, 2016 at 11:19 AM, Brian Farnhill <notifications@github.com>
wrote:

[2016-04-11 06:30] alarzi opened #268 "Create a Web Application in an existing App Pool"
Hey @BrianFarnhill,

In the module MSFT_xSPWebApplication, $ApplicationPoolAccount is mandatory, which prevent us to create a new web application in an existing application pool.
Maybe the code should also be updated to pass the ApplicationPoolAccount parameter to the New-SPWebApplication cmdlet only if it is specified.

Many thanks for your great job!

[2016-04-11 09:20] BrianFarnhill commented on #268
Hey @alarzi - It's mandatory because we strive to make the resources as idempotent as possible, which means when we run xSPWebApplication we can't assume that the app pool will already exist, so it can be provisioned if it needs to be, or it can be ignored if it is set.

@caadam @anlynes - Your opinions on this one guys?

[2016-04-11 13:18] ykuijs commented on #268
The New-SPWebApplication supports creating new web applications in existing application pools. If you specify the ApplicationPool parameter without the ApplicationPoolAccount parameter, SharePoint assumes that the application pool already exists. So we could change the resource to first check if the application pool exists and if so, leave out the ApplicationPoolAccount parameter.

[2016-04-11 13:21] ykuijs commented on #239
To prevent adding another resource and potentially confusing users, I would vote for a xSPCertificateTrustManagement resource with a Type property to specify export or import.

[2016-04-11 16:46] KarolKaczmarek opened #271 "Contribution guidelines should point to common guidelines under DscResources repo"
We should have consistent contribution process across all DscResources repositories and we should point users to the common documents for guidelines: https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md
This way if there are any changes, we can update that information in a single place and are sure all repos point to the same guidelines.

Currently xSharePoint has separate wiki p

[2016-04-11 17:28] BrunoReboul opened #273 "xSPUserProfileSyncService Status field of Get function hastable is missing in mof file"
Get function hash table code
        return @{
            UserProfileServiceAppName = $upa.Name
            Ensure = $localEnsure
            FarmAccount = $farmAccount
            InstallAccount = $params.InstallAccount
            Status = $syncService.Status
        }

Mof definition
class MSFT_xSPUserProfileSyncService : OMI_BaseResource
{
    [Key, Description("The name of the user profile s

[2016-04-11 18:30] MikeLacher448 opened #274 "new resource xSPLogLevel"
A new resource I'm working on.
Used to adjust the severity of events logged to the Windows Event Log and to the SharePoint ULS logs. Can specify specific categories using the same format as Set-SPLogLevel cmdlet, or can instruct the resource to apply changes to all Categories. Also supports resetting categories back to defaults.

xSPLogLevel   VerboseEvents {
  Categories = "SharePoint Foundation:

[2016-04-11 22:34] camiloborges commented on #268
Interesting concern.

I am taking into account your point here Brian.
I think the answer to this depends on few things:
1) what do we have as standard everywhere else? I am not sure we are 100% consistent on this one.
2) DSC idea really is to have 1 definition file that defines the entire farm, so in this case, does it make a difference having one way or the other? It feels order is more important

[2016-04-11 23:43] BrianFarnhill commented on #251
This just got merged in to dev - closing this issue. Thanks for reporting it!

[2016-04-11 23:43] #251 closed

[2016-04-11 23:55] #257 closed

[2016-04-11 23:56] BrianFarnhill commented on #271
@KarolKaczmarek Agree, I'll update the wiki page with the xSharePoint specific bits and refer to the main document for the rest.

[2016-04-12 00:01] BrianFarnhill commented on #268
@camiloborges Where are we not consistent with this? I can't think of anywhere but if there is, I agree we should track them as technical debt and bring them in line.

In terms of "1 definition for the entire farm" I don't think that is entirely true - what I want is resources that are idempotent, and if they are part of a configuration for a whole farm thats great, but if the farm is only partial

[2016-04-12 00:27] BrianFarnhill commented on #273
Let me look at this, I think the status thing might have been redundant and we can remove it rather than add to the schema, but I'll investigate when I get a sec

[2016-04-12 00:28] BrianFarnhill commented on #274
@anlynes @caadam - your thoughts on this from an architectural perspective?

@MikeLacher448 I assume that categories then becomes the key here, yea? I think I'm happy with this approach, just wanted to get some input from my guys on this as well.

[2016-04-12 01:01] camiloborges commented on #268
All fair points.
Are we not consistent: I am not sure TBH. I think we are. But it might be worth checking just to be sure.

I am ok and agree with your points(I did think you always wanted it to be all farm or nothing but that is a different point). But now... How do we make sure people are always understand this is the case? Should we include some of what you are saying here in the documentation?

[2016-04-12 02:37] MikeLacher448 commented on #274
yes, categories is the key
the resource will look at the value of categories, and if it's simply the test "All", then it will call Set-SPLogLevel with out specifying the category, which causes it to apply the settings to all of them. If the category does not match "All", then the categories are passed directly to the Set-SPLogLevel cmdlet.

[2016-04-12 02:48] BrianFarnhill commented on #274
Sounds like a decent enough approach to me - lets run with it and we can go over the finer details when I code review the PR. Thanks @MikeLacher448

[2016-04-12 04:53] TravisEz13 opened #275 "Sharepoint is using an old version of DSCResource.Tests"
Before submitting an issue to this project, please take a moment to provide the following details if possible:

- [x ] Is this a bug request or an enhancement request? no
- [N/A ] Version of PowerShell the DSC Target Node is running.
- [N/A ] Operating system the DSC Target Node is running.
- [X] Version of this DSC resource you're using. : https://github.com/PowerShell/xSharePoint/pull/272
- [X]

[2016-04-12 05:18] BrianFarnhill commented on #275
Funny you should mention this - I'm working on it as we speak after I spoke to @KarolKaczmarek

I've got the tests running, I need to resolve the new failures before I commit. Will close this off after it's merged in to dev from [my branch](https://github.com/BrianFarnhill/xSharePoint/tree/feature-dsctestintegration)

[2016-04-12 07:42] ykuijs commented on #274
Great addition!

[2016-04-12 08:02] ykuijs commented on #268
Isn't it an option to facilitate both options:
1. If the specified application pool exists, use that by not specifying the applicationpoolaccount
2. If the specified application pool doesn't exist, specify the applicationpoolaccount and create it

That way we enable both scenario's and are idempotent.

[2016-04-12 13:07] BrianFarnhill commented on #268
@ykuijs Are you talking about what we do within the resource? As in how we call New-SPWebApplication in the set method? I'm neither here nor there on what we do with that, but the schema for the DSC resource will still need to have the app pool account as a required field in case it has to create it like I was explaining above?

[2016-04-12 13:28] ykuijs commented on #268
@BrianFarnhill That is correct. I reviewed the code and currently we are not checking the existence of the application pool, but always adding the applicationpoolaccount parameter essentially trying to create a new application pool.

I agree that the schema should not be changed.

[2016-04-13 05:10] BrianFarnhill commented on #268
@ykuijs Does this make a difference though? If you pass the app pool name and credential again and it matches what is already there, there is no exception or anything as far as I'm aware?

[2016-04-13 06:42] ykuijs commented on #268
The description on TechNet led me to believe that when you specify the ApplicationPoolAccount parameter, the cmdlet assumes a new application pool had to be created. Will perform some tests today to check if this is the case or not.

[2016-04-13 08:27] ykuijs commented on #268
When running the New-SPWebApplication twice with the ApplicationPoolAccount parameter, I receive the following error:
`New-SPWebApplication : ApplicationPool exists, either specify an existing ApplicationPool alone, or specify a non existing ApplicatioPool and an ApplicationPoolAccount.`

When removing the ApplicationPoolAccount parameter, the command runs just fine. So we need this check in here

[2016-04-13 22:58] BrianFarnhill commented on #268
@ykuijs Agree with you and think approach number 1 is what we should do, I dont want to create managed accounts outside of the resource for it. I'll review your PR shortly.

[2016-04-13 23:46] BrianFarnhill commented on #268
This fix just got merged in to dev, happy to close this one off now. Thanks guys

[2016-04-13 23:46] #268 closed

[2016-04-14 22:51] BrianFarnhill commented on #229
@tonyhxh I just checked in the code to fix this in #279 - I'll close this off once it makes it to the dev branch

[2016-04-15 00:09] #229 closed

[2016-04-15 00:09] BrianFarnhill commented on #229
All done - thanks for reporting @tonyhxh

[2016-04-15 18:53] MikeLacher448 opened #280 "xSPWebAppGeneralSettings not properly handling SecurityValidationTimeoutMinutes"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

**Details of the scenario you try and problem that is occurring:**
When specifying a value for SecurityValidationTimeoutMinutes, the value isn't making it to the Set-TargetResource and is being set to 0, breaking security validation.

**The DSC configuration that is using the res

[2016-04-17 08:03] BrianFarnhill commented on #280
All yours @MikeLacher448 - Thanks for reporting it!

[2016-04-17 22:41] BrianFarnhill commented on #271
@KarolKaczmarek This is done now, check it out at https://github.com/PowerShell/xSharePoint/wiki/Contributing-to-xSharePoint

Closing this one off

[2016-04-17 22:41] #271 closed

[2016-04-18 00:00] BrianFarnhill opened #281 "Add xSPAccessServices2010 Resource"
**Details of the scenario you try and problem that is occurring:**

Currently xSharePoint does not have a resource for provisioning and managing the 2010 Access Services engine in SharePoint 2013 and 2016. An example of this resource could look like this:

[code]

**The DSC configuration that is using the resource:**

N/A

**Version of the Operating System and PowerShell the DSC Target Node is run

[2016-04-19 01:02] #275 closed

[2016-04-19 02:46] BrianFarnhill commented on #280
Fixed in #280 - Closing this off

[2016-04-19 02:46] #280 closed

[2016-04-19 06:43] ykuijs commented on #262
This issue can be closed off. This has been merged in PR 270

[2016-04-19 08:50] #170 closed

[2016-04-19 08:50] #249 closed

[2016-04-20 19:34] ykuijs commented on #29
Working on this one!

[2016-04-20 19:46] MikeLacher448 commented on #45
might be a little bit before I can get to this one, if someone else wants to take a shot at it, go for it. Otherwise, it will most likely be sometime next month before I have the cycles to look at it.

[2016-04-20 20:28] ykuijs commented on #45
Can you share the code you already have created with me? Then I will have a crack at it when I am done with the current resource I am working on.

[2016-04-21 00:29] MikeLacher448 commented on #45
I can, but my resource uses the webconfigmodifications method of the web app. If we wanted to go that way, I'll I need to do is clean up the code to fit the style guide and finish the pester test. But my understanding from the prior discussion is that we wanted to modify the web.config files on the servers directly.

[2016-04-21 03:58] BrianFarnhill commented on #45
@MikeLacher448 That's correct, we want to do this without webconfigmodification use

[2016-04-22 19:43] KarolKaczmarek commented on #249
sorry for the delay, but I just tried it and works now. Thanks!

[2016-04-25 12:24] jsteenbeek opened #287 "Missing dependency on [xComputer]DomainJoin in Small Farm example"
First of, thanks for the great work you guys are doing!

**Details of the scenario you try and problem that is occurring:**
I've been playing around with the Small Farm example:
`xSharePoint/Modules/xSharePoint/Examples/Small Farm/SharePoint.ps1`

I'm getting issues on the dependency "[xComputer]DomainJoin"

I've found I had to add the xComputerManagement resource;
`Import-DscResource -ModuleName

[2016-04-27 18:19] brianlala opened #289 "Incorrect prerequisite file name for SP2016 - Microsoft Information Protection and Control Client 2.1"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

**Details of the scenario you try and problem that is occurring:**
xSharePoint is looking for setup_msipc_x64..msi (which would be valid for SP2013), but the correct file for SharePoint 2016 is actually setup_msipc_x64.**exe**. In fact, the former is version 2.0 but the .exe is r

[2016-04-27 21:50] BrianFarnhill commented on #289
Thanks for reporting Brian - we might need to look at providing some specific examples for SP2013 and SP2016 as separate files for things like this, or at a minimum highlighting things like that in the examples. Leave this one with me and I'll see what we can do.

[2016-04-29 14:10] ykuijs commented on #29
Just created a PR: #290

[2016-04-29 20:09] ykuijs commented on #45
Working on this one

[2016-05-02 14:06] tonyhxh opened #291 "Trust between different SP farms"
Is there a plan to provide trust between different SP farms, and in terms service applications can be published from a service farm, and consumed by a content farm.

Thanks
Tony Huang

[2016-05-02 15:17] ykuijs commented on #291
Hi Tony,

This is being discussed in issue #239. There are some challenges which we need to figure out before implementing this functionality. But it is definitely on the roadmap.

Regards, Yorick

[2016-05-02 15:42] jmcanally opened #292 "Skip configuration upon error"
**Details of the scenario you try and problem that is occurring:**
Is there a way to skip the configuration of a node if an error occurs?  Ideally I'd like to process each node and only skip the nodes that have errors along the way.

I've tried processing each node with a separate Start-DSCConfiguration command but if there's an exception all processing stops.

One use case would, perhaps there's

[2016-05-02 22:39] BrianFarnhill commented on #291
Thanks for responding @ykuijs

@tonyhxh - as Yorick mentioned, check the other issue for discussion on this. Closing this one off as a duplicate. Thanks guys

[2016-05-02 22:39] #291 closed

[2016-05-03 03:38] BrianFarnhill commented on #45
All yours @ykuijs

[2016-05-05 08:23] BrianFarnhill commented on #292
@jmcanally I'm not quite sure I follow what you're asking for here, but have you checked out the WaitForAll resource that is in PowerShell 5? You can use it to tell a node to wait for the successful completion of a specific resource on a remote computer, and it can then be a dependency for a specific computer. One use case that I use this for is to tell servers to not attempt to join a farm (using

[2016-05-05 08:26] BrianFarnhill commented on #287
@jsteenbeek Thanks for reporting - we meant to take this out of the examples (so we focused on providing examples of just our resource and not the dependencies). I'll add this to the bug list and will get the examples cleaned up.

[2016-05-05 21:54] BrianFarnhill opened #293 "Remove dependency on Win32_Product in SPInstallPrereqs"
**Details of the scenario you try and problem that is occurring:**

Currently the SPInstallPrereqs resource depends on the Win32_Product class to determine what is installed and what isn't. As per [this article](https://blogs.technet.microsoft.com/heyscriptingguy/2011/11/13/use-powershell-to-quickly-find-installed-software/) this query isn't optimised and can trigger some additional consistency ch

[2016-05-10 17:14] brussell41 opened #294 "xSPUsageApplication + Proxy"
Ran into an issue where when deploying a SharePoint farm using DSC, the Search Service Application components weren't starting; the infamous "unable to retrieve topology component health states" notification.  Upon research, it was determined to be because the Usage Application Proxy was not started.

When reviewing the xSPUsageApplication module, I noticed it was missing two lines where the Usage

[2016-05-11 03:43] BrianFarnhill commented on #294
Hey @brussell41 - thanks for reporting. We had this reported in #241 and the fix is in the dev branch to be included in our next release!

[2016-05-11 03:43] #294 closed

[2016-05-11 04:53] brussell41 commented on #294
That's great. Thank you for your response!
Keep up the great work!

Get Outlook for iOS

On Tue, May 10, 2016 at 8:43 PM -0700, "Brian Farnhill" <notifications@github.com> wrote:

Closed #294.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-11 06:11] BrianFarnhill commented on #29
Closing this as the PR was merged

[2016-05-11 15:30] jmcanally commented on #292
@BrianFarnhill Thanks for the tip, that worked.

[2016-05-11 15:30] #292 closed

[2016-05-12 03:23] avishnyakov opened #295 "Support partitioned provision mode"
We heavily use partitioned / multi-tenancy SharePoint 2013 / 2016 setup and would be keen to see that support in xSharePoint.

I know that AutoSPInstaller does not support partitioned mode provision, so putting it here to see how it might fit into xSharePoint and further roadmap.

[2016-05-12 03:30] BrianFarnhill commented on #295
Hi @avishnyakov, currently we have no intention to support multi-tenancy in any capacity. It adds a lot of complexity in terms of what we need to do with testing to maintain working resources, and given the relatively small number of customers who use this in SharePoint as a whole it was decided that we wouldn't do this either.

[2016-05-12 03:30] #295 closed

[2016-05-12 03:50] avishnyakov commented on #295
Alright, I see the point, fair enough.

@BrianFarnhill, could you at least guide over the effort required?
In case we would be able to help with adding multi-tenancy support, testing and maintenance, curious to see if this could be an option at all.

[2016-05-12 04:27] BrianFarnhill commented on #295
Given the potential for complexity to increase the amount of logic and code in the resources themselves I really don't want to push this in at all. It will make managing and making changes to the resources more difficult for other content authors. I appreciate that you could build them in, but it's something that essentially becomes technical debt for other contributors as they need to try to not

[2016-05-12 04:40] camiloborges commented on #295
I know I am often very pedantic...
On-Prem environments really don't do very well with multi tenancy.
It wasn't really designed for that. Multi tenancy was designed for Online.
There are so many things that can go wrong that I am happy to explicitly include in the documentation that this will not be supported.

It is just a bad idea....  It does work, but simply not worth the effort

Camilo Borges

[2016-05-12 04:44] avishnyakov commented on #295
Arhh.. make sense, make sense @BrianFarnhill
In that case I think we'll craft our own DSC bits to address our problems.

@camiloborges, what exactly is meant by on-prem environments don't do very well with multi-tenancy? Some companies are software companies, hosting or service provider companies which host their own  offers on top of multi-tenancy deployments. Having same challenges around CD/Dev

[2016-05-12 07:15] camiloborges commented on #295
Ok... I am taking a fair bit of time to think about this.
- On-Prem to me is limited to a company that hosts SharePoint for themselves. hosters is in a different category.
- Few hosters around the globe with many clients don't mean a lot to me. It doesn't mean it isn't relevant for hosters, but not relevant for enterprises.
- Multi-Tenancy it is certainly a degree of complexity that is far too muc

[2016-05-12 18:34] ykuijs opened #296 "Add xSPWebAppUserPermissions resource"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

**Details of the scenario you try and problem that is occurring:**
We need a new resource that is able to manage the "User Permissions for Web Application" section in Central Admin. A customer asked for this resource today.

Syntax would be something like:

xSPWebAppUserPermissio

[2016-05-12 22:35] BrianFarnhill commented on #296
Thanks @ykuijs - it's on the backlog for now. Will you be working on this with your customer? Or do you want me to take it as help wanted?

[2016-05-12 22:45] avishnyakov commented on #295
Alright, thanks guys. All good.

[2016-05-13 00:29] BrianFarnhill commented on #207
@camiloborges I think I stumbled across a fix for this one while looking in to some other issues. I'm taking this one and will open a PR when it's ready

[2016-05-13 00:35] camiloborges commented on #207
looking forwarding to a solution to this :)
have you mocked the Mock method? :D

On Fri, May 13, 2016 at 10:29 AM, Brian Farnhill <notifications@github.com>
wrote:

[2016-05-13 00:40] BrianFarnhill commented on #207
@camiloborges No but the solution isn't far off that :P

Actually one of the problems (and there were a few) were with how those [ANSI] objects were resolving, so mocked those up differently, then did some mocking around the methods that spit out the lists and stuff in there too.

[2016-05-14 09:19] ykuijs commented on #296
Place it on Help Wanted for now. Working on the Blob Cache now. Maybe someone else has time to pick this one up before I can. If not, I will update this issue later :-)

[2016-05-19 12:12] ykuijs commented on #296
Working on it!

[2016-05-26 00:40] BrianFarnhill commented on #207
Pull Request #298 fixes this and will be merged to dev shortly

[2016-05-26 01:45] camiloborges commented on #295
Hello.
I've slept on this for a while and I am changing my take on this idea..
I believe that we can definitely support it. It is an important piece of functionality for hosters. And Hosters would actually end up having to really stress the solution.
@BrianFarnhill : need your input on this again :)
@avishnyakov , Could you outline what are the other resources we would need in order to achieve it?

[2016-05-26 13:16] ykuijs commented on #262
@BrianFarnhill Short reminder: This issue can be closed, it was merged in PR270

[2016-05-26 13:19] ykuijs commented on #203
@BrianFarnhill Can't this issue be closed, since the question was answered?

[2016-05-27 18:15] MikeLacher448 opened #300 "new resource SPServiceProxyGroup"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

**Details of the scenario you try and problem that is occurring:**
a new resource to create and manage membership of service application proxy groups

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node i

[2016-05-27 19:28] MikeLacher448 commented on #300
as I'm building this, I'm thinking this resource should create the proxygroup and manage service app membership, and a second resource should be used to have the web applications consume the services in that proxy group.

[2016-05-31 22:24] #262 closed

[2016-05-31 22:27] BrianFarnhill commented on #300
@caadam @anlynes @camiloborges @ykuijs thoughts on this approach guys?

[2016-05-31 22:31] BrianFarnhill opened #302 "Extend SPFarmSolution to support compatibility version"
**Details of the scenario you try and problem that is occurring:**

Currently when you deploy a solution using this command it deploys at the highest compatibility level. This is not useful if building a farm to migrate from SP2010 to SP2013 where either "14" or "All" should be defined for this option. There should be an optional value on this resource that allows specifying the comparability leve

[2016-05-31 22:33] camiloborges commented on #300
Hello.

I like the idea. I haven't done many proxy groups in the past and when I did was mostly to get around fuck ups, or to avoid them.

I believe this resource would be really long, but that would be the first one.

Does it need to tackle, or check things like the mms proxy options, or the anything related to user profile service?

[2016-05-31 23:31] ykuijs commented on #300
What would be the reason to split the resource in two separate ones?

I would say it makes sense to place everything in one resource. All settings are then combined into one configuration. Just like the template you suggested in your initial post.

[2016-06-01 11:20] MikeLacher448 commented on #300
I was thinking a separate web application proxy resource could be in the config in the same section as the SPWebApplication related resources to build and configure the web applications. But the more I think of it, the more I'm seeing this as one of the last resources in a config, to put all the required services and web apps into their respective proxy groups after all web apps and services are b

[2016-06-01 11:27] MikeLacher448 commented on #300
one benefit however, to separate resources, is the relationship logic becomes clearer to understand. Services can be members of multiple Service Proxy groups, but a web app can only be connected to one service proxy group. Using two resources, this becomes a bit clearer, as the resource for the services would still support the explicit list, or the list to include and list to exclude. No logic is

[2016-06-01 20:34] ykuijs commented on #300
Agree, in order to apply the configuration, the resource would have to depend on all service applications and web applications being created first.

With your last example it would make sense to create two resources: One to create the proxy groups and one to link web applications to proxy groups:
- Web app 1 would be created
- Service app 1 and 2 would be created
- Service proxy group would be cre

[2016-06-02 00:42] camiloborges commented on #300
Hello
MMS
-default storage location for keywords
- column specific term sets

UPA, and anything that relies on MMS
- Do we need to validate anything regarding  term sets?
      - USer Profile Properties
     - Site Columns
     - Managed Navigation

[2016-06-02 00:44] BrianFarnhill commented on #300
I'll throw my two cents in here - I don't think we need a separate resource to bind the web app to the group. Surely we can just have "ServiceAppProxyGroup" as a property on SPWebApplication and that can do the binding?

[2016-06-02 01:18] MikeLacher448 commented on #300
Brian, I thought of that too. Just need to make sure all the service apps are created first.

[2016-06-03 02:20] MikeLacher448 commented on #300
one issue with putting it as a property of the SPWebApplication, if you were to create all services first, build the proxy group and then join the web app, there are some services that you should have the web apps built for first. For example, so that you have the mysite host setup when building the UPA, and having a site for the content type hub when building MMS. This is why my current powershel

[2016-06-03 03:49] BrianFarnhill commented on #300
@MikeLacher448 Happy with that logic - we should make sure that we discuss that point in the documentation to explain why its separate and what the desired order should usually be.

[2016-06-03 05:32] BrianFarnhill opened #306 "SPServiceAppSecurity doesn't support groups"
**Details of the scenario you try and problem that is occurring:**

Currently the SPServiceAppSecurity resource only supports adding windows users to security permissions, not active directory groups (groups will add, but their claims token will be wrong as it will be a use token, not a group one). There needs to be either a flag on the SPServiceAppSecurityEntry that identifies the type (user or g

[2016-06-03 11:17] MikeLacher448 commented on #300
Will do

[2016-06-06 03:01] BrianFarnhill commented on #207
Fixed in #298 - closing

[2016-06-06 03:01] #207 closed

[2016-06-06 12:37] BrunoReboul commented on #273
Yes, seams to be redundant as Ensure is already built on $synService.Status (that is status). so let's go for removal. I propose code fix through a PR.

[2016-06-07 00:14] KarolKaczmarek opened #308 "SPUserProfileProperty and SPUserProfileSection return from Set-TargetResource"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

We should not be using return $variable in Set-TargetResource, PSSA fails due to this:
PSDSCReturnCorrectTypesForDSCFuncti Information  MSFT_SPUse 351   Set-TargetResource function in DSC Resource should not
ons                                              rProfilePr       output

[2016-06-07 00:45] BrianFarnhill commented on #308
Hey @KarolKaczmarek - I pushed these in to the release-1.0 branch for #304 so they are included in the release. We can close this off when the merge happens.

[2016-06-07 00:48] BrianFarnhill opened #309 "Resolve warnings about alias"
**Details of the scenario you try and problem that is occurring:**

The PSScriptAnalyzer shows a number of warnings for the use of PowerShell aliases throughout the module (such as % instead of ForEach-Object) . These should be removed and replaced with the full function names.

**The DSC configuration that is using the resource:**

n/a

**Version of the Operating System and PowerShell the DSC Tar

[2016-06-07 01:05] BrianFarnhill opened #310 "Use output types correctly"
**Details of the scenario you try and problem that is occurring:**

The PSScruptAnalyzer shows warnings for the lack of use of output types (mostly in SharePointDsc.Util.psm1 methods). These should all be updated to indicate their output type correctly.

**The DSC configuration that is using the resource:**

n/a

**Version of the Operating System and PowerShell the DSC Target Node is running:**

n

[2016-06-07 01:07] camiloborges commented on #309
really???? Aliases are so much more readable... :(

[2016-06-07 01:09] BrianFarnhill opened #311 "$null should be on the left side of equality comparisons"
**Details of the scenario you try and problem that is occurring:**

The PSScriptAnalyzer returns many instances where $null is on the right side of a equality comparison (such as '-eq') - due to the way PowerShell does comparisons this should be avoided.

**The DSC configuration that is using the resource:**

n/a

**Version of the Operating System and PowerShell the DSC Target Node is running:**

[2016-06-07 01:10] BrianFarnhill commented on #309
@camiloborges They are shorter - they aren't more readable. At least not in my opinion, and in the opinion of the team writing the script analyzer. So we're going to clean house on this one and then make sure we catch any breaches in our tests.

[2016-06-07 01:15] BrianFarnhill opened #312 "Avoid wildcards in module manifest properties"
**Details of the scenario you try and problem that is occurring:**

Currently "FunctionsToExport", "VariablesToExport" and "AliasesToExport" in the main module manifest all use wildcards. These need to be reviewed and removed/updated to a specific list.

**The DSC configuration that is using the resource:**

n/a

**Version of the Operating System and PowerShell the DSC Target Node is running:**

n

[2016-06-07 01:18] BrianFarnhill opened #313 "Correct the use of non-plural nouns in cmdlet names"
**Details of the scenario you try and problem that is occurring:**

The PSScriptAnalyzer currently returns a number of instances of warnings for cmdlets in the module using plural nouns, which should be avoided as a naming standard. For example "Get-SPDSCWebApplicationWorkflowSettings" could be renamed to "Get-SPDSCWebApplicationWorkflowConfiguration" to comply with this rule. The instances of thi

[2016-06-07 01:20] BrianFarnhill opened #314 "Avoid use of Write-Host"
**Details of the scenario you try and problem that is occurring:**

The PSScriptAnalyzer reports a number of instances (mostly in the test helper scripts) of Write-Host being used - this should be replaced with either Write-Output, Write-Verbose or Write-Information as appropriate.

**The DSC configuration that is using the resource:**

n/a

**Version of the Operating System and PowerShell the DSC

[2016-06-07 01:26] BrianFarnhill commented on #287
This is resolved in our 1.0 release branch (attached to #304). We will merge it back to dev after it's finalised for release and then close this issue off

[2016-06-07 01:28] #203 closed

[2016-06-07 01:31] BrianFarnhill opened #315 "Update examples to use specific examples instead of full files"
**Details of the scenario you try and problem that is occurring:**

Currently the examples in the module are for a single server and a small farm, which make a lot of assumptions about how these resources can/should be used. This also limits the number of examples for each resource that can be included. The examples folder should be broken up by resource name with multiple relevant examples of how

[2016-06-07 02:07] BrianFarnhill commented on #212
I'm on this one now

[2016-06-07 04:27] BrianFarnhill opened #316 "Add verbose output to Test-SPDSCSpecificParameters"
**Details of the scenario you try and problem that is occurring:**

Currently the Test-SPDSCSpecificParameters is used to validate settings across almost all of the resources in the module, but it does not include verbose logging to let a user know which property has failed the test. Write-Verbose statements should be added here to ensure that meaningful data is fed out to the user in the event of

[2016-06-07 11:46] ykuijs commented on #311
Am a little confused: The title indicates that $null should be on the left side of the equality comparison, but the details say "this should be avoided". Which of the two is true?

[2016-06-07 14:07] BrianFarnhill commented on #311
@ykuijs Sorry dude, my mistake. They should be on the left, I fixed the typo in my original post to reflect this one.

[2016-06-08 06:41] #212 closed

[2016-06-09 23:01] BrianFarnhill opened #321 "Add support for CompatabilityLevel to SPSFarmSolution"
**Details of the scenario you try and problem that is occurring:**

Currently there is no support for the CompatabilityLevel property for SPFarmSolution. This means that for customers who are upgrading from 2010 and need to target solutions to specific hives on the servers do not have the ability to deploy these via DSC. The property CompatabilityLevel  should be added as an optional value that de

[2016-06-10 10:30] BrianFarnhill commented on #314
I'm on this one now

[2016-06-10 10:35] BrianFarnhill commented on #314
Reanalysing this one, the hits I found were in the DscResources.Tests folder (which is not actually part of this repo) so this was a false positive. Closing this issue.

[2016-06-10 10:35] #314 closed

[2016-06-10 11:50] ykuijs commented on #45
Issue can be closed since the PR is merged

[2016-06-13 23:45] #45 closed

[2016-06-14 13:47] ykuijs commented on #296
Issue can be closed. PR is merged.

[2016-06-16 01:33] #296 closed

[2016-06-20 03:29] NikCharlebois opened #324 "SPSecureStoreServiceApp Get-TargetResource AuditingEnabled"
The Get-TargetResource for the SPSecureStoreServiceApp resource is taking in a mandatory parameter called AuditingEnabled, but is not returning it as part of its output hash. This is causing issues for the reverse DSC which is now dynamic. Are we able to either:

1 - Figure out a way to retrieve this value from the Object Model, modify the Get-TargetResource method accordingly and add the Auditing

[2016-06-20 03:44] BrianFarnhill commented on #324
Good catch @NikCharlebois - will get this looked at for you.

[2016-06-21 04:13] BrianFarnhill commented on #300
Fixed and merged in #323 - closing this issue

[2016-06-21 04:13] #300 closed

[2016-06-21 12:37] BrunoReboul opened #329 "SPInstallPrereqs - KB2898850 is missing in Set/Get/Test params def and in MOF too"
KB2898850 appears in the hastable returned by Get, but is not defined in the param blocks of Get Set Test nor in the mof.
Resulting an error 4252 when checking the conf with get : "The KB2898850 key is not a valid property in the corresponding DSC resource schema file"
However KB2898850 installation does not seam to be yet managed by Set.
As a temporary fix I have added the missing definitions in

[2016-06-21 13:22] #309 closed

[2016-06-21 13:35] BrianFarnhill commented on #329
Thanks for reporting @BrunoReboul - This should have been removed in [this changeset](https://github.com/PowerShell/SharePointDsc/commit/60273ec66c448a2353ea2fd96837524853aa1011) but it got missed. I'll put a PR forward to remove this from the return value of the get method shortly.

[2016-06-21 13:41] BrianFarnhill commented on #321
Merged to dev, closing this issue

[2016-06-21 13:41] #321 closed