[2016-06-21 13:42] BrianFarnhill commented on #308
This issue has been resolved, closing

[2016-06-21 13:42] #308 closed

[2016-06-21 13:43] BrianFarnhill commented on #306
Closing as this has been merged to dev

[2016-06-21 13:43] #306 closed

[2016-06-21 13:44] BrianFarnhill commented on #302
This is a duplicate of what got closed in #321 - closing

[2016-06-21 13:44] #302 closed

[2016-06-21 13:45] BrianFarnhill commented on #287
Closing this issue as it has been resolved in #304 - thanks guys

[2016-06-21 13:45] #287 closed

[2016-06-21 13:54] BrianFarnhill commented on #217
I'm tagging this one as in progress as I know @ykuijs is leading up the work in this space

[2016-06-21 13:54] BrianFarnhill commented on #184
I've tagged this as in progress as @ykuijs is leading up the work in this space

[2016-06-21 14:21] BrianFarnhill opened #331 "Refactor to align with current style guidelines"
Since SharePointDsc (formerly xSharePoint) began the [style guidelines](https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md) for DSC resources evolved, and they have not all been reflected in our module. We need to do a refactor to bring the module in line with the standards for all DSC resources.

I'm assigning this issue to myself to handle the refactor, but capturing it he

[2016-06-21 14:28] BrianFarnhill opened #332 "Refactor to align with test standards"
When SharePointDsc began there was no formal guidance for the structure of the pester tests that are run, nor were there standards for integration testing. [These standards](https://github.com/PowerShell/DscResources/blob/master/TestsGuidelines.md) now exist and our solution needs to be refactored to accommodate these.

I'll be doing the refactor of this (and have already been working on the integ

[2016-06-21 14:28] #329 closed

[2016-06-21 14:31] BrianFarnhill commented on #293
Linking this to an [issue in the main DscResources repo](https://github.com/PowerShell/DscResources/issues/108)

[2016-06-22 04:28] BrunoReboul opened #338 "Add optional "Proxy Name" property to all service app resources"
Currently the suffix " Proxy" is added to multiple Service App proxy names.
For some customers it could break the service naming convention.

Proposition : make the suffix optional by adding a new setting on the corresponding resource
First implementation available for the Secure Store Service here:
https://github.com/BrunoReboul/SharePointDsc/tree/Imp-ServiceApp-ProxySuffix

[2016-06-22 04:30] BrianFarnhill commented on #338
@BrunoReboul Thanks for raising this. I think what actually needs to be done here is that we need to not assume a naming structure for the proxy objects, and make it an "optional" property in every service app where if it gets defined we use that name for the proxy, and if it is not specified then it will be "[Name of service app] Proxy". I'll get this on the backlog to be worked on.

[2016-06-22 06:10] BrunoReboul commented on #338
@BrianFarnhill Thanks for the feedback.
Ok not to assume proxy naming structure
New implementation proposed for secure store at
https://github.com/BrunoReboul/SharePointDsc/tree/Imp-ServiceApp-ProxySuffix
Let me know if ok for you, then I will generalize to other service apps

[2016-06-22 06:13] BrianFarnhill commented on #338
Looks OK at a quick glance. Open a PR for this and I'll do a popper code review with reviewable of the secure store service app change you made, and then you can keep committing to the same branch with the changes to the other and we can close it out as one PR with everything in it.

[2016-06-22 09:53] luigilink commented on #293
Made a fix for this issue: Pull request #340

[2016-06-22 12:09] #310 closed

[2016-06-23 06:33] BrunoReboul opened #342 "TypeName in Service Application resources should not use localised strings"
**Context:** Windows Server + Language Pack

**Symptom:** Set works, then Test fails, triggering a new Set that end up in error

**Why:** Get function have English Sharepoint name hardcoded. As Sharepoint on a localized OS send back service names in the local language the DSC test functions wrongly determine Ensure as "Absent" while it should be "Present"

**Proposed fix** : update resources to re

[2016-06-23 06:36] BrianFarnhill commented on #342
@BrunoReboul I'm not sure I follow exactly what you are referring to here. Can you let me know which resources you are seeing this in? is this about the "Type Name" in the service app resources? Or something else? If you could include some examples of the output you are seeing that is breaking this then we can investigate

[2016-06-23 07:30] luigilink commented on #342
Hi Brian,
I can give you some details because we have the same customer ;)
We have this issue with the MSFT_SPServiceInstance resource

- La ressource DSC PowerShell MSFT_xSPServiceInstance n'a pas pu exécuter la fonctionnalité Set-TargetResource. Message d'erreur: Unable to locate service application 'Managed Metadata Web Service'

- La  ressource DSC PowerShell MSFT_xSPServiceInstance n'a pas pu

[2016-06-23 09:25] BrianFarnhill commented on #342
@luigilink Ahhhh - yep, makes perfect sense. I'll put this on the backlog to be resolved. I don't think it'll be too big of an effort, it can (and should) definitely be done though. Thanks for the info!

[2016-06-25 06:12] BrianFarnhill opened #345 "SPSearchServiceApp should support multiple database servers"
**Details of the scenario you try and problem that is occurring:**

Currently the SPSearchServiceApp only supports creating the databases on a single SQL Server. For very large scale deployments this might not be the desired state, so we should be able to configure the resource to move the DBs once they are provisioned.

**The DSC configuration that is using the resource:**

Any configuration of S

[2016-06-25 06:13] #293 closed

[2016-06-25 07:10] BrianFarnhill commented on #273
This was fixed in #318 - closing

[2016-06-25 07:10] #273 closed

[2016-06-27 02:03] BrianFarnhill opened #348 "AD Groups don't pass test methods for SPWebAppPolicy and SPServiceAppSecurity"
**Details of the scenario you try and problem that is occurring:**

Currently after a change to 1.1 to add support for groups to both SPWebAppPolicy and SPServiceAppSecurity instead of the group name being returned from the "get" methods, the SID for the group is instead returned, causing the test methods to fail and attempt to add the group again. This doesn't appear to cause any issues in terms

[2016-06-27 21:37] MikeLacher448 commented on #338
good update, I noticed that the proxy names are inconsistent currently, this will be a welcome change.

[2016-06-27 22:39] BrianFarnhill commented on #210
This is in progress under #349 and should be merged to the dev branch soon

[2016-06-28 13:45] luigilink commented on #342
Fix proposal in this pull request #350

[2016-06-29 13:30] camiloborges commented on #345
@BrianFarnhill Brian, can you please elaborate a bit more on this?

You mean
FailoverServer, from New/Set-SPEnterpriseSearchServiceApp?
or
New-SPEnterpriseSearchCrawlDatabase
 Add-SPServerScaleOutDatabase

?

[2016-06-29 13:37] camiloborges commented on #332
@BrianFarnhill Brian, I am keen to help on this and the integration tests :)

[2016-06-29 21:56] #348 closed

[2016-06-29 22:27] #312 closed

[2016-06-29 23:00] #311 closed

[2016-06-29 23:25] BrianFarnhill commented on #345
None of those things actually - I'm thinking that the scenario here is that when you run New-SPEnterpriseSearchServiceApplication all four databases sit on the one instance of SQL. I've had a customer request come through to support moving the individual databases to different instances of SQL server to allow them to scale out (the size of the search farm they have in mind is pretty epic and IO of

[2016-06-30 01:25] BrianFarnhill opened #355 "Add RunOnlyWhenWritable property to SPUserProfileSyncService resource"
**Details of the scenario you try and problem that is occurring:**

Currently the user profile sync service resource will start or stop the service based only on the "Ensure" property. This is fine for stand alone farms, but when there is a secondary farm that is used for DR purposes this causes issues, as the secondary farm's user profile DB could be in read-only mode (through an AlwaysOn availab

[2016-06-30 06:16] ykuijs commented on #345
Wouldn't it also be an good addition to change the resource to allow the databases to be created directly on the correct DB server and preventing this issue all together??

Which does not mean we do not need the above change, since insights about your environment can change and you need to perform such a db server move at a later time anyways.

[2016-06-30 22:43] BrianFarnhill commented on #210
This was closed in #349 and will be in the 1.2 release. Closing this issue

[2016-06-30 22:43] #210 closed

[2016-06-30 22:44] BrianFarnhill commented on #345
@ykuijs It would but New-SPEnterpriseSearchServiceApplication doesn't allow you to set parameters for each individual database, it just takes "databasename" and "databaseserver", then it suffixes the names of the databases for you and puts them on the one server. So this means we need some logic about the moves to make this work.

[2016-06-30 23:33] #316 closed

[2016-07-01 11:14] thegingerwizard opened #357 "Passphrase Issue"
_Please provide the following information regarding your issue (place N/A if certain fields don't apply in your case:_

Trying to use the Example Small Farm solution that ships with the module

New Farm DSC configuration

Windows 2012 R2, PS5, Module 1.1.0.0

DSC Module 1.1.0.0

I am having an issue generating MOF files, the error I am getting isbelow, any help would be greatly appreciated. - Than

[2016-07-01 11:17] BrianFarnhill commented on #357
Hi @thegingerwizard - this is a currently known issue with the example (I didn't get updated in 1.1 like it was meant to, my fault for missing it). This will be resolved in 1.2 but in the mean time the work around involves a couple of quick steps.

1. Add a new PSCredential parameter to the top of the config, exactly the same as the other ones there
2. Change the passphrase variable in the SPCreat

[2016-07-01 11:56] #355 closed

[2016-07-01 13:11] thegingerwizard commented on #357
Hi Brian,

That appears to have sorted things.. Thankyou.

I almost got there as yesterday I set the parameter as you suggested but in then I was calling $parameter.password..

Thanks for your help.

Andy

_____________________________
From: Brian Farnhill <notifications@github.com<mailto:notifications@github.com>>
Sent: Friday, July 1, 2016 12:18 pm
Subject: Re: [PowerShell/SharePointDsc] Passphr

[2016-07-01 13:15] BrianFarnhill commented on #357
I'm leaving this issue open until we resolve it in the examples - it'll get cleaned up when we do #315 but in the mean time if others have this issue they can see the info here. Thanks @thegingerwizard

[2016-07-01 14:19] ykuijs commented on #345
That sucks big time! This backup/restore procedure requires you to use an account with significant permissions on SQL in order to be able to do this....according to the TechNet article: "Verify that the user account that you are using to restore the databases is a member of the SQL Server sysadmin fixed server role on the database server where each database is stored".

Although the following arti

[2016-07-01 14:39] johlju commented on #345
It's gonna need permission in SQL instance to create logins, restore database. These permissions are normal when setting up SharePoint (for the setup account).

This idea with moving database are focusing on two or more standalone SQL instances, right? Wouldn't it be easier to support this only with AlwaysOn instead? If the service application, like Search, is setup using one AG listener then it m

[2016-07-01 14:50] BrianFarnhill commented on #345
@johlju Yes and no - this could work but it introduces some additional complexities

1. You need enterprise SQL licenses to use AGs (although I believe this is different in 2016)
2. There is a limit to the number of AGs you can have on one server (I recall hearing 10 somewhere but again I need to check my numbers)

This means that while using individual availability groups would give you a way to

[2016-07-04 05:45] BrianFarnhill opened #360 "Remving service applications leaves orphan proxy objects"
**Details of the scenario you try and problem that is occurring:**

Currently if you look at setting "Ensure = Absent" on to any of the SharePoint service application resources they will remove the service applications, but will leave the proxy there. This can create issues when trying to create a new service app with the same name (which in the current version would mean the same proxy name would

[2016-07-05 11:18] #29 closed

[2016-07-05 13:09] luigilink opened #363 "SPSearchServiceApp Failed to execute Test-TargetResource functionality"
**Details of the scenario you try and problem that is occurring:**
Error Message:
`PowerShell DSC resource MSFT_SPSearchServiceApp failed to execute Test-TargetResource functionality with error message: The term 'Get-SPWebApplication' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the pat

[2016-07-05 21:38] BrianFarnhill commented on #363
This was fixed in #337 and was released in v1.1 - so I'll close this one off. Grab the latest version and you will be fine :)

[2016-07-05 21:38] #363 closed

[2016-07-08 00:26] BrianFarnhill opened #365 "Invalid search service topology components"
**Details of the scenario you try and problem that is occurring:**

In some scenarios with search service applications have corrupt search topologies, they can present a search topology with components that have no server name. This breaks the DSC components, where as they should be identified and removed so that the correct topology can be reapplied.

**The DSC configuration that is using the res

[2016-07-08 01:01] BrianFarnhill opened #366 "Frequest errors for MSIInstaller in event log - error 1035"
**Details of the scenario you try and problem that is occurring:**

In many SharPoint installs we see information messages that flood the event logs with an ID of 1035 of them from the MsiInstaller activity. From what I've seen this could be caused by 1 of 2 possible options:

* https://support.microsoft.com/en-us/kb/974524
* https://support.microsoft.com/en-us/kb/2473430

Now the one that refers

[2016-07-11 06:44] BrianFarnhill commented on #366
My fix for the SPInstall resource is in #367 - we'll do some testing on that and see if this resolves the issue.

[2016-07-12 23:27] #313 closed

[2016-07-13 22:34] ZeweiS opened #372 "The term 'New-SPVisioServiceApplication' is not recognized as the name of a cmdlet, function, script file, or operable program"
**The DSC configuration that is using the resource:**
            VisioService = @{
                Name = "Visio Service Application"
            }
**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows 2012 R2, SharePoint Server 2016

**Version of the DSC module you're using:**
SharePointDsc 1.1.0.0

**Error Message:
PowerShell DSC resource MSFT_SPVisioService

[2016-07-13 22:36] BrianFarnhill commented on #372
Thanks for reporting @ZeweiS - we'll investigate and get back to you shortly

[2016-07-15 03:11] BrianFarnhill commented on #372
@ZeweiS A couple of things here - firstly are you able to provide a copy of the resource from your configuration so I can see the specific settings you have called it with? If not can you at least let me know if you are using PSDscRunAsCredential or the InstallAccount parameter?

Secondly can you confirm that if you open the SharePoint management shell on the impacted server that you can still man

[2016-07-15 03:33] ZeweiS commented on #372
I will email you the full psd1 file via internal email. And yes, I could call the cmdlet from the server if I launch a SharePoint PS window.

[2016-07-18 21:17] MikeLacher448 commented on #274
still on my plate, just not a high priority at the moment

[2016-07-18 21:26] MikeLacher448 opened #374 "SPVisioServiceApp does not create service app proxy"
**Details of the scenario you try and problem that is occurring:**
SPVisioSericeApp resource does not create an associated proxy. This is due to the fact that the underlying cmdlet, New-SPVisioServiceApplication does not create an associated proxy by default. Resource should either create a proxy by default to match the behavior of other service app resources, or accept an optional parameter to cr

[2016-07-18 23:15] BrianFarnhill commented on #374
@MikeLacher448 Thanks for reporting, will add it to the backlog

[2016-07-26 04:41] BrianFarnhill opened #375 "SPCreateFarm and SPJoinFarm do not gracefully handle new farm config DB values"
**Details of the scenario you try and problem that is occurring:**

Currently both SPCreateFarm and SPJoinFarm will not allow a server to be moved from one farm to another. This means that if a configuration is pushed to a node that has a FarmConfigDatabaseName value that is different to the current value, it will fail the test and attempt to run the set method which blindly does the work without

[2016-07-27 00:14] #375 closed

[2016-07-27 23:34] BrianFarnhill commented on #366
Looking at how this is panning out in the environments I am seeing after the fix in #367 I now only see this happening every 12 hours instead of every 30 minutes, which leads me to believe this is no longer a DSC related issue specifically. I'm closing this off as dealt with here, and for others who experience the issue still refer to the KB article above to help resolve the other instances of thi

[2016-07-27 23:34] #366 closed

[2016-07-29 12:18] typozh opened #380 "SPShellAdmins throws error Get-SPDSCContentDatabase not known"
**Details of the scenario you try and problem that is occurring:**
SPShellAdmins does not work. Error is Get-SPDSCContentDatabase is not recognized as the name of a cmdlet...

I removed the wrapper function Get-SPDSCContentDatabase and replaced all calls with Get-SpContentDatabase in MSFT_SPShellAdmins.psm1. This way it worked.

**The DSC configuration that is using the resource:**
        SPShell

[2016-08-02 00:54] BrianFarnhill commented on #380
Thanks for reporting @typozh - will investigate!

[2016-08-02 14:47] ykuijs commented on #380
Just checked this: The code is calling a method that is declared at the bottom of the file. However, the method is called within an Invoke-SPDSCCommand block, which means it cannot find the code since it is not loaded within that context. We should either move this method to an util file or solve the Pester issue in a different way.

[2016-08-03 23:20] aatighi opened #381 "SPJoinFarm Error"
I am able to join my VM to the Farm using SPJoinFarm for Sharepoint 2013 but at the end it returns the following error:

MSFT_SPJoinFarm  failed to execute Set-TargetResource functionality with error message: ScriptHalted  The SendConfigurationApply function did not succeed

I am using SharePointDSC 1.1.0.0

[2016-08-03 23:23] BrianFarnhill commented on #381
@aatighi Can you send us the full logs for that part of the resource. That error indicates that there would have been an exception before it somewhere which should tell us what has gone wrong.

[2016-08-04 04:18] aatighi commented on #381
Hi @BrianFarnhill , Here is the log I am receiving when I run this manually on the box, Interesting part is, as I mentioned, Joining Farm goes through successfully, but still I receive the following error.

PowerShell DSC resource MSFT_SPJoinFarm  failed to execute Set-TargetResource functionality with error message: ScriptHalted
    + CategoryInfo          : InvalidOperation: (:) [], CimException

[2016-08-04 04:22] BrianFarnhill commented on #381
Can you get me the verbose output from the configuration? When you use Start-DscConfiguration add -Verbose to the command so we can see the full output of whats happening.

[2016-08-04 04:36] aatighi commented on #381
PS C:\Packages\Plugins\Microsoft.Powershell.DSC\2.20.0.0\DSCWork\SP.ps1.1> Start-DscConfiguration .\Test -Verbose -Force -Wait
VERBOSE: Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = SendConfigurationApply,'className' = MSFT_DSC
LocalConfigurationManager,'namespaceName' = root/Microsoft/Windows/DesiredStateConfiguration'.
VERBOSE: An LCM method call arrived from co

[2016-08-04 05:04] BrianFarnhill commented on #381
OK I can see that we aren't throwing that exception up correctly, so it looks like there is an issue that is being hidden from our logs there. I can code up a fix that should show the additional detail. Will get back to you with it when I get a sec.

[2016-08-05 09:28] typozh opened #383 "SPContentDatabase MountContentDatabase not found"
**Details of the scenario you try and problem that is occurring:**
The resource SPContentDatabase does not work. The function at the end of the script is not found.

I added the function to Export-ModuleMember:
Export-ModuleMember -Function *-TargetResource,Mount*

Then the cmdlet Mount-SpContentDatabase is not found.

**The DSC configuration that is using the resource:**

                foreach(

[2016-08-05 20:18] BrianFarnhill commented on #383
This was fixed in #370 which is being released as part of SharePointDsc 1.2.0.0 - the [code for that](https://github.com/PowerShell/SharePointDsc/tree/release-1.2) is complete and it's due for release to the PowerShell gallery shortly. So grab the new version when it's there and have a go with that. Thanks!

[2016-08-08 03:17] #365 closed

[2016-08-08 03:22] #315 closed

[2016-08-08 03:22] BrianFarnhill commented on #357
This was completed in #382

[2016-08-08 03:22] #357 closed

[2016-08-08 03:23] BrianFarnhill commented on #289
This was updated in #382 (to default the example to online mode rather than use the specific offline examples to avoid confusion)

[2016-08-08 03:23] #289 closed

[2016-08-09 22:01] #342 closed

[2016-08-11 14:22] arashalvandi opened #386 "Acces Denied Problem with SPAppCatalog"
When I try to execute **SPAppCatalog** Resource with FarmAccount or Setup Account I get an access denied.

`SPAppCatalog MainAppCatalog
        {
            SiteUrl = $Node.SharePoint.Apps.AppCatalogUrl
            PsDscRunAsCredential = $SPSetupAccount
            DependsOn            = @('[SPAppDomain]LocalFarmAppUrls')
            #InstallAccount = $SPSetupAccount
        }`

**Error Deails he

[2016-08-11 21:41] BrianFarnhill commented on #386
Confirmed bug - I've seen this while building out the integration tests as well. We know this definitely used to work and we haven't changed the code either so I'm wondering if a specific cumulative update or something is causing us the issue. Can you confirm for me what update level your SharePoint 2013 farm is at?

[2016-08-12 12:27] arashalvandi commented on #386
The Server Patch level is Oct. 2015

[2016-08-16 23:00] BrianFarnhill opened #389 "Remove dependency on CredSSP"
**Details of the scenario you try and problem that is occurring:**

Currently both SPUserProfileServiceApp and SPUserProfileSyncService rely on CredSSP being configured to impersonate the farm account. This should be removed, instead using the farm account credential in either the InstallAccount (for PowerShell 4) or PsDscRunAsCredential (for PowerShell 5) parameters and then have the resource che

[2016-08-19 16:26] MikeLacher448 commented on #381
just tried a new deployment in my lab and am getting the same behavior. If I find anything, I'll let you know.

[2016-08-23 09:23] MikeLacher448 commented on #381
this is fixed with pull request #392

[2016-08-23 12:27] Bjorn80 opened #393 "XSPCreatefarm fails when using configurationnames and 'localhost'"
**Details of the scenario you try and problem that is occurring:**
Using MS Server 2012R2 with WMF 5. SharePoint Server 2013 SP1 and SQL 2014 Server.
Confguration set up with ConfigurationNames. When specifying 'localhost' instead of nodenames (hostname), the XSPCreateFarm resource fails with:
`VERBOSE: [vm09]:                            [[xSPCreateFarm]CreateSPFarm] Creating a new farm with confi

[2016-08-23 13:02] Bjorn80 commented on #393
Seem to get the same issue with the service applications, search and MMSA. The two I am adding to the farm. A change to the node hostname fixes it.

Brgs

Bjørn

[2016-08-24 00:30] MikeLacher448 commented on #393
I imagine this is really only useful in a single server topology? As soon as you branch to a multi server farm, you will reference node names again. Node names do not need to be in the configuration file, they can be piped in via configuration data. I'm just trying to understand the use case?

[2016-08-24 00:30] BrianFarnhill commented on #381
Confirmed that this was fixed in #392 and will ship in v1.3 of SharePointDsc - closing this one off, thanks guys.

[2016-08-24 00:30] #381 closed

[2016-08-24 00:33] BrianFarnhill commented on #393
Changing the nodename though should only impact what gets output to the MOF file - once you have a MOF the instructions that are handed to the LCM are exactly the same.

Are you open to open the .MOF file for localhost.mof and hostname.mof when you use either of those and find the SPCreateFarm resource in there and share that with us so we can compare the two of those?

@MikeLacher448 Yes and no f

[2016-08-24 12:43] Bjorn80 commented on #393
Hi Mike and Brian, thank you for the replies.

My xSPcreateFarm are as follows:

`instance of MSFT_xSPCreateFarm as $MSFT_xSPCreateFarm1ref
{
ResourceID = "[xSPCreateFarm]CreateSPFarm";
FarmAccount = $MSFT_Credential25ref;
PsDscRunAsCredential = $MSFT_Credential26ref;
Passphrase = "Ioasdjfuashf87ewh";
SourceInfo = "::455::9::xSPCreateFarm";
FarmConfigDatabaseName = "SP_Config";
ModuleName = "xShar

[2016-08-24 22:14] BrianFarnhill commented on #393
Ahhhhh, ok so I missed the message in your original logs:

    localhost is an invalid or loopback address. Specify a valid server address.

This isn't actually a DSC error, it's a SharePoint issue - basically you need to use valid DNS names for SQL server when you use SharePoint, you can't actually use "localhost" for the database server. Firstly this would only ever work for a single server depl

[2016-08-24 22:14] #393 closed

[2016-08-25 07:21] Bjorn80 commented on #393
Thank you for clearing that up Brian.
brgs

Bjørn

[2016-08-31 06:28] ykuijs commented on #217
No that PR391 is closed, this one can be closed.

[2016-08-31 06:28] ykuijs commented on #184
No that PR391 is closed, this one can be closed.

[2016-08-31 06:32] #217 closed

[2016-08-31 06:32] #184 closed

[2016-08-31 20:16] tonyhxh opened #397 "Invoke-SPDSCCommand in SharePointDsc.Util.psm1"
Is the purpose of Invoke-SPDSCCommand in SharePointDsc.Util.psm1 only for Powershell 4 where PsDscRunAsCredential is not available?

So in PowerShell 4, use InstallAccount, and In PowerSehll 5, use PsDscRunAsCredential?

Thanks
Tony Huang

[2016-08-31 23:11] BrianFarnhill commented on #397
Hi Tony,

Yes definitely use PsDscRunAsCredential in PowerShell 5. As for is the Invoke-SPDSCCommand used just like that - mostly, yes. We do talk about this a little [in the wiki](https://github.com/PowerShell/SharePointDsc/wiki/Remote%20sessions%20and%20the%20InstallAccount%20variable) but there are currently a couple of exceptions to this which we touch on in #389 which we will address as a bre

[2016-08-31 23:11] #397 closed

[2016-09-01 12:54] paololec opened #398 "New improvements to make it usable for automatic installation"
Please add more details documentations/how-to on wiki (example: guide to automatically install SharePoint 2016 on 4 vm in h.a. + 2 vm for sql and 2 vm for owa/oos: prepare sql, install module, ability this, launch this...) and example of configurations and options to use it.

I use autospinstaller , "SharePointDsc" have same or more features and simple configuration as it?
I want be able to easy d

[2016-09-06 06:40] BrianFarnhill commented on #332
I've been doing some research on this one, and I've got some concerns about implementing this one. Looking at the Initialize-TestEnvironment cmdlet, my issues are:

* This won't find out modules as we don't follow the standard directory structure
* We would still have to implement logic to load our stub modules and other additional 'prep' before each test run
* It does some stuff that is redundant

[2016-09-08 19:05] Mattheweckburg commented on #255
Any update on this issue? I am seeing the same problem at times, thought intermittently. I am using Azure Automation and the workaround is to delete the service application and wait for the LCM to run again, whereby it will successfully pass the issue.

[2016-09-08 22:45] BrianFarnhill commented on #255
@Mattheweckburg I haven't been able to repro this one, so I'm not sure the specific circumstance that causes this error to happen. If you can help shine some light on when this occurs I can definitely code something to get around it.

[2016-09-11 09:14] Pherat opened #401 "XspInstallPrereqs Error"
The configuration that I am running is DSC as a pull server. The issue that I have is an error I get when running Get-DSCConfiguration from the client server. The error is below:

Get-DscConfiguration : The PowerShell DSC resource  returned results that are not valid from Get-TargetResource. The
Verbose key is not a valid property in the corresponding DSC resource schema file. The results from Get

[2016-09-11 21:35] BrianFarnhill commented on #401
Hi there,

This is a duplicate of #244 and has already been fixed. You should upgrade from using the "xSharePoint" module to using "SharePointDsc" as this contains the latest fixes and logic, and will be the module we update going forward.

Thanks for reporting an issue! I'll close this off as a duplicate.

 \- B

[2016-09-11 21:35] #401 closed

[2016-09-12 11:24] typozh commented on #383
I'm now using version 1.2.0.0 but it still does not work. The error message is:
PowerShell DSC resource MSFT_SPContentDatabase  failed to execute Set-TargetResource functionality with error message: Error occurred while mounting content database. Content database is not mounted. Error details: The term 'Mount-SPContentDatabase' is
not recognized as the name of a cmdlet, function, script file, or o

[2016-09-12 11:38] typozh commented on #380
Hi, any update on this? Is there a schedule for the next version to be released?

[2016-09-13 09:26] DeanGross opened #402 "Use with Azure"
**I'm a complete noob with DSC and before I dig in, I'm wondering if this package can be used to create dev/test farms for SP in Azure:**

**n/a:**

**n/a:**

**n/a**

[2016-09-13 14:47] luigilink commented on #402
If you talk about azure automation, I hope someone can help you, because I haven't tested yet.
But if you have a azure VM with the Pull Server Role, It works perfectly.
My2Cents

[2016-09-13 22:22] BrianFarnhill commented on #402
@DeanGross While we haven't specifically tested Azure Automation support, we have seen success when using both the DSC extension for virtual machines as well as just deploying your own pull server virtual machine also (the same as you would on-premises). From what I know of Azure Automation there should be no issues making this work with that also, but it's just not a scenario we've had time to te

[2016-09-14 07:41] ykuijs commented on #383
I have made this update back in July and tested it extensively, all worked great. So not sure why it is failing on your environment. Are you sure the resource is updated on all your machines?

[2016-09-14 20:10] AlexandrosIV opened #403 "Sharepoint now support install on .Net 4.6 - Update SPInstallPrereq"
With the following fix, now SharePoint can be installed on servers running .Net 4.6, but the SPInstallPrereq is checking against and halting the installation.

the check need to be removed or improved.

[SharePoint 2013 installer now supports .NET Framework 4.6 and above](https://blogs.technet.microsoft.com/stefan_gossner/2016/09/14/sharepoint-2013-installer-now-supports-net-framework-4-6-and-abov

[2016-09-14 22:46] BrianFarnhill commented on #403
OK so looking at this one the hotfix involves downloading and modifying the installation files themselves, so we can't search for a specific hotfix to be installed on the system as it won't be there. Looks like if we are going to detect this we need to go looking for svrsetup.dll or wsssetup.dll in the updates folder and to then make sure it is at least build number 15.0.4709.1000 (or higher) to m

[2016-09-15 00:35] #331 closed

[2016-09-15 00:42] BrianFarnhill commented on #398
Hi @paololec - I've been in conversation with @brianlala in regards to how we get customers to transition from AutoSPInstaller to SharePointDsc. We have some ideas in this regard, but nothing that we are ready to start implementing as yet. So if you are dependent on a GUI to create your SharePoint farm, then right now AutoSPInstaller is a better option. I'm hopeful this will change in future, but

[2016-09-15 00:45] BrianFarnhill commented on #380
@typozh Not yet - we've had to spend a lot of time for 1.3 working on standards and things for the PowerShell team that related to us being able to ditch the "x" off the front of the name for this. Now that being said, I know I've got a customer I'll be seeing in the not all too distant future that will need this fixed as well, so if someone else hasn't had a chance to get it looked at by then I'l

[2016-09-15 11:58] ykuijs commented on #380
Working on it!

[2016-09-16 14:48] ykuijs commented on #403
Working on it!

[2016-09-16 14:59] ykuijs commented on #380
Issue is fixed. Will be included in my next PR, which will be a bugfix rollup PR.

[2016-09-20 22:09] BrianFarnhill commented on #383
I'm re-opening this one as we have another source that looks like it's having the same issue here on an internal piece of work. @ykuijs is looking in to this one - will update here when we have news.

[2016-09-21 03:27] BrianFarnhill opened #407 "Extend SPDatabaseAAG to map databases to AG's via name pattern"
**Details of the scenario you try and problem that is occurring:**

Currently SPDatabaseAAG works by specifying the name of an individual database that needs to be added to an availability group and working that in. It should be extended to look for databases based on a pattern as well as by individual name. This would allow for scenarios where additional content databases are created post deploym

[2016-09-21 06:45] ykuijs commented on #383
Looks like this is an issue specific to SharePoint 2016. Spinning up a SharePoint 2016 environment now to test this issue.

[2016-09-21 13:46] MikeLacher448 commented on #398
My 2 cents on this...
I agree that we can always work on improving documentation and expand on the examples. However, the real benefits of SharePointDsc is not in providing a master script or workflow for everyone to use. Everyone has different requirements on how their farm is built. But rather, SharePointDsc provides the building blocks for you to implement within your process, as simple or as c

[2016-10-03 22:13] MikeLacher448 commented on #274
finally getting to this one,  appreciate some input on get and test methods.

suppose I have a configuration stating "Cat1","Cat2","Cat3" should be "Verbose".
but my current state is "Cat1","Cat3" are Verbose.

what should I return from Get? I only want to return one value each for Event and Trace Severity. I don't want to return all categories that match the desired severity, as I may pickup cate

[2016-10-04 13:23] ykuijs commented on #274
Please take a look at the subclass I used in the SPWebAppPolicy resource. I think this is ideal for your situation:
[code]

[2016-10-04 13:25] ykuijs commented on #274
This way you can return just the categories that were requested in the config, including their value. The test method can then test for the correct value and fail if one is not correct.

The set method then needs to loop all through all categories, check their values and set them if they do not match the configured value.

[2016-10-04 13:35] luigilink opened #410 "SPInstallLanguagePack install not working if Config_Database does not exist"
**Details of the scenario you try and problem that is occurring:**
Install Language Pack after installation of SharePoint binaries.
This type of scenario is current on a new sharepoint farm:

1. Install of SharePoint Binaries
2. Install of SharePoint Language Pack(s)
3. Install of Cumulative Updates
4. Create SPFarm

**The DSC configuration that is using the resource:**
[code]

**Version of the Op

[2016-10-04 15:34] MikeLacher448 commented on #274
interesting approach, I'll play around with that and see how that works. Thanks.

[2016-10-04 18:34] NikCharlebois commented on #389
Brian, this may sound stupid, but why not continue to let the user pass in the $FarmAccount param, but then within the "Set-TargetResource", just before calling the Invoke-SPDSCCommand, check the $PSVersionTable and then swap the params accordingly. If the Major Version is 4, then pass in the farm account param as we currently do, and if it's 5 or greater, then put the $FarmAccount creds in the Ps

[2016-10-04 20:36] NikCharlebois commented on #374
@BrianFarnhill assign that one to me since I'm the one who created it in the first place. I'll take care of it once the Reverse DSC is taken care of. Thanks

[2016-10-04 20:46] NikCharlebois commented on #372
@BrianFarnhill assign that one to me as well, I'll do the follow-up

[2016-10-04 20:48] NikCharlebois commented on #360
@BrianFarnhill I'll take a look at this one as soon as reverse DSC is completed and merged. Please have it assigned to me. Cheers

[2016-10-04 20:54] BrianFarnhill commented on #274
Yea I agree with @ykuijs - this approach gives the ability to set specific categories through DSC while leaving others to be managed through traditional means, so a much more flexible solution. I think we need to add a wildcard option in there to set all though, so something like this for all categories, or all sub-categories in a category:

    SPLogLevel AllLogs {
        Loglevels = @(

[2016-10-04 20:54] BrianFarnhill commented on #374
@NikCharlebois Let me know when you start work and I'll tag it as in progress.

[2016-10-04 20:55] BrianFarnhill commented on #372
@ykuijs Do you think this one could be related to the bug you found with the content database command not being found as well?

[2016-10-04 20:56] BrianFarnhill commented on #360
@NikCharlebois Let me know when you start work and I'll make it as in progress

[2016-10-04 20:57] NikCharlebois commented on #374
I am on it right now actually. Will have it done before COB today ;)

[2016-10-04 21:30] BrianFarnhill commented on #402
I'm going to close this issue off, but if you have a specific question to follow up with i'll open this one again for further discussion.

[2016-10-04 21:30] #402 closed

[2016-10-04 21:31] BrianFarnhill commented on #410
@ykuijs Can you have a look at the language pack one to see if we are depending on a farm existing? From memory I think we actually might be on that one.

[2016-10-04 22:56] MikeLacher448 commented on #274
Brian, I was thinking the same thing with supporting a wildcard for area and category as well.

[2016-10-05 00:10] NikCharlebois commented on #360
@BrianFarnhill I'm starting the work on these items.

[2016-10-05 08:18] luigilink commented on #410
Fix contribution in pull request #413

[2016-10-05 09:28] ykuijs commented on #410
Correct, the resource currently checks if the farm exists, since it uses the product information in the ConfigDB. Will review the suggested fix.

[2016-10-05 13:20] ykuijs commented on #372
No, unfortunately not. This resource isn't using a module file.

[2016-10-05 16:53] NikCharlebois commented on #338
@BrunoReboul where are you at with these changes? I can jump in and do the modifications if you want.

[2016-10-05 21:54] BrianFarnhill commented on #338
OK so "part" of this got done in v1.3 but it looks like we missed a few service apps. For example, Managed Metadata has it, but access and excel do not. So if we lift the work that @BrunoReboul did for those ones that already have and it put it in the missing ones we'll be done.

[2016-10-06 10:03] luigilink opened #417 "Provision failed with SPServiceApplication Managed Metadata Service Application in non-enUS"
**Details of the scenario you try and problem that is occurring:**
Provision failed with SPServiceApplication Managed Metadata Service Application in non-enUS.
The propertie TypeName does't work because it returns french name instead of "Managed Metadata Service"
Add GetType().FullName in FilterScript parameter for Where-Object Function:

[code]

**The DSC configuration that is using the resource:

[2016-10-06 10:04] luigilink commented on #417
Fix suggested in PR #418

[2016-10-06 10:06] BrianFarnhill commented on #417
We will have this issue in most of our service apps I would think. I'll review your fix and the other resources tomorrow to confirm.

[2016-10-06 10:15] luigilink commented on #417
Yes I confirm, what do you prefer:
One PR by Service Apps
Or One PR for All Service Apps

[2016-10-06 10:21] BrianFarnhill commented on #417
One for All of them would be easier to review and manage

[2016-10-06 12:38] ykuijs opened #420 "Add App Store Settings resource"
**Details of the scenario you try and problem that is occurring:**
To manage the App Store Settings, we need a new resource.

**The DSC configuration that is using the resource:**
[code]

These two settings can be changed using the following cmdlets:
[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Not applicable

**Version of the DSC module you're using:*

[2016-10-06 14:57] luigilink commented on #417
Fix suggested in PR #421

[2016-10-10 04:15] cathornton opened #422 "Using SQL Alias"
**Details of the scenario you try and problem that is occurring:**
I have been trying to refer to my Database Server using my SQL Alias (set in cliconfg.exe).  It seems that none of my commands work unless I use the actual Database Server name itself.

**The DSC configuration that is using the resource:**
For example: https://github.com/PowerShell/SharePointDsc/wiki/SPWebApplication
When I use Dat

[2016-10-10 12:50] MikeLacher448 commented on #422
I also use SQL alias for my builds, and have not yet run into any issues with any of the DSC resources.
Other then ensuring the SQL alias is set on each SharePoint server, there really isn't anything else to configure. Can you try and perform the same actions without DSC to verify the SQL alias is configured properly?

[2016-10-10 13:27] ykuijs commented on #422
Agree with Mike, I also use SQL aliases without any issues. I have seen issues in the past with aliases not working properly. Never figured out the cause, but the solution was to create a DNS record for the alias.

[2016-10-10 18:13] luigilink commented on #422
I had an issue because the "Dynamically determine port" was't checked.
Before installing SP, I always check the SQL connection with a UDL file.

[2016-10-10 22:17] iosgitr opened #423 "SPAlternateUrl resource missing -Internal parameter on native cmdlet calls"
**Details of the scenario you try and problem that is occurring:**
I'm trying to use SPAlternateUrl to add an internal URL to an existing zone.  I provided the WebAppUrl, Zone, and Url parameters per documentation (https://github.com/PowerShell/SharePointDsc/wiki/SPAlternateUrl) and although verbose output shows that resource is in desired state, I don't see my new internal URL.  I looked at the S

[2016-10-10 22:27] BrianFarnhill commented on #422
@cathornton Can you try to create the web application through PowerShell directly to test if that works. All the DSC resource does is natively call out to New-SPWebApplication, so you should be able to test it by calling that directly

    New-SPWebApplication -Name "Contoso Internet Site" -URL "https://www.contoso.com" -ApplicationPool "ContosoAppPool" -DatabaseServer "YOUR.ALIAS.HERE" -DatabaseN

[2016-10-10 22:33] BrianFarnhill commented on #423
Hi @iosgitr - thanks for reporting,

We've seen success with other deployments using this in it's current form, so I'm hesitant to make a blanket change (as the internal option does process things differently to public alternate URLs which are the default). That said, we should be exposing the Internal option as an attribute on the resource so it can be selected, so I'll add that to the backlog.

[2016-10-10 22:56] iosgitr commented on #423
That makes more sense.  So it sounds like the resource is intended to ensure the public URL specified is set for the specified web app and zone but that there is no support for adding additional internal URLs to the specified zone (primarily used for reverse proxy scenarios).

Microsoft PFEs I've worked with in the past have been very clear about not adding a public zone URL without extending the

[2016-10-11 03:07] cathornton commented on #422
thanks for the feedback everyone. Unfortunately I can no longer replicate this issue.  My test results have been a bit inconsistent so I suspect there may be other issues at play in my environment.

@BrianFarnhill your point on using DNS instead of SQL Alias is a good one and I will take it on board.

[2016-10-11 03:54] BrianFarnhill commented on #422
@cathornton No worries - hope you work it all out! Closing this issue off.

[2016-10-11 03:54] #422 closed

[2016-10-11 03:56] BrianFarnhill commented on #423
I'm a PFE as well, so the advice varies depending on the situation :)

Definitely happy to get the internal option added though so there is flexibility in the resource, so we'll leave this one open in the backlog and update this issue when we get to it. Thanks!

[2016-10-11 18:29] ykuijs commented on #410
I never though of this scenario when designing these resources. The suggested fix in PR413 will fix the issue with the installation of Language Pack, but the resource to install CU's depends on retrieving the version information from the Config DB. The above mentioned order won't work with these resources. That has to be:
1. Install of SharePoint Binaries
2. Install of SharePoint Language Pack(s)

[2016-10-11 22:02] BrianFarnhill commented on #410
OK I think we need to try to determine a way to get the CU's to be able to be installed before we create the farm - I know slipstreaming covers this (and I'm happy to let #413 go through as long as we capture this in the documentation of the CU resource) but I think we need to add a separate issue to address this. I feel like we can do something like look at the version number of Microsoft.SharePo

[2016-10-11 22:44] BrianFarnhill opened #424 "Infer UseSSL value for SPWebApplication from URL"
**Details of the scenario you try and problem that is occurring:**

Currently [SPWebApplication](https://github.com/PowerShell/SharePointDsc/wiki/SPWebApplication) requires you to set the "UseSSL" property manually, and if you set this to true but provide a URL property that does not start with "https" SharePoint will throw an error. We should be able to detect the type of URL that is provided and

[2016-10-12 06:55] ykuijs commented on #403
@BrianFarnhill, Issue can be closed. Is fixed in PR415

[2016-10-12 06:55] ykuijs commented on #380
@BrianFarnhill, Issue can be closed. Is fixed in PR415

[2016-10-12 06:56] ykuijs commented on #383
@BrianFarnhill, Issue can be closed. Is fixed in PR415

[2016-10-12 07:06] ykuijs commented on #410
Slipstreaming CUs is not the best way if you are also using Language Packs. Since CUs are multi lingual, they need to be installed last, in order to update all installed language packs. If you slipstream it into the SP install and then install language packs, your SharePoint install will be on the CU patch level, but your language packs won't.

The only way to determine the version of all installe

[2016-10-12 07:13] ykuijs commented on #407
How do you see this being included into the schema? What notation should be used? Including wildcards (e.g.: "SP_Content*") or just matching a specified string (e.g.: "Content")??

[2016-10-12 07:19] ykuijs commented on #360
Will be fixed in PR #414

[2016-10-12 20:57] #403 closed

[2016-10-12 20:59] BrianFarnhill commented on #410
@ykuijs OK happy with that (I live in an English speaking country so haven't had to do language packs for production environments before, so appreciate the perspective).

Happy to go through and update our doco to make the process clear on that then just so that when people like me come to it we can get it right :)

[2016-10-12 21:01] BrianFarnhill commented on #407
I want to do it using PowerShell's syntax so we can do something like this in the code:

    Get-SPDatabase | Where-Object -FilterScript { $_.Name -like $params.Name }

Does that make sense?

[2016-10-12 21:01] #383 closed

[2016-10-12 21:01] #380 closed

[2016-10-13 14:05] StefanSchoof opened #427 "PULL_REQUEST_TEMPLATE.md has a Question mark to much"
In https://github.com/PowerShell/SharePointDsc/blob/dev/.github/PULL_REQUEST_TEMPLATE.md Line 15 should be the question mark after [Style Guidelines] removed. So that it is:

[code]

[2016-10-14 07:00] ykuijs commented on #420
PR merged, close issue

[2016-10-14 07:00] #420 closed

[2016-10-14 07:07] ykuijs commented on #410
I hate language packs, makes troubleshooting harder (localized error messages) and I am always searching for the link I am looking for (translated text in for example Site Settings, also with a different order than in English). So try to stay as far away from it as possible :-) But I do understand they are used a lot in some countries ;-)

Agree that we have to update the docu. How to proceed on t

[2016-10-17 22:21] iosgitr opened #428 "SPShellAdmins resource throws error stating Get-SPDSCContentDatabase not recognized"
**Details of the scenario you try and problem that is occurring:**
Trying to ensure an AD user is an SP shell admin.

**The DSC configuration that is using the resource:**
configuration SharePointConfig
{
	Import-DSCResource -ModuleName PSDesiredStateConfiguration -ModuleVersion "1.1"
	Import-DscResource -ModuleName SharePointDsc -ModuleVersion "1.3.0.0"

	node farmnode1
	{
		SPShellAdmins SharePo

[2016-10-17 22:21] iosgitr commented on #428
This is the error I get:

PowerShell DSC resource MSFT_SPShellAdmins  failed to execute Test-TargetResource functionality with error message:
The term 'Get-SPDSCContentDatabase' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
    + CategoryInfo          :

[2016-10-17 22:22] iosgitr commented on #428
I found that function in the bottom of the MSFT_SPShellAdmins.psm1 file so not sure why the LCM can't find it.

[2016-10-17 22:27] BrianFarnhill commented on #428
This is a duplicate of #383 and was fixed in #415 - this will be released as part of version 1.4 which should go out towards the end of this month. In the mean time if you need this fix you can grab the latest code from our dev branch which should resolve the issue.

Closing this as a duplicate. Thanks for reporting.

[2016-10-17 22:27] #428 closed

[2016-10-17 22:28] iosgitr commented on #428
Sorry!  Thanks for the response.  I'm still learning my way around GitHub.

[2016-10-19 00:11] BrianFarnhill commented on #225
I'm on this one

[2016-10-20 08:33] typozh opened #430 "IISReset each time SPInstallPrereqs test fails"
**Details of the scenario you try and problem that is occurring:**
If the SPInstallPrereqs test fails the set function runs the prereqs exe. This triggers a IISReset. In my case the Prerequisites were all installed and the prereqs exe did not change anything but the test still failed because of a different version of Microsoft Visual C++ 2015 Redistributable (x64) package.
I had version 14.0.23506

[2016-10-20 20:46] BrianFarnhill commented on #430
Thanks for reporting Brian, will get on to this one ASAP! I'll own putting this fix in and we'll see if we can get it out in 1.4

[2016-10-20 21:04] BrianFarnhill opened #431 "Update doco on SPInstallLanguagePack to explain process"
Capturing an item that came from the discussion in #410 - we need to update the readme.md file in the SPInstallLanguagePack folder to explain the correct sequence that is expected for installing language packs:
1. Install of SharePoint Binaries
2. Install of SharePoint Language Pack(s)
3. Create SPFarm
4. Install of Cumulative Updates

This way it will be reflected in the wiki and inbuilt PowerShe

[2016-10-20 21:06] BrianFarnhill commented on #410
Just opened a new issue for the doo update - should be a quick one to do. I'm closing this one off now though as the main issue here is done and fix merged in #413. Thanks guys.

[2016-10-20 21:06] #410 closed

[2016-10-20 23:30] BrianFarnhill commented on #430
Got a fix open for this, should be in dev within a couple of days and will make the 1.4 release.

[2016-10-21 09:43] luigilink commented on #417
I forgot a few resrouces with the typeName property.
Fix suggested in PR #433

[2016-10-21 10:18] typozh commented on #430
Thanks for taking this up! Hope it will make the 1.4 release.

[2016-10-23 03:41] #332 closed

[2016-10-23 04:09] #430 closed

[2016-10-25 21:44] #232 closed

[2016-10-26 11:08] ykuijs commented on #427
I am on it!

[2016-10-26 11:08] ykuijs commented on #431
I am on it!

[2016-10-26 11:15] ykuijs commented on #374
Issue can be closed. This was fixed in #411

[2016-10-26 11:16] ykuijs commented on #372
@NikCharlebois Was this also fixed in #411 or is this still under investigation?

[2016-10-26 11:17] ykuijs commented on #360
Issue can be closed. Was fixed in PR #414

[2016-10-26 11:19] ykuijs commented on #338
Issue can be closed. Was fixed in #414

[2016-10-26 11:21] ykuijs commented on #338
@NikCharlebois Was this also fixed in #414??

[2016-10-26 11:40] NikCharlebois commented on #372
@ykuijs leave this one open I think. I was never able to replicate the issue on my end. @ZeweiS are you still face with this issue with the latest builds?

[2016-10-26 11:41] NikCharlebois commented on #338
@ykuijs No. I've made the modifications for the Visio Service App, bu not the others. I can have a look this week if you wish.

[2016-10-26 11:45] ykuijs commented on #338
@BrunoReboul What is the status of your PR?

[2016-10-26 14:41] jmcanally opened #439 "Exception calling"AddActiveDirectoryConnection" with "10" argument(s)"
**Details of the scenario you try and problem that is occurring:**
Trying to use SPUserProfileSyncConnection and getting the error below.  What am I missing?

**Error Details:**
PowerShell DSC resource MSFT_SPUserProfileSyncConnection  failed to execute Set-TargetResource functionality with error message: Exception c
"AddActiveDirectoryConnection" with "10" argument(s): "Could not load file or ass

[2016-10-26 21:34] BrianFarnhill commented on #439
Good timing, I actually hit this same issue yesterday. I've found that this happens with SharePoint 2013 when it's in Active Directory Import mode (as opposed to the full profile sync mode that uses FIM) and so I suspect that this would also happen to SharePoint 2016 as well. So we need to investigate what needs to change in the script when it's not the FIM import mode and go from there. Will keep

[2016-10-26 21:57] BrianFarnhill commented on #338
@ykuijs I think that the PR @BrunoReboul  did was closed, but we needed to get the missing apps from this done, and I'm not sure we had an owner on that looking at the conversation here.

[2016-10-26 21:59] #225 closed

[2016-10-26 22:01] #360 closed

[2016-10-26 22:02] #374 closed

[2016-10-31 13:15] Bjorn80 opened #442 "Creating and Joining the farm"
Hi this is not an issue, but i could not find the question section:-)

**Details of the scenario you try and problem that is occurring:**
Is the SharePoint configuration wizard run when creating/joining the farm?
Or are we required to run the psconfig afterwards?
(Get-spserver $env:computer).needsupgrade does show false.

**The DSC configuration that is using the resource:**
SharePointdsc 1.2.0.0

[2016-10-31 14:00] ykuijs commented on #442
Hi @Bjorn80, you do not have to run psconfig when using SharePointDsc. The SPJoinFarm and SPCreateFarm will do the work for you.

[2016-10-31 14:12] Bjorn80 commented on #442
Excellent ykuijs!

Thank you.

brgs

Bjørn

[2016-10-31 14:12] #442 closed

[2016-10-31 19:19] ykuijs commented on #431
@BrianFarnhill Fixed in PR438, issue can be closed

[2016-10-31 19:20] ykuijs commented on #427
@BrianFarnhill Fixed in PR438, issue can be closed

[2016-10-31 19:20] ykuijs commented on #407
Working on it

[2016-11-01 01:15] #431 closed

[2016-11-01 01:15] #427 closed

[2016-11-01 12:51] bardtomm opened #443 "SPInstallLanguagePack"
Installing language pack fails with SharePoint 2016

Fails with "Unknown folder structure"
I see that it checks for osrvFolder (osrv*.*) but 2016 Language files does not contain this folder..

What about checking for osmui*.' instead?

Powershell 5.0, SharePointDSC 1.3.0.0 Windows Server 2012 R2

[2016-11-01 13:39] ykuijs commented on #443
Thanks @bardtomm for reporting. Am investigating the issue.

[2016-11-09 12:57] mariusv-msft opened #444 "SPSearchTopology server name case sensitive"
**Details of the scenario you try and problem that is occurring:**
When trying to apply the SPSearchTopology on a single SharePoint 2016 vm, with custom role, the server names supplied are expected to be in the same case

I've used:
             SPSearchTopology LocalSearchTopology
             {
                 ServiceAppName          = "Search Service Application"
                 Admin

[2016-11-09 16:51] luigilink opened #445 "Error during the Get-TargetResource of SPManagedMetaDataServiceApp resource if ContentTypeHubUrl is null"
**Details of the scenario you try and problem that is occurring:**
Error during the Get-TargetResource of SPManagedMetaDataServiceApp resource.

**The DSC configuration that is using the resource:**
[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows 2012 R2

**Version of the DSC module you're using:**
SharePointDsc 1.4.0.0

[code]

[2016-11-09 16:55] luigilink commented on #445
Fix suggested in PR #446

[2016-11-09 21:54] BrianFarnhill commented on #445
Fix merged, closing this one. Thanks dude

[2016-11-09 21:54] #445 closed

[2016-11-09 21:55] BrianFarnhill commented on #444
Nice catch, will get this sorted!

[2016-11-09 23:15] monkeymagik commented on #398
I would happily continue using AutoSPInstaller to deploy SharePoint environments, except for the way it handles passwords which DSC does a better and more secure job of and a few little things here and there that I've had to write extra functions.

While it's true every SharePoint install is different, AutoSPInstaller will pretty much do everything you need for 90% of SharePoint environments I've

[2016-11-10 00:30] BrianFarnhill commented on #444
@mariusv-msft I've just opened a PR with a fix, we should see this go out in 1.5

[2016-11-10 00:30] monkeymagik opened #450 "Small Farm Role Support"
When will SharePointDSC be updated to support the new small farm roles available with SharePoint 2016 Feature Pack 1?

[2016-11-10 00:31] BrianFarnhill commented on #450
I'm working on it as we speak - hoping to get it released as part of 1.5 at the end of this month

[2016-11-10 02:45] BrianFarnhill commented on #450
@monkeymagik I've got the pull request open with the code for this, it'll get reviewed then merged to dev and will ship in v1.5

[2016-11-10 09:10] Bjorn80 opened #452 "SPinstallPrereqs cant find files"
_

**Details of the scenario you try and problem that is occurring:**
Trying to install SharePoint 2013 prerequisites using the SPinstallPrereqs resource.

**The DSC configuration that is using the resource:**
[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows Server 2012R2, PowerShell 5.

**Version of the DSC module you're using:**
1.2

I have verif

[2016-11-10 09:33] ykuijs commented on #452
Hi @Bjorn80, since you are still using v1.2: Can you please try using v1.4 and check if the issue still exists there?

[2016-11-10 09:42] Bjorn80 commented on #452
Hi
Installed SharePointDSC 1.4.0.0

Gives me same:

[code]

It says it is successfull, but DSC runs through it and past it in a matter of 10 seconds.

brgs

Bjørn

[2016-11-10 22:29] BrianFarnhill commented on #452
@Bjorn80 What you need to do is to look at the output from the prereq installer log. The second log you have shown us here clearly shows that the call to prerequisiteinstaller.exe is completing successfully (the message "Prerequisite installer completed successfully." only appears when the return code for that exe is 0).

What you've shown us in the first instance stops at the call to prerequisite

[2016-11-11 09:49] #444 closed

[2016-11-11 14:20] Bjorn80 opened #453 "SPManagedMetaDataServiceApp Resource shows error when running DSC"
**Details of the scenario you try and problem that is occurring:**
The SPManagedMetaDataServiceApp creates the Managed Metadata Service Application successfully, but when rerunning start-dscconfiguraion -useexisting -verbose -wait -force and update-dscconfiguration -verbose -force or timed dsc run, I get the following errors:

[code]

and at the bottom:

[code]

If i remove the resource-block and

[2016-11-11 15:22] ykuijs commented on #407
Have implemented this change. Unfortunately Azure requires additional steps to support SQL Always-On, so I cannot test it on my current environment. Am creating a new environment in Hyper-V as we speak, so I can test it on that environment.

[2016-11-11 18:48] ykuijs commented on #443
Issue fixed in PR #454

[2016-11-11 21:10] luigilink commented on #453
This issue is already fixed in PR #446
Issue Ref : https://github.com/PowerShell/SharePointDsc/issues/445

[2016-11-13 06:46] BrianFarnhill commented on #453
Thanks @luigilink - as stated this is a duplicate so closing this off. The fix will be released in 1.5 and is already in the dev branch.

[2016-11-13 06:46] #453 closed

[2016-11-13 06:48] BrianFarnhill commented on #407
If you need a hand with the AGs in Azure let me know, I wrote a [blog post](https://blogs.msdn.microsoft.com/brian_farnhill/2016/03/03/configuring-sql-server-alwayson-availability-groups-in-azure-rm-virtual-machines/) on how to get this going with ARM VM's so I can definitely help with that one. Let me know if you need a hand.

[2016-11-13 06:55] BrianFarnhill opened #455 "Create SPFarm resource to supercede SPCreateFarm and SPJoinFarm"
After running around with the v0.x and v1.x versions of SharePointDsc for a while now I've come across an issue with the approach to the create/join farm resources and it is to do with the disaster recovery scenario for a server that has CreateFarm in its config. Basically it will only ever join a server to a farm when there is no farm there. If you decide you need to destroy and re-create a serve

[2016-11-13 07:01] BrianFarnhill opened #456 "Breaking changes for a v2.0 release"
I wanted to open an issue that we could link all items that relate to breaking changes that will go in a v2.0 release, as well as have a central place to discuss other items relating to a 2.0 release such as:

- How to document and communicate the breaking changes
- How to work on the breaking changes at the same time (such as a v2.0 dev branch)

I want to group as many of the breaking changes tog

[2016-11-13 07:20] BrianFarnhill opened #457 "Avoiding conflicts between servers through a DSC configuration Database"
One of the issues we've had from day 1 of SharePointDsc has been how to avoid conflicts between resources running on different servers. Right now we have an "after the fact" approach that involves catching that error messages from SharePoint that talk about "update conflicts" and then flagging to the DSC engine that a reboot is pending as a way to loop back around and trying again, but this isn't

[2016-11-13 14:44] jmcanally commented on #35
I'm currently working on this one and planning to submit my changes this week.  So far I have the basics working following the guidance mentioned in previous comments.

[2016-11-13 20:47] BrianFarnhill commented on #35
Tagged as in progress, its all yours @jmcanally

[2016-11-14 14:02] Bjorn80 commented on #452
Hi @BrianFarnhill
I looked in the Programs and features menu to see none of the prerequisites have been installed.
Also checked the registery for uninstall keys.

The Prerequisitelog shows the following:

Error: Startup task doesn't exist. This is not a continuation after a restart.
Error: Unrecognized command line option

[code]

brgs

bjørn

[2016-11-15 00:43] BrianFarnhill commented on #443
Issue merged to dev, will be released in v1.5 - closing this one off.

[2016-11-15 00:43] #443 closed

[2016-11-15 00:45] BrianFarnhill commented on #452
@Bjorn80 When you run the main installer does it tell you any prerequisites are missing? Because the return code of 0 there tells me that it looks fine. I'm just re-running a lab environment of mine to compare log files with, but wanted to check with you.

[2016-11-15 06:51] Bjorn80 commented on #452
@BrianFarnhill
The installer tells me prerequisites are missing. I can double click the sharepoint setup manually and get the screenshot:
![spprerequisite](https://cloud.githubusercontent.com/assets/18185362/20295930/565bb00c-ab08-11e6-83c2-78fc08a64aec.png)

[2016-11-15 09:21] BrianFarnhill commented on #452
@Bjorn80 Damn - ok, next steps. In the DSC logs when you run the prereqs resource you see a line that starts with "Args for prereq installer are:" - can you copy/paste that in to a command line to try to manually run the prereq installer and see if that works? I'm just trying to isolate things out here to see where the real issue is, so I appreciate you working with me on this one.

[2016-11-15 10:32] ykuijs commented on #452
Which version of the SharePoint 2013 installer are you using? By any chance RTM?

The log shows that the PrerequisiteInstaller does not recognize the WCFDataServices56 parameter, which your last screenshot also doesn't list. I haven't been able to confirm 100%, but my suspicion is that the WCFDataServices56 parameter (and therefore requirement) has been added in SP1.

Can you try to download the S

[2016-11-15 11:08] ykuijs commented on #452
Quote on http://www.adventuresinsharepoint.co.uk/2014/04/21/autospinstaller-error-failed-to-download-wcf-data-services-5-6-installation-package/: "because SharePoint 2013 Service Pack 1 requires a newer version of the WCF Data Services"

[2016-11-15 11:26] ykuijs commented on #457
Not sure exactly what you mean here. Is the configuration database you are talking about in step 1 the SharePoint ConfigDB or a custom database?

SharePoint itself is using configDB locking, for example during patching. Can't we reuse this logic?

[2016-11-15 11:29] ykuijs commented on #455
Good catch, never thought of this scenario. We definitely need to resolve this! The challenge here would be preventing two servers creating a new farm at the same time.

[2016-11-15 15:56] ykuijs commented on #407
Problem is that my current test environment has been created using the old OOTB template and therefore is based on the classic model.

[2016-11-15 21:05] BrianFarnhill commented on #457
It would be a separate one, so that we could use it before a server is joined to a farm, and also touching the config DB directly is unsupported. I did think about using things like the SPFarm property bag but that can't guarantee isolation and integrity when multiple servers try to set values and things like a custom DB would be able to.

[2016-11-15 21:07] #450 closed

[2016-11-15 21:07] BrianFarnhill commented on #450
@monkeymagik This update has been made to the dev branch and will release with v1.5 in a few weeks.

[2016-11-15 21:15] BrianFarnhill commented on #455
@ykuijs Exactly, which is why I suggest a config database in #457 to help manage this type of "locking" to avoid conflicts

[2016-11-15 21:18] BrianFarnhill commented on #452
@ykuijs Good catch! I can verify this is the case as well!

@Bjorn80 Can you confirm if you are using the RTM installation media or the SP1 installation media? As RTM is no longer supported (based on the [official support lifecycle](https://support.microsoft.com/en-au/lifecycle/search?alpha=Microsoft%20SharePoint%20Server%202013) page) we don't cover it from a support standpoint either. We also ca

[2016-11-15 22:40] Bjorn80 commented on #452
Hi I shall check tomorrow. Can I check this from the intallation folder? I have extracted the iso i am using some time ago. I have a lot of the SahrePoint 2013 iso versions..

I have earlier created a prequsite installer that bypasses the sharepoint installer (even appfabric distributed cache works!), i have used this one so far. But wanted to try the official sharepointdsc prerequisite installer.

[2016-11-16 05:30] BrianFarnhill commented on #452
@Bjorn80 You should be able to check the version number on prerequisiteinstaller.exe - if its '15.0.4420.1017' then it's RTM

[2016-11-16 08:01] ykuijs commented on #407
Have deployed a new environment in Azure based on the HA template. This does the configuration for me :-)

This did reveal an issue: The Add-DatabaseToAvailabilityGroup cmdlet was introduced in the April 2014 CU (Post SP1): http://www.harbar.net/archive/2014/03/20/Support-for-SQL-Server-Always-On-Async-Replication-with-SharePoint.aspx

Since the HA template deploys a SP1 environment, this cmdlet d

[2016-11-16 08:03] BrianFarnhill commented on #407
Damn I thought it was SP1,  my mistake! Yes absolutely we should add a check for that one too

[2016-11-16 08:06] ykuijs commented on #407
No problem, SP1 was released in April 2014 as well, but the cmdlet was added shortly after the code freeze for SP1 :-)

Will add this check as well!

[2016-11-16 08:51] Bjorn80 commented on #452
Hi @BrianFarnhill and @ykuijs . I can confirm that my prerequisiteinstaller version is 15.0.4420.1017.
I have already set up 3 farms based on this sharepoint 2013 version, though we have installed Service Pack 1  and CU 2016 April on top of it. Giving us buildversion 15.0.4815.1000. Does this mean we have to reinstall the SharePoint farms ?

brgs

Bjørn

[2016-11-16 09:36] BrianFarnhill commented on #452
@Bjorn80 Ahhhh ok so there is your problem right there - if you look at the page you quoted as your reference:

The ISO version you are referring to was never impacted by this issue, the issue only impacted people that installed from the RTM ISO (the one you have) and then installed the corrupted SP1 install on top of a farm that was established like that. If you install a new farm from the ISO on

[2016-11-16 10:43] Bjorn80 commented on #452
Hi @BrianFarnhill I see thank you,

Point 1) in my previous reply, do i have to reinstall these farms?:

1)
I have already set up 3 farms based on this sharepoint 2013 version, though we have installed Service Pack 1 and CU 2016 April on top of it. Giving us buildversion 15.0.4815.1000. Does this mean we have to reinstall the SharePoint farms ?

brgs

bjørn

[2016-11-16 10:45] ykuijs commented on #452
Hi Bjorn, no you don't have to.

[2016-11-16 11:00] ykuijs commented on #424
I am on it!

[2016-11-16 11:15] Bjorn80 commented on #452
Thank you @ykuijs and @BrianFarnhill !
You have been very helpful!

[2016-11-16 11:15] #452 closed

[2016-11-16 15:15] ykuijs commented on #417
@BrianFarnhill The two mentioned PR's are merged, so this issue can be closed.

[2016-11-16 21:24] #417 closed

[2016-11-17 00:00] MikeLacher448 commented on #457
I see the issue you're trying to solve, I'm just concerned with adding external dependencies. Especially for customers (like mine), that strictly follow the rule of 'thou shall not use the SharePoint SQL server for non-SharePoint databases', this would require a separate SQL instance just for this database (assuming they don't have a general purpose SQL server to use).

[2016-11-17 00:44] BrianFarnhill commented on #457
@MikeLacher448 Ahhhh, actually that's a good point, I know when we run risk assessments this would trigger that rule as well. OK so that complicates the SQL option a little - is there something else we could look at using that would work in place of SQL though? Or is this something we would need to just cop on the chin as it really could be considered a SharePoint database (sort of). This might be

[2016-11-17 01:03] camiloborges commented on #457
Hello

Question for you guys.
How do you manage 3rd party product databases in such clients. Are they
hosted in a different sql instances? In my experience they usually end up
in the same instance.
Same rule should apply here.

On Thu, Nov 17, 2016 at 11:44 AM, Brian Farnhill <notifications@github.com>
wrote:

[2016-11-17 03:23] BrianFarnhill commented on #457
@camiloborges What "should" happen and what "does" happen are different things. Microsoft's advice has always been to not share the SQL instance used for SharePoint with other databases (typically related to the non-standard settings we do like MAXDOP), so we can't go against that advice here just because people usually do it anyway, we need an option that aligns with existing advice (or product g

[2016-11-17 07:32] mariusv-msft commented on #457
My 2 cents. When creating a farm currently with DSC you also specify the port for central admin, which creates CA on the server the farm is created. Does it mean the SPFarm resource will need to provision central admin on a specific server? Do we need to add another property to indicate which server will need to host CA or a property to indicate the current server? Or do we need an additional reso

[2016-11-17 10:54] johlju commented on #457
Instead of a database, couldn't it be an optional "witness" share somewhere? The setup account need to have write access to it. If not an error should be thrown (if the optional parameter is used).
In that "witness" share there could be a file in a specific format which tells the status of all the dependencies for other nodes. Unless specified dependencies are meet than the node waits (`-Wait` cou

[2016-11-17 20:55] BrianFarnhill commented on #457
@mariusv-msft Yea good call on the central admin thing, so we still need to control which one goes first. The problem with the depends on approach though (as I've seen it in my customers) is that if you use SPCreateFarm on one server and then WaitForAll and SPJoinFarm on the others, the minute you lose that first server, you actually lose DSC on the entire farm. The WaitForAll will never pass, and

[2016-11-18 07:17] ykuijs commented on #457
I have thought about using a share as well, but this doesn't feel very robust.

I totally agree with the comment made by @MikeLacher448, as Microsoft we always recommend not to place non-SharePoint databases on the same instance as SharePoint. And even though this database is used for SharePoint, it isn't a real SharePoint database.

It is however possible to create custom databases which are cons

[2016-11-18 07:22] ykuijs commented on #457
@BrianFarnhill What if you want to host the CA on multiple servers? Then you still run the risk of two servers trying to create the farm. Would a parameter "DSCServer" be an option? That server is always used for creating a farm.

And if we can somehow prevent or detect that an admin configures two servers as DSCServer, I think we are there. Yes, we are still relying on one server to create a farm

[2016-11-18 12:26] johlju commented on #457
The share witness should not be on SharePoint server, this should preferably be on a SAN or a DFS share, or Storage Server, or a regular single Server with a share - whatever the user decide is the best option for them. I think we need to look outside of the SharePoint farm for help with this.
It could as easily be a database witness in a different SQL AlwaysOn environment if the user want that.
I

[2016-11-18 14:05] luigilink opened #461 "New Resource SPFarmPropertyBag"
A new resource I'm working on.

Suggested PR #460

[2016-11-18 14:18] luigilink opened #462 "New Resource SPSearchActiveDirectoryDomains"
A new resource I'm working on.
With this resource, we can mamage the peoplepickersettings.SearchActiveDirectoryDomains of a web application.

PR in progress

[2016-11-18 22:07] BrianFarnhill commented on #457
@ykuijs Would love to see that solution you came up with for the provisioning - wanna email me the details?  If that's suitable we could use that for the database and just solve SPFarm like you suggest. We could also look at something like creating a near empty stub database while the farm is being provisioned to indicate that the provisioning is in progress, or something like that to solve SPFarm

[2016-11-23 09:59] ykuijs commented on #457
@BrianFarnhill Did some testing over the past few days. I just shared the information with you

[2016-11-25 03:11] riponbanik opened #463 "Does not work via Puppet dsc"
When running through puppet dsc -version 1.2.0 it complains that 1. Could not evaluate: The term 'Invoke-SPDSCCommand' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name , or if a path was included, verify that the path is correct and try again.

[2016-11-25 07:13] atear10 opened #464 "Update SPProductUpdate, SPInstall and SPInstallPrereqs to throw error when files are blocked"
**Details of the scenario you try and problem that is occurring:**
we are trying torun the SPProductUpdate along with SPConfigWizard module to apply SP1 on our Sharepoint 2013 Trial Version , it keeps running and doesnt stop or throw any kind of error

No of VM's : 2
Purpose : Apply SP1 on both
Source where script runs : VM1
Target :  VM1 , VM2

**The DSC configuration that is using the resource:*

[2016-11-25 07:34] BrianFarnhill commented on #464
@ykuijs Have you got some bandwidth to help look in to this one?

[2016-11-25 07:42] BrianFarnhill commented on #463
OK, so knowing nothing at all about puppet, troubleshooting this one should be interesting - but here goes :)

So that Invoke-SPDSCCommand function is one that is published by the main module, so in theory as long as the SharePointDsc module is published in one of the module directories that PowerShell recognises then it should be able to be found. The quick way to test this is if you open a norma

[2016-11-25 10:43] johlju commented on #463
I might be wrong here, but I think Chef uses the resources but Puppet "converts" them to puppet code. But I could be wrong. But if it converts then maybe the external modules does not he converted.
I'm curious how this works using SharePointDsc in Puppet. :)

[2016-11-25 12:06] ykuijs commented on #464
Hi @atear10, I will help you figure this one out. To start of, I have a few questions:
- In the text you are saying that you are trying to install SP1, but the config shows that you are trying to install the May 2016 CU. Just to make sure we are on the same page: Exactly what are you trying to do? Does the install package have SP1 slipstreamed or is it the RTM version?
- Does the event log show an

[2016-11-25 13:01] atear10 commented on #464
Hi @ykuijs  , Sorry for the confusion , we are trying to apply the service pack 1 for SharePoint , we didn't realize that the  name given was "InstallCUMay2016" , doesn't make a difference isn't it . the actual file is still "officeserversp2013-kb2880552-fullfile-x64-en-us.exe" which is a SP1 setup file .
we are downloading the setup file from "https://www.microsoft.com/en-in/download/details.aspx

[2016-11-25 15:12] ykuijs commented on #464
Can you share the output the Start-DSCConfiguration command is giving? Please use the -Verbose option to run the command in Verbose mode.

[2016-11-26 18:50] atear10 commented on #464
Hi @ykuijs , Below is the screenshot of the output that I am getting after start-dscconfiguration .

![image](https://cloud.githubusercontent.com/assets/17720180/20642522/f5dd26a6-b436-11e6-84bd-ccf7da54b46f.png)

[2016-11-28 09:00] ykuijs commented on #464
We will have to figure this one out, but as a workaround: A slipstreamed version of SharePoint with service pack 1 is available for download.

[2016-11-28 17:14] KoenigLear opened #465 "The 'Invoke-SPDSCCommand' command was found in the module 'SharePointDsc'"
Hi,
I'm trying to create a site but fails with 'Invoke-SPDSCCommand' command was found in the module 'SharePointDsc', but the module could not be loaded.

    node localhost
    {
        SPSite TeamSite
        {
            Url                      = "..."
            OwnerAlias               = "...\sp_farm"
            Name                     = "a Site"
            Template                 = "

[2016-11-28 20:10] ykuijs commented on #464
You can find the SP2013 with SP1 slipstreamed here:
https://www.microsoft.com/en-us/download/details.aspx?id=42039

For troubleshooting:
Can you please test what happens if your run the update manually by following these steps:

1. Log in using the account you are using in the DSC config
2. Open an elevated command prompt
3. Browse to the location where the setup file is located
4. Run the command

[2016-11-28 20:23] ykuijs commented on #465
Hi @KoenigLear, can you share a screenshot of the error message? And can you tell me when this issue occurs? When DSC is testing the existance of the site (Test/Get methods) or when it tries to create the site (Set method)?

[2016-11-28 20:37] KoenigLear commented on #465
@ykuijs  Thanks - See below:
![sharepoint_dsc_error](https://cloud.githubusercontent.com/assets/19749651/20685006/654204b6-b5aa-11e6-9308-655a11373c26.png)

[2016-11-28 20:56] ykuijs commented on #465
Do all resources fail or just the SPSite one?

[2016-11-29 08:29] atear10 commented on #464
Hi @ykuijs  , thank you for the workaround but we had already taken a call that we would go with SharePoint Server 2013 but not Foundation.

- Ran "officeserversp2013-kb2880552-fullfile-x64-en-us.exe /quiet /passive" with the account that is using DSC Config under elevated permissions , it has installed the SP1 without any errors.

[2016-11-29 12:58] ykuijs commented on #464
My apologies, didn't notice that I had shared the SPF download. The SharePoint Server 2013 with SP1 ISO is downloadable via the Volume License Service Center (VLSC) or MSDN.

When you are deploying SP1 via DSC and the install seems stuck, do you see a process "officeserversp2013-kb2880552-fullfile-x64-en-us.exe" in the Task Manager? And how much CPU time is it using?

Can you also try this:
- Log

[2016-11-29 13:25] atear10 commented on #464
@ykuijs I'm sorry to say there is no process "officeserversp2013-kb2880552-fullfile-x64-en-us.exe" in the Task manager during DSC fire.
![image](https://cloud.githubusercontent.com/assets/17720180/20711270/dc7190b4-b664-11e6-9a1e-9dcb257ef3d6.png)

During the manual installation we did see the "officeserversp2013-kb2880552-fullfile-x64-en-us.exe /quiet /passive" task in task manager running in the

[2016-11-29 18:01] KoenigLear commented on #465
Never mind for some reason I'm yet to determine the files C:\Program Files\WindowsPowerShell\Modules\SharePointDsc\Modules were not in its place.   I'm using an Azure RM DSC extension and this complicates the setup a bit.  It's working fine for me now.

[2016-11-29 18:01] #465 closed

[2016-12-01 20:25] ykuijs commented on #464
It looks like that somehow the setup isn't started. I will have to try to reproduce this issue.

In the mean time: Do you have access to a VLSC or MSDN account to download the SharePoint Server 2013 with SP1??

[2016-12-02 03:56] atear10 commented on #464
@ykuijs  Thank you :) .....eagerly waiting

our Project lead might be having an account , not sure though.

[2016-12-07 09:59] atear10 commented on #464
@ykuijs Hello there ! ....just dropping by to check ,any kind of update let us know .

[2016-12-07 15:19] ykuijs commented on #464
@atear10 Sorry, have been busy the past week. Hopefully I have some time in the next few days. Have to build a new environment based on the RTM bits before I can reproduce, which takes some time.

[2016-12-08 21:06] BrianFarnhill commented on #407
Just merged in to dev, closing this off.

[2016-12-08 21:06] #407 closed

[2016-12-08 21:06] NikCharlebois opened #467 "MSFT_SPSite Get-TargetResource not returning proper QuotaTemplate Name"
The Get-TargetResource method in MSFT_SPSite simply returns SPSite.Quota as a value for the QuotaTemplate parameter which translates it to the following string: ""Microsoft.SharePoint.Administration.SPQuota" instead of the proper template name. The return for this parameter should be the following instead:

([Microsoft.SharePoint.Administration.SPWebService]::ContentService.QuotaTemplates | ?{$_.Q

[2016-12-09 01:47] BrianFarnhill commented on #463
@riponbanik Were you able to validate that you could run the Invoke-SPDSCCommand in a normal powershell window without importing the module?

[2016-12-09 02:16] BrianFarnhill commented on #386
@arashalvandi Finally got to the bottom of this one. It appears the Update-SPAppCatalogConfiguration command doesn't like running as the setup account (that created the web app in this case). The workaround is to use the farm account to run this resource (change PsDscRunAsCredential to be the same creds as the farm account). We'll add a specific error trap for this to show a more meaningful error

[2016-12-09 02:51] #386 closed

[2016-12-13 00:33] MikeLacher448 commented on #457
two possible ways for testing if a farm already exists, so that your SPFarm resource can determine if it should join or create..
1 - query SQL for existence of the farm config db
2 - try to hit the topology service on all the other servers in the farm.. if just one responds, assume the farm is built, and try to join. Having a hard time thinking of a good way to get the names of all farm servers pa

[2016-12-13 00:36] MikeLacher448 commented on #464
@atear10, when you ran the update manually, did you have to acknowledge any warning dialogs? (this file may be unsafe, etc...)

[2016-12-13 00:36] BrianFarnhill commented on #457
@MikeLacher448 Yea I've been thinking it will end up being number 1 because then we can do it without other parameters. The scenario gets interesting when you think about the database existing because the farm is being built but isn't ready yet though (think about 2 servers hitting the resources a few seconds apart). But I think this is likely how we'll need to make the SPFarm resource work and th

[2016-12-13 16:26] VerdonTrigance opened #472 "Microsoft SharePoint is not supported with version 4.0.30319.17929 of the Microsoft .Net Runtime."
**Details of the scenario you try and problem that is occurring:**
Microsoft SharePoint is not supported with version 4.0.30319.17929 of the Microsoft .Net Runtime.

**The DSC configuration that is using the resource:**
Configuration TestBuildRelease
{
	param(
		[Parameter(Mandatory=$true)]
		[String]
		$Server,

		[parameter(Mandatory = $true)]
        [String]
        $Name,

        [parameter(

[2016-12-13 21:08] BrianFarnhill commented on #472
@VerdonTrigance Since PowerShell DSC requires at least PowerShell 4, there is no way we can add support for SharePoint 2010. As stated on our [wiki page](https://github.com/PowerShell/SharePointDsc/wiki), we only support SharePoint 2013 and 2016.

[2016-12-13 21:08] #472 closed

[2016-12-13 23:24] riponbanik commented on #463
@BrianFarnhill thanks for the follow up. I will start over, will update you

[2016-12-14 22:46] BrianFarnhill commented on #464
Just out of curiosity, is the path to officeserversp2013-kb2880552-fullfile-x64-en-us.exe on a network path or share or is it locally on the machine? I've found that if you have UAC enabled DSC will freeze like this waiting for a UAC prompt which can't ever be clicked on. Maybe have a go at disabling UAC to see if this is the issue? I found this same issue with SPInstall and SPInstallPrereqs (we j

[2016-12-16 23:15] MikeLacher448 commented on #464
I've seen where you need to run unblock-file to remove the flag that identifies it as an internet download.

[2016-12-21 06:52] atear10 commented on #464
@MikeLacher448 we did not encounter any warning dialogs ...i'm sure of this
@BrianFarnhill  the path  to officeserversp2013-kb2880552-fullfile-x64-en-us.exe is locally on the machine.. what is UAC ? it never froze for SPInstall and SPinstallPrereqs

[2016-12-21 13:24] luigilink opened #474 "New Resource SPWarmUp"
A new resource I'm working on.
With this resource, we can warmup all site collection of all web application.

PR in progress #475
Is it a good idea to have this resource ?

[2016-12-21 20:46] BrianFarnhill commented on #456
The plan will be to move any breaking change in to the "[preview-2.0](https://github.com/PowerShell/SharePointDsc/tree/preview-2.0)" branch and when we are ready to ship version 2.0 with all of the pending breaking changes we can ship that branch in to dev and go from there.

[2016-12-21 21:17] BrianFarnhill commented on #474
I like the idea of making it easier to include a warmup script, but I'm not 100% convinced inside an actual DSC resource is the place for it. When you look to categorise this it's not really "configuration", it's more an ongoing maintenance task per se, if that makes sense, which is why I have a bit of an objection to it in the form you have submitted. If you look at your code your test method is

[2016-12-21 21:35] BrianFarnhill commented on #464
@atear10 "User account control" - its that thing that makes the screen dim when you run an executable and lets you know what you are doing is about to need admin rights to do it.

To @MikeLacher448 's point though, you might not have seen a warning prompt for his idea to be valid. But to rule out both his and my thoughts on this one, lets do a bit of a test. Can you do the following steps for me?

[2016-12-22 13:13] MikeLacher448 commented on #474
I like Brian's method of having a resource that deploys the script and scheduled task, but runs it as part of the scheduled task, not as part of the configuration.

[2016-12-24 12:35] ykuijs commented on #474
Agree with you, Brian. I don't think DSC is the right place for a warmup script.

I am a bit divided between your two ideas:
- Documenting the method to use the other resources to deploy and configure the script sounds good, but means we have to keep checking our documentation for changes in the other resources.
- I like the idea to create a resource to fully automate the deployment and configurat

[2017-01-02 08:16] avishnyakov commented on #255
Having the same issue with win2012r2 + sharepoint 2013 sp1. Same DSC, getting the same error.

Nailed down to the following call:
[code]
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1#L96

The search service app is created, it seems to be healthy but context can't be created while passing SPSIte into the

[2017-01-06 02:23] NikCharlebois opened #476 "MSFT_SPAppManagementServiceApp not returning Database Name"
**Details of the scenario you try and problem that is occurring:**
When calling the Get-TargetResource function of the MSFT_SPAppManagementServiceApp resource, the database server and database name are not returned.

The return block is the following:
return  @{
                Name = $serviceApp.DisplayName
                ApplicationPool = $serviceApp.ApplicationPool.Name
                Databas

[2017-01-06 03:04] NikCharlebois opened #477 "MSFT_SPAccessServiceApp needs to return DatabaseServer"
**Details of the scenario you try and problem that is occurring:**
While using ReverseDSC, if we call the Get-TargetResource function to extract the current state, the DatabaseServer property is never returned. However, this property is mandatory in the Set-TargetResource function which then causes an error compiling the .MOF file.

Question: Should it be made a Best Practice that we need to retur

[2017-01-06 10:46] ykuijs commented on #477
I would say a definite yes. In this case we should also check if the database server matches the specified database server. It probably isn't possible to change the database server, so we should throw an error specifying that the resource isn't in the desired state, but changing the database server using DSC isn't possible.

This is the same behavior as implemented in SPContentDatabase.

[2017-01-06 14:46] NikCharlebois opened #478 "MSFT_SPDesignerSettings error getting Site Collection"
**Details of the scenario you try and problem that is occurring:**
When calling the Get-TargetResource function of the MSFT_SPDesignerSettings Resource passing in a "SiteCollection" scope, the site is never found. The issue comes from line 124, where we try to find the site by filtering the list using a variable ($url) that doesn't exist. Instead this block of code need to be filtering using the $

[2017-01-06 19:08] ykuijs commented on #477
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-06 19:08] ykuijs commented on #478
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-06 19:09] ykuijs commented on #476
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-06 19:09] ykuijs commented on #467
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-06 21:04] NikCharlebois opened #479 "MSFT_SPFarmSolution not using full Type Namespace"
**Details of the scenario you try and problem that is occurring:**
While this may not be a big deal, it would be good to keep consistency between all resources. Each resource seems to declare parameters using the Full Namespace (e.g. System.String) whereas MSFT_SPFarmSolution simply uses the short names (e.g. String). I would recommend keeping this consistent across and modifying the resource to k

[2017-01-06 21:26] NikCharlebois opened #480 "MSFT_SPFarmSolution missing Param in Get-TargetResource"
**Details of the scenario you try and problem that is occurring:**
Calling the Get-TargetResource function on the MSFT_SPFarmSolution Resource returns a value for parameter ContainsGlobalAssembly. However, this param is not taken by the Get, Set, or Test function. Either remove this from the return block of the Get-TargetResource function, or add it as an input param for each resource.

**The DSC

[2017-01-06 21:37] ykuijs commented on #479
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-06 21:37] ykuijs commented on #480
I have some time available next week. Will pick this up together with the other bugs you reported.

[2017-01-09 18:23] NikCharlebois opened #481 "MSFT_SPFeature Get-TargetResource returns typo in param name"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource function of the MSFT_SPFeature resource has a typo in the return param name "InstallAccount". The following return block:

return @{
            Name = $params.Name
            FeatureScope = $params.FeatureScope
            Url = $params.Url
            **InstalAcount** = $params.InstallAccount
            E

[2017-01-10 09:10] luigilink commented on #457
Hello All, I have another scenario with a customer.
On existing SharePoint Farm, one SharePoint server lose temporarily the connection with the SQL.
At the same time, the DSC configuration try to create a new SPConfigurationDatabase because Get-SPFarm return $null.
Can we also check with another way that the server is already in a farm, like registry for instance?

[2017-01-10 09:13] luigilink commented on #474
Totally agree with you, I'll close the PR #475

[2017-01-10 13:47] NikCharlebois opened #482 "MSFT_SPHealthAnalyzerRuleState doesn't accept and set proper value for On Demand rules"
**Details of the scenario you try and problem that is occurring:**
TheGet-TargetResource function of the MSFT_HealthAnalyzerRuleState specify that they accept "OnDemandOnly", which is the right value. However, with a default installation of SP2013, Health Analyzer has a default rule named "One or more app domains for web applications aren't configured correctly." that has a schedule value of "On D

[2017-01-10 21:48] ykuijs commented on #482
This is a bug indeed. When opening that item in Central Admin, the Schedule dropdown shows no default value. When selecting OnDemandOnly and saving, the item is then shown as OnDemandOnly

[2017-01-10 21:50] ykuijs commented on #482
I will check how we can best handle this in Get-TargetResource

[2017-01-11 12:52] CStahlberg opened #483 "SPWebApplication inconsistent results"
**Details of the scenario you try and problem that is occurring:**
I am trying to create a new multi server SharePoint 2013 Farm in Azure using my own vhd template with pre installed SharePoint Software but it fails 90% of the time because the first server is incapable of creating a consistent web application. It manages to create a web application without any content database which leads to the f

[2017-01-11 16:02] NikCharlebois opened #484 "MSFT_SPSearchServiceApp gives error even if not Hybrid Search is enabled"
**Details of the scenario you try and problem that is occurring:**
I am probably the one who wrote this back in the days 👍 but when you call the Set-TargetResource function of the MSFT_SPSearchServiceApp and pass it $CloudIndex = $False, if the farm is not at least at the August 2015 CU, it will thrown an error saying you need to install that CU. I am of the opinion that if this parameter is prese

[2017-01-11 21:19] NikCharlebois opened #485 "MSFT_SPSearchServiceApp doesn't return DatabaseName and Server in Get-TargetResource"
**Details of the scenario you try and problem that is occurring:**
MSFT_SPSearchServiceApp doesn't return the Database Name and Server in its Get-TargetResource. The Return block tries to return a property that doesn't exist:

Current:
DatabaseName = $serviceApp.Database.Name
DatabaseServer = $serviceApp.Database.Server.Name

Should be:
DatabaseName = $serviceApp.**SearchAdminDatabase**.Name
Datab

[2017-01-11 23:29] NikCharlebois opened #486 "MSFT_SPAppManagementService App Get-Target Resource not returning Database"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource function of the MSFT_SPAppManagementServiceApp resource is not returning the Database Name and Server. The return block is calling property .Database instead of **.Databases**.

**Current:**
DatabaseName = $serviceApp.Database.Name
DatabaseServer = $serviceApp.Database.Server.Name

**Should Be:**
DatabaseName

[2017-01-12 08:46] ykuijs commented on #482
Included in bugfix PR

[2017-01-12 08:47] ykuijs commented on #486
Included in bugfix PR

[2017-01-12 08:47] ykuijs commented on #485
Included in bugfix PR

[2017-01-12 08:47] ykuijs commented on #484
Included in bugfix PR

[2017-01-12 09:05] ykuijs commented on #486
Duplicate of issue #476. Please close this issue

[2017-01-12 13:33] NikCharlebois commented on #486
My bad, this was already reported

[2017-01-12 13:33] #486 closed

[2017-01-12 14:29] CStahlberg commented on #483
The intial problem seems to be my mistake I thought I would not have to wait for the Alias Creation of all 4 Aliases since the CreateSPFarm was depending on one of them.
 
Now I get the problem that the webapplication gets created but everytime the dsc reports an error because of the webapplication being updated by the same account in the timer service (OWSTIMER) even though it is the first server

[2017-01-12 22:07] NikCharlebois opened #487 "MSFT_SPCreateFarm Get-TargetResource method should return ServerRole property for SP2016"
**Details of the scenario you try and problem that is occurring:**
When calling the Get-TargetResource function of the MSFT_SPCreateFarm resource, the Return block does not return the ServerRole property associated with the current server. Maybe this is the expected behavior, but then in this case MSFT_SPJoinFarm should return it instead, but it is not returning it either. Ideally they should both

[2017-01-14 12:47] ykuijs commented on #484
After implementing the change, I also removed it again. What if you want to change a Cloud SSA into a regular SSA? You would use CloudIndex=$false, but with this change the value would be ignored. Therefore I think we should not implement this change.

@NikCharlebois What do you think?

[2017-01-16 13:20] NikCharlebois commented on #484
Agreed, we need to handle the scenario where we want to change it from a cloud based index to an on-prem one. I am just wondering if there is an easier way to prevent an error from being thrown if a given parameter is passed. 

If we compare this to the SPCreate and SPJoin Farm, I ServerRole is passed, then we error out if the farm is not 2016. I think it this case it makes sense, since we are tak

[2017-01-16 23:03] przlwo commented on #439
Hello,
any news about this issue? I also have this issue when trying to create AD connection in SP2016.

[2017-01-17 10:28] typozh opened #488 "People Picker configuration"
**Details of the scenario you try and problem that is occurring:**
Are there any plans to add a resource to configure the People Picker with custom filters?

[2017-01-18 17:30] tonyhxh opened #489 "SingleServer installation type"
Hello, Brain:

I am Tony Huang from GM, and we probably talked on a phone call before.

Recently we noticed some of our SharePoint servers built from SharePointDSC (ModuleVersion = '1.2.0.0') cointain installation type "SingleServer"

It's registry value called "ServerRole" which is located at:  \HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Shared Tools\Web Server Extensions\16.0\WSS

We know we didn't f

[2017-01-20 03:41] BrianFarnhill commented on #484
Do we even support changing it from a cloudindex SSA to a non cloud enabled one? I thought the process was to create a new SSA when you wanted to make this change (there was some early doco of being able to change it while this feature was being tested, but I was of the understanding that it wasn't actually supported come release).

I agree we shouldn't just be checking for the parameter to be pre

[2017-01-20 03:50] BrianFarnhill commented on #483
@CStahlberg So typically we see this happen when we have multiple DSC resources on different machines trying to update or change the same object at the same time, its why we recommend that you only do things related to a web application on a single server in the farm and not all of them. Do you have any of the items that touch the web application running on more than one server in your farm?

[2017-01-20 03:59] BrianFarnhill commented on #485
@ykuijs I don't see a PR for this one? Is there a fix or did I miss something (I'm still coming out of holiday mode so forgive me if I did!)

[2017-01-20 04:01] BrianFarnhill commented on #482
@ykuijs again, which PR mate? :)

[2017-01-20 05:18] CStahlberg commented on #483
@BrianFarnhill no it is only the first server in the farm which is running the configuration all other servers are depending on the completion of the task. Thats why I find it weird that it even happens. Maybe I will try to create a seperate dsc configuration that runs after the last server has been joined to the farm whose only job is to create the web application

[2017-01-20 05:37] BrianFarnhill commented on #488
There are now, we'll track it against this issue!

[2017-01-20 05:42] BrianFarnhill commented on #255
Thanks @avishnyakov - will get the code updated accordingly.

[2017-01-20 08:32] BrianFarnhill commented on #483
That shouldn't be necessary - what DSC resource is failing with the message about the update conflict there?

[2017-01-20 12:55] MikeLacher448 commented on #424
I had a use case today where my customer wanted to offload SSL to an F5. The way the F5 proxying works, I had to name the web application URL with https, even though it use SSL was set to false, and used port 80. Otherwise, the 302 redirects coming from SharePoint used http in the redirect locations.

[2017-01-20 13:18] NikCharlebois commented on #487
@BrianFarnhill  Assign that one to me, I'll take care of it today. Thanks

[2017-01-20 13:38] NikCharlebois commented on #484
Just confirmed with Neil H. that this is not possible. The property is Read-Only anyway once the SSA has been created.

[2017-01-20 13:48] NikCharlebois commented on #487
I think this one may be a little more challenging than I originally anticipated. I you call the Get-TargetResource on either the SPCreateFarm or SPJoinFarm.....how do you know which server to retrieve the server role from? 

[2017-01-20 23:47] BrianFarnhill commented on #487
@NikCharlebois You should be able to find the current server with something like this:

    $server = Get-SPServer -Identity $env:COMPUTERNAME

Have a look in the search topology and distributed cache resources as we do the same thing on those, but we also have a little catch all loop on those to account for appending the current domain name as well in case that is needed too, but you should be ab

[2017-01-20 23:49] BrianFarnhill commented on #424
@MikeLacher448 I think we need to check this, because I'm actually pretty sure if you try to create a web app with a https address and you don't use the UseSSL flag it gives an error - we really only rely on this when creating the web apps. Happy to explore the combinations of what New-SPWebApplication will take and make sure we don't exclude any scenarios though. Thanks for raising this!

[2017-01-22 19:51] tseward commented on #439
If you copy C:\Program Files\Microsoft Office Servers\15.0\Synchronization Service\Bin\Microsoft.ResourceManagement.dll from a SharePoint Server 2013 installation and reference it however you need to, does it function correctly? This DLL is missing from SharePoint 2016 for obvious reasons -- UPSS no longer exists.

[2017-01-22 21:12] przlwo commented on #439
Tank you tseward for this information. I would not prefer to copy any SP 2013 file. Do you know if there is already avaliable some PowerShell script for SP 2016 that establishes AD sync configuration?

[2017-01-22 21:21] przlwo commented on #439
I found information that this might be possible by use "act like a user" way in PS (https://gallery.technet.microsoft.com/Create-User-Profile-Sync-e9ec0cf7). Is it the only way with PowerShell?

[2017-01-23 00:09] BrianFarnhill commented on #439
@tseward This is 100% not supported, and if it did work, it would apply to the old FIM approach for connections and not the AD import one, so definitely lets not do that :)

@przlwo This approach "might" work, but given that the DSC processes are designed to run without a UI I wouldn't reliably count on it being able to run a UI dependent process like internet explorer. We need to find a programma

[2017-01-23 00:33] tseward commented on #439
@BrianFarnhill I traced through the wrong class :) Using `Add-SPProfileSyncConnection` would be the solution for those using SharePoint 2016. This cmdlet is fully supported on SharePoint 2016.

[2017-01-23 00:40] BrianFarnhill commented on #439
@tseward I need to double check that - I know we didn't support it in 2013 but I can't find the public doco on it for 2016 either. If it got the green light then 100% yes that will be how we do it.

[2017-01-23 01:17] tseward commented on #439
Yeah, the supportability comes from the PG. :) Confirmed late last Feb.

[2017-01-23 06:26] CStahlberg commented on #483
Thre Resource that is failing is the Webapplication below:

            SPWebApplication SharePointSites
            {
                Name                   = "SharePoint Portal"
                ApplicationPool        = "SharePoint Portal"
                ApplicationPoolAccount = $WebPoolManagedAccount.UserName
                AllowAnonymous         = $false
                AuthenticationMethod

[2017-01-23 13:15] typozh opened #490 "Suggestion to improve SPSearchTopology wait time"
**Details of the scenario you try and problem that is occurring:**
when configuring a new search topology the resource checks if the service is running. In the first loop there is no need to wait 60 seconds. With 10 servers this takes 10 minutes even if the service is already running.
This would speed up things: (at line 258)
                if($loopCount -gt 0) { start-Sleep -Seconds 60 }

[2017-01-23 21:11] BrianFarnhill commented on #483
@CStahlberg OK so what I can see here is that there is something else that is touching the web app while it's being created. If you look through the ULS logs at what is happening at the same time, can you see anything else making changes to it?

The only thing we send you in to the set method for on a web app is to create it, if it exists you wont ever hit set-targetresource again. So from what I

[2017-01-23 21:13] BrianFarnhill commented on #439
Any chance you have a link to that in writing somewhere to save me having to chase some people down?

[2017-01-23 21:57] ykuijs commented on #485
I know, haven't had the time to actually create the PR yet. It is a little hectic at the moment :-) Fixes are implemented though.

Will create the PR in the next couple of days.

[2017-01-24 05:46] CStahlberg commented on #483
@BrianFarnhill thank you very much for your help!

I looked at the ULS there is no other process running at the exact time as the error. The last process before the segment with the wsmprovhost is the owstimer with the message "UserAgent not available, file operations may not be optimized." what is really interesting is that the contentdatabasecollection.add seems to be executed twice but the seco

[2017-01-24 09:33] CStahlberg commented on #483
@BrianFarnhill I managed to get this working by setting up the webapplication on the second server in the farm which is ok for me but I think there might a design oversight in the SPDistributedCacheService regarding azure loops.

There is a part in the SPDistributedCacheService configuration where you check if the ServiceInstance for the distributed cache can be found using only the servername but

[2017-01-24 12:34] ykuijs opened #492 "Summarize the found errors during Pester tests at the bottom of the log"
When creating a PR, all encountered errors are displayed at the time they are encountered. This means you have to scroll through the entire log to search for the errors.

It would be great if all encountered errors would be summarized at the bottom of the log

**Details of the scenario you try and problem that is occurring:**
N/A

**The DSC configuration that is using the resource:**
N/A

**Versio

[2017-01-24 12:45] typozh opened #493 "Add SPSearchCrawlStore resource"
**Details of the scenario you try and problem that is occurring:**
For a large search topology I'm missing a few things. One is that all the databases are created in the same sql instance. The name cannot be configured individually and there is only one property for the sql server. And I need to create multiple crawl store databases which is not possible with the current version. The multiple craw

[2017-01-24 12:54] typozh opened #494 "Search Index Deletion Policies Resource"
**Details of the scenario you try and problem that is occurring:**
It would be great to have a resource to configure the search index deletion policies to configure the behaviour of item deletion from the index. The PowerShell commands are described here: https://technet.microsoft.com/en-us/library/hh127009(v=office.14).aspx (could not find a 2013/16 article but the commands are the same, default

[2017-01-24 13:32] ykuijs commented on #493
Hi @typozh, we have tried this in the past, but this is because of a limitation in SharePoint Powershell: The New-SPEnterpriseSearchServiceApplication cmdlet only accepts one database parameter (https://technet.microsoft.com/en-us/library/ff607751.aspx).

This means that if you want to move the databases to different instance, you need to use backup/restore in order to move the databases (https://

[2017-01-24 13:37] luigilink commented on #455
To continue with problem with SPCreateFarm and SPJoinFarm.
I suggest this PR #495.
Can we talk about this ?

[2017-01-25 06:48] NikCharlebois opened #496 "MSFT_SPSearchIndexPartition Get-TargetResource not returning FolderPath"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource function of the MSFT_SPSearchIndexPartition resource is not properly returning the RootDirectory value. It simply returns whatever you passed it as parameters instead.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**

[2017-01-25 20:28] NikCharlebois opened #497 "MSFT_SPDistributedCache Get-TargetResource not returning the status of remote servers"
**Details of the scenario you try and problem that is occurring:**
When calling the Get-TargetResource, it will return the null block if the DC is not enabled on the server on which you are running the script from, which is ok. But the Get-TargetResource function should be able to extract the current state of the DC for a remote server (not the one running the script). Currently, when running the

[2017-01-25 22:36] MikeLacher448 commented on #424
confirmed, you do get an error trying to create or extend a web application with https and not specifying usessl. In my particular case, the web app had to be created with http://, with the public URLs updated afterwards. This particular case will cause the consistency checks to fail as they check for a http:// web application and don't find it.

[2017-01-26 12:23] bardtomm opened #498 "CentralAdministration - SecureSocketsLayer"
**Details of the scenario you try and problem that is occurring:**
CentralAdministration is created with http

**The DSC configuration that is using the resource:**
SPCreateFarm
**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows Server 2016, SharePointDSC 1.5.0.0

**Version of the DSC module you're using:**

Would like it to be possible to create the Central

[2017-01-26 21:45] BrianFarnhill commented on #498
@bardtomm You can do this through combining a couple of resources

1. Create the farm with SPCreateFarm
2. Add a HTTPS alternate URL with SPAlternateUrl
3. (optional) Bind your SSL certificate to the site in IIS using xWebsite in the xWebAdministration module

This is the approach I've taken with a number of customers and it works a treat. The reason we do it like this is that the central admin si

[2017-01-26 21:45] #498 closed

[2017-01-26 21:47] BrianFarnhill commented on #497
@NikCharlebois I disagree. All of the logic in all of our resources has always only ever been focussed on running on the server that the code is executing on, and while this would be convenient for your reverse scenario I don't think it's something I want to break in our design approach to fit that one in. @ykuijs what do you think?

[2017-01-26 21:50] BrianFarnhill commented on #455
@luigilink I did a quick glance at the code and I like the approach you've taken - it doesn't necessarily solve the issue with with only one server looking to create the farm but it does cover off a couple of scenarios. So I think we will still need to look at how to merge these two, but the code you've put there looks like it'll be a big help in that direction so I'll do a full review when I get

[2017-01-26 21:55] BrianFarnhill commented on #493
So the request to move search DBs has been in the backlog for a while as #345 - we just haven't implemented it due to time and the complexities that @ykuijs mentioned there. It's something I wouldn't mind getting in there but we haven't been able to get it sorted yet. When we look at this we'll also then be able to look at renaming databases as well, but there are some data protection controls I w

[2017-01-26 22:00] BrianFarnhill commented on #494
@typozh From a quick glance at the articles you have there, I think the solution here would be to put these properties on to the existing SPSearchServiceApp resource. I'll tag this as enhancements and we can get it looked at from there.

[2017-01-27 05:27] BrianFarnhill commented on #424
@MikeLacher448 Ahhh, ok so at this point we know things go south in terms of DSC when you start modifying the default zone URLs for the web app, so we don't recommended doing that if you want to manage things with DSC.

[2017-01-28 22:24] avishnyakov commented on #255
Sure, no worries.

[2017-02-01 04:57] BrianFarnhill commented on #461
This just got merged in, closing this off

[2017-02-01 04:57] #461 closed

[2017-02-01 05:04] BrianFarnhill commented on #464
@atear10 How did you go testing this with the suggestion I made above?

[2017-02-02 22:22] BrianFarnhill commented on #483
@CStahlberg When you say "Azure DSC loops" what exactly are you referring to? It shouldn't make a difference if you are in Azure or not.

The thinking behind the logic inside the distributed cache one is to wait for servers to be available for it to run. If you need to put them in to a sequence so only one at a time runs you can use the "ServerProvisionOrder" to tell the distributed cache service

[2017-02-02 22:23] #467 closed

[2017-02-02 22:23] #476 closed

[2017-02-02 22:23] #477 closed

[2017-02-02 22:23] #478 closed

[2017-02-02 22:24] #479 closed

[2017-02-02 22:24] #480 closed

[2017-02-02 22:24] #482 closed

[2017-02-02 22:24] #484 closed

[2017-02-02 22:24] #485 closed

[2017-02-02 22:28] BrianFarnhill commented on #389
Late reply here - we already have logic to test if a credential given is the farm account (I have it somewhere around here) so the plan is to use that and then provide feedback as appropriate.

[2017-02-02 22:28] BrianFarnhill commented on #389
Further to that, this falls in to the breaking change category as we will be taking properties away so I'll tag it as that.

[2017-02-02 23:16] BrianFarnhill commented on #463
@riponbanik Hey there, did you get around to testing that command?

[2017-02-03 06:00] CStahlberg commented on #483
@BrianFarnhill in Azure JSON templates you can insert a [copy object](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple) into a resource which makes azure deploy the resource multiple times. I use this to deploy two or more front end servers (depending on the copycount parameter). The proplem is that both copies are created at the same time or the second

[2017-02-03 08:41] ykuijs commented on #481
This was also fixed in PR #491

[2017-02-03 08:43] ykuijs commented on #497
I agree with @BrianFarnhill, this has been the focus for all resources.

[2017-02-03 17:31] NikCharlebois opened #502 "Improve error message in SPBlobCache where web role isn't present"
**Details of the scenario you try and problem that is occurring:**
I guess this is a question more than an issue.

Calling the Get-TargetResource function of the MSFT_SPBlobCacheSettings resource from a server that is not a Web Front-End throws an error. It complains that it can't find the web.config file for given Web Applications. Could the resource accept a server name and do a remote check on

[2017-02-04 05:00] #255 closed

[2017-02-04 05:50] #490 closed

[2017-02-04 15:02] BrianFarnhill commented on #502
@NikCharlebois I don't think we are going to do these types of remote checks at all, since the intent of the actual resources themselves is to focus on the node in question. So I think there is potentially a better error message for us to show here to explain why it can't return the current settings, but doing a remote check is not something I want to bake in to the resources here. @ykuijs your th

[2017-02-04 15:04] BrianFarnhill commented on #497
Thanks @ykuijs - Sorry @NikCharlebois but I'm gonna close this one off. Ping me an email though and we can have a chat about other alternatives that might be able to help you with what you are doing mate.

[2017-02-04 15:04] #497 closed

[2017-02-04 15:07] BrianFarnhill commented on #483
@CStahlberg No I think I understand the challenge here, and I suspect this comes back to some design issues we had with the distributed cache resource in the first place (in that it sort of does depend on what is happening with other servers at any given time before it can do anything). Leave this one with me and I'll see what we can come up with to make that sort of approach better.

[2017-02-04 17:01] BrianFarnhill commented on #455
OK I've got a first cut in progress, check out the [resource so far](https://github.com/BrianFarnhill/SharePointDsc/blob/feature-spfarm/Modules/SharePointDsc/DSCResources/MSFT_SPFarm/MSFT_SPFarm.psm1) and let me know what you think. I'm still testing so I'll open a PR when it's ready. The basic process though is that this resource will detect if the config DB exists as a first step, and from there

[2017-02-06 05:56] CStahlberg commented on #483
@BrianFarnhill I really appreciate your help. I suppose I can close this issue then. The webapplication does work now running it on a different server at a different time and the distributed cache was never really part of this problem.

It would be great if the deployment of the distributed cache could be handeld by a queue.
Tanks again for the help

[2017-02-06 05:56] #483 closed

[2017-02-06 18:25] ykuijs commented on #502
I agree on the cross server suggestion, however I think we should extent the current resource a bit:
As Nik indicates, you can run this resource against a server which does not have the web role running. The resource then fails because it cannot find the web.config file. I think it would be nice to first check if the server has the web role and if not throw a meaningful error.

[2017-02-06 18:26] #492 closed

[2017-02-06 18:28] BrianFarnhill commented on #502
Done, I've updated the name on this issue to reflect the change that we need to make and tagged it appropriately

[2017-02-08 09:49] luigilink commented on #455
@BrianFarnhill Yes your approach is better than mine. Check in first step the registry key is for me the right way.

[2017-02-08 17:26] MikeLacher448 commented on #40
I'm taking a stab at this one, as my customer has a project that needs extended webapps.
That said, what conditions should trigger the Set method?
Obviously, the Set method will support creating or removing the extended zone based on the ensure property.
But I'm thinking about how to handle other situations... for example, the desired zone exists, but say the host header doesn't match, or the port

[2017-02-08 19:11] BrianFarnhill commented on #40
So I think what I want to do with this one is to make Zone name and web app URL the keys for this one, so that if you set Ensure = "present" every other property should be set to match - but those would only be the SharePoint specific bits. Anything to do with settings that are actually set in IIS I think can and should continue to be managed through xWebsite in the xWebAdministration module. Does

[2017-02-08 20:11] MikeLacher448 commented on #40
make sense... looking at the SPWebApp.IisSettings[[Microsoft.SharePoint.Administration.SPUrlZone] object properties, it looks like we can support changing an existing zone's AllowAnonymous and Kerberos / NTLM auth settings as well. For actual bindings, I agree, leave that with xWebSite.

[2017-02-08 20:12] hermansolberg opened #505 "New resource to configure DistributedCacheClientSettings"
**Details of the scenario you try and problem that is occurring:**
Suggestion to create a new resource that can configure the DistributedCacheClientSettings according to this [guidance](https://technet.microsoft.com/en-us/library/jj219613.aspx#finetune)

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

[2017-02-08 20:22] hermansolberg opened #506 "New resource that creates a Quota Template"
**Details of the scenario you try and problem that is occurring:**
Suggestion to create a new resource that allow creation of Quota Templates

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the DSC module you're using:**
1.5.0.0

[2017-02-08 20:33] hermansolberg opened #507 "Add support to configure DefaultQuotaTemplate for a web application"
**Details of the scenario you try and problem that is occurring:**
Add a property to the resource SPWebApplication or SPWebAppGeneralSettings to allow configuration of DefaultQuotaTemplate.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the DSC module you're using:**
1.5.0.0

[2017-02-08 20:34] hermansolberg commented on #506
Sorry, added by mistake.

[2017-02-08 20:34] #506 closed

[2017-02-08 20:59] hermansolberg opened #508 "New resource to allow configuration of a DiagnosticsProvider"
**Details of the scenario you try and problem that is occurring:**
Suggestion to create a new resource that allows configuration of a DiagnosticsProvider. This can be done using this [command](https://technet.microsoft.com/en-us/library/ff607618.aspx)

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

[2017-02-10 22:42] Chiliyago opened #509 "SPCreateFarm -> The SendConfigurationApply function did not succeed."
**Details of the scenario you try and problem that is occurring:**
Using SharePointDsc 1.5.0
even though the errors shows up it appears the Farm Creation has worked.  I have Access to Central Admin and the server appears to be setup correctly.

**The DSC configuration that is using the resource:**

        SPCreateFarm CreateSPFarm
        {
            DatabaseServer           = $SqlServerName

[2017-02-14 15:16] Yvand commented on #40
Hello,
@MikeLacher448 I saw you started to work on on SPWebAppExtension and it's awesome, but in your current version you allow only Windows NTLM or Kerberos authentication modes.
But:
* it should be possible to set FBA or federated authentication
* it should be possible to combine multiple authentication modes.

For example, below I add both NTLM and dederated authentication:
[code]

Can you plea

[2017-02-14 16:11] typozh commented on #439
I would also need this to work for SP2016. Any update?

[2017-02-15 12:44] MikeLacher448 commented on #40
sure, I just did a direct copy / paste from the SPWebApplication resource for the authentication, but this makes perfect sense. I'll see what I can do.

[2017-02-16 16:28] wfeaser opened #511 "HappyHour values not being set properly"
Values for a HappyHour (SPWebApplication.Throttling) are not being set properly.  No error is being raised.  The issue is the values are being passed/tested as $Settings, which is correct.  However, when the values are assigned to the variables of $h, $m, and $d, an undeclared variable of $happyhour is being used.  This results in no values actually being set.

Resource:  MSFT_SPWebAppThrottlingSe

[2017-02-16 22:23] BrianFarnhill commented on #40
@MikeLacher448 @Yvand I would rather see us put in the extension option with just the NTLM/Kerb support we have elsewhere as a starting point rather than make Mike slow down here trying to make this one perfect first go. I think we should raise another issue about "Lack of claims support in Web Applications" and track that as a separate piece of work. @ykuijs  your thoughts?

[2017-02-21 12:19] ykuijs commented on #40
Agreed! But if @MikeLacher448 Mike already has some code in place, lets port leave this in and port it back to the SPWebApplications resource

[2017-02-21 12:50] MikeLacher448 commented on #40
I do not have support for claims in place yet, and was just thinking over the weekend that I should commit this resource as-is (once I fix the failing tests ofcourse). That way it can be used for folks (like my current customer), that just need support for an extended web application with Windows Authentication while I (or anyone else who'd like to tackle it) work on adding claims support for a fu

[2017-02-21 12:57] Yvand commented on #40
I agree that adding support for FBA/Federated authentication should not delay the release of the resource, especially considering that SPWebApplication resource misses it for a while.
But it's a very important feature to integrate in a future version, and I'm very glad that @MikeLacher448 is already working on this for a later release, thanks a lot for this it will be very useful!

[2017-02-21 18:28] mrpullen commented on #398
Are you looking for a DSC Configuration that consumes the AutoSPInstaller XML file?

Seems like this would be straightforward to do.. Just feed the xml in as a parameter, then in the Configuration map specific settings to specific resources.

Would a standard AutoSPInstaller.xml file work as a sample?

[2017-02-21 20:14] MikeLacher448 commented on #511
I'm looking at this one, and in addition to the mismatched variable names, it appears to fail the test method when the current and desired happy hour values don't match. In my lab, the Test-SPDSCObjectHasProperty is picking up the HappyHoud embedded cim instance.

[2017-02-21 21:33] BrianFarnhill commented on #511
OK thanks @MikeLacher448 - let me know if you need anything with this one

[2017-02-21 21:35] BrianFarnhill commented on #398
@mrpullen I agree, this would be a fairly straightforward thing to do. We could even have it parse the XML up front to show warnings about the things that are in the XML file that we don't support or do yet. I feel like if we start with a standard XML file as an example though that would make a good starting point to a solution here.

[2017-02-21 21:35] BrianFarnhill commented on #40
OK I'll raise a new issue to add that claims support in to these resources and we can track that separately to this one.

[2017-02-21 21:37] BrianFarnhill opened #512 "Add support for claims authentication providers to SPWebApplication and SPWebAppExtention"
**Details of the scenario you try and problem that is occurring:**

Currently SPWebApplication and SPWebAppExtension (when it is finalised, see discussion in #40) do not support claims based authentication, only Windows auth as either NTLM or Kerberos. This support needs to be added.

[2017-02-21 21:50] NikCharlebois commented on #398
@Brian<mailto:Brian.Lalancette@microsoft.com> And I had started to look at a AutoSP <--> SPDSC converter at one point, and I know Brian may also have something of his own. I'd be interested in helping out

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Brian Farnhill <notifications@github.com>
Sent: Tuesday, February 21, 2017 4:35:03 PM
To: PowerShell/SharePoint

[2017-02-22 11:45] mrpullen commented on #457
How about creating a set of stored procedure(s) that evaluates if the SPFarm Config Database exists? If it exists, we would return true; server could join the farm. If it didn't exist it would engage the mutex / semaphore, perform the lock ( which would keep other systems from executing the stored procedure)..

Then this single node would be the owner, it would be able to go ahead and configure th

[2017-02-22 21:10] BrianFarnhill commented on #457
@mrpullen I have some logic on the go in one of my branches where we check for some registry keys that @luigilink  pointed out as well as checking for the existence of the database on SQL that seems to be working quite well so far. I need to do some more testing of my code to make sure it holds up in some more complex scenarios but we might be able to do this without that. I do like that idea thou

[2017-02-27 17:27] mrpullen commented on #30
shouldn't this be closed??

[2017-02-27 22:49] #30 closed

[2017-02-28 22:25] ykuijs commented on #509
Hi @Chiliyago, I have been reviewing your log and cannot find anything that indicates an issue. Can you please check the Event log > Applications and Services Logs > Microsoft > Windows > Desired State Configuration > Operational log for more information or any errors?

[2017-02-28 23:23] BrianFarnhill commented on #509
Sorry guys, I swear i responded to this one! What I can see from the error here is that something has gone wrong in the configuration, but it looks like the SPFarm resource has executed fine (as per @ykuijs comment). This tells me that there would have been something fail earlier in the script, so either look at the output from the very beginning, or as suggested check the event logs as the failur

[2017-03-01 19:09] NikCharlebois opened #518 "Typo in SPSearchIndexPartition return of Get-targetresource"
**Details of the scenario you try and problem that is occurring:**
I feel bad reporting this but there is a typo in the return block for the return block of Get-TargetResource where ServiceAppName has a capital 'P'. It doesn't cause any issue, just needs to be fixed to look more professional :)

return @{
            Index = $params.Index
            Servers = $IndexComponents
            RootDire

[2017-03-01 19:41] NikCharlebois opened #519 "SPSearch Topology Get-TargetResource not returning FirstPartitionDirectory"
**Details of the scenario you try and problem that is occurring:**
Reverse Engineering the SPSearchTopology resource doesn't return a value for FirstPartitionDirectory. Now, I understand it may be though to determine which index location was the very first one to be created, but at least, I believe that the Get-TargetResource should return the "IndexLocation" property of one of the AdministrationC

[2017-03-03 01:53] BrianFarnhill commented on #489
Hi @tonyhxh

Sorry for the late response, had to do some homework and testing here. From what I understand this is actually nothing to do with MinRole and is something to do with how SharePoint was installed. It's actually been in the product for a few versions (at least from 2007 forward from what I can find) and is to do with the installation option you choose when setting it up.

There is an op

[2017-03-07 22:22] BrianFarnhill opened #523 "Improve doco on SPInstallLanguagePack"
Just had a conversation with someone using this resource for SharePoint 2016 - it looks like there was a change to use EXE files for the langauge packs instead of the old IMG file downloads for the 2013 ones. This is confusing some people about the BinaryDir value as when you point it at the EXE or the folder the EXE is in the whole thing doesn't work.

The good news is that it does still work if

[2017-03-07 23:29] #455 closed

[2017-03-07 23:32] NikCharlebois commented on #518
Hey B, assign that one to me, I've got some cycles to fix the issues I reported around Get-TargetRessource

Cheers!

[2017-03-07 23:33] NikCharlebois commented on #519
@BrianFarnhill  Assign that one to me buddy. I am planning on returning the first partition no matter what...if that makes sense

[2017-03-08 18:21] NikCharlebois commented on #481
@BrianFarnhill  @ykuijs  Somehow the issue still exsits on the current branch. was the PR even approved? Thanks

[2017-03-08 20:52] MikeLacher448 commented on #505
my customer ran into an issue yesterday where we needed to adjust some of these settings, I'll take a stab at this resource.

[2017-03-10 02:22] mrpullen commented on #32
[code]
xSPSearchAuthoratativePages SetAuthoratativePages
{
  ServiceAppName = "Enterprise Search Service Application"
  PageUrl = "Page URL"
  Level = 0.0  //between 0.0 and 2.0
  Demoted = $true | $false
  Ensure = "Present"
}

from Cmdlets:

New-SPEnterpriseSearchQueryDemoted
New-SPEnterpriseSearchQueryAuthority

If demoted is true we would ignore level..

Or we could have two resources, one for

[2017-03-10 02:34] mrpullen commented on #31
Looking at [New-SPEnterpriseSearchSiteHitRule](https://technet.microsoft.com/en-us/library/ff608048(v=office.15).aspx)

seems like we could do something like

[code]

or something like this, where we only allow them to specify either RequestLimit or WaitTime.

[code]

[2017-03-10 15:14] NikCharlebois commented on #481
@BrianFarnhill @ykuijs ok, I figured this one out. It was partially fixed in 1.6.0.0.

In 1.5.0.0 is was showing as InstalAcount, therefore missing both an 'l' and a 'c'. We've fixed the missing 'c' in 1.6.0.0., but it is still missing an 'l'.

V1.6.0.0 has it returned as "InstalAccount" now

[2017-03-10 15:45] NikCharlebois opened #527 "SPFarm Get-TargetResource doesn't return RunCentralAdmin"
**Details of the scenario you try and problem that is occurring:**
The new SPFarm resource in 1.6.0.0 doesn't return mandatory parameter RunCentralAdmin as part of its Get-TargetResource.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Win 2016 / PoSh 5.1

**Version of the DSC module you're using:**
1.6.

[2017-03-10 17:13] NikCharlebois opened #528 "DatabaseServer value of Get-TargetResource with Alias"
**Details of the scenario you try and problem that is occurring:**
This is affecting all of our Resources that return a database server value as part of their Get-TargetResource method. If the DB is located on a server with an alias, only the server's name is returned and not the actual alias.

I have currently setup a continuous integration pipeline in Azure, that keeps ReverseDSC'ing an existing

[2017-03-10 18:29] NikCharlebois opened #529 "SPSecureStoreServiceApp doesn't expose a Database property"
**Details of the scenario you try and problem that is occurring:**
In the Get-TargetResource method for SPSecureStoreServiceApp, the return block tries to access the Database property of the Service App instance, however that property doesn't exist on that object, resulting in both the DatabaseServer and DatabaseName properties to be empty. Instead, I believe we will need to retrieve this informat

[2017-03-10 21:24] NikCharlebois opened #532 "SPManagedMetaDataServiceApp throws error in Get-targetResource trying to retrieve Conten Type Hub Url"
**Details of the scenario you try and problem that is occurring:**
When trying to extract the Current state of my SP2016 farm (Dec 2016 PU), the Get-TargetResource method of SPManagedMetaDataServiceApp throws an error (which is properly catch) when trying to retrieve the Content Type Hub Url which results in the URL always being null. It seems like the "GetContentTypeSyndicationHubLocal" doesn't e

[2017-03-13 12:34] NikCharlebois opened #533 "SPManagedAccount Issue obtaining the instance"
**Details of the scenario you try and problem that is occurring:**
There is a bug in the Get-TargetResource method of the SPManagedAccount resource. The following line:

$ma = Get-SPManagedAccount -Identity $params.Account.UserName `

Users the Username property of the Account param. However, this param is optional. Instead it should use the mandatory AccountName property to retrieve the instance:

[2017-03-13 13:43] nissan opened #534 "Update documentation on guidance for HNSC when using SPSite"
**Details of the scenario you try and problem that is occurring:**
I am creating 4 Host Named Site Collections under a main Web Application using the SPSite keyword.
While the sites are created and reported in SP Central Administration, and a HOSTS file edit has been made to route the DNS names used to the Single Server Farm server, I was getting a HTTP 404 error when trying to access the URL.

My

[2017-03-13 21:40] Mindzweeper commented on #372
Can reproduce reliably with the latest version.  Key behavior is:
1) See error reported by ZeweiS when first running DSC.
2) Do not get this error when executing that cmdlet from local SharePoint Management Shell.
3) Service does eventually get created without additional action needed.

[2017-03-14 14:48] ykuijs commented on #534
Hi @nissan, this is correct. This is exactly the same behavior when a site collection from Central Administration. You have to do this manually, via xWebAdministration (when using DSC) or by using a wildcard domain (for example add *.domain.com to your IIS websites and then create new site collections in site1.domain.com and site2.domain.com).

I think it is a good addition to include this in the

[2017-03-14 16:31] NikCharlebois opened #535 "MSFT_SPHealthAnalyzerRuleState logic question"
**Details of the scenario you try and problem that is occurring:**
I have a customer who ran ReverseDSC on their existing SP2013 environment and who are now trying to configure a new farm using the extracted script. They are running into an issue where the original server they executed ReverseDSC against had a Health Rule named "Critical state of this rule indicates that the Word Automation Servic

[2017-03-14 19:51] nissan commented on #534
Actually, when I updated my SharePointDSC to 1.6.0 and removed the "HostHeader" field in creating my web application, the new site collections worked correctly (once the DNS entries were made in my AD to point the hostnames to the SP WFE, something that can also be achieved with a HOSTS file entry on the machine browsing the site if you are only testing). If the HostHeader field is present, it bin

[2017-03-15 15:15] Yvand commented on #512
Hello,
SharePointDsc 1.6 adds possibility to specify federated authentication in SPWebApplication resource, which is great, but current implementation has multiple issues:
- Parameter AuthenticationMethod accepts "NTLM", "Kerberos" and "Claims", but all (NTLM, Kerberos, FBA or Federated) are actually claims authentication, so possible values should be "NTLM", "Kerberos" and "Federated".
- FBA is m

[2017-03-16 06:49] shurick81 opened #536 "configuration generator"
This is not the issue but a suggestion.
I think it would be great if we could generate configuration using existing farms. We maintain lots of existing farms that were configured without DSC. If there was some mechanism that generates configuration from existing farm, we could use DSC for them.

[2017-03-16 08:45] ykuijs commented on #536
Hello @shurick81, thanks for the suggestion. We are currently working on a ReverseDSC functionality to generate a DSC configuration based on an existing farm. This is however a pretty complex implementation, which unfortunately is taking quite some time to develop.

@NikCharlebois, do you have an update?

[2017-03-16 08:49] ykuijs commented on #535
Since this resource is called, SPHealthAnalyzerRule**State** it is purely focussed on the state of Health Analyzer rules.

Not entirely sure, but shouldn't new Health Analyzer rules be deployed using code deployed on the environment? In other words, would DSC be able to create new rules?

[2017-03-16 09:57] NikCharlebois commented on #536
Take a look at http://aka.ms/ReverseDSC

Put both file on one of the servers in the farm and run SharePointDSC.Reverse.ps1. If that server doesn't have internet connectivity, make sure you manually have SharePointDSC 1.6.0.0 in your module folder

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Thursday, March 16, 2017 4:45:52 AM
To: PowerShell/SharePointDsc
Cc

[2017-03-16 10:30] NikCharlebois commented on #535
@ykuijs You are absolutely correct, deploying a new custom SPHealthAnalysisRule would require FTC to be deployed. However, I am wondering how it is that these rules differ from one environment to an other.The rule mentioned above is defined here (https://technet.microsoft.com/en-us/library/hh487298.aspx) so it looks like this is an out of the box one. However, I don't have it in the latest builds

[2017-03-16 10:33] NikCharlebois commented on #535
I am actually wondering if this rule gets automatically created when a new Word Automation Service App is being instantiated. Will take a closer look later today. This would simply mean that a DependsOn clause would be required by the user and would solve my issue.

[2017-03-16 12:32] NikCharlebois commented on #535
@ykuijs Ok, I confirmed that these rules get automatically added to the farm the moment you create a Word Automation Service application. Therefore, I will need to come up with a rule engine inside of ReverseDSC that will automatically assign DependsOn clause to "service app" specific rules to make sure the Service Application is instantiated before we attempt to configure the rule.

[2017-03-17 07:49] shurick81 commented on #536
Thanks, this tool looks quite promising!

[2017-03-17 14:50] #536 closed

[2017-03-17 15:24] shurick81 opened #537 "Extend documentation to include Ensure=Present is the default setting"
**Details of the scenario you try and problem that is occurring:**
Provisioining distributed cache on new farm servers
removing distributed cache service from farm servers
I'm looking at command description but can't get my head around how should I disable and enable nodes? https://github.com/PowerShell/SharePointDsc/wiki/SPDistributedCacheService
In the documentation it says that "Ensure" is for

[2017-03-17 18:40] ykuijs commented on #535
That was my guess exactly, either not on the same patch level or the Word Automation Service App not deployed yet. Good to hear this is indeed the case :-)

Is there a way to check which service application implements which rule? If this would be a manual inventory, we have to evaluate each cumulative update/service pack/etc for changes, new rules, etc. Not a good option I would say.

Doesn't it m

[2017-03-17 18:44] ykuijs commented on #537
Where have you seen that not when Ensure is missing, DSC would not deploy the DC on the server?

The default value for Ensure is Present. So not specifying the Ensure parameter will deploy the DC to the server.

[2017-03-17 18:47] ykuijs commented on #533
I am on it, will be fixed in a bugfix PR

[2017-03-17 19:00] ykuijs commented on #518
@NikCharlebois Have you fixed this already? I can include this in my bugfix PR I am working on at the moment.

[2017-03-17 19:02] ykuijs commented on #481
I am on it, will be fixed in a bugfix PR

[2017-03-17 19:08] ykuijs commented on #523
I am on it, will be fixed in a bugfix PR

[2017-03-17 19:13] ykuijs commented on #527
I am on it, will be fixed in a bugfix PR

[2017-03-17 19:20] NikCharlebois commented on #518
@ykuijs  No, I haven't started if you wish to take in on. Thanks

[2017-03-17 22:12] ykuijs commented on #509
@Chiliyago Did you manage to fix this issue? Do you need some help troubleshooting?

[2017-03-17 22:21] ykuijs commented on #502
I am on it, will be fixed in a bugfix PR

[2017-03-17 23:05] ykuijs commented on #529
Any clue how to determine which database belongs to which service application? For example: What if there are multiple Secure Store Service Applications?

[2017-03-17 23:07] ykuijs commented on #518
Will do!

[2017-03-18 01:32] NikCharlebois commented on #529
Quickly looking at the DB, Service App, and SA Proxy object and can't seem the figure out the relation between the SA and its DB unfortunately. SecStore has always been a tough nut to crack...Sorry

[2017-03-18 07:08] shurick81 commented on #537
As I told, I inferred this meaning from following statement in documentation:
_Ensure
Present to ensure the current server should be running distributed cache, absent to ensure that it isn't running_

How can I remove the service from the node? I have servers in the farm where distributed cache is running but it is not supposed to run there.

[2017-03-18 08:22] luigilink commented on #534
Exactly if you want to use Host Named Site Collections, you have to create the SPWebapplication without HostHeader parameter. But it's a good point, we have to add this tips in documentation.

In term of best practices, never change manually the IIS bindings because these bindings are saved in SharePoint_Config_Db, so If you add a new server in your farm, the IIS Bindings will be settings with the

[2017-03-19 21:40] BrianFarnhill commented on #509
Given the time that has passed without a response here I'm going to close this one off. @Chiliyago please do respond later though and we will reopen this as necessary.

[2017-03-19 21:40] #509 closed

[2017-03-19 21:46] BrianFarnhill commented on #512
@Yvand I agree with you on this (I think I asked the question about calling it claims in code review but we let it slip). Can I get you to open a new issue for this one, since we already shipped 1.6 changing this would be a breaking change so it'll go in to our upcoming 2.0 release. Then we can use this issue was about adding that federated support so we'll close this one off once #510 closes and

[2017-03-19 21:49] BrianFarnhill commented on #529
I feel like that's why this might have been missed at the time! @ykuijs have a look and let me know if you need an extra set of eyes to identify the properties. If you need to, take a look at how we get the databases in SPUserProfileService - we had to reflect those out so we might need to do something similar here.

[2017-03-19 21:55] BrianFarnhill commented on #533
OK so looking at this there are a couple of issues here that I want to call out.

* Account shouldn't be optional, it should be mandatory. There is no way this resource works without it
* Account should probably be the key attribute here as well, rather than a duplicate string that we have

Now the way I see it, the first item there can go in to 1.x since it's something that should have been that

[2017-03-19 21:59] BrianFarnhill commented on #534
The points by @ykuijs and @luigilink are correct here. SPSite will never touch the IIS bindings as we have no way to do that on every server from that one resource. The advice should be to use the xWebsite resource in xWebAdministration to manage bindings on each WFE server in the farm. So lets go ahead and add that to the documentation (I feel the doco change needs to go on both SPWebApplication

[2017-03-19 22:03] BrianFarnhill commented on #535
I still think the fix here for us if a rule doesn't exist is that we should throw an error with some helpful text like "The rule isn't here, please make sure that any service apps it needs exist" or something like that. Thoughts?

[2017-03-19 22:05] BrianFarnhill commented on #537
@shurick81 Yes you can, if you specifically specify that Ensure = Absent it will remove distributed cache from that node.

@ykuijs You think we need to add "Default is 'present'" to the doco of all of our ensure properties to make this obvious?

[2017-03-20 09:39] Yvand commented on #512
@BrianFarnhill sure, I'll take care of this

[2017-03-20 09:47] Yvand opened #538 "Limitations and confusions with parameter AuthenticationMethod in resources SPWebApplication and SPWebApplicationExtension"
SharePointDsc 1.6 introduces possibility to specify federated authentication in SPWebApplication resource, which is great, but current implementation has multiple issues:
- Parameter AuthenticationMethod accepts "NTLM", "Kerberos" and "Claims", but all (NTLM, Kerberos, FBA or Federated) are actually claims authentication, so possible values should be "NTLM", "Kerberos" and "Federated".
- FBA optio

[2017-03-20 09:59] shurick81 commented on #537
Well, now I see that I just misunderstood and I hope most people will get it right. What could be helpful though is some sample code with Ensure = Absent. For example, it's not yet clear if required parameters should be included even with Absent. For example, if I specify Ensure = Absent, "CacheSizeInMB" parameter is still mandatory, right?

[2017-03-20 11:52] NikCharlebois commented on #535
I agree that this would be the best way to handle it on your end. I am trying to get an official Rule-Dependency list from PG for my stuff.

[2017-03-20 17:54] nissan opened #539 "Extend SPSite with the ability to change the email address for access requests"
Details of the scenario you try and problem that is occurring:
[Help Wanted]
I configured SPOutgoingEmailSettings with email address From and ReplyTo addresses at the farm level, however Access Request Settings at a Site Collection level do not retain this email setting for "Send requests for access to the following email address:" parameter, and I do not see a setting for this at the SPSite keywo

[2017-03-20 18:53] ykuijs commented on #539
Hi @nissan, the SPSite resource currently is able to configure this setting and the SPOutgoingEmailSettings resource cannot be used for this setting.

Good addition though, I will change the title of this issue to describe this addition a little better and keep track on this change

[2017-03-20 18:55] ykuijs commented on #537
I think it is a good idea to add this to the documentation. Will include this one in the bugfix PR I am working on.

[2017-03-20 19:03] ykuijs commented on #535
Will include this update in the bugfix PR I am working on

[2017-03-20 19:25] nissan commented on #539
Is it in the documentation on what keyword is used to change this settiing at the Site Collection level using SPSite? I'm not seeing the keyword, or it's not that obvious?

Thanks for the help.
- Nissan

[2017-03-20 19:43] nissan opened #540 "Extend SPOutgoingEmailSettings with TLS and SMTP port number for SP2016"
Details of the scenario you try and problem that is occurring:
[Help Wanted]
I want to turn TLS Encryption off for my outgoing email settings. [Wiki Documentation for SPOutgoingEmailSettings](https://github.com/PowerShell/SharePointDsc/wiki/SPOutgoingEmailSettings) does not show this as an available parameter, although I see [Powershell commands documented](https://social.technet.microsoft.com/wik

[2017-03-21 03:50] BrianFarnhill commented on #539
@nissan I think @ykuijs made a typo there - currently SPSite *can not* configure this setting. But as he said it's a good addition, so it's on the backlog and we'll see if someone can get to it

[2017-03-21 17:24] mrpullen commented on #538
Should we create a resource for "**SPWebApplicationAuthenticationMethod**" so each authentication method can be captured for each web application as a specific resource? From my perspective each "setting" should be an independent resource, instead of trying to control multiple settings in a single resource..

thoughts?

we could update the **SPWebApplicationAuthenticationMethod** as you suggest, a

[2017-03-21 21:34] mrpullen opened #542 "SPSearchFileType Key Issue"
**Details of the scenario you try and problem that is occurring:**
Attempting to add SPSearchFileType to multiple Search Service Applications inside of a single configuration.

**The DSC configuration that is using the resource:**
[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
WIN2008R2
**Version of the DSC module you're using:**
V 1.5

ERROR:

Add-NodeK

[2017-03-21 21:46] BrianFarnhill commented on #538
@mrpullen That's one option, or we could capture it as a complex type property within the web app (Have a look at how we do things like [SPServiceAppSecurity](https://github.com/PowerShell/SharePointDsc/wiki/SPServiceAppSecurity) to see what I mean). This would keep it in the one resource, but we need to look at the number of properties and complexity of managing the authentication providers I thi

[2017-03-21 21:48] BrianFarnhill commented on #542
Agreed this is a bug, the service app name should have also been marked as a key. This should be a quick fix for us to put in though. Thanks for reporting.

[2017-03-22 05:51] mrpullen commented on #538
So it would be an array of those objects? How would that work and be "backward compatible?".

I guess the object would look like ---
[code]
maybe some of other properties from [Configure Forms Based Authentication on SharePoint 2013](https://sharepointumar.wordpress.com/2013/08/01/configure-forms-based-authentication-for-sharepoint-2013/)
Then we could have separate resources to actually initializ

[2017-03-22 05:56] BrianFarnhill commented on #538
In terms of backwards compatability - put simply it wont. The second we make a change to this we are breaking the choices/options there now so this will be a change we put in a our v2.0 release branch as a breaking change, so I wouldn't worry about that.

In terms of the FBA stuff and what goes in to SharePoint vs what hits the web.config file - I would focus on making sure that the SharePoint set

[2017-03-22 05:57] mrpullen commented on #537
Can we also add a Unit test to catch when Ensure doesn't have a default value of "Present". I always forget and have to go back and update my PRs.

Thanks!!

[2017-03-22 06:04] mrpullen commented on #37
Might take a stab at this one; I would love to have a better deployment story for BCSModels. I think we would need to add the ServiceAppName as a farm could have multiple BCS Services; Will do some research and post back anything else I think of, get some feedback and get to work.

[2017-03-22 13:32] MikeLacher448 commented on #511
fixed by PR #526

[2017-03-22 20:43] mrpullen opened #544 "Build a timeout loop in to SPFarmSolution"
**Details of the scenario you try and problem that is occurring:**

Apply a DSC configuration, but there is an issue with the farm, so the WSP / Solution file that needs to be deployed can't deploy. But DSC seems to just wait indefinitely, so the rest of the configuration isn't applied, and if I am not watching it specifically I don't know what is going on.

Is there any way to add a "timeout" to

[2017-03-22 23:51] BrianFarnhill commented on #544
Most of the other resources that loop have internal time outs of 30 minutes on them, so the SPFarmSolution resource should do the same. Will add to the backlog

[2017-03-23 00:45] mrpullen commented on #544
I was hoping we could add a timeout to the Invoke-SPDSCCommand, but I don't see a simple way to do it, then if any resource needed a timeout, we could supply the 30m as a default but allow the value to be set in the resource so we could timeout as desired.

[2017-03-23 00:58] BrianFarnhill commented on #544
@mrpullen Yea that wouldn't be something we could easily do - plus then we run the risk of cutting out mid way through a script that would be in a valid (all be it slow) run, so I wouldn't want to do it that way. So for now lets make sure we fix SPFarmSolution and any others that should have it and go from there.

[2017-03-23 01:55] #511 closed

[2017-03-23 02:39] BrianFarnhill commented on #542
Fixed in dev, this will release in 1.7 - closing this issue.

[2017-03-23 02:39] #542 closed

[2017-03-23 14:58] Ephex2 opened #545 "Missing 'l' in return of InstallAccount for function get-targetresource of MSFT_SPFeature.psm1 (Line 67)"
**Details of the scenario you try and problem that is occurring:**
When running get-targetresource for the SP-Feature resource module, the Installaccount returned is missing an 'l'. The error is on line 67 of the file MSFT_SPFeature.psm1.

**The DSC configuration that is using the resource:**
SPFeature abcd
{
    ...
}

**Version of the Operating System and PowerShell the DSC Target Node is runnin

[2017-03-23 18:43] #545 closed

[2017-03-23 18:43] Ephex2 commented on #545
Duplicate of https://github.com/PowerShell/SharePointDsc/issues/481

[2017-03-24 12:40] mrpullen commented on #538
Ok. So if we leave off the web.config stuff the object would be

This would be a MSFT_SPAuthentication object?
[code]

[2017-03-24 22:37] ykuijs commented on #537
This sounds like a great idea! @BrianFarnhill what do you think? Can you add this to the Appveyor tests?

[2017-03-24 22:39] BrianFarnhill commented on #537
Yea we can probably do that, we can use the AST stuff to reflect it back out and test on it

[2017-03-24 23:18] ykuijs commented on #540
Hi @nissan, this functionality has been added in SP2016. The resouces was build when SP2016 wasn't available yet. We will have to extend the functionality of this resource.

[2017-03-24 23:36] ykuijs commented on #534
Will be included in my bugfix PR

[2017-03-24 23:56] ykuijs commented on #532
This is probably a SP2016 issue. Just tested it on SP2013 and it works fine there. Will validate it on SP2016 in the upcoming days.

[2017-03-25 06:26] shurick81 opened #546 "SPSearchTopology documentation improvements"
Would it be great to mention on https://github.com/PowerShell/SharePointDsc/wiki/SPSearchTopology what servers should we run this configuration on and is there a necessity of provisioning search services before topology is applied?

For example, I've got s1, s2 and s3 servers in the farm and only s2 and s3 should host search components.
Should my configuration be like this?

[code]

Or must it be

[2017-03-26 23:22] BrianFarnhill commented on #546
Hi @shurick81 - your right we need to clear this up. At this point you only need to run the topology resource on a single server in the farm, so either s1 or s2 in the example above. It will turn the components on to each server from the one place. I'll get the documentation to be updated to better reflect this.

[2017-03-26 23:25] BrianFarnhill commented on #538
At a first glance yep that seems how I would do it

[2017-03-27 09:37] shurick81 opened #547 "SPDistributedCacheService provisions nothing"
**Details of the scenario you try and problem that is occurring:**
Trying to use configuration to provision distributed cache node on the WFE server

I run Start-DscConfiguration D:\Deploy\PwC-SP20-DSC -Verbose -Wait -Force but however, in central administration I can see that distributed cache is not applied.

When I test with `Test-DscConfiguration D:\Deploy\PwC-SP20-DSC -Verbose`, I get

`VERBO

[2017-03-27 15:56] shurick81 commented on #546
I believe SPServiceInstance that I mentioned should be run. At least I haven't managed to apply components on the servers before service instance was up and running

[2017-03-27 23:52] BrianFarnhill commented on #546
@shurick81 You don't need to run SPServiceIsntance as the SPSearchTopology will make them start to apply the topology, but its a good idea to run it so that the services will be started later on if they are ever found to be stopped.

[2017-03-28 11:36] larbre opened #550 "SPUserProfileProperty throwing errors when editing string based properties"
Running SharePoint DSC 1.6.0.0 installing SharePoint 2016 there is an issue when creating string based user profile properties. It works when the property is created for the first time but fails when running the same DSC configuration again. The bug seems to be realted to a change in the userprofiles.coreproperty.type enumeration (https://msdn.microsoft.com/en-us/library/microsoft.office.server.us

[2017-03-28 12:58] larbre opened #551 "MSFT_SPUserProfileProperty Test-Resource failing when ADImport conncetion is configured"
Running SharePoint DSC 1.6.0.0 installing SharePoint 2016 there is an issue when an ADImport connection has been setup. It first fails on the Test-Resouce function when executing

[code]
based on MS this will always report $null if ADImport is used (compare https://msdn.microsoft.com/en-us/library/microsoft.office.server.userprofiles.connection.propertymapping.aspx)
So we can't really report exist

[2017-03-28 21:49] BrianFarnhill commented on #550
I think this is something that we keep our schema the same for, but substitute the values out for at runtime if the server is 2016. Adding this to the buglist, thanks for reporting

[2017-03-29 07:31] larbre commented on #550
that's fine as well, I just needed a quick fix for now ;-)

[2017-03-29 10:49] typozh opened #553 "SPWebAppGeneralSettings: Get-TargetResource for property SecurityValidationTimeOutMinutes is wrong"
**Details of the scenario you try and problem that is occurring:**
When using the SPWebAppGeneralSettings SecurityValidationTimeOutMinutes Property the test always fails.
The script SPWebApplication.GeneralSettings.psm1 uses a wrong property on line 20:
SecurityValidationTimeoutMinutes = $WebApplication.FormDigestSettings.timeout.minutes

should be:
SecurityValidationTimeoutMinutes = $WebApplicati

[2017-03-29 10:51] BrianFarnhill commented on #553
What version of SharePoint are you using? I want to make sure the property name didn't change between 2013/2016

[2017-03-29 11:25] typozh commented on #553
SharePoint 2016

[2017-03-29 11:28] typozh opened #554 "SPWebAppThrottlingSettings: set function for RequestThrottling property does not work"
**Details of the scenario you try and problem that is occurring:**
Change the RequestThrottling setting using SPWebAppThrottlingSettings, RequestThrottling

**The DSC configuration that is using the resource:**
                SPWebAppThrottlingSettings $internalThresholdSettingsName {
                    Url                          = $webApp.Url
                    ListViewThreshold            =

[2017-03-29 16:27] shurick81 commented on #547
I've noticed that I used InstallAccount parameter instead of PsDscRunAsCredential that I'm supposed to use for PS 5.1. I fixed the configuration but it still doesn't provision distributed cache on the server. Any help?

[2017-03-29 16:36] shurick81 commented on #547
Here is log by the way:
[code]

[2017-03-29 16:59] shurick81 commented on #547
I've looked at the source code of the SPDistributedCacheService and it seems like it ignores servers when it does not find service instance on the server. According to the TechNet the instance should be added by following powershell command: Add-SPDistributedCacheServiceInstance
https://technet.microsoft.com/en-us/library/jj219613.aspx

[2017-03-29 18:34] ykuijs commented on #532
Indeed looks something has changed in SP2016. Just tried the code in SP2016 and just like what your ran into as well, it returns an empty property. Will have to check how to retrieve this URL from SP2016.

@BrianFarnhill, @NikCharlebois Any clue?

[2017-03-31 00:48] BrianFarnhill commented on #532
Not off to top of my head - maybe we need to look in to whether it is there as a private property now? It seems weird that it would be removed like that.

[2017-03-31 04:17] mrpullen commented on #37
So I think I am going to do something like
SPBCSModel HRAppModel
{
  Name "HR Application"
  Url = "Service Context URL"
  ModelFile = "C:\bcsmodels\hr.bcdm"
  BDCObjectType "Model"
  Ensure = "Present"
}

IS the URL parameter ok, or should it be Site, or ServiceContext, or something else?

[2017-03-31 15:48] DenisK87 opened #557 "SPWebAppPolicy.psm1 Write-Verbose message parameter with + cause error"
**Details of the scenario you try and problem that is occurring:**
When PowerShell try to write verbose message with "+" sign in it it falls in the error:
"A positional parameter cannot be found that accepts argument '+'."

The code that cause this error is in the file "Modules\SharePointDsc.WebAppPolicy\SPWebAppPolicy.psm1" line 65.
Code:
Write-Verbose -Message "Permission level different for " +

[2017-03-31 16:05] #544 closed

[2017-03-31 16:09] mrpullen commented on #456
#538

[2017-04-01 20:19] ykuijs commented on #557
Hi @DenisK87, thanks for reporting. I will include this fix in a bugfix PR I am working on.

[2017-04-01 20:26] ykuijs commented on #532
The property "GetContentTypeSyndicationHubLocal" doesn't exist at all anymore. Have been looking with Ilspy to get some information, but all required classes are specified as Internal.

[2017-04-02 16:51] NikCharlebois opened #558 "SPWebApplication Get-TargetResource can't get AuthProvider"
**Details of the scenario you try and problem that is occurring:**
Configure a SharePoint farm using SharePoint DSC and the DSC block below. The WebApp gets created with the "Windows" Auth Provider. Then call into the Get-TargetResource function against it. It somehow detects that it is Claims even though it is not, and can't retrieve the AuthProvider Name.

**The DSC configuration that is using t

[2017-04-02 17:22] NikCharlebois opened #559 "Wiki documentation for SPWebApplication doesn't include Claims as valid Auth"
**Details of the scenario you try and problem that is occurring:**
when looking at the SPWebApplication Resource, the AuthenticationMethod parameter accepts "NTLM, Kerberos, and Claims", however the Wiki example only mentions NTLM and Kerberos

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Versio

[2017-04-03 18:10] NikCharlebois opened #560 "SPSite Template approach in Get-TargetResource is wrong"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource function in MSFT_SPSite uses the following logic to retrieve the Template parameter:

"$($site.RootWeb.WebTemplate)#$($site.RootWeb.WebTemplateId)"

However, for an App Catalog site, while the WebTemplate is correct ("APPCATALOG"), its WebTemplateID is '18' and "APPCATALOG#18" is not valid. The App Catalog Te

[2017-04-03 19:02] NikCharlebois opened #561 "Database in Get-TargetResource for MST_SPSubscriptionSettingsServiceApp"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource method for MSFT_SPSubscriptionSettingsServiceApp tries to access a Database property on the Service App instance to retrieve the DatabaseServer and DatabaseName properties. However, this property doesn't exist and always returns null;

**The DSC configuration that is using the resource:**
N/A

**Version of th

[2017-04-04 09:01] shurick81 opened #562 "SiteDataServers property of the web application is not configurable"
It would be great if this property was configurable via DSC.
It's quite useful for optimizing search topology and performance.

Here is more details:
https://technet.microsoft.com/en-us/library/dn535606.aspx#BKMK_ReduceEffect
https://technet.microsoft.com/en-us/library/dd335962(v=office.14).aspx

[2017-04-04 16:12] alistairl commented on #489
This is interesting - I've just built an environment a few times using Azure IaaS and DSC Configuration that uses SPInstall against a folder structure with the January 2017 update and the registry keys are showing SingleServer. It looks like this may hold up deployment of a search topology.

[2017-04-04 16:52] NikCharlebois opened #563 "SPAppCatalog weird behavior"
**Details of the scenario you try and problem that is occurring:**
I honestly don't believe this is caused by SharePointDSC, but when I specify an AppCatalog block for one of my web app, then navigate to the configure catalog page in Central Admin, it shows blank and asks me if I want to create an app catalog for my WebApp. However, if I use PowerShell to read the AppCatalog url for my web app, it

[2017-04-04 23:33] BrianFarnhill commented on #489
OK so I've got a farm that I build using DSC in Azure (using my own pull server, not the DSC extension - shouldn't make a difference but lets list out everything here) that was built to 16.0.4456.1000 (so the November update pack - Feature Update 1, where we added the extra MinRole roles) and it shows Application still. Now, my gut is still telling me this is very unlikely to be a DSC issue, so th

[2017-04-05 10:39] alistairl commented on #489
I've emailed the install log across. I'm going to tear the environment down and check the install status as I go.

[2017-04-05 11:18] ykuijs commented on #529
Ok, figured out how to retrieve this value. Will include this in my bugfix PR

[2017-04-05 11:18] ykuijs commented on #532
Figured out how to retrieve this property in SP2016, thanks to @BrianFarnhill :-) Will add this to the bugfix PR.

[2017-04-05 23:30] BrianFarnhill commented on #489
@alistairl  OK so looking at the logs you sent me, I can 100% verify that the server is being installed correctly as per this line:

You can follow the SERVERROLE property through that log file and see that it stays at application the whole way through, so the issue isn't with how we are installing via DSC (unless someone can show me a log file that proves otherwise).

As per @alistairl email to m

[2017-04-06 01:39] BrianFarnhill commented on #37
In my mind we would be deploying this to the service app level, so can we do something where we specify the name of the BCS service app and have it create the servicecontext in the background?

[2017-04-06 09:13] alistairl commented on #489
@BrianFarnhill my latest strategy is to examine the impact of the update on the farm due to that being one difference between your and my test environments. I'll build from RTM, patch to November and see the results from that.

[2017-04-06 18:56] ronx opened #565 "SPSearchServiceApp exception creating defaultAccount credential in Get-TargetResource"
**Details of the scenario you try and problem that is occurring:**
During the last phase of my SP2016 DSC rollout, the SPSearchServiceApp resource is throwing an exception. The exception is:

I traced this down to line 94 in Get-TargetResource (the last line here):

[code]

My resource block looks like this:

[code]

I'm going to try to replicate in my Azure lab to see if I get the same results, b

[2017-04-06 20:11] ronx commented on #565
I noticed some strange things in this farm that probably happened because of timing. I was using some WaitForAll resources to be able to run multiple installations in parallel. I think I kicked off my 2nd app server configuration too soon after APP01 where Central Admin is. Even though CA was running on APP01 like it should, the CentralAdministrationUrl property in the registry was pointing to APP

[2017-04-07 11:45] DenisK87 opened #566 "SPSite throw an exception if it executed after Script with "Add-PSSnapin Microsoft.SharePoint.PowerShell" code inside."
**Details of the scenario you try and problem that is occurring:**
If SPSite resource is executed after Script resource with "Add-PSSnapin Microsoft.SharePoint.PowerShell" it throw an exception:

**The DSC configuration that is using the resource:**
Script Script1
{
   TestScript = {
      return $false
   }
   SetScript = {
      if ((Get-PSSnapin -Name Microsoft.SharePoint.PowerShell -ErrorActio

[2017-04-08 01:45] ronx commented on #565
Okay, so in my lab, I let the first app server pull its config and gave it plenty of time to run before publishing any other server configs. I did not encounter this error in my lab, so I'm pretty sure it was a timing issue. However, I still think some error checking would be beneficial here.

Because of the strange situation where I ended up with a misconfigured SSA, I tried to use DSC to start o

[2017-04-09 23:03] BrianFarnhill commented on #565
OK so I don't think this a timing issue - looking at the root issue I can see its got an issue pulling out the default content access account. Do you still have access to a broken environment or can we replicate it? I want to try to step through that get method and look at why it can't get a user name out of the service app

[2017-04-09 23:19] BrianFarnhill commented on #566
Thanks for reporting this Denis - the fact that you are calling it before another script resource that loads the snapin doesn't/shouldn't matter. When we load the snapin we do it with this script:

    $baseScript = @"
        if (`$null -eq (Get-PSSnapin -Name Microsoft.SharePoint.PowerShell -ErrorAction SilentlyContinue))
        {
            Add-PSSnapin Microsoft.SharePoint.PowerShell

[2017-04-10 07:11] DenisK87 commented on #566
Hi, Brian.

Thanks for your response. Yes, I've uploaded archive with logs and DSC scripts files.
[Issue566Logs.zip](https://github.com/PowerShell/SharePointDsc/files/909241/Issue566Logs.zip)

I'll also copy logs here:
[code]

I'm not sure, but may be this error is connected to case, described here
[Add-PSSnapin both in “second level” and “third level” modules](http://stackoverflow.com/questions/4

[2017-04-10 16:44] ronx commented on #565
After I fixed the CentralAdmin stuff and manually deleted the SSA and let DSC re-provision it, it configured properly so I don't currently have a broken environment to play with. I might be able to replicate the issue by running the install on APP01 and APP02 again pretty close together. Since APP01 is doing the setup of all the central services and initializing the farm, APP02 should still finish

[2017-04-10 23:08] BrianFarnhill commented on #566
ok, so maybe you might be on to something here. I would expect to see the verbose line from the start of our test function before the error, so the only place this can be faulting has got to be where we are loading the snap in. So lets go through the stuff you have here.

In the linked example, the issue is that you are genuinely loading it twice. I can see that the code here is mimicking what we

[2017-04-11 14:08] ykuijs commented on #560
$site.RootWeb.WebTemplateId needs to be changed to $site.RootWeb.Configuration. Have included this in my bugfix PR.

[2017-04-11 14:13] ykuijs commented on #559
The parameters on the Wiki pages are being generated from the schema file. For SPWebApplication the schema file shows the correct parameter values, so not sure why this pages hasn't been updated.

@BrianFarnhill Do you have any clue?

[2017-04-11 14:20] ykuijs commented on #553
The TotalMinutes property also exists in SP2013, so we can use this in SP2013 as well. Have included this in my bugfix PR.

[2017-04-11 18:30] DenisK87 commented on #566
Hi, Brian.

Workaround with Invoke-SPDscCommand is working for me. Now I have no errors during script execution. Thanks a lot.

[2017-04-11 18:30] #566 closed

[2017-04-11 23:48] BrianFarnhill commented on #566
Closing the loop on this, I've formally documented this [in the wiki](https://github.com/PowerShell/SharePointDsc/wiki/Using-the-Script-resource-in-configurations-that-use-SharePointDsc)

[2017-04-11 23:57] BrianFarnhill commented on #559
My bad guys, forgot to hit publish on the doco when 1.6 shipped. Doco is now up to date from that release.

[2017-04-11 23:57] #559 closed

[2017-04-12 20:34] nissan opened #571 "SPSearchContentSource examples produce errors"
The documented examples in the [wiki page for SPSearchContentSource](https://github.com/PowerShell/SharePointDsc/wiki/SPSearchContentSource) produce errors if used as is.

In the first example, ContinuousCrawl parameter is set to $true, however an IncrementalCrawl schedule is also specified. This produces an error when attempted to be applied in my environment using an Azure Automation DSC account

[2017-04-12 22:53] BrianFarnhill opened #572 "SPShellAdmin doesn't work for non-content databases"
**Details of the scenario you try and problem that is occurring:**

Right now if you use the SPShellAdmins resource it only works for content databases, not for any other database in the farm. This is sort of by design I think as we made the property name "Content Databases" but in reality there are scenarios that shell rights need to be granted to other databases also. So I'll call this an "enhan

[2017-04-13 01:33] #534 closed

[2017-04-13 01:33] BrianFarnhill commented on #557
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:33] #557 closed

[2017-04-13 01:33] BrianFarnhill commented on #529
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:33] #529 closed

[2017-04-13 01:34] BrianFarnhill commented on #532
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:34] #532 closed

[2017-04-13 01:34] BrianFarnhill commented on #560
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:34] #560 closed

[2017-04-13 01:34] BrianFarnhill commented on #553
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:34] #553 closed

[2017-04-13 01:35] BrianFarnhill commented on #481
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:35] #481 closed

[2017-04-13 01:35] BrianFarnhill commented on #533
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:35] #533 closed

[2017-04-13 01:35] BrianFarnhill commented on #518
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:35] #518 closed

[2017-04-13 01:36] BrianFarnhill commented on #523
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:36] #523 closed

[2017-04-13 01:36] BrianFarnhill commented on #527
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:36] #527 closed

[2017-04-13 01:36] BrianFarnhill commented on #502
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:36] #502 closed

[2017-04-13 01:36] BrianFarnhill commented on #535
This has been merged to dev and will ship in our next release, closing this issue

[2017-04-13 01:36] #535 closed

[2017-04-13 01:37] BrianFarnhill commented on #537
The doco has been added to all resources and will be updated at our next release, closing this issue

[2017-04-13 01:37] #537 closed

[2017-04-13 01:40] BrianFarnhill commented on #464
Given that this one hasn't been responded to since early Feb I'm closing it off. If we get more comments on it I'll re-open it to continue investigation

[2017-04-13 01:40] BrianFarnhill commented on #463
Given that this one hasn't been responded to since early Feb I'm closing it off. If we get more comments on it I'll re-open it to continue investigation

[2017-04-13 01:40] #463 closed

[2017-04-18 00:18] Christwe commented on #464
I know this was closed due to lack of response, but i hit the same problem and by unblocking the file (right click file -> Properties -> Check box to unblock) the installation ran the next time dsc checked.

[2017-04-23 19:38] ykuijs commented on #572
Just reviewed the necessary changes and the easiest implementation will mean this will be a breaking change. So it would probably best fit in the v2.0 release.

[2017-04-25 13:27] ykuijs commented on #572
Implemented change for a 2.0 PR

[2017-04-25 13:27] ykuijs commented on #424
Implemented change for a 2.0 PR

[2017-04-26 09:33] ykuijs commented on #561
Will be included in my next bugfix PR

[2017-04-26 11:18] ykuijs commented on #558
When not specifying the AuthenticationMethod parameter, a Classic web application is created. This type of web application does not have an authentication provider and therefore returns the incorrect information.

Will update the resource to return the correct AuthenticationMethod from the Get method.

[2017-04-26 14:44] typozh opened #573 "Question on AlwaysOn and SharePoint dbs"
**Details of the scenario you try and problem that is occurring:**
I'm using xSqlServer resources to pre-stage the SharePoint databases and then I mount them using the SharePointdsc resources. This works fine but I would like to move the dbs into Alwayson groups using dsc. I know there is the SPDatabaseAAG resource to do that but I don't get the concept. What do I need to configure as dbserver whe

[2017-04-26 15:10] aboersch opened #574 "Cannot use precreated Config DB with SPFarm"
**Details of the scenario you try and problem that is occurring:**
I am trying to create a new farm with a pre-created empty database. This used to work with SPCreateFarm.

There is a compatibility range mismatch between the Web server and database "", and connections to the data have been blocked to due to this incompatibility. This can happen when a content database has not been upgraded to be w

[2017-04-26 15:13] aboersch commented on #574
Or is this perhaps due to SP2016. I am seeing errors for usage and state service apps.

[code]

[2017-04-27 07:20] typozh commented on #439
Hi @BrianFarnhill: Any update on this? I would need this for SP2016. Thanks!

[2017-04-27 13:58] tseward commented on #439
@BrianFarnhill I sent you an email back in late January for the person to contact for supportability.

[2017-04-27 18:59] andikrueger opened #577 "Is there any function to change the C2WTS Account?"
**Details of the scenario you try and problem that is occurring:**
I would like to change the Service Account for the Claims to Windows Token Service. Are there any plans to provide a functionality like this?

I think it could be accomplished like described here: [How to reset the Claims to Windows Token Service account](https://technet.microsoft.com/en-us/library/gg502596(v=office.14).aspx)

**Th

[2017-04-28 05:58] BrianFarnhill commented on #577
There are now, I'll tag this so it's on our backlog and we'll see when someone can get to it. Thanks for reporting the idea!

[2017-04-28 05:59] BrianFarnhill commented on #574
OK so the _Lock database is literally just a flag to our logic to say that the farm is in the process of being created, we delete it once the farm is established so its never there long term.

This error tells me that it's not happy with the pre-created database. Are you able to provide me some details on how you created the database so I can try to look in to this?

[2017-04-28 06:06] BrianFarnhill commented on #573
Hey Brian,

So the process is basically that you can create the databases against the listener for the AG and the database will then be created on whichever server is currently the primary in the AG as just a normal database and that will work for as long as you need (as long as you don't change the primary!). So from there you can then SPDatabaseAAG to tell SharePoint to do the backups and then a

[2017-04-28 06:11] BrianFarnhill commented on #547
You shouldn't need to call Add-SPDistributedCacheServiceInstance, we use that inside our resource. From what I can see in your logs it's only running the test resource and it looks like it's returned true to indicate the service is running. Can you get me the logs from your setting the resource that shows that it was successful (or that it failed) by using Start-DscConfiguration with the -verbose

[2017-04-28 06:16] BrianFarnhill commented on #528
As far as I know (and I'm happy to be corrected here) when you use SQL client aliases SharePoint doesn't even know it's dealing with an alias. You just give it a "server name" and that name will either be a normal server name (or FQDN) that will resolve to the IP address of the server through a standard DNS call, or you'll give it an alias so that the SQL pipeline can swap in the new value of the

[2017-04-28 06:18] BrianFarnhill commented on #439
Yea I got the email, and the short version is that yes we can use that command for SP2016 - it's just literally been a matter of me finding the time to write some code for this that has held it back (keeping in mind that me running this project is something I do on top of my standard day job!). If someone else wants to have a crack at this I'll help where I can to get it over the line, otherwise i

[2017-04-28 06:51] andikrueger opened #579 "Install SharePoint 2016 with Feature Pack 1 Min Roles: Application with Search, WFE with Distributed Cache"
**Details of the scenario you try and problem that is occurring:**
With SharePoint Feature Pack two new Min Roles are available. Currently it is not possible to install a new SharePoint Farm with these two roles as a current CU is required to enable the new Role Switches.
As far as I see it's not possible to install an update prior to farm creation. The Config DB Parameter is mandatory for the SPP

[2017-04-28 10:31] aboersch commented on #574
[code]

[2017-04-28 10:38] BrianFarnhill commented on #579
Hi @andikrueger

It very much so is possible to install a new farm with those roles. You install the update by either slipstreaming it in to your binaries directory, or by installing the binary part of the update after you install SharePoint but before you create/join a server to the farm.

The part that isn't possible is to use the SPProductUpdate resource - due to the way that we can tell if an

[2017-04-28 10:38] #579 closed

[2017-04-28 14:34] andikrueger commented on #579
Hi @BrianFarnhill,
thank you for the quick response.
First, I thought about slipstreaming the updates, but then postponed it due to the need to install language packs for SharePoint too. AFAIK language packs should be installed prior to the CU, as the CU holds language dependent files which would not be updated otherwise. [e.g. For SharePoint 2013](https://sharepoint.stackexchange.com/questions/13

[2017-04-28 18:47] ykuijs commented on #579
Hi @andikrueger, you are absolutely correct. The sliptstream method doesn't work that well if you have to use language packs. However, you can combine both methods: Slipstream to fix your issue, then install the language packs and then use SPProductUpdate to install the CU again, which will then only update the language packs (since SP is already on that patch level).

Or slipstream the Nov 16 upd

[2017-04-28 20:42] andikrueger commented on #579
Hi @ykuijs,
I really like your idea. It is a good to slipstream an older CU (like the Nov 16 one) and continue from that point with the language packs and a newer CU. In this case, the newer CU should install fine and the language pack becomes updated too.
I always thought about a slipstream version with the latest CU. Recently I experienced some strange issues in that case when I tried to apply t

[2017-04-30 10:42] Identitry opened #580 "SPInstall Get-TargetResource doesn't work for Sharepoint Foundation 2013"
**Details of the scenario you try and problem that is occurring:**
When installing Sharepoint Foundation 2013 using SPInstall Get-TargetResource searches the "HKLM:\Software\Microsoft\Windows\CurrentVersion\Uninstall\*" registry key for "Microsoft SharePoint Server (2013|2016)", this won't give a match for "Microsoft SharePoint Foundation 2013".

**The DSC configuration that is using the resource:

[2017-04-30 17:14] ykuijs commented on #580
Hi @Identitry, unfortunately we do not support SharePoint Foundation with SharePoint DSC, only SharePoint Server.

@BrianFarnhill, I see that this isn't specifically mentioned in the Wiki page. Can I change the Wiki page manually or will that be overwritten when we regenerated the documentation?

[2017-04-30 17:20] ykuijs commented on #574
Haven't done any troubleshooting yet, but does your SQL installation have the correct collation, Latin1_General_CI_AS_KS_WS (which is Case Insensitive, Accent Sensitive, Kana Sensitive and Width Sensitive)?

If not, your precreated database probably is created with the incorrect collation and that probably is the reason why SharePoint isn't accepting it. If SharePoint creates your databases, it ma

[2017-04-30 20:59] #580 closed

[2017-05-01 14:15] ronx commented on #580
Hey @ykuijs, I updated the main wiki page to clarify this (under Supported SharePoint versions). If you guys think it needs to be called out in the SPInstall documentation as well, that could be updated in the Readme.md under that resource I believe.

[2017-05-01 19:16] wickedave opened #581 "SPFarm fail to create farm with "-" in config DB name"
Hi,

I'm trying to use a different Config DB name when creating my farm with SPFarm resource and if my name containing a "-" in the name, I'm getting an error:

[code]
You can replicate the issue by using "SP-Config" for the config db `name.`

I'm using the SharePointDSC 1.6.0.0. The installation a SharePoint 2016 with Windows server 2016. The database engine is SQL Server 2016.

[2017-05-02 00:00] BrianFarnhill commented on #580
Yea we mention in the [SPInstall documentation](https://github.com/PowerShell/SharePointDsc/wiki/SPInstall) how to install SP Foundation (see example 3), but I think we need to put something in the readme for this documentation and in the supported versions part of the wiki as well.

@Identitry Check out that link above to get your SP Foundation install working
@ykuijs Can you include an update to

[2017-05-02 00:46] ronx commented on #580
@BrianFarnhill sure, main wiki page is updated. Good idea, @ykuijs.

[2017-05-02 02:25] BrianFarnhill commented on #581
Hi @wickedave

I used dashes in my database names all the time and haven't seen this issue. Are you able to provide me with some more detail:

1. The SPFarm resource you are using so I can see all the properties in full
2. The verbose output that leads up to this error happening so I can work backwards to find where it's failing.

If you can get me that info we can help troubleshoot with you.

 -

[2017-05-02 13:39] wickedave commented on #581
This is the resource inside the MOF file:
[code]
This is the output when running the configuration:
[code]
Don't hesitate if you need more information

[2017-05-03 15:31] wickedave opened #582 "SPManagedAccount not getting the right value from Test-DSCResource"
Hi,

I'm using the SPManagedAccount DSC resource and I have no issue to add an account but when the configuration is running again, the test seems to not return the right value because it is going through the SET again and I'm getting an error because the account is already registered.

I'm currently using the SharePointDSC module with version 1.6.0.0

In SharePoint, if I'm trying the command get-

[2017-05-03 18:36] wickedave commented on #582
This was not an issue. The NetBIOS name of our domain is different and SharePoint is adding the managed account with the NetBIOS domain name. When the test was occuring, it was looking with the domain name and not the NetBIOS domain name. I managed to fix it by modifying the username in the credentials to the value that should work.

[2017-05-03 18:36] #582 closed

[2017-05-04 02:51] BrianFarnhill commented on #581
OK I think I see the issue here - can you confirm for me whether or not you see a database on your SQL server called "Core-Lab-Config_Lock"? If my theory is correct you won't see it, and that means there is a simple fix I can put in for this to work

[2017-05-04 06:32] ykuijs commented on #580
Done!

[2017-05-04 12:20] ykuijs commented on #540
Will be added in my next rollup PR

[2017-05-04 13:12] wickedave commented on #581
Hi Brian,
I confirm that when it is failing, I don't have the Core-Lab-Config_Lock database created.

[2017-05-04 13:58] andikrueger opened #583 "Minimal path to awesome - Wikipage"
**Details of the scenario you try and problem that is occurring:**
To offer a better starting point with SharePointDSC, a guidance should be offered on how to prepare a development and test environment.

- [x] How to contribute? (see: [Contributing SharePointDsc](https://github.com/PowerShell/SharePointDsc/wiki/Contributing%20to%20SharePointDsc))

I think there is good guidance available for these

[2017-05-05 08:28] typozh opened #584 "Custom resource: SharePoint object properties not available within dsc resource"
**Details of the scenario you try and problem that is occurring:**
I'm writing a dsc resource to set permission in a SharePoint site. The code I'm using works perfectly fine when I test it in a powershell shell with the snappin Microsoft.SharePoint.PowerShell loaded.
 As a dsc resource the object Microsoft.SharePoint.SPWeb does not return the properties although it seems to load fine.
All I can re

[2017-05-05 13:46] typozh commented on #573
Hi Brian,

The reason I'm using SQLAliases is because we are using custom ports for our listeners.

I tried to follow your sequences but with the Aliases pointing to the listeners. The staging does not work (db's can be created but when trying to connect them and create the farm I get a version conflict exception).

I then tried to skip the pre-staging and the farm creation worked. Step 4 fails in

[2017-05-08 14:20] DarenDaigle opened #585 "SPServiceAppSecurity gives error when assigning rights to the Managed Metadata Service"
**Details of the scenario you try and problem that is occurring:**

When configuring the Managed Metadata service, the service pool account is not given sufficient permssions to the service pool account.  When the attempt to add the permission via SPServiceAppSecurity using "Full Control" and error message is returned:

`PowerShell DSC resource MSFT_SPServiceAppSecurity  failed to execute Set-Targ

[2017-05-08 22:25] BrianFarnhill commented on #581
OK I see the issue, will get it fixed as soon as I can. It's a quick one so shouldn't be hard. Thanks for reporting.

[2017-05-08 22:27] BrianFarnhill commented on #584
Are you writing a custom resource or using the Script resource? What account are you running your resource as? The same account as the one you use when you test it in the normal PowerShell window?

[2017-05-09 09:28] typozh commented on #584
I'm writing a custom resource. The account I'm using is the same as in the PowerShell window.

the test function looks like this:

function Test-TargetResource
{
    [CmdletBinding()]
    [OutputType([System.Boolean])]
    param
    (
        [parameter(Mandatory = $true)]
        [System.String]
        $GroupName,

        [System.String]
        $LoginName,

        [System.String]
        $Web

[2017-05-09 09:32] paugusto76 opened #587 "Access Denied with SPDesignerSettings"
Using the ReverseDSC to generate a script from a Farm already installed and configured I get this resource configuration:

    $SetupAccount = Get-Credential -UserName "CORP\sp.setup" -Message "Credentials for CORP\sp.setup"

        SPDesignerSettings SiteCollection84a91272-e1b1-4f80-a1d6-efcda54e81b6
        {
            Url = "http://mysites.corp.contoso.loc";
            PsDscRunAsCredential

[2017-05-10 00:24] BrianFarnhill commented on #584
Humour me, instead of loading the snap-in yourself can you wrap your code in "Invoke-SPDscCommand" like we do for the script resource in the wiki example at https://github.com/PowerShell/SharePointDsc/wiki/Using-the-Script-resource-in-configurations-that-use-SharePointDsc to see if that helps at all.

[2017-05-10 01:37] #581 closed

[2017-05-10 18:32] wickedave commented on #547
In my case, the Distributed Cache service is running but with the farm admin account. I want to change that service account on the service. I have the same output as shurick81 by putting -verbose switch on Start-DSCConfiguration. Nothing more is thrown from the test and the set is skipped.

[2017-05-10 19:58] wickedave opened #589 "Fix error output for Excel Services when attempted to be used on SharePoint 2016"
Hi,

I'm using SharePointDSC version 1.6.0.0 with SharePoint 2016.

I'm trying to provision an Excel service with SPExcelServiceApp resource and I'm always getting an error:

[code]
This is a new farm so it never hosted any Excel Service in the past.

Thanks

[2017-05-11 03:41] BrianFarnhill commented on #589
Can you share your configuration with us so we can try to replicate it?

[2017-05-11 06:35] andikrueger commented on #589
SharePoint 2016 does not have Excel Services as they are part of the Office Online Server now. The methods to provision Excel Services shouldn't be available in SharePoint 2016.

[2017-05-11 07:14] BrianFarnhill commented on #589
*facepalm*

Yep, @andikrueger is right. You should have actually seen an error telling you that though, the issue here is that the exception logic needs some brackets wrapped around it. So I'm gonna leave this one open until we fix the bit that throws the error - @ykuijs can you slip some brackets around the error message on this one in your next roll up PR. Because it goes over multiple lines the

[2017-05-11 12:15] wickedave commented on #589
Sorry about posting this issue. I feel a little bit noob. I should have noticed that Excel Service is now removed from SharePoint. Thanks for the answer.