[2018-01-17 14:11] NikCharlebois commented on #612
Yes, the issue here was around ReverseDSC. I will take a crack at it and remove the mandatory from these parameters. The code that checks for "None" will need to remain as to not introduce a breaking change, but I will also add logic to threat the params missing as "none"

[2018-01-17 15:59] rsganta commented on #730
Giving access to securitygroups, couple of team DLs

[2018-01-17 16:28] ykuijs commented on #730
@rsganta You need to use a different DSC module for this for example cNtfsAccessControl.

SharePointDsc isn't meant for changing file system permissions, but for managing SharePoint.

[2018-01-17 16:29] ronx commented on #709
Good point regarding the constant adding and removing of the farm account to/from local admins. However, that would only happen if LCM was set to ApplyAndAutoCorrect. Assuming most, if not all, people will be using either ApplyOnly or ApplyAndMonitor, this shouldn't be an issue. However, with ApplyAndMonitor, it would still report FirstAppServer as out of compliance after the 2nd run.

This brings

[2018-01-17 19:10] rsganta opened #731 "SPServiceIdentity throws an error Unable to locate service SharePoint Service Applications"
Context: I am trying to ensure "Confirm or Modify Service Acccount Associtions " after sharepoint is installed. It encounters an error  Unable to
locate service SharePoint Service Applications . This happens all of the other accounts but  below is the example for share point service applications
DSC Configuration:
SPServiceIdentity SharePointServiceApplications
        {
            Name

[2018-01-17 19:13] rsganta commented on #730
thank you.

[2018-01-17 19:13] #730 closed

[2018-01-17 19:16] rsganta opened #732 "SPServiceIdentity for SharePointServerSearch throws an error 'CurrentIdentityType' cannot be found on this object."
Context: SPServiceIdentity for SharePointServerSearch throws an error  'CurrentIdentityType' cannot be found on this object.

Sharepoint DSC Version : 1.9.0.0
OS: Windows 2016  with WMF 5.1
DSC Configuration:
 SPServiceIdentity SharePointServerSearch
        {
            Name           = "SharePoint Server Search"
            ManagedAccount = $SqlFarmAdmincreds.UserName
            PsDscRunAsCred

[2018-01-17 19:34] rsganta commented on #731
For more information, Adding DSC Configurations for other services.
 SPServiceIdentity FarmAccount
        {
            Name           = "Farm Account"
            ManagedAccount = $SqlFarmAdmincreds.UserName
            PsDscRunAsCredential = $domjoincreds
        }

        SPServiceIdentity DistributedCache
        {
            Name           = "Distributed Cache"
            ManagedAccount =

[2018-01-17 19:37] NikCharlebois commented on #732
This looks like a bug in the SPServiceIdentity resource. We are trying to set the CurrentIdentityType property on the Search Service, but that service instance doesn't expose this as a property. We will take a closer look at that resource.

[2018-01-17 22:25] rsganta commented on #732
Thanks @NikCharlebois .

[2018-01-18 16:47] Tpaquot opened #733 "How do we use custom solution ?"
Windows 2012 r2 / Sharepoint 2013 SP1 / ShareointDSC 2.0.0.0
The DSC config went first OK
I tried to import a custom solution from brightstore
And It went OK too
SPFarmSolution FreeBWorkPSTemplate #ResourceName
        {
            LiteralPath = "c:\wsp\Free BrightWork Project Structured Template for SharePoint.wsp"
            Name = "Free BrightWork Project Structured Template for SharePoint.ws

[2018-01-18 19:47] ykuijs commented on #673
Closed via PR #729

[2018-01-18 19:47] #673 closed

[2018-01-18 19:49] ykuijs commented on #733
Hi @Tpaquot, what do you see in Solution Deployment in Central Admin? Is the solution deployed successfully?

[2018-01-19 06:32] rsganta opened #736 "How to create web app pool for web application ?"
Context:  Like Service App Pool, I would like to create web application pool  called Sharepoint Web Applications that can be used for web applications. Since the below config is not working ,  does this resource support SPWebApppool ?  Any other pointers?

DSCConfiguration:
SPServiceAppPool SharePointWebApplications
        {
            Name = "SharePoint Web Applications";
            ServiceAcc

[2018-01-19 06:52] rsganta commented on #736
As per  LCM verbose logs  it says it run successfully but it is not displayed in application pools from inet manager.

VERBOSE: [997C-DM2-TAP01]: LCM:  [ Start  Resource ]  [[SPServiceAppPool]SharePointWebApplications]
VERBOSE: [997C-DM2-TAP01]: LCM:  [ Start  Test     ]  [[SPServiceAppPool]SharePointWebApplications]
VERBOSE: [997C-DM2-TAP01]:                            [[SPServiceAppPool]SharePoi

[2018-01-19 07:07] rsganta opened #737 "Sharepoint SPWebApplication for SLL creating two sites with different states(stop and start) and fails to run spwebapplication"
Sharepoint dsc module : 1.9.0.0
Hi,
I am configuration SPWebApplication with SSL and somehow it creates two sites(observed from inet manager) one with stop state officegemini.redmond.corp.microsoft.com and otherone with officegemini(start

Configuration:

SPWebApplication a
        {
            DatabaseName = "Sharepoint_Content";
            Url = "https://a.redmond.corp.microsoft.com"

[2018-01-19 08:30] Tpaquot commented on #733
Yes, I do see them in system settings / manage farm solution.
They are globally deployed.
I see them, when I run Get-SPSolution
They do not appear when I do a Get-SPWebTemplate
How do I carry on and use this solution in a site ?

[2018-01-19 13:35] NikCharlebois commented on #733
I recommend you follow up with the solution provider. Most custom solutions require you to enable a feature at the Farm, WebApplication, SPSite or SPWeb level for the bits to be made available.

[2018-01-19 13:38] NikCharlebois commented on #736
SPServiceAppPool creates a SharePoint service app pool which is not the same as a traditional IIS apppool. Can you elaborate on what it is you are expecting to see? What endgoal are you trying to achieve?

[2018-01-19 13:40] NikCharlebois commented on #737
Hi Ravi,

I’d recommend changing the path for your webapp to use a folder that goes by the webapp’s name instead of the port number. This way you won’t have two web apps, using ssl trying to overwrite one another

[2018-01-19 18:57] rsganta commented on #736
Thank you @NikCharlebois for your help. I have used xWebAppPool as suggested.

[2018-01-19 18:57] #736 closed

[2018-01-19 18:59] rsganta commented on #737
thanks for your help @NikCharlebois . It helped

[2018-01-19 22:47] rsganta opened #738 "Question: Resource to self service site creation"
Any resource that could help with self service site creation ?

[2018-01-19 23:32] #737 closed

[2018-01-19 23:44] rsganta opened #739 "Extend SPServiceIdentity with the ability to select Local System"
sharepoint dsc version : 1.9.0.0
dsc configuration: Please let me know if I misconifgure this resource.
SPServiceIdentity DocumentConversionsLauncherService
        {
            Name           = "Document Conversions Launcher Service"
            ManagedAccount = "Local System"
            PsDscRunAsCredential = $domjoincreds
        }

        SPServiceIdentity DocumentConversionsLoadBalancerSer

[2018-01-20 12:53] andikrueger commented on #738
Please use the SPWebAppGeneralSettings Resource to configure Self Service Site Creation.

[2018-01-20 21:52] ykuijs commented on #739
Hi @rsganta, the Managed Account parameter has to point to an existing Managed Account in SharePoint (Get-SPManagedAccount and in Central Admin). Not 100% sure and don't have my test environment ready, but I believe that Local System isn't a Managed Account. Therefore you cannot configure it as a managed account.

What is the error you are getting in this case?

[2018-01-20 21:54] ykuijs commented on #738
Like @andikrueger says, you can use SPWebAppGeneralSettings to configure Self Service Site Creation or SPSite to create new site collections.

Is that what you meant? If not, please elaborate a little more what you mean.

[2018-01-20 22:01] ykuijs commented on #733
Hi @Tpaquot, I just checked the [Install Guide](https://www.brightwork.com/resources/free-sharepoint-project-management-templates/free-templates-install-guide) of the solution and the solution is not a farm solution, but a Sandboxed solution. According to the guide, you have to upload the solution to a site collection solution gallery, after which the template will become available for that site c

[2018-01-20 22:01] #733 closed

[2018-01-20 22:13] ykuijs commented on #709
I see many customers that are in the process of implementing DSC to make sure DTAP environments are really equal. They are planning to use DSC to deploy all types of changes and to monitor on a daily basis if the environments are still according to their baseline.

That is why I would like to prevent a server constantly reporting it is out of compliance, which in this case it will.

I have an alte

[2018-01-21 23:39] rsganta commented on #738
yes, @andikrueger  response helped it.

[2018-01-21 23:39] #738 closed

[2018-01-22 00:14] rsganta opened #740 "xpfximport throws import requires either a different password or membership in an Active Directory error."
xPfxImport throws an activedirectory error. I am trying to import a certificate(password protected) to Personal store.  I have compared the parameters with github module and looks everything ok except Exportable parameter ( did not use it). Any help would be greatly appreciated.

sharepoint DSC module 1.9.0.0

Configuration:

xPfxImport OfficeCert
        {
            Thumbprint = $ConfigurationD

[2018-01-22 00:14] rsganta commented on #731
Any help here ?

[2018-01-22 00:31] rsganta commented on #739
Below is the error for reference. In the central admin, when I select these services, it shows it runs with account Local service . My goal is to validate whether this service is running under the account. I could see success only in [[SPServiceIdentity]SearchHostControllerService] and all of the remaining service account associations are failing.

VERBOSE: [897C-MN-PAP01]:

[2018-01-22 02:06] rsganta commented on #740
I have the private key but need to know which parameter will help to get this key and ensure certificate imports successfully.

[2018-01-22 05:17] rsganta opened #741 "Question: Which resource could help to validate OU of the computer based on the role of VM ?"
Context: Since we have different roles front end ,application server etc. If i join the machines to domain domain.host..company.com  and How to validate whether this VM is placed in right OU ?

I am not sure whether this covers part of Share Point DSC.

[2018-01-22 10:35] ykuijs commented on #741
Hi @rsganta, within DSC each module has its own purpose. SharePointDsc is meant for managing SharePoint settings/configuration. This module will not be able to manage anything that does not specifically have anything to do with SharePoint, like security group memberships, IIS settings, SQL settings, etc.

OU's are part of Active Directory, so you need the DSC module that is able to manage AD: [xAc

[2018-01-22 10:38] ykuijs commented on #740
Hi @rsganta, since xPfxImport isn't part of SharePointDsc, I would suggest to redirect questions about this resource to the module of that resource: [xCertificate](https://github.com/PowerShell/xCertificate)

[2018-01-22 10:38] #740 closed

[2018-01-22 10:39] ykuijs commented on #739
Ok, this means we have to extend SPServiceIdentity with the ability to select Local System. Will place this issue on the backlog

[2018-01-22 16:21] ykuijs commented on #719
Closed via PR #734

[2018-01-22 16:21] #719 closed

[2018-01-22 16:21] ykuijs commented on #707
Closed via PR #734

[2018-01-22 16:21] #707 closed

[2018-01-22 16:21] ykuijs commented on #706
Closed via PR #734

[2018-01-22 16:21] #706 closed

[2018-01-22 16:21] ykuijs commented on #657
Closed via PR #734

[2018-01-22 16:21] #657 closed

[2018-01-22 16:21] ykuijs commented on #705
Closed via PR #734

[2018-01-22 16:21] #705 closed

[2018-01-22 21:18] rsganta commented on #740
thanks. Though it is not a share point dsc, i have found the solution and so that it would help to the people who encounters the same problem . Basically i have passed the key via Credentials from azure portal.

[2018-01-22 21:31] ykuijs commented on #612
Closed via PR #735

[2018-01-22 21:31] #612 closed

[2018-01-22 21:35] rsganta commented on #741
closing this as  I found xADOrganizationalUnit seems to be related resource.

[2018-01-22 21:35] #741 closed

[2018-01-22 21:36] ykuijs commented on #372
Closing the issue since we can't reproduce the issue and creator hasn't responded to earlier questions.

Please reopen the issue if the issue remains

[2018-01-22 21:36] #372 closed

[2018-01-23 03:26] rsganta opened #742 "Question: How to enable usage data collection"
share point dsc module version 1.9.0.0
os: windows 2016

I looked at SPHealthAnalyzerRuleState and talks about rules to configure. I would like to enable the below two check boxes. Any resource could help ?

Select the checkbox "Enable Usage Data Collection"
Select "Enable health Data collection" under the Health Data collection category

[2018-01-23 14:21] NikCharlebois commented on #562
@ykuijs I am working on adding this to the SPWebAppGeneralSettings resource

[2018-01-23 20:03] ykuijs commented on #732
Did some investigation on this issue and found the cause:
The ProcessIdentity parameter returns a String object with the "SharePoint Server Search" instance. For all other instance, it is returning an SPProcessIdentity. For Search the following command is required to get the ProcessIdentity: Get-SPEnterpriseSearchService).get_ProcessIdentity()

Will include a fix in my next PR

[2018-01-23 20:17] rsganta commented on #732
Thank you both. What about #731 ?

[2018-01-23 20:28] rsganta commented on #742
thanks @ykuijs

[2018-01-23 20:28] #742 closed

[2018-01-23 20:39] ykuijs commented on #739
Will be implemented in my next PR

[2018-01-23 20:43] ykuijs commented on #731
Which version of SharePoint are you using? I cannot find the service instance "SharePoint Service Applications" in SP2013

[2018-01-23 20:45] ykuijs commented on #562
@NikCharlebois All yours!

[2018-01-23 22:48] rsganta commented on #731
2016

[2018-01-24 08:13] ykuijs commented on #731
I cannot find any service instance called "SharePoint Service Applications" in SP2016 either. What does the following command generate as output on your environment?

Get-SPServiceInstance | Select-Object -Property TypeName | Sort-Object -Property TypeName

[2018-01-24 10:22] luigilink opened #743 "Get SPWebApplicationExtension returns not all parameters when Ensure is Absent"
**Details of the scenario you try and problem that is occurring:**
Get SPWebApplicationExtension returns not all parameters when Ensure is Absent
So Test-TargetResource returns False when the extension is already removed

**The DSC configuration that is using the resource:**
SPWebApplicationExtension
[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows

[2018-01-24 10:23] luigilink commented on #743
[code]

[2018-01-24 10:24] luigilink commented on #743
Add AllowAnonymous = $params.AllowAnonymous fix the problem during the test-targetresource

[2018-01-24 15:02] ykuijs commented on #725
Was working on fixing this issue. Unfortunately I am running into an issue:
Because the Name property of the SPWebApplication object is empty, Get-SPWebApplication is unable to retrieve the Central Admin web application by using the name. This can be resolved by using Where-Object { $_.DisplayName -eq $params.WebAppName }.

Get-SPAlternateUrl however has exactly the same issue. Unfortunately, the

[2018-01-24 19:07] ronx commented on #725
How about Get-SPAlternateUrl -WebApplication $webapp

Does that give you what you need?

[2018-01-24 19:20] rsganta commented on #731
testing 2019 builds

[2018-01-24 19:25] rsganta opened #744 "How to execute SPWebAppPeoplePickerSettings using 1.9.0.0"
SPWebAppPeoplePickerSettings is available in 2.0.0.0. However, I would like to compile my config with 1.9.0.0. For that , I have downloaded 2.0.0.0 and copied the SPWebAppPeoplePickerSettings  resource to 1.9.0.0 resources and compilation still fails.

Any other step to be executed ? Does this need to be in Azure too ?

[2018-01-24 20:22] ykuijs commented on #731
We do not support 2019 yet. The plan is to support it once SP2019 has gone RTM. So for now, this issue can't be fixed.

[2018-01-24 20:24] ykuijs commented on #744
Hi @rsganta, why not use 2.0?

[2018-01-24 20:25] ykuijs commented on #678
Closing the issue due to inactivity

[2018-01-24 20:25] #678 closed

[2018-01-24 20:26] ykuijs commented on #725
That is exactly what I was testing as well. First tests look promising!

[2018-01-24 21:07] rsganta commented on #744
I will after all break in changes to 1.9.0.0 gets fixed . But I am closing it now as I will try to add this resource to 1.9.0.0 and upload to azure.

[2018-01-24 21:07] #744 closed

[2018-01-25 11:31] shurick81 opened #745 "SPContentDatabase triggers machine reboot via DSC"
**Details of the scenario you try and problem that is occurring:**
We are trying to upgrade content databases from SP 2013 to SP 2016. Each upgraded database require reboot.

**The DSC configuration that is using the resource:**
[code]
**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows Server 2016, WMF 5.1
Azure environment

**Version of SharePoint that is u

[2018-01-25 17:27] ronx commented on #709
Just to reinforce the mindset that adding/removing to/from admins using the Group resource is NOT the way to go, DSC doesn't let us do this anyway. It throws an error when building the mof that a conflict exists between resources. ;)

Is it really such a bad thing to use CredSSP? Is the main concern eliminating dependencies or reducing security vulnerabilities? If security, maybe we could further

[2018-01-25 18:58] ykuijs commented on #709
The reason why we wanted to remove CredSSP is security, as described in this [article](www.powershellmagazine.com/2014/03/06/accidental-sabotage-beware-of-credssp/).

But the more I investigate this issue, the less options we seem to have. Depending on CredSSP looks like the only option we have.

[2018-01-25 20:11] ykuijs commented on #745
There is no code in SPContentDatabase that forces this reboot. I suspect that this might be triggered by Mount-SPContentDatabasse.

Does this also happen if you manually run Mount-SPContentDatabase?

[2018-01-25 20:14] ykuijs commented on #744
@rsganta FYI: We have fixed several issues that were introduced in 2.0. These will be formally released early Feb, but you can already download these by downloading everything from:
https://github.com/PowerShell/SharePointDsc/tree/dev/Modules/SharePointDsc
And using that to update the existing version of the v2.0 module

[2018-01-25 20:16] ykuijs commented on #743
Will include this fix in my next PR

[2018-01-26 20:02] NikCharlebois opened #746 "Windows Server 2016 Prereqs Major bug"
**Details of the scenario you try and problem that is occurring:**
This should be a great way of ending the week. During a client engagement of mine, we realized that there are two typos in the list of windows features prerequisites for Windows Server 2016:

1 - Web-Filering should be Web-Filtering (6th line)
2 - "Web-Net-Ext45Web-Asp-Net" (8th line) should be two features "Web-Net-Ext45", "Web-As

[2018-01-29 11:06] ykuijs commented on #746
Will fix this in my next PR

[2018-01-29 14:16] randomnote1 opened #747 "AzureEnvironmentBuilder: Allow user to select Azure Environment"
**Details of the scenario you try and problem that is occurring:**
The AzureEnvironmentBuilder module should allow the user to select which Azure environment to use. The list of Azure Environments can be obtained from `Get-AzureEnvironment`. The current environments are:

- AzureChinaCloud
- AzureCloud
- AzureGermanCloud
- AzureUSGovernment

**The DSC configuration that is using the resource:**
n/

[2018-01-30 08:47] shurick81 commented on #745
Thank you for your reply @ykuijs. When we run `Mount-SPContentDatabase` it does not reboot the machine.

[2018-01-30 09:03] lazda commented on #593
Here is my solution:
MSFT_SPProviderRealms.psm1:
[code]
MSFT_SPProviderRealms.schema.mof:

[code]

[2018-01-30 11:17] lazda commented on #641
Additionally, access levels are wrong in MSFT_SPServiceAppSecurityEntry ( from .mof: {"Change Permissions","Full Control", "Write", "Read"} )
Access level depends on ServiceApplication type.

for Administrators schould be:
Create Target Application
Delete Target Application
Manage Target Application
All Target Applications
Manage Profiles
Manage Audiences
Manage Permissions
Retrieve People Data fo

[2018-01-30 14:25] randomnote1 opened #749 "SQLServer.ps1 Configuration should be updated to use SqlServerDsc"
**Details of the scenario you try and problem that is occurring:**
The integration tests are still using xSQLServer 5.0.0.0 which is no longer supported. This should be updated to utilize SqlServerDsc 10.0.0.0 which is fully supported.

**The DSC configuration that is using the resource:**
[SQLServer.ps1](https://github.com/PowerShell/SharePointDsc/blob/release-2.0/Tests/Integration/Azure/DscConfi

[2018-01-30 20:29] ronx commented on #725
I think the problem here is that in the existing SPAlternateUrl resource, it has no way to tell if you want to add a new internal URL or edit the existing one. Can anyone think of a case where someone would want to add a new internal URL for Central Administration rather than changing the existing one? If not, we should be able to knock this out without introducing any breaking changes.

[2018-01-31 12:29] luigilink opened #751 "SPWebAppAuthentication resource cannot configure multiple authentication provider on a same zone"
**Details of the scenario you try and problem that is occurring:**
SPWebAppAuthentication resource cannot configure multiple authentication provider on a same zone.
Or it's possible with the Cmdlet Set-SPWebApplication and the parameter -AuthenticationProvider
Defines the authentication **provider(s)** that applies to the Web application.

**The DSC configuration that is using the resource:**
SPWe

[2018-01-31 19:16] shurick81 commented on #745
Hi. I also checked with this script https://gallery.technet.microsoft.com/scriptcenter/Get-PendingReboot-Query-bdb79542 and it shows the following output after I mount via traditional PS:

[code]

[2018-02-01 22:34] NikCharlebois opened #752 "SPSecureStoreServiceApp Issue in Get-TargetResource"
**Details of the scenario you try and problem that is occurring:**
The Get-TargetResource function returns a property named:

 AuditEnabled           = $auditEnabled

When it should be **"AuditingEnabled**.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Win2016/WMF 5.1

**Version of SharePoint that is u

[2018-02-04 11:15] Tpaquot opened #755 "Still can't figure out how tomake the search working"
Hello,

I am running SharepointDSC 2.0.0.0 on a windows 2012r2 with Powershell 5.1
I started with the example provided with the module (single server), fine for me.
If I run this, I have a search service, but it gives no result
I'd like a basic search that has everything on the same server and that has is index on another drive
Si I tried using

SPSearchIndexPartition SPI
        {
            Ser

[2018-02-04 11:51] andikrueger commented on #755
Your search topology looks fine. Are there any errors in the Event logs when you provision the search?

I provision the search by using the following resources in order:

- SPSearchServiceApp
- SPSearchTopology
- SPServiceInstance (to provision the search service application on that server)

[2018-02-04 16:05] Tpaquot commented on #755
I spent the 4 hours to test.
I works !
Many Thanks Andi !

[2018-02-05 12:39] NikCharlebois opened #756 "Issue with NTLM or Kerberos in SPWebAppAuthentication"
**Details of the scenario you try and problem that is occurring:**
The following config should be valid:
SPWebAppAuthentication "$($webAppInternalName)Authentication"
                {
                    WebAppUrl = $webApp.Url
                    Default = @(
                        MSFT_SPWebAppAuthenticationMode {
                            AuthenticationMethod = "NTLM

[2018-02-05 12:44] NikCharlebois commented on #756
Looks like it is already fixed in the latest commits

[2018-02-05 12:44] #756 closed

[2018-02-05 13:37] ykuijs commented on #752
Fixed via PR #753

[2018-02-05 13:37] #752 closed

[2018-02-05 13:39] #747 closed

[2018-02-05 14:19] ykuijs commented on #755
Hi @Tpaquot, looks like your issue is resolved. Can we close the issue?

[2018-02-05 14:20] Tpaquot commented on #755
Yes it is …
Thanks

Thierry

From: Yorick Kuijs [mailto:notifications@github.com]
Sent: Monday, 5 February 2018 15:19
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Paquot Thierry <thierry.paquot@federale.be>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/SharePointDsc] Still can't figure out how tomake the search working (#755)

Hi @Tpaquot<https://github.com/

[2018-02-05 15:01] ykuijs commented on #725
Just submitted a PR which implements the possibility to change the Central Admin URL's. We need to extend this a little more, but wanted to release the PR for the v2.1 release.

Also:
When not using the Set-SPCentralAdministration cmdlet, the link to the CA site in the registry is not updated. This can be solved by using the Registry resource, but that needs to be done for all servers in the farm

[2018-02-05 15:25] ronx commented on #725
Regarding the link to the CA site in the registry, I tested and Set-SPAlternateUrl also updates the registry. It seems to have the same effect as Set-SPCentralAdministration, except it doesn't touch IIS. It executes much faster than Set-SPCentralAdministration, so I'm guessing it's the IIS part that makes Set-SPCentralAdministration take so long.

In my fork that has the CA-specific handling, when

[2018-02-05 18:14] NikCharlebois commented on #709
It appears that our only option (if we keep CredSSP out of the loop), is to let the Set-TargetResource function of the SPUserProfileServiceApp would need addition logic to handle the following flow:

- Add the farm account to local group
- Provision the Service App
- Remove the farm account from the local group

This way, we would not have any conflicting resource blocks, and the Test-TargetResour

[2018-02-05 18:32] NikCharlebois commented on #709
Actually, to add to my point, a colleague just pointed out to me that we are doing the same thing in the SPUserProfileSyncService resource. We call Add-SPDSCUserToLocalAdmin, start the service and then call Remove-SPDSCUserToLocalAdmin once everything has been provisioned. We should be reusing the same logic here.

[2018-02-05 19:57] randomnote1 opened #759 "Update Wiki to Reflect the Use of SqlServerDsc"
**Details of the scenario you try and problem that is occurring:**
I am attempting to update the Wiki to reflect the changes made to the lab build. [Here is my updated branch](https://github.com/randomnote1/SharePointDsc/wiki/Creating%20an%20Azure%20development%20environment).

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Targe

[2018-02-05 20:31] ykuijs commented on #746
Close via PR #757

[2018-02-05 20:31] #746 closed

[2018-02-05 20:32] ykuijs commented on #743
Close via PR #757

[2018-02-05 20:32] #743 closed

[2018-02-05 20:32] ykuijs commented on #739
Close via PR #757

[2018-02-05 20:32] #739 closed

[2018-02-05 20:32] ykuijs commented on #732
Close via PR #757

[2018-02-05 20:32] #732 closed

[2018-02-05 20:32] #755 closed

[2018-02-05 20:40] ykuijs commented on #709
We have two issues with this solution:
1. When the Farm account isn't local admin, it cannot add itself to the local administrators group since it does not have the permissions to do so.
2. When you change permissions of an account, you need to login again. If we find another way to add the farm account to the local administrators group from inside the resource, the code still isn't able to provis

[2018-02-05 20:46] #731 closed

[2018-02-05 20:53] ykuijs commented on #759
Moved over your changed to the article in the repo. Thanks for you contribution!

[2018-02-05 20:53] #759 closed

[2018-02-06 00:44] NikCharlebois opened #760 "SPMinRoleCompliance function Get-SPDscRoleTestMethod needs to be Exported"
**Details of the scenario you try and problem that is occurring:**
The SPMinRoleCompliance resource is only exporting *-TargetResource functions, however it also needs to export the Get-SPDscRoleTestMethod method.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Win 2016/WMF 5.1

**Version of SharePoint t

[2018-02-06 08:26] ykuijs commented on #760
Hi @NikCharlebois What is the reason that this method also needs to be exported??

[2018-02-06 11:28] NikCharlebois commented on #760
Set-TargetResource is calling it from within the Invoke-SPDSCCommand block, which at that point requires the function to be exposed publicly. We ran into several issues in the SPOA if the function is not exposed.

[2018-02-06 12:07] ykuijs commented on #760
Closed via PR #761

[2018-02-06 12:07] #760 closed

[2018-02-06 12:22] NikCharlebois commented on #709
@ykuijs

1. Can't we use PsDscRunAsCredential = SP_Setup to add the Farm admin to the local admin group? the setup account should already be a local admin at that point, no?

2 - Wouldn't calling into a separate Invoke-SPDSCCommand script block pick up the new permissions without having to log out/on? How are we doing it in the User Profile Sync Service?

Thanks

[2018-02-06 14:05] ykuijs commented on #751
Hi @luigilink I just tested this and it works fine on my environment. What exactly is happening on your end? Do you get an error message?

[2018-02-06 14:05] ykuijs commented on #749
Implemented in PR #758. Closing issue

[2018-02-06 14:05] #749 closed

[2018-02-06 14:21] ykuijs commented on #745
@shurick81 Are you 100% sure the SPContentDatabase triggers the reboots? There is no code in SPContentDatabase that triggers a reboot, so I have no clue where this is coming from. Have you also tested with v2.0?

[2018-02-06 16:54] ronx commented on #709
@NikCharlebois I could certainly be wrong, but on first glance, it looks to me like the difference is that the sync service doesn't try to run any process AS the farm account. Instead, it looks up the farm account name and password and passes those values to $ups.SetSynchronizationMachine where $ups is the object returned from Get-SPServiceApplication. So the DSC module isn't trying to create a ne

[2018-02-07 14:21] ykuijs commented on #709
The Sync Service resource does two things:
1. It runs as the Farm Account to create the Sync service. It is using the InstallAccount or PsDscRunAsCredential for that.
2. It uses the credentials in the FarmAccount parameter to configure the service application. We had to use the FarmAccount parameter, because when you use PsDscRunAsCredential there is no way to retrieve the password from code unfor

[2018-02-07 15:05] wfeaser opened #764 "SPManagedMetaDataServiceApp resource fails when setting Content Type Hub URL"
The SPManagedMetaDataServiceApp resource fails when attempting to set a content type hub URL on an existing MMS instance that was created without a content type hub URL.  There is logic in the Set-TargetResource function that attempts to compare the CT hub URL that was provided as a parameter to the current CT hub URL.  As part of this operation, a "TrimEnd()" is attempted.  This fails when the ex

[2018-02-07 19:46] andikrueger opened #765 "SPFarm: Start-DscConfiguration simultaneously on several servers fails"
**Details of the scenario you try and problem that is occurring:**
I'm currently using SharePoint DSC in a multi server environment (SP05, SP06).

I start the DSC configuration with the following command:

`Start-DscConfiguration -Verbose -Wait -Path <dir with mof files>`

The directory with the mof files contains one for SP05 and one for SP06.
The configurations steps prior to SPFarm are very sim

[2018-02-07 19:48] ykuijs commented on #764
Will be included in my next Bugfix PR

[2018-02-09 09:49] avishnyakov commented on #592
Ouch.. okay. Single-farm-testing scenario, well, we can live with that :)

[2018-02-09 20:58] wickedave opened #766 "SPUserProfileSyncConnection cannot set filter"
I'm setting a User Profile Sync connection but I don't have the option to setup the LDAP filter. When you are setting the connection from the Central Admin, we have a field for the filter.

Version of the Operating System and PowerShell the DSC Target Node is running: Windows Server 2016
Version of SharePoint: SharePoint 2016
Version of the DSC module you're using: 2.1.0.0

[2018-02-09 21:05] NikCharlebois commented on #766
@wickedave $IncludedOUs should allow you to specify your LDAP query

[2018-02-12 14:55] wickedave commented on #766
@NikCharlebois
I'm not sure what the syntax should be in this case. In our scenario, I need to exclude users with specific employeeNumber and where title is not empty. I'm not sure it will fit for $IncludedOUs purpose.

[2018-02-14 13:54] ykuijs commented on #725
Additional improvements are implemented in PR #767

[2018-02-14 16:23] shurick81 commented on #745
Hello @ykuijs, I'm not really sure how to make sure 100% :).
What I see is this:
[code]

I tried out with 1.9 and now just checked that I have the same with 2.1

[2018-02-14 16:57] egor-yudkin commented on #644
This one didn't make it to release, but from the discussion it should. Can anyone more knowledgeable of github issue tracker than myself check this?

[2018-02-14 19:26] egor-yudkin opened #768 "MSFT_SPFarmAdministrators MembersToExclude and MembersToInclude parameters are case-sensitive"
**Details of the scenario you try and problem that is occurring:**

I was trying to use SPFarmAdministrators resource to remove built-in Administrators group from farm admins. And I was not able to do it because I was copying the group name from the Farm Administrators list. But when I changed the "A"->"a" in "BUILTIN\Administrators" parameter of configuration script, it began to work. This is wha

[2018-02-14 20:32] ykuijs commented on #725
Final fixed merged into dev via PR #767

[2018-02-14 20:32] #725 closed

[2018-02-14 20:36] ykuijs commented on #768
Great catch! They all have to be case insensitive.

Will fix this in the bugfix PR I am working on

[2018-02-14 20:47] ykuijs commented on #745
Ok, this really helped. I found where the reboot is coming from:
The message "Detected an update conflict, restarting server to allow DSC to resume and retry" can be found in the our helper module. This is generated when an update conflict is detected and to prevent issues the reboot is triggered.

After mounting the database, the code is trying to update the status of the database. I suspect that

[2018-02-14 20:51] ykuijs commented on #745
Better yet, can you try to update the SPContentDatabase module as follows:

Update line 315:
[code]

with

[code]

on all servers and then try again?

[2018-02-16 12:27] NikCharlebois commented on #650
@ronx , can we close this one?

[2018-02-16 12:29] NikCharlebois commented on #766
It should be able to handle traditional LDAP queries. If you can build your query and test it out (use PowerShell to test it against your AD), then it should work and only select the proper users.

[2018-02-16 12:32] NikCharlebois commented on #489
@ykuijs we should most likely close that one. I've not been able to replicate it with any of the latest builds.

[2018-02-16 18:15] NikCharlebois commented on #551
@larbre there have been major changes to that resource with the 2.1.0.0 release. Are you still experiencing the issue with the latest versions?

[2018-02-16 23:16] MikeLacher448 commented on #765
have you verified that any databases were created on the SQL server?

[2018-02-17 11:29] andikrueger commented on #765
Yes, I did. Running the configuration a second time helped. The farm got created finde afterwards. I will try to reproduce this issue again.

[2018-02-17 20:25] ykuijs commented on #489
Agree, also since we didn't a reply on the last ask for a statusupdate from @tonyhxh.

Please reopen the issue if the issue still occurs.

[2018-02-17 20:25] #489 closed

[2018-02-17 20:32] ykuijs commented on #644
Hi @egor-yudkin, what makes you think that this one didn't make it to release. PR 660 fixed the issue and the current version (v2.1) has the possibility to specify a WebAppUrl parameter. Check out the [Wiki](https://github.com/PowerShell/SharePointDsc/wiki/SPTimerJobState) for more info.

[2018-02-19 17:10] shurick81 opened #770 "MySiteHostLocation and MySiteManagedPath"
**Details of the scenario you try and problem that is occurring:**
I need to configure different `-MySiteHostLocation` and `-MySiteManagedPath`, like it's possible via https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/Set-SPProfileServiceApplication?view=sharepoint-ps

![image](https://user-images.githubusercontent.com/11289124/36388751-f7472210-15ad-11e8-81de-650d249c0bbb.png)

[2018-02-20 12:53] andikrueger opened #771 "Discussion: Breaking Change: SPWebApp... parameters are not consistent: WebAppUrl vs. Url vs. WebApplication"
**Details of the scenario you try and problem that is occurring:**
In a recent customer engagement I stumbled about some inconsistency about the naming of the WebAppUrl, URL and WebApplication parameter in the SPWebApp... Resources.

The WebAppUrl, Url or WebApplication are parameter (keys) for these resources:

Resource | WebAppUrl | Url | WebApplication
----- | ----- | ----- | ------
MSFT_SPWebA

[2018-02-20 13:02] NikCharlebois commented on #771
@andikrueger As you pointed out, this would definitively be a breaking change. The best we can really do, is duplicate some of the params, deprecate the original ones, and when 3.0 comes out, then introduce the breaking changes. I am just not convinced that this would be worth the effort though.

I understand that the SQLServer team went through the exercise, but we've been a little more on the co

[2018-02-20 15:37] andikrueger commented on #771
I'm uncertain about the effort too - There are way to many parameters that need to be changed and the change would be more cosmetics, than really necessary.
Maybe we could stick with  the current mix, but should find a commitment which of the three current parameters is the one for new SPWebApp... resources.

[2018-02-20 16:39] ronx commented on #650
@NikCharlebois I haven't had a chance to test it. I can go ahead and close it for now and reopen if I run into it again.

[2018-02-20 16:39] #650 closed

[2018-02-21 12:18] andikrueger commented on #679
Today I spent some time analyzing two SharePoint 2016 patches, that are not needed on my system. I did the following:

- Compared procom traces of both setups.
- Checked the opatchinstall.log files
- the XML file corresponding to a patch
- tried to understand the logic that is used.

What are my findings with the following file: sts2016-kb4011217-fullfile-x64-glb.exe

1. Double Click the .exe
2. A

[2018-02-22 15:02] rbraun95 commented on #229
@BrianFarnhill, @tonyhxh Are there any SP2019 versions  of MSFT_SPInstallPrereqs.psm1 and MSFT_SPInstallPrereqs.schema?  The TAP bits have DotNet47 instead of DotNetFx for the prereq installer argument list.

[2018-02-22 16:14] rbraun95 commented on #229
Understood.  I will remove my comment for now.

[2018-02-23 19:24] wickedave opened #772 "SPVisioServiceApp is not creating the proxy"
Hi,

I'm trying to configure the Visio Service application and it looks like the service application proxy is not getting created. I don't know if it is just me or if it is really a bug.

Here is part of the error in the log:
[code]

The timer job info is:
`An update conflict has occurred, and you must re-try this action. The object VisioGraphicsServiceApplication Name=Lab-Visio-01 was updated by

[2018-02-23 19:51] wickedave commented on #772
I just did another test and the error is now
`Unable to find the Visio Graphics Service Application with name VisioGraphicsServiceApplication Name=Lab-Visio-01`

It's like the proxy is starting to be created before service application is fully created. When looking at the service application, I can see the Visio Service application without a proxy.

[2018-02-23 19:56] NikCharlebois commented on #772
@wickedave I am getting the same issue. Currently investigating the source

[2018-02-23 20:02] NikCharlebois commented on #772
Looks like the name is not properly passed to the New-SPVisioServiceApplicationProxy cmdlet internally. This issue was most likely introduced back in 1.6.0.0 when we changed the way we created proxy. It will be fixed in my next PR. Thanks

[2018-02-23 21:44] andikrueger commented on #679
Following my last post, I will start to investigate if the patch version wich is going to be applied can be obtained from the .exe file information. If so, and if this version number matches each of the contained patches, we would be able to determine if an update is necessary or not, by just comparing the version against the version in the registry.

The thing I did not verify yet: what about lan

[2018-02-24 14:11] andikrueger commented on #679
Linking  #708 to this issue.

[2018-02-24 15:12] andikrueger commented on #679
I did some more testing to verify my previous post.

The Farms latest patch is the Januar CU 2018 (16.0.4639.1002). Today I installed the Feb 2018 CU. In the following screenshot are some more details on how the patch installer verifies if the patch is installed:
![image](https://user-images.githubusercontent.com/15608729/36631470-9aaf1afc-1978-11e8-8597-2dc4a3e7e09e.png)

1. The product code
2. T

[2018-02-26 20:10] wickedave opened #774 "SPUserProfileSyncConnection SSL issue"
Hi,

I'm trying to configure an Active Directory Sync connection with SPUserProfileSyncConnection resource. I don't have any problem if I'm not using SSL but if I set the UseSSL parameter to true, I'm getting the error:

`The LDAP server is unavailable.`

I'm trying with SharePoint 2016 on Windows Server 2016 with the SharePointDSC module version 2.1.0.0

[2018-02-27 16:14] ykuijs commented on #745
@shurick81 Were you able to test the suggested update? If so I can add this to my next PR!

[2018-02-28 16:46] shurick81 commented on #745
Hi, not really, we implemented it via invoking Mount command in powershell script and I didn't check your proposal, sorry.

[2018-03-01 09:47] ykuijs commented on #745
No worries, I just submitted the PR with this fix anyways.

[2018-03-01 19:57] ykuijs commented on #771
These aren't the only resources that require the web application url:

Resource | WebAppUrl | Url | WebApplication
----- | ----- | ----- | ------
SPAppStoreSettings | x | - | -
SPBlobCacheSettings | x | - | -
SPCacheAccounts | x | - | -
SPContentDatabase | x | - | -
SPDesignerSettings | - | x | -
SPFarmSolution | - | - | x (WebApplications)
SPManagedPath | x | - | -
SPOutgoingEmailSettings | x | -

[2018-03-02 13:17] andikrueger commented on #679
Currently there is still one big challenge left. For SharePoint 2016 there are 49 Language Packs and therefor we would have to know every product guid to find the right registry keys.
By now I was not able to find a way on how we could determine the right registry keys. I see the following ways to solve this shortcoming:
1. Something in brute force style: @NikCharlebois has something in the ShareP

[2018-03-02 15:32] NikCharlebois commented on #679
@andikrueger Great job on this by the way buddy! I tend to prefer option 1 as well, however we need to build an approach that will also support whatever comes out for SP2019 at this stage of the game. We do have a commitment to support SP2019 from Day 1. I do believe the GUID format will remain the same for the 2019 wave, but it's something we will have to verify internally first. So in the meanti

[2018-03-05 07:43] ykuijs commented on #772
Closed via PR #772

[2018-03-05 07:43] #772 closed

[2018-03-06 09:19] ChristophHannappel opened #776 "SPTimerJobState can not be used for Farm Global Timer Jobs"
**Details of the scenario you try and problem that is occurring:**
Tried to disable the "App State Update" Timer Job with the SPTimerJobState ressource.

The Timerjob is bound to the Farm level and has the following properties:
Displayname: App State Update
Name: job-spapp-statequery
Typename: Microsoft.SharePoint.Administration.SPAppStateQueryJobDefinition
Webapplication: <empty>

Since the resso

[2018-03-06 13:08] ykuijs commented on #776
You have to specify "N/A" if it is a global job. This is also specified in the [Wiki page](https://github.com/PowerShell/SharePointDsc/wiki/SPTimerJobState) of the resource, but I see how this can be confusing. Will update the description to make it more clear.

[2018-03-08 20:58] IlleNilsson opened #777 "How far I've got - just leaving a sample"
Setting up sub site collections without "sites" , is bugging me,

Version of the Operating System and PowerShell the DSC Target Node is running:": All the latest of today

Version of SharePoint that is used SharePoint 2016 sp1

As of today the latest pubic available

I'm new to git, how do I leave a script sample with my issue.

By the way, I appreciate all they work.

Found it, att the bottom :)

[2018-03-08 21:12] NikCharlebois commented on #777
Can you please elaborate on what the error is? Are you getting errors creating SPWeb objects?

[2018-03-08 21:21] IlleNilsson commented on #777
Hi Nik,

The failure is  "site collection could not be created as the provided hostheader managed path does not exist"

I guess it has to do with the available sub site/collection available intermediate naming like "sites". But I don't want sites to be in my url.

Do you se any FU's in my script please let me know.

I'm liking your work, WaitForAll is great in this scenario. That is PSDSC not your

[2018-03-09 01:12] NikCharlebois commented on #777
Based on your files, it looks like you are trying to create a Site Collection at:
http://sif:82/docs
However, in order for you to be able to achieve this, you will need a HostName Explicit Managed Path. You can use the following to accomplish this and have the SPSite block DepnedSOn it

SPManagedPath DocsImplicit
{
    WebAppUrl = "$($webApplication.Url):$($webApplication.Port)"
    RelativeUrl =

[2018-03-09 12:35] andikrueger commented on #223
I would recommend to use a shorter name. The SqlServerDsc guys did have issues with resources with names too long in Azure Automation DSC.

I would suggest the following name for the resource: SPRSSerivceApp - This follows the [naming conventions](https://github.com/PowerShell/SqlServerDsc/issues/851) the SQL guys created.

[2018-03-09 13:20] andikrueger opened #778 "SPFarmAdministrators: This resource can be used multiple times in a configuration"
**Details of the scenario you try and problem that is occurring:**
The key "Name" of the SPFarmAdministrators resource can be unique and therefor allows this resource to be used multiple times - which is not best practices.

The parameter "Name" should be changed to something with a validate set, which only allows one name. e.g.: https://github.com/PowerShell/SharePointDsc/blob/09256aca5e81fa01ef4

[2018-03-09 16:41] ChristophHannappel commented on #776
Hey, thank you for the explanation. Now it works as expected.

[2018-03-09 16:41] #776 closed

[2018-03-09 16:50] ChristophHannappel opened #779 "[SPManagedMetaDataServiceAppDefault] Test-TargetResource querys for a non existent Type Name and fails"
**Details of the scenario you try and problem that is occurring:**
I'm trying to set the Managed Metadata Service Application Proxy settings.
The DSC Configuration fails with the error:

I took a look at "SharePointDsc/Modules/SharePointDsc/DSCResources/MSFT_SPManagedMetadataServiceAppDefault/MSFT_SPManagedMetadataServiceAppDefault.psm1"
on line 41 a filter tries to find a Service Application Prox

[2018-03-09 18:45] andikrueger commented on #779
I ran a quick test and there is something confusing:
[code]

There is a `Managed Metadata Service Connection` - this will be returned for TypeName. The used call to `GetType().FullName` returns `Microsoft.SharePoint.Taxonomy.MetadataWebServiceApplicationProxy`.

I will submit a PR to fix this issue.

[2018-03-10 08:22] ykuijs commented on #778
I think we should implement this consistent across all resources. Unfortunately DSC does not implement anything to enforce this, but like you say we can use a validateset as described in: https://docs.microsoft.com/en-us/powershell/dsc/singleinstance

SPDiagnosticSettings and probably others have the same issue. This is a breaking change, so will have to wait for v3.

_____________________________

[2018-03-12 09:49] andikrueger commented on #765
I ran several tests by now and was not able to reproduce this issue. I will close this issue. If the problem occurs again, I will reopen it.

[2018-03-12 14:29] #779 closed

[2018-03-13 14:54] ykuijs commented on #745
Closed via PR #775

[2018-03-13 14:54] #745 closed

[2018-03-13 14:54] ykuijs commented on #764
Closed via PR #775

[2018-03-13 14:54] #764 closed

[2018-03-13 14:54] ykuijs commented on #768
Closed via PR #775

[2018-03-13 14:54] #768 closed

[2018-03-13 14:54] ykuijs commented on #709
Closed via PR #775

[2018-03-13 14:54] #709 closed

[2018-03-13 14:55] ykuijs commented on #776
Included in PR #775

[2018-03-14 11:15] JeanNetryValere opened #781 "SPFarm create farm: Execution Timeout Expired"
Hi,
I have the following error executing SPFarm:
_PowerShell DSC resource MSFT_SPFarm  failed to execute Set-TargetResource functionality with error message: Exception calling "ExecuteNonQuery" with "0"
argument(s): "Execution Timeout Expired.  The timeout period elapsed prior to completion of the operation or the server is not responding."
    + CategoryInfo          : InvalidOperation: (:) [], C

[2018-03-14 19:01] andikrueger commented on #781
Are there any errors in the Event Logs correlated to this dsc configuration?

Is this issue reproducible? Could you try to apply the configuration a second time and  post the outcome. If the error persists: Which SharePointDsc Version are you using and are you able to start the configuration wizard and connect to your database server?

[2018-03-15 08:15] JeanNetryValere commented on #781
Hi andikrueger,
Yes i reproduced the error a couple of times, and the Wizard was contacting the database (steps pushed to the finish). But i figured it out by using the machine FQDN. I was using mahine aliases (except for the database: SQL Alias) provided by the DC admin (i don't know the type). When i change them (Small farm) the farm has been created.

[2018-03-15 08:22] andikrueger commented on #781
Good to hear, that you were able to create the farm.

[2018-03-15 09:19] ykuijs commented on #778
I did a quick check of all resources which maybe also should only have one instance in each config:
SPAntivirusSettings
SPDiagnosticLoggingSettings
SPInfoPathFormsServiceConfig
SPPasswordChangeSettings
SPSecurityTokenServiceConfig

And potentially also:
SPMinRoleCompliance

What do you think?

[2018-03-15 09:22] ykuijs commented on #584
Closing due to lack of response of the creator. Please reopen if the issue still occurs

[2018-03-15 09:22] #584 closed

[2018-03-15 09:27] ykuijs commented on #751
@luigilink Do you still encounter this issue? And have you tested with v2.1 which also contains a fix in SPWebAppAuthentication?

[2018-03-15 09:49] JeanNetryValere commented on #781
Yes me too, you can close this issue. There is maybe something to dig around alias usage, but this issue is not linked to SPFarm i guess.

[2018-03-15 12:08] #781 closed

[2018-03-15 12:11] ykuijs commented on #505
Closed via PR #769

[2018-03-15 12:11] #505 closed

[2018-03-16 01:45] ronx opened #782 "SPFarm resource should be able to recreate a deleted CentralAdmin"
**Details of the scenario you try and problem that is occurring:**
After initial provisioning, delivery resource was having problems with central admin and deleted the CA site from IIS. Re-running the DSC, SPFarm's Test-TargetResource returned true, so it skipped Set-TargetResource. Looking at the code, it seems the test function is only checking for the Ensure param and not doing further testing

[2018-03-16 07:16] andikrueger commented on #778
I think I found some more resource, that could need an update. I was very cautious with my choices of the following resources. Please find more details in the table below.
I included the resources you pointed out as well as any resources that implements IsSingleInstance properly.

SPInstall and SPInstallPreqs made it into the list as well. They should also only be used once per node.

All resource

[2018-03-16 10:22] Bjorn80 opened #783 "SPWebApplication kerberos"
**Details of the scenario you try and problem that is occurring:**
create a web application with Kerberos in sharepoint 2016

The cmd new-spwebapplication supports parameter -AuthenticationMethod
The DSCresource SPWebApplication does not.

I would like to create my web application with kerberos AuthenticationMethod .
Any suggestions?

**The DSC configuration that is using the resource:**
        S

[2018-03-16 10:52] NikCharlebois commented on #783
Hi @Bjorn80 the resource does handle Kerberos. Please refer to the wiki for more details. Here is an example of how you can achieve this. You do need to leverage the new SPWebAppAuthentication resource though:

SPWebApplication MySiteWebApplication
    {
        Name = "MySite WebApplication"
        Ensure = "Present"
        ApplicationPool = "MySiteAppPool"
        ApplicationPoolAccount = $Con

[2018-03-16 13:16] Bjorn80 commented on #783
@NikCharlebois

I see, thank you very much!
Works like a charm!

brgs

Bjørn Roalkvam

[2018-03-16 13:16] #783 closed

[2018-03-20 10:13] ykuijs commented on #777
Hi @IlleNilsson, does the answer of Nik solve your question? If so, could you please close the issue? Thanks!

[2018-03-20 10:16] IlleNilsson commented on #777
Yes it did, sorry for the delay. Answer was much appriciated

[2018-03-20 10:16] #777 closed

[2018-03-21 11:30] andikrueger opened #786 "SPDistributedCacheService - Resource takes to long and does not complete correctly"
Using the SPDistributedCacheService instance to provision a Distributed Cache on a server takes way to long and does not complete correctly. The service instance is stuck in the unprovisioning state after the resource is run.

After a quick look into the resource I came across this command:
https://github.com/PowerShell/SharePointDsc/blob/4e9e1216da0412ac206889729e8f791bb51b79f5/Modules/SharePoint

[2018-03-23 12:51] NikCharlebois commented on #551
@ykuijs I recomend we close this since we did not hear back from @larbre . As mentionned, there has been major refactoring of that resources in the last few versions to address this specific issue.

[2018-03-23 14:41] NikCharlebois commented on #770
Even though we allow for MySiteHostLocation to be passed as a param, the Set-TargetResource never does anything with it. I will fix, add support for the managed path and submit a PR

[2018-03-23 20:34] shurick81 commented on #571
Was something fixed regarding "Parameter LimitServerHops is not valid for website content sources"?
I'm running on 2.2 version and still getting the error.

[code]

[2018-03-25 09:02] shurick81 opened #788 "SPSearchCrawlerImpactRule returns "Object <site> not found""
**Details of the scenario you try and problem that is occurring:**
I am trying to set up an impact rule and get an error:
[code]

**The DSC configuration that is using the resource:**
[code]
**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows Server 2016
WMF 5.1
**Version of SharePoint that is used (e.g. SharePoint 2016):**
SharePoint 2016
**Version of the DS

[2018-03-25 19:37] Bjorn80 opened #789 "Degraded SharePoint 2016 search index partition on every setup"
**Details of the scenario you try and problem that is occurring:**

Getting the dreaded degraded partition index (yellow triangle) when viewing the Search service application screen though central administration.

my workaround fixes it every time:
Add-PSSnapin microsoft.sharepoint.powershell
$ssa = Get-SPEnterpriseSearchServiceApplication
$Status = (Get-SPEnterpriseSearchStatus -SearchApplication

[2018-03-26 12:00] Bjorn80 commented on #789
[bool] Test()
    {
        $There = $false
        $result = Invoke-SPDSCCommand -ScriptBlock {
            try
            {
                $ssa = Get-SPEnterpriseSearchServiceApplication
                $Status = (Get-SPEnterpriseSearchStatus -SearchApplication $ssa | ? {$_.Name -eq "IndexComponent1"}).state
            }
            catch
            {
                Write-Verbose -Message "

[2018-03-26 12:00] #789 closed

[2018-03-27 07:40] ykuijs commented on #770
Closed via PR #787

[2018-03-27 07:40] #770 closed

[2018-03-27 13:11] matthorgan opened #790 "SPVisioServiceApp errors with ''New-SPVisioServiceApplication' is not recognized as the name of a cmdlet'"
**Details of the scenario you try and problem that is occurring:**

Using the SPVisioServiceApp resource, the DSC configuration errors during Set-TargetResource with the following 'The term 'New-SPVisioServiceApplication' is not recognized as the name of a cmdlet'. This is also happening with the SPExcelServiceApp resource. I believe this is the same as #372

The error only occurs initially - in s

[2018-03-27 14:56] wickedave commented on #766
I noticed that with useSSL parameter, the connection to LDAP is not working.

[2018-03-28 13:29] matthorgan commented on #790
On further testing, I have noticed the following:

## Test 1 - This produces a successful build with no errors:
1. Comment out the Visio/Excel resources from the script and run the SharePoint configuration.
1. Uncomment the Visio/Excel resources and run the configuration again

## Test 2 - This errors but only the first time the resources are executed:
1. Leave the Visio/Excel resources uncommente

[2018-03-28 21:50] NikCharlebois opened #791 "SPTimerJobState - 2 Service Applications throws errors"
**Details of the scenario you try and problem that is occurring:**
The changes we made in 2.0.0.0 for the SPTimerJobState resource has logic to throw an error the moment a timer Job, with a Web Application Url of "N/A" (no specific Web App) has more than one instance. A customer of mine has two User Profile Service Application, which actually generates two instances of the "Service principal de pr

[2018-03-29 07:22] ykuijs commented on #790
Hi @matthorgan This might be a timing issue indeed. Does your config implement dependencies, so having the provisioning of SharePoint components (service apps, web apps, etc) depend on the creation of the farm?

If not, can you test if this issue also occurs when you implement that?

At the same time:
The resource currently does not contain a check to see if the farm exists. It would be good to ad

[2018-03-29 08:30] ykuijs commented on #593
Closed via PR #754

[2018-03-29 08:30] #593 closed

[2018-03-29 14:07] matthorgan commented on #790
Hi @ykuijs, unfortunately, the config already has dependencies set. Here is an extract from the configuration showing the 'DependsOn' chain for the resource :

[code]

[2018-03-29 14:59] shurick81 commented on #788
Thank you @andikrueger,

Actually, I have replaced this resource with following script and it worked well:

[code]

So the command you were referring worked well.
And therefore it's a bit strange to figure out that the parameter should be GUID.

[2018-03-29 16:36] andikrueger commented on #790
Could you try to add an additional dependency for the application pool 'SPS_App_Pool' resource? Maybe the pool is not available.

[2018-03-29 16:38] andikrueger commented on #788
@shurick81 Good to hear!

Does the resource still return an error if you are using a GUID for the parameter  `Identity`?

[2018-03-29 17:04] NikCharlebois commented on #791
FWIW - I can replicate the issue. Deploying the Word Automation Service App does create a new timer job with name **Word Automation Services Timer Job**, I do see it in the list when I do Get-SPTimerJob, but can't get to it by doing Get-SPTimerJob -Type "Word Automation Services Timer Job"

[2018-03-29 19:00] egor-yudkin commented on #644
Hi @ykuijs, sorry for the confusion, I was talking about WebAppUrl becoming an array, which you said will be implemented in 2.0

[2018-03-30 15:56] matthorgan commented on #790
That's a fair point @andikrueger. I added the resource pool dependcy to the SPVisioServiceApp but ran into the same issue with the error message `The term 'New-SPVisioServiceApplication' is not recognized as the name of a cmdlet`.

[2018-03-30 17:04] andikrueger commented on #790
Thank you for your feedback @matthorgan.

Your error suggest, that there could be something wrong with `Invoke-SPDSCCommand`. This function is used load the SharePoint Snap-in and to execute the command as the PsDscRunAsCredential Account. But, an error with this function seems to be very unlikely.

Currently I can think of the following options to get more details on this error:

1. Could you che

[2018-03-30 18:09] ronx commented on #765
FWIW, I've hit this same issue twice in a row in my Azure lab while testing the PLA build. Stopping the config and force starting again gives a verbose message saying that another process is still provisioning the config database and then it continues fine. Workaround seems easy enough, but we should probably keep this on the radar for further investigation.

[2018-03-30 18:11] ronx commented on #765
BTW, since I reopened, I'm happy to take some accountability for helping reproduce and test it.

[2018-03-30 18:48] andikrueger commented on #765
I saw this issue in an Azure Lab too. Maybe this is correlated. Never happend to me before in any on-premises environment.

Are you still having the verbose logs for the failing configuration? I think the join farm operation might happen the same time the configuration DB creation process is still ongoing. This would match the error message I saw:
[code]

[2018-03-30 21:17] ronx commented on #765
I don't have the log output unfortunately, but I'm sure I can recreate it if needed after this round of testing. It was the same as what you pasted above though. And yes, I agree with you about it being a timing issue. Looking at the code, all non-CA servers will keep trying to join the farm every 60 seconds for 15 minutes. It does this by calling Connect-SPConfigurationDatabase. I'm guessing that

[2018-03-31 11:42] andikrueger commented on #765
That's a good idea! We could also add the parameter "ErrorVariable". When we are seeing the error message above, we can change the behaviour of the resource, so that we wait for the farm creation.

I have doubts, when we only use error action to get terminating errors. I don't know what other non-terminating errors are produced by this cmdlet.

[2018-03-31 15:06] matthorgan commented on #790
Hi @andikrueger,

Here are the responses to your questions:

1. The credential reference in the MOF file is the same account that installs the farm - I've just used one domain admin account for everything in my lab.
2. Please see attached for the before and after DSC JSON files.
3. No custom resources in the configuration - everything is from the SharePointDSC module.

In the meantime, I am going

[2018-03-31 16:20] andikrueger commented on #790
Thank you for the logs. The logs seem to be okay and I can't see, why the cmdlets are not available...

But, one other thing did strike my eye: Your logs of the second configuration run do show something interesting. All your managed accounts are not in their desired state. The Set-Methood of the SPManagedAccount resource is not skipped - all other resources (excluding excel-services and visio-ser

[2018-04-02 15:48] matthorgan commented on #790
Hi @andikrueger. I span up a new lab using my updated Vagrant boxes in the long-shot hope that I saw some improvement but it's failing at the same place and with the same error.

That's interesting re the logs - it looks like on the second configuration run, the DSC is updating the settings for the managed accounts which is strange seeing as it is using the same MOF file as the first run.

What's

[2018-04-02 20:31] andikrueger commented on #790
`Enable-DscDebug` is necessary, so that you can debug the resources used to apply your configuration. you could set your LCM to not continue the configuration after a reboot and start the configuration by hand.
SharePointDsc makes use of `Invoke-Command`. This function weill be called by the `Invoke-SPDSCCommand` and adds the PS SanpIn for SharePoint to the script block and will also switch the id

[2018-04-03 08:52] matthorgan commented on #565
Hi @andikrueger, did you find a solution for this issue in your testing? I tried running the Initialize-SPResourceSecurity command but I'm still running into the error:

`Exception calling ".ctor" with "2" argument(s): "Cannot process argument because the value of argument "userName" is not valid. Change the value of the "userName" argument and run the operation again.`

I'm using the same SPFarm

[2018-04-03 10:21] andikrueger commented on #565
I did no further testing. I'm wondering, why there is an error in the end. If I'm not mistaken: This error can only occur, when a previous provisioning attempt of the Search Service Application did not succeed.

https://github.com/PowerShell/SharePointDsc/blob/eb52d57c419caabfa85f1c2b77009613227cb16c/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1#L84-L100

[2018-04-03 18:16] matthorgan commented on #790
Hi @andikrueger, thanks for the info - very useful. I realised that the media I was given for our SP install is actually extremely old (SharePoint 2013 SP1 15.0.4569.1000). I added an SPProductUpdate and SPConfigWizard resource to install the latest update (​March 2018 CU 15.0.5015.1000) and now I'm getting consistent builds with no errors from Visio or Excel.

As I was using such an old version o

[2018-04-05 17:03] luigilink commented on #751
@ykuijs thanks for your patience.
You're right it works great with 2.2 (and I think 2.1).
You can  closed this issue.

[2018-04-09 18:48] ronx commented on #790
Ran into this same issue on a SP2016 build with WS2016 servers. I was running the config explicitly only for the CA server (first app server) after the first couple phases of the config (farm provisioning/joining, web apps/pools created) went through successfully and the config had completed on all other (non-CA) servers. So, I don't think it's a timing issue since there wasn't really anything els

[2018-04-10 04:59] andikrueger commented on #790
Puh. I really hoped it was something caused by old versions or timeing.

Could you do a few checks of your windows event logs?
1. There should be an entry for the error message above under the powershell dsc Node. Can you get the timestamp of the message
2. Is there any other message related to the SharePoint PowerShell Add-In Associated with the timestamp from 1?
3. Are there any other errors, wa

[2018-04-10 08:37] #751 closed

[2018-04-12 17:57] IlleNilsson opened #792 "Prerequisits for SP 2016 (only) hangs in offline mode"
I'm trying to get SPInstallPrereqs to work with SP 2016 (Only) Offline.

In Online mode it works, of course. I've tested access to the local installers, and yes the PsDscRunAsCredential has access to read the installer files.

Running it offline, it just sits there, hanging. I can't find anything in the registry of target machine.

[[SPInstallPrereqs]Prerequisites] Args for prereq installer are: /

[2018-04-12 20:01] andikrueger commented on #792
Could you please check the paths to the installer files? They look odd to me. I think either a drive letter is missing or another backslash. All your paths start with \DSC\

Lately I did a few offline installations and I did use the full path to the installer files.

[2018-04-12 20:05] NikCharlebois commented on #792
@IlleNilsson check out my blog post regarding this http://nikcharlebois.com/sharepoint-dsc-gotchas-and-best-practices/

[2018-04-12 20:07] IlleNilsson commented on #792
The paths are \\, UNC Paths. I aggree they look funny without the first backslash in the output.

But still, just hanging without errors is not good.

I ran prerequisitsinstaller.exe from a powershsell prompt with the same arguments and briefly I got a dialog for a blink of a second. I could’nt read it.

BR // Ilian

From: Andi Krüger <notifications@github.com>
Sent: Thursday, April 12, 2018 22:02

[2018-04-12 20:10] IlleNilsson commented on #792
SPInstallPrereqs "Prerequisites"
        {
            PsDscRunAsCredential = $SpAdminCredential
            SxsPath = "$($Node.WinSourcePath)\"
            InstallerPath = "$($Node.SpSourcePath)\PrerequisiteInstaller.exe"
            OnlineMode = $True
            SqlNCli = "$($Node.PrSourcePath)\sqlncli.msi"
            ODBC = "$($Node.PrSourcePath)\msodbcsql.msi"
            MSVCRT11 = "$($Node

[2018-04-12 20:10] IlleNilsson commented on #792
Thanks, I’ll check’em out

From: Nik Charlebois <notifications@github.com>
Sent: Thursday, April 12, 2018 22:05
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/SharePointDsc] Prerequisits for SP 2016 (only) hangs in offline mode (#792)

@IlleNilsson<https://github.com/IlleNils

[2018-04-12 20:27] IlleNilsson commented on #792
Thanks, I’ll check tommorow, gotta snooze

From: Andi Krüger <notifications@github.com>
Sent: Thursday, April 12, 2018 22:22
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nilsson@visity.se>; Mention <mention@noreply.github.com>
Subject: Re: [PowerShell/SharePointDsc] Prerequisits for SP 2016 (only) hangs in offline mode (#792)

Could do the following test

[2018-04-13 20:02] ronx commented on #790
There are 3 error entries in the DSC event log with that timestamp:

[code]

Let me know if you'd like for me to email you the verbose logs from the first run (when it failed) and the follow-up run when it succeeded.

[2018-04-14 07:35] andikrueger commented on #790
Thank you for the log entries. I was hoping to get more information out of the log messages, but I couldn't find anything significant.

Let's focus on what could possibly go wrong:
The `Set-TargetResource` function calls the `Get-TargetResource` function successfully - this includes loading the SharePoint Add-In.
After the `Get-TargetResource` function call another `Invoke-SPDSCCommand` is trigger

[2018-04-16 10:58] IlleNilsson commented on #792
Found the problem. I had an .MSI for setup_msipc_x64.msi, found setup_msipc_x64.exe version instead and that worked. Thanks for pointing me in the right direction.

[2018-04-16 10:58] #792 closed

[2018-04-17 19:08] blysspluss opened #794 "SPUserProfileSyncConnection missing filter disabled users"
**Details of the scenario you try and problem that is occurring:**

**The DSC configuration that is using the resource:**
MSFT_SPUserProfileSyncConnection
**Version of the Operating System and PowerShell the DSC Target Node is running:**
Server 2016, powershell 5.1
**Version of SharePoint that is used (e.g. SharePoint 2016):**
Sharepoint 2016
**Version of the DSC module you're using:**
Release 2.2

[2018-04-25 17:26] PowershellNinja opened #795 "Test-TargetResource SPFarm Resource fails to find local SharePoint Server"
**Details of the scenario you try and problem that is occurring:**
I am doing a complete setup of a lab environment for SharePoint, including the setup of Active Directory, SQL and SharePoint on one single vm. The configuration is done using Composite Resources and works fine - until the moment where the farm was already created and you rerun the configuration. As soon as DSC reaches the step
[cod

[2018-04-26 07:56] ykuijs commented on #795
I have reviewed the code and see where this is coming from. I will fix the issue in my next bugfix PR.

[2018-04-26 08:37] ykuijs commented on #790
The SPDsc code is adding the following code to each command it is running:
[code]

This implies that the snapin should always be loaded, however I have seen instances in the past (non SPDsc related) where Get-PSSnapin returned the snapin as loaded, but you were still unable to use any cmdlets. Have to find our what the cause of this issue was, so we can check if this has the same cause.

[2018-04-27 20:22] Harish9211 opened #796 "Error for SP 2016 for SPInstallPrereqs resource"
Hi All,

I am trying to create DSC script for SP 2016 prereqs and getting below error. I am installing it on Server 2016 and its SP 2016 so not sure why i am getting error for SP 2013. As per SharePointDSC KBs SP 2016 is supported.

PowerShell DSC resource MSFT_SPInstallPrereqs  failed to execute Set-TargetResource functionality with error
message: A known issue prevents installation of SharePoint

[2018-04-27 21:51] andikrueger commented on #796
Could you please double check the parameter values for this resource. I think there is an error for the Windows Server App Fabric installer path.
Are you missing the file extension: ".exe"?
Hope this helps.

[2018-04-27 22:29] Harish9211 commented on #796
Thank you for the response.

I just found out the issue, its my mistake, i thought i am using SP2016 but
it was SP2016. I got to know when i checked SharePointDSC resource script
file.

On Fri, Apr 27, 2018 at 2:51 PM, Andi Krüger <notifications@github.com>
wrote:

[2018-05-01 19:31] ykuijs commented on #796
Closing the issue since it has been solved

[2018-05-01 19:31] #796 closed

[2018-05-01 19:45] ykuijs commented on #786
I know Stop-SPDistributedCacheServiceInstance has an issue where a graceful shutdown wasn't performed gracefully. The stop command is send to DC and then the DC process is terminated before it was able to complete gracefully. That is why the official gracefull shutdown procedure has been changed:
https://docs.microsoft.com/en-us/sharepoint/administration/manage-the-distributed-cache-service#gracef

[2018-05-01 19:52] ykuijs commented on #774
Hi @wickedave, does this work when you use the Add-SPProfileSyncConnection manually?

[2018-05-02 07:41] ykuijs commented on #774
@wickedave Just to check: When testing this setting, did you configure your AD to use LDAPS before configuring this setting?
https://social.technet.microsoft.com/wiki/contents/articles/2980.ldap-over-ssl-ldaps-certificate.aspx

Reason I ask is that I investigated this issue yesterday and wasn't able to use LDAPS via SharePointDsc, PowerShell directly or Central Admin at all. I got the same error m

[2018-05-02 11:38] ykuijs commented on #795
Pretty much, with the exception that I don't use the User DNS domain. It is possible that the server is in a resource domain and the users in a user domain. In that case the User DNS domain is pointing to the incorrect domain ;-)

So I request the computer domain and use that.

[2018-05-02 12:04] wickedave commented on #774
Hi Yorick,

LDAPS is configured on our side. I was able to set the SSL connection from the central admin without any issue. I didn’t try to configure it with the default SharePoint Powershell command yet because I’m so busy at work that I don’t have spare time to try it on my lab.

thanks

[my-signature]

From: Yorick Kuijs <notifications@github.com>
Sent: 2 mai 2018 03:41
To: PowerShell/SharePoin

[2018-05-02 19:58] ykuijs commented on #774
I found the issue: When specifying UseSSL, you also have to specify that the port should be 636 instead of the default port 389. The code does not do this. Will update the resource, which will be included in my next Bugfix PR!

[2018-05-07 14:08] MikeLacher448 opened #797 "SPShellAdmins, when using Setup account, 5 databases fail."
**Details of the scenario you try and problem that is occurring:**
When using the 'AllDatabases' parameter, SPShellAdmins resource will fail to run on the following databases.
 Secure Store
 BCS
 UPA Social DB
 UPA Profile DB
 UPA Sync DB

This is because these databases set the farm account as the db owner, and not the setup account.

A couple COAs to solve this:

- add support for specifying 'Al

[2018-05-07 14:09] ykuijs commented on #794
Implemented in my next Bugfix PR

[2018-05-07 14:13] ykuijs commented on #797
@MikeLacher448 Can you post the error message you are getting? Wondering if this is an "Access Denied" (the resource does not have the correct permissions to set the Shell Admins) issue or an issue where the Setup account cannot be configured due to the fact that it already has another database role configured in SQL (like owner of a database)

[2018-05-07 20:32] MikeLacher448 commented on #797
I don't have a screen shot, as I manually fixed the permissions and moved on. It was an 'Access Denied', and I fixed it by adding the setup account as a user of the DB, with db_owner and SP_DataAccess roles.

When I get a chance, I'll do a new deployment and get exact error message.

[2018-05-07 20:38] ykuijs commented on #766
Hi @wickedave Unfortunately I have to say that I am unable to add configuring an LDAP filter. All required methods to configure LDAP filters are internal, so cannot be called from our resource.

If you (or anybody else) have way of configuring the LDAP filter via PowerShell, let us know!

[2018-05-08 16:12] johlju opened #798 "SharePointDsc: Update labels to the same as other resource modules in Dsc Resource Kit"
**Details of the scenario you try and problem that is occurring:**
@ykuijs @NikCharlebois  I would like to suggest to update the labels to match the name, color and description as other resource modules in DSC Resource Kit. If so I will update these labels for you, but want your approval first so this doesn't mess up any process you got going, because it will change the color on some, and name on

[2018-05-08 16:15] johlju commented on #798
I will make sure all issues and PR's keep the correct labels of course, even if they change name slightly. 🙂

[2018-05-08 17:19] NikCharlebois commented on #798
Thanks Johan,

I personally don't see any issues with the change. I will let @ykuijs confirm, but I would say go ahead.

[2018-05-10 14:02] jfletcher93 commented on #740
@rsganta  - can you expand on your fix for this please? I am having the same issue but running the dsc locally on a Windows 2016 vm.

    + CategoryInfo          : NotSpecified: (:) [], CimException
    + FullyQualifiedErrorId : System.ComponentModel.Win32Exception,Microsoft.CertificateServices.Commands.ImportPfxCertificate
    + PSComputerName        : localhost

[2018-05-11 08:59] andikrueger opened #799 "SPWebAppPropertyBag: new resource: Set Properties on web application level"
**Details of the scenario you try and problem that is occurring:**
Currently there is no resource available that allows to set property bag values at the web application level. There is a resource available to set the farm property bag.

There should be a resource that allows setting web application property bag values. There are the following options:

1. Extend SPWebApplication resource: Add a n

[2018-05-11 10:53] johlju commented on #798
Awesome! Will do this in the beginning of next week unless I hear anything else.

/cc @ykuijs

[2018-05-11 15:35] ykuijs commented on #798
Great idea, go ahead!

[2018-05-11 15:45] ykuijs commented on #799
To keep it consistent with the Farm resource I prefer a new resource. Also because there are already several other specific resources for configuring web app settings.

[2018-05-14 13:01] wickedave commented on #766
Hi @ykuijs,

Thanks for looking into this.

[2018-05-15 15:50] johlju commented on #398
Closing this issue as per previous comments by https://github.com/PowerShell/SharePointDsc/issues/398#issuecomment-358305465. This is out of the scope of this resource module.

[2018-05-15 15:50] #398 closed

[2018-05-15 15:56] johlju commented on #551
Closing this as per previous comment. If this was closed in error please reopen or comment.

[2018-05-15 15:56] #551 closed

[2018-05-15 16:04] johlju commented on #573
Closing this as answered. If this was closed in error please reopen or comment.

[2018-05-15 16:04] #573 closed

[2018-05-15 16:15] johlju commented on #798
@NikCharlebois @ykuijs labels updated, and all open issues labeled. If you could label new issues that come in I would appreciate it, especially 'Help wanted' if you want the community to work on an issue. If you see there are easier issues, then please label those 'good first issue' so new contributors can jump on board easier.
Thanks!

[2018-05-15 16:15] #798 closed

[2018-05-16 13:03] andikrueger opened #801 "SPUserProfileProperty: Allow several mapping connections"
**Details of the scenario you try and problem that is occurring:**
Currently we are working with a customer that uses several mapping connections for one User Profile Property.

With the current resource, there is no support to set several mapping connections for one property.

Adding this capability would result in a breaking change. We would have to add a new custom type to make the resource mor

[2018-05-16 15:07] andikrueger commented on #679
There is some news:
I did more reverse engineering on the update process and am very confident to have a solution for this ready soon.

Currently there is one big constraint, I did not see coming... For SharePoint 2013 there are security updates - how did I forget about these???
For SharePoint 2016 there are not.

The SharePoint 2013 Security Updates are named like "wdsrvloc2013", "coreserverloc20

[2018-05-17 05:52] johlju commented on #801
@andikrueger would MSFT_SPUserProfilePropertyMapping suit better as it own resource if it is possible to add and remove individual mappings? Or is it only possible to add mapping as part of the property?

[2018-05-17 06:07] andikrueger commented on #801
One user profile property can have 0-n mappings.
A new resource SPUserProfilePropertyMapping could solve this issue too, but would still be a breaking change, as we would have to remove the three mapping specific parameters from the SPUserProfileProperty resource.

The new resource will need at least the following parameters:

- PropertyName (key)
- UserProfileService (key)
- mapping direction
- m

[2018-05-17 06:48] johlju commented on #801
My thought was if we wanted an `Ensure` parameter to be able to remove mappings too. If there is no need to remove mappings, or not possible to remove mappings, then I see no benefit to having it as a separate resource. But if we should be able to remove mappings then a separate resource seem the best approach. If there are duplicated code that could potentially be solved by helper functions.

Agr

[2018-05-17 07:06] andikrueger commented on #801
Having an `Ensure` parameter seems to be nice, but we get the same result, if we remove an item from the `MSFT_SPUserProfilePropertyMapping` array.

From a performance side, I think a single resource would be better. In the Get-/Test- Methods, we would need to instantiate some SharePoint objects only once. If we pack these parts into a single resource, we would have to instantiate the same objects

[2018-05-17 08:03] johlju commented on #801
I'm good with that.

[2018-05-18 14:59] PSchicht opened #802 "Installed with ServerRole (MinRole) but Services are not deployed"
Hi!

I'm installing a small server farm and having trouble with the ServerRole (MinRole) configuration. The configuration I'm using is this (For the application server):
[code]
But no service applications have been created and configured.

My understanding is that with the minrole configuration, the default service application topology should be created automatically. Or is it necessary to specify

[2018-05-18 15:05] NikCharlebois commented on #802
@PSchicht You'll still need to define the SA you want. MinRole just determines what will be allowed to be created and where it will run. It doesn't automatically create the topology.

[2018-05-18 18:33] PSchicht commented on #802
@NikCharlebois Thank you for clearing this up! I expected it to work more like the standard SharePoint installer :)

[2018-05-18 23:45] NikCharlebois commented on #802
Glad to help. @ykuijs please close the issue when you get a chance. Cheers!

[2018-05-21 12:25] johlju commented on #802
Closing this issue as per previous comment.

[2018-05-21 12:25] #802 closed

[2018-05-23 15:01] cvollmann opened #804 "SPUserProfileSyncConnection: Connection get's recreated every time if the name contains a dot"
**Details of the scenario you try and problem that is occurring:**

We're adding multiple sync connections to the UPS.
If the name for the connection contains a ".", this connections is recreated every time you run the script.
We were able to "fix" it, by replacing the dots with hyphens (see code below).

The connection was already beeing named with the hyphen in SP, even without replacing the dot

[2018-05-24 15:08] johlju opened #805 "Webhook connection to Reviewable need updating"
@kwirkykat the webhook against Reviewable for this repo was created by Brian, since he no longer have permission Reviewable started to fail. I have "flipped the switch" so it works now, but when I loose permission the same problem will happen. So, could you "flip the switch" again, so that your account is used instead?

Here is the flip https://reviewable.io/repositories for the
![image](https://u

[2018-05-24 19:01] ykuijs commented on #804
I am working on an update for this resource in my next bugfix PR. I will investigate this issue and implement a fix at the same time!

[2018-05-26 00:13] kwirkykat commented on #805
@johlju Done

[2018-05-26 08:49] johlju commented on #805
Thanks @kwirkykat!

[2018-05-26 08:49] #805 closed

[2018-05-28 16:52] shurick81 commented on #634
@BrianFarnhill, I wonder If the issue when current user list is empty was separately registered. I experience the error when I try to use SharePointDSC 2.2.0.0

[2018-05-29 02:03] BrianFarnhill commented on #634
@ykuijs Can you have a look at this one for @shurick81 .

@shurick81  I don't look after this project anymore, but Yorick and the guys will be able to help you out! :)

[2018-05-29 19:27] IlleNilsson opened #807 "Hanging att prerequisits install"
Hanging att prerequisits install. Found all the missbeaving prerequisits, disabled UAC and still hanging.

SPInstallPrerequisits

Windows Server 2016 Standard Edition (Deskstop Experence)

SharePoint 2016

DSC is latest of today

If i manualy reboot target servers the next forced Start-DscConfiuguration works, sometime.

Any help appriciated. // Ilian

[2018-05-29 20:01] NikCharlebois commented on #807
Are you installing form a Shared location or are the files local on the server?

[2018-05-30 09:02] IlleNilsson commented on #807
They are on a share. I could add the share servers address to trusted sites, but why does it work when i forcefully restart machines and Start-DscConfiguration again?

[2018-05-30 11:57] NikCharlebois commented on #807
Well, some of the prerequisites (i.e. .NET) may introduce a pending reboot. If you run Get-DSCLocalConfigurationManager, what are the values for properties RebootNodeIfNeeded and ActionAfterReboot ?

[2018-05-30 13:25] shurick81 opened #808 "new resource: SPSiteUrl"
**Details of the scenario you try and problem that is occurring:**
I need to set up a URL for site collection via DSC. I can try to use Script resource and use `Set-SPSiteUrl` but it's always better to have an industrial tool then inventing a one for myself.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:*

[2018-05-30 19:51] ykuijs commented on #634
I guess this is registered in issue #641, which is still open.

[2018-05-31 16:46] NikCharlebois opened #809 "SPUserProfileSyncConnection Reflection not working."
**Details of the scenario you try and problem that is occurring:**
Need to change the way we dynamically obtain the Methods using reflection from the UserProfiles.dll in order to ensure portability.

**The DSC configuration that is using the resource:**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Win 2016

**Version of SharePoint that is used (e.g. Share

[2018-05-31 20:09] ykuijs commented on #809
I discovered these issues as well while implementing fixes for other issues in this resource. Have already implemented fixes which will be in my next bugfix PR

[2018-06-01 18:15] IlleNilsson commented on #807
The are set to $True and continue after reboot. How ever. I have now discarder DscResource xPendingReboot and xUAC and run a prescript over all farm nodes (Disable-UAC.ps1 script by Vincent BootsI), and also …

    ### Enable double hop kerberos authentication via delegation to machines roled OpsDsc
    $FarmNodes | ? { $_.Role -eq "OpsDsc" } |
        % { Set-ADComputer -Identity $_.Node -Princip

[2018-06-04 14:29] ykuijs commented on #774
Fixed in PR #811

[2018-06-04 14:29] ykuijs commented on #794
Fixed in PR #811

[2018-06-04 14:29] ykuijs commented on #795
Fixed in PR #811

[2018-06-04 14:29] ykuijs commented on #804
Fixed in PR #811

[2018-06-04 14:29] ykuijs commented on #809
Fixed in PR #811

[2018-06-05 10:38] ykuijs commented on #807
Closing the issue per previous comment

[2018-06-05 10:38] #807 closed

[2018-06-05 14:51] luigilink opened #812 "SPDistributedCacheService Why this resource wait 30 minutes for stopping serviceinstance"
**Details of the scenario you try and problem that is occurring:**
Why we have to wait that spservice instance is stopped:
[[SPDistributedCacheService]APPLICATION_SpsEnableDistributedCache_Master] 10:36 - Waiting for distributed cache to stop on all servers (waited 0 of
 30 minutes)
Workaround: kill the AppFabric process.

**The DSC configuration that is using the resource:**
[code]

**Version of

[2018-06-05 21:41] andikrueger commented on #812
Link to #786 as they are related.

[2018-06-06 06:28] ykuijs commented on #774
PR merged, closing issue

[2018-06-06 06:28] #774 closed

[2018-06-06 06:28] ykuijs commented on #794
PR merged, closing issue

[2018-06-06 06:28] #794 closed

[2018-06-06 06:28] ykuijs commented on #795
PR merged, closing issue

[2018-06-06 06:28] #795 closed

[2018-06-06 06:28] ykuijs commented on #804
PR merged, closing issue

[2018-06-06 06:28] #804 closed

[2018-06-06 06:28] ykuijs commented on #809
PR merged, closing issue

[2018-06-06 06:28] #809 closed

[2018-06-06 06:37] ykuijs commented on #812
When you stop the DC service on a server, you have the options to gracefully shutdown the service or kill it. With a graceful shutdown, all objects in the cache are transferred to other DC servers in the farm before the DC service is stopped. This will take some time, but will ensure that you won't lose any cached objects.

When killing the AppFabric process, you lose all the objects in the cache

[2018-06-06 06:41] ykuijs commented on #812
And this time-out is a maximum time-out. If the service stops in two minutes, the resource also continues with the next steps.

[2018-06-06 20:21] NikCharlebois opened #813 "SPUserProfileSyncConnection issue with connection name"
**Details of the scenario you try and problem that is occurring:**
There is still a possibility that the connection was created via the Central Admin interface, in which case the connection name could contain periods (ex: contoso.com). The Get-TargetResource replaces the '.' by '-' at the beginning, resulting in invalid connection name, and the rest of the function can't extract information from i

[2018-06-07 12:51] NikCharlebois commented on #813
Wanted to add more context to this issue. It is true that when we create a connection using PowerShell, that the '.' get replace by '-'. But DSC is more than just about configuration, it is about monitoring. Assume the case where the users already have an existing farm for which they created connections manually, say they are named contoso.com. If the user wants to write a DSC to apply to that exi

[2018-06-10 07:24] shurick81 opened #815 "SharePoint 2019"
**Details of the scenario you try and problem that is occurring:**
It would be nice if at least SPFarm resource could work with SharePoint 2019. I hope you have some early access to the new version of the SP and you have opportunity to adjust this module.

**The DSC configuration that is using the resource:**

**Version of the Operating System and PowerShell the DSC Target Node is running:**

**Ve

[2018-06-10 11:56] NikCharlebois commented on #815
Due to the current NDA nature of SharePoint 2019, the SPDSC bits that support that version cannot be place on a public repository. However, we do have a commitment to make them available on day 1 when the Public Beta gets released.

[2018-06-10 17:10] ykuijs commented on #815
Question has been answered. Closing issue.

[2018-06-10 17:10] #815 closed

[2018-06-10 17:12] ykuijs commented on #813
Agree, but I think it is important to also add a warning message when using a dot and SP2016 stating that this might cause issues (trying to create the connection over and over again).

[2018-06-10 18:18] ykuijs commented on #771
Implementing this change into the newly created v3.0-development branch. Changing all parameters to WebAppUrl.

[2018-06-11 12:16] ykuijs commented on #778
Update:
SPAntivirusSettings: Implemented in fork
SPDiagnosticLoggingSettings: Implemented in fork
SPFarmAdministrators: Implemented in fork

SPConfigWizard: Planned for implementation
SPFarm: Planned for implementation
SPInfoPathFormsServiceConfig: Planned for implementation
SPInstall: Planned for implementation
SPInstallPrereqs: Planned for implementation
SPIrmSettings: Planned for implementation

[2018-06-11 12:39] andikrueger commented on #778
@ykuijs Thank you! This was fast :+1:

I just reviewed the SPShellAdmins Example for [multiple databases](https://github.com/PowerShell/SharePointDsc/blob/5e1291709387fb8c8d86ea4da69864d8a8b92e2c/Modules/SharePointDsc/Examples/Resources/SPShellAdmins/2-SpecificDBs.ps1). This resource can lead to issues, since I can change the name and then specify settings total different than before. Currently I

[2018-06-11 12:53] ykuijs commented on #778
The question is: Should we make it 100% foolproof or can we expect some intelligence of the admin that is using DSC.

I think we have to expect some common sense, simply because DSC isn't an end-user technology and because making it 100% foolproof is impossible and trying to do so only makes the resource mega complex.

[2018-06-11 12:55] ykuijs commented on #778
Especially since making such a mistake does not really result in major issues: Yes it will be inefficient, since the settings will be switched back and forth, but won't cause any downtime.

[2018-06-11 13:17] johlju commented on #778
@ykuijs Would  single instance resource help https://docs.microsoft.com/en-us/powershell/dsc/singleinstance. Setting the Key to 'Yes' (using validateset), it can only be once such resource in the configuration.

[2018-06-11 13:21] NikCharlebois commented on #778
I agree with the list of resources above. Just one thing to make sure though, is that some resources can have ONE instance max per NODE (e.g. SPFarm), whereas others can only have ONE instance per CONFIGURATION (e.g. SPDiagnosticLoggingSettings).

We had discussed implementing such best practices in some resources a while ago. For example, all resources identified as Distributed in the wiki, shoul

[2018-06-11 13:29] andikrueger commented on #778
@johlju We are already implementing the single instance resource pattern. See: https://github.com/PowerShell/SharePointDsc/issues/778#issuecomment-372012732
The challenge about the SPShellAdmins resource are the various options available...

@NikCharlebois I totally agree with you. AFAIK There is no option to guarantee a "single instance" behavior across several nodes.

I really think we are alrea

[2018-06-11 13:31] ykuijs commented on #778
@johlju That is exactly what I am implementing.

@andikrueger I have reviewed the resource some more and am starting to think you are right. Let me dive into this further!

[2018-06-11 13:41] NikCharlebois commented on #778
@andikrueger Yes agreed, we are already doing our best to make it as friendly as possible. What I meant here, is that we need to make sure that some of these resources can actually be used more than once in the config, but only once per server.

[2018-06-11 13:49] ykuijs commented on #778
I agree with you Nik, but unfortunately DSC currently has no way of enforcing that a resource can only be specified once in a configuration. The method described in the SingleInstance link that was shared before only allows us to enforce one instance per server.

[2018-06-12 07:51] jensotto opened #818 "SPCacheAccounts incorrectly fails test when SetWebAppPolicy is false"
**Details of the scenario you try and problem that is occurring:**
When SPCacheAccounts are defined with SetWebAppPolicy set to $False and the cache accounts are added to the web app policy either manually or by SPWebAppPolicy, Test-DscConfiguration fails on the SPCaceAccounts. This is because the test implementation of SPCaceAccounts expects that if SetWebAppPolicy is false then the cache account

[2018-06-12 23:48] IlleNilsson opened #819 "WSS_UsageApplication database"
When implementing MinRole via DSC, all of a suthen a new database occurs WSS_UsageApplication.

SPSearch*

WS 2016 latest bits

SharePoint 2016 latest bits

SharePointDsc latest bits

I would like to control the name of the database for retention, backup & restore reasons.

Any help appriciated

BR // Ilian

[2018-06-13 07:32] ykuijs commented on #813
Closed via PR #814

[2018-06-13 07:32] #813 closed

[2018-06-13 11:10] ykuijs commented on #819
Hi @IlleNilsson Can you share the config you are using?

[2018-06-14 11:12] IlleNilsson commented on #819
Yes, but it has to be in private confidence. The SharePoint installation is for a Swedish defense object.

If that is ok, and you promise to not forward the specifics.

Then yes, I can share it with you.

BR // Ilian

From: Yorick Kuijs [mailto:notifications@github.com]
Sent: Wednesday, 13 June 2018 13:11
To: PowerShell/SharePointDsc <SharePointDsc@noreply.github.com>
Cc: Ilian Nilsson <ilian.nils

[2018-06-18 09:59] ykuijs commented on #819
Just send you an email directly to which to can share your config.

[2018-06-18 10:02] ykuijs commented on #818
I see what you mean. Will correct this in a future bugfix PR.

[2018-06-18 12:34] ykuijs commented on #819
Issue has been solved. Closing issue

[2018-06-18 12:34] #819 closed

[2018-06-19 08:20] ykuijs commented on #778
I have also implemented IsSingleInstance in SPShellAdmin.

Just submitted PR #824

[2018-06-19 08:20] ykuijs commented on #771
Just submitted PR #824

[2018-06-19 09:02] andikrueger commented on #679
@ykuijs could you assign this topic to me and add an enhancement label? I'm still working on it...

[2018-06-19 09:08] ykuijs commented on #766
Closing this issue, since the SharePoint object model doesn't allow us to specify an LDAP filter

[2018-06-19 09:08] #766 closed

[2018-06-19 09:15] ykuijs commented on #791
Closed via PR #800

[2018-06-19 09:15] #791 closed

[2018-06-19 12:10] ykuijs commented on #236
Implemented in my next Bugfix PR

[2018-06-20 06:52] ykuijs commented on #771
Merged via PR 824, closing issue

[2018-06-20 06:52] #771 closed

[2018-06-20 06:53] ykuijs commented on #778
Merged via PR 824, closing issue
Changes will be released in v3.0

[2018-06-20 06:53] #778 closed

[2018-06-20 07:58] ykuijs commented on #565
Is this issue still existing? Or can we close the issue now and reopen if it occurs again in the future?

[2018-06-20 08:09] ykuijs commented on #457
Ok, I have been testing my proposed solution and as it turns out it does have some issues: You can load the DLL on-the-fly or create a type dynamically and create a new custom SharePoint database, based on the new type you define in the DLL (inherited from SPDatabase). All SharePointDsc resources that use this DLL/type will be able to use the custom database.

However: Since the DLL hasn't been de

[2018-06-20 08:10] ykuijs commented on #765
@andikrueger, @ronx: Do you guys have any update on this issue?

[2018-06-20 09:37] ykuijs commented on #641
Fix will be included in my next Bugfix PR

[2018-06-20 10:47] snd3r commented on #565
I can reproduce the error on my farm.
In the case that the script is run from the user sp_farm or sp_admin, then the data is get correctly, and if the script run from the user who is in the Farm Administrators group, but not the default admin account, this error occurs.
Fixed by explicitly setting the access rights to the search service.

[2018-06-20 10:55] ykuijs commented on #641
Creating new issue for extending the access levels

[2018-06-20 10:57] ykuijs opened #825 "Extend SPServiceApplicationSecurity access levels"
**Details of the scenario you try and problem that is occurring:**
As mentioned in issue #641, access levels are wrong in MSFT_SPServiceAppSecurityEntry ( from .mof: {"Change Permissions","Full Control", "Write", "Read"} )
Access level depends on ServiceApplication type.

for Administrators schould be:
Create Target Application
Delete Target Application
Manage Target Application
All Target Applica

[2018-06-20 12:27] andikrueger commented on #765
Currently not. I haven't stumbled across the problem lately.

[2018-06-20 22:47] BrianFarnhill commented on #457
@ykuijs Does that put you back into using the SPFarm property bag as the data store then? It's a little more basic but its universally available

[2018-06-21 13:50] luigilink commented on #812
You're right @ykuijs  after a few test, the resource continues with the next steps. The service stops in a few minutes (never the same time, but it doesn't matter)
Thank you. You can close this issue.

[2018-06-21 13:50] #812 closed

[2018-06-21 14:01] luigilink opened #827 "SPSearchContentSource fails Get when ContinuousCrawl equal to $true"
**Details of the scenario you try and problem that is occurring:**
When ContinuousCrawl parameter is defined to $true, the Get-Targetresource doesn't work:
[code]

We have this event in event viewer, I think that the return of Get-SPDSCSearchCrawlSchedule function is not compliant with the input/output parameter:

[code]

**The DSC configuration that is using the resource:**
[code]

**Version of t

[2018-06-21 18:13] ykuijs commented on #457
@BrianFarnhill I think it does. I do not see any other option at the moment.

[2018-06-21 18:14] ykuijs commented on #765
Ok, please reopen the issue reoccurs. Closing for now.

[2018-06-21 18:14] #765 closed

[2018-06-21 18:16] viguerre opened #828 "Getting FALSE DesiredState due to [SPProjectServerLicense] Resource"
When running 'Test-DscConfiguration -ComputerName <servername> -Detailed' on my DSC configuration, I get 'InDesiredState' as FALSE.  The resource that comes back as FALSE is the following:

[SPProjectServerLicense]PWALicense

I am not sure why this is happening.  I double checked the license key and it is the correct key.  Also, my DSC successfully enables and configures Project Server 2016.  Any

[2018-06-21 18:33] NikCharlebois opened #829 "Simplify QuotaTemplate for SPSite"
**Details of the scenario you try and problem that is occurring:**
Currently, if we wish to specify a Quota template for a new SPSite, we need to pass in its ID which is an integer we have no control over. We should modify this to also accept the name of the QuotaTemplate, not just the id.

**The DSC configuration that is using the resource:**
This will error out, saying that Quota for the SPSite

[2018-06-21 18:34] viguerre commented on #828
Resource used:
`SPProjectServerLicense PWALicense
{
 Ensure                           = "Present"
 ProductKey                   = "XXXXX-XXXXX-XXXXX-XXXXX-XXXXX"
 PsDscRunAsCredential = $spsetup
 DependsOn                  = "[SPServiceAppPool]ProjectServerServiceAppPool"
 }`

[2018-06-21 18:38] ykuijs commented on #828
Hi @viguerre I don't have an environment which has Project Server on it, so can you do me a favor and please share me the output of the Get-ProjectServerLicense cmdlet on your environment?

[2018-06-21 18:41] ykuijs commented on #828
And what is the output of the following command:
[code]

[2018-06-21 18:42] ykuijs commented on #828
Of course make sure you first set $spsetup ;-)

[2018-06-21 19:03] viguerre commented on #828
Good afternoon @ykuijs

This is what I get when I run the Get-ProjectServerLicense in my environment:
[code]
And when I add the above command, I get the following:

[code]

[2018-06-21 19:06] ykuijs commented on #828
Did you run that second command on your SP/Project server??

[2018-06-21 19:07] viguerre commented on #828
yes I did

[2018-06-21 19:09] ykuijs commented on #828
Woeps, my mistake. You have to specify SPProject**Server**License:
[code]

[2018-06-21 19:14] viguerre commented on #828
[code]

[2018-06-21 19:15] viguerre commented on #828
Interesting, its showing Ensure as 'Absent' when I set it at 'Present' in my configuration.

[2018-06-21 19:16] ykuijs commented on #828
That means that the code doesn't detect the license properly

[2018-06-21 19:17] ykuijs commented on #828
Let's try this:
[code]

[2018-06-21 20:09] ykuijs commented on #828
The regular expression does not process the output of Get-ProjectServerLicense properly. I might have found the solution. Shared this with Victor. If he confirms the fix, I will add it to my Bugfix PR.

[2018-06-23 21:55] ykuijs commented on #829
This will be a breaking change, so will have to wait for implementation in v3.0. Agree?

[2018-06-23 21:57] ykuijs commented on #801
Will you be implementing this change @andikrueger? Or do you want to leave it up for grabs?

[2018-06-24 18:12] andikrueger commented on #801
I started working on this issue. Unfortunately, I ran out of time back then...
Next week I'm going to be traveling a lot by train. I hope, I can prepare a new branch for this issue and integrate the gist into the current methods. The gist is a draft version on how to retrieve the mappings properly for an AD Connection: [Get-SPUserProfilePropertyMapping.ps1](https://gist.github.com/andikrueger/ddfb

[2018-06-25 15:29] ykuijs commented on #236
Closed via PR #826

[2018-06-25 15:29] ykuijs commented on #641
Closed via PR #826

[2018-06-25 15:29] ykuijs commented on #782
Closed via PR #826

[2018-06-25 15:29] ykuijs commented on #818
Closed via PR #826

[2018-06-25 15:29] ykuijs commented on #828
Closed via PR #826

[2018-06-25 15:29] #828 closed

[2018-06-25 15:29] #641 closed

[2018-06-25 15:30] #782 closed

[2018-06-25 15:30] #818 closed

[2018-06-25 15:30] #236 closed

[2018-06-25 18:48] NikCharlebois opened #830 "SPSearchContentSource Support for LoB"
**Details of the scenario you try and problem that is occurring:**
Currently, the SPSearchContentSource resource doesn't support 'Business' type. Since this is a very common scenario with clients, we need to add support for it. However, this may open another can of worms since we currently don't have any resources to support BDC schemas.

**The DSC configuration that is using the resource:**
N/A

[2018-06-26 07:19] johlju commented on #827
@luigilink Maybe there are a cast to an array missing somewhere when the value returned from something is a single string. Not looked at the code, just guessing. 🙂 Labeling it as a bug and help wanted.

[2018-06-27 06:45] ykuijs commented on #830
Closed via PR #831

[2018-06-27 06:45] #830 closed

[2018-07-02 14:28] MarekSarad opened #832 "SPProductUpdate fails for 2 server farm when the ShutdownServices is set to True"
I am trying to automate SP update process with the SharepointDSC. One one farm scenario (like DEV machine it works ok) but for a 2 farm scenario is fails during pausing of the SSA.

The error is either Unable to connect to remote server, or 'Connection was closed'(the latter I had only once so not sure about it) I can easily recreate the first one. After I complete installation on box 1 and try to

[2018-07-03 11:18] Harish9211 opened #833 "SPFarm without PsRunAsCredential"
Is it possible to run SpFarm and other resources without PsRunAsCredential, as i dont want to provide creds on script?

I am using Pull mode so i cant use Get-Credential

[2018-07-03 11:55] ykuijs commented on #833
You have to use either the InstallAccount or PsRunAsCredential parameter.

You are either pushing or pulling a configuration MOF file. The credentials are not required during a push or pull, but during the compilation phase (creation of the MOF file) and are then included into the MOF file. So you don't need Get-Credential during the pull or push.

[2018-07-04 04:34] Harish9211 commented on #833
Yes so i have to provide credentials in the script as plain text which i dont want to do. Is there any way i can make this script to pick my logged in account and run all task with that account?

[2018-07-04 05:06] johlju commented on #832
@MarekSarad Can you check if `$searchSA.Resume()` is called? I think `$searchPaused -eq $true` will never return true? 🤔
Easiest is just add `Write-Verbose -Message 'Resuming Search' -Verbose` before the line 487, and the do a run with verbose output.

https://github.com/PowerShell/SharePointDsc/blob/1aaf0b6382fc0b1bc5f40abbb768a6e6563811d6/Modules/SharePointDsc/DSCResources/MSFT_SPProductUpdate/M

[2018-07-04 07:06] johlju commented on #833
@Harish9211 You have to compile the configuration to contain the credentials to use when LCM runs. LCM will decrypt the credentials (using the certificate you setup). See here for more information https://docs.microsoft.com/sv-se/powershell/dsc/pullserver

It's not possible to assign credentials when LCM runs, they need to already be in the configuration.

You can add a parameter to your configura

[2018-07-04 07:23] ykuijs commented on #833
@Harish9211 The first link is the Swedish version......the English version can be found at: https://docs.microsoft.com/en-us/powershell/dsc/pullserver :-)

In short: The process of using DSC is:
1. Create a DSC Configuration in a PS1 file. Since this is PowerShell based, you can use PowerShell commands to make it dynamic.
2. Create a MOF file by running the script
3. Push the MOF file to the serve

[2018-07-04 07:33] MarekSarad commented on #832
@johlju, thanks for reply.
I will check that but I don't think I ever get to the Resume section.
The scenario is.
1. Same DSC is applied to 2 servers
2. DSC stops the search from server 1. Starts binary installation.
3. DSC tries to stop search from server 2 and then it fails.

it fails at this stage of the code:

[code]

I will add lines to Pause and Resume and post results bit later.

[2018-07-04 07:43] johlju commented on #832
My thought was it should start Search on first node before running the configuration on the second node. The Search Application is per farm? So it can only be paused on one server, and should not be started before all the nodes has been updated. So my thought is that it should only be run on one node at a time? So the intended behavior must be that one node should have this property set to $true a

[2018-07-04 08:50] johlju commented on #832
Agree that the error should be resolved either way.

Multiple starts and stops would be good to avid, but what I is worried about what (bad) impact it would have if Search is started during patching of other nodes. I'm out of my depth here, so leave it up to the community to find the best solution to this problem.
Labeling this as a bug for the time being.

[2018-07-04 08:56] ykuijs commented on #832
Hi @MarekSarad, since DSC is only aware of the state of the server it is running on, using Shutdownservices on all servers will cause a second server to try to pause the Search even though the first server has already done that.

I agree with your proposed solution as a first enhancement, but as a final solution we do have to think about that a little further. For example: What if server1 complete

[2018-07-04 10:17] ykuijs commented on #827
@luigilink Can you run the following command on the SP server and let us know the outcome:
[code]

[2018-07-05 09:14] MarekSarad commented on #832
@johlju I am not sure would starting of the search have bad impact on the other nodes. As we stop services on all servers they would not respond to the crawler queries anyway correct? So in that case search should not affect the binary installation (and I think that part is most affected by search crawler).

@ykuijs I understand the complexity of the issue. The big issue in general is that DSC is

[2018-07-05 18:36] ykuijs opened #834 "SPSearchTopology throws non-terminating error in Get method when SSA does not exist"
**Details of the scenario you try and problem that is occurring:**
When the specified Search Service Application does not exist, the Get method in SPSearchTopology throws a non-terminating error.

This is caused be the fact that the Get-SPEnterpriseSearchServiceApplication cmdlet on line 72 is missing an "-ErrorAction SilentlyContinue". This needs to be added.

https://github.com/PowerShell/ShareP

[2018-07-05 18:38] ykuijs opened #835 "SPSearchServiceApp is using incorrect variables when setting service account"
**Details of the scenario you try and problem that is occurring:**
On line 276 in SPSearchServiceApp, the code is using the incorrect variables. It should be $params.<variablename> instead of $variablename:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1#L276

**The DSC configuration that is using the reso

[2018-07-09 18:29] ykuijs commented on #833
@Harish9211 Is your question answered?

[2018-07-09 19:07] ykuijs commented on #832
Fix will be included in my next Bugfix PR

[2018-07-09 19:08] ykuijs commented on #835
Fix will be included in my next Bugfix PR

[2018-07-09 19:08] ykuijs commented on #834
Fix will be included in my next Bugfix PR

[2018-07-09 19:08] ykuijs commented on #827
@luigilink Any update?

[2018-07-09 20:41] ykuijs commented on #827
I have been able to reproduce the error. Investigating now

[2018-07-09 21:36] ykuijs commented on #827
Seems like this has something to do with the Addresses parameter. Your config only has one

@luigilink Can you check what happens if you add another url to the content source (from Central Admin) and then run Get-DscConfiguration -Verbose once more?

[2018-07-11 09:33] MarekSarad commented on #832
I am testing locally fix with adding the  if( $searchSA.isPaused() -eq 0){  $searchSA.Pause()} but I am getting mixed results.

Again same scenario 1 APP server, 1 FE server. When executed on the APP server after the pause completes $searchSA.isPaused() returns 128

But when executed on the FE it errors.

`PS C:\Users\_spinstall> $searchSAs = Get-SPEnterpriseSearchServiceApplication
PS C:\Users\_s

[2018-07-11 12:41] MarekSarad commented on #832
I managed to workaround the issue of checking if the search is paused using this approach

`            $searchSAs = Get-SPEnterpriseSearchServiceApplication
            foreach ($searchSA in $searchSAs)
            {
            Write-Verbose -Message "Before catch on searach Pause"
            try{
                    if($searchSA.isPaused() -eq 0)
                    {Write-Verbose -Message "Pa

[2018-07-12 07:11] ykuijs opened #837 "Get method in SPSearchServiceApp throws error when service app hasn't been created properly"
**Details of the scenario you try and problem that is occurring:**
When the creation of a search service app fails, the Get method can throw an error indicating that the username cannot be found. This is caused by the fact that the $sc variable is empty:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPSearchServiceApp/MSFT_SPSearchServiceApp.psm1#L98

[2018-07-12 07:14] ykuijs commented on #827
Fix will be included in my next Bugfix PR

[2018-07-12 07:14] ykuijs commented on #837
Fix will be included in my next Bugfix PR

[2018-07-12 07:28] ykuijs commented on #797
This week I did some testing with this resource for another project. I discovered that updating the ShellAdmins requires very specify permissions. Only when I granted the account that was making the change (the setup account in your case) db_owner permissions, I was able to update the permissions properly.

This is however an issue with SharePoint, not with SharePointDsc (was able to reproduce the

[2018-07-12 07:37] ykuijs commented on #797
On https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/add-spshelladmin?view=sharepoint-ps, the following is mentioned:
"When you run this cmdlet to add a user to the SharePoint_Shell_Access role, you must have membership in the securityadmin fixed server role on the SQL Server instance, membership in the db_owner fixed database role on all affected databases, and local administra

[2018-07-12 12:52] MarekSarad opened #839 "In a 2 server farm scenario SPProductUpdate wrongly evaluates that the patch has been already installed."
In a 2 server farm scenario SPProductUpdate wrongly evaluates that August 2017 CULD (Language Dependant)  patch has been already installed.

        SPProductUpdate InstallCU
            {
                SetupFile            = 'C:\Temp\'+$CUFile
                ShutdownServices     = $true
                Ensure               = "Present"
                PsDscRunAsCredential = $SetupAccount

[2018-07-12 14:24] ykuijs commented on #837
Closed via PR #838

[2018-07-12 14:24] #837 closed

[2018-07-12 14:24] ykuijs commented on #835
Closed via PR #838

[2018-07-12 14:24] #835 closed

[2018-07-12 14:24] ykuijs commented on #834
Closed via PR #838

[2018-07-12 14:24] ykuijs commented on #832
Closed via PR #838

[2018-07-12 14:24] #832 closed

[2018-07-12 14:24] ykuijs commented on #827
Closed via PR #838

[2018-07-12 14:24] #827 closed

[2018-07-12 14:33] ykuijs commented on #565
Issue is related to issue #837 for which I have implemented a fix in PR #838. This does not fix the entire issue, just prevents the error message thrown in the Get method.

We will have to investigate the cause of the failing creation of the service accounts.

[2018-07-12 14:54] ykuijs commented on #679
@andikrueger Since you do not have the correct permissions level in this repo, I cannot assign the issue to you. But it is all yours! Please also checkout #839, since this might have a relation with this issue.

[2018-07-12 14:59] ykuijs commented on #839
Hi @MarekSarad, we have been discussing a different way of detecting if a patch has been deployed or not. However this is a quite tricky process. You can check out the discussion in issue #679.

At this moment @andikrueger is working on implementing a new method.

[2018-07-13 15:49] MikeLacher448 commented on #797
how about adding a 'ExcludeDatabases' parameter, so we can run this as essentially AllDatabases, except these... ?

[2018-07-16 12:11] MarekSarad commented on #839
Yes I have seen that thread and looking forward to it, the method currently used in DSC is having some issues. on Sept17 CU I have hit another issue. Similar case but for some reason the Util Get-SPDscFarmVersionInfo is not bringing results for the FE.

On APP I get:

PS C:\Users\_spinstall> Get-SPDscFarmVersionInfo

Name                           Value
----                           -----
Highest

[2018-07-16 13:08] johlju commented on #839
I labeled this as in progress, since work is being done in issue #679. If issue #679 does not solve this issue then we should remove 'in progress' label and switch it to 'help wanted'.

[2018-07-19 12:50] adruet29 opened #840 "MSFT_SPSearchContentSource does not take StartHour parameter for schedule"
**Details of the scenario you try and problem that is occurring:**

For a Sharepoint source, when setting a StartHour different from 0 in a content source crawl schedule not warning or error is issued, but the start hour remains 0:00.

**The DSC configuration that is using the resource:**

 SPSearchContentSource LocalSharePointSites
            {
                Name                 = "Local Share

[2018-07-19 12:59] adruet29 commented on #840
I was able to solve this issue, but I must admit that I am a newbie regarding the pull request process...

So here it is. From what I was able to understand, the StartHour parameter is correctly checked in the test Get-SPDSCSearchCrawlSchedule.psm1 module.
The issue seems to be in the MSFT_SPSearchContentSource.psm1, as in its Set-TargetResource function there is never the parameter CrawlScheduleS

[2018-07-19 13:34] adruet29 commented on #840
Ok, so I read the rules for contributing, and I hope I did not make any mistakes in my pull request:
[](https://github.com/PowerShell/SharePointDsc/pull/841)

[2018-07-19 13:36] ykuijs commented on #840
Hi @adruet29, thanks for your work investigating and fixing this issue. I will let the Unit tests run and will review once completed.

[2018-07-20 21:47] ykuijs commented on #840
Fixed by PR #842

[2018-07-20 21:47] #840 closed

[2018-07-25 11:33] shurick81 commented on #815
Now SP 2019 Preview is released, is there any plan to include support of this version in SharePointDsc 2.4?

[2018-07-25 11:49] andikrueger commented on #815
Have a look at this blog post by @NikCharlebois [SHAREPOINTDSC STARTER TEMPLATE FOR SHAREPOINT 2019](http://nikcharlebois.com/sharepointdsc-starter-template-for-sharepoint-2019/)

Check out this [v3.0 development branch](https://github.com/PowerShell/SharePointDsc/tree/v3.0-development). This branch contains all current preps for SharePoint 2019.

[2018-07-25 11:56] NikCharlebois commented on #815
The preview branch will be submitted as a PR shortly. The existing 3.0 branch on github does not yet have the 2019 bits. Apologies for the conflicting info

[2018-07-25 16:39] joshtransient opened #845 "SPSearchTopology doesn't work when NodeName is fully-qualified"
**Details of the scenario you try and problem that is occurring:**
Creating a search topology does not work when NodeName is a fully-qualified domain name (e.g. _server.domain.com_ instead of simply _server_)

In MSFT_SearchTopology.psm1, lines 250-257:
[code]

Can we add a check for FQDN somewhere here? Something like...
(edit: had the wrong operator)
[code]

**The DSC configuration that is using

[2018-07-30 07:53] shurick81 commented on #815
Thanks for all the answers colleagues. @NikCharlebois, does this mean we will soon be able to install preview version from PS galery or should we take it directly from github branch?

[2018-07-30 12:17] johlju commented on #845
Can you provide the verbose log output when you get an error using the FQDN? Obfuscate any sensitive information.

[2018-07-30 12:45] joshtransient commented on #845
First instance of error starts at line 1455.

[SPSearchTopology-sanitized.log](https://github.com/PowerShell/SharePointDsc/files/2241139/SPSearchTopology-sanitized.log)

[2018-07-31 07:28] johlju commented on #845
I leave it for someone better at the Search Service to see what's going on. But label this as a bug in the meantime.

[2018-07-31 12:36] NikCharlebois commented on #815
@shurick81 the plan is to release 3.0 to the PoSh Gallery the same day SP2019 hits GA. Until then, GitHub will be the main repository.

[2018-08-09 15:58] paololec opened #846 "SPDiagnosticsProvider 'Enabled' is a ReadOnly property"
**Details of the scenario you try and problem that is occurring:**
SPDiagnosticsProvider have incorrect implementation!
The error report: 'Enabled' is a ReadOnly property
I check implementation code and is not correct because get object and try to update the property "Enable" that is read-only.
The right code for enable = $true must be similar at:
$diagnosticProvider | Set-SPDiagnosticsProvider -E

[2018-08-10 08:02] johlju commented on #846
Sounds like a bug. Labeled it as such, and also labeled it 'help wanted' so that anyone in the community can run with it, and send in a PR.

[2018-08-13 07:50] kflamand opened #848 "SPLogLevel - 'High' is not supported or valid for property 'TraceLevel'"
**Details of the scenario you try and problem that is occurring:**

I'm trying to configure Event Throttling with SPLogLevel resource.
It seems "High" value is missing from MSFT_SPLogLevelItem class. Am I missing something?

Error:
SharePointDsc\MSFT_SPLogLevelItem : At least one of the values 'High' is not supported or valid for property 'TraceLevel' on class 'MSFT_SPLogLevelItem'. Please specify

[2018-08-14 12:51] johlju commented on #848
That option is missing in the schema.mof

https://github.com/PowerShell/SharePointDsc/blob/eacaf4f57df1737280730da8c1f378d3cec11045/Modules/SharePointDsc/DSCResources/MSFT_SPLogLevel/MSFT_SPLogLevel.schema.mof#L6

[2018-08-16 10:55] ykuijs commented on #834
Discovered that this issue isn't completely fixed. Have implemented a fix and will submit a new PR

[2018-08-16 13:09] ykuijs opened #849 "SPTrustedIdentityTokenIssuerProviderRealm throws an exception in the Get method"
**Details of the scenario you try and problem that is occurring:**
SPTrustedIdentityTokenIssuerProviderRealm throws an exception in the Get method when the Token Issuer does not exist (line 82). This should be changed to a Verbose message and a Null returning.

This issue is blocking a succesful Test-DscConfiguration run.

**The DSC configuration that is using the resource:**
Any config

**Version

[2018-08-16 13:10] ykuijs commented on #849
Implementing a fix and will submit a PR

[2018-08-17 07:01] ykuijs commented on #839
@MarekSarad This looks like you have an issue with your SharePoint environment unrelated to SharePointDsc. If you can't run the (Get-SPFarm).Servers command from PowerShell, something else is happening in your environment.

[2018-08-17 11:46] ykuijs commented on #562
@NikCharlebois Has this been implemented?

[2018-08-17 11:47] ykuijs commented on #788
@shurick81 Any update on this issue? Is it still occurring?

[2018-08-17 12:07] ykuijs commented on #846
The code was calling the incorrect methods. Have updated the code, which will be included in my next PR

[2018-08-19 18:45] ykuijs commented on #619
@NikCharlebois Do you have an environment available where you can troubleshoot this issue? I have been trying to configure this trust on my test env, but the New-SPTrustedRootAuthority cmdlets keeps giving me errors.

[2018-08-23 07:34] jensotto opened #855 "SPAppCatalog should automatically handle required farm account credentials"
Using SPAppCatalog requires use of the farm account according to the documentation. This will not work as long as the farm account is not member of the local administrators group. This will result in a access denied when trying to execute the resource.

Could the resource implement the same functionality to temporarily add the farm account as local administrator and get the farm account credential

[2018-08-23 08:14] jensotto opened #856 "Update conflict when creating User Profile Service Application"
Creating a new User Profile Service Application when specifying either EnableNetBIOS or NoILMUsed or both results in an update conflict:
Exception calling "Update" with "0" argument(s): "An update conflict has occurred, and you must re-try this action. The object UserProfileApplicati
on Name=User Profile Service Application was updated by <FarmAccount> , in the wsmprovhost (3292) process, on machi

[2018-08-23 08:43] andikrueger commented on #679
@ykuijs I updated my branch for this issue with the latest v3.0 changes and will add unit testing fpr the current changes.
Parts of issue #839 should be fixed by the new  `Get-SPDscLocalVersionInfo` function as we are evaluating the state of a single server and not the farm.

[2018-08-23 12:12] jensotto opened #857 "SPUserProfileServiceApp is unable to set SiteNamingConflictResolution"
**Details of the scenario you try and problem that is occurring:**

SPUserProfileServiceApp does not provide any means of configuring SiteNamingConflictResolution. This is part of the New-SPProfileServiceApplication command, so it should be surfaced into the SPUserProfileServiceApp resource

**The DSC configuration that is using the resource:**

N/A

**Version of the Operating System and PowerShel

[2018-08-25 07:15] ykuijs commented on #834
Closed via PR #850

[2018-08-25 07:15] #834 closed

[2018-08-25 07:15] ykuijs commented on #845
Closed via PR #850

[2018-08-25 07:15] #845 closed

[2018-08-25 07:15] ykuijs commented on #846
Closed via PR #850

[2018-08-25 07:15] #846 closed

[2018-08-25 07:15] ykuijs commented on #848
Closed via PR #850

[2018-08-25 07:15] #848 closed

[2018-08-25 07:15] ykuijs commented on #849
Closed via PR #850

[2018-08-25 07:15] #849 closed

[2018-08-29 12:36] andikrueger opened #858 "SPFarm: CentralAdministrationPort should be configurable"
#### Details of the scenario you tried and the problem that is occurring
Recently I was tasked to changed the central admin port. I tried to use the sp_farm resource, but failed. currently the CentralAdministrationPort will not be checked.

#### Suggested solution to the issue
Add CentralAdministrationPort to the test params and add function to set the central admin port.

#### Version of the DSC

[2018-08-29 14:52] ykuijs commented on #858
Have implemented this. Will be included in my next PR

[2018-08-29 15:20] johlju commented on #855
I'm labeling this as an enhancement, and help wanted so that anyone in the community can pick this up.

[2018-08-29 15:21] johlju commented on #855
@ykuijs please relabel if my conclusion was wrong.

[2018-08-29 15:32] ykuijs commented on #856
Fix will be implemented in my next PR

[2018-08-29 18:17] ykuijs commented on #855
@jensotto Good point, that is what we do in SPUserProfileServiceApp. Wasn't aware that this resource required the farm account as well. Thanks for your suggestion!

[2018-08-29 18:40] ykuijs commented on #855
Implemented, will be included in my next PR

[2018-08-29 19:52] ykuijs commented on #857
Is trying to implement this functionality, however I have a hard time retrieving the configured value. When I run the following code, a value is returned:
`
$ca = Get-SPWebApplication -IncludeCentralAdministration | Where-Object -FilterScript {$_.IsAdministrationWebApplication}
$caSite = $ca.Sites[0]
$serviceContext = Get-SPServiceContext($caSite)
$userProfileManager = New-Object Microsoft.Office.

[2018-08-30 07:00] jensotto commented on #857
@ykuijs I think this is because the values are cached. If you update the User Profile Service Application using the Set-SPProfileServiceApplication SharePoint uses the User Profile Service Application to persist the data. If you use the UserProfileManager SharePoint uses the User Profile Service Application **Proxy** to read and persist the data. The cache is reset only for the object that is used

[2018-08-30 07:05] jensotto commented on #857
An alternative approach could be to use both methods so that both the caches are cleared.

[2018-08-30 07:57] ykuijs commented on #857
Hi @jensotto, I did some further testing and saw that when I restart PowerShell, the code returns the correct value. So you are correct, it is a caching issue.

I then tested updating the value via the UserProfileManager object, it is updated correctly and is returning the correct values!

I will update the code accordingly! Will be included in my next PR.

Thanks for your help!

[2018-08-30 08:06] jensotto commented on #857
Great. Thank you for implementing this so quickly @ykuijs

[2018-08-30 11:06] ykuijs commented on #797
Great idea, have implemented this. Will be included in my next PR.

[2018-08-30 12:38] paololec opened #860 "SPFarm: crash wsmprovhost.exe after now joining to farm at server"
#### Details of the scenario you tried and the problem that is occurring
Try SPFarm resource but it crash wsmprovhost.exe after "now joining to farm at server" (command New-SPConfigurationDatabase)
It's seems not working on remote session!

#### Verbose logs showing the problem
VERBOSE: [Win19SP19Prview]:                            [[SPFarm]DirectResourceAccess] Now joining to farm at server Win19

[2018-08-30 14:09] ykuijs commented on #801
Hi @andikrueger I lost track of this issue, my apologies. I agree with you that we should extend this resource. If a mapping exists in SharePoint, which is not in the MSFT_SPUserProfilePropertyMapping array, we should remove it. That way we make sure the exact array is configured in SharePoint.

[2018-08-30 14:13] ykuijs commented on #860
Hi @paololec What do you mean with "It's seems not working on remote session!"?

Does this mean you tried to run the New-SPConfigurationDatabase cmdlets via PowerShell remoting and that did not work either?

[2018-08-30 14:39] paololec commented on #860
Yes, same command to reproduce the bug using a "New-PSSession" to simulate the DSC:
`
$Credssp_admin = New-Object System.Management.Automation.PSCredential("domainName\spadmin", ("SPpassword19!" | ConvertTo-SecureString -asPlainText -Force))
$s = New-PSSession -ComputerName $env:COMPUTERNAME -Credential $Credssp_admin -Authentication Credssp -SessionOption (New-PSSessionOption -OperationTimeout 0

[2018-08-30 22:45] GabCeb95 opened #861 "Help needed - Facing an issue when trying to install prerequisites"
Hi !! Thanks in advance for any help!

I have been struggling with this error, it is giving me an error with the AddServiceToLocalAdmins piece, as you can see the error says “The user name or password is incorrect” but I already double checked and the credentials are correct, so I am trying to find a way about how to fix this issue…

![error](https://user-images.githubusercontent.com/18234563/4488

[2018-08-31 06:30] johlju commented on #861
The cmdlet `Invoke-SPPLAPreRequisiteDscConfiguration` is not part of this resource module (PLA is a packing of a delivery method?), and it seems the problem you are facing is the Group resource which is not part of this resource module either.
Look from which resource module the Group resource are used, and please submit an issue in that repository to get better help.
For example see https://githu

[2018-08-31 08:17] ykuijs commented on #860
In that case it doesn't look related to SharePointDsc, but is an issue with SharePoint 2019. Did you already report it in the SP2019 support forum?
https://social.technet.microsoft.com/Forums/office/en-US/home?forum=SP2019

[2018-08-31 09:37] ykuijs commented on #860
What build of Windows Server are you using? Build 10.0.17666 isn't 1803, which is build 10.0.17314: https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info

[2018-08-31 09:43] ykuijs commented on #861
PLA is the Product Line Architecture, a delivery of Microsoft Consulting Services (MCS).

Are you deploying SharePoint as part of that delivery? If so, you might ask the consultants delivering this service for help. As Johan suggests, you are having issues with the Group resource, which is not part of SharePointDsc but part of the build in DSC resources.

[2018-08-31 11:52] #797 closed

[2018-08-31 11:52] #829 closed

[2018-08-31 11:52] #855 closed

[2018-08-31 11:52] #856 closed

[2018-08-31 11:52] #857 closed

[2018-08-31 11:52] #858 closed

[2018-08-31 11:54] ykuijs commented on #808
Am on it.

[2018-09-03 09:00] #808 closed

[2018-09-03 12:54] jensotto opened #863 "SPUserProfileServiceApp: Install account needs Full Control on Connection Permissions for User Profile Service Application"
#### Details of the scenario you tried and the problem that is occurring
When running Test-DSCConfiguration or Start-DSCConfiguration with an already present user profile service application, SPUserProfileServiceApp will fail on line 179 https://github.com/PowerShell/SharePointDsc/blob/93619b65b9e18d3a5b5ddbb92184c057276b4880/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileServiceApp/MSFT_SPU

[2018-09-04 06:38] jensotto commented on #863
I guess running as the farm account will not be possible as that account will not be member of the local administrators group. I don't understand why all other service applications has granted local farm full control by default. Only the farm admin and web application service accounts has been granted full control on the user profile service application.

[2018-09-04 09:12] johlju commented on #861
Closing this as another issue has been opened https://github.com/PowerShell/PSDscResources/issues/114

[2018-09-04 09:12] #861 closed

[2018-09-04 12:29] ykuijs commented on #860
This indeed sounds like a OS issue. Did you already report it in the SP2019 forum?

And can you please try to reproduce on a Windows Server 2016 environment?

[2018-09-09 16:42] NikCharlebois opened #867 "SPSearchContentSource"
#### Details of the scenario you tried and the problem that is occurring
There is currently a bug with the Get-SPEnterpriseSearchCrawlContentSource where if a content source is named as a number (e.g. 5001), then using the identity parameter to retrieve the content source will throw an error. TO get around this bug, we should modify the resource to obtain a reference using the Name of the content

[2018-09-11 08:55] #867 closed

[2018-09-11 10:19] paololec commented on #860
I try on Windows Server 2016 and it work fine. The bug is only on "windows server 2019 preview"

[2018-09-11 20:15] NikCharlebois opened #869 "SPSearchResultSource"
#### Details of the scenario you tried and the problem that is occurring
It is possible to define Search Results at the Web level. Those are still being stored in the MSSSource table of the Search Service Application DB, so I wouldn't consider this to be content, but config. The current ressource only deals with Result Sources that belong to the SSA level Owner. To me, a combination of DSC and Con

[2018-09-11 20:17] NikCharlebois commented on #869
@ykuijs we need to brainstorm on how to better approach this. I believe this will have to be a breaking change no matter what. My ultimate goal here is that with a mix ReverseDSC/Forward DSC + Content DB copy, users can replicate their On-premises farm in Azure with full confidence.

[2018-09-12 15:16] NikCharlebois opened #870 "SPSearchResultSource not Working without Global Search Center"
#### Details of the scenario you tried and the problem that is occurring
If no global search center is defined, then the Get-TargetResource method from the SPSearchResultSource resource is not working.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Drop the current way of retrieving the Search Owner (which uses the global search), in favor of:

[code]

#### The DS

[2018-09-12 21:06] viguerre commented on #828
what module version will this fix be available in? 2.5.0.0?  I am still seeing the error in 2.3.0.0.  Thanks!

[2018-09-12 21:08] viguerre commented on #828
oops, never mind, figured it out.

[2018-09-12 22:22] NikCharlebois opened #871 "Wiki Update for SPSearchTopology"
The SPSearchTopology wiki page's first paragraph talks about:

FirstPartitionIndex, FirstPartitionDirectory and FirstPartitionServers

However, only FirstPartitionDirectory exists. Should this be reviewed?

[2018-09-13 07:40] paololec opened #872 "Access Denied Problem with SPAppCatalog : proposal solution"
### Description
To solve the access denied problem with SPAppCatalog and setup account need execute code with high privileges. Using farm account not always resolve problem if need remote connection and farm account is not local admin.

### Proposed properties
fix code with high privileges:
[Microsoft.SharePoint.SPSecurity]::RunWithElevatedPrivileges({
            Update-SPAppCatalogConfiguration

[2018-09-13 09:03] jensotto opened #873 "Latest change in SPUserProfileServiceApp breaks creation of UPSA proxy"
Change from 2.4.0.0 to 2.5.0.0 breaks creation of User Profile Service Application.

The newly created service application is not assigned to the app variable, and therefore line 406 will always fail as $app is $null.

https://github.com/PowerShell/SharePointDsc/blob/402d3d69d4873a4e1ed90b2778b0d20c808f63de/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileServiceApp/MSFT_SPUserProfileServiceAp

[2018-09-13 09:11] johlju commented on #873
Thanks for reporting this. Looks like there is a unit tests not catching this.

[2018-09-13 11:39] jensotto opened #874 "SPSite: Does not create default groups when creating new site"
When creating a new site using SPSite resource default associated groups are not created

#### Suggested solution to the issue

Add step to call site.RootWeb.CreateDefaultAssociatedGroups(string strUserLogin, string strUserLogin2, string strGroupNameSeed)
strUserLogin and strUserLogin2 from parameters, strGroupNameSeed can be null to reuse site title.

Optionally add a parameter to SPSite resource

[2018-09-13 12:57] jensotto opened #875 "SPSite: Owner and Secondary Owner claims issues during Test-DSCConfiguration"
When specifying owner and secondary owner on a site collection in a web application that uses claims authentication it is required to use the encoded claims format (i:0#.w|domain\username)
The test method gets the decoded logon name and compares it to the claims encoded value from the resource. This will not match, and the test fails.

#### Details of the scenario you tried and the problem that is

[2018-09-13 17:41] NikCharlebois commented on #33
@ykuijs Please assign to me. I am working on a Ressource for this.

[2018-09-13 19:48] ykuijs commented on #871
Since the previous release I haven't updated the documentation yet. Thanks for reminding me!

[2018-09-13 20:17] ykuijs commented on #33
All yours!

[2018-09-13 20:47] NikCharlebois commented on #869
Yes, agreed. Since all we can currently do is define SSA level items, setting it as the default value should work just fine. Good call.

[2018-09-14 13:17] ykuijs commented on #873
Will be fixed in my next bugfix PR

[2018-09-14 14:02] ykuijs commented on #871
I have updated the Wiki documentation, but the parameters you are refering to are not in there. I checked the code and schema and they are missing in there as well.

I can see the parameter mentioned in the readme, but no clue where that is coming from. Do you have any idea?

[2018-09-14 14:40] NikCharlebois commented on #871
No idea either, that's what I was trying to flag with this issue. Those are coming out of nowhere :)

[2018-09-14 14:41] ykuijs commented on #871
Ok great, then I will just remove that section ;-)

[2018-09-14 14:44] ykuijs commented on #875
The resource is build in such a way that you can use the classic format and the code does the conversion to claims for you. That is why the claim gets decoded. Eveything should work fine if you use domain\username.

[2018-09-14 14:51] ykuijs commented on #872
Since v2.5 the resource requires the InstallAccount or PsDscRunAsCredential **NOT** to be the farm account. It then retrieves the farm account, temporarily adds it to the local administrators group, runs Update-SPAppCatalogConfiguration and then removes the account from the local administrators group again. This should solve the issue you are describing.

Can you please test using v2.5 if the issu

[2018-09-14 14:56] ykuijs commented on #863
If I understand you correctly, a repro would mean: Creating the service app using User1 and then using DSC to Test or reconfigure using User2. Am I correct?

Would it be a solution to check if the current user has specific permissions on the service app before running any code?

[2018-09-14 16:27] jensotto commented on #863
Creation and test runs as the same user. That user is never granted any permissions for the service application.

Sent from my Windows 10 device

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Friday, September 14, 2018 4:56:20 PM
To: PowerShell/SharePointDsc
Cc: Jens Otto Hatlevold; Author
Subject: Re: [PowerShell/SharePointDsc] SPUserProfileServiceApp: Insta

[2018-09-14 18:58] ykuijs commented on #863
I have reviewed the code: Since the Set method is using the Farm account to create the service app and the Get method uses the setup account to retrieve the information, the scenario I describes is basically what is happening :-)

Investigating the issue now

[2018-09-14 20:42] ykuijs commented on #863
Was able to reproduce the issue and have implemented a fix. Will be included in my next bugfix PR

[2018-09-16 21:43] Bjorn80 opened #877 "rerun of SPSearchServiceApp after initial degreded searchIndexerror gives spesific error"
#### Details of the scenario you tried and the problem that is occurring
Creating the search service application and running the resource block with spadmin (sharepoint setup user) will sometimes result in a degraded index partition. When I then try to remove search application through Central Administration and run the configuration again i get the error shown under.

#### Verbose logs showing th

[2018-09-17 07:06] johlju commented on #877
@Bjorn80 am I understanding you correctly that stripping out the same SPSearchServiceApp configuration from the original configuration, and run that separately works?
If so, it sounds like something that is run before that block is doing something that results in this error?

Do you have anymore information from the ULS logs that can be of some help for the community to figuring out what is causin

[2018-09-17 07:18] Bjorn80 commented on #877
Hi @johlju

`        SPSearchServiceApp SearchServiceApp
        {
            Name                        = "Search Service Application"
            Ensure                      = "Present"
            DatabaseName                = ($ConfigurationData.NonNodeData.SharePoint.DataBasePrefix + "Search")
            ApplicationPool             = $ConfigurationData.NonNodeData.SharePoint.ApplicationPoo

[2018-09-17 07:49] johlju commented on #877
Ah, thank you for the additional information. I'm following you know. Labeling this as question until it is determine if it is a permission problem, bug or enhancement.

/cc @ykuijs @NikCharlebois

[2018-09-17 10:06] jensotto opened #878 "SPTenantCsom: Enable Tenant CSOM functionality"
### Description
Add support for enabling/disabling the Tenant CSOM functionality on SP 2013/SP2016 in accordance to these blog posts:

https://blogs.msdn.microsoft.com/vesku/2015/12/04/sharepoint-tenant-csom-object-support-in-sharepoint-2013-and-2016/
https://blogs.msdn.microsoft.com/vesku/2014/06/09/provisioning-site-collections-using-sp-app-model-in-on-premises-with-just-csom/

### Proposed prop

[2018-09-17 10:22] jensotto opened #879 "SPSelfServiceSiteCreation: Enable self service site creation"
### Description
Enable self service site creation for a web application.

### Proposed properties
WebApplication
QuotaTemplate
StartASiteLink [Hidden|SPWeb|SPSite|Custom]
ParentSiteUrl (Only used if StartASiteLink is set to SPWeb)
CustomFormUrl (Only used if StartASiteLink is set to Custom)
PolicyOption [MustHavePolicy|CanHavePolicy|NotHavePolicy] (Only used if StartASiteLink is set to SPWeb or SP

[2018-09-18 09:14] ykuijs commented on #875
But your example config has the claims values in the Alias parameters. What happens if your try this:

SPSite EniCoMSite
{
Name = "EniCoM"
OwnerAlias = "domain\username";
SecondaryOwnerAlias = "domain\username2";
PsDscRunAsCredential = $SPSetupCredential;
Url = "http://sharepoint";
Language = 1033;
CompatibilityLevel = 15;
Template = "STS#0";
}

[2018-09-18 10:14] jensotto commented on #875
I did get an argument exception last time I tried this. Now it works as expected. Not sure if it could have been because of different versions of Sharepointdsc or if there was an issue with the claims configuration on the server.

[2018-09-18 10:14] #875 closed

[2018-09-18 11:18] jensotto opened #880 "MSFT_SPServiceAppSecurity: Missing access level entries in MSFT_SPServiceAppSecurityEntry"
Access level entries for Managed Metadata Service Application Sharing Permissions are missing in MSFT_SPServiceAppSecurityEntry
#### Details of the scenario you tried and the problem that is occurring
Set sharing permissions on the Managed Metadata Service Application and administration permissions on the user profile service application.

#### Verbose logs showing the problem
SharePointDSC\MSFT_S

[2018-09-18 11:27] jensotto opened #881 "MSFT_SPServiceAppSecurity: Not possible to specify Local Farm"
#### Details of the scenario you tried and the problem that is occurring
There are no way to specify Local Farm when specifying permissions for service applications. This is specified as the ID (Guid) of the local farm.

#### Verbose logs showing the problem
N/A
#### Suggested solution to the issue
Add token to specify Local Farm as username in SPServiceAppSecurityEntry and convert it to $(Get-SPF

[2018-09-18 11:35] jensotto commented on #875
@ykuijs Please reopen this issue. I managed to get the error now. Not sure what is happening, but when I use the suggested method I am unable to connect to the site using PnP PowerShell after configuring with DSC.
I get this error message when running Test-DSCConfiguration:

VERBOSE: [server]: LCM:  [ Start  Test     ]  [[SPSite]Site]
VERBOSE: [server]:                            [[SPSite]Site] Te

[2018-09-18 12:49] ykuijs commented on #880
I think this issue is similar to #825. Am I correct?

[2018-09-18 12:51] jensotto commented on #880
Yes, you are correct. I did not see that one.

[2018-09-19 07:55] jensotto opened #882 "SPWebAppSuiteBar: SuiteBarBrandingElementHtml is supported on SharePoint 2016"
#### Details of the scenario you tried and the problem that is occurring
SuiteBarBrandingElementHtml is supported on SharePoint 2016, but the resource is coded so that it does not allow setting that value and throws an exception.
#### Verbose logs showing the problem
N/A
#### Suggested solution to the issue
Allow setting SuiteBarBrandingElementHtml on SharePoint 2016
#### The DSC configuration tha

[2018-09-19 07:56] jensotto opened #883 "SPWebAppSuiteBar: Does not work"
#### Details of the scenario you tried and the problem that is occurring
This resource will never work as it only cheks for the Ensure value wich is not part of the resource properties.
https://github.com/PowerShell/SharePointDsc/blob/402d3d69d4873a4e1ed90b2778b0d20c808f63de/Modules/SharePointDsc/DSCResources/MSFT_SPWebAppSuiteBar/MSFT_SPWebAppSuiteBar.psm1#L246-L248
#### Verbose logs showing the

[2018-09-19 08:19] ykuijs commented on #880
Closing as duplicate

[2018-09-19 08:19] #880 closed

[2018-09-19 13:05] jensotto opened #884 "SPWebApplicationPropertyBag: Add resource to set web application property bag"
### Description
Add a resource for modifying web application property bag. This could be similar to the existing SPFarmProeprtyBag
### Proposed properties
WebAppUrl: The URL of the web application
Key: The key of the SPWebApplication property bag
Value: Value of the SPWebApplication property bag
Ensure: Set to present to ensure the SPWebApplication property exists, or absent to ensure it is remove

[2018-09-19 13:09] jensotto opened #885 "SPSitePropertyBag: Add resource to set site collection property bag"
### Description
Add a resource for modifying site collection property bag. This could be similar to the existing SPFarmProeprtyBag
### Proposed properties
SiteCollectionUrl: The URL of the site collection
Key: The key of the SPSite property bag
Value: Value of the SPSite property bag
Ensure: Set to present to ensure the SPSite property exists, or absent to ensure it is removed

### Special conside

[2018-09-19 19:57] ykuijs commented on #885
This is indeed a debatable resource. Up until now we have limited ourself to resources that do not go deeper than site collection level (SPWeb is an exception because that was fully developed and submitted as a PR. Was a waste of time not to include it ;-)). Mainly because this can cause conflict with actions of site owners, for example:
A configuration contains a SPWeb resource to create a subsit

[2018-09-19 20:08] ykuijs commented on #882
@jensotto Where did you find that SuiteBarBrandingElementHtml is supported on SP2016?

The property indeed exists in the SPWebApplication class, but looks like it doesn't do anything when setting it. See issue #655 and https://sharepoint.stackexchange.com/questions/177733/sp2016-change-suite-bar for more information.

Of course, this might have changed since. So if you have more info, please share

[2018-09-19 20:10] ykuijs commented on #883
Good spot! This needs to get fixed!

[2018-09-19 20:15] ykuijs commented on #877
Hi @Bjorn80, the issue with using the Farm account is that the farm account needs to have local admin permissions, which is against best practices. Some other resources require the use of the Farm account (like the UPS Service App) and we have implemented a solution there, but the downside of that solution is that it requires CredSSP which can introduce security issues. That is why we would like t

[2018-09-19 20:19] jensotto commented on #882
It orks if I use a masterpage from SharePoint 2013. You are right that it does not affect the SharePoint 2016 standard look. I guess this is done to support upgrades and to provide backwards compatibility.

________________________________
From: Yorick Kuijs <notifications@github.com>
Sent: Wednesday, September 19, 2018 10:09:00 PM
To: PowerShell/SharePointDsc
Cc: Jens Otto Hatlevold; Mention
Subj

[2018-09-20 06:10] jensotto commented on #884
Yes, you're right. Sorry for the duplicate issue.

[2018-09-20 06:10] #884 closed

[2018-09-20 06:12] jensotto commented on #799
@ykuijs I can try start working on this.

[2018-09-20 07:06] ykuijs commented on #799
@jensotto Sure, it is all yours!

[2018-09-20 13:09] ykuijs opened #887 "Running individual tests do not reload changes in resource code"
When you run the Pester test for an individual resource, the test does not reload the resource code. This results in having to restart PowerShell every time you make a change to the resource.

[2018-09-20 13:09] ykuijs commented on #887
Will be fixed in my next Bugfix PR

[2018-09-20 14:04] ykuijs commented on #872
@paololec Were you able to test v2.5 yet?

[2018-09-20 14:16] paololec commented on #872
None, but I resolved with custom script :
$webApp.GrantAccessToProcessIdentity("$env:USERDOMAIN\$env:USERNAME")
because I found that the setup account missing permission for appcatalog configuration and other things related to sites.

[2018-09-20 14:19] ykuijs commented on #872
Ok, in that case closing issue since issue should be resolved with v2.5

[2018-09-20 14:19] #872 closed

[2018-09-20 15:34] ykuijs commented on #883
Closed via PR #888

[2018-09-20 15:34] #883 closed

[2018-09-23 14:13] JoeAlanis opened #891 "MSFT_SPSearchTopology: Issue with Set-TargetResource (Server name is null)"
ISSUE DESCRIPTION:
I am receiving the following error when pushing a Search topology configuration:

#### Details of the scenario you tried and the problem that is occurring
I am using a Push configuration using Partial configuration for both SQL 2017 and SharePoint 2016 onto a single server farm configuration. Server name is SQL1-2016 (localhost). There is a check in the MSFT_SPSearchTopology res

[2018-09-25 09:03] jensotto commented on #878
I'm developing this now. I have a different approach for implementing this than in my initial issue report.

[2018-09-25 10:32] #799 closed

[2018-09-25 18:31] #871 closed

[2018-09-25 18:31] #873 closed

[2018-09-25 18:31] #874 closed

[2018-09-25 18:31] #887 closed

[2018-09-25 18:31] #863 closed

[2018-09-26 08:10] jensotto opened #893 "SPServiceAppSecurity: Unable to specify remote farms"
#### Details of the scenario you tried and the problem that is occurring
It might not be possible to specify remote farms for this resource. It has not been tested as no environment is available to do so, but based on the implementation details there is no code paths that will work when specifying a remote farm as Member

#### Verbose logs showing the problem
N/A

#### Suggested solution to the is

[2018-09-26 09:45] #881 closed

[2018-09-26 09:51] ykuijs commented on #882
In that case we can remove the check for SP2013 for the SuiteBarBrandingElementHtml property.

We should however add this to documentation and logging:
- Add a verbose message notifying that this is only used when using a SP2013 masterpage
- Add info to the readme stating the same

[2018-09-26 10:01] jensotto commented on #882
I agree.

[2018-09-27 17:33] ykuijs commented on #33
Implemented in PR #876

[2018-09-27 17:33] #33 closed

[2018-09-27 19:57] viguerre opened #894 "MSFT_SPInstallPrereqs .NET 4.6 error"
#### Details of the scenario you tried and the problem that is occurring
SPInstallPrereqs .NET 4.6 issue
#### Verbose logs showing the problem
 PowerShell DSC resource MSFT_SPInstallPrereqs  failed to execute Set-TargetResource functionality with error message: A known issue prevents installation of SharePoint 2013 on servers that have .NET 4.6 already
installed. See details at https://support.mic

[2018-09-28 01:35] viguerre commented on #894
NVM! I had my script pointing to the wrong path!  I need to sleep... :-)

[2018-09-28 01:36] #894 closed

[2018-09-28 08:14] HeKr09 opened #895 "SPSearchServiceApp: Missing SearchAlert Property"
#### Details of the scenario you tried and the problem that is occurring
It is not possible to set the search alert state within the SPSearchServiceApp. Actually I did not find any other ressource that includes that property.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Implement a search alert property. As used in our project:
[code]

#### The DSC configuration

[2018-09-28 08:27] HeKr09 opened #896 "SPIncomingEmailSettings: Incoming email settings"
### Description
The incoming mail settings are not implemented right now. We had to within a project.
### Proposed properties
Ensure (Supposed to use as Enabled-value) [true|false]
UseAutomaticSettings [true|false]
UseDirectoryManagementService [true|false]
RemoteDirectoryManagementService [true|false]
ServerAddress
DLsRequireAuthenticatedSenders [true|false]
DistributionGroupsEnabled [true|false]

[2018-09-28 09:32] ykuijs commented on #885
@NikCharlebois Am interested in your opinion on this resource suggestion.

[2018-09-28 10:56] HeKr09 opened #897 "SPManagedMetaDataServiceApp: ContentType properties missing"
#### Details of the scenario you tried and the problem that is occurring
The properties _IsContentTypePushdownEnabled_ and _IsNPContentTypeSyndicationEnabled_ are not implemented right now.
#### Verbose logs showing the problem
N/A
#### Suggested solution to the issue
Implement the features. We implemented it as followed.
#### The DSC configuration that is used to reproduce the issue (as detailed

[2018-09-28 11:33] andikrueger commented on #897
I think these settings are specific to one `SPMetadataServiceApplicationProxy`. To reflect these additions these changes should be made to the `SPManagedMetadataServiceApp` Resource.

[2018-09-28 12:24] ykuijs opened #898 "SPSite: Exception calling "CreateDefaultAssociatedGroups" with "3" argument(s): "Access is denied."
When creating a new site collection using SPSite, if you don't have permissions on the site collection or web app policy, you are presented the following error:
Exception calling "CreateDefaultAssociatedGroups" with "3" argument(s): "Access is denied.

#### Details of the scenario you tried and the problem that is occurring
This is caused by recent submissions. We will have to correct it

#### Ver

[2018-09-30 18:30] viguerre commented on #898
good afternoon Yorik,

I added the setup account as an sca to mysite host site collection and also gave it full permissions in web application policy and im still getting a false configuration for SPSite.  Any recommendations?  Thanks!

[2018-10-01 12:29] NikCharlebois commented on #885
I am also on the fence for whether or not it makes sense to include it. I have always been against using DSC for data (basically anything that you don't need Central Admin to create). However, from a ReverseDSC perspective where you wish to recreate an empty copy of an existing farm, but do not plan on bring the content databases over, it makes a lot of sense. Because of this scenario, I'd say it

[2018-10-02 14:34] viguerre commented on #898
Added setup account to webapp per Yorik's explanation and it works! no more false configurations.

[2018-10-03 11:39] jensotto opened #901 "Implement usage of Strict Mode in resources"
I think we should add Set-StrictMode with either version 1 or 2 to resources.  This will make it easier to discover usage of uninitialized variables, references to non-existent properties of an object, function calls that use the syntax for calling methods, and variable without a name.
I have seen issues in some of the resources that possibly would have been discovered by setting strict mode.
Stri

[2018-10-03 17:31] #878 closed

[2018-10-05 09:16] ykuijs commented on #901
The impact of adding this can be quite big, since this might reveal issues in the code which was no problem before and after enabling this will start throwing errors. So this needs to get tested thoroughly.

Unused variables are indeed covered by the PSScriptAnalyzer, but I believe StrictMode does more.

@NikCharlebois What is your opinion in this?

[2018-10-05 09:54] paololec opened #902 "SPUserProfileSyncConnection facoltative IncludedOUs and allow specify LDAPfilter"
### Description
In SPUserProfileSyncConnection please set facoltative IncludedOUs, I want retrieve all domain/container and set only LDAFilter.

### Proposed properties
Add LDAFilter options and set facoltative IncludedOUs to select all
### Special considerations or limitations

[2018-10-05 10:45] ykuijs commented on #902
Hi @paololec Unfortunately the SharePoint Object Model doesn't allow to programmatically configure the LADP Filter. This has also been discussed in #766

[2018-10-05 10:47] ykuijs commented on #897
@andikrueger is right, this needs to be implemented in SPManagedMetadataServiceApp instead. Marked it as Enhancement, so someone can pick this up

[2018-10-05 10:47] ykuijs commented on #896
All yours @MikeLacher448

[2018-10-05 10:49] johlju commented on #901
One thing that strict mode does is that each variable must be declared before being used. That is probably the biggest thing (that I can think of) that will add to the technical debt and need to be resolved in all of the code.  :thinking:

[2018-10-05 10:51] ykuijs commented on #885
There is no UI for configuring these settings anywhere, not in Central Admin nor in a Site Collection. That is why I am in favor of adding this resource.

Let's go for it! Marking it as "Help Wanted"

[2018-10-05 10:53] ykuijs commented on #891
Hi @JoeAlanis You mention that there is a check in the code that is causing this. Have you been able to determine exactly which check that is? That would make troubleshooting a whole lot easier ;-)

[2018-10-05 10:57] ykuijs commented on #860
Closing this issue since it is not SharePointDsc related

[2018-10-05 10:57] #860 closed

[2018-10-05 11:00] ykuijs commented on #788
Closing issue due to lack of response. Please reopen the issue if it is still relevant

[2018-10-05 11:00] #788 closed

[2018-10-05 12:00] andikrueger commented on #897
I'm on it.

[2018-10-05 12:05] paololec commented on #902
With some hack and reflection I can do it :-)
 # Updating Ldap filter by using reflection
    $displayName = "ConnectionName"
    $site = "http://centraladmin:2016"
    $ldapFilter = "(|(&(objectCategory=person)(objectClass=user)(!userAccountControl:1.2.840.113556.1.4.803:=2))(objectcategory=group))"

    $serviceContext = Get-SPServiceContext -Site $Site
    $userProfileConfigManager = New-Object

[2018-10-05 14:15] ykuijs commented on #897
All yours @andikrueger

[2018-10-05 14:38] paololec commented on #562
Please also add "ShowStartASiteMenuItem" (true/false) into SPWebAppGeneralSettings if possible.

[2018-10-07 19:00] ykuijs commented on #801
Hi @andikrueger Since this is a breaking change, I would like to include this in the v3.0 release (we only release breaking changes in major releases).

That version is planned to be released shortly after the release of SharePoint 2019, which is planned for later this month. Would it be possible to submit this PR at short notice, so we can have it included with v3.0?

[2018-10-08 08:52] #898 closed

[2018-10-08 08:55] ykuijs commented on #901
Just a thought:
Isn't the Utils module a good place to add the StrictMode cmdlet. Since that is automatically loaded when importing the module, it is automatically loaded for all resources. Am I right?

[2018-10-08 09:01] jensotto commented on #901
I don't think that will work as strict mode only works on the current scope and any child scopes.

[2018-10-08 10:58] andikrueger commented on #801
I will see what I can do. The Get-Method and Set-Methods are close to ready. I think the testing will be troublesome and needs additional integration tests.

[2018-10-08 11:07] johlju commented on #901
But if the helper functions in "Util" are tested in unit tests then it should apply? If Strict mode is applied, will the unit tests start to fail (so we see it makes a difference)? 🤔

[2018-10-08 15:27] paololec opened #906 "SPSearchContentSource: fullSchedule missing StartHour"
#### Details of the scenario you tried and the problem that is occurring
I try:
 FullSchedule         = MSFT_SPSearchCrawlSchedule{
                                        ScheduleType = "Weekly"
                                        CrawlScheduleDaysOfWeek = @("Sunday")
                                        StartHour = "1"
                                        StartMinute = "0"

[2018-10-08 15:57] paololec commented on #906
After investigation, the right parameter missing is: CrawlScheduleStartDateTime

[2018-10-09 07:29] paololec commented on #906
To fix add property as string "CrawlScheduleStartDateTime" to the code.
(example for dsc property: CrawlScheduleStartDateTime = "01:00" )

Need to add into MSFT_SPSearcContentSource.psm1:
$propertyTest = Test-SPDSCObjectHasProperty -Object $params.FullSchedule `
                                                            -PropertyName "CrawlScheduleStartDateTime"
                if ($propertyTest

[2018-10-09 10:37] andikrueger commented on #801
I will push my changes to this [branch](https://github.com/andikrueger/SharePointDsc/tree/issue-801-v3.0). Currently I need to setup a new test environment with a minimum of two connections - doh!

[2018-10-09 11:19] NikCharlebois commented on #901
@ykuijs to me it is just common sense for us to use StrictMode v2.0. We are trying to encourage contributors to follow best practices, and want to make our code as clean as possible. Anything additional quality gates we can have in there the better if you ask me. Now, we would need to do a quick test run to see what the impact would be on all existing resources, but I am all in favor of using it.

[2018-10-09 12:00] johlju commented on #901
I think it would be better to enable strict mode in the test framework (the function that is run in each test, see test template in DscResource repo). Or, add it to a separate row in each test or/and code script file.
Otherwise the script mode would not be enabled when running the tests locally.

[2018-10-10 15:24] paoIpao opened #908 "SPInstallPrereqs: Microsoft Visual C++ 2017 x64 Additional Runtime wrong check for SP2019"
#### Details of the scenario you tried and the problem that is occurring
SPInstallPrereqs for SP2019 check test search for:
Microsoft Visual C++ 2017 x64 Additional Runtime - 14.14.*
and it return false because the installed version is Microsoft Visual C++ 2017 x64 Additional Runtime - 14.13.26020

#### Verbose logs showing the problem

#### Suggested solution to the issue
Please check for "Micros

[2018-10-11 13:18] andikrueger commented on #679
I'm done with integration testing on SharePoint Server 2016 - Why are SharePoint update THAT time consuming?

The updated mechanism does a great job. It's possible to leave all prior SPProductUpdates and SPInstallLanguagePack Resources in a configuration :-)

Please find attached my test configuration and the log of the DSC configuration.
[SPProductUpdateTestConfiguration.txt](https://github.com/P

[2018-10-11 19:22] ronx opened #910 "Better support for provisioning Central Administration with SSL?"
Hey guys, I wanted to run something by you. When provisioning Central Admin with SSL, we're still only supporting the SP2013 (and earlier) method -- create CA on another port, use PowerShell to enable SSL on CA and set port to 443 (or whatever), update bindings, update AAM's... a while back, I had submitted a PR with a change to MSFT_SPAlternateUrl to bridge the gap when trying to use DSC to provi

[2018-10-11 19:38] andikrueger commented on #910
This is great input!

If we would implement the -SecureSocektsLayer (see: [New-SPCentralAdministration](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spcentraladministration?view=sharepoint-ps#optional-parameters)) param, there would still be the need to set the certificate manually or by xWebAdministration. It would be great to have further guidance or a Wiki-Page, that

[2018-10-12 19:52] ronx commented on #910
We have a solution that automates the distribution of certificates and performs the bindings. It's part of a managed IP offering that's designed to be delivered as part of an end-to-end SharePoint planning and delivery engagement. However, I don't think it would be irresponsible to pull out example code to create a guidance wiki page here to suggest how this could be done with DSC.

I think the ad

[2018-10-12 20:19] ykuijs commented on #583
All, I have given the [wiki article](https://github.com/PowerShell/SharePointDsc/wiki/Contributing%20to%20SharePointDsc) a major update this afternoon.

@ronx, @andikrueger: Can you please review the new article and let me know what you think of this and if you think anything is missing?

[2018-10-12 20:20] ykuijs commented on #902
Closing this issue, since this can't be implemented due to lack of support in SharePoint

[2018-10-12 20:20] #902 closed

[2018-10-15 02:28] bminisi opened #912 "SPFarm: The term 'Get-SPDSCInstalledProductVersion' is not recognized as the name of a cmdlet, function, script file"
this is the same issue as #678.  I ran this same configuration script on an Azure VM on Win 2012 R2 and it works with SharePoint 2013.  I am now trying to run in on the same OS version for an on-premise VM.  This configuration starts with a Sql Server install/configuration and that works without a problem.

Issue #678 details exactly what I am experiencing.  I can run the product version cmdlet wi

[2018-10-15 08:56] SvenLauterbach commented on #663
Hi,

I'm having the same issue, but can't find the cause of this error in my config.

[code]

**The DSC configuration that is using the resource:**
https://gist.github.com/SvenLauterbach/34d9bd86cd58d134d975574f273ff4e3

The output of the requested command:

[code]

**Version of the Operating System and PowerShell the DSC Target Node is running:**
WIN2012R2
5.1.14409.1012

**Version of the DSC mod

[2018-10-15 10:55] SvenLauterbach commented on #663
@NikCharlebois should I open a new Issue?

[2018-10-15 10:58] ykuijs commented on #869
Closed via PR #909

[2018-10-15 10:58] #869 closed

[2018-10-15 17:46] ronx commented on #583
I've started making some edits on the fly -- mostly punctuation, but some restructuring for clarity. If you would rather I fork the wiki, make all edits "offline", and then submit a PR for the wiki, let me know ASAP ;).

Of course, anything more involved than simple edits, I'll bring it up here first.

[2018-10-16 07:09] andikrueger commented on #583
@ykuijs Awesome work on that wiki page!!! It's great addition to get started with SharePointDsc development!

Just a few minor additions to make the process on getting started easier:

The section [Test your changes on a SharePoint test environment](https://github.com/PowerShell/SharePointDsc/wiki/Contributing%20to%20SharePointDsc#test-your-changes-on-a-sharepoint-test-environment) should have a l

[2018-10-16 19:09] NikCharlebois opened #917 "SPFarm: Issue Starting Central Admin Service on Farms not english"
#### Details of the scenario you tried and the problem that is occurring
A client of mine is deploying a Farm in French, and is getting an error complaining that Service Instance "Central Administration" doesn't exist on the server when specifying RunCentralAdmin=$True. Their service is actually called "Administration Centrale".

#### Verbose logs showing the problem

#### Suggested solution to th

[2018-10-16 19:58] NikCharlebois opened #918 "Breaking Change - SPSearchResultSource: Make ScopeURL a Key"
#### Details of the scenario you tried and the problem that is occurring
I have a client that redefines the same Result Source (named Promotions), on several Site Collection. Problem is that with the current resource, only the name is defined as a key, causing the configuration to throw errors about duplicate resource definitions. We need to make ScopeURL a key to allow for this scenario.

#### Ve

[2018-10-16 19:58] NikCharlebois commented on #918
@ykuijs we discussed this in the past, but there is just no way around it, this needs to be a breaking change

[2018-10-16 22:32] NikCharlebois commented on #918
To add to the challenge, the client's installation is in French, and the ProviderType is listed in French:
Fournisseur de favoris personnels
Fournisseur de meilleurs résultats
Fournisseur de recherche Exchange
Fournisseur distant de personnes
Fournisseur local de personnes
Fournisseur SharePoint distant
Fournisseur SharePoint local
Moteur OpenSearch

Which are rejected by the resource.

[2018-10-16 22:37] NikCharlebois opened #920 "SPSearchResultSource - Issue with Non-English environments"
#### Details of the scenario you tried and the problem that is occurring
For environments in other languages than English, the result source providers are in a different language. For example, with a French installation, the providers are:

- Fournisseur de favoris personnels
- Fournisseur de meilleurs résultats
- Fournisseur de recherche Exchange
- Fournisseur distant de personnes
- Fournisseur l

[2018-10-16 22:38] NikCharlebois commented on #918
Reported the second issue (about French provider name) as a separate Issue
Issue #920

[2018-10-17 16:00] NikCharlebois opened #921 "New Resource: SPSearchCrawledProperty"
### Description
While this could be considered content, I believe it is important to include the option to modify or create Crawled Properties via DSC. I recently ran into an issue where a client was trying to replicate a Prod farm in Dev, and had extracted all the SPSearchManagedProperty from his production farm, but several of them were mapped to Crawled properties that did not yet exist on the

[2018-10-17 18:55] NikCharlebois opened #923 "Resources that use TypeName for Service Instance: Not working for non-english environments"
#### Details of the scenario you tried and the problem that is occurring
The SPBlobCacheSettings resource tries to retrieve and configure the blob cache, only if the "Microsoft SharePoint Foundation Web Application" service is started on the server. However, we should use TypeName to determine if a service is started or not since it is culture dependent. E.g. my client has a French SharePoint envi

[2018-10-17 19:28] viguerre commented on #891
Good afternoon,

I am also getting this same error on a sharepoint server 2013 farm with one sharepoint server and one sql server.  Thank You!

SPSearchTopology FarmSearchTopology{
   ServiceAppName = 'Search Service Application'
   Admin = 'sp-app-01'
   Crawler  = 'sp-app-01'
   ContentProcessing = 'sp-app-01'
   AnalyticsProcessing = 'sp-app-01'
   QueryProcessing = 'sp-app-01'
   IndexPartitio

[2018-10-17 20:29] ykuijs commented on #912
Hi @bminisi Can you share you config and verbose logging?

[2018-10-17 20:34] ykuijs commented on #908
We have detected this issue as well and are working on fixing this

[2018-10-17 20:47] ykuijs commented on #663
Hi @SvenLauterbach I will reopen this issue, so we can start investigating the issue.

[2018-10-17 20:56] ykuijs commented on #663
This looks like a timing or scope issue: Either the nested modules are not yet loaded when the resource code is executing or the nested module is loaded in a different scope. Will have to think about a method to tackle this issue. Maybe you can use test with a config that just contains the SPInstallPrereqs resource and see if the issue occurs then. If so, start debugging the resource using this me

[2018-10-18 08:37] Yvand opened #924 "SPUserProfileServiceApp: does not execute New-SPProfileServiceApplicationProxy"
#### Details of the scenario you tried and the problem that is occurring

The code in Set-TargetResource of resource SPUserProfileServiceApp is flawed, current logic never executes New-SPProfileServiceApplicationProxy:

[code]

#### Verbose logs showing the problem

There is nothing specific in the logs, cmdlet New-SPProfileServiceApplicationProxy is just never called

#### Suggested solution to t

[2018-10-18 08:54] ykuijs commented on #924
Hi @Yvand This issue was already submitted in #873 and fixed in the current Dev branch. Can you please take that code and retest to see if your issue is indeed fixed?

[2018-10-18 11:13] #897 closed

[2018-10-18 13:09] NikCharlebois opened #925 "SPSearchTopology: FirstPartitionDirectory issue"
#### Details of the scenario you tried and the problem that is occurring
The Get-TargetResource of the SPSearchTopology Resource returns the property FirstPartitionDirectory as a string, however it is supposed to be an array. This causes an issue the moment two folders are specified. We need to change the logic to only return the first item.

#### Verbose logs showing the problem
N/A

#### Suggest

[2018-10-18 15:57] NikCharlebois opened #926 "SPUserProfileSyncConnectionFilter"
### Description
We currently don't have a way to speficy UPS Sync connection filters. This is something required by many clients.

### Proposed properties
Need to investigate this further

### Special considerations or limitations
Filter options may be different if the connection is AD or BCS

[2018-10-18 16:01] NikCharlebois commented on #926
Closed as duplicate

[2018-10-18 16:01] #926 closed

[2018-10-18 18:18] #879 closed

[2018-10-18 18:19] ykuijs commented on #924
Exactly what did you want to implement as well? Maybe I can implement it in another PR.

Or you can pick up another issue and at the same time implement your suggestions as well ;-)

[2018-10-18 20:43] bminisi commented on #912
Here is the configuration file.  This is only showing up to the area where it fails.

[DevMachineSetup.ps1.txt](https://github.com/PowerShell/SharePointDsc/files/2493490/DevMachineSetup.ps1.txt)

I also attached the Configuration Status file.

[{38BA9962-D313-11E8-810F-0050569928CE}-0.details.json.txt](https://github.com/PowerShell/SharePointDsc/files/2493546/38BA9962-D313-11E8-810F-0050569928CE.-

[2018-10-19 09:43] Yvand commented on #924
My PR was to fix exactly the same thing, but my code change simplifies slightly the code.
Compared with dev branch, I would replace this:

[code]

with this:

[code]

So it's a pretty minor change but I'm fine to submit a PR for this if you think it's worth it.

[2018-10-19 12:45] NikCharlebois opened #929 "SPUserProfileSyncService: Get-TargetResource Discussions"
@ykuijs I'd appreciate your feedback on this buddy.

ReverseDSC is all about making calls to the Get-TargetResource methods with Fake data, in order to retrieve the true values and then call the Set-TargetResource methods properly. Now, I understand that in order to start the UserProfileSyncService, we can't use the Farm Account, and the SET method should prevent users from doing so. However, I wo

[2018-10-19 15:14] MikeLacher448 commented on #896
should have something ready for review next week

[2018-10-19 15:32] JoeAlanis commented on #891
Hi @ykuijs, I suspect that it's in the Set-TargetResource lines 258-265. I don't think it's catching that it is null.

[2018-10-22 13:42] IlleNilsson opened #932 "SPSite: Primary, Secondary & additional Site Collection Administrators problem"
#### Details of the scenario you tried and the problem that is occurring
When DSC sets up an SPSite with a Primary and Secondary Site Collection administrator all works well.

But if one add additional Site Collection administrators via:

Get-SPSite | % { Get-SPWeb -Identity $_.Url } | % { **(New-SPUser -Web $_.Url "<DOMAIN\USER>" -SiteCollectionAdmin:$True).Update()** }

Then in CA it shows the a

[2018-10-22 17:30] #917 closed

[2018-10-23 07:28] ykuijs opened #935 "SPManagedMetadataServiceApp: ServiceApp proxy not created when it does not exist"
#### Details of the scenario you tried and the problem that is occurring
When the service app proxy of the MMS service app doesn't exist, doesn't this resource create it. The Test-TargetMethod does not test on proxy name.

#### Verbose logs showing the problem
Due to an issue the service app proxy wasn't created. All consecutive runs did not create the proxy.

#### Suggested solution to the issue

[2018-10-23 07:30] ykuijs opened #936 "SPManagedMetadataServiceApp: Get method throws error when proxy doesn't exist"
#### Details of the scenario you tried and the problem that is occurring
When the service app proxy doesn't exist, the Get method throws an error on line 165:
$termStore = $session.TermStores[$proxyName]

This is because the $proxyName is set to $null

#### Verbose logs showing the problem

#### Suggested solution to the issue
Check for null

#### The DSC configuration that is used to reproduce th

[2018-10-23 07:31] ykuijs opened #937 "SPSearchContentSource: If a duplicate start address is specified, the content source isn't throwing an error"
#### Details of the scenario you tried and the problem that is occurring
If a duplicate start address is specified, the content source cannot be created. The code displays an error, but continues execution.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Throw an error and stop processing

#### The DSC configuration that is used to reproduce the issue (as detailed as p

[2018-10-23 07:37] ykuijs opened #939 "SPUserProfileSyncConnection: IncludedOUs and ExcludedOUs cannot be tested properly when they are empty"
#### Details of the scenario you tried and the problem that is occurring
When IncludedOUs and ExcludedOUs are empty, the code returns a null value. This is causing errors when comparing the values against the config values in the Test method.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Force the return of an array, so the Test method is able to compare arrays

####

[2018-10-23 08:04] andikrueger commented on #936
Maybe this issue can be resolved by using something similar to these lines of code. https://github.com/PowerShell/SharePointDsc/blob/a38a1e2455b93d77980654922edb5a6a83b6fca2/Modules/SharePointDsc/DSCResources/MSFT_SPManagedMetadataServiceApp/MSFT_SPManagedMetaDataServiceApp.psm1#L105-L114

I think we need to fix the set method too: https://github.com/PowerShell/SharePointDsc/blob/a38a1e2455b93d779

[2018-10-23 08:05] ykuijs commented on #936
@andikrueger That is what I am implementing! Thanks for the suggestion!

[2018-10-23 08:13] andikrueger commented on #935
Adding issue #936 as they are related.

[2018-10-23 19:00] ykuijs commented on #929
The issue is that when not using the Farm account, the code can throw errors because of missing permissions. Where with other resources we write a verbose message and continue execution, with these resources we can run into these permission issues.

An alternative would be to use the Verbose message and always return null values when not using the Farm account. Would that be a solution?

[2018-10-23 19:12] ykuijs commented on #583
@andikrueger Great additions, I have updated the article!

@ronx Since the Wiki has its own repo, forking that and submitting a PR is a bit of a hassle, so please go ahead.

[2018-10-23 19:17] ykuijs commented on #891
Are you using both short names and FQDNs in the same config?

[2018-10-23 19:56] SvenLauterbach commented on #663
Removing everything from the config except the SPInstallPrereqs works, is there some kind of workaround for timing/scope issues?

[2018-10-23 21:28] IlleNilsson commented on #932
How can I help?

[2018-10-24 07:35] #935 closed

[2018-10-24 07:35] #936 closed

[2018-10-24 07:35] #937 closed

[2018-10-24 07:35] #939 closed

[2018-10-24 18:36] jacostero commented on #877
Hi all,
maybe this information can help. When I create the Search Service Application with the $SPSetupCred (sysadmin on SQL Server Instance and local admin in SharePoint servers) the dbowner of Search Databases is $SPSetupCred instead $SPfarmCred (only local admin in SharePoint servers during configuration and non sysadmin on SQL Server Instance) and I have errors in SharePoint Logs related to da

[2018-10-25 14:12] Yvand opened #945 "SPTrustedRootAuthority: Need to add possibility to get the certificate from a file path, as an alternative to its thumbprint, as done in resource SPTrustedIdentityTokenIssuer"
#### Details of the scenario you tried and the problem that is occurring

If the certificate is generated in DSC configuration, its thumbprint is unknown at design time so we cannot use it.
The alternative is to use a file path to the public key of the certificate, as done in resource SPTrustedIdentityTokenIssuer.

[2018-10-25 18:55] ykuijs commented on #925
@NikCharlebois Was this issue fixed in PR #928?

[2018-10-25 19:01] ykuijs commented on #924
What is the idea behind your proposed changes? For example the removal of the "if ($null -ne $app)" statement?

And the removal of the last Get-SPServiceApplication command? When the service app is changed in the lines before this statement, reusing the earlier created $app variable can result in errors. By calling the Get-SPServiceApplication, the $app is reinitialized.

[2018-10-25 19:50] NikCharlebois opened #946 "Identify Resources that Require CredSSP in the Documentation"
For future consideration, just like we now identify the category of resource (e.g. Distributed, Utility, etc.), we could identify right from the main list of resources which one require CredSSP. I know for sure that will help many of my customers.

[2018-10-25 19:51] NikCharlebois commented on #925
Yes it was. Closing the Issue

[2018-10-25 19:51] #925 closed

[2018-10-25 20:12] ykuijs commented on #946
Great idea! Lets add that once we have some time after the release of v3.0 :-)

[2018-10-26 08:32] Yvand commented on #924
This test looks useless to me:
https://github.com/PowerShell/SharePointDsc/blob/88802efdeab51171182d1df58b53cfcdb99253e1/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileServiceApp/MSFT_SPUserProfileServiceApp.psm1#L409-L414
For 2 reasons:

- if New-SPProfileServiceApplication returns $null, it's so bad that we should just throw an exception
- If $app is actually null, in current logic a NullR

[2018-10-26 14:38] shurick81 commented on #863
I tested this one in 2.6 version of the DSC and it seems to be still the issue...

[2018-10-27 22:00] shurick81 commented on #863
It could be a false test, because after refreshing enviroment now it works fine

[2018-10-29 19:38] ykuijs commented on #663
@SvenLauterbach Are you using the DependsOn parameters? Can you share your config? Can you try to add the resources one by one back into your config and try again? I am wondering if there is a specific resource that triggers this issue or maybe a certain number of resources?

Haven't seen this type of issue before, so not sure what we can do to troubleshoot the issue.

[2018-10-29 19:40] ykuijs commented on #932
Hi @IlleNilsson I am not exactly sure what you are doing and when things break. Can you elaborate a little more please?

[2018-10-31 12:06] ykuijs commented on #923
Not fully fixed, needs some more work

[2018-10-31 13:24] philippe-entringer opened #947 "SPUserProfileServiceApp: Argument Rights not valid"
#### Details of the scenario you tried and the problem that is occurring
On a french OS, the resource SPUserProfileServiceApp throw an Error because of the Argument "Rights".

#### Verbose logs showing the problem
[[SPUserProfileServiceApp]APPLICATION_SpsSvcAppUserProfileServiceApp] Méthode EndProcessing de sortie de
New-SPProfileServiceApplication.
L’argument Rights n’est pas valide. Les valeurs

[2018-10-31 22:11] shurick81 commented on #815
Hello colleagues, is there any updates regarding the schedule for 3.0 version?

[2018-11-01 08:32] ykuijs commented on #815
Hi @shurick81, we are in the final stages of testing v3.0 with SP2019. I expect the release to happen soon.

[2018-11-01 12:01] ykuijs commented on #918
Closed via PR #930

[2018-11-01 12:01] #918 closed

[2018-11-02 09:24] #908 closed, assigned to nobody

[2018-11-02 09:26] ykuijs opened #950 "Removing deprecated resources SPCreateFarm and SPJoinFarm in v3.0 release"
Since the SPCreateFarm and SPJoinFarm resources were deprecated in v2.0, they should be removed in the upcoming v3.0 release.

[2018-11-02 12:32] ykuijs opened #951 "SPSearchServiceApp: Proxy not created during subsequent runs when creation initially failed"
#### Details of the scenario you tried and the problem that is occurring
When creation of the Service App proxy fails during creation of the service app, the resource does not create the proxy at a later stage. This means the service app cannot be used properly.

#### Verbose logs showing the problem
There are not entries in the log that indicates this issue.

#### Suggested solution to the issue

[2018-11-02 12:33] ykuijs commented on #951
Implementing a fix, will submit a PR shortly

[2018-11-02 12:47] ykuijs commented on #929
Have been thinking a little more about this issue, but SPUserProfileSyncService requires the specified InstallAccount or PsDscRunAsCredential NOT to be the Farm account. The code retrieves the farm account from the Managed Accounts and impersonates this account in the Set method. The Get method however uses the specified account (Install or RunAs).

Based on this, I am not sure what the issue is y

[2018-11-02 13:04] ykuijs commented on #924
Totally agree. Have implemented a fix and will submit the PR shortly.

[2018-11-02 14:01] ykuijs commented on #870
@NikCharlebois Has this been implemented in your PR for SPSearchResultSource?

[2018-11-02 17:49] NikCharlebois commented on #870
@ykuijs , no it's still an ongoing issue.

[2018-11-02 17:52] #924 closed

[2018-11-02 17:52] #946 closed

[2018-11-02 17:52] #950 closed

[2018-11-02 17:52] #951 closed

[2018-11-02 21:28] ykuijs commented on #870
What is the difference between your suggested solution and the currently implemented code:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPSearchResultSource/MSFT_SPSearchResultSource.psm1#L80-L95

[2018-11-02 23:11] ykuijs commented on #906
Hi @paololec Have you tested this with other ScheduleTypes? Daily for example?

I have checked the code and see that the StartHour should be configured:
https://github.com/PowerShell/SharePointDsc/blob/dev/Modules/SharePointDsc/DSCResources/MSFT_SPSearchContentSource/MSFT_SPSearchContentSource.psm1#L676-L682

[2018-11-03 10:27] andikrueger opened #953 "SPUserProfileProperty: Get-Method only returns mapping connection for AD Sync (SP2013) and not AD Import"
#### Details of the scenario you tried and the problem that is occurring
Working on issue #801 I stumbled over these lines of code:

https://github.com/PowerShell/SharePointDsc/blob/cb695431c3bed2d49f1f4836fa3a0b0c611ccbb7/Modules/SharePointDsc/DSCResources/MSFT_SPUserProfileProperty/MSFT_SPUserProfileProperty.psm1#L183-L201

Is there any chance, that the current implementation did only work with

[2018-11-03 18:36] andikrueger opened #955 "Discussion: SharePointDSC with non-englisch systems or ISOs"
Lately there are a few issues focusing on localization troubles with non-english OSs or SharePoint installs - they are more or less related to #665.

The following issues are related to language issues or use ValueMaps, that will fail with non-english SharePoint setups (tbc.)

- #954 with #825 (seems to be the most challenging)
- #923
- #922
- #920
- #947

Do we have a chance to switch to internal

[2018-11-05 08:44] jensotto commented on #955
Wouldn't it work to do something like this:

$culture = [System.Globalization.CultureInfo]::InvariantCulture
[System.Threading.Thread]::CurrentThread.CurrentUICulture = $culture
$security = Get-SPServiceApplication | Get-SPServiceApplicationSecurity -Admin
$security

This way I get out everything in US English on a Norwegian installation of SharePoint and Windows Server (Norwegian language packs a

[2018-11-05 08:53] jensotto commented on #955
If you want to test this you can't execute the lines one by one. It must be all executed simultaneously for example inside a function.

[2018-11-05 09:17] andikrueger commented on #955
I'm curious if this would work regardless of any english language pack available.

Like I mentioned in  https://github.com/PowerShell/SharePointDsc/issues/665#issue-269391450 some settings require to be set in the language the product was installed in. If we could find a way to map these values to english we would have solved several language/localization specific errors.

[2018-11-05 09:53] andikrueger opened #956 "VSCode: Run all tests not working"
Today I'm facing a problem, that I'm not able to run all unit tests for SharePointDsc. When I select "Run all tests" nothing happens. Please find attached a screenshot of VSCode.

![image](https://user-images.githubusercontent.com/15608729/47990801-bcd65e00-e0e8-11e8-9b84-2eaa726446c1.png)

Something seems to be wrong with launch.json or RunPesterTests.ps1.

[2018-11-05 11:16] andikrueger commented on #956
Found the source of this issue. The launch.json wasn't a valid json. Will do a PR.

[2018-11-05 14:34] paololec commented on #906
Found other problem, if specify continuous crawl I can't set IncrementalSchedule, but in a normal installation it seems that a Incremental Schedule every 4 hours is neeed to execute (or different interval if you need it). So settings continuous create a misconfiguration because delete/remove the "default" incremental schedule.

Bug code/part to remove:
`
if ($ContinuousCrawl -eq $true -and `

[2018-11-05 16:10] #956 closed

[2018-11-05 17:27] jensotto opened #959 "SPInstallPrereqs: Does not properly detect installed prerequisites"
#### Details of the scenario you tried and the problem that is occurring
Test-Resource for SPInstallPrereqs will fail if a more recent version of the prerequisite is installed.
For example this server had Microsoft Visual C++ 2017 x64 installed
When running the prerequisite installer manually it completed with the message that an equivalent version was already installed.

#### Verbose logs showing

[2018-11-06 08:00] jensotto opened #960 "SPInstallPrereqs: Endless reboots"
#### Details of the scenario you tried and the problem that is occurring
Using SPInstallPrereqs results in endless reboots. It seems that the registry key HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\PendingFileRenameOperations sometimes is never cleared. This combined with #959 results in an endles reboot loop because the Test-Resource method returns false and triggers the set method.

[2018-11-06 10:05] #825 closed

[2018-11-06 11:02] ykuijs commented on #959
Unfortunately it isn't always the case that a more recent version also satisfies the SharePoint prerequisites. For example the Native Client always requires the specified version. In order to fix this issue, we have to implement something specifically for this component.

Also, SP2019 requires the 2017 version of this component.

[2018-11-06 11:03] ykuijs commented on #955
Linking to #947 which also is a language specific issue

[2018-11-06 15:38] shurick81 opened #962 "New resource or parameter for finer search components tuning: temp directory"
### Description
In order to meet enterprise requirements, would not it be good to be able to move temp search files to the data disk, like in this artile: https://social.msdn.microsoft.com/Forums/office/en-US/5c4b664b-0e0c-44f4-9534-21123349c3e0/how-to-move-sharepoint-search-temp-location?forum=sharepointdevelopment

### Proposed properties
It can be something like this:

[code]
### Special consid

[2018-11-06 17:09] shurick81 opened #963 "test fails for SPUserProfileSyncConnection"
#### Details of the scenario you tried and the problem that is occurring

I want to deploy user profile synchronization connection. Connection is created on Start, but Test returns false.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
none

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating syste

[2018-11-07 11:46] shurick81 commented on #945
I Think it is a common practice to use thumbprint in certificate DSC resources: for example, https://github.com/PowerShell/CertificateDsc/wiki/CertificateImport or https://github.com/PowerShell/xwebadministration#xwebsite.

The workaround I use on the compiling machine:
[code]

Mind you that in this case, `$pfx.Import(` does not actually install the certificate in any storage, but only in loads in

[2018-11-07 12:14] #801 closed

[2018-11-07 12:39] shurick81 commented on #962
"According to Anthony Casillas, a Sr. Escalation Engineer for Microsoft, you can perform the following tasks to change the search temp location, referenced in the comments here. He also mentioned that this way is supported." https://blogs.technet.microsoft.com/searchguys/2012/09/18/managing-the-sp-gatherers-temp-files/

[2018-11-07 16:01] #959 closed

[2018-11-08 07:06] HeKr09 opened #966 "SPSearchServiceApp: Missing PerformanceLevel Property"
#### Details of the scenario you tried and the problem that is occurring
It is not possible to set the performance level within the SPSearchServiceApp. Actually I did not find any other ressource that includes that property.

#### Verbose logs showing the problem
N/A

#### Suggested solution to the issue
Implement a performance level property. As used in our project. I already tried to write it in

[2018-11-08 07:24] #953 closed, assigned to nobody

[2018-11-08 19:35] timhaintz opened #969 "Update LICENSE file to match the Microsoft Open Source Team standard."
In new repositories that are created by the Microsoft Open Source Team, the LICENSE file does not contain the year in the copyright "header".

LICENSE file should be as below, indentation included.

[code]